<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <v-expansion-panels focusable v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <form v-if="dataSearhcReady">
                        <v-row>
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.Bookingno"
                              label="Booking No."
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </form>
                      <div class="text-right">
                        <v-btn tile color="warning" @click="onSearch()">
                          <v-icon left>
                            mdi-selection-search
                          </v-icon>
                          ค้นหา
                        </v-btn>
                        <v-btn
                          color="error"
                          depressed
                          @click.prevent="onClearSearch()"
                        >
                          <v-icon left> settings_backup_restore </v-icon>
                          Clear
                        </v-btn>
                      </div>
                      <br />
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" v-if="datareport">
            <v-card elevation="7">
              <v-card-text>
                <v-data-table
                  :headers="columns"
                  :items="datareport"
                  :items-per-page="100"
                  sort-by.sync="status"
                  sort-desc.sync="true"
                >
                  <template v-slot:[`item.action`]="{ item }">
                    <v-btn
                      color="warning"
                      fab
                      v-if="item.sendStatus === 'ส่ง HO' || item.sendStatus === 'fales' || item.sendStatus === 'ตีกลับ' || item.sendStatus === ''"
                      small
                      @click.stop="setData(item)"
                    >
                      <v-icon dark> mdi-tools </v-icon>
                    </v-btn>
                    <v-btn
                      color="teal"
                      fab
                      small
                      v-if="item.sendStatus === '' || item.sendStatus === 'ตีกลับ'"
                      dark
                      @click.stop="sendData(item)"
                    >
                      <v-icon dark> mdi-email-send </v-icon>
                    </v-btn>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-dialog
          v-model="dialog"
          fullscreen
          scrollable
          hide-overlay
          transition="dialog-bottom-transition"
        >
          <v-card tile>
            <v-toolbar flat dark color="primary">
              <v-btn icon dark @click.stop="dialog = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-toolbar-title
                >จัดการข้อมูลเข้าระบบ Finance Sales (HO)</v-toolbar-title
              >
              <v-spacer />
              <v-toolbar-items>
                <v-btn
                  color="primary"
                  dark
                  v-if="chkSave === 'save'"
                  :disabled="!valid"
                  @click="onSubmit()"
                  depressed
                >
                  <v-icon left> add_box </v-icon>
                  จัดการข้อมูล
                </v-btn>
                <v-btn
                  color="primary"
                  dark
                  :disabled="!valid"
                  v-if="chkSave === 'update'"
                  @click="onSubmitUpdate()"
                  depressed
                >
                  <v-icon left> add_box </v-icon>
                  แก้ไขข้อมูล
                </v-btn>
              </v-toolbar-items>
            </v-toolbar>
              <v-card-text>
                <v-row>
                  <v-form ref="formDialog" v-model="valid" lazy-validation>
                  <v-col cols="12">
                    <v-row style="height: 40px;">
                      <v-col cols="3">
                        <v-text-field
                          v-model="form.TOTAL_Car"
                          label="ราคารถ"
                          outlined
                          dense
                          readonly
                          class="text-right"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="3">
                        <v-text-field
                          v-model="form.CUS_NAME"
                          label="ชื่อลูกค้า"
                          outlined
                          dense
                          readonly
                        ></v-text-field>
                      </v-col>
                      <v-col cols="3">
                        <v-text-field
                          v-model="form.bookingNo"
                          label="Booking No"
                          outlined
                          dense
                          readonly
                        ></v-text-field>
                      </v-col>
                      <v-col cols="3">
                        <v-select
                          label="เช้าซื้อ(F) หรือ เงินสด(C)"
                          :items="optionCash_Type"
                          v-model="form.Cash_Type"
                          :rules="[rules.required]"
                          @change="chkTypeCash()"
                          outlined
                          dense
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12">
                    <v-row style="height: 80px;">
                      <v-col cols="4">
                        <p>เงินดาวน์</p>
                        <my-currency-input
                          type="text"
                          v-model="form.DowAmount"
                          :state="DowAmount"
                          class="form-control text-right"
                        ></my-currency-input>
                      </v-col>
                      <v-col cols="4">
                        <p>ส่วนลดค่ารถ</p>
                        <my-currency-input
                          type="text"
                          v-model="form.Discount_Cars"
                          :state="Discount_Cars"
                          class="form-control text-right"
                        ></my-currency-input>
                      </v-col>
                      <v-col cols="4">
                        <p>ส่วนลดเงินดาวน์</p>
                        <my-currency-input
                          type="text"
                          :state="Discount_Down"
                          v-model="form.Discount_Down"
                          class="form-control text-right"
                        ></my-currency-input>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12">
                    <v-row style="height: 80px;">
                      <v-col cols="2">
                        <p>Ultimate Care</p>
                        <my-currency-input
                          type="text"
                          :state="Total_Ultimate"
                          v-model="form.Total_Ultimate"
                          class="form-control text-right"
                        ></my-currency-input>
                      </v-col>
                      <v-col cols="1">
                        <br />
                        <v-btn
                          :color="colorSelectTotal_Ultimate"
                          dark
                          class="ma-2"
                          outlined
                          fab
                          small
                          @click="dialogStatus1 = true"
                        >
                          <v-icon>{{ iconSelectTotal_Ultimate }}</v-icon>
                        </v-btn>
                      </v-col>
                      <v-col cols="2">
                        <p>ค่าอุปกรณ์</p>
                        <my-currency-input
                          type="text"
                          readonly
                          :state="Total_Accessory"
                          v-model="form.Total_Accessory"
                          class="form-control text-right"
                        ></my-currency-input>
                      </v-col>
                      <v-col cols="1">
                        <br />
                        <v-btn
                          :color="colorSelectTotal_Accessory"
                          dark
                          class="ma-2"
                          outlined
                          fab
                          small
                          @click="dialogStatus2 = true"
                        >
                          <v-icon>{{ iconSelectTotal_Accessory }}</v-icon>
                        </v-btn>
                      </v-col>
                      <v-col cols="2">
                        <p>Honda Connect</p>
                        <my-currency-input
                          type="text"
                          :state="Total_HDconnect"
                          v-model="form.Total_HDconnect"
                          class="form-control text-right"
                        ></my-currency-input>
                      </v-col>
                      <v-col cols="1">
                        <br />
                        <v-btn
                          :color="colorSelectTotal_HDconnect"
                          dark
                          class="ma-2"
                          outlined
                          fab
                          small
                          @click="dialogStatus3 = true"
                        >
                          <v-icon>{{ iconSelectTotal_HDconnect }}</v-icon>
                        </v-btn>
                      </v-col>
                      <v-col cols="2">
                        <p>ค่าเบี้ยคุ้มครอง</p>
                        <my-currency-input
                          type="text"
                          :state="Total_Protection"
                          v-model="form.Total_Protection"
                          class="form-control text-right"
                        ></my-currency-input>
                      </v-col>
                      <v-col cols="1">
                        <br />
                        <v-btn
                          :color="colorSelectTotal_Protection"
                          dark
                          class="ma-2"
                          outlined
                          fab
                          small
                          @click="dialogStatus4 = true"
                        >
                          <v-icon>{{ iconSelectTotal_Protection }}</v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12">
                    <v-row style="height: 80px;">
                      <v-col cols="3">
                        <p>อัตรา ดอกเบี้ย(%)</p>
                        <v-text-field
                          v-model="form.IntRate"
                          label=""
                          maxlength="10"
                          outlined
                          dense
                        ></v-text-field>
                      </v-col>
                      <v-col cols="3">
                        <p>จำนวนงวด</p>
                        <v-select
                          label=""
                          :items="optionsInstlmQty"
                          v-model="form.InstlmQty"
                          :rules="[rules.required]"
                          outlined
                          dense
                        ></v-select>
                      </v-col>
                      <v-col cols="3">
                        <p>ค่างวด</p>
                        <my-currency-input
                          type="text"
                          v-model="form.InstlmAmt"
                          readonly
                          class="form-control text-right"
                        ></my-currency-input>
                      </v-col>
                      <v-col cols="3">
                        <p>สถานะ B/End</p>
                        <v-select
                          label=""
                          :items="optionStatus_Begin"
                          v-model="form.Status_Begin"
                          :rules="[rules.required]"
                          outlined
                          dense
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12">
                    <v-row style="height: 80px;">
                      <v-col cols="6">
                        <p>หมายเหตุ</p>
                        <v-text-field
                          v-model="form.remark"
                          label=""
                          outlined
                          dense
                        ></v-text-field>
                      </v-col>
                      <v-col cols="3">
                        <p>รับช่วยผ่อน / ไม่รับช่วยผ่อน</p>
                        <v-select
                          label=""
                          :items="optionHelpRelax"
                          v-model="form.HelpRelax"
                          :rules="[rules.required]"
                          outlined
                          dense
                        ></v-select>
                      </v-col>
                      <v-col cols="3">
                        <p>ลูกค้าเคยใช้รถฮอนด้าไหม</p>
                        <v-select
                          label=""
                          :items="optionUsedHonda"
                          v-model="form.UsedHonda"
                          :rules="[rules.required]"
                          outlined
                          dense
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12">
                    <v-row style="height: 80px;">
                      <v-col cols="4">
                        <v-select
                          outlined
                          label="ทางเลือก แคมเปญ"
                          :items="optionSelect_Campaign"
                          v-model="form.Select_Campaign"
                          :rules="[rules.required]"
                          dense
                          ></v-select>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12">
                    <v-row>
                      <v-col cols="12">
                        <v-card elevation="7">
                          <v-card-title>สรุปค่าใช้จ่าย</v-card-title>
                          <v-card-text>
                            <v-row>
                              <v-col cols="3">
                                <p>ราคารถหักส่วนลด/รวมส่วนเพิ่ม</p>
                                <my-currency-input
                                  type="text"
                                  readonly
                                  v-model="form.TOTAL_Cardetails"
                                  class="form-control text-right"
                                ></my-currency-input>
                              </v-col>
                              <v-col cols="3">
                                <p>เปอร์เซ็นต์ดาวน์(%)</p>
                                <v-text-field
                                  v-model="form.DowPercen"
                                  label=""
                                  outlined
                                  readonly
                                  dense
                                ></v-text-field>
                                <!-- <my-currency-input
                                          type="text"
                                          v-model="form.DowPercen"
                                          class="form-control text-right"
                                        ></my-currency-input> -->
                              </v-col>
                              <v-col cols="3">
                                <p>ยอดจัดFinance</p>
                                <my-currency-input
                                  type="text"
                                  readonly
                                  v-model="form.Top_Finance"
                                  class="form-control text-right"
                                ></my-currency-input>
                              </v-col>
                              <v-col cols="3">
                                <p>ยอดรับคืนจากFinance</p>
                                <my-currency-input
                                  type="text"
                                  readonly
                                  v-model="form.Top_FinanceReturn"
                                  class="form-control text-right"
                                ></my-currency-input>
                              </v-col>
                            </v-row>
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="form.sendRemarkHO"
                      label="หมายเหตุจาก HO"
                      outlined
                      dense
                      readonly
                      class="text-right"
                    ></v-text-field>
                  </v-col>
                  </v-form>
                  <v-col cols="12" v-if="chkDataQuickApp.length > 0">
                    <v-card-title>ข้อมูล QuickApp</v-card-title>
                    <v-card-text v-if="formQuickApp.statusPerson == 'บุคคล'">
                      <v-col cols="12">
                        <v-row no-gutters>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerName"
                              label="ชื่อ - นามสกุล"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerZip"
                              label="ไปรษณีย์"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerProvince"
                              label="จังหวัด"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerDistrict"
                              label="อำเภอ"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerSubDistrict"
                              label="ตำบล"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerAddress"
                              label="ที่อยู่"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerTypeAddressValue"
                              label="ลักษณะที่อยู่"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerLiveAddress"
                              label="อยู่อาศัยมา"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerTel"
                              label="เบอร์โทรศัพท์ที่ติดต่อได้"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerLineId"
                              label="Line ID"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerEmail"
                              label="Email@adress"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerTelHome"
                              label="เบอร์โทรศัพท์(บ้าน) ถ้ามี"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerNo"
                              label="หมายเลขบัตรประชาชน"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.statusMarried"
                              label="สถานะ"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <!-- ข้อมูลเพิ่มเติม -->
                        <v-row style="height: 40px;">
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.statusBuy"
                              label="ท่านเป็นผู้ซื้อเองหรือไม่"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.statusPurchase"
                              label="จุดประสงค์ในการซื้อ"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerUserCar"
                              label="ผู้ใช้รถ"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col
                            cols="4"
                            v-if="
                              formQuickApp.customerUserCar !== '' &&
                                formQuickApp.customerUserCar !== 'ตนเอง'
                            "
                          >
                            <v-text-field
                              v-model="formQuickApp.customerUserCarName"
                              label="ชื่อผู้ใช้รถ"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col
                            cols="4"
                            v-if="
                              formQuickApp.customerUserCar !== '' &&
                                formQuickApp.customerUserCar !== 'ตนเอง'
                            "
                          >
                            <v-text-field
                              v-model="formQuickApp.customerUserCarTel"
                              label="เบอร์โทรผู้ใช้รถ"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerOccupationValue"
                              label="อาชีพ"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerIncome"
                              label="รายได้หลัก /ต่อเดือน"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.statusIncome"
                              label="มีรายได้พิเศษหรือไม่"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <template v-if="formQuickApp.statusIncome === 'มี'">
                            <v-col cols="4">
                              <p>ค่าคอมมิชั่น</p>
                              <my-currency-input
                                type="text"
                                v-model="formQuickApp.commitions"
                                class="form-control text-right"
                              ></my-currency-input>
                            </v-col>
                            <v-col cols="4">
                              <p>OT</p>
                              <my-currency-input
                                type="text"
                                v-model="formQuickApp.ot"
                                class="form-control text-right"
                              ></my-currency-input>
                            </v-col>
                            <v-col cols="4">
                              <p>อื่นๆ</p>
                              <my-currency-input
                                type="text"
                                v-model="formQuickApp.other"
                                class="form-control text-right"
                              ></my-currency-input>
                            </v-col>
                          </template>
                          <v-col cols="4" v-if="formQuickApp.other !== 0">
                            <v-text-field
                              v-model="formQuickApp.customerIncomeOther"
                              label="อื่นๆ ระบุแหล่งที่มา"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.statusSurety"
                              label="กรณีที่ขอเพิ่มผู้ค้ำประกัน"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <template v-if="formQuickApp.statusSurety === 'มี'">
                            <v-col cols="4">
                              <v-text-field
                                v-model="formQuickApp.customerSuretyCarName"
                                label="ชื่อผู้ค้ำประกัน"
                                outlined
                                dense
                                readonly
                                class="text-right"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="4">
                              <v-text-field
                                v-model="formQuickApp.customerSuretyCarTel"
                                label="เบอร์โทรผู้ค้ำประกัน"
                                outlined
                                dense
                                readonly
                                class="text-right"
                              ></v-text-field>
                            </v-col>
                          </template>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.remark"
                              label="หมายเหตุ"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-card-text>
                    <v-card-text
                      v-if="formQuickApp.statusPerson == 'นิติบุคคล'"
                    >
                      <v-col cols="12">
                        <v-row style="height: 40px;">
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.companyName"
                              label="ชื่อบริษัท"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.companyNo"
                              label="เลขประจำตัวผู้เสียภาษี"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerZipCom"
                              label="ไปรษณีย์"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerProvinceCom"
                              label="จังหวัด"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerDistrictCom"
                              label="อำเภอ"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerSubDistrictCom"
                              label="ตำบล"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.customerAddressCom"
                              label="ที่อยู่"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.contactName"
                              label="ชื่อ บุคคลที่ให้ติดต่อ"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.contactTel"
                              label="เบอร์โทร บุคคลที่ให้ติดต่อ"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.companyBusiness"
                              label="บริษัทประกอบธุรกิจเกี่ยวกับอะไร"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.companyAge"
                              label="บริษัท เปิดมาแล้วกี่ปี"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formQuickApp.companyRemark"
                              label="หมายเหตุเพิ่มเติม"
                              outlined
                              dense
                              readonly
                              class="text-right"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-card-text>
                  </v-col>
                </v-row>
              </v-card-text>
          </v-card>
        </v-dialog>
        <v-dialog width="500" v-model="dialogStatus1" persistent>
          <v-card>
            <v-card-title>
              <span class="headline">อัพเดทสถานะ อัลติเมท แคร์</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-select
                      label="อัลติเมท แคร์"
                      :items="optionStatus"
                      @change="checkStatus('Total_Ultimate')"
                      v-model="form.Status_Ultimate"
                      dense
                    ></v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="dialogStatus1 = false">
                ตกลง
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog width="500" v-model="dialogStatus2" persistent>
          <v-card>
            <v-card-title>
              <span class="headline">อัพเดทสถานะ ค่าอุปกรณ์</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-select
                      label="ค่าอุปกรณ์"
                      :items="optionStatus"
                      v-model="form.Status_Accessory"
                      dense
                      @change="checkStatus('Total_Accessory')"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-text>
              <v-data-table
                :headers="headers"
                :items="desserts"
                sort-by="calories"
                class="elevation-1"
              >
                <template v-slot:top>
                  <v-toolbar flat>
                    <v-toolbar-title>รายการอุปกรณ์</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialogNewAccess" max-width="500px">
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          color="primary"
                          dark
                          class="mb-2"
                          v-bind="attrs"
                          v-on="on"
                        >
                          New Item
                        </v-btn>
                      </template>
                      <v-card>
                        <v-card-title>
                          <span class="text-h5">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                          <v-container>
                            <v-row>
                              <v-col cols="12">
                                <v-text-field
                                  v-model="editedItem.name"
                                  label="ชื่ออุปกรณ์"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12">
                                <VuetifyMoney
                                  v-model="editedItem.price"
                                  label="ราคา"
                                  outlined
                                  dense
                                  required
                                  v-bind:options="options2"
                                />
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue darken-1" text @click="close">
                            Cancel
                          </v-btn>
                          <v-btn color="blue darken-1" text @click="save">
                            Save
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                    <v-dialog v-model="dialogDeleteAccess" max-width="500px">
                      <v-card>
                        <v-card-title class="text-h5"
                          >คุณแน่ใจที่จะลบรายการนี้ใช่หรือไม่</v-card-title
                        >
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue darken-1" text @click="closeDelete"
                            >Cancel</v-btn
                          >
                          <v-btn
                            color="blue darken-1"
                            text
                            @click="deleteItemConfirm"
                            >OK</v-btn
                          >
                          <v-spacer></v-spacer>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-toolbar>
                </template>
                <template v-slot:[`item.action`]="{ item }">
                  <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                  </v-icon>
                  <v-icon small @click="deleteItem(item)">
                    mdi-delete
                  </v-icon>
                </template>
              </v-data-table>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="countAccess(), dialogStatus2 = false">
                ตกลง
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog width="500" v-model="dialogStatus3" persistent>
          <v-card>
            <v-card-title>
              <span class="headline">อัพเดทสถานะ ฮอนด้า คอนเนค</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-select
                      label="ฮอนด้า คอนเนค"
                      :items="optionStatus"
                      @change="checkStatus('Total_HDconnect')"
                      v-model="form.Status_HDconnect"
                      dense
                    ></v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="dialogStatus3 = false">
                ตกลง
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog width="500" v-model="dialogStatus4" persistent>
          <v-card>
            <v-card-title>
              <span class="headline">อัพเดทสถานะ ค่าเบี้ยคุ้มครอง</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-select
                      label="ค่าเบี้ยคุ้มครอง"
                      :items="optionStatus"
                      v-model="form.Status_Protection"
                      @change="checkStatus('Total_Protection')"
                      dense
                    ></v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="dialogStatus4 = false">
                ตกลง
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog width="500" v-model="dialogSendStatus" persistent>
          <v-card>
            <v-card-title>
              <span class="headline">อัพเดทสถานะ ส่งต่อ</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="formSend.prospectiveCode"
                      label="Prospective COde"
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-textarea
                      label="หมายเหตุ"
                      hint=""
                      v-model="formSend.sendRemark"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="submitSendData()">
                ตกลง
              </v-btn>
              <v-btn color="red darken-1" text @click="dialogSendStatus = false">
                ยกเลิก
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
    </v-content>
  </div>
</template>
<script>
import axios from 'axios' // api
import adminLeftMenu from '../FinanceSalesEdit/Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
// import XLSX from 'xlsx' // import xlsx
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
import VuetifyMoney from '../VuetifyMoney.vue'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu,
    VuetifyMoney
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'เพิ่มรายการใหม่' : 'แก้ไขรายการ'
    },
    // eslint-disable-next-line vue/return-in-computed-property
    DowAmount () {
      this.getSum()
    },
    // eslint-disable-next-line vue/return-in-computed-property
    Discount_Cars () {
      this.getSum()
    },
    // eslint-disable-next-line vue/return-in-computed-property
    Discount_Down () {
      this.getSum()
    },
    // eslint-disable-next-line vue/return-in-computed-property
    Total_Ultimate () {
      this.getSum()
    },
    // eslint-disable-next-line vue/return-in-computed-property
    Total_Accessory () {
      this.getSum()
    },
    // eslint-disable-next-line vue/return-in-computed-property
    Total_HDconnect () {
      this.getSum()
    },
    // eslint-disable-next-line vue/return-in-computed-property
    Total_Protection () {
      this.getSum()
    }
  },
  watch: {
    dialogNewAccess (val) {
      val || this.close()
    },
    dialogDeleteAccess (val) {
      val || this.closeDelete()
    }
  },

  // created () {
  //   this.initialize()
  // },
  data () {
    return {
      breadcrumbs: [
        {
          text: 'Process Sales',
          disabled: true,
          href: '/financeSales/SaleEdit'
        }
      ],
      dataSearhcReady: true,
      chkSave: 'save',
      panel: [0],
      dialog: false,
      dialogStatus1: false,
      dialogStatus2: false,
      dialogStatus3: false,
      dialogStatus4: false,
      dialogSendStatus: false,
      optionStatus: [
        { text: 'เงินสด', value: 'เงินสด' },
        { text: 'รวมในยอดจัด', value: 'รวมในยอดจัด' }
      ],
      optionSelect_Campaign: [
        { text: '01', value: '1' },
        { text: '02', value: '2' },
        { text: '03', value: '3' },
        { text: '04', value: '4' },
        { text: '05', value: '5' },
        { text: '06', value: '6' },
        { text: '07', value: '7' },
        { text: '08', value: '8' },
        { text: '09', value: '9' },
        { text: '10', value: '10' },
        { text: '11', value: '11' },
        { text: '12', value: '12' },
        { text: '13', value: '13' },
        { text: '14', value: '14' },
        { text: '15', value: '15' }
      ],
      rules: {
        required: value => !!value || 'Required.',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      session: this.$session.getAll(),
      formSearch: {
        Bookingno: ''
      },
      valid: false,
      // ค่าอุปกรณื
      dialogNewAccess: false,
      dialogDeleteAccess: false,
      headers: [
        {
          text: 'ชื่ออุปกรณ์',
          align: 'start',
          sortable: false,
          value: 'name'
        },
        { text: 'ราคา', value: 'price' },
        { text: 'Actions', value: 'action', sortable: false }
      ],
      editedIndex: -1,
      options2: {
        locale: 'en-US',
        prefix: '',
        suffix: '',
        length: 9,
        precision: 0
      },
      editedItem: {
        name: '',
        price: 0
      },
      defaultItem: {
        name: '',
        price: 0
      },
      desserts: [],
      // ****************
      datareport: [],
      dataListReady: false,
      value: 0,
      columns: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'Code', value: 'prospectiveCode' },
        { text: 'Status', value: 'prospectiveStatus' },
        { text: 'Model Name', value: 'carName' },
        { text: 'ชื่อลูกค้า', value: 'customerName' },
        { text: 'Booking No', value: 'prospectiveBookingNo' },
        { text: 'Remark Sale', value: 'sendRemark' },
        { text: 'Remark HO', value: 'sendRemarkHO' }
      ],
      formSend: {
        prospectiveCode: '', //
        sendStatus: '', //
        sendRemark: '', //
        LAST_USER: ''
      },
      form: {
        prospectiveCode: '', //
        Discount_Cars: 0, //
        Discount_Down: 0, //
        Status_Begin: 'B', //
        DowAmount: 0, //
        Cash_Type: '',
        IntRate: 0, //
        Top_Finance: 0, //
        TOTAL_Car: '', //
        CUS_NAME: '', //
        InstlmQty: '', //
        InstlmAmt: 0, //
        TOTAL_Cardetails: 0, //
        DowPercen: '0', //
        Top_FinanceReturn: 0, //
        Status_Ultimate: 'รวมในยอดจัด', //
        Status_Accessory: 'รวมในยอดจัด', //
        Status_HDconnect: 'รวมในยอดจัด', //
        Status_Protection: 'รวมในยอดจัด', //
        Total_Ultimate: 0, //
        Total_Accessory: 0, //
        Total_HDconnect: 0, //
        Total_Protection: 0, //
        bookingNo: '', //
        remark: '', //
        HelpRelax: '',
        UsedHonda: '',
        sendRemarkHO: '',
        Select_Campaign: ''
      },
      optionStatus_Begin: [
        { text: 'B', value: 'B' },
        { text: 'E', value: 'E' }
      ],
      optionCash_Type: [
        { text: 'ไฟแนนซ์', value: 'F' },
        { text: 'เงินสด', value: 'C' }
      ],
      optionHelpRelax: [
        { text: 'รับ', value: 'รับ' },
        { text: 'ไม่รับ', value: 'ไม่รับ' }
      ],
      optionUsedHonda: [
        { text: 'เคย', value: 'เคย' },
        { text: 'ไม่เคย', value: 'ไม่เคย' }
      ],
      optionsInstlmQty: [
        { text: '12', value: '12' },
        { text: '24', value: '24' },
        { text: '36', value: '36' },
        { text: '48', value: '48' },
        { text: '60', value: '60' },
        { text: '72', value: '72' },
        { text: '84', value: '84' },
        { text: '96', value: '96' }
      ],
      iconSelectTotal_Ultimate: 'mdi-cash-plus',
      iconSelectTotal_Accessory: 'mdi-cash-plus',
      iconSelectTotal_HDconnect: 'mdi-cash-plus',
      iconSelectTotal_Protection: 'mdi-cash-plus',
      colorSelectTotal_Ultimate: 'green darken-2',
      colorSelectTotal_Accessory: 'green darken-2',
      colorSelectTotal_HDconnect: 'green darken-2',
      colorSelectTotal_Protection: 'green darken-2',
      formQuickApp: {
        customerName: '',
        customerAddress: '',
        customerProvince: '',
        customerDistrict: '',
        customerSubDistrict: '',
        customerZip: '',
        customerTelHome: '',
        customerTel: '',
        customerLineId: '',
        customerEmail: '',
        customerLiveAddress: '',
        customerTypeAddressValue: '',
        customerUserCar: '',
        customerUserCarName: '',
        customerUserCarTel: '',
        customerOccupationValue: '',
        customerIncome: '',
        commitions: 0,
        ot: 0,
        other: 0,
        customerIncomeOther: '',
        customerSuretyCarName: '',
        customerSuretyCarTel: '',
        statusPersonalInformation: '',
        statusIncome: '',
        statusSurety: '',
        LastDate: '',
        prospectiveCode: '',
        LastDateDate: '',
        LastDateTime: '',
        userLineuserId: '',
        pictureUrl: '',
        customerNo: '',
        remark: '',
        statusPurchase: '',
        statusBuy: '',
        statusMarried: '',
        companyName: '',
        companyNo: '',
        contactName: '',
        contactTel: '',
        companyBusiness: '',
        companyAge: '',
        companyRemark: '',
        customerAddressCom: '',
        customerProvinceCom: '',
        customerDistrictCom: '',
        customerSubDistrictCom: '',
        customerZipCom: '',
        statusPerson: ''
      },
      chkDataQuickApp: []
    }
  },
  async mounted () {
    this.getData()
  },
  methods: {
    validate () {
      this.$nextTick(() => {
        let self = this
        self.$refs.formDialog.validate()
      })
    },
    countAccess () {
      let rs = this.desserts
      // console.log('price', rs.reduce(function (acc, obj) { return parseFloat(acc) + parseFloat(obj.price) }, 0))
      if (rs.length > 0) {
        var priceUse = rs.reduce(function (acc, obj) { return parseFloat(acc) + parseFloat(obj.price) }, 0)
        this.form.Total_Accessory = priceUse
      } else {
        this.form.Total_Accessory = 0
      }
    },
    editItem (item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogNewAccess = true
    },
    deleteItem (item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDeleteAccess = true
    },
    deleteItemConfirm () {
      this.desserts.splice(this.editedIndex, 1)
      this.closeDelete()
    },
    close () {
      this.dialogNewAccess = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete () {
      this.dialogDeleteAccess = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)
      } else {
        this.desserts.push(this.editedItem)
      }
      this.close()
    },
    checkStatus (typeCheck) {
      if (typeCheck === 'Total_Ultimate') {
        if (this.form.Status_Ultimate === 'รวมในยอดจัด') {
          this.iconSelectTotal_Ultimate = 'mdi-cash-plus'
          this.colorSelectTotal_Ultimate = 'green darken-2'
        } else {
          this.iconSelectTotal_Ultimate = 'mdi-cash'
          this.colorSelectTotal_Ultimate = 'orange darken-2'
        }
      }
      if (typeCheck === 'Total_Accessory') {
        if (this.form.Status_Accessory === 'รวมในยอดจัด') {
          this.iconSelectTotal_Accessory = 'mdi-cash-plus'
          this.colorSelectTotal_Accessory = 'green darken-2'
        } else {
          this.iconSelectTotal_Accessory = 'mdi-cash'
          this.colorSelectTotal_Accessory = 'orange darken-2'
        }
      }
      if (typeCheck === 'Total_HDconnect') {
        if (this.form.Status_HDconnect === 'รวมในยอดจัด') {
          this.iconSelectTotal_HDconnect = 'mdi-cash-plus'
          this.colorSelectTotal_HDconnect = 'green darken-2'
        } else {
          this.iconSelectTotal_HDconnect = 'mdi-cash'
          this.colorSelectTotal_HDconnect = 'orange darken-2'
        }
      }
      if (typeCheck === 'Total_Protection') {
        if (this.form.Status_Protection === 'รวมในยอดจัด') {
          this.iconSelectTotal_Protection = 'mdi-cash-plus'
          this.colorSelectTotal_Protection = 'green darken-2'
        } else {
          this.iconSelectTotal_Protection = 'mdi-cash'
          this.colorSelectTotal_Protection = 'orange darken-2'
        }
      }
    },
    checkStatusUpdate () {
      if (this.form.Status_Ultimate === 'รวมในยอดจัด') {
        this.iconSelectTotal_Ultimate = 'mdi-cash-plus'
        this.colorSelectTotal_Ultimate = 'green darken-2'
      } else {
        this.iconSelectTotal_Ultimate = 'mdi-cash'
        this.colorSelectTotal_Ultimate = 'orange darken-2'
      }
      if (this.form.Status_Accessory === 'รวมในยอดจัด') {
        this.iconSelectTotal_Accessory = 'mdi-cash-plus'
        this.colorSelectTotal_Accessory = 'green darken-2'
      } else {
        this.iconSelectTotal_Accessory = 'mdi-cash'
        this.colorSelectTotal_Accessory = 'orange darken-2'
      }
      if (this.form.Status_HDconnect === 'รวมในยอดจัด') {
        this.iconSelectTotal_HDconnect = 'mdi-cash-plus'
        this.colorSelectTotal_HDconnect = 'green darken-2'
      } else {
        this.iconSelectTotal_HDconnect = 'mdi-cash'
        this.colorSelectTotal_HDconnect = 'orange darken-2'
      }
      if (this.form.Status_Protection === 'รวมในยอดจัด') {
        this.iconSelectTotal_Protection = 'mdi-cash-plus'
        this.colorSelectTotal_Protection = 'green darken-2'
      } else {
        this.iconSelectTotal_Protection = 'mdi-cash'
        this.colorSelectTotal_Protection = 'orange darken-2'
      }
    },
    getSum () {
      var ultimate = 0
      var accessory = 0
      var hdconnect = 0
      var protection = 0
      if (this.form.Status_Ultimate === 'รวมในยอดจัด') {
        ultimate = parseFloat(this.form.Total_Ultimate)
      } else {
        ultimate = 0
      }
      if (this.form.Status_Accessory === 'รวมในยอดจัด') {
        accessory = parseFloat(this.form.Total_Accessory)
      } else {
        accessory = 0
      }
      if (this.form.Status_HDconnect === 'รวมในยอดจัด') {
        hdconnect = parseFloat(this.form.Total_HDconnect)
      } else {
        hdconnect = 0
      }
      if (this.form.Status_Protection === 'รวมในยอดจัด') {
        protection = parseFloat(this.form.Total_Protection)
      } else {
        protection = 0
      }
      this.form.TOTAL_Cardetails =
        parseFloat(this.form.TOTAL_Car.replace(/,/g, '')) +
        parseFloat(ultimate) +
        parseFloat(accessory) +
        parseFloat(hdconnect) +
        parseFloat(protection) -
        parseFloat(this.form.Discount_Cars)
      this.form.DowPercen = (
        (parseFloat(this.form.DowAmount) /
          parseFloat(this.form.TOTAL_Cardetails)) *
        100
      ).toFixed(2)
      this.form.Top_Finance =
        parseFloat(this.form.TOTAL_Cardetails) -
        parseFloat(this.form.DowAmount)
      var interest = parseFloat(this.form.IntRate) / 100
      var InstlmQtys = parseFloat(this.form.InstlmQty) / 12
      var PeriodpriceHO =
        parseFloat(this.form.Top_Finance) * interest * InstlmQtys
      var PeriodpriceHO1 = PeriodpriceHO + parseFloat(this.form.Top_Finance)
      var PeriodpriceHO2 = PeriodpriceHO1 / parseFloat(this.form.InstlmQty)
      this.form.InstlmAmt = PeriodpriceHO2
      var InstlmAmt = 0
      if (this.form.Status_Begin === 'B') {
        InstlmAmt = parseFloat(this.form.InstlmAmt)
      } else {
        InstlmAmt = 0
      }
      this.form.Top_FinanceReturn =
        parseFloat(this.form.Top_Finance) -
        (parseFloat(this.form.Total_Protection) + parseFloat(InstlmAmt))
    },
    async getData () {
      this.datareport = []
      this.dataListReady = false
      const url =
        'https://asia-southeast2-betask-crm.cloudfunctions.net/adminReport-selete_all?recordStatus=N&prospectiveStatus=' +
        "'Approve Booking','Approve FOC'" +
        '&userName=' +
        this.session.data.userName
      // '&prospectiveBookingNoIsNotNull=T' + '&userName=' + this.session.data.userName
      await axios
        .get(url)
        // eslint-disable-next-line require-await
        .then(async response => {
          var rs = response.data
          console.log('prospective', rs)
          if (rs.length > 0) {
            for (var i = 0; i < rs.length; i++) {
              var d = rs[i]
              const url =
        // `http://localhost/vgroupl_api/CheckBookingFandI.php`
        `${this.$apiUrl}FinanceSales/FinanceSales/getdataSalesEdit`
              const config = {
                headers: {
                  'Application-Key': this.$apiToken
                },
                params: {
                  prospectiveCode: d.prospectiveCode
                }
              }
              await axios
                .get(url, config)
              // eslint-disable-next-line require-await
                .then(async responses => {
                  console.log(responses.data)
                  if (responses.data.data === 'ไม่มีข้อมูล') {
                    d.sendStatus = 'fales'
                  } else {
                    d.sendStatus = responses.data[0].sendStatus || ''
                    d.sendRemark = responses.data[0].sendRemark || ''
                    d.sendRemarkHO = responses.data[0].sendRemarkHO || ''
                  }
                  this.datareport.push(d)
                })
            }
            console.log('datareport', this.datareport)
          } else {
            this.dataListReady = true
            this.datareport = []
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        })
    },
    async onSearch () {
      var branch = ''
      if (this.session.data.BranchS2 === 'PKM') {
        branch = '0116'
      }
      if (this.session.data.BranchS2 === 'CW') {
        branch = '0112'
      }
      if (this.session.data.BranchS2 === 'NK') {
        branch = '0113'
      }
      if (this.session.data.BranchS2 === 'BKN') {
        branch = '0115'
      }
      this.datareport = []
      this.dataListReady = false
      const url = `http://localhost/vgroupl_api/CheckBookingIDS.php`
      // `https://api.betaskthai.com/vgroupl_api/CheckBookingIDS.php`
      const config = {
        params: {
          DLR_CD: branch,
          BOOKING_NO: this.formSearch.Bookingno
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async response => {
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            var dataIDS = []
            var pushBookingNum = []
            for (var i = 0; i < rs.length; i++) {
              var d = rs[i]
              var s = {}
              s.booking = "'" + d.BOOKING_NO + "'"
              if (d.CUS_NM === null) {
                d.CUS_NM = d.BOOK_CUS_FIRST_NAME
              }
              pushBookingNum.push(s)
              dataIDS.push(d)
              this.value = i
            }
            var useBookingNum = pushBookingNum.map(function (pushBookingNums) {
              return pushBookingNums.booking
            })
            await axios
              .get(
                'http://localhost/vgroupl_api/CheckBookingFandI.php?BOOKING_NO=' +
                  // 'https://api.betaskthai.com/vgroupl_api/CheckBookingFandI.php?BOOKING_NO=' +
                  useBookingNum
              )
              .then(async response => {
                // this.datareport = response.data
                let rs1 = response.data
                let rs = dataIDS
                for (var i = 0; i < rs.length; i++) {
                  // console.log('Vsale', rs1)
                  var d = rs[i]
                  var newArray = rs1.filter(function (el) {
                    if (el.BOOKING_NO === d.BOOKING_NO) {
                      return 'yes'
                    }
                  })
                  //   console.log(newArray)
                  // this.showstatus = 'Approve Booking'
                  d.dataFinanceSale = newArray
                  if (newArray.length > 0) {
                    this.datareport.push(d)
                  }
                  this.value = i
                }
                console.log(this.datareport)
                this.dataListReady = true
              })
          } else {
            this.dataListReady = true
            this.datareport = []
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        })
    },
    onClearSearch () {
      this.formSearch.Bookingno = ''
    },
    async setData (item) {
      this.clearAdd()
      console.log(item)
      await this.getAccess(item)
      const url =
        // `http://localhost/vgroupl_api/CheckBookingFandI.php`
        `${this.$apiUrl}FinanceSales/FinanceSales/getdataSalesEdit`
      const config = {
        headers: {
          'Application-Key': this.$apiToken
        },
        params: {
          prospectiveCode: item.prospectiveCode
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async response => {
          if (response.data.data === 'ไม่มีข้อมูล') {
            this.form.TOTAL_Car = item.carPrice
            this.form.CUS_NAME = item.customerName
            this.form.bookingNo = item.prospectiveBookingNo
            this.form.prospectiveCode = item.prospectiveCode
            this.getQuickApp(item.prospectiveCode)
            this.checkStatusUpdate()
            this.validate()
            this.chkSave = 'save'
            this.dialog = true
          } else {
            this.form.prospectiveCode = response.data[0].prospectiveCode
            this.form.Cash_Type = response.data[0].Cash_Type
            this.form.Discount_Cars = parseFloat(response.data[0].Discount_Cars || '0')
            this.form.Discount_Down = parseFloat(response.data[0].Discount_Down || '0')
            this.form.Status_Begin = response.data[0].Status_Begin
            this.form.DowAmount = parseFloat(response.data[0].DowAmount || '0')
            this.form.IntRate = parseFloat(response.data[0].IntRate || '0')
            this.form.Top_Finance = parseFloat(response.data[0].Top_Finance || '0')
            this.form.TOTAL_Car = response.data[0].TOTAL_Car
            this.form.CUS_NAME = response.data[0].CUS_NAME
            this.form.InstlmQty = response.data[0].InstlmQty
            this.form.InstlmAmt = parseFloat(response.data[0].InstlmAmt || '0')
            this.form.TOTAL_Cardetails = parseFloat(response.data[0].TOTAL_Cardetails || '0')
            this.form.DowPercen = response.data[0].DowPercen
            this.form.Top_FinanceReturn = parseFloat(response.data[0].Top_FinanceReturn || '0')
            this.form.Status_Ultimate = response.data[0].Status_Ultimate
            this.form.Status_Accessory = response.data[0].Status_Accessory
            this.form.Status_HDconnect = response.data[0].Status_HDconnect
            this.form.Status_Protection = response.data[0].Status_Protection
            this.form.Total_Ultimate = parseFloat(response.data[0].Total_Ultimate || '0')
            this.form.Total_Accessory = parseFloat(response.data[0].Total_Accessory || '0')
            this.form.Total_HDconnect = parseFloat(response.data[0].Total_HDconnect || '0')
            this.form.Total_Protection = parseFloat(response.data[0].Total_Protection || '0')
            this.form.bookingNo = response.data[0].bookingNo
            this.form.remark = response.data[0].remark
            this.form.HelpRelax = response.data[0].HelpRelax
            this.form.UsedHonda = response.data[0].UsedHonda
            this.form.sendRemarkHO = response.data[0].sendRemarkHO
            this.form.Select_Campaign = response.data[0].Select_Campaign
            this.getQuickApp(item.prospectiveCode)
            this.checkStatusUpdate()
            this.validate()
            this.chkSave = 'update'
            this.dialog = true
          }
        })
    },
    async sendData (item) {
      this.clearSend()
      console.log(item)
      this.formSend.prospectiveCode = item.prospectiveCode
      this.formSend.sendStatus = item.sendStatus
      this.formSend.sendRemark = item.sendRemark
      this.formSend.LAST_USER = this.session.data.userName
      this.dialogSendStatus = true
    },
    submitSendData () {
      this.$swal({
        title: 'ตรวจสอบก่อนส่งข้อมูล',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการส่งหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'ส่งข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      })
        .then(async result => {
          this.formSend.sendStatus = 'ส่ง HO'
          const url = `${this.$apiUrl}FinanceSales/FinanceSales/updateSendStatusSales`
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          axios.post(url, this.formSend, config).then(async response => {
            this.$swal('เรียบร้อย', 'ส่งข้อมูลเรียบแล้ว', 'success')
            this.dialogSendStatus = false
            this.clearSend()
            this.getData()
          })
        })
    },
    clearSend () {
      this.formSend.prospectiveCode = ''
      this.formSend.sendStatus = ''
      this.formSend.sendRemark = ''
      this.formSend.LAST_USER = this.session.data.userName
    },
    chkTypeCash () {
      if (this.form.Cash_Type === 'C') {
        this.form.Status_Finance = 'C'
      } else {
        this.form.Status_Finance = this.form.Status_FinanceOld
      }
    },
    async getQuickApp (prospectiveCode) {
      this.clearQuickApp()
      this.chkDataQuickApp = []
      await axios
        .get(
          'https://asia-southeast2-betask-crm.cloudfunctions.net/QuickApp-selete_allQuickApp?prospectiveCode=' +
            prospectiveCode
        )
        .then(async response => {
          var rs = response.data
          var rsdt = response.data[0]
          this.chkDataQuickApp = rs
          console.log(rs)
          if (rs.length > 0) {
            this.checkQuickAll = false
            this.formQuickApp.customerName = rsdt.customerName
            this.formQuickApp.customerAddress = rsdt.customerAddress || ''
            this.formQuickApp.customerProvince = rsdt.customerProvince || ''
            this.formQuickApp.customerDistrict = rsdt.customerDistrict || ''
            this.formQuickApp.customerSubDistrict =
              rsdt.customerSubDistrict || ''
            this.formQuickApp.customerZip = rsdt.customerZip || ''
            this.formQuickApp.customerTelHome = rsdt.customerTelHome || ''
            this.formQuickApp.customerTel = rsdt.customerTel || ''
            this.formQuickApp.customerLineId = rsdt.customerLineId || ''
            this.formQuickApp.customerEmail = rsdt.customerEmail || ''
            this.formQuickApp.customerLiveAddress =
              rsdt.customerLiveAddress || ''
            this.formQuickApp.customerTypeAddressValue =
              rsdt.customerTypeAddressValue || ''
            this.formQuickApp.customerUserCar = rsdt.customerUserCar || ''
            this.formQuickApp.customerUserCarName =
              rsdt.customerUserCarName || ''
            this.formQuickApp.customerUserCarTel =
              rsdt.customerUserCarTel || ''
            this.formQuickApp.customerOccupationValue =
              rsdt.customerOccupationValue || ''
            this.formQuickApp.customerIncome = rsdt.customerIncome || ''
            this.formQuickApp.commitions = parseFloat(rsdt.commitions) || 0
            this.formQuickApp.ot = parseFloat(rsdt.ot) || 0
            this.formQuickApp.other = parseFloat(rsdt.other) || 0
            this.formQuickApp.customerIncomeOther =
              rsdt.customerIncomeOther || ''
            this.formQuickApp.customerSuretyCarName =
              rsdt.customerSuretyCarName || ''
            this.formQuickApp.customerSuretyCarTel =
              rsdt.customerSuretyCarTel || ''
            this.formQuickApp.statusPersonalInformation =
              rsdt.statusPersonalInformation || ''
            this.formQuickApp.statusIncome = rsdt.statusIncome || ''
            this.formQuickApp.statusSurety = rsdt.statusSurety || ''
            this.formQuickApp.LastDate = rsdt.LastDate || ''
            this.formQuickApp.prospectiveCode = rsdt.prospectiveCode || ''
            this.formQuickApp.LastDateDate = rsdt.LastDateDate || ''
            this.formQuickApp.LastDateTime = rsdt.LastDateTime || ''
            this.formQuickApp.userLineuserId = rsdt.userLineuserId || ''
            this.formQuickApp.pictureUrl = rsdt.pictureUrl || ''
            this.formQuickApp.customerNo = rsdt.customerNo || ''
            this.formQuickApp.remark = rsdt.remark || ''
            this.formQuickApp.statusPurchase = rsdt.statusPurchase || ''
            this.formQuickApp.statusBuy = rsdt.statusBuy || ''
            this.formQuickApp.statusMarried = rsdt.statusMarried || ''
            this.formQuickApp.companyName = rsdt.companyName || ''
            this.formQuickApp.companyNo = rsdt.companyNo || ''
            this.formQuickApp.contactName = rsdt.contactName || ''
            this.formQuickApp.contactTel = rsdt.contactTel || ''
            this.formQuickApp.companyBusiness = rsdt.companyBusiness || ''
            this.formQuickApp.companyAge = rsdt.companyAge || ''
            this.formQuickApp.companyRemark = rsdt.companyRemark || ''
            this.formQuickApp.customerAddressCom =
              rsdt.customerAddressCom || ''
            this.formQuickApp.customerProvinceCom =
              rsdt.customerProvinceCom || ''
            this.formQuickApp.customerDistrictCom =
              rsdt.customerDistrictCom || ''
            this.formQuickApp.customerSubDistrictCom =
              rsdt.customerSubDistrictCom || ''
            this.formQuickApp.customerZipCom = rsdt.customerZipCom || ''
            this.formQuickApp.statusPerson = rsdt.statusPerson || ''
          } else {
            this.checkQuickAll = true
          }
        })
    },
    clearQuickApp () {
      this.checkQuickAll = false
      this.formQuickApp.customerName = ''
      this.formQuickApp.customerAddress = ''
      this.formQuickApp.customerProvince = ''
      this.formQuickApp.customerDistrict = ''
      this.formQuickApp.customerSubDistrict = ''
      this.formQuickApp.customerZip = ''
      this.formQuickApp.customerTelHome = ''
      this.formQuickApp.customerTel = ''
      this.formQuickApp.customerLineId = ''
      this.formQuickApp.customerEmail = ''
      this.formQuickApp.customerLiveAddress = ''
      this.formQuickApp.customerTypeAddressValue = ''
      this.formQuickApp.customerUserCar = ''
      this.formQuickApp.customerUserCarName = ''
      this.formQuickApp.customerUserCarTel = ''
      this.formQuickApp.customerOccupationValue = ''
      this.formQuickApp.customerIncome = ''
      this.formQuickApp.commitions = 0
      this.formQuickApp.ot = 0
      this.formQuickApp.other = 0
      this.formQuickApp.customerIncomeOther = ''
      this.formQuickApp.customerSuretyCarName = ''
      this.formQuickApp.customerSuretyCarTel = ''
      this.formQuickApp.statusPersonalInformation = ''
      this.formQuickApp.statusIncome = ''
      this.formQuickApp.statusSurety = ''
      this.formQuickApp.LastDate = ''
      this.formQuickApp.prospectiveCode = ''
      this.formQuickApp.LastDateDate = ''
      this.formQuickApp.LastDateTime = ''
      this.formQuickApp.userLineuserId = ''
      this.formQuickApp.pictureUrl = ''
      this.formQuickApp.customerNo = ''
      this.formQuickApp.remark = ''
      this.formQuickApp.statusPurchase = ''
      this.formQuickApp.statusBuy = ''
      this.formQuickApp.statusMarried = ''
      this.formQuickApp.companyName = ''
      this.formQuickApp.companyNo = ''
      this.formQuickApp.contactName = ''
      this.formQuickApp.contactTel = ''
      this.formQuickApp.companyBusiness = ''
      this.formQuickApp.companyAge = ''
      this.formQuickApp.companyRemark = ''
      this.formQuickApp.customerAddressCom = ''
      this.formQuickApp.customerProvinceCom = ''
      this.formQuickApp.customerDistrictCom = ''
      this.formQuickApp.customerSubDistrictCom = ''
      this.formQuickApp.customerZipCom = ''
      this.formQuickApp.statusPerson = ''
    },
    onSubmitUpdate () {
      this.$swal({
        title: 'ตรวจสอบก่อนแก้ไขข้อมูล',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการแก้ไขหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'แก้ไขข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      })
        .then(result => {
          this.onSubmitAccess()
          const url = `${this.$apiUrl}FinanceSales/FinanceSales/updateDataSalesEdit`
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt = {
            'prospectiveCode': this.form.prospectiveCode,
            'Cash_Type': this.form.Cash_Type,
            'bookingNo': this.form.bookingNo,
            'CUS_NAME': this.form.CUS_NAME,
            'HelpRelax': this.form.HelpRelax,
            'UsedHonda': this.form.UsedHonda,
            'TOTAL_Car': this.form.TOTAL_Car,
            'TOTAL_Cardetails': this.form.TOTAL_Cardetails,
            'Status_Begin': this.form.Status_Begin,
            'DowPercen': this.form.DowPercen,
            'DowAmount': this.form.DowAmount,
            'Discount_Cars': this.form.Discount_Cars,
            'Discount_Down': this.form.Discount_Down,
            'Status_Ultimate': this.form.Status_Ultimate,
            'Total_Ultimate': this.form.Total_Ultimate,
            'Status_Accessory': this.form.Status_Accessory,
            'Total_Accessory': this.form.Total_Accessory,
            'Status_HDconnect': this.form.Status_HDconnect,
            'Total_HDconnect': this.form.Total_HDconnect,
            'Status_Protection': this.form.Status_Protection,
            'Total_Protection': this.form.Total_Protection,
            'Top_FinanceReturn': this.form.Top_FinanceReturn,
            'InstlmQty': this.form.InstlmQty,
            'InstlmAmt': this.form.InstlmAmt,
            'IntRate': this.form.IntRate,
            'Top_Finance': this.form.Top_Finance,
            'remark': this.form.remark,
            'LAST_USER': this.session.data.userName,
            'Select_Campaign': this.form.Select_Campaign
          }
          axios.post(url, dt, config).then(async response => {
            this.$swal('เรียบร้อย', 'เพิ่มข้อมูลเรียบแล้ว', 'success')
            this.dialog = false
            this.clearAdd()
          })
        })
    },
    onSubmit () {
      this.$swal({
        title: 'ตรวจสอบก่อนเพิ่มข้อมูล',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการเพิ่มหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'เพิ่มข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      })
        .then(async result => {
          await this.onSubmitAccess()
          const url = `${this.$apiUrl}FinanceSales/FinanceSales/addDataSalesEdit`
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt = {
            'prospectiveCode': this.form.prospectiveCode,
            'Cash_Type': this.form.Cash_Type,
            'bookingNo': this.form.bookingNo,
            'CUS_NAME': this.form.CUS_NAME,
            'HelpRelax': this.form.HelpRelax,
            'UsedHonda': this.form.UsedHonda,
            'TOTAL_Car': this.form.TOTAL_Car,
            'TOTAL_Cardetails': this.form.TOTAL_Cardetails,
            'Status_Begin': this.form.Status_Begin,
            'DowPercen': this.form.DowPercen,
            'DowAmount': this.form.DowAmount,
            'Discount_Cars': this.form.Discount_Cars,
            'Discount_Down': this.form.Discount_Down,
            'Status_Ultimate': this.form.Status_Ultimate,
            'Total_Ultimate': this.form.Total_Ultimate,
            'Status_Accessory': this.form.Status_Accessory,
            'Total_Accessory': this.form.Total_Accessory,
            'Status_HDconnect': this.form.Status_HDconnect,
            'Total_HDconnect': this.form.Total_HDconnect,
            'Status_Protection': this.form.Status_Protection,
            'Total_Protection': this.form.Total_Protection,
            'Top_FinanceReturn': this.form.Top_FinanceReturn,
            'InstlmQty': this.form.InstlmQty,
            'InstlmAmt': this.form.InstlmAmt,
            'IntRate': this.form.IntRate,
            'Top_Finance': this.form.Top_Finance,
            'remark': this.form.remark,
            'CREATE_USER': this.session.data.userName,
            'LAST_USER': this.session.data.userName,
            'Select_Campaign': this.form.Select_Campaign
          }
          axios.post(url, dt, config).then(async response => {
            this.$swal('เรียบร้อย', 'เพิ่มข้อมูลเรียบแล้ว', 'success')
            this.dialog = false
            this.clearAdd()
            this.getData()
          })
        })
    },
    async onSubmitAccess () {
      console.log(this.desserts)
      if (this.desserts.length > 0) {
        await this.deleteAccess(this.form.prospectiveCode)
        let rs = this.desserts
        var dateAccess = ''
        var dateAccessArray = []
        for (var i = 0; i < rs.length; i++) {
          var d = rs[i]
          var s = ''
          s = "('" + this.form.prospectiveCode + "','" + this.form.bookingNo + "','" + d.name + "','" + d.price + "','" + this.momenDate_2(new Date()) + "'),"
          dateAccess = dateAccess + s
          // dataIDS.push(d)
        }
        dateAccessArray.push(dateAccess.substring(0, dateAccess.length - 1))
        console.log('dateAccess', dateAccess.substring(0, dateAccess.length - 1))
        const url = `${this.$apiUrl}FinanceSales/FinanceSales/addDataSalesEditAccess`
        let config = {
          headers: {
            'Content-Type': 'application/json',
            'Application-Key': this.$apiToken
          }
        }
        await axios.post(url, dateAccessArray, config).then(async response => {
          this.$swal('เรียบร้อย', 'เพิ่มข้อมูลเรียบแล้ว', 'success')
          this.dialog = false
          // this.clearAdd()
        })
      }
    },
    async getAccess (item) {
      this.desserts = []
      const url =
        // `http://localhost/vgroupl_api/CheckBookingFandI.php`
        `${this.$apiUrl}FinanceSales/FinanceSales/getdataSalesEditAccess`
      const config = {
        headers: {
          'Application-Key': this.$apiToken
        },
        params: {
          prospectiveCode: item.prospectiveCode
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async response => {
          if (response.data.data !== 'ไม่มีข้อมูล') {
            this.desserts = response.data
          } else {
            this.desserts = []
          }
        })
    },
    async deleteAccess (prospectiveCodes) {
      const url =
        // `http://localhost/vgroupl_api/CheckBookingFandI.php`
        `${this.$apiUrl}FinanceSales/FinanceSales/deleteAccess`
      const config = {
        headers: {
          'Application-Key': this.$apiToken
        },
        params: {
          prospectiveCode: prospectiveCodes
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async response => {
        })
    },
    clearAdd () {
      this.form.prospectiveCode = ''
      this.form.Cash_Type = ''
      this.form.Discount_Cars = 0
      this.form.Discount_Down = 0
      this.form.Status_Begin = 'B'
      this.form.DowAmount = 0
      this.form.IntRate = 0
      this.form.Top_Finance = 0
      this.form.TOTAL_Car = ''
      this.form.CUS_NAME = ''
      this.form.InstlmQty = ''
      this.form.InstlmAmt = 0
      this.form.TOTAL_Cardetails = 0
      this.form.DowPercen = '0'
      this.form.Top_FinanceReturn = 0
      this.form.Status_Ultimate = 'รวมในยอดจัด'
      this.form.Status_Accessory = 'รวมในยอดจัด'
      this.form.Status_HDconnect = 'รวมในยอดจัด'
      this.form.Status_Protection = 'รวมในยอดจัด'
      this.form.Total_Ultimate = 0
      this.form.Total_Accessory = 0
      this.form.Total_HDconnect = 0
      this.form.Total_Protection = 0
      this.form.bookingNo = ''
      this.form.remark = ''
      this.form.Select_Campaign = ''
      this.HelpRelax = ''
      this.UsedHonda = ''
    }
  }
}
</script>
