<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="3">
            <v-select
              label="สาขา"
              :items="optionsNoHObranchNo"
              v-model="branchNo"
              @change="onSearch()"
              dense
              outlined
              v-if="
                session.data.userTypeGroup == 'Board' ||
                session.data.userName == 'Natenapa.Nat' ||
                session.data.userTypeGroup == 'Admin'
              "
            ></v-select>
          </v-col>
          <!-- <v-col cols="9">
            <v-select
              label="ประเภทการทำงาน"
              :items="optionTypeWork"
              v-model="formSearch.typeWork"
              @change="getDataPost()"
              dense
              outlined
            ></v-select>
          </v-col> -->

          <v-col cols="12">
            <!-- <v-col cols="12" v-if="formSearch.typeWork === 'ใหม่'"> -->
            <v-card elevation="7">
              <v-card-title>
                <v-icon>mdi-facebook</v-icon> ข้อมูลโฆษณา
              </v-card-title>
              <v-card-text>
                <div class="text-center" v-if="!dataListReady ">
                  <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="red"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="70"
                    :width="7"
                    color="purple"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="green"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="50"
                    color="amber"
                    indeterminate
                  ></v-progress-circular>
                </div>
                <div class="row" v-if="datareport.length > 0">
                  <div class="col-12">
                    <div class="row" v-if="dataListReady">
                      <div class="col-12">
                        <v-data-table
                          :headers="columns"
                          :items="datareport"
                          :items-per-page="15"
                        >
                          <template v-slot:[`item.ac`]="{ item }">
                            <v-btn
                              color="indigo"
                              fab
                              small
                              dark
                              @click.stop="setData(item)"
                            >
                              <v-icon dark>
                                mdi-database-search-outline
                              </v-icon>
                            </v-btn>
                          </template>
                          <template v-slot:[`item.status`]="{ item }">
                            <v-chip
                              :color="getColor(item.status)"
                              text-color="white"
                            >
                              {{ item.status }}
                            </v-chip>
                          </template>
                        </v-data-table>
                        <v-dialog v-model="dialog" persistent max-width="90%">
                          <v-card>
                            <v-card-title>
                              <span class="headline">Ads Profile</span>
                            </v-card-title>
                            <v-card-text>
                              <v-row>
                                <v-col
                                  cols="12"
                                  class="text-center"
                                  v-if="datasumit"
                                >
                                  <v-progress-circular
                                    :size="50"
                                    color="primary"
                                    indeterminate
                                  ></v-progress-circular>
                                  <v-progress-circular
                                    :width="3"
                                    color="red"
                                    indeterminate
                                  ></v-progress-circular>
                                  <v-progress-circular
                                    :size="70"
                                    :width="7"
                                    color="purple"
                                    indeterminate
                                  ></v-progress-circular>
                                  <v-progress-circular
                                    :width="3"
                                    color="green"
                                    indeterminate
                                  ></v-progress-circular>
                                  <v-progress-circular
                                    :size="50"
                                    color="amber"
                                    indeterminate
                                  ></v-progress-circular>
                                </v-col>
                                <v-col cols="12" v-if="!datasumit">
                                  <v-tabs centered>
                                    <v-tab>
                                      <v-icon>
                                        mdi-book-open-page-variant-outline
                                      </v-icon>
                                      ข้อมูลเพจ
                                    </v-tab>
                                    <v-tab>
                                      <v-icon> mdi-cash-check </v-icon>
                                      ข้อมูลโฆษณา
                                    </v-tab>
                                    <v-tab>
                                      <v-icon>
                                        mdi-file-replace-outline
                                      </v-icon>
                                      ข้อมูลตำแหน่งที่ตั้ง
                                    </v-tab>
                                    <v-tab>
                                      <v-icon>
                                        mdi-file-replace-outline
                                      </v-icon>
                                      จัดการข้อมูล
                                    </v-tab>
                                    <v-tab-item>
                                      <v-card flat>
                                        <hr />
                                        <v-card-text>
                                          <v-form>
                                            <v-container class="py-0">
                                              <v-row justify="center">
                                                <v-col cols="4">
                                                  <v-img
                                                    :src="form.picture"
                                                  ></v-img>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.created"
                                                    label="วันที่สร้าง"
                                                    outlined
                                                    dense
                                                    readonly
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.time"
                                                    label="เวลาที่สร้าง"
                                                    outlined
                                                    dense
                                                    readonly
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="2">
                                                  <v-text-field
                                                    v-model="form.like"
                                                    label="Like"
                                                    outlined
                                                    dense
                                                    readonly
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="2">
                                                  <v-text-field
                                                    v-model="form.shares"
                                                    label="Shares"
                                                    outlined
                                                    dense
                                                    readonly
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-textarea
                                                    label="ข้อความที่โพส"
                                                    v-model="form.message"
                                                    auto-grow
                                                    outlined
                                                    readonly
                                                    rows="1"
                                                    dense
                                                    row-height="15"
                                                  ></v-textarea>
                                                </v-col>
                                              </v-row>
                                            </v-container>
                                          </v-form>
                                        </v-card-text>
                                      </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                      <v-card flat>
                                        <hr />
                                        <v-card-text>
                                          <v-form>
                                            <v-container class="py-0">
                                              <v-row justify="center">
                                                <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.date_start"
                                                    label="วันที่เริ่ม"
                                                    outlined
                                                    dense
                                                    readonly
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.date_stop"
                                                    label="วันที่สิ้นสุด"
                                                    outlined
                                                    dense
                                                    readonly
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-data-table
                                                    :headers="headers"
                                                    :items="desserts"
                                                    group-by="age"
                                                    class="elevation-1"
                                                    show-group-by
                                                  >
                                                    <template
                                                      v-slot:[`item.impressions`]="{
                                                        item,
                                                      }"
                                                    >
                                                      {{
                                                        parseFloat(
                                                          item.impressions
                                                        )
                                                          .toFixed(2)
                                                          .toString()
                                                          .replace(
                                                            /\B(?=(\d{3})+(?!\d))/g,
                                                            ","
                                                          )
                                                      }}
                                                    </template>
                                                    <template
                                                      v-slot:[`item.clicks`]="{
                                                        item,
                                                      }"
                                                    >
                                                      {{
                                                        parseFloat(item.clicks)
                                                          .toFixed(2)
                                                          .toString()
                                                          .replace(
                                                            /\B(?=(\d{3})+(?!\d))/g,
                                                            ","
                                                          )
                                                      }}
                                                    </template>
                                                    <template
                                                      v-slot:[`item.reach`]="{
                                                        item,
                                                      }"
                                                    >
                                                      {{
                                                        parseFloat(item.reach)
                                                          .toFixed(2)
                                                          .toString()
                                                          .replace(
                                                            /\B(?=(\d{3})+(?!\d))/g,
                                                            ","
                                                          )
                                                      }}
                                                    </template>
                                                    <template
                                                      v-slot:[`item.spend`]="{
                                                        item,
                                                      }"
                                                    >
                                                      {{
                                                        parseFloat(item.spend)
                                                          .toFixed(2)
                                                          .toString()
                                                          .replace(
                                                            /\B(?=(\d{3})+(?!\d))/g,
                                                            ","
                                                          )
                                                      }}
                                                    </template>
                                                  </v-data-table>
                                                </v-col>
                                              </v-row>
                                            </v-container>
                                          </v-form>
                                        </v-card-text>
                                      </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                      <v-card flat>
                                        <hr />
                                        <v-card-text>
                                          <v-form>
                                            <v-container class="py-0">
                                              <v-row justify="center">
                                                <v-col cols="12">
                                                  <v-alert
                                                    color="primary"
                                                    dark
                                                    icon="mdi-map-search-outline"
                                                    border="left"
                                                    prominent
                                                  >
                                                    ข้อมูลตำแหน่งที่ตั้ง
                                                  </v-alert>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-data-table
                                                    :headers="headersRegion"
                                                    :items="regionDataTabel"
                                                    class="elevation-1"
                                                    show-group-by
                                                  >
                                                    <template
                                                      v-slot:[`item.impressions`]="{
                                                        item,
                                                      }"
                                                    >
                                                      {{
                                                        parseFloat(
                                                          item.impressions
                                                        )
                                                          .toFixed(2)
                                                          .toString()
                                                          .replace(
                                                            /\B(?=(\d{3})+(?!\d))/g,
                                                            ","
                                                          )
                                                      }}
                                                    </template>
                                                    <template
                                                      v-slot:[`item.clicks`]="{
                                                        item,
                                                      }"
                                                    >
                                                      {{
                                                        parseFloat(item.clicks)
                                                          .toFixed(2)
                                                          .toString()
                                                          .replace(
                                                            /\B(?=(\d{3})+(?!\d))/g,
                                                            ","
                                                          )
                                                      }}
                                                    </template>
                                                    <template
                                                      v-slot:[`item.reach`]="{
                                                        item,
                                                      }"
                                                    >
                                                      {{
                                                        parseFloat(item.reach)
                                                          .toFixed(2)
                                                          .toString()
                                                          .replace(
                                                            /\B(?=(\d{3})+(?!\d))/g,
                                                            ","
                                                          )
                                                      }}
                                                    </template>
                                                    <template
                                                      v-slot:[`item.spend`]="{
                                                        item,
                                                      }"
                                                    >
                                                      {{
                                                        parseFloat(item.spend)
                                                          .toFixed(2)
                                                          .toString()
                                                          .replace(
                                                            /\B(?=(\d{3})+(?!\d))/g,
                                                            ","
                                                          )
                                                      }}
                                                    </template>
                                                  </v-data-table>
                                                </v-col>
                                              </v-row>
                                            </v-container>
                                          </v-form>
                                        </v-card-text>
                                      </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                      <v-card flat>
                                        <hr />
                                        <v-card-text>
                                          <v-card elevation="12" v-if="countPomo1 === true">
                                            <v-card-text>
                                          <v-form>
                                            <v-container class="py-0">
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-textarea
                                                    label="ความสนใจ"
                                                    v-model="form.attention"
                                                    auto-grow
                                                    outlined
                                                    rows="1"
                                                    dense
                                                    readonly
                                                    row-height="15"
                                                  ></v-textarea>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-textarea
                                                    label="ตำแหน่งที่ตั้ง"
                                                    v-model="form.location"
                                                    auto-grow
                                                    outlined
                                                    readonly
                                                    rows="1"
                                                    dense
                                                    row-height="15"
                                                  ></v-textarea>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.visitor"
                                                    readonly
                                                    label="Visitor"
                                                    outlined
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.prospective"
                                                    readonly
                                                    label="Prospective"
                                                    outlined
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.booking"
                                                    readonly
                                                    label="Booking"
                                                    outlined
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.invoice"
                                                    readonly
                                                    label="Invoice"
                                                    outlined
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.date_startRemark"
                                                    readonly
                                                    label="วันที่เริ่มโปรโมท"
                                                    outlined
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                  <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.date_stopRemark"
                                                    readonly
                                                    label="วันที่สิ้นสุดโปรโมท"
                                                    outlined
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="4">
                                                  <p>เงินโปรโมท</p>
                                                  <my-currency-input
                                                    type="text"
                                                    readonly
                                                    v-model="form.money"
                                                    class="form-control text-right"
                                                  ></my-currency-input>
                                                  <!-- <v-text-field
                                                    v-model="form.money"
                                                    label="เงินโปรโมท"
                                                    outlined
                                                    dense
                                                  ></v-text-field> -->
                                                </v-col>
                                              </v-row>
                                            </v-container>
                                          </v-form>
                                            </v-card-text>
                                          </v-card>
                                          <br>
                                          <v-card elevation="12" v-if="countPomo2 === true">
                                            <v-card-text>
                                          <v-form>
                                            <v-container class="py-0">
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-textarea
                                                    label="ความสนใจ"
                                                    v-model="form.attention2"
                                                    auto-grow
                                                    outlined
                                                    rows="1"
                                                    readonly
                                                    dense
                                                    row-height="15"
                                                  ></v-textarea>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-textarea
                                                    label="ตำแหน่งที่ตั้ง"
                                                    v-model="form.location2"
                                                    auto-grow
                                                    outlined
                                                    readonly
                                                    rows="1"
                                                    dense
                                                    row-height="15"
                                                  ></v-textarea>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.visitor2"
                                                    label="Visitor"
                                                    outlined
                                                    readonly
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.prospective2"
                                                    label="Prospective"
                                                    outlined
                                                    readonly
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.booking2"
                                                    label="Booking"
                                                    readonly
                                                    outlined
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.invoice2"
                                                    readonly
                                                    label="Invoice"
                                                    outlined
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.date_startRemark2"
                                                    readonly
                                                    label="วันที่เริ่มโปรโมท"
                                                    outlined
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.date_stopRemark2"
                                                    readonly
                                                    label="วันที่สิ้นสุดโปรโมท"
                                                    outlined
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="4">
                                                  <p>เงินโปรโมท</p>
                                                  <my-currency-input
                                                    type="text"
                                                    readonly
                                                    v-model="form.money2"
                                                    class="form-control text-right"
                                                  ></my-currency-input>
                                                  <!-- <v-text-field
                                                    v-model="form.money"
                                                    label="เงินโปรโมท"
                                                    outlined
                                                    dense
                                                  ></v-text-field> -->
                                                </v-col>
                                              </v-row>
                                            </v-container>
                                          </v-form>
                                            </v-card-text>
                                          </v-card>
                                          <br>
                                          <v-card elevation="12" v-if="countPomo3 === true">
                                            <v-card-text>
                                          <v-form>
                                            <v-container class="py-0">
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-textarea
                                                    label="ความสนใจ"
                                                    v-model="form.attention3"
                                                    auto-grow
                                                    outlined
                                                    readonly
                                                    rows="1"
                                                    dense
                                                    row-height="15"
                                                  ></v-textarea>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-textarea
                                                    label="ตำแหน่งที่ตั้ง"
                                                    v-model="form.location3"
                                                    auto-grow
                                                    outlined
                                                    readonly
                                                    rows="1"
                                                    dense
                                                    row-height="15"
                                                  ></v-textarea>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.visitor3"
                                                    label="Visitor"
                                                    readonly
                                                    outlined
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.prospective3"
                                                    label="Prospective"
                                                    readonly
                                                    outlined
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.booking3"
                                                    label="Booking"
                                                    readonly
                                                    outlined
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.invoice3"
                                                    label="Invoice"
                                                    outlined
                                                    readonly
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.date_startRemark3"
                                                    label="วันที่เริ่มโปรโมท"
                                                    outlined
                                                    readonly
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.date_stopRemark3"
                                                    label="วันที่สิ้นสุดโปรโมท"
                                                    outlined
                                                    readonly
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="4">
                                                  <p>เงินโปรโมท</p>
                                                  <my-currency-input
                                                    type="text"
                                                    v-model="form.money3"
                                                    readonly
                                                    class="form-control text-right"
                                                  ></my-currency-input>
                                                  <!-- <v-text-field
                                                    v-model="form.money"
                                                    label="เงินโปรโมท"
                                                    outlined
                                                    dense
                                                  ></v-text-field> -->
                                                </v-col>
                                              </v-row>
                                            </v-container>
                                          </v-form>
                                            </v-card-text>
                                          </v-card>
                                          <br>
                                          <v-card elevation="12" v-if="countPomo4 === true">
                                            <v-card-text>
                                          <v-form>
                                            <v-container class="py-0">
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-textarea
                                                    label="ความสนใจ"
                                                    v-model="form.attention4"
                                                    auto-grow
                                                    outlined
                                                    rows="1"
                                                    dense
                                                    readonly
                                                    row-height="15"
                                                  ></v-textarea>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-textarea
                                                    label="ตำแหน่งที่ตั้ง"
                                                    v-model="form.location4"
                                                    auto-grow
                                                    outlined
                                                    rows="1"
                                                    dense
                                                    readonly
                                                    row-height="15"
                                                  ></v-textarea>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.visitor4"
                                                    label="Visitor"
                                                    outlined
                                                    dense
                                                    readonly
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.prospective4"
                                                    label="Prospective"
                                                    outlined
                                                    dense
                                                    readonly
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.booking4"
                                                    label="Booking"
                                                    outlined
                                                    dense
                                                    readonly
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.invoice4"
                                                    label="Invoice"
                                                    outlined
                                                    dense
                                                    readonly
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.date_startRemark4"
                                                    label="วันที่เริ่มโปรโมท"
                                                    outlined
                                                    dense
                                                    readonly
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.date_stopRemark4"
                                                    label="วันที่สิ้นสุดโปรโมท"
                                                    outlined
                                                    dense
                                                    readonly
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="4">
                                                  <p>เงินโปรโมท</p>
                                                  <my-currency-input
                                                    type="text"
                                                    readonly
                                                    v-model="form.money4"
                                                    class="form-control text-right"
                                                  ></my-currency-input>
                                                  <!-- <v-text-field
                                                    v-model="form.money"
                                                    label="เงินโปรโมท"
                                                    outlined
                                                    dense
                                                  ></v-text-field> -->
                                                </v-col>
                                              </v-row>
                                            </v-container>
                                          </v-form>
                                            </v-card-text>
                                          </v-card>
                                          <br>
                                          <v-card elevation="12" v-if="countPomo5 === true">
                                            <v-card-text>
                                          <v-form>
                                            <v-container class="py-0">
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-textarea
                                                    label="ความสนใจ"
                                                    v-model="form.attention5"
                                                    auto-grow
                                                    outlined
                                                    rows="1"
                                                    readonly
                                                    dense
                                                    row-height="15"
                                                  ></v-textarea>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-textarea
                                                    label="ตำแหน่งที่ตั้ง"
                                                    v-model="form.location5"
                                                    auto-grow
                                                    outlined
                                                    readonly
                                                    rows="1"
                                                    dense
                                                    row-height="15"
                                                  ></v-textarea>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.visitor5"
                                                    label="Visitor"
                                                    outlined
                                                    readonly
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.prospective5"
                                                    label="Prospective"
                                                    outlined
                                                    readonly
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.booking5"
                                                    label="Booking"
                                                    outlined
                                                    readonly
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="3">
                                                  <v-text-field
                                                    v-model="form.invoice5"
                                                    label="Invoice"
                                                    outlined
                                                    readonly
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.date_startRemark5"
                                                    label="วันที่เริ่มโปรโมท"
                                                    outlined
                                                    readonly
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                  <v-text-field
                                                    v-model="form.date_stopRemark5"
                                                    label="วันที่สิ้นสุดโปรโมท"
                                                    outlined
                                                    readonly
                                                    dense
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col cols="4">
                                                  <p>เงินโปรโมท</p>
                                                  <my-currency-input
                                                    type="text"
                                                    readonly
                                                    v-model="form.money5"
                                                    class="form-control text-right"
                                                  ></my-currency-input>
                                                  <!-- <v-text-field
                                                    v-model="form.money"
                                                    label="เงินโปรโมท"
                                                    outlined
                                                    dense
                                                  ></v-text-field> -->
                                                </v-col>
                                              </v-row>
                                            </v-container>
                                          </v-form>
                                            </v-card-text>
                                          </v-card>
                                        </v-card-text>
                                      </v-card>
                                    </v-tab-item>
                                  </v-tabs>
                                </v-col>
                              </v-row>
                            </v-card-text>
                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn
                                color="blue darken-1"
                                text
                                @click="dialog = false"
                              >
                                Close
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                      </div>
                    </div>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import adminLeftMenu from '../Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
import axios from 'axios' // api
export default {
  components: {
    'left-menu-admin': adminLeftMenu
  },
  beforeCreate () {
    // eslint-disable-next-line no-unused-vars
    // this.$liff.init({ liffId: this.$liff_id }, function (data) {})
    // this.$liff.init({ liffId: this.$liff_id_login }, function (data) {})
  },
  created () {
    // setInterval(this.getListData(), 1000)
  },
  data () {
    return {
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      menu5: false,
      menu6: false,
      menu7: false,
      menu8: false,
      menu9: false,
      menu10: false,
      panel: [0],
      dataSearhcReady: true,
      session: this.$session.getAll(),
      dataListReady: false,
      statusHine: false,
      dialog: false,
      datasumit: false,
      branchNo: '',
      datareport: [],
      datareportAds: [],
      visibleRows: [],
      formSearch: {
        typeWork: 'ใหม่'
      },
      form: {
        branchNo: '',
        created: '',
        time: '',
        date_start: '',
        date_stop: '',
        message: '',
        picture: '',
        like: 0,
        shares: 0,
        id: '',
        attention: '',
        location: '',
        visitor: 0,
        prospective: 0,
        booking: 0,
        invoice: 0,
        date_startRemark: '',
        date_stopRemark: '',
        money: 0,
        attention2: '',
        location2: '',
        visitor2: 0,
        prospective2: 0,
        booking2: 0,
        invoice2: 0,
        date_startRemark2: '',
        date_stopRemark2: '',
        money2: 0,
        attention3: '',
        location3: '',
        visitor3: 0,
        prospective3: 0,
        booking3: 0,
        invoice3: 0,
        date_startRemark3: '',
        date_stopRemark3: '',
        money3: 0,
        attention4: '',
        location4: '',
        visitor4: 0,
        prospective4: 0,
        booking4: 0,
        invoice4: 0,
        date_startRemark4: '',
        date_stopRemark4: '',
        money4: 0,
        attention5: '',
        location5: '',
        visitor5: 0,
        prospective5: 0,
        booking5: 0,
        invoice5: 0,
        date_startRemark5: '',
        date_stopRemark5: '',
        money5: 0
      },
      optionTypeWork: [
        { text: 'ค้นหาโฆษาณาใหม่', value: 'ใหม่' },
        { text: 'ค้นหาเพื่อแก้ไข', value: 'แก้ไข' }
      ],
      optionsCountPomo: [
        { text: '1', value: '1' },
        { text: '2', value: '2' },
        { text: '3', value: '3' },
        { text: '4', value: '4' },
        { text: '5', value: '5' }
      ],
      countPomo: '1',
      countPomo1: false,
      countPomo2: false,
      countPomo3: false,
      countPomo4: false,
      countPomo5: false,
      dataInsights: [],
      adsData: [],
      facebookData: [],
      regionData: [],
      regionDataTabel: [],
      columnsUse: [],
      columns: [
        { text: 'สาขา', value: 'branchNo' },
        { text: 'วันที่เริ่ม', value: 'date_start.value' },
        { text: 'วันที่สิ้นสุด', value: 'date_stop.value' },
        { text: 'ชื่อโฆษณา', value: 'message' },
        { text: 'Action', value: 'ac', sortable: false, align: 'center' }
      ],
      columnsEdit: [
        { text: 'วันที่สร้าง', value: 'createDate' },
        { text: 'เวลาที่สร้าง', value: 'createTime' },
        { text: 'ข้อความที่โพส', value: 'message' },
        { text: 'Action', value: 'ac', sortable: false, align: 'center' }
      ],
      headersRegion: [
        { text: 'จังหวัด', value: 'region', align: 'start' },
        {
          text: 'จำนวนคลิก',
          align: 'start',
          value: 'clicks',
          groupable: false
        },
        {
          text: 'การเข้าถึง',
          align: 'start',
          value: 'reach',
          groupable: false
        },
        {
          text: 'impressions',
          align: 'start',
          value: 'impressions',
          groupable: false
        },
        {
          text: 'ต้นทุนต่อการคลิก',
          align: 'start',
          value: 'cpc',
          groupable: false
        },
        {
          text: 'จำนวนเงินที่ใช้ไป',
          align: 'start',
          value: 'spend',
          groupable: false
        }
      ],
      headers: [
        { text: 'อายุ', value: 'age', align: 'start' },
        { text: 'เพศ', value: 'gender', align: 'start' },
        {
          text: 'จำนวนคลิก',
          align: 'start',
          value: 'clicks',
          groupable: false
        },
        {
          text: 'การเข้าถึง',
          align: 'start',
          value: 'reach',
          groupable: false
        },
        {
          text: 'impressions',
          align: 'start',
          value: 'impressions',
          groupable: false
        },
        {
          text: 'ต้นทุนต่อการคลิก',
          align: 'start',
          value: 'cpc',
          groupable: false
        },
        {
          text: 'จำนวนเงินที่ใช้ไป',
          align: 'start',
          value: 'spend',
          groupable: false
        }
      ],
      desserts: []
    }
  },

  // eslint-disable-next-line space-before-function-paren
  async mounted() {
    if (!this.$session.exists()) {
      this.$router.push('/vsales/Login')
    } else {
      // await this.getDataDB()
      if (this.formSearch.typeWork === 'ใหม่') {
        if (
          this.session.data.userTypeGroup === 'Board' ||
          this.session.data.userName === 'Natenapa.Nat' ||
          this.session.data.userTypeGroup === 'Admin'
        ) {
          await this.getDataRegion()
          await this.getDataDemographic()
          await this.getDataDB()
        }
      } else {
        if (
          this.session.data.userTypeGroup !== 'Board' ||
          this.session.data.userName !== 'Natenapa.Nat' ||
          this.session.data.userTypeGroup !== 'Admin'
        ) {
          this.$router.push('/vsales/Login')
        }
      }
    }
  },
  methods: {
    async onSearch () {
      this.facebookData = []
      this.datareport = []
      this.dataListReady = false
      await axios
        .get(
          'https://asia-southeast2-betask-crm.cloudfunctions.net/Faccebook-bq_selete_all?branchNo=' + this.branchNo
        )
        .then(async (response) => {
          if (response.data.length > 0) {
            this.facebookData = response.data
            console.log(response.data)
            this.datareport = response.data
            this.dataListReady = true
          } else {
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
            this.datareport = []
            this.dataListReady = true
          }
        })
    },
    chkCountPomo () {
      if (this.countPomo === '1') {
        this.countPomo1 = true
        this.countPomo2 = false
        this.countPomo3 = false
        this.countPomo4 = false
        this.countPomo5 = false
        this.form.attention2 = ''
        this.form.location2 = ''
        this.form.visitor2 = 0
        this.form.prospective2 = 0
        this.form.booking2 = 0
        this.form.invoice2 = 0
        this.form.date_startRemark2 = ''
        this.form.date_stopRemark2 = ''
        this.form.money2 = 0
        this.form.attention3 = ''
        this.form.location3 = ''
        this.form.visitor3 = 0
        this.form.prospective3 = 0
        this.form.booking3 = 0
        this.form.invoice3 = 0
        this.form.date_startRemark3 = ''
        this.form.date_stopRemark3 = ''
        this.form.money3 = 0
        this.form.attention4 = ''
        this.form.location4 = ''
        this.form.visitor4 = 0
        this.form.prospective4 = 0
        this.form.booking4 = 0
        this.form.invoice4 = 0
        this.form.date_startRemark4 = ''
        this.form.date_stopRemark4 = ''
        this.form.money4 = 0
        this.form.attention5 = ''
        this.form.location5 = ''
        this.form.visitor5 = 0
        this.form.prospective5 = 0
        this.form.booking5 = 0
        this.form.invoice5 = 0
        this.form.date_startRemark5 = ''
        this.form.date_stopRemark5 = ''
        this.form.money5 = 0
      }
      if (this.countPomo === '2') {
        this.countPomo1 = true
        this.countPomo2 = true
        this.countPomo3 = false
        this.countPomo4 = false
        this.countPomo5 = false
        this.form.attention3 = ''
        this.form.location3 = ''
        this.form.visitor3 = 0
        this.form.prospective3 = 0
        this.form.booking3 = 0
        this.form.invoice3 = 0
        this.form.date_startRemark3 = ''
        this.form.date_stopRemark3 = ''
        this.form.money3 = 0
        this.form.attention4 = ''
        this.form.location4 = ''
        this.form.visitor4 = 0
        this.form.prospective4 = 0
        this.form.booking4 = 0
        this.form.invoice4 = 0
        this.form.date_startRemark4 = ''
        this.form.date_stopRemark4 = ''
        this.form.money4 = 0
        this.form.attention5 = ''
        this.form.location5 = ''
        this.form.visitor5 = 0
        this.form.prospective5 = 0
        this.form.booking5 = 0
        this.form.invoice5 = 0
        this.form.date_startRemark5 = ''
        this.form.date_stopRemark5 = ''
        this.form.money5 = 0
      }
      if (this.countPomo === '3') {
        this.countPomo1 = true
        this.countPomo2 = true
        this.countPomo3 = true
        this.countPomo4 = false
        this.countPomo5 = false
        this.form.attention4 = ''
        this.form.location4 = ''
        this.form.visitor4 = 0
        this.form.prospective4 = 0
        this.form.booking4 = 0
        this.form.invoice4 = 0
        this.form.date_startRemark4 = ''
        this.form.date_stopRemark4 = ''
        this.form.money4 = 0
        this.form.attention5 = ''
        this.form.location5 = ''
        this.form.visitor5 = 0
        this.form.prospective5 = 0
        this.form.booking5 = 0
        this.form.invoice5 = 0
        this.form.date_startRemark5 = ''
        this.form.date_stopRemark5 = ''
        this.form.money5 = 0
      }
      if (this.countPomo === '4') {
        this.countPomo1 = true
        this.countPomo2 = true
        this.countPomo3 = true
        this.countPomo4 = true
        this.countPomo5 = false
        this.form.attention5 = ''
        this.form.location5 = ''
        this.form.visitor5 = 0
        this.form.prospective5 = 0
        this.form.booking5 = 0
        this.form.invoice5 = 0
        this.form.date_startRemark5 = ''
        this.form.date_stopRemark5 = ''
        this.form.money5 = 0
      }
      if (this.countPomo === '5') {
        this.countPomo1 = true
        this.countPomo2 = true
        this.countPomo3 = true
        this.countPomo4 = true
        this.countPomo5 = true
      }
    },
    async onClearSearch () {},
    async getDataDB () {
      this.facebookData = []
      await axios
        .get(
          'https://asia-southeast2-betask-crm.cloudfunctions.net/Faccebook-bq_selete_all'
        )
        .then(async (response) => {
          this.facebookData = response.data
          console.log(response.data)
          this.datareport = response.data
          this.dataListReady = true
        })
    },
    getColor (status) {
      if (status === 'ACTIVE') return 'teal'
      else if (status === 'PAUSED') return 'orange'
    },
    setData (dt) {
      console.log(dt)
      this.form.message = dt.message
      this.form.picture = dt.picture
      this.form.time = dt.createTime
      this.form.shares = dt.countShares
      this.form.like = dt.countLike
      this.form.created = dt.createDate
      var datademographic = this.demographicData.filter(function (el) {
        return el.id === dt.id
      })
      this.countPomo = dt.countPromo || '1'
      // ************************************************************************************
      this.form.attention = dt.attention || ''
      this.form.location = dt.location || ''
      this.form.visitor = dt.visitor || 0
      this.form.prospective = dt.prospective || 0
      this.form.booking = dt.booking || 0
      this.form.invoice = dt.invoice || 0

      if (dt.date_startRemark !== null) {
        this.form.date_startRemark = dt.date_startRemark.value
      } else {
        this.form.date_startRemark = ''
      }
      if (dt.date_stopRemark !== null) {
        this.form.date_stopRemark = dt.date_stopRemark.value
      } else {
        this.form.date_stopRemark = ''
      }
      this.form.money = parseFloat(dt.money) || 0
      // ************************************************************************************
      this.form.attention2 = dt.attention2 || ''
      this.form.location2 = dt.location2 || ''
      this.form.visitor2 = dt.visitor2 || 0
      this.form.prospective2 = dt.prospective2 || 0
      this.form.booking2 = dt.booking2 || 0
      this.form.invoice2 = dt.invoice2 || 0
      if (dt.date_startRemark2 !== null) {
        this.form.date_startRemark2 = dt.date_startRemark2.value
      } else {
        this.form.date_startRemark2 = ''
      }
      if (dt.date_stopRemark2 !== null) {
        this.form.date_stopRemark2 = dt.date_stopRemark2.value
      } else {
        this.form.date_stopRemark2 = ''
      }
      this.form.money2 = parseFloat(dt.money2) || 0
      // ************************************************************************************
      this.form.attention3 = dt.attention3 || ''
      this.form.location3 = dt.location3 || ''
      this.form.visitor3 = dt.visitor3 || 0
      this.form.prospective3 = dt.prospective3 || 0
      this.form.booking3 = dt.booking3 || 0
      this.form.invoice3 = dt.invoice3 || 0
      if (dt.date_startRemark3 !== null) {
        this.form.date_startRemark3 = dt.date_startRemark3.value
      } else {
        this.form.date_startRemark3 = ''
      }
      if (dt.date_stopRemark3 !== null) {
        this.form.date_stopRemark3 = dt.date_stopRemark3.value
      } else {
        this.form.date_stopRemark3 = ''
      }
      this.form.money3 = parseFloat(dt.money3) || 0
      // ************************************************************************************
      this.form.attention4 = dt.attention4 || ''
      this.form.location4 = dt.location4 || ''
      this.form.visitor4 = dt.visitor4 || 0
      this.form.prospective4 = dt.prospective4 || 0
      this.form.booking4 = dt.booking4 || 0
      this.form.invoice4 = dt.invoice4 || 0
      if (dt.date_startRemark4 !== null) {
        this.form.date_startRemark4 = dt.date_startRemark4.value
      } else {
        this.form.date_startRemark4 = ''
      }
      if (dt.date_stopRemark4 !== null) {
        this.form.date_stopRemark4 = dt.date_stopRemark4.value
      } else {
        this.form.date_stopRemark4 = ''
      }
      this.form.money4 = parseFloat(dt.money4) || 0
      // ************************************************************************************
      this.form.attention5 = dt.attention5 || ''
      this.form.location5 = dt.location5 || ''
      this.form.visitor5 = dt.visitor5 || 0
      this.form.prospective5 = dt.prospective5 || 0
      this.form.booking5 = dt.booking5 || 0
      this.form.invoice5 = dt.invoice5 || 0
      if (dt.date_startRemark5 !== null) {
        this.form.date_startRemark5 = dt.date_startRemark5.value
      } else {
        this.form.date_startRemark5 = ''
      }
      if (dt.date_stopRemark5 !== null) {
        this.form.date_stopRemark5 = dt.date_stopRemark5.value
      } else {
        this.form.date_stopRemark5 = ''
      }
      this.form.money5 = parseFloat(dt.money5) || 0
      this.chkCountPomo()
      // this.form.id = datademographic[0].id
      this.form.date_start = dt.date_start.value
      this.form.date_stop = dt.date_stop.value
      this.desserts = datademographic
      var dataRegions = this.regionData.filter(function (el) {
        return el.id === dt.id
      })
      // console.log(dataRegions[0].insights.data)
      this.regionDataTabel = dataRegions
      this.dialog = true
    },
    async getDataRegion () {
      this.regionDataTabel = []
      await axios
        .get(
          'https://asia-southeast2-betask-crm.cloudfunctions.net/Faccebook-bq_selete_FacebookLocation'
        )
        .then(async (response) => {
          this.regionData = response.data
        })
    },
    async getDataDemographic () {
      this.desserts = []
      await axios
        .get(
          'https://asia-southeast2-betask-crm.cloudfunctions.net/Faccebook-bq_selete_FacebookDemographic'
        )
        .then(async (response) => {
          this.demographicData = response.data
        })
    }
  }
}
</script>
<style>
table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
