<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <!-- <v-card-title>Import Data 010 For Booking</v-card-title> -->
              <v-card-text>
                 <v-row>
                  <v-col cols="12">
                    <b>Import Data PUD Reports</b>
                  </v-col>
                </v-row>
                <v-card>
                <v-card-text>
                <div class="text-center">
                  <v-row class="mb-12" justify="center" no-gutters>
                    <v-col cols="12">
                      <v-icon color="green darken-2" size="70"
                        >mdi-microsoft-excel</v-icon
                      ><br />
                      <br />
                      <vue-xlsx-table
                        v-if="importPUD.length == 0"
                        @on-select-file="importPUDFile"
                        >Import Excel PUD</vue-xlsx-table
                      >
                    </v-col>
                  </v-row>
                </div>
                <div class="text-center">
                  <v-row class="mb-12" justify="center" no-gutters>
                    <v-col cols="6">
                      <v-chip
                        class="ma-2"
                        color="warning"
                        label
                        text-color="white"
                        v-if="importPUD.length == 0"
                      >
                        <v-icon left> mdi-alert-outline </v-icon>
                        Import File Warning
                      </v-chip>
                      <v-chip
                        class="ma-2"
                        color="success"
                        label
                        text-color="white"
                        v-if="importPUD.length > 0"
                      >
                        <v-icon left> mdi-checkbox-multiple-marked </v-icon>
                        Import File PUD Success
                      </v-chip>
                    </v-col>
                   </v-row>
                </div>
                </v-card-text>
                </v-card>
                <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                      color="info"
                      depressed
                      v-if="importPUD.length > 0"
                      @click.prevent="countData()"
                    >
                      <v-icon left> mdi-file-tree-outline </v-icon>
                      View Data PUD
                    </v-btn>
                    <v-btn
                      color="error"
                      depressed
                      @click.prevent="onClearCountData()"
                    >
                      <v-icon left> settings_backup_restore </v-icon>
                      Clear
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12">
            <v-card elevation="7" v-if="dataReady">
              <v-card-text>
                <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                      v-if="dataSubmit"
                      color="teal"
                      depressed
                      dark
                      @click.prevent="onSubmit()"
                    >
                      <v-icon left> mdi-content-save-edit-outline </v-icon>
                      บันทึกข้อมูล
                    </v-btn>
                  </v-col>
                </v-row>
                <v-data-table
                  :headers="columns"
                  :items="dataSave"
                  :items-per-page="5"
                >
                </v-data-table>
                <!-- <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                    v-if="dataSubmit"
                      color="teal"
                      depressed
                      dark
                      @click.prevent="onSubmit()"
                    >
                      <v-icon left> mdi-content-save-edit-outline </v-icon>
                      บันทึกข้อมูล
                    </v-btn>
                  </v-col>
                </v-row> -->
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12">
          <div v-if="!dataReady" class="text-center">
                  <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="red"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="70"
                    :width="7"
                    color="purple"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="green"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="50"
                    color="amber"
                    indeterminate
                  ></v-progress-circular>
                  <br>
                  <br>
                  <v-progress-linear
                    v-model="knowledge"
                    height="25"
                  >
                    <strong>{{ Math.ceil(knowledge) }}%</strong>
                  </v-progress-linear>
                </div>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
// import XLSX from 'xlsx' // import xlsx
export default {
  // layout: 'Zoom',
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      knowledge: 0,
      dialogAdd: false,
      panel: [0],
      panel1: [0],
      session: this.$session.getAll(),
      searchAll: '',
      columns: [
        { text: 'CampaignCode', value: 'CampaignCode' },
        { text: 'CampaignName', value: 'CampaignName' },
        { text: 'VIN', value: 'VIN' },
        { text: 'PlateNo', value: 'PlateNo' },
        { text: 'CustomerID', value: 'CustomerID' },
        { text: 'CallingStatus', value: 'CallingStatus' },
        { text: 'ผลการอัพเดทจากส่วนกลาง', value: 'UpdateCenter' },
        { text: 'ผลการโทรศัพท์ติดตาม', value: 'Phonetracker' },
        { text: 'DateOfCalling', value: 'DateOfCalling' },
        { text: 'DEALER_CODE', value: 'DEALER_CODE' },
        { text: 'CH_NAME_CODE', value: 'CH_NAME_CODE' },
        { text: 'CH_TNAME', value: 'CH_TNAME' },
        { text: 'CH_SHORT_NAME', value: 'CH_SHORT_NAME' },
        { text: 'CustomerName', value: 'CustomerName' },
        { text: 'Phone1', value: 'Phone1' },
        { text: 'Phone2', value: 'Phone2' },
        { text: 'PartNo', value: 'PartNo' },
        { text: 'Pudslc', value: 'Pudslc' },
        { text: 'CanContact', value: 'CanContact' },
        { text: 'CannotContactReason', value: 'CannotContactReason' },
        { text: 'District', value: 'District' },
        { text: 'Province', value: 'Province' },
        { text: 'PostCode', value: 'PostCode' },
        { text: 'IsMakeAppointment', value: 'IsMakeAppointment' },
        { text: 'AppointmentDateTime', value: 'AppDateTime' },
        { text: 'NoAppointmentReason', value: 'NoAppReason' },
        { text: 'NoAppointmentReason_Other', value: 'NoAppReason_Other' },
        { text: 'Remark', value: 'Remark' },
        { text: 'InformCampaignToWhom', value: 'InformCampToWhom' },
        { text: 'CarUserName', value: 'CarUserName' },
        { text: 'CarUserPhoneNo', value: 'CarUserPhoneNo' },
        { text: 'FollowerName', value: 'FollowerName' },
        { text: 'ReopenDescription', value: 'ReopenDesc' },
        { text: 'ClaimDate', value: 'ClaimDate' },
        { text: 'PolicyNumber', value: 'PolicyNumber' },
        { text: 'ClaimNumber', value: 'ClaimNumber' },
        { text: 'InsuranceProtectionDate', value: 'InsurProtectionDate' },
        { text: 'InsuranceExpiredDate', value: 'InsurExpiredDate' },
        { text: 'AccidentDate', value: 'AccidentDate' },
        { text: 'AccidentReportSubmissionDate', value: 'SubmissionDate' }

      ],
      dataReady: true,
      dataSubmit: false,
      datareport: [],
      dataSave: [],
      dataSavePM: [],
      importPUD: [],
      ImportAgeing: []
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/ImportsData/Login')
    }
  },
  methods: {
    importPUDFile (convertedData) {
      console.log(convertedData.header)
      this.importPUD = convertedData.body
      var obj = {}

      for (var i = 0, len = this.importPUD.length; i < len; i++) { obj[this.importPUD[i]['DEALER_CODE']] = this.importPUD[i] }

      // eslint-disable-next-line no-array-constructor
      this.importPUD = new Array()
      for (var key in obj) { this.importPUD.push(obj[key]) }
      console.log(this.importPUD)
      // this.dataReady = false
      // this.chkAndUpdate(convertedData.body)
    },
    async countData () {
      this.knowledge = 0
      this.dataReady = false
      this.dataSubmit = false
      this.dataSave = []

      for (var i = 0; i < this.importPUD.length; i++) {
        var d = this.importPUD[i]
        var s = {}
        if (d.DEALER_CODE !== '') {
          const date = d.DEALER_CODE.split('/')
          const year = String(date[2]).substring(0, 4)
          const month = String(date[1])
          const day = String(date[0])
          s.DEALER_CODE = year + '-' + month + '-' + day
          const dateLocal1 = new Date(parseInt(year), parseInt(month) - 1, parseInt(day))
          s.timestampdateDEALER_CODE = dateLocal1.getTime()
          // console.log(dateLocal1.getDay(), dateLocal1, d.เลขที่นัดหมาย, s.dateAppointment)
        } else {
          s.DEALER_CODE = ''
          s.timestampDEALER_CODE = 0
        }
        // console.log(d.วันที่เปิดใบสั่งซ่อม)
        s.CampaignCode = d.CampaignCode
        s.CampaignName = d.CampaignName
        s.VIN = d.VIN
        s.PlateNo = d.PlateNo
        s.CustomerID = d.CustomerID
        s.CallingStatus = d.CallingStatus
        s.UpdateCenter = d.ผลการอัพเดทจากส่วนกลาง
        s.Phonetracker = d.ผลการโทรศัพท์ติดตาม
        s.DateOfCalling = d.DateOfCalling
        s.DEALER_CODE = d.DEALER_CODE
        s.CH_NAME_CODE = d.CH_NAME_CODE
        s.CH_TNAME = d.CH_TNAME
        s.CH_SHORT_NAME = d.CH_SHORT_NAME
        s.CustomerName = d.CustomerName
        s.Phone1 = d.Phone1
        s.Phone2 = d.Phone2
        s.PartNo = d.PartNo
        s.Pudslc = d.Pudslc
        s.CanContact = d.CanContact
        s.CannotContactReason = d.CannotContactReason
        s.District = d.District
        s.Province = d.Province
        s.PostCode = d.PostCode
        s.IsMakeAppointment = d.IsMakeAppointment
        s.AppDateTime = d.AppointmentDateTime
        s.NoAppReason = d.NoAppointmentReason
        s.NoAppReason_Other = d.NoAppointmentReason_Other
        s.Remark = d.Remark
        s.InformCampToWhom = d.InformCampaignToWhom
        s.CarUserName = d.CarUserName
        s.CarUserPhoneNo = d.CarUserPhoneNo
        s.FollowerName = d.FollowerName
        s.ReopenDesc = d.ReopenDescription
        s.ClaimDate = d.ClaimDate
        s.PolicyNumber = d.PolicyNumber
        s.ClaimNumber = d.ClaimNumber
        s.InsurProtectionDate = d.InsuranceProtectionDate
        s.InsurExpiredDate = d.InsuranceExpiredDate
        s.AccidentDate = d.AccidentDate
        s.SubmissionDate = d.AccidentReportSubmissionDate

        var chkMap = this.importPUD.filter(function (el) {
          return (
            el.DEALER_CODE === s.DEALER_CODE
          )
        })
        if (chkMap.length > 0) {
          console.log(chkMap.length, chkMap, s.CampaignCode)
          s.CampaignCode = chkMap[0].CampaignCode
          s.CampaignName = chkMap[0].CampaignName
          s.VIN = chkMap[0].VIN
          s.PlateNo = chkMap[0].PlateNo
          s.CustomerID = chkMap[0].CustomerID
          s.CallingStatus = chkMap[0].CallingStatus
          s.UpdateCenter = chkMap[0].ผลการอัพเดทจากส่วนกลาง
          s.Phonetracker = chkMap[0].ผลการโทรศัพท์ติดตาม
          s.DateOfCalling = chkMap[0].DateOfCalling
          s.DEALER_CODE = chkMap[0].DEALER_CODE
          s.CH_NAME_CODE = chkMap[0].CH_NAME_CODE
          s.CH_TNAME = chkMap[0].CH_TNAME
          s.CH_SHORT_NAME = chkMap[0].CH_SHORT_NAME
          s.CustomerName = chkMap[0].CustomerName
          s.Phone1 = chkMap[0].Phone1
          s.Phone2 = chkMap[0].Phone2
          s.PartNo = chkMap[0].PartNo
          s.Pudslc = chkMap[0].Pudslc
          s.CanContact = chkMap[0].CanContact
          s.CannotContactReason = chkMap[0].CannotContactReason
          s.District = chkMap[0].District
          s.Province = chkMap[0].Province
          s.PostCode = chkMap[0].PostCode
          s.IsMakeAppointment = chkMap[0].IsMakeAppointment
          s.AppDateTime = chkMap[0].AppointmentDateTime
          s.NoAppReason = chkMap[0].NoAppointmentReason
          s.NoAppReason_Other = chkMap[0].NoAppointmentReason_Other
          s.Remark = chkMap[0].Remark
          s.InformCampToWhom = chkMap[0].InformCampaignToWhom
          s.CarUserName = chkMap[0].CarUserName
          s.CarUserPhoneNo = chkMap[0].CarUserPhoneNo
          s.FollowerName = chkMap[0].FollowerName
          s.ReopenDesc = chkMap[0].ReopenDescription
          s.ClaimDate = chkMap[0].ClaimDate
          s.PolicyNumber = chkMap[0].PolicyNumber
          s.ClaimNumber = chkMap[0].ClaimNumber
          s.InsurProtectionDate = chkMap[0].InsuranceProtectionDate
          s.InsurExpiredDate = chkMap[0].InsuranceExpiredDate
          s.AccidentDate = chkMap[0].AccidentDate
          s.SubmissionDate = chkMap[0].AccidentReportSubmissionDate
        } else {
          s.CampaignCode = ''
          s.CampaignName = ''
          s.VIN = ''
          s.PlateNo = ''
          s.CustomerID = ''
          s.CallingStatus = ''
          s.UpdateCenter = ''
          s.Phonetracker = ''
          s.DateOfCalling = ''
          s.DEALER_CODE = ''
          s.CH_NAME_CODE = ''
          s.CH_TNAME = ''
          s.CH_SHORT_NAME = ''
          s.CustomerName = ''
          s.Phone1 = ''
          s.Phone2 = ''
          s.PartNo = ''
          s.Pudslc = ''
          s.CanContact = ''
          s.CannotContactReason = ''
          s.District = ''
          s.Province = ''
          s.PostCode = ''
          s.IsMakeAppointment = ''
          s.AppDateTime = ''
          s.NoAppReason = ''
          s.NoAppReason_Other = ''
          s.Remark = ''
          s.InformCampToWhom = ''
          s.CarUserName = ''
          s.CarUserPhoneNo = ''
          s.FollowerName = ''
          s.ReopenDesc = ''
          s.ClaimDate = ''
          s.PolicyNumber = ''
          s.ClaimNumber = ''
          s.InsurProtectionDate = ''
          s.InsurExpiredDate = ''
          s.AccidentDate = ''
          s.SubmissionDate = ''
        }
        this.dataSave.push(s)
        this.knowledge = (i / this.dataSave.length) * 100
      }
      this.dataReady = true
      console.log(this.dataSave)
      this.dataSubmit = true
      // await this.countDataPM()
    },
    async onSubmit () { //* ปุ่มบันทึกข้อมูล* //
      this.dataReady = false
      this.knowledge = 0
      for (var i = 0; i < this.dataSave.length; i++) {
        const today = new Date()
        const date =
              today.getFullYear() +
              '' +
              (today.getMonth() + 1) +
              '' +
              today.getDate()
        const time =
              today.getHours() + '' + today.getMinutes() + '' + today.getSeconds() + '' + today.getUTCMilliseconds()
        const dateTime = date + '' + time
        var d = this.dataSave[i]
        d.dateTimess = dateTime
        // const url = `${this.$apiUrl}ImportsData/ImportAgeing/getData?noRepair=` + d.noRepair
        const url = `http://localhost/vgroupl_api/v1/ImportsData/Accident/ImportAccident/getData?VIN=` + d.VIN
        // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
        const config = {
          headers: {
            'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
            // 'Application-Key': this.$apiToken
          }
          // params: {
          //   faxStatus: d.typeRepair
          // }
        }
        await axios
          .get(url, config)
          .then(async response => {
            console.log(response.data[0].countJob)
            if (response.data === 'ไม่มีข้อมูล') {
              await this.insertData(d)
              console.log('insert')
            } else {
              d.noID010 = response.data[0].noID010
              console.log('update')
              await this.updateData(d)
            }
          })
        this.knowledge = (i / this.dataSave.length) * 100
      }
      this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
      this.dataSave = []
      this.dataReady = true
      this.dataSubmit = false
      // this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
    },
    insertData (d) {
      // const url = `${this.$apiUrl}ImportsData/ImportAgeing/add010_data`
      const url = `http://localhost/vgroupl_api/v1/ImportsData/Accident/ImportAccident/addDataAccident`

      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
          // 'Application-Key': this.$apiToken
        }
      }
      const dt = {
        'no': d.dateTimess,
        'branchNo': d.branchNo,
        'order': d.order,
        'location': d.location,
        'pageCode': d.pageCode,
        'pageTitle': d.pageTitle,
        'materialGroup': d.materialGroup,
        'partsNumber': d.partsNumber,
        'partsNumSS': d.partsNumSS,
        'PartsName': d.PartsName,
        'averageCost': d.averageCost,
        'retailPrice': d.retailPrice,
        'stockValue': d.stockValue,
        'RemainingValue': d.RemainingValue,
        'RemainingStock': d.RemainingStock,
        'stock': d.stock,
        'rank': d.rank,
        'codeABC': d.codeABC,
        'AvgDMN': d.AvgDMN,
        'dateIn': d.dateIn,
        'dateOut': d.dateOut,
        'MovType': d.MovType,
        'MovTypeDesc': d.MovTypeDesc,
        'AgeingParts': d.AgeingParts,
        'notMovDate': d.notMovDate,
        'notMovMonth': d.notMovMonth,
        'notMovYear': d.notMovYear,
        'mainParts': d.mainParts,
        'RECORD_STATUS': 'N'
      }
      axios
        .post(url, dt, config)
        .then((response) => {})
    },
    updateData (d) {
      // const url = `${this.$apiUrl}ImportsData/ImportAgeing/updateData`
      const url = `http://localhost/vgroupl_api/v1/ImportsData/Accident/ImportAccident/updateDataAccident`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          // 'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
          'Application-Key': this.$apiToken
        }
      }
      const dt = {
        'noID010': d.noID010,
        'branchNo': d.branchNo,
        'noRepair': d.noRepair,
        'noTypeRepair': d.noTypeRepair,
        'detailTypeRepair': d.detailTypeRepair,
        'GR': d.dataGR || 0,
        'PM': d.dataPM || 0,
        'BP': d.dataBP || 0,
        'PD': d.dataPD || 0,
        'AC': d.dataAC || 0,
        'OT': d.dataOT || 0,
        'frameNo': d.frameNo,
        'dateOpenRepair': d.dateOpenRepair
      }
      axios
        .post(url, dt, config)
        .then((response) => {})
    },
    onClearCountData () {
      this.importOBS = []
      this.ImportAgeing = []
      this.dataSave = []
      this.dataSubmit = false
      this.dataReady = true
    }
  }
}
</script>
<style scope>
</style>
