<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <!-- <v-card-title>Import Data 010 For Booking</v-card-title> -->
              <v-card-text>
                 <v-row>
                  <v-col cols="12">
                    <b>Import Data Parts Ageing</b>
                  </v-col>
                </v-row>
                <v-card>
                <v-card-text>
                <div class="text-center">
                  <v-row class="mb-12" justify="center" no-gutters>
                    <v-col cols="12">
                      <v-icon color="green darken-2" size="70"
                        >mdi-microsoft-excel</v-icon
                      ><br />
                      <br />
                      <vue-xlsx-table
                        v-if="ImportAgeing.length == 0"
                        @on-select-file="ImportAgeingFile"
                        >Import Excel Ageing</vue-xlsx-table
                      >
                    </v-col>
                  </v-row>
                </div>
                <div class="text-center">
                  <v-row class="mb-12" justify="center" no-gutters>
                    <v-col cols="6">
                      <v-chip
                        class="ma-2"
                        color="warning"
                        label
                        text-color="white"
                        v-if="ImportAgeing.length == 0"
                      >
                        <v-icon left> mdi-alert-outline </v-icon>
                        Import File Warning
                      </v-chip>
                      <v-chip
                        class="ma-2"
                        color="success"
                        label
                        text-color="white"
                        v-if="ImportAgeing.length > 0"
                      >
                        <v-icon left> mdi-checkbox-multiple-marked </v-icon>
                        Import File Ageing Success
                      </v-chip>
                    </v-col>
                   </v-row>
                </div>
                </v-card-text>
                </v-card>
                <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                      color="info"
                      depressed
                      v-if="ImportAgeing.length > 0"
                      @click.prevent="countData()"
                    >
                      <v-icon left> mdi-file-tree-outline </v-icon>
                      View Data
                    </v-btn>
                    <v-btn
                      color="error"
                      depressed
                      @click.prevent="onClearCountData()"
                    >
                      <v-icon left> settings_backup_restore </v-icon>
                      Clear
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12">
            <v-card elevation="7" v-if="dataReady">
              <v-card-text>
                <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                      v-if="dataSubmit"
                      color="teal"
                      depressed
                      dark
                      @click.prevent="onSubmit()"
                    >
                      <v-icon left> mdi-content-save-edit-outline </v-icon>
                      บันทึกข้อมูล
                    </v-btn>
                  </v-col>
                </v-row>
                <v-data-table
                  :headers="columns"
                  :items="dataSave"
                  :items-per-page="5"
                >
                </v-data-table>
                <!-- <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                    v-if="dataSubmit"
                      color="teal"
                      depressed
                      dark
                      @click.prevent="onSubmit()"
                    >
                      <v-icon left> mdi-content-save-edit-outline </v-icon>
                      บันทึกข้อมูล
                    </v-btn>
                  </v-col>
                </v-row> -->
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12">
          <div v-if="!dataReady" class="text-center">
                  <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="red"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="70"
                    :width="7"
                    color="purple"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="green"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="50"
                    color="amber"
                    indeterminate
                  ></v-progress-circular>
                  <br>
                  <br>
                  <v-progress-linear
                    v-model="knowledge"
                    height="25"
                  >
                    <strong>{{ Math.ceil(knowledge) }}%</strong>
                  </v-progress-linear>
                </div>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
// import XLSX from 'xlsx' // import xlsx
export default {
  // layout: 'Zoom',
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      knowledge: 0,
      dialogAdd: false,
      panel: [0],
      panel1: [0],
      session: this.$session.getAll(),
      searchAll: '',
      columns: [
        { text: 'สาขา', value: 'branchNo' },
        { text: 'ที', value: 'order' },
        { text: 'สถานที่เก็บ', value: 'location' },
        { text: 'รหัสหน้าที่อะไหล', value: 'pageCode' },
        { text: 'ชื่อหน้าที่อะไหล', value: 'pageTitle' },
        { text: 'กลุ่มวัสด', value: 'materialGroup' },
        { text: 'หมายเลขอะไหล', value: 'partsNumber' },
        { text: 'หมายเลขอะไหล่SS', value: 'partsNumSS' },
        { text: 'ชื่ออะไหล', value: 'PartsName' },
        { text: 'ต้นทุนเฉลี่ย', value: 'averageCost' },
        { text: 'ราคาขายปลีก', value: 'retailPrice' },
        { text: 'มูลค่าสต็อกTA', value: 'stockValue' },
        { text: 'มูลค่าสต็อกคงเหลือ', value: 'RemainingValue' },
        { text: 'จำนวนสต๊อกคงเหลือ', value: 'RemainingStock' },
        { text: 'จำนวนสต็อกTA', value: 'stock' },
        { text: 'ระดับสต๊อก', value: 'rank' },
        { text: 'รหัสABC', value: 'codeABC' },
        { text: 'AvgDMN', value: 'AvgDMN' },
        { text: 'วันที่สินค้าเข้าล่าส', value: 'dateIn' },
        { text: 'วันที่สินค้าออกล่าส', value: 'dateOut' },
        { text: 'MovementType', value: 'MovType' },
        { text: 'MovementTypeDesc', value: 'MovTypeDesc' },
        { text: 'อายุสต๊อกอะไหล่yymmdd', value: 'AgeingParts' },
        { text: 'ระยะไม่เคลื่อนไหววัน', value: 'notMovDate' },
        { text: 'ระยะไม่เคลื่อนไหวเดือน', value: 'notMovMonth' },
        { text: 'ระยะไม่เคลื่อนไหวปี', value: 'notMovYear' },
        { text: 'อะไหล่หลัก', value: 'mainParts' }

      ],
      dataReady: true,
      dataSubmit: false,
      datareport: [],
      dataSave: [],
      dataSavePM: [],
      importOBS: [],
      ImportAgeing: []
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/ImportsData/Login')
    }
  },
  methods: {
    ImportAgeingFile (convertedData) {
      console.log(convertedData.header)
      this.ImportAgeing = convertedData.body
      var obj = {}

      for (var i = 0, len = this.ImportAgeing.length; i < len; i++) { obj[this.ImportAgeing[i]['สาขา']] = this.ImportAgeing[i] }

      // eslint-disable-next-line no-array-constructor
      this.ImportAgeing = new Array()
      for (var key in obj) { this.ImportAgeing.push(obj[key]) }
      console.log(this.ImportAgeing)
      // this.dataReady = false
      // this.chkAndUpdate(convertedData.body)
    },
    async countData () {
      this.knowledge = 0
      this.dataReady = false
      this.dataSubmit = false
      this.dataSave = []

      for (var i = 0; i < this.ImportAgeing.length; i++) {
        var d = this.ImportAgeing[i]
        var s = {}
        if (d.สาขา !== '') {
          const date = d.สาขา.split('/')
          const year = String(date[2]).substring(0, 4)
          const month = String(date[1])
          const day = String(date[0])
          s.branchNo = year + '-' + month + '-' + day
          const dateLocal1 = new Date(parseInt(year), parseInt(month) - 1, parseInt(day))
          s.timestampdatebranchNo = dateLocal1.getTime()
          // console.log(dateLocal1.getDay(), dateLocal1, d.เลขที่นัดหมาย, s.dateAppointment)
        } else {
          s.branchNo = ''
          s.timestampbranchNo = 0
        }
        // console.log(d.วันที่เปิดใบสั่งซ่อม)
        s.branchNo = d.สาขา
        s.order = d.ที่
        s.location = d.สถานที่เก็บ
        s.pageCode = d.รหัสหน้าที่อะไหล่
        s.pageTitle = d.ชื่อหน้าที่อะไหล่
        s.materialGroup = d.กลุ่มวัสดุ
        s.partsNumber = d.หมายเลขอะไหล่
        s.partsNumSS = d.หมายเลขอะไหล่SS่
        s.PartsName = d.ชื่ออะไหล่
        s.averageCost = d.ต้นทุนเฉลี่ย
        s.retailPrice = d.ราคาขายปลีก
        s.stockValue = d.มูลค่าสต็อกTA
        s.RemainingValue = d.มูลค่าสต็อกคงเหลือ
        s.RemainingStock = d.จำนวนสต๊อกคงเหลือ
        s.stock = d.จำนวนสต็อกTA
        s.rank = d.ระดับสต๊อก
        s.codeABC = d.รหัสABC
        s.AvgDMN = d.AvgDMN
        s.dateIn = d.วันที่สินค้าเข้าล่าส
        s.dateOut = d.วันที่สินค้าออกล่าสุ
        s.MovType = d.MovementType
        s.MovTypeDesc = d.MovementTypeDesc
        s.AgeingParts = d.อายุสต๊อกอะไหล่yymmdd
        s.notMovDate = d.ระยะไม่เคลื่อนไหววัน
        s.notMovMonth = d.ระยะไม่เคลื่อนไหวเดือน
        s.notMovYear = d.ระยะไม่เคลื่อนไหวปี
        s.mainParts = d.อะไหล่หลัก

        var chkMap = this.ImportAgeing.filter(function (el) {
          return (
            el.สาขา === s.branchNo
          )
        })
        if (chkMap.length > 0) {
          console.log(chkMap.length, chkMap, s.branchNo)
          s.branchNo = chkMap[0].สาขา
          s.order = chkMap[0].ที่
          s.location = chkMap[0].สถานที่เก็บ
          s.pageCode = chkMap[0].รหัสหน้าที่อะไหล่
          s.pageTitle = chkMap[0].ชื่อหน้าที่อะไหล่
          s.materialGroup = chkMap[0].กลุ่มวัสดุ
          s.partsNumber = chkMap[0].หมายเลขอะไหล่
          s.partsNumSS = chkMap[0].หมายเลขอะไหล่SS
          s.PartsName = chkMap[0].ชื่ออะไหล่
          s.averageCost = chkMap[0].ต้นทุนเฉลี่ย
          s.retailPrice = chkMap[0].ราคาขายปลีก
          s.stockValue = chkMap[0].มูลค่าสต็อกTA
          s.RemainingValue = chkMap[0].มูลค่าสต็อกคงเหลือ
          s.RemainingStock = chkMap[0].จำนวนสต๊อกคงเหลือ
          s.stock = chkMap[0].จำนวนสต็อกTA
          s.rank = chkMap[0].ระดับสต๊อก
          s.codeABC = chkMap[0].รหัสABC
          s.AvgDMN = chkMap[0].AvgDMN
          s.dateIn = chkMap[0].วันที่สินค้าเข้าล่าสุด
          s.dateOut = chkMap[0].วันที่สินค้าออกล่าสุด
          s.MovType = chkMap[0].MovementType
          s.MovTypeDesc = chkMap[0].MovementTypeDesc
          s.AgeingParts = chkMap[0].อายุสต๊อกอะไหล่yymmdd
          s.notMovDate = chkMap[0].ระยะไม่เคลื่อนไหววัน
          s.notMovMonth = chkMap[0].ระยะไม่เคลื่อนไหวเดือน
          s.notMovYear = chkMap[0].ระยะไม่เคลื่อนไหวปี
          s.mainParts = chkMap[0].อะไหล่หลัก
        } else {
          s.branchNo = ''
          s.order = ''
          s.location = ''
          s.pageCode = ''
          s.pageTitle = ''
          s.materialGroup = ''
          s.partsNumber = ''
          s.partsNumSS = ''
          s.PartsName = ''
          s.averageCost = ''
          s.retailPrice = ''
          s.stockValue = ''
          s.RemainingValue = ''
          s.RemainingStock = ''
          s.stock = ''
          s.rank = ''
          s.codeABC = ''
          s.AvgDMN = ''
          s.dateIn = ''
          s.dateOut = ''
          s.MovType = ''
          s.MovTypeDesc = ''
          s.AgeingParts = ''
          s.notMovDate = ''
          s.notMovMonth = ''
          s.notMovYear = ''
          s.mainParts = ''
        }
        this.dataSave.push(s)
        this.knowledge = (i / this.dataSave.length) * 100
      }
      this.dataReady = true
      console.log(this.dataSave)
      this.dataSubmit = true
      // await this.countDataPM()
    },
    async onSubmit () { //* ปุ่มบันทึกข้อมูล* //
      this.dataReady = false
      this.knowledge = 0
      for (var i = 0; i < this.dataSave.length; i++) {
        const today = new Date()
        const date =
              today.getFullYear() +
              '' +
              (today.getMonth() + 1) +
              '' +
              today.getDate()
        const time =
              today.getHours() + '' + today.getMinutes() + '' + today.getSeconds() + '' + today.getUTCMilliseconds()
        const dateTime = date + '' + time
        var d = this.dataSave[i]
        d.dateTimess = dateTime
        // const url = `${this.$apiUrl}ImportsData/ImportAgeing/getData?noRepair=` + d.noRepair
        const url = `http://localhost/vgroupl_api/v1/ImportsData/Ageing/PartsAgeing/getData?branchNo=` + d.branchNo
        // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
        const config = {
          headers: {
            'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
            // 'Application-Key': this.$apiToken
          }
          // params: {
          //   faxStatus: d.typeRepair
          // }
        }
        await axios
          .get(url, config)
          .then(async response => {
            console.log(response.data[0].countJob)
            if (response.data === 'ไม่มีข้อมูล') {
              await this.insertData(d)
              console.log('insert')
            } else {
              d.noID010 = response.data[0].noID010
              console.log('update')
              await this.updateData(d)
            }
          })
        this.knowledge = (i / this.dataSave.length) * 100
      }
      this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
      this.dataSave = []
      this.dataReady = true
      this.dataSubmit = false
      // this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
    },
    insertData (d) {
      // const url = `${this.$apiUrl}ImportsData/ImportAgeing/add010_data`
      const url = `http://localhost/vgroupl_api/v1/ImportsData/Ageing/PartsAgeing/addDataParts`

      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
          // 'Application-Key': this.$apiToken
        }
      }
      const dt = {
        'no': d.dateTimess,
        'branchNo': d.branchNo,
        'order': d.order,
        'location': d.location,
        'pageCode': d.pageCode,
        'pageTitle': d.pageTitle,
        'materialGroup': d.materialGroup,
        'partsNumber': d.partsNumber,
        'partsNumSS': d.partsNumSS,
        'PartsName': d.PartsName,
        'averageCost': d.averageCost,
        'retailPrice': d.retailPrice,
        'stockValue': d.stockValue,
        'RemainingValue': d.RemainingValue,
        'RemainingStock': d.RemainingStock,
        'stock': d.stock,
        'rank': d.rank,
        'codeABC': d.codeABC,
        'AvgDMN': d.AvgDMN,
        'dateIn': d.dateIn,
        'dateOut': d.dateOut,
        'MovType': d.MovType,
        'MovTypeDesc': d.MovTypeDesc,
        'AgeingParts': d.AgeingParts,
        'notMovDate': d.notMovDate,
        'notMovMonth': d.notMovMonth,
        'notMovYear': d.notMovYear,
        'mainParts': d.mainParts,
        'RECORD_STATUS': 'N'
      }
      axios
        .post(url, dt, config)
        .then((response) => {})
    },
    updateData (d) {
      // const url = `${this.$apiUrl}ImportsData/ImportAgeing/updateData`
      const url = `http://localhost/vgroupl_api/v1/ImportsData/Ageing/PartsAgeing/updateDataParts`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          // 'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
          'Application-Key': this.$apiToken
        }
      }
      const dt = {
        'noID010': d.noID010,
        'branchNo': d.branchNo,
        'noRepair': d.noRepair,
        'noTypeRepair': d.noTypeRepair,
        'detailTypeRepair': d.detailTypeRepair,
        'GR': d.dataGR || 0,
        'PM': d.dataPM || 0,
        'BP': d.dataBP || 0,
        'PD': d.dataPD || 0,
        'AC': d.dataAC || 0,
        'OT': d.dataOT || 0,
        'frameNo': d.frameNo,
        'dateOpenRepair': d.dateOpenRepair
      }
      axios
        .post(url, dt, config)
        .then((response) => {})
    },
    onClearCountData () {
      this.importOBS = []
      this.ImportAgeing = []
      this.dataSave = []
      this.dataSubmit = false
      this.dataReady = true
    }
  }
}
</script>
<style scope>
</style>
