<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <!-- <v-card-title>Import Data 010 For Booking</v-card-title> -->
              <v-card-text>
                 <v-row>
                  <v-col cols="12">
                    <b>Import Data 010 For Booking</b>
                  </v-col>
                </v-row>
                <v-card>
                <v-card-text>
                <div class="text-center">
                  <v-row class="mb-12" justify="center" no-gutters>
                    <v-col cols="12">
                      <v-icon color="green darken-2" size="70"
                        >mdi-microsoft-excel</v-icon
                      ><br />
                      <br />
                      <vue-xlsx-table
                        v-if="import010.length == 0"
                        @on-select-file="import010File"
                        >Import Excel 010</vue-xlsx-table
                      >
                    </v-col>
                  </v-row>
                </div>
                <div class="text-center">
                  <v-row class="mb-12" justify="center" no-gutters>
                    <v-col cols="6">
                      <v-chip
                        class="ma-2"
                        color="warning"
                        label
                        text-color="white"
                        v-if="import010.length == 0"
                      >
                        <v-icon left> mdi-alert-outline </v-icon>
                        Import File Warning
                      </v-chip>
                      <v-chip
                        class="ma-2"
                        color="success"
                        label
                        text-color="white"
                        v-if="import010.length > 0"
                      >
                        <v-icon left> mdi-checkbox-multiple-marked </v-icon>
                        Import File 010 Success
                      </v-chip>
                    </v-col>
                   </v-row>
                </div>
                </v-card-text>
                </v-card>
                <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                      color="info"
                      depressed
                      v-if="import010.length > 0"
                      @click.prevent="countData()"
                    >
                      <v-icon left> mdi-file-tree-outline </v-icon>
                      View Data 010
                    </v-btn>
                    <v-btn
                      color="error"
                      depressed
                      @click.prevent="onClearCountData()"
                    >
                      <v-icon left> settings_backup_restore </v-icon>
                      Clear
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12">
            <v-card elevation="7" v-if="dataReady">
              <v-card-text>
                <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                      v-if="dataSubmit"
                      color="teal"
                      depressed
                      dark
                      @click.prevent="onSubmit()"
                    >
                      <v-icon left> mdi-content-save-edit-outline </v-icon>
                      บันทึกข้อมูล
                    </v-btn>
                  </v-col>
                </v-row>
                <v-data-table
                  :headers="columns"
                  :items="dataSave"
                  :items-per-page="5"
                >
                </v-data-table>
                <!-- <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                    v-if="dataSubmit"
                      color="teal"
                      depressed
                      dark
                      @click.prevent="onSubmit()"
                    >
                      <v-icon left> mdi-content-save-edit-outline </v-icon>
                      บันทึกข้อมูล
                    </v-btn>
                  </v-col>
                </v-row> -->
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12">
          <div v-if="!dataReady" class="text-center">
                  <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="red"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="70"
                    :width="7"
                    color="purple"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="green"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="50"
                    color="amber"
                    indeterminate
                  ></v-progress-circular>
                  <br>
                  <br>
                  <v-progress-linear
                    v-model="knowledge"
                    height="25"
                  >
                    <strong>{{ Math.ceil(knowledge) }}%</strong>
                  </v-progress-linear>
                </div>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
// import XLSX from 'xlsx' // import xlsx
export default {
  // layout: 'Zoom',
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      knowledge: 0,
      dialogAdd: false,
      panel: [0],
      panel1: [0],
      session: this.$session.getAll(),
      searchAll: '',
      columns: [
        { text: 'รหัสผู้จำหน่าย', value: 'branchNo' },
        { text: 'Job No.', value: 'noRepair' },
        { text: 'รหัสประเภทการเข้าซ่อม', value: 'noTypeRepair' },
        { text: 'ประเภทการเข้าซ่อม', value: 'detailTypeRepair' },
        { text: 'PD', value: 'dataPD' },
        { text: 'PM', value: 'dataPM' },
        { text: 'GR', value: 'dataGR' },
        { text: 'BP', value: 'dataBP' },
        { text: 'AC', value: 'dataAC' },
        { text: 'OT', value: 'dataOT' },
        { text: 'หมายเลขตัวถัง', value: 'frameNo' },
        { text: 'วันที่เปิดใบสั่งซ่อม', value: 'dateOpenRepair' }
      ],
      dataReady: true,
      dataSubmit: false,
      datareport: [],
      dataSave: [],
      dataSavePM: [],
      importOBS: [],
      import010: []
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/ImportsData/Login')
    }
  },
  methods: {
    import010File (convertedData) {
      console.log(convertedData.header)
      this.import010 = convertedData.body
      var obj = {}

      for (var i = 0, len = this.import010.length; i < len; i++) { obj[this.import010[i]['เลขที่ใบสั่งซ่อม']] = this.import010[i] }

      // eslint-disable-next-line no-array-constructor
      this.import010 = new Array()
      for (var key in obj) { this.import010.push(obj[key]) }
      console.log(this.import010)
      // this.dataReady = false
      // this.chkAndUpdate(convertedData.body)
    },
    async countData () {
      this.knowledge = 0
      this.dataReady = false
      this.dataSubmit = false
      this.dataSave = []

      for (var i = 0; i < this.import010.length; i++) {
        var d = this.import010[i]
        var s = {}
        if (d.วันที่เปิดใบสั่งซ่อม !== '') {
          const date = d.วันที่เปิดใบสั่งซ่อม.split('/')
          const year = String(date[2]).substring(0, 4)
          const month = String(date[1])
          const day = String(date[0])
          s.dateOpenRepair = year + '-' + month + '-' + day
          const dateLocal1 = new Date(parseInt(year), parseInt(month) - 1, parseInt(day))
          s.timestampdateOpenRepair = dateLocal1.getTime()
          // console.log(dateLocal1.getDay(), dateLocal1, d.เลขที่นัดหมาย, s.dateAppointment)
        } else {
          s.dateOpenRepair = ''
          s.timestampdateOpenRepair = 0
        }
        // console.log(d.วันที่เปิดใบสั่งซ่อม)
        s.branchNo = d.รหัสผู้จำหน่าย
        s.noRepair = d.เลขที่ใบสั่งซ่อม
        s.noTypeRepair = d.รหัสประเภทการเข้าซ่อม
        s.detailTypeRepair = d.ประเภทการเข้าซ่อม
        s.dataPD = d.PD
        s.dataPM = d.PM
        s.dataGR = d.GR
        s.dataBP = d.BP
        s.dataAC = d.AC
        s.dataOT = d.OT
        s.frameNo = d.หมายเลขตัวถัง
        var chkMap = this.import010.filter(function (el) {
          return (
            el.เลขที่ใบสั่งซ่อม === s.noRepair && el.หมายเลขตัวถัง === s.frameNo
          )
        })
        if (chkMap.length > 0) {
          console.log(chkMap.length, chkMap, s.typeRepair)
          s.branchNo = chkMap[0].รหัสผู้จำหน่าย
          s.noTypeRepair = chkMap[0].รหัสประเภทการเข้าซ่อม
          s.detailTypeRepair = chkMap[0].ประเภทการเข้าซ่อม
          s.dataPM = chkMap[0].PM
          s.dataGR = chkMap[0].GR
          s.dataBP = chkMap[0].BP
          s.dataPD = chkMap[0].PD
          s.dataAC = chkMap[0].AC
          s.dataOT = chkMap[0].OT
        } else {
          s.branchNo = ''
          s.noTypeRepair = ''
          s.detailTypeRepair = ''
          s.dataPM = 0
          s.dataGR = 0
          s.dataBP = 0
          s.dataPD = 0
          s.dataAC = 0
          s.dataOT = 0
        }
        this.dataSave.push(s)
        this.knowledge = (i / this.dataSave.length) * 100
      }
      this.dataReady = true
      console.log(this.dataSave)
      this.dataSubmit = true
      // await this.countDataPM()
    },
    async onSubmit () { //* ปุ่มบันทึกข้อมูล* //
      this.dataReady = false
      this.knowledge = 0
      for (var i = 0; i < this.dataSave.length; i++) {
        const today = new Date()
        const date =
              today.getFullYear() +
              '' +
              (today.getMonth() + 1) +
              '' +
              today.getDate()
        const time =
              today.getHours() + '' + today.getMinutes() + '' + today.getSeconds() + '' + today.getUTCMilliseconds()
        const dateTime = date + '' + time
        var d = this.dataSave[i]
        d.dateTimess = dateTime
        const url = `${this.$apiUrl}ImportsData/Booking/Import010/getData?noRepair=` + d.noRepair
        // const url = `http://localhost/vgroupl_api/v1/ImportsData/Booking/Import010/getData?noRepair=` + d.noRepair
        // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
        const config = {
          headers: {
            // 'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
            'Application-Key': this.$apiToken
          }
          // params: {
          //   faxStatus: d.typeRepair
          // }
        }
        await axios
          .get(url, config)
          .then(async response => {
            console.log(response.data[0].countJob)
            if (response.data === 'ไม่มีข้อมูล') {
              await this.insertData(d)
              console.log('insert')
            } else {
              d.noID010 = response.data[0].noID010
              console.log('update')
              await this.updateData(d)
            }
          })
        this.knowledge = (i / this.dataSave.length) * 100
      }
      this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
      this.dataSave = []
      this.dataReady = true
      this.dataSubmit = false
      // this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
    },
    insertData (d) {
      const url = `${this.$apiUrl}ImportsData/Booking/Import010/addData010`
      // const url = `http://localhost/vgroupl_api/v1/ImportsData/Booking/Import010/addData010`

      const config = {
        headers: {
          'Content-Type': 'application/json',
          // 'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
          'Application-Key': this.$apiToken
        }
      }
      const dt = {
        'noID010': d.dateTimess,
        'branchNo': d.branchNo,
        'noRepair': d.noRepair,
        'noTypeRepair': d.noTypeRepair,
        'detailTypeRepair': d.detailTypeRepair,
        'GR': d.dataGR,
        'PM': d.dataPM,
        'BP': d.dataBP,
        'PD': d.dataPD,
        'AC': d.dataAC,
        'OT': d.dataOT,
        'frameNo': d.frameNo,
        'dateOpenRepair': d.dateOpenRepair,
        'RECORD_STATUS': 'N'
      }
      axios
        .post(url, dt, config)
        .then((response) => {})
    },
    updateData (d) {
      const url = `${this.$apiUrl}ImportsData/Booking/Import010/updateData010`
      // const url = `http://localhost/vgroupl_api/v1/ImportsData/Booking/Import010/updateData010`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          // 'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
          'Application-Key': this.$apiToken
        }
      }
      const dt = {
        'noID010': d.noID010,
        'branchNo': d.branchNo,
        'noRepair': d.noRepair,
        'noTypeRepair': d.noTypeRepair,
        'detailTypeRepair': d.detailTypeRepair,
        'GR': d.dataGR || 0,
        'PM': d.dataPM || 0,
        'BP': d.dataBP || 0,
        'PD': d.dataPD || 0,
        'AC': d.dataAC || 0,
        'OT': d.dataOT || 0,
        'frameNo': d.frameNo,
        'dateOpenRepair': d.dateOpenRepair
      }
      axios
        .post(url, dt, config)
        .then((response) => {})
    },
    onClearCountData () {
      this.importOBS = []
      this.import010 = []
      this.dataSave = []
      this.dataSubmit = false
      this.dataReady = true
    }
  }
}
</script>
<style scope>
</style>
