<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <!-- <v-card-title>Import Data 010 For Booking</v-card-title> -->
              <v-card-text>
                 <v-row>
                  <v-col cols="12">
                    <b>Import Data OBS For Booking</b>
                  </v-col>
                </v-row>
                <v-card>
                <v-card-text>
                <div class="text-center">
                  <v-row class="mb-12" justify="center" no-gutters>
                    <v-col cols="12">
                      <v-icon color="green darken-2" size="70"
                        >mdi-microsoft-excel</v-icon
                      ><br />
                      <br />
                      <vue-xlsx-table
                        v-if="importOBS.length == 0"
                        @on-select-file="importOBSFile"
                        >Import Excel OBS</vue-xlsx-table
                      >
                    </v-col>
                  </v-row>
                </div>
                <div class="text-center">
                  <v-row class="mb-12" justify="center" no-gutters>
                    <v-col cols="6">
                      <v-chip
                        class="ma-2"
                        color="warning"
                        label
                        text-color="white"
                        v-if="importOBS.length == 0"
                      >
                        <v-icon left> mdi-alert-outline </v-icon>
                        Import File Warning
                      </v-chip>
                      <v-chip
                        class="ma-2"
                        color="success"
                        label
                        text-color="white"
                        v-if="importOBS.length > 0"
                      >
                        <v-icon left> mdi-checkbox-multiple-marked </v-icon>
                        Import File OBS Success
                      </v-chip>
                    </v-col>
                   </v-row>
                </div>
                </v-card-text>
                </v-card>
                <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                      color="info"
                      depressed
                      v-if="importOBS.length > 0"
                      @click.prevent="countData()"
                    >
                      <v-icon left> mdi-file-tree-outline </v-icon>
                      View Data OBS
                    </v-btn>
                    <v-btn
                      color="error"
                      depressed
                      @click.prevent="onClearCountData()"
                    >
                      <v-icon left> settings_backup_restore </v-icon>
                      Clear
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12">
            <v-card elevation="7" v-if="dataReady">
              <v-card-text>
                <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                      v-if="dataSubmit"
                      color="teal"
                      depressed
                      dark
                      @click.prevent="onSubmit()"
                    >
                      <v-icon left> mdi-content-save-edit-outline </v-icon>
                      บันทึกข้อมูล
                    </v-btn>
                  </v-col>
                </v-row>
                <v-data-table
                  :headers="columns"
                  :items="dataSave"
                  :items-per-page="5"
                >
                </v-data-table>
                <!-- <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                    v-if="dataSubmit"
                      color="teal"
                      depressed
                      dark
                      @click.prevent="onSubmit()"
                    >
                      <v-icon left> mdi-content-save-edit-outline </v-icon>
                      บันทึกข้อมูล
                    </v-btn>
                  </v-col>
                </v-row> -->
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12">
          <div v-if="!dataReady" class="text-center">
                  <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="red"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="70"
                    :width="7"
                    color="purple"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="green"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="50"
                    color="amber"
                    indeterminate
                  ></v-progress-circular>
                  <br>
                  <br>
                  <v-progress-linear
                    v-model="knowledge"
                    height="25"
                  >
                    <strong>{{ Math.ceil(knowledge) }}%</strong>
                  </v-progress-linear>
                </div>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
// import XLSX from 'xlsx' // import xlsx
export default {
  // layout: 'Zoom',
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      knowledge: 0,
      dialogAdd: false,
      panel: [0],
      panel1: [0],
      session: this.$session.getAll(),
      searchAll: '',
      columns: [
        { text: 'รหัสศูนย์บริการ', value: 'branchNo' },
        { text: 'วันนัดหมายเข้าซ่อม', value: 'dateAppointment' },
        { text: 'วันที่คาดว่าจะซ่อมเสร็จ', value: 'dateExpected' },
        { text: 'เลขที่นัดหมาย(OBS)', value: 'noAppointment' },
        { text: 'หมายเลขตัวถัง', value: 'frameNo' },
        { text: 'รุ่นรถ', value: 'modelCar' },
        { text: 'รุ่นปี', value: 'yearCar' },
        { text: 'ทะเบียนรถ', value: 'regCar' },
        { text: 'ชื่อลูกค้า', value: 'cusName' },
        { text: 'เบอร์โทรติดต่อ', value: 'tel' },
        { text: 'ประเภทงานซ่อม', value: 'typeRepair' },
        { text: 'รายละเอียดงานซ่อม', value: 'detailsRepair' },
        { text: 'สถานะ(OBS)', value: 'StatusOBS' }
      ],
      dataReady: true,
      dataSubmit: false,
      datareport: [],
      dataSave: [],
      dataSavePM: [],
      importOBS: [],
      import010: []
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/ImportsData/Login')
    }
  },
  methods: {
    importOBSFile (convertedData) {
      console.log(convertedData.header)
      this.importOBS = convertedData.body
      var obj = {}

      for (var i = 0, len = this.importOBS.length; i < len; i++) { obj[this.importOBS[i]['เลขที่นัดหมาย']] = this.importOBS[i] }

      // eslint-disable-next-line no-array-constructor
      this.importOBS = new Array()
      for (var key in obj) { this.importOBS.push(obj[key]) }
      console.log(this.importOBS)
      // this.dataReady = false
      // this.chkAndUpdate(convertedData.body)
    },
    async countData () {
      this.knowledge = 0
      this.dataReady = false
      this.dataSubmit = false
      this.dataSave = []

      for (var i = 0; i < this.importOBS.length; i++) {
        var d = this.importOBS[i]
        var s = {}
        if (d.วันนัดหมายเข้าซ่อม !== '') {
          const date = d.วันนัดหมายเข้าซ่อม.split('/')
          const year = String(date[2]).substring(0, 4)
          const month = String(date[1])
          const day = String(date[0])
          const time = String(date[2]).substring(5, 13)
          s.dateAppointment = year + '-' + month + '-' + day + ' ' + time
          const dateLocal1 = new Date(parseInt(year), parseInt(month) - 1, parseInt(day))
          s.timestampDateAppointment = dateLocal1.getTime()
          // console.log(dateLocal1.getDay(), dateLocal1, d.เลขที่นัดหมาย, s.dateAppointment)
        } else {
          s.dateAppointment = ''
          s.timestampDateAppointment = 0
        }
        if (d.วันที่คาดว่าจะซ่อมเสร็จ !== '') {
          const date1 = d.วันที่คาดว่าจะซ่อมเสร็จ.split('/')
          const year1 = String(date1[2]).substring(0, 4)
          const month1 = String(date1[1])
          const day1 = String(date1[0])
          const time1 = String(date1[2]).substring(5, 13)
          s.dateExpected = year1 + '-' + month1 + '-' + day1 + ' ' + time1
          const dateLocal2 = new Date(parseInt(year1), parseInt(month1) - 1, parseInt(day1))
          s.timestampdateExpected = dateLocal2.getDay()
        } else {
          s.dateExpected = ''
          s.timestampDateAppointment = 0
        }
        // console.log(d.วันที่เปิดใบสั่งซ่อม)
        s.branchNo = d.รหัสศูนย์บริการ
        s.modelCar = d.รุ่นรถ
        s.yearCar = d.รุ่นปี
        s.regCar = d.ทะเบียนรถ
        s.cusName = d.ชื่อลูกค้า
        s.tel = d.เบอร์โทรติดต่อ
        s.detailsRepair = d.รายละเอียดงานซ่อม
        s.noAppointment = d.เลขที่นัดหมาย
        s.frameNo = d.หมายเลขตัวถัง
        s.typeRepair = d.ประเภทงานซ่อม
        s.StatusOBS = d.สถานะ

        var chkMap = this.importOBS.filter(function (el) {
          return (
            el.เลขที่นัดหมาย === s.noAppointment && el.หมายเลขตัวถัง === s.frameNo
          )
        })
        if (chkMap.length > 0) {
          console.log(chkMap.length, chkMap, s.noAppointment)
          s.branchNo = chkMap[0].รหัสศูนย์บริการ
          // s.dateAppointment = chkMap[0].วันนัดหมายเข้าซ่อม
          s.noAppointment = chkMap[0].เลขที่นัดหมาย
          s.typeRepair = chkMap[0].ประเภทงานซ่อม
          s.detailsRepair = chkMap[0].รายละเอียดงานซ่อม
          // s.dateExpected = chkMap[0].วันที่คาดว่าจะซ่อมเสร็จ
          s.frameNo = chkMap[0].หมายเลขตัวถัง
          s.modelCar = chkMap[0].รุ่นรถ
          s.yearCar = chkMap[0].รุ่นปี
          s.regCar = chkMap[0].ทะเบียนรถ
          s.cusName = chkMap[0].ชื่อลูกค้า
          s.tel = chkMap[0].เบอร์โทรติดต่อ
          s.StatusOBS = chkMap[0].สถานะ
        } else {
          s.branchNo = ''
          // s.dateAppointment = ''
          s.noAppointment = ''
          s.typeRepair = 0
          s.detailsRepair = ''
          // s.dateExpected = ''
          s.frameNo = ''
          s.modelCar = ''
          s.yearCar = ''
          s.regCar = ''
          s.cusName = ''
          s.tel = ''
        }
        this.dataSave.push(s)
        this.knowledge = (i / this.dataSave.length) * 100
      }
      this.dataReady = true
      console.log(this.dataSave)
      this.dataSubmit = true
      // await this.countDataPM()
    },
    async onSubmit () { //* ปุ่มบันทึกข้อมูล* //
      this.dataReady = false
      this.knowledge = 0
      for (var i = 0; i < this.dataSave.length; i++) {
        const today = new Date()
        const date =
              today.getFullYear() +
              '' +
              (today.getMonth() + 1) +
              '' +
              today.getDate()
        const time =
              today.getHours() + '' + today.getMinutes() + '' + today.getSeconds() + '' + today.getUTCMilliseconds()
        const dateTime = date + '' + time
        var d = this.dataSave[i]
        d.dateTimess = dateTime
        const url = `${this.$apiUrl}ImportsData/Booking/ImportOBS/getData?noAppointment=` + d.noAppointment
        // const url = `http://localhost/vgroupl_api/v1/ImportsData/Booking/ImportOBS/getData?noAppointment=` + d.noAppointment
        // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
        const config = {
          headers: {
            // 'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
            'Application-Key': this.$apiToken
          }
          // params: {
          //   faxStatus: d.typeRepair
          // }
        }
        await axios
          .get(url, config)
          .then(async response => {
            console.log(response.data[0].countJob)
            if (response.data === 'ไม่มีข้อมูล') {
              await this.insertData(d)
              console.log('insert')
            } else {
              d.noID010 = response.data[0].noID010
              console.log('update')
              await this.updateData(d)
            }
          })
        this.knowledge = (i / this.dataSave.length) * 100
      }
      this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
      this.dataSave = []
      this.dataReady = true
      this.dataSubmit = false
      // this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
    },
    insertData (d) {
      const url = `${this.$apiUrl}ImportsData/Booking/ImportOBS/addDataOBS`
      // const url = `http://localhost/vgroupl_api/v1/ImportsData/Booking/ImportOBS/addDataOBS`

      const config = {
        headers: {
          'Content-Type': 'application/json',
          // 'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
          'Application-Key': this.$apiToken
        }
      }
      const dt = {
        'noIDOBS': d.dateTimess,
        'branchNo': d.branchNo,
        'noAppointment': d.noAppointment,
        'dateAppointment': d.dateAppointment,
        'typeRepair': d.typeRepair,
        'detailsRepair': d.detailsRepair,
        'dateExpected': d.dateExpected,
        'frameNo': d.frameNo,
        'modelCar': d.modelCar,
        'yearCar': d.yearCar,
        'regCar': d.regCar,
        'cusName': d.cusName,
        'tel': d.tel,
        'StatusOBS': d.StatusOBS,
        'RECORD_STATUS': 'N'
      }
      axios
        .post(url, dt, config)
        .then((response) => {})
    },
    updateData (d) {
      const url = `${this.$apiUrl}ImportsData/Booking/ImportOBS/updateDataOBS`
      // const url = `http://localhost/vgroupl_api/v1/ImportsData/Booking/ImportOBS/updateDataOBS`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          // 'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
          'Application-Key': this.$apiToken
        }
      }
      const dt = {
        'noIDOBS': d.dateTimess,
        'branchNo': d.branchNo,
        'noAppointment': d.noAppointment,
        'dateAppointment': d.dateAppointment,
        'typeRepair': d.typeRepair,
        'detailsRepair': d.detailsRepair,
        'dateExpected': d.dateExpected,
        'frameNo': d.frameNo,
        'modelCar': d.modelCar,
        'yearCar': d.yearCar,
        'regCar': d.regCar,
        'cusName': d.cusName,
        'tel': d.tel,
        'StatusOBS': d.StatusOBS

      }
      axios
        .post(url, dt, config)
        .then((response) => {})
    },
    onClearCountData () {
      this.importOBS = []
      this.import010 = []
      this.dataSave = []
      this.dataSubmit = false
      this.dataReady = true
    }
  }
}
</script>
<style scope>
</style>
