<template>
 <div id="login">
      <v-card elevation="15" max-width="600" class="mx-auto my-12">
         <div class="d-flex flex-column justify-space-between align-center" v-if="dataSearhcReady">
        <v-container>
           <vuetify-logo />
            <br />
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <h1 class="h5 mb-3 font-weight-normal">Imports Data</h1>
            <br>
        <v-text-field prepend-icon="mdi-account" v-model="form.userName"  label="Username"></v-text-field>
        <v-text-field prepend-icon="mdi-lock" v-model="form.passWord"  label="Password" type="password"></v-text-field>
        <br>
        <v-btn color="teal" @click="onSubmit()" dark large block>Login</v-btn>
        </v-container>
        </div>
        <div v-if="!dataSearhcReady" class="text-center">
                    <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                    ></v-progress-circular>
                    <v-progress-circular
                      :width="3"
                      color="red"
                      indeterminate
                    ></v-progress-circular>
                    <v-progress-circular
                      :size="70"
                      :width="7"
                      color="purple"
                      indeterminate
                    ></v-progress-circular>
                    <v-progress-circular
                      :width="3"
                      color="green"
                      indeterminate
                    ></v-progress-circular>
                    <v-progress-circular
                      :size="50"
                      color="amber"
                      indeterminate
                    ></v-progress-circular>
                  </div>
      </v-card>
  </div>
</template>

<script>
import axios from 'axios' // api
// import XLSX from 'xlsx' // import xlsx
// import moment from 'moment'
import VuetifyLogo from '../logo_vgroup'
export default {
  components: {
    // Logo,
    VuetifyLogo //
  },
  data () {
    return {
      session: this.$session.getAll(),
      mainProps: {
        // blank: true,
        // blankColor: '#777',
        width: 175,
        height: 175,
        class: 'm1'
      },
      form: {
        userName: '',
        passWord: ''
      },
      dataReady: true,
      dataSearhcReady: true
    }
  },
  async mounted () {
    this.$session.destroy()
  },
  methods: {
    async onSubmit () {
      this.dataReady = false
      this.dataSearhcReady = false
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'http://localhost/vgroupl_api/v1/ReportService/Login/getData?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.form.userName,
          Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
        .then(response => {
          // let rs = response.data
        //    this.dataReady = true
        //   this.dataSearhcReady = true
        //   this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
        //   this.$session.start()
        //   this.$session.set('data', response.data)
        //   console.log(response.data)
        //   if (response.data.GroupS === 'Sale Insurance') {
        //     this.$router.push('/insurance/InsuranceFollow')
        //   }
        //   if (response.data.GroupS === 'Back Office IT' || response.data.GroupS === 'Back Office S/Insurance') {
        //     this.$router.push('/insurance/InsuranceNewCar')
        //   }
        // })
          this.dataReady = true
          this.dataSearhcReady = true
          this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
          this.$session.start()
          this.$session.set('data', response.data)
          console.log(response.data)
          this.$router.push('/ImportsData/ImportAgeing')
        })
        .catch(error => {
          this.$swal('Error', 'คุณไม่มีสิทธิ์เข้าระบบนี้', 'error')
          this.dataReady = true
          this.dataSearhcReady = true
          console.log(error)
          this.errored = true
          this.dataSearhcReady = true
        })
    }
  }
}
</script>
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#danger {
  color: red;
}
#login {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 60px;
}
</style>
