<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="12">
                    <b>Update Excel</b>
                  </v-col>
                </v-row>
                <v-card>
                <v-card-text>
                <!-- <v-card-text v-if="datareportMerge.length > 0"> -->
                  <v-btn @click="onExport()">
                    export
                  </v-btn>
                  <div class="text-center">
                    <v-row class="mb-6" justify="center" no-gutters>
                      <v-col cols="4">
                        <v-menu
                          v-model="menuSearch1"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          transition="scale-transition"
                          offset-y
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="monthYearSearch"
                              prepend-icon="mdi-calendar"
                              label="เดือน/ปี"
                              v-bind="attrs"
                              dense
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            v-model="monthYearSearch"
                            @input="menuSearch1 = false, getVsales()"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="12" v-if="dataVsales.length > 0">
                        <v-icon color="blue darken-2" size="70"
                          >mdi-microsoft-excel</v-icon
                        ><br />
                        <br />
                        <vue-xlsx-table @on-select-file="handleSelectedFile">Import Excel</vue-xlsx-table>
                      </v-col>
                    </v-row>
                  </div>
                  <!-- <div class="text-center" v-if="dataVsales.length > 0">
                  <v-row class="mb-6" justify="center" no-gutters>
                    <v-col cols="6">
                      <v-chip
                        class="ma-2"
                        color="warning"
                        label
                        text-color="white"
                        v-if="items.length == 0"
                      >
                        <v-icon left> mdi-alert-outline </v-icon>
                        Import File Warning
                      </v-chip>
                      <v-chip
                        class="ma-2"
                        color="success"
                        label
                        text-color="white"
                        v-if="items.length > 0"
                      >
                        <v-icon left> mdi-checkbox-multiple-marked </v-icon>
                        Import File Update New Car Success
                      </v-chip>
                    </v-col>
                  </v-row>
                  </div> -->
                </v-card-text>
                </v-card>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
              <template v-if="dataReady">
                  <v-row class="text-right">
                    <v-col cols="12">
                      <v-btn
                          color="warning"
                          depressed
                          dark
                          v-if="dataSearhcReadyTable"
                          @click.prevent="reloadPage()"
                          >
                          <v-icon left> mdi-autorenew </v-icon>
                          เริ่มหน้าใหม่
                      </v-btn>
                      <!-- <v-btn
                          color="indigo"
                          depressed
                          dark
                          v-if="dataSearhcReadyTable"
                          @click.prevent="onSubmit()"
                          >
                          <v-icon left> mdi-content-save-edit </v-icon>
                          Update New Car
                      </v-btn> -->
                    </v-col>
                  </v-row>
                  <div class="row text-center" v-if="!dataSearhcReadyTable && !dataReady">
                    <div class="col-12">
                      <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                        <br>
                        <br>
                        <v-alert
                          dense
                          border="left"
                          type="warning"
                        >
                          กรุณา <strong>รอสักครู่ นะครับ</strong>
                        </v-alert>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <v-data-table
                          dense
                          :headers="columns"
                          :item-class="(item) => parseInt(item.countCoverDate) > 30 ? 'red white--text':''"
                          :items="datareportMerge"
                          class="elevation-1"
                          :items-per-page="100"
                        ></v-data-table>
                    </div>
                  </div>
                  </template>
                   <template v-if="!dataReady">
                     <div class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                        </div>
                      <br>
                      <div class="text-center">
                        <v-progress-linear
                          v-model="knowledge"
                          height="25"
                        >
                          <strong>{{ Math.ceil(knowledge) }}%</strong>
                        </v-progress-linear>
                        <!-- <b-progress :max="max">
                          <b-progress-bar :value="value" :label="`${((value / max) * 100).toFixed(2)}%`" show-progress animated></b-progress-bar>
                        </b-progress> -->
                      </div>
                   </template>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
    </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import 'vue2-datepicker/locale/th'
export default {
  components: {
    DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
    // countMeetState () {
    //   return this.form.countMeet.length > 0
    // },
  },
  data () {
    return {
      monthYearSearch: '',
      menuSearch1: false,
      session: this.$session.getAll(),
      items: [],
      datareportSubmit: [],
      value: 0,
      max: 0,
      dataNo: 0,
      dataYes: 0,
      columns: [
        { text: 'สาขา', value: 'Code' },
        { text: 'ประเภทลูกค้า', value: 'CustomerTYS' },
        { text: 'ชื่อลูกค้า', value: 'CustomerName' },
        { text: 'ข้อมูลรถยนต์', value: 'modelCar' },
        { text: 'Frame No.', value: 'FRAMENO' },
        { text: 'ไฟแนนซ์', value: 'financeName' },
        { text: 'ใบเสร็จในนาม', value: 'RECEIPT_FROMVgroup' },
        { text: 'Invoice No จาก Syspro', value: 'sysproInvoiceNo' },
        { text: 'Invoice Date จาก Syspro', value: 'sysproInvoiceDate' },
        { text: 'ชื่อประกันจาก Syspro', value: 'sysproInsNM' },
        { text: 'Coverdate', value: 'Coverdates' },
        { text: 'CoverdateDiff', value: 'countCoverDate' },
        { text: 'ราคาจาก Syspro', value: 'sysproPrice' },
        { text: 'GtlPolicy', value: 'GtlPolicy' },
        { text: 'ประกันรถใหม่', value: 'statusVgroup' }
      ],
      datareport: [],
      datareportMerge: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      dateTime: '',
      knowledge: 0,
      dataSalesIns: [],
      dataSalesInsRe: [],
      dataVsales: [],
      dataSysPro: []
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/Insurance/Login')
    } else {
      await this.getNow()
      // await this.getSalesIns()
    }
  },
  methods: {
    async getSysPro () {
      this.dataSysPro = []
      await axios
        .get(
          // 'https://api.betaskthai.com/vgroupl_api/SysproGet.php?token=1234&orderby=T&BR_CD=' + branchSearch + '&serial_num=' + d.frameNo + '&salesNm=' + userNm + '&yearSelect=' + countyear
          // 'https://api.betaskthai.com/vgroupl_api/SysproGet.php?token=1234&orderby=T&invoiceFixDate=' + this.monthYearSearch
          'https://api.betaskthai.com/vgroupl_api/SysproGetItem.php?token=itemAccount&orderby=T&invoiceFixDate=' + this.monthYearSearch
        )
        .then(async (response) => {
          let rs = response.data
          if (rs.length > 0) {
            // this.dataSysPro = rs
            for (let i = 0; i < rs.length; i++) {
              let d = rs[i]
              let s = {}
              s.vo_num = d.vo_num
              s.vo_date = d.vo_date
              s.vd_name = d.vd_name
              s.serial_num = d.serial_num
              if (this.dataSysPro.filter(el => { return el.vo_num === s.vo_num }).length > 0) {
                s.priceIns = parseFloat(this.dataSysPro.filter(el => { return el.vo_num === s.vo_num })[0].priceIns) + parseFloat(d.up)
              } else {
                s.priceIns = parseFloat(d.up)
              }
              this.dataSysPro.push(s)
            }
          } else {
            this.dataSysPro = []
          }
          console.log('this.dataSysPro', this.dataSysPro)
        })
    },
    async getVsales () {
      await this.getSysPro()
      this.dataVsales = []
      let vsales = []
      let vgroup = []
      let url = 'https://asia-southeast2-betask-crm.cloudfunctions.net/adminReport-selete_all_VgroupAccount?recordStatus=N&prospectiveStatus_in_prospective_invoiceFixDate=' + this.monthYearSearch
      // let url = 'https://asia-southeast2-betask-crm.cloudfunctions.net/adminReport-selete_all_VgroupAccount?recordStatus=N&prospectiveStatus_in_prospective_invoiceFixDate=' + this.monthYearSearch + '&prospectiveBookingNoIsNotNull=T'
      await axios(url)
        .then(async response => {
          let rs = response.data
          if (rs.length > 0) {
            vsales = rs
          } else {
            vsales = []
          }
          console.log('vsales', vsales)
          // for (var i = 0; i < rs.length; i++) {
        })
      // const dateSplit = dateLocal.split(' ')
      const date = this.monthYearSearch.split('-')
      const year = String(date[0])
      const month = String(date[1])
      let countyear = parseInt(year)
      // let countmonth = parseInt(month) + 100
      // let monthStr = String(countmonth).substring(1, 3)
      let countmonthPlus = parseInt(month) + 95
      let monthStrPlus = String(countmonthPlus).substring(1, 3)
      // let useMouth = countyear + '-' + monthStr
      let countyearPlus = 0
      let userYear = ''
      let userMonth = ''
      if (parseInt(month) <= 3) {
        countyearPlus = countyear - 1
        userYear = "'" + countyearPlus.toString().substring(2, 4) + "','" + countyear.toString().substring(2, 4) + "'"
      } else {
        countyearPlus = countyear
        userYear = "'" + countyearPlus.toString().substring(2, 4) + "'"
      }
      if ((parseInt(month) - 3) === 0) {
        monthStrPlus = '12'
        userMonth = "'" + monthStrPlus + "','" + (parseInt(month) + 98).toString().substring(1, 3) + "','" + (parseInt(month) + 99).toString().substring(1, 3) + "','" + (parseInt(month) + 100).toString().substring(1, 3) + "'"
      } else {
        if ((parseInt(month)) === 2) {
          userMonth = "'02','01','12','11'"
        } else if ((parseInt(month)) === 1) {
          userMonth = "'01','12','11','10'"
        } else {
          userMonth = "'" + (parseInt(month) + 97).toString().substring(1, 3) + "','" + (parseInt(month) + 98).toString().substring(1, 3) + "','" + (parseInt(month) + 99).toString().substring(1, 3) + "','" + (parseInt(month) + 100).toString().substring(1, 3) + "'"
        }
      }
      console.log('userYear', userYear)
      console.log('userMonth', userMonth)
      let urlVgroup = 'https://api.betaskthai.com/vgroupl_api/GetDataINS_PROCESS.php?year=' + userYear + '&month=' + userMonth + '&type=Ids_Ins_Nw_Inform'
      await axios(urlVgroup)
        .then(async response => {
          let rs = response.data
          if (rs.length > 0) {
            vgroup = rs
          } else {
            vgroup = []
          }
          console.log('vgroup', vgroup)
          // for (var i = 0; i < rs.length; i++) { prospectiveFrameNO
        })
      for (var i = 0; i < vsales.length; i++) {
        var d = vsales[i]
        var dataSyspro = this.dataSysPro.filter(el => { return el.serial_num.trim() === d.prospectiveFrameNO.trim() })
        if (dataSyspro.length > 0) {
          for (var x = 0; x < dataSyspro.length; x++) {
            var t = dataSyspro[x]
            let s = {}
            s.branchName = d.branchName
            s.bookingNo = d.prospectiveBookingNo
            s.bookingDate = d.prospectiveBookingDate
            s.invoiceNo = d.prospectiveInvoiceNO
            s.invoiceDate = d.prospectiveInvoiceDate
            s.frameNO = d.prospectiveFrameNO
            s.modelCar = d.carName + ' ' + d.carModel
            s.payType = d.payType
            s.customerName = d.customerName
            if (s.payType === 'ไฟแนนซ์') {
              s.financeName = d.financeName
            } else {
              s.financeName = 'เงินสด'
            }
            let dataVgroup = vgroup.filter(el => { return el.FRAME_NO.trim() === d.prospectiveFrameNO.trim() })
            if (dataVgroup.length > 0) {
              s.statusVgroup = 'เจอ'
              s.RECEIPT_FROMVgroup = dataVgroup[0].RECEIPT_FROM
            } else {
              s.statusVgroup = 'ไม่เจอ'
              s.RECEIPT_FROMVgroup = ''
            }
            s.sysproInvoiceNo = t.vo_num
            s.sysproInvoiceDate = t.vo_date
            s.sysproInsNM = t.vd_name
            s.sysproPrice = parseFloat(t.priceIns || 0).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
            console.log('z.up', s.sysproPrice)
            this.dataVsales.push(s)
          }
        } else {
          let s = {}
          s.branchName = d.branchName
          s.bookingNo = d.prospectiveBookingNo
          s.bookingDate = d.prospectiveBookingDate
          s.invoiceNo = d.prospectiveInvoiceNO
          s.invoiceDate = d.prospectiveInvoiceDate
          s.frameNO = d.prospectiveFrameNO
          s.modelCar = d.carName + ' ' + d.carModel
          s.payType = d.payType
          s.customerName = d.customerName
          if (s.payType === 'ไฟแนนซ์') {
            s.financeName = d.financeName
          } else {
            s.financeName = 'เงินสด'
          }
          let dataVgroup = vgroup.filter(el => { return el.FRAME_NO.trim() === d.prospectiveFrameNO.trim() })
          if (dataVgroup.length > 0) {
            s.statusVgroup = 'เจอ'
            s.RECEIPT_FROMVgroup = dataVgroup[0].RECEIPT_FROM
          } else {
            s.statusVgroup = 'ไม่เจอ'
            s.RECEIPT_FROMVgroup = ''
          }
          s.sysproInvoiceNo = ''
          s.sysproInvoiceDate = ''
          s.sysproInsNM = ''
          s.sysproPrice = ''
          console.log('z.up', s.sysproPrice)
          this.dataVsales.push(s)
        }
      }
      console.log('this.dataVsales', JSON.stringify(this.dataVsales))
    },
    reloadPage () {
      location.reload()
    },
    handleSelectedFile (convertedData) {
      console.log(convertedData.body)
      var dataImport = convertedData.body
      this.dataReady = false
      // var obj = {}

      // for (var i = 0, len = dataImport.length; i < len; i++) { obj[dataImport[i]['หมายเลขตัวถัง']] = dataImport[i] }

      // eslint-disable-next-line no-array-constructor
      // dataImport = new Array()
      // for (var key in obj) { dataImport.push(obj[key]) }
      this.chkAndUpdate(dataImport)
    },
    getNow () {
      const today = new Date()
      // console.log(today)
      const date =
        today.getFullYear() +
        '' +
        (today.getMonth() + 1) +
        '' +
        today.getDate()
      const time =
        today.getHours() + '' + today.getMinutes() + '' + today.getSeconds()
      const dateTime = date + '' + time
      this.dateTime = dateTime
      // console.log(this.dateTime)
      // this.formUpdate.prospectiveCode = dateTime
    },
    async chkAndUpdate (dataImport) {
      this.dataSearhcReadyTable = false
      // this.knowledge = 0
      // this.columns = this.columns1
      // var salesNm = this.dataSalesIns
      console.log(dataImport)
      this.datareportMerge = []
      for (var i = 0; i < dataImport.length; i++) {
        var d = dataImport[i]
        let frameNo = d.FRAMENO
        let dataNewCar = this.dataVsales.filter(el => { return el.frameNO.trim() === frameNo.trim() })
        // let dataNewCar = this.dataVsales.filter(el => { return el.frameNO === frameNo && el.sysproPrice === d.GtlPolicy })
        if (d.Coverdate) {
          var startDateDD = d.Coverdate.substring(0, 2)
          var startDateMM = d.Coverdate.substring(3, 5)
          var startDateYY = (parseInt(d.Coverdate.substring(6)) - 543).toString()
          const date1 = new Date(startDateYY + '-' + startDateMM + '-' + startDateDD)
          const date2 = new Date()
          const diffTime = Math.abs(date2 - date1)
          const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24))
          d.Coverdates = d.Coverdate
          d.countCoverDate = diffDays
        } else {
          d.Coverdates = ''
          d.countCoverDate = ''
        }
        if (dataNewCar.length > 0) {
          d.modelCar = dataNewCar[0].modelCar
          d.financeName = dataNewCar[0].financeName
          d.statusVgroup = dataNewCar[0].statusVgroup
          d.RECEIPT_FROMVgroup = dataNewCar[0].RECEIPT_FROMVgroup
          d.sysproInvoiceNo = dataNewCar[0].sysproInvoiceNo
          d.sysproInvoiceDate = dataNewCar[0].sysproInvoiceDate
          d.sysproInsNM = dataNewCar[0].sysproInsNM
          d.sysproPrice = dataNewCar[0].sysproPrice
          this.datareportMerge.push(d)
        } else {
          let dataSysPro = this.dataSysPro.filter(el => { return el.serial_num.trim() === frameNo.trim() })
          if (dataSysPro.length > 0) {
            d.modelCar = ''
            d.financeName = ''
            d.statusVgroup = ''
            d.RECEIPT_FROMVgroup = ''
            d.sysproInvoiceNo = dataSysPro[0].vo_num
            d.sysproInvoiceDate = dataSysPro[0].vo_date
            d.sysproInsNM = dataSysPro[0].vd_name
            d.sysproPrice = dataSysPro[0].priceIns
            this.datareportMerge.push(d)
          } else {
            d.modelCar = ''
            d.financeName = ''
            d.statusVgroup = ''
            d.RECEIPT_FROMVgroup = ''
            d.sysproInvoiceNo = ''
            d.sysproInvoiceDate = ''
            d.sysproInsNM = ''
            d.sysproPrice = ''
            this.datareportMerge.push(d)
          }
        }
      }
      if (this.datareportMerge.length > 0) {
        this.dataReady = true
        this.dataSearhcReadyTable = true
      } else {
        this.dataReady = true
        this.dataSearhcReadyTable = false
      }
    },
    onExport () {
      this.$swal({
        title: 'ส่งออกข้อมูล',
        text: 'ท่านต้องการ ส่งออกข้อมูล หรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'ส่งออกข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      })
        .then((result) => {
          const dataWS = XLSX.utils.json_to_sheet(this.datareportMerge)
          const wb = XLSX.utils.book_new()
          XLSX.utils.book_append_sheet(wb, dataWS)
          XLSX.writeFile(wb, 'ReportNewCar.xlsx')
        })
    }
  }
}
</script>
<style>
  table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
