<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="3">
                    <b>Allocate Prospective Code 4</b>
                  </v-col>
                </v-row>
                <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                        color="indigo"
                        depressed
                        dark
                        v-if="dataSearhcReadyTable"
                        @click.prevent="onSubmit()"
                        >
                        <v-icon left> mdi-content-save-edit </v-icon>
                        บันทึกข้อมูล
                    </v-btn>
                    <!-- <v-btn
                        color="teal"
                        depressed
                        dark
                        v-if="dataSearhcReadyTable"
                        @click.prevent="onExport()"
                        >
                        <v-icon left> mdi-file-excel </v-icon>
                        Export Excel
                    </v-btn> -->
                  </v-col>
                </v-row>
                <v-expansion-panels focusable v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <form v-if="dataSearhcReady">
                        <v-row>
                          <v-col cols="3">
                            <v-select
                              label="ค้นหาเดือน"
                              :items="optionTypeMonth"
                              v-model="formSearch.monthYear"
                              dense
                            ></v-select>
                          </v-col>
                          <!-- <v-col cols="3">
                            <v-menu
                              v-model="menuSearch1"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.monthYear"
                                  prepend-icon="mdi-calendar"
                                  label="เดือน/ปี"
                                  v-bind="attrs"
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.monthYear"
                                @input="menuSearch1 = false"
                                type="month"
                              ></v-date-picker>
                            </v-menu>
                          </v-col> -->
                        </v-row>
                        <v-row class="text-right">
                          <v-col cols="12">
                            <v-btn
                              color="warning"
                              depressed
                              @click.prevent="onSearch()"
                            >
                              <v-icon left> search </v-icon>
                              ค้นหา
                            </v-btn>
                            <v-btn
                              color="error"
                              depressed
                              @click.prevent="onClearSearch()"
                            >
                              <v-icon left> settings_backup_restore </v-icon>
                              Clear
                            </v-btn>
                          </v-col>
                        </v-row>
                      </form>
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                        <br>
                        <br>
                        <v-progress-linear
                            v-model="knowledge"
                            height="25"
                          >
                            <strong>{{ Math.ceil(knowledge) }}%</strong>
                          </v-progress-linear>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" v-if="dataSearhcReadyTable">
            <v-card elevation="7">
                <v-card-text>
                  <div v-if="dataSubmit" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                        <br>
                        <br>
                        <v-alert
                          dense
                          border="left"
                          type="warning"
                        >
                          กรุณา <strong>รอสักครู่ นะครับ</strong>
                        </v-alert>
                      </div>
                <v-data-table
                v-if="!dataSubmit"
                  :headers="columnsUse"
                  :items="datareport"
                  :items-per-page="100"
                >
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      expanded: [],
      panel: [0],
      menuSearch1: false,
      menuSearch2: false,
      menu1: false,
      rules: [
        (value) => !!value || 'Required.',
        (value) => (value && value.length >= 0) || 'Min 1 characters'
      ],
      session: this.$session.getAll(),
      dataSearhcReady: true,
      chkSearch: true,
      optionStaffInsuranceName: [],
      readonly: true,
      visible: false,
      formSearch: {
        branchNo: '',
        monthYear: '',
        carName: '',
        frameNo: '',
        regNo: '',
        insNm: '',
        insNo: '',
        TypeJob: '',
        customerName: '',
        insStaffName: ''
      },
      optionTypeMonth: [
        { text: 'มกราคม', value: '01' },
        { text: 'กุมภาพันธ์', value: '02' },
        { text: 'มีนาคม', value: '03' },
        { text: 'เมษายน', value: '04' },
        { text: 'พฤษภาคม', value: '05' },
        { text: 'มิถุนายน', value: '06' },
        { text: 'กรกฎาคม', value: '07' },
        { text: 'สิงหาคม', value: '08' },
        { text: 'กันยายน', value: '09' },
        { text: 'ตุลาคม', value: '10' },
        { text: 'พฤศจิกายน', value: '11' },
        { text: 'ธันวาคม', value: '12' }
      ],
      columns: [
        { text: 'สาขา', value: 'Dlr_Job_CD' },
        { text: 'ชื่อเซลล์', value: 'salesNames' },
        { text: 'Frame_NO', value: 'Frame_NO' },
        { text: 'Reg_No', value: 'Reg_No' },
        { text: 'Model_NM', value: 'Model_NM' },
        { text: 'Model_Year', value: 'Model_Year' },
        { text: 'ประกัน BP ล่าสุด', value: 'insName' },
        { text: 'วันที่ Invoice', value: 'lastDateInvoice' },
        { text: 'DLVR_NewCar_Date', value: 'DLVR_NewCar_Date' },
        { text: 'ชื่อลูกค้า', value: 'Customer_NM_User_DR' },
        { text: 'TEL_Mobile_no', value: 'TEL_Mobile_no' },
        { text: 'TEL_HOME_NO', value: 'TEL_HOME_NO' },
        { text: 'TEL_COMPANY_NO', value: 'TEL_COMPANY_NO' }
      ],
      salesNmUse: [],
      datareport: [],
      dataSalesIns: [],
      dataSalesInsRe: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      dataSubmit: false,
      checksubmit: true,
      datareportHistory: [],
      dataHistory: false,
      chkbutton: '',
      dateTime: '',
      knowledge: 0
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/Insurance/Login')
    } else {
    //   await this.getData()
      await this.getSalesIns()
      this.columnsUse = this.columns
    }
  },
  methods: {
    getSalesIns () {
      this.dataSalesIns = []
      const url1 = `${this.$apiUrl}Insurance/Insurance/getDataSalesIns`
      let config1 = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          statusStart: 'true'
        }
      }
      axios.get(url1, config1)
        .then(async (response) => {
          console.log(response.data)
          let rs = response.data
          this.dataSalesIns = rs
        })
    },
    async getSalesInsRe () {
      this.dataSalesInsRe = []
      const url1 = `${this.$apiUrl}Insurance/Insurance/getDataSalesIns`
      let config1 = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
        // },
        // params: {
        //   FRAME_NO: item.Frame_NO,
        //   DLR_CD: brNo
        // }
      }
      await axios.get(url1, config1)
        .then(async (response) => {
          // console.log(response.data)
          let rs = response.data
          this.dataSalesInsRe = rs
        })
    },
    async onSearch () {
      // if (this.formSearch.monthYear !== '') {
      this.datareport = []
      this.salesNmUse = []
      // this.dataSalesIns = []
      this.dataSalesInsRe = []
      this.knowledge = 0
      this.dataSearhcReady = false
      this.dataSubmit = false
      var salesNm = this.dataSalesIns
      await axios
        .get(
          'https://api.betaskthai.com/vgroupl_api/CarsCode4.php?dataType=data010INS&DLVR_NewCar_Date=' + this.formSearch.monthYear
        )
        .then(async (response) => {
          // console.log(this.session.data.userName)
          let rss = response.data
          rss.sort((a, b) => (a.Model_Year < b.Model_Year) ? 1 : -1)
          let rs = rss
          console.log(rs)
          for (let i = 0; i < rs.length; i++) {
            var d = rs[i]
            var s = {}
            s.Dlr_Job_CD = d.Dlr_Job_CD
            s.Frame_NO = d.Frame_NO
            s.Model_NM = d.Model_NM
            s.Model_Year = d.Model_Year
            s.Reg_No = d.Reg_No
            s.DLVR_NewCar_Date = d.DLVR_NewCar_Date
            s.User_DR = d.User_DR
            s.Customer_NM_User_DR = d.Customer_NM_User_DR
            s.Dlr_DLVR_Name = d.Dlr_DLVR_Name
            s.userId_VLinked = d.userId_VLinked
            s.typeWork = 'Code4'
            if (salesNm.length > 0) {
              s.salesNames = salesNm[0].salesName
              salesNm.shift()
            } else {
              salesNm = []
              await this.getSalesInsRe()
              salesNm = this.dataSalesInsRe
              // console.log(this.dataSalesInsRe)
              s.salesNames = salesNm[0].salesName
              salesNm.shift()
            }
            const url1 = 'https://api.betaskthai.com/vgroupl_api/CarsCode4.php'
            const config1 = {
              headers: {
                'Content-Type': 'application/json'
              },
              params: { // เงื่อนไขที่จะเลือก
                Dlr_Job_CD: d.Dlr_Job_CD,
                FRAME_NO: d.Frame_NO,
                dataType: 'dataRMHBP'
              }
            }
            await axios
              .get(url1, config1).then(async (response) => {
                const rs1 = response.data
                if (rs1.length > 0) {
                  if (rs1[0].insName) {
                    s.insName = rs1[0].insName
                  } else {
                    s.insName = ''
                  }
                  if (rs1[0].lastDateInvoice) {
                    s.lastDateInvoice = moment(String(rs1[0].lastDateInvoice)).format('YYYY-MM-DD')
                  } else {
                    s.lastDateInvoice = ''
                  }
                  // s.SIR_NM = rs1[0].SIR_NM1
                  // s.CUSTOMER_Name = rs1[0].CUSTOMER_Name
                  s.TEL_Mobile_no = rs1[0].TEL_Mobile_no
                  s.TEL_HOME_NO = rs1[0].TEL_HOME_NO
                  s.TEL_COMPANY_NO = rs1[0].TEL_COMPANY_NO
                } else {
                  // s.SIR_NM = ''
                  // s.CUSTOMER_Name = ''
                  s.TEL_Mobile_no = ''
                  s.TEL_HOME_NO = ''
                  s.TEL_COMPANY_NO = ''
                }
              })
            this.datareport.push(s)
            this.knowledge = (i / rs.length) * 100
          }
          this.salesNmUse = salesNm
          // console.log(salesNm)
          // console.log(this.datareport)
          this.columnsUse = this.columns
          // this.datareport = rs
          this.dataSearhcReady = true
          this.dataSearhcReadyTable = true
          this.panel = []
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          console.log(error)
          this.errored = true
          this.dataSearhcReady = true
        })
      // } else {
      //   this.$swal('ผิดพลาด', 'กรุณาใส่ข้อมูลสักรายการ', 'error')
      //   this.dataSearhcReady = true
      //   this.dataSearhcReadyTable = false
      // }
    },
    onSubmit () {
      this.$swal({
        title: 'ตรวจสอบก่อนเพิ่มข้อมูล',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการเพิ่มหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'เพิ่มข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      })
        .then(async (result) => {
          this.dataSubmit = true
          this.knowledge1 = 0
          this.knowledge = 0
          let rs = this.datareport
          for (let i = 0; i < rs.length; i++) {
            const today = new Date()
            console.log(rs.length, i)
            this.knowledge1 = (i / rs.length) * 100
            const date =
              today.getFullYear() +
              '' +
              (today.getMonth() + 1) +
              '' +
              today.getDate()
            const time =
              today.getHours() + '' + today.getMinutes() + '' + today.getSeconds() + '' + today.getUTCMilliseconds()
            const dateTime = date + '' + time
            var d = rs[i]
            const url = `${this.$apiUrl}Insurance/Insurance/addDataProspective`
            let config = {
              headers: {
                'Content-Type': 'application/json',
                'Application-Key': this.$apiToken
              }
            }
            let dt = {
              'prospectiveCode': parseInt(dateTime.trim()),
              'userLogin': this.session.data.User_NM.trim(),
              'startDate': d.DLVR_NewCar_Date,
              'Dlr_DLVR_Name': d.Dlr_DLVR_Name,
              'customerNo': d.User_DR,
              'customerNM': d.Customer_NM_User_DR,
              'customerTel1': d.TEL_Mobile_no,
              'customerTel2': d.TEL_HOME_NO,
              'customerTel3': d.TEL_COMPANY_NO,
              'frameNo': d.Frame_NO.trim(),
              'ragNo': d.Reg_No,
              'branchNo': d.Dlr_Job_CD,
              'carName': d.Model_NM,
              'carType': '',
              'carYear': d.Model_Year,
              'colorCar': '',
              'insNo': '',
              'insName': d.insName,
              'invoiceDate': d.lastDateInvoice,
              'typeProtec': '',
              'typeRepair': '',
              'typeWork': d.typeWork,
              'staffIns': d.salesNames,
              'userId_VLinked': d.userId_VLinked,
              'statusProspective': 'Prospective'
            }
            await axios.post(url, dt, config).then((response) => {
            })
          }
          var pushBookingNum = []
          let rs1 = this.salesNmUse
          for (var i = 0; i < rs1.length; i++) {
            var p = rs1[i]
            var s = {}
            s.nos = "'" + p.no + "'"
            pushBookingNum.push(s)
          }
          var useBookingNum = pushBookingNum.map(function (pushBookingNums) {
            return decodeURIComponent(pushBookingNums.nos)
          })
          console.log(useBookingNum)
          const url1 = `${this.$apiUrl}Insurance/Insurance/updateDataSalesNm`
          let config1 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt1 = {
            'no': useBookingNum,
            'where': 'in',
            'statusStart': 'fales'
          }
          await axios.post(url1, dt1, config1).then(async (response) => {
            if (useBookingNum.length > 0) {
              const url2 = `${this.$apiUrl}Insurance/Insurance/updateDataSalesNm`
              let config2 = {
                headers: {
                  'Content-Type': 'application/json',
                  'Application-Key': this.$apiToken
                }
              }
              let dt2 = {
                'no': useBookingNum,
                'where': 'not',
                'statusStart': 'true'
              }
              await axios.post(url2, dt2, config2).then(async (response) => {
                this.$swal('เรียบร้อย', 'บันทึกสำเร็จ', 'success')
                this.datareport = []
                this.salesNmUse = []
                this.dataSalesIns = []
                this.dataSalesInsRe = []
                this.dataSearhcReady = true
                this.dataSearhcReadyTable = false
                this.dataSubmit = false
                await this.getSalesIns()
              })
            } else {
              this.$swal('เรียบร้อย', 'บันทึกสำเร็จ', 'success')
              this.datareport = []
              this.salesNmUse = []
              this.dataSalesIns = []
              this.dataSalesInsRe = []
              this.dataSearhcReady = true
              this.dataSearhcReadyTable = false
              this.dataSubmit = false
              await this.getSalesIns()
            }
          })
        })
    },
    onClearSearch () {
      this.formSearch.branchNo = ''
      this.formSearch.monthYear = ''
      this.formSearch.carName = ''
      this.formSearch.frameNo = ''
      this.formSearch.regNo = ''
      this.formSearch.insNm = ''
      this.formSearch.insNo = ''
      this.formSearch.customerName = ''
      this.formSearch.searchDate = ''
      this.formSearch.insStaffName = ''
      this.formSearch.TypeJob = ''
    },
    onExport () {
      this.$swal({
        title: 'ส่งออกข้อมูล',
        text: 'ท่านต้องการ ส่งออกข้อมูล หรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'ส่งออกข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      })
        .then((result) => {
          const dataWS = XLSX.utils.json_to_sheet(this.datareport)
          const wb = XLSX.utils.book_new()
          XLSX.utils.book_append_sheet(wb, dataWS)
          XLSX.writeFile(wb, 'ReportCode4.xlsx')
        })
    }
  }
}
</script>
