<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="3">
                    <b>Allocate Prospective New Car</b>
                  </v-col>
                </v-row>
                <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                        color="indigo"
                        depressed
                        dark
                        v-if="dataSearhcReadyTable"
                        @click.prevent="onSubmit()"
                        >
                        <v-icon left> mdi-content-save-edit </v-icon>
                        บันทึกข้อมูล
                    </v-btn>
                    <!-- <v-btn
                        color="teal"
                        depressed
                        dark
                        v-if="dataSearhcReadyTable"
                        @click.prevent="onExport()"
                        >
                        <v-icon left> mdi-file-excel </v-icon>
                        Export Excel
                    </v-btn> -->
                  </v-col>
                </v-row>
                <v-expansion-panels focusable v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <form v-if="dataSearhcReady">
                        <v-row>
                          <!-- <v-col cols="3">
                            <v-select
                              label="สาขา"
                              :items="optionsNoHObranchNo"
                              v-model="formSearch.branchNo"
                              dense
                            ></v-select>
                          </v-col> -->
                          <v-col cols="3">
                            <v-menu
                              v-model="menuSearch1"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.monthYear"
                                  prepend-icon="mdi-calendar"
                                  label="เดือน/ปี"
                                  v-bind="attrs"
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.monthYear"
                                @input="menuSearch1 = false"
                                type="month"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                        </v-row>
                        <v-row class="text-right">
                          <v-col cols="12">
                            <v-btn
                              color="warning"
                              depressed
                              @click.prevent="onSearch()"
                            >
                              <v-icon left> search </v-icon>
                              ค้นหา
                            </v-btn>
                            <v-btn
                              color="error"
                              depressed
                              @click.prevent="onClearSearch()"
                            >
                              <v-icon left> settings_backup_restore </v-icon>
                              Clear
                            </v-btn>
                          </v-col>
                        </v-row>
                      </form>
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                        <br>
                        <br>
                        <v-progress-linear
                            v-model="knowledge"
                            height="25"
                          >
                            <strong>{{ Math.ceil(knowledge) }}%</strong>
                          </v-progress-linear>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" v-if="dataSearhcReadyTable">
            <v-card elevation="7">
                <v-card-text>
                  <div v-if="dataSubmit" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                        <br>
                        <br>
                        <v-alert
                          dense
                          border="left"
                          type="warning"
                        >
                          กรุณา <strong>รอสักครู่ นะครับ</strong>
                        </v-alert>
                      </div>
                <v-data-table
                v-if="!dataSubmit"
                  :headers="columnsUse"
                  :items="datareportNew"
                  :items-per-page="100"
                >
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
import moment from 'moment'
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      expanded: [],
      panel: [0],
      menuSearch1: false,
      menuSearch2: false,
      menu1: false,
      rules: [
        (value) => !!value || 'Required.',
        (value) => (value && value.length >= 0) || 'Min 1 characters'
      ],
      session: this.$session.getAll(),
      dataSearhcReady: true,
      chkSearch: true,
      optionStaffInsuranceName: [],
      readonly: true,
      visible: false,
      formSearch: {
        branchNo: '',
        monthYear: '',
        carName: '',
        frameNo: '',
        regNo: '',
        insNm: '',
        insNo: '',
        TypeJob: '',
        customerName: '',
        insStaffName: ''
      },
      optionTypeMonth: [
        { text: 'มกราคม', value: '01' },
        { text: 'กุมภาพันธ์', value: '02' },
        { text: 'มีนาคม', value: '03' },
        { text: 'เมษายน', value: '04' },
        { text: 'พฤษภาคม', value: '05' },
        { text: 'มิถุนายน', value: '06' },
        { text: 'กรกฎาคม', value: '07' },
        { text: 'สิงหาคม', value: '08' },
        { text: 'กันยายน', value: '09' },
        { text: 'ตุลาคม', value: '10' },
        { text: 'พฤศจิกายน', value: '11' },
        { text: 'ธันวาคม', value: '12' }
      ],
      columns: [
        { text: 'สาขา', value: 'DEALER_CODE' },
        { text: 'ชื่อเซลล์', value: 'salesNames' },
        { text: 'Frame_NO', value: 'FRAME_NO' },
        { text: 'Model_NM', value: 'SERIES_NAME' },
        { text: 'Model_Year', value: 'MODEL_YEAR' },
        { text: 'ประกัน BP ล่าสุด', value: 'insNm' },
        { text: 'วันที่ Invoice', value: 'INVOICE_DATE' },
        { text: 'ชื่อลูกค้า', value: 'CUS_NM' },
        { text: 'TEL_Mobile_no', value: 'BOOK_CUS_MOBILE_NO' }
      ],
      salesNmUse: [],
      datareport: [],
      datareportNew: [],
      dataSalesIns: [],
      dataSalesInsRe: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      dataSubmit: false,
      checksubmit: true,
      datareportHistory: [],
      dataHistory: false,
      chkbutton: '',
      dateTime: '',
      knowledge: 0,
      datareportUse: []
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/Insurance/Login')
    } else {
    //   await this.getData()
      await this.getSalesIns()
      this.columnsUse = this.columns
    }
  },
  methods: {
    async getSalesIns () {
      this.dataSalesIns = []
      const url1 = `${this.$apiUrl}Insurance/Insurance/getDataSalesIns`
      let config1 = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          statusStart: 'true'
        }
      }
      await axios.get(url1, config1)
        .then(async (response) => {
          console.log(response.data)
          let rs = response.data
          this.dataSalesIns = rs
        })
    },
    async getSalesInsRe () {
      this.dataSalesInsRe = []
      const url1 = `${this.$apiUrl}Insurance/Insurance/getDataSalesIns`
      let config1 = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      await axios.get(url1, config1)
        .then(async (response) => {
          // console.log(response.data)
          let rs = response.data
          this.dataSalesInsRe = rs
        })
    },
    async onSearch () {
      // if (this.formSearch.monthYear !== '') {
      this.datareport = []
      this.datareportNew = []
      this.salesNmUse = []
      // this.dataSalesIns = []
      this.dataSalesInsRe = []
      this.knowledge = 0
      this.dataSearhcReady = false
      this.dataSubmit = false
      // var salesNm = this.dataSalesIns
      var startdatetime1 = new Date(this.formSearch.monthYear).getTime()
      const startDate = new Date(startdatetime1)
      const dateLocal = startDate.toLocaleString('th-TH', {
        timeZone: 'Asia/Bangkok',
        hour12: false
      })
      const dateSplit = dateLocal.split(' ')
      const date = dateSplit[0].split('/')
      const year = String(date[2])
      const month = String(date[1])
      const countyear = parseInt(year) - 543
      const countmonth = parseInt(month) + 100
      let monthStr = String(countmonth).substring(1, 3)
      // useMouth = countyear + '-' + monthStr
      var salesNm = this.dataSalesIns
      await axios
        .get(
          'https://api.betaskthai.com/vgroupl_api/CheckBookingNewCar.php?DLR_CD=0112&month=' + monthStr + '&year=' + countyear + '&type=IDS'
        )
        .then(async (response) => {
          // console.log(this.session.data.userName)
          let rs = response.data
          // rss.sort((a, b) => (a.Model_Year < b.Model_Year) ? 1 : -1)
          // let rs = rss
          console.log(rs)
          for (let i = 0; i < rs.length; i++) {
            var d = rs[i]
            if (d.CUS_NM === null) {
              d.CUS_NM = d.BOOK_CUS_FIRST_NAME
            }
            d.INVOICE_DATE = moment(String(d.INVOICE_DATE)).format('YYYY-MM-DD')
            // d.salesNames = d.STAFF_FIRST_NAME + ' ' + d.STAFF_LAST_NAME
            d.DEALER_CODE = '0112'
            this.datareport.push(d)
          }
          // this.datareport.push(s)
          // this.knowledge = (i / rs.length) * 100

          // this.salesNmUse = salesNm
          // console.log(salesNm)
          // console.log(this.datareport)
          // this.columnsUse = this.columns
          // this.datareport = rs
          // this.dataSearhcReady = true
          // this.dataSearhcReadyTable = true
          // this.panel = []
        })
      await axios
        .get(
          'https://api.betaskthai.com/vgroupl_api/CheckBookingNewCar.php?DLR_CD=0113&month=' + monthStr + '&year=' + countyear + '&type=IDS'
        )
        .then(async (response) => {
          let rs = response.data
          console.log(rs)
          for (let i = 0; i < rs.length; i++) {
            var d = rs[i]
            if (d.CUS_NM === null) {
              d.CUS_NM = d.BOOK_CUS_FIRST_NAME
            }
            d.INVOICE_DATE = moment(String(d.INVOICE_DATE)).format('YYYY-MM-DD')
            // d.salesNames = d.STAFF_FIRST_NAME + ' ' + d.STAFF_LAST_NAME
            d.DEALER_CODE = '0113'
            this.datareport.push(d)
          }
        })
      await axios
        .get(
          'https://api.betaskthai.com/vgroupl_api/CheckBookingNewCar.php?DLR_CD=0115&month=' + monthStr + '&year=' + countyear + '&type=IDS'
        )
        .then(async (response) => {
          let rs = response.data
          console.log(rs)
          for (let i = 0; i < rs.length; i++) {
            var d = rs[i]
            if (d.CUS_NM === null) {
              d.CUS_NM = d.BOOK_CUS_FIRST_NAME
            }
            d.INVOICE_DATE = moment(String(d.INVOICE_DATE)).format('YYYY-MM-DD')
            // d.salesNames = d.STAFF_FIRST_NAME + ' ' + d.STAFF_LAST_NAME
            d.DEALER_CODE = '0115'
            this.datareport.push(d)
          }
        })
      await axios
        .get(
          'https://api.betaskthai.com/vgroupl_api/CheckBookingNewCar.php?DLR_CD=0116&month=' + monthStr + '&year=' + countyear + '&type=IDS'
        )
        .then(async (response) => {
          let rs = response.data
          console.log(rs)
          for (let i = 0; i < rs.length; i++) {
            var d = rs[i]
            if (d.CUS_NM === null) {
              d.CUS_NM = d.BOOK_CUS_FIRST_NAME
            }
            d.INVOICE_DATE = moment(String(d.INVOICE_DATE)).format('YYYY-MM-DD')
            // d.salesNames = d.STAFF_FIRST_NAME + ' ' + d.STAFF_LAST_NAME
            d.DEALER_CODE = '0116'
            this.datareport.push(d)
          }
        })
      await this.chkDupFrame()
      if (this.datareportUse.length > 0) {
        let rs = this.datareportUse
        for (let i = 0; i < rs.length; i++) {
          var d = rs[i]
          await axios
            .get(
              'https://api.betaskthai.com/vgroupl_api/CheckBookingNewCar.php?FRAME_NO=' + d.FRAME_NO + '&type=newCar'
            )
            .then(async (response) => {
              let rs1 = response.data
              console.log(rs1)
              if (rs1.length > 0) {
              // d.tel1 = rs[0].TEL_NO
              // d.tel2 = rs[0].COMPANY_TEL_NO
                d.insNm = rs1[0].INS_NM
                d.PROTECTYPE = rs1[0].PROTECTYPE
                d.enddateIns = parseInt(rs1[0].START_DATE2.substring(6, 10)) + 1
                d.TYPE = rs1[0].TYPE
                var INSCOST = '0'
                var INSCHIP = '0'

                if (rs1[0].INSCOST === null || rs1[0].INSCOST === '') {
                  INSCOST = '0'
                } else {
                  INSCOST = rs1[0].INSCOST.replace(/,/g, '')
                }
                if (rs1[0].INSCHIP === null || rs1[0].INSCHIP === '') {
                  INSCHIP = '0'
                } else {
                  INSCHIP = rs1[0].INSCHIP.replace(/,/g, '')
                }
                d.INSCOST = INSCOST
                d.INSCHIP = INSCHIP
                d.accessories1 = rs1[0].ACCESSORIES
                d.accessories2 = rs1[0].ACC1
              } else {
              // d.tel1 = ''
              // d.tel2 = ''
                d.insNm = ''
                d.PROTECTYPE = ''
                d.enddateIns = ''
                d.TYPE = ''
                d.INSCOST = '0'
                d.INSCHIP = '0'
                d.accessories1 = ''
                d.accessories2 = ''
              }
            // console.log(rs)
            // for (let i = 0; i < rs.length; i++) {
            //   var d = rs[i]
            // }
            })

          // var insSum = '0'
          // var insDeductible = '0'
          // var discountGood = '0'
          // var discountFOC = '0'
          await axios
            .get(
              'https://asia-southeast2-betask-crm.cloudfunctions.net/FollowInvoice-bq_selete_All_FollowInvoice?prospectiveFrameNO=' + d.FRAME_NO
            )
            .then(async (responseFollowInvoice) => {
              let rs1 = responseFollowInvoice.data
              console.log(rs1)
              if (rs1.length > 0) {
                d.BOOK_CUS_MOBILE_NO = rs1[0].customerPhone
                d.BOOK_CUS_ADDRESS = rs1[0].customerAddress
                d.BOOK_CUS_CITY = rs1[0].customerSubDistrict
                d.BOOK_CUS_DISTRICT = rs1[0].customerDistrict
                d.BOOK_CUS_PROVINCE = rs1[0].customerProvince
                d.BOOK_CUS_ZIPCODE = rs1[0].customerZip
              }
            })

          const url = `${this.$apiUrl}Insurance/Insurance/getDataVehicle`
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            },
            params: {
              FRAME_NO: d.FRAME_NO,
              DLR_CD: d.BR_CD
            }
          }
          await axios.get(url, config).then((response) => {
            let rs = response.data[0]
            d.carName = rs.SERIES_NAME
            d.colorCar = rs.COLOR_CODE
            d.carType = rs.GRADE_NAME
            d.carYear = rs.MODEL_YEAR
            d.regNo = rs.REG_NO
            d.engine = rs.ENGINE_NO
          })
          if (salesNm.length > 0) {
            d.salesNames = salesNm[0].salesName
            salesNm.shift()
          } else {
            salesNm = []
            await this.getSalesInsRe()
            salesNm = this.dataSalesInsRe
            // console.log(this.dataSalesInsRe)
            d.salesNames = salesNm[0].salesName
            salesNm.shift()
          }
          this.knowledge = (i / rs.length) * 100
          this.datareportNew.push(d)
          console.log(this.datareportNew)
        }
        this.salesNmUse = salesNm
        this.columnsUse = this.columns
        this.dataSearhcReady = true
        this.dataSearhcReadyTable = true
        console.log(this.salesNmUse)
      } else {
        this.dataSearhcReady = true
        this.dataSearhcReadyTable = false
        this.$swal('Error', 'มีข้อมูล Frame No. อยู่แล้ว', 'error')
      }
    },
    async chkDupFrame () {
      this.knowledge = 0
      this.datareportUse = []
      let rs = this.datareport
      for (let i = 0; i < rs.length; i++) {
        var d = rs[i]
        const url = `${this.$apiUrl}Insurance/Insurance/getDataProspective?`
        // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
        const config = {
          headers: {
            'Application-Key':
            this.$apiToken
          },
          params: {
            frameNo: d.FRAME_NO,
            statusProspectiveAllSumInprocess: 'T'
            // statusProspective: 'Prospective'
          }
        }
        await axios
          .get(url, config)
          .then(async (response) => {
            let rs1 = response.data
            if (rs1 === 'ไม่มีข้อมูล') {
              this.datareportUse.push(d)
            }
          })
        this.knowledge = (i / rs.length) * 100
      }
    },
    onSubmit () {
      this.$swal({
        title: 'ตรวจสอบก่อนเพิ่มข้อมูล',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการเพิ่มหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'เพิ่มข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      })
        .then(async (result) => {
          this.dataSubmit = true
          this.knowledge1 = 0
          this.knowledge = 0
          let rs = this.datareport
          for (let i = 0; i < rs.length; i++) {
            const today = new Date()
            console.log(rs.length, i)
            this.knowledge1 = (i / rs.length) * 100
            const date =
              today.getFullYear() +
              '' +
              (today.getMonth() + 1) +
              '' +
              today.getDate()
            const time =
              today.getHours() + '' + today.getMinutes() + '' + today.getSeconds() + '' + today.getUTCMilliseconds()
            const dateTime = date + '' + time
            var d = rs[i]
            d.dateTimes = dateTime
            const url = `${this.$apiUrl}Insurance/Insurance/addDataProspective`
            let config = {
              headers: {
                'Content-Type': 'application/json',
                'Application-Key': this.$apiToken
              }
            }
            let dt = {
              'prospectiveCode': parseInt(d.dateTimes.trim()),
              'userLogin': this.session.data.User_NM.trim(),
              'startDate': d.INVOICE_DATE,
              'customerNo': d.BOOK_CUSTOMERID,
              'customerNM': d.CUS_NM,
              'customerTel1': d.BOOK_CUS_MOBILE_NO,
              'ADDRESS_DETAILS': d.BOOK_CUS_ADDRESS,
              'ADDRESS_TOWNCITY': d.BOOK_CUS_CITY,
              'ADDRESS_DISTRICT': d.BOOK_CUS_DISTRICT,
              'ADDRESS_PROVINCE': d.BOOK_CUS_PROVINCE,
              'ZIP_CD': d.BOOK_CUS_ZIPCODE,
              'frameNo': d.FRAME_NO.trim(),
              'branchNo': d.DEALER_CODE,
              'carBrand': 'HONDA',
              'carName': d.SERIES_NAME,
              'carType': d.carType,
              'carYear': d.MODEL_YEAR,
              'colorCar': d.MODEL_COLOR,
              'ragNo': d.regNo,
              'insNo': '',
              'insName': d.insNm,
              'insCapital': d.INSCOST,
              'insPremium': d.INSCHIP,
              'invoiceDate': d.INVOICE_DATE,
              'typeRepair': d.PROTECTYPE,
              'typeProtec': '1',
              'typeWork': 'New Car',
              'staffIns': d.salesNames,
              'typeInsurance': d.TYPE,
              'accessories1': d.accessories1,
              'accessories2': d.accessories2,
              'statusProspective': 'Prospective'
            }
            await axios.post(url, dt, config).then((response) => {
            })
            await this.insetToProcess(d)
          }
          var pushBookingNum = []
          let rs1 = this.salesNmUse
          for (var i = 0; i < rs1.length; i++) {
            var p = rs1[i]
            var s = {}
            s.nos = "'" + p.no + "'"
            pushBookingNum.push(s)
          }
          var useBookingNum = pushBookingNum.map(function (pushBookingNums) {
            return decodeURIComponent(pushBookingNums.nos)
          })
          console.log(useBookingNum)
          const url1 = `${this.$apiUrl}Insurance/Insurance/updateDataSalesNm`
          let config1 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt1 = {
            'no': useBookingNum,
            'where': 'in',
            'statusStart': 'fales'
          }
          await axios.post(url1, dt1, config1).then(async (response) => {
            if (useBookingNum.length > 0) {
              const url2 = `${this.$apiUrl}Insurance/Insurance/updateDataSalesNm`
              let config2 = {
                headers: {
                  'Content-Type': 'application/json',
                  'Application-Key': this.$apiToken
                }
              }
              let dt2 = {
                'no': useBookingNum,
                'where': 'not',
                'statusStart': 'true'
              }
              await axios.post(url2, dt2, config2).then(async (response) => {
                this.$swal('เรียบร้อย', 'บันทึกสำเร็จ', 'success')
                this.datareport = []
                this.salesNmUse = []
                this.dataSalesIns = []
                this.dataSalesInsRe = []
                this.dataSearhcReady = true
                this.dataSearhcReadyTable = false
                this.dataSubmit = false
                await this.getSalesIns()
              })
            } else {
              this.$swal('เรียบร้อย', 'บันทึกสำเร็จ', 'success')
              this.datareport = []
              this.salesNmUse = []
              this.dataSalesIns = []
              this.dataSalesInsRe = []
              this.dataSearhcReady = true
              this.dataSearhcReadyTable = false
              this.dataSubmit = false
              await this.getSalesIns()
            }
          })
        })
    },
    diff_years (dt2, dt1) {
      var diff = (dt2.getTime() - dt1.getTime()) / 1000
      diff /= (60 * 60 * 24)
      return Math.abs(Math.round(diff / 365.25))
    },
    async insetToProcess (d) {
      var chk = this.diff_years(new Date(d.INVOICE_DATE), new Date())
      var activeLv = 0
      if (chk > 0) {
        activeLv = '8'
      } else {
        activeLv = '1'
      }
      await axios
        .get(
          'https://api.betaskthai.com/vgroupl_api/GetDataINS_PROCESS.php?checkvo_num=T&dataType=process&frameNo=' + d.FRAME_NO.trim()
        )
        .then(async (response) => {
          let rs = response.data
          if (rs.length === 0) {
            const url = `${this.$apiUrl}Insurance/Insurance/addDataNewCar`
            let config = {
              headers: {
                'Content-Type': 'application/json',
                'Application-Key': this.$apiToken
              }
            }
            let dt = {
              'insID': parseInt(d.dateTimes.trim()),
              'prospectiveCode': parseInt(d.dateTimes.trim()),
              'CREATE_USER': this.session.data.User_NM.trim(),
              'LAST_USER': this.session.data.User_NM.trim(),
              'dateProtec1': d.INVOICE_DATE,
              'dateProtec2': d.INVOICE_DATE,
              'customerNo': d.BOOK_CUSTOMER_NO,
              'customerName': d.CUS_NM,
              'tel1': d.BOOK_CUS_MOBILE_NO,
              'details': d.BOOK_CUS_ADDRESS,
              'towncity': d.BOOK_CUS_CITY,
              'district': d.BOOK_CUS_DISTRICT,
              'provinve': d.BOOK_CUS_PROVINCE,
              'postalCode': d.BOOK_CUS_ZIPCODE,
              'frameNo': d.FRAME_NO.trim(),
              'branchNo': d.DEALER_CODE,
              'carName': d.SERIES_NAME,
              'carType': d.carType,
              'regNo': d.regNo,
              'carYear': d.MODEL_YEAR,
              'colorCar': d.MODEL_COLOR,
              'insNo': '',
              'insName': d.insNm,
              'insCapital': parseFloat(d.INSCOST),
              'insPremium': parseFloat(d.INSCHIP),
              'typeRepair': d.PROTECTYPE,
              'typeProtec': '1',
              'staffIns': d.salesNames,
              'typeInsurance': d.TYPE,
              'accessories1': d.accessories1,
              'accessories2': d.accessories2,
              'typeWork': 'New Car',
              'active': activeLv
            }
            await axios.post(url, dt, config).then((response) => {
            })
          }
        })
    },
    onClearSearch () {
      this.datareport = []
      this.datareportNew = []
      this.salesNmUse = []
      this.dataSalesInsRe = []
      this.formSearch.branchNo = ''
      this.formSearch.monthYear = ''
      this.formSearch.carName = ''
      this.formSearch.frameNo = ''
      this.formSearch.regNo = ''
      this.formSearch.insNm = ''
      this.formSearch.insNo = ''
      this.formSearch.customerName = ''
      this.formSearch.searchDate = ''
      this.formSearch.insStaffName = ''
      this.formSearch.TypeJob = ''
    },
    onExport () {
      this.$swal({
        title: 'ส่งออกข้อมูล',
        text: 'ท่านต้องการ ส่งออกข้อมูล หรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'ส่งออกข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      })
        .then((result) => {
          const dataWS = XLSX.utils.json_to_sheet(this.datareport)
          const wb = XLSX.utils.book_new()
          XLSX.utils.book_append_sheet(wb, dataWS)
          XLSX.writeFile(wb, 'ReportNewCar.xlsx')
        })
    }
  }
}
</script>
