<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <!-- <v-tabs
                    v-model="tab"
                    background-color="red"
                    centered
                    dark
                    icons-and-text
                  > -->
                <v-tabs
                    v-model="tab"
                    background-color="red lighten-1"
                    dark
                    icons-and-text
                  >
                  <v-tabs-slider></v-tabs-slider>
                    <!-- <v-tab active @click="tabActive('A')">
                      Overview Insurance
                      <v-icon>people</v-icon>
                    </v-tab> -->
                     <v-tab active @click="tabActive('A')">
                      Monitor
                      <v-icon>monitor</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('B')">
                      Backorder
                      <v-icon>monitor</v-icon>
                    </v-tab>
                       <v-tab active @click="tabActive('C')">
                      Reason Insurance
                      <v-icon>people</v-icon>
                    </v-tab>
                       <v-tab active @click="tabActive('D')">
                      NCB and No NCB By Branch
                      <v-icon>people</v-icon>
                    </v-tab>
                     <v-tab active @click="tabActive('E')">
                      NCB and No NCB By Sales
                      <v-icon>people</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('F')">
                      Reports Insurance Model
                      <v-icon>people</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('G')">
                      KPI Honda
                      <v-icon>directions_run</v-icon>
                    </v-tab>
                     <!-- <v-tab href="#tab-2">
                      Favorites
                      <v-icon>mdi-heart</v-icon>
                    </v-tab>

                    <v-tab href="#tab-3">
                      Nearby
                      <v-icon>mdi-account-box</v-icon>
                    </v-tab> -->
                  </v-tabs>
                  <template v-if="showDashboardA">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardB">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                   <template v-if="showDashboardC">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                   <template v-if="showDashboardD">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardE">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardF">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardG">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <!-- <template v-if="showDashboardH">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardG">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template> -->
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
  },
  data () {
    return {
      breadcrumbs: [
        {
          text: 'Insurance Overview',
          disabled: true,
          href: '/insurance/DashBoardDataStudio'
        }
      ],
      showDashboardA: false,
      showDashboardB: false,
      showDashboardC: false,
      showDashboardD: false,
      showDashboardE: false,
      showDashboardF: false,
      showDashboardG: false,
      showDashboardH: false
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/dashboard/Login')
    } else {
      await this.tabActive('A')
    }
  },
  methods: {
    tabActive (dt) {
      this.tabActives = dt
      // if (dt === 'A') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/914f9aad-190f-49ce-a9ed-15e42eea8fa3/page/p_oisiwtvupc'
      //   this.showDashboardA = true
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = false
      //   this.showDashboardG = false
      //   this.showDashboardH = false
      // }
      if (dt === 'A') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/49293896-aeea-4e84-9de9-686278d3537d/page/xD8xC'

        this.showDashboardA = true
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'B') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/449aa0d2-bc5f-4584-b076-31581edfc56f/page/xD8xC'

        this.showDashboardA = false
        this.showDashboardB = true
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'C') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/cbdc8c4a-64ef-41e4-bfb9-b71f3c00c37a/page/V0gfC'

        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = true
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'D') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/323aad24-6d9b-4832-afdc-31dc917603b8/page/p_52ks0y8ppc'

        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = true
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'E') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/42e430ff-37ba-4c27-b990-ad0926137ba3/page/p_p2e5xdbqpc'

        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = true
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'F') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/f08aa6be-03d0-471d-9005-c76bed583eca/page/p_by0qngbqpc'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = true
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'G') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/aaad50a2-dc19-417c-9833-8921310484c3/page/p_i1cay4uiqc'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = true
        this.showDashboardH = false
      }
    }
  }
}
</script>
<style scoped>
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.h_iframe iframe {
  width: 100%;
  height: 3000px;
}
.h_iframe {
  height: 100%;
  width: 100%;
}
.red {
  color: red;
}
.yellow {
  color: #b1a501;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.blue0483de {
  color: #0483de;
}
</style>
