<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-carousel
                cycle
                height="400"
                hide-delimiter-background
                show-arrows-on-hover
              >
                <v-carousel-item
                  v-for="(slide, i) in slides"
                  :key="i"
                  reverse-transition="fade-transition"
                  transition="fade-transition"
                >
                  <v-sheet
                  :color="colors[i]"
                    height="100%"
                  >
                    <v-row
                      class="fill-height"
                      align="center"
                      justify="center"
                    >
                      <div class="display-3 text-center">
                        {{ slide }}
                      </div>
                    </v-row>
                  </v-sheet>
                </v-carousel-item>
              </v-carousel>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
// import axios from 'axios'
import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      slides: [
      ],
      colors: [
        'indigo',
        'warning',
        'pink darken-2'
      ],
      session: this.$session.getAll(),
      forms: [],
      form: {
        payTypeName: ''
      },
      formUpdate: {
        id: '',
        payTypeName: ''
      },
      formSearch: {
        payTypeName: '',
        StartDate: '',
        EndDate: ''
      },
      dataReady: true,
      dataSearhcReady: true,
      dataListReady: false
    }
  },

  // eslint-disable-next-line space-before-function-paren
  async mounted() {
    // await this.getListData()
    if (!this.$session.exists()) {
      this.$router.push('/Insurance/Login')
    } else {
      this.slides = [
        'สวัสดีคุณ ' + this.session.data.Name + ' ' + this.session.data.Surname,
        'ยินดีต้อนรับเข้าสู่ระบบ',
        'คุณสามารถเริ่มใช้งานได้จากเมนูทางด้านซ้ายของท่าน'
      ]
    }
  },
  methods: {
  }
}
</script>
<style scoped>

</style>
