<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card>
            <v-container>
              <v-alert border="top" dark>
                <v-icon left>
                  hdr_strong
                </v-icon>
                Import Insurance
              </v-alert>
                <form>
                  <template v-if="dataReady">
                  <div class="row">
                    <div class="col-12">
                     <v-card>
            <v-container>
              <v-card-title>Import to Insurance</v-card-title>
                        <!-- <b-button @click="chkAndUpdate()" variant="primary">Go To Database</b-button> -->
                        <vue-xlsx-table @on-select-file="handleSelectedFile">Update</vue-xlsx-table>
            </v-container>
                     </v-card>
                  </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-12">
                      <v-data-table
                          dense
                          :headers="columns"
                          :items="items"
                          item-key="name"
                          class="elevation-1"
                        ></v-data-table>
                    </div>
                  </div>
                  </template>
                   <template v-if="!dataReady">
                     <div class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                        </div>
                      <br>
                      <div class="text-center">
                        <b-progress :max="max">
                          <b-progress-bar :value="value" :label="`${((value / max) * 100).toFixed(2)}%`" show-progress animated></b-progress-bar>
                        </b-progress>
                      </div>
                   </template>
                </form>
            </v-container>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
    </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
// import XLSX from 'xlsx' // import xlsx
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import 'vue2-datepicker/locale/th'
export default {
  components: {
    DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
    // countMeetState () {
    //   return this.form.countMeet.length > 0
    // },
  },
  data () {
    return {
      session: this.$session.getAll(),
      items: [],
      value: 0,
      max: 0,
      columns: [
        { text: 'สาขา', value: 'branchNo' },
        { text: 'วันเริ่มหมดอายุ', value: 'dateInsMatured' },
        { text: 'เลขที่กรมธรรม์', value: 'insNo' },
        { text: 'บริษัทประกัน', value: 'insName' },
        { text: 'รุ่นรถยนต์', value: 'carName' },
        { text: 'ชื่อลูกค้า', value: 'customerName' }
      ],
      datareport: [],
      dataReady: true,
      dateTime: ''
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/Insurance/Login')
    } else {
      this.getNow()
    }
  },
  methods: {
    handleSelectedFile (convertedData) {
      // console.log(convertedData.body)
      this.dataReady = false
      this.chkAndUpdate(convertedData.body)
    },
    getListData () {
      this.items = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataInsurance`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key':
            this.$apiToken
        },
        params: {
          statusImport: '1'
        }
      }
      axios.get(url, config).then(response => {
        let rs = response.data
        for (var i = 0; i < rs.length; i++) {
          var d = rs[i]
          this.items.push(d)
        }
        console.log(this.items)
      })
    },
    getNow () {
      const today = new Date()
      // console.log(today)
      const date =
        today.getFullYear() +
        '' +
        (today.getMonth() + 1) +
        '' +
        today.getDate()
      const time =
        today.getHours() + '' + today.getMinutes() + '' + today.getSeconds()
      const dateTime = date + '' + time
      this.dateTime = dateTime
      // console.log(this.dateTime)
      // this.formUpdate.prospectiveCode = dateTime
    },
    async chkAndUpdate (dataImport) {
      this.max = dataImport.length
      for (var i = 0; i < dataImport.length; i++) {
        var d = dataImport[i]
        this.value = i
        let dateProtec2DD = d.วันที่เริ่มต้น.substring(0, 2)
        let dateProtec2MM = d.วันที่เริ่มต้น.substring(3, 5)
        let dateProtec2YY = d.วันที่เริ่มต้น.substring(6)
        let yearNext = parseInt(dateProtec2YY) - 543
        let yearNext1 = parseInt(yearNext) + 1
        let dateProtec1 = yearNext + '-' + dateProtec2MM + '-' + dateProtec2DD
        let dateProtec2 = yearNext + '-' + dateProtec2MM + '-' + dateProtec2DD
        let dateInsMatured = yearNext1 + '-' + dateProtec2MM + '-' + dateProtec2DD
        let insNM
        const url = `${this.$apiUrl}Insurance/Insurance/getDataInsNm`
        let config = {
          headers: {
            'Content-Type': 'application/json',
            'Application-Key':
            this.$apiToken
          },
          params: {
            insuranceID: d.บริษัท
          }
        }
        await axios.get(url, config).then(async response => {
          let rs = response.data
          if (rs.length > 0) {
            for (var i = 0; i < rs.length; i++) {
              var dinsnm = rs[i]
              if (dinsnm !== 'ไม่มีข้อมูล') {
                insNM = dinsnm.company_NM
              }
              console.log(insNM)
            }
          }
        })
        // Process
        const url1 = `${this.$apiUrl}Insurance/Insurance/getDataInsurance`
        let config1 = {
          headers: {
            'Content-Type': 'application/json',
            'Application-Key': this.$apiToken
          },
          params: {
            insNo: d.กรมธรรม์เลขที่,
            active: '0',
            frameNo: d.หมายเลขตัวถัง
          }
        }
        await axios
          .get(url1, config1)
          .then(async (response) => {
            let rs = response.data
            if (rs === 'ไม่มีข้อมูล') {
              // Process
              const url = `${this.$apiUrl}Insurance/Insurance/getDataInsurance`
              let config = {
                headers: {
                  'Content-Type': 'application/json',
                  'Application-Key': this.$apiToken
                },
                params: {
                  active: '1',
                  frameNo: d.หมายเลขตัวถัง
                }
              }
              await axios
                .get(url, config)
                .then(async (response) => {
                  let rs1 = response.data
                  var insD = rs1
                  const url9 = `${this.$apiUrl}Insurance/Insurance/addData`
                  let config9 = {
                    headers: {
                      'Content-Type': 'application/json',
                      'Application-Key': this.$apiToken
                    }
                  }
                  console.log('ins', insD)
                  let dt9
                  if (insD === 'ไม่มีข้อมูล') {
                    dt9 = {
                      'insID': parseFloat(this.dateTime) + i,
                      'branchNo': d.branchNO,
                      'active': '0',
                      'typeCustomer': '1',
                      'financeName': '',
                      'carName': d.carName,
                      'carType': d.carModel,
                      'carYear': d.carYear,
                      'brandCar': 'HONDA',
                      'colorCar': '',
                      'regNo': d.ทะเบียนรถ,
                      'regProvinve': d.จังหวัดที่จดทะเบียน,
                      'frameNo': d.หมายเลขตัวถัง,
                      'engineNo': '',
                      'accessories1': '',
                      'accessories2': '',
                      'typeInsurance': d.ประเภทประกันภัย,
                      'insNo': d.กรมธรรม์เลขที่,
                      'insName': insNM,
                      'typeProtec': d.ประเภทคุ้มครอง,
                      'typeRepair': d.ซ่อมศูนย์อู่,
                      'customerNo': '',
                      'customerName': d.ชื่อลูกค้า,
                      'details': '',
                      'towncity': '',
                      'district': '',
                      'provinve': '',
                      'postalCode': '',
                      'tel': '',
                      'barcode': '',
                      'dateAct': '',
                      'dateCancelIns': '',
                      'dateCancelInsAct': '',
                      'paymentType': '',
                      'directPayment': 'ไม่ตรง',
                      'dateMail': '',
                      'dateInsNoti': '',
                      'dateGetPolicy': '',
                      'dateProtec1': dateProtec1,
                      'dateProtec2': dateProtec2,
                      'dateInsMatured': dateInsMatured,
                      'dateSendAccount': '',
                      'dateSendSale': '',
                      'dateWarning': '',
                      'typeNew': '',
                      'discountGood': parseFloat(d.ส่วนลดประวัติดี) || 0,
                      'discountFOC': 0,
                      'insCapital': parseFloat(d.ทุนประกัน) || 0,
                      'insPremium': parseFloat(d.เบี้ยใหม่) || 0,
                      'insAct': 0,
                      'insSum': 0,
                      'insDeductible': 0,
                      'specialCustomerRecord': '',
                      'remarkIns': '',
                      'nameAdmin': '',
                      'staffIns': '',
                      'remarkInsSelect': '',
                      'countFollow': 0,
                      'CREATE_USER': this.session.data.User_NM,
                      'statusImport': '1',
                      'LAST_USER': this.session.data.User_NM
                    }
                  } else {
                    dt9 = {
                      'insID': this.dateTime,
                      'branchNo': d.branchNO,
                      'active': '0',
                      'typeCustomer': insD.typeCustomer || '',
                      'financeName': insD.financeName || '',
                      'carName': d.carName,
                      'carType': d.carModel,
                      'carYear': d.carYear,
                      'brandCar': 'HONDA',
                      'colorCar': insD.colorCar || '',
                      'regNo': d.ทะเบียนรถ,
                      'regProvinve': d.จังหวัดที่จดทะเบียน,
                      'frameNo': d.หมายเลขตัวถัง,
                      'engineNo': insD.engine || '',
                      'accessories1': insD.accessories1 || '',
                      'accessories2': insD.accessories2 || '',
                      'typeInsurance': d.ประเภทประกันภัย,
                      'insNo': d.กรมธรรม์เลขที่,
                      'insName': insNM,
                      'typeProtec': d.ประเภทคุ้มครอง,
                      'typeRepair': d.ซ่อมศูนย์อู่,
                      'customerNo': insD.cusNo || '',
                      'customerName': d.ชื่อลูกค้า,
                      'details': insD.details || '',
                      'towncity': insD.towncity || '',
                      'district': insD.district || '',
                      'provinve': insD.provinve || '',
                      'postalCode': insD.postalCode || '',
                      'tel': insD.tel || '',
                      'barcode': insD.barcode || '',
                      'dateAct': insD.dateAct || '',
                      'dateCancelIns': insD.dateCancelIns || '',
                      'dateCancelInsAct': insD.dateCancelInsAct || '',
                      'paymentType': insD.paymentType || '',
                      'directPayment': insD.directPayment || 'ไม่ตรง',
                      'dateMail': insD.dateMail || '',
                      'dateInsNoti': '',
                      'dateGetPolicy': insD.dateGetPolicy || '',
                      'dateProtec1': dateProtec1,
                      'dateProtec2': dateProtec2,
                      'dateInsMatured': dateInsMatured,
                      'dateSendAccount': insD.dateSendAccount || '',
                      'dateSendSale': insD.dateSendSale || '',
                      'dateWarning': insD.dateWarning || '',
                      'typeNew': insD.typeNew || '',
                      'discountGood': parseFloat(d.ส่วนลดประวัติดี) || 0,
                      'discountFOC': parseFloat(insD.discountFOC) || 0,
                      'insCapital': parseFloat(d.ทุนประกัน) || 0,
                      'insPremium': parseFloat(d.เบี้ยใหม่) || 0,
                      'insAct': parseFloat(insD.insAct) || 0,
                      'insSum': parseFloat(insD.insSum) || 0,
                      'insDeductible': parseFloat(insD.insDeductible) || 0,
                      'specialCustomerRecord': insD.specialCustomerRecord || '',
                      'remarkIns': '',
                      'nameAdmin': '',
                      'staffIns': '',
                      'remarkInsSelect': '',
                      'countFollow': 0,
                      'CREATE_USER': this.session.data.User_NM,
                      'statusImport': '1',
                      'LAST_USER': this.session.data.User_NM
                    }
                  }
                  axios
                    .post(url9, dt9, config9)
                    .then(response => {
                      // if (response.data.status === 'FALSE') {
                      //   this.$swal('ผิดพลาด', response.data.message, 'error')
                      // } else {
                      //   this.getListData()
                      //   this.$swal('เรียบร้อย', response.data.message, 'success')
                      // }
                    })
                })
            }
          })
      }
      this.getListData()
      this.dataReady = true
      this.$swal('เรียบร้อย', 'บันทึกข้อมูลสำเร็จ', 'success')
    }
  }
}
</script>
<style>
  table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
