<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="3">
                    <b>Insurance Warning</b>
                  </v-col>
                </v-row>
                <v-expansion-panels focusable v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <form v-if="dataSearhcReady">
                        <v-row>
                          <v-col cols="3">
                            <v-select
                              label="เลือกสาขา"
                              :items="optionsbranchNo"
                              v-model="formSearch.branchNo"
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="3">
                            <v-select
                              label="รุ่นรถยนต์"
                              :items="optionCarotherModelHONDA"
                              v-model="formSearch.carName"
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.regNo"
                              label="ทะเบียนรถ"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.frameNo"
                              label="หมายเลขตัวถัง"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row
                          v-if="
                            statusSearch == 'รถใหม่' ||
                            statusSearch == 'ใบเตือน'
                          "
                        >
                          <v-col cols="3" v-if="statusSearch == 'ใบเตือน'">
                            <v-menu
                              v-model="menuSearch2"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.monthYear"
                                  prepend-icon="mdi-calendar"
                                  label="เดือน/ปี หมดอายุ"
                                  v-bind="attrs"
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.monthYear"
                                @input="menuSearch2 = false"
                                type="month"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col cols="3">
                            <v-select
                              label="บริษัทประกันภัย"
                              :items="optionInsuranceName"
                              v-model="formSearch.insNm"
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.insNo"
                              label="เลขที่กรมธรรม์"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.customerName"
                              label="ชื่อลูกค้า"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3">
                            <v-select
                              label="ชื่อพนักงานขายประกัน"
                              :items="optionStaffInsuranceName"
                              v-model="formSearch.insStaffName"
                              dense
                            ></v-select>
                          </v-col>
                        </v-row>
                        <v-row class="text-right">
                          <v-col cols="12">
                            <v-btn
                              color="warning"
                              depressed
                              @click.prevent="onSearch()"
                            >
                              <v-icon left> search </v-icon>
                              ค้นหา
                            </v-btn>
                            <v-btn
                              color="error"
                              depressed
                              @click.prevent="onClearSearch()"
                            >
                              <v-icon left> settings_backup_restore </v-icon>
                              Clear
                            </v-btn>
                          </v-col>
                        </v-row>
                      </form>
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" v-if="dataSearhcReadyTable">
            <v-card elevation="7">
              <v-card-text>
                <v-data-table
                  :headers="columnsUse"
                  :items="datareport"
                  :items-per-page="5"
                >
                  <template v-slot:[`item.action`]="{ item }">
                    <v-btn
                      color="warning"
                      fab
                      small
                      @click.stop="setData(item)"
                    >
                      <v-icon dark> mdi-tools </v-icon>
                    </v-btn>
                  </template>
                  <!-- v-slot:item.action="{ item }"
                  <template v-slot:item.action="{ item }">
                    <v-btn
                      color="cyan"
                      fab
                      small
                      @click="setData(item), (panel = [])"
                      ><v-icon dark>arrow_downward</v-icon></v-btn
                    >
                  </template> -->
                </v-data-table>
                <v-dialog
                  v-model="dialog"
                  fullscreen
                  hide-overlay
                  transition="dialog-bottom-transition"
                >
                <!-- <v-dialog
                  v-model="dialog"
                  fullscreen
                  hide-overlay
                  transition="dialog-bottom-transition"
                  scrollable
                > -->
                  <v-card tile>
                    <v-toolbar flat dark color="primary">
                      <v-btn icon dark @click.stop="dialog = false">
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                      <v-toolbar-title>เพิ่มข้อมูลเข้าระบบ Insurance</v-toolbar-title>
                      <v-spacer />
                      <v-toolbar-items>
                        <v-btn color="primary" dark @click="onSubmit()" depressed>
                            <v-icon left> add_box </v-icon>
                            เพิ่มข้อมูล
                          </v-btn>
                      </v-toolbar-items>
                    </v-toolbar>
                    <v-card-text>
                      <br>
                      <v-expansion-panels focusable v-model="panel1">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>mdi-car-multiple</v-icon> ข้อมูลรถยนต์</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <v-row>
                        <v-col cols="3">
                          <v-select
                            label="สาขา"
                            :items="optionsbranchNo"
                            v-model="form.branchNo"
                            dense
                          ></v-select>
                        </v-col>
                        <v-col cols="3">
                          <v-select
                            label="Ative"
                            :items="optionsActive"
                            v-model="form.active"
                            dense
                          ></v-select>
                        </v-col>
                        <v-col cols="3">
                          <v-select
                            label="บุคคล"
                            :items="optionsTypeCus"
                            v-model="form.typeCus"
                            dense
                          ></v-select>
                        </v-col>
                        <v-col cols="3">
                          <v-text-field
                            v-model="form.brandCar"
                            label="ยี่ห้อรถยนต์"
                            :disabled="readonly"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="3">
                          <v-select
                              label="รุ่นรถยนต์"
                              :items="optionCarotherModelHONDA"
                              v-model="form.carName"
                              dense
                            ></v-select>
                        </v-col>
                        <v-col cols="3">
                          <v-text-field
                            v-model="form.carType"
                            label="ประเภทรถยนต์"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="3">
                          <v-text-field
                            v-model="form.carYear"
                            label="ปีรถยนต์"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="3">
                          <v-select
                            label="สีรถยนต์"
                            :items="optionCarotherColor"
                            v-model="form.colorCar"
                            dense
                          ></v-select>
                        </v-col>
                        <v-col cols="3">
                          <v-text-field
                            v-model="form.regNo"
                            label="ทะเบียนรถ"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="3">
                          <v-select
                            label="จังหวัดทะเบียนรถ"
                            :items="optionProvince"
                            v-model="form.regProvinve"
                            dense
                          ></v-select>
                        </v-col>
                        <v-col cols="3">
                          <v-text-field
                            v-model="form.frameNo"
                            label="Frame No."
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="3">
                          <v-text-field
                            v-model="form.engine"
                            label="Engine No."
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="3">
                          <v-text-field
                            v-model="form.insNo"
                            label="เลขที่กรมธรรม์"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="3">
                          <v-text-field
                            v-model="form.barcode"
                            label="เลขที่บาร์โค๊ด"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="3">
                          <v-select
                            label="ประเภทการชำระ"
                            :items="optionsPaymentType"
                            v-model="form.paymentType"
                            dense
                          ></v-select>
                        </v-col>
                        <v-col cols="3" v-if="form.paymentType == 'เงินสด'">
                          <v-text-field
                            v-model="form.financeName"
                            label="ชื่อลูกค้า"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="3" v-if="form.paymentType == 'ไฟแนนซ์'">
                          <v-select
                            label="ไฟแนนซ์"
                            :items="optionsFinance"
                            v-model="form.financeName"
                            dense
                          ></v-select>
                        </v-col>
                        <v-col cols="3">
                          <v-text-field
                            v-model="form.nameAdmin"
                            label="ชื่อพนักงาน Admin"
                            outlined
                            dense
                            :disabled="readonly"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row v-if="statusSearch == 'รถใหม่'">
                        <v-col cols="6">
                          <v-textarea
                                        filled
                                        label="รายการของแต่ง"
                                        auto-grow
                                        :disabled="readonly"
                                        v-model="form.accessories1"
                                        background-color="blue lighten-5"
                                      ></v-textarea>
                        </v-col>
                        <v-col cols="6">
                          <v-textarea
                                        filled
                                        label="รายการของแต่ง"
                                        auto-grow
                                        :disabled="readonly"
                                        v-model="form.accessories2"
                                        background-color="blue lighten-5"
                                      ></v-textarea>
                        </v-col>
                      </v-row>
                      <v-row v-if="statusSearch != 'รถใหม่'">
                        <v-col cols="6">
                          <v-text-field
                            v-model="form.accessories1"
                            label="รายการของแต่ง"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                          <v-text-field
                            v-model="form.accessories2"
                            label="รายการของแต่ง"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                      </v-expansion-panels>
                    <v-row>
                      <v-col cols="4">
                            <v-card>
                              <v-card-text>
                                <v-alert
                                  border="top"
                                  color="warning lighten-2"
                                  dark
                                >
                                  <v-icon left>
                                    calendar_today
                                  </v-icon>
                                  วันที่ต่างๆ
                                </v-alert>
                                <v-row>
                                  <v-col col="12">
                                    <v-menu
                                      v-model="menu1"
                                      :close-on-content-click="false"
                                      :nudge-right="40"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="290px"
                                    >
                                      <template
                                        v-slot:activator="{ on, attrs }"
                                      >
                                        <v-text-field
                                          v-model="form.dateMail"
                                          prepend-icon="mdi-calendar"
                                          label="วันที่ ส่งจดหมาย"
                                          v-bind="attrs"
                                          outlined
                                          dense
                                          :rules="rules"
                                          v-on="on"
                                        ></v-text-field>
                                      </template>
                                      <v-date-picker
                                        v-model="form.dateMail"
                                        @input="menu1 = false"
                                      ></v-date-picker>
                                    </v-menu>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col col="12">
                                    <v-menu
                                      v-model="menu2"
                                      :close-on-content-click="false"
                                      :nudge-right="40"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="290px"
                                    >
                                      <template
                                        v-slot:activator="{ on, attrs }"
                                      >
                                        <v-text-field
                                          v-model="form.dateInsNoti"
                                          prepend-icon="mdi-calendar"
                                          label="วันที่ แจ้งประกัน"
                                          dense
                                          v-bind="attrs"
                                          outlined
                                          :rules="rules"
                                          v-on="on"
                                        ></v-text-field>
                                      </template>
                                      <v-date-picker
                                        v-model="form.dateInsNoti"
                                        @input="menu2 = false"
                                      ></v-date-picker>
                                    </v-menu>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col col="12">
                                    <v-menu
                                      v-model="menu3"
                                      :close-on-content-click="false"
                                      :nudge-right="40"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="290px"
                                    >
                                      <template
                                        v-slot:activator="{ on, attrs }"
                                      >
                                        <v-text-field
                                          v-model="form.dateGetPolicy"
                                          prepend-icon="mdi-calendar"
                                          label="วันที่ รับกรมธรรม์"
                                          dense
                                          v-bind="attrs"
                                          outlined
                                          :rules="rules"
                                          v-on="on"
                                        ></v-text-field>
                                      </template>
                                      <v-date-picker
                                        v-model="form.dateGetPolicy"
                                        @input="menu3 = false"
                                      ></v-date-picker>
                                    </v-menu>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col col="12">
                                    <v-menu
                                      v-model="menu4"
                                      :close-on-content-click="false"
                                      :nudge-right="40"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="290px"
                                    >
                                      <template
                                        v-slot:activator="{ on, attrs }"
                                      >
                                        <v-text-field
                                          v-model="form.dateProtec1"
                                          prepend-icon="mdi-calendar"
                                          label="วันที่ คุ้มครองภาคสมัครใจ"
                                          dense
                                          v-bind="attrs"
                                          outlined
                                          :rules="rules"
                                          v-on="on"
                                        ></v-text-field>
                                      </template>
                                      <v-date-picker
                                        v-model="form.dateProtec1"
                                        @input="menu4 = false"
                                      ></v-date-picker>
                                    </v-menu>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col col="12">
                                    <v-menu
                                      v-model="menu5"
                                      :close-on-content-click="false"
                                      :nudge-right="40"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="290px"
                                    >
                                      <template
                                        v-slot:activator="{ on, attrs }"
                                      >
                                        <v-text-field
                                          v-model="form.dateProtec2"
                                          prepend-icon="mdi-calendar"
                                          label="วันที่ คุ้มครองภาคบังคับ(พรบ.)"
                                          dense
                                          v-bind="attrs"
                                          outlined
                                          :rules="rules"
                                          v-on="on"
                                        ></v-text-field>
                                      </template>
                                      <v-date-picker
                                        v-model="form.dateProtec2"
                                        @input="menu5 = false"
                                      ></v-date-picker>
                                    </v-menu>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col col="12">
                                    <v-menu
                                      v-model="menu6"
                                      :close-on-content-click="false"
                                      :nudge-right="40"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="290px"
                                    >
                                      <template
                                        v-slot:activator="{ on, attrs }"
                                      >
                                        <v-text-field
                                          v-model="form.dateInsMatured"
                                          prepend-icon="mdi-calendar"
                                          label="วันที่ ครบกำหนดประกัน"
                                          dense
                                          v-bind="attrs"
                                          outlined
                                          :rules="rules"
                                          v-on="on"
                                        ></v-text-field>
                                      </template>
                                      <v-date-picker
                                        v-model="form.dateInsMatured"
                                        @input="menu6 = false"
                                      ></v-date-picker>
                                    </v-menu>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col col="12">
                                    <v-menu
                                      v-model="menu7"
                                      :close-on-content-click="false"
                                      :nudge-right="40"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="290px"
                                    >
                                      <template
                                        v-slot:activator="{ on, attrs }"
                                      >
                                        <v-text-field
                                          v-model="form.dateSendAccount"
                                          prepend-icon="mdi-calendar"
                                          label="วันที่ ส่งให้บัญชี"
                                          dense
                                          v-bind="attrs"
                                          outlined
                                          :rules="rules"
                                          v-on="on"
                                        ></v-text-field>
                                      </template>
                                      <v-date-picker
                                        v-model="form.dateSendAccount"
                                        @input="menu7 = false"
                                      ></v-date-picker>
                                    </v-menu>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col col="12">
                                    <v-menu
                                      v-model="menu8"
                                      :close-on-content-click="false"
                                      :nudge-right="40"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="290px"
                                    >
                                      <template
                                        v-slot:activator="{ on, attrs }"
                                      >
                                        <v-text-field
                                          v-model="form.dateSendSale"
                                          prepend-icon="mdi-calendar"
                                          label="วันที่ ส่งกรมธรรม์ให้ Sale"
                                          dense
                                          v-bind="attrs"
                                          outlined
                                          :rules="rules"
                                          v-on="on"
                                        ></v-text-field>
                                      </template>
                                      <v-date-picker
                                        v-model="form.dateSendSale"
                                        @input="menu8 = false"
                                      ></v-date-picker>
                                    </v-menu>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col col="12">
                                    <v-select
                                      label="ประเภทประกันภัย"
                                      :items="optionsTypeIns"
                                      v-model="form.typeIns"
                                      :rules="rules"
                                      hide-details="auto"
                                      outlined
                                      dense
                                    ></v-select>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col col="12">
                                    <v-select
                                      label="ประเภทคุ้มครอง"
                                      :items="optionsTypeProtec"
                                      v-model="form.typeProtec"
                                      :rules="rules"
                                      hide-details="auto"
                                      outlined
                                      dense
                                    ></v-select>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col col="12">
                                    <v-select
                                      label="ซ่อมห้าง/อู่"
                                      :items="optionsTypeRepair"
                                      v-model="form.typeRepair"
                                      :rules="rules"
                                      outlined
                                      hide-details="auto"
                                      dense
                                    ></v-select>
                                  </v-col>
                                </v-row>
                                <v-row>
                            <v-col cols="12">
                              <v-flex xs12>
                                      <v-subheader>% ส่วนลดประวัติดี</v-subheader>
                                    </v-flex>
                                    <my-currency-input
                                    type="text"
                                    v-model="form.discountGood"
                                    class="form-control text-right"
                                  ></my-currency-input>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col cols="12">
                              <v-flex xs12>
                                      <v-subheader>ส่วนลดประกันภัย(FOC)</v-subheader>
                                    </v-flex>
                                    <my-currency-input
                                    type="text"
                                    v-model="form.discountFOC"
                                    class="form-control text-right"
                                  ></my-currency-input>
                            </v-col>
                          </v-row>
                              </v-card-text>
                            </v-card>
                      </v-col>
                      <v-col cols="4">
                            <v-card>
                              <v-card-text>
                                <v-alert
                                  border="top"
                                  color="success lighten-2"
                                  dark
                                >
                                  <v-icon left>
                                    contacts
                                  </v-icon>
                                  ข้อมูลลูกค้า
                                </v-alert>
                                <v-row>
                                  <v-col col="12">
                                    <v-checkbox
                                      v-model="form.directPayment"
                                      :label="`จ่ายตรง : ${form.directPayment}`"
                                      false-value="ไม่ตรง"
                                      true-value="ตรง"
                                    ></v-checkbox>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col col="12">
                                    <v-menu
                                      v-model="menu9"
                                      :close-on-content-click="false"
                                      :nudge-right="40"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="290px"
                                    >
                                      <template
                                        v-slot:activator="{ on, attrs }"
                                      >
                                        <v-text-field
                                          v-model="form.dateWarning"
                                          prepend-icon="mdi-calendar"
                                          label="วันที่ ใบเตือนฯ"
                                          v-bind="attrs"
                                          v-on="on"
                                        ></v-text-field>
                                      </template>
                                      <v-date-picker
                                        v-model="form.dateWarning"
                                        @input="menu9 = false"
                                      ></v-date-picker>
                                    </v-menu>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col col="12">
                                    <v-select
                                      label="บริษัทประกันภัย"
                                      :items="optionInsuranceName"
                                      v-model="form.insNm"
                                      :rules="rules"
                                      hide-details="auto"
                                      outlined
                                      dense
                                    ></v-select>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col cols="12">
                                    <v-text-field
                                      v-model="form.cusNo"
                                      label="เลขที่บัตรประชาชน"
                                      outlined
                                      dense
                                    ></v-text-field>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col cols="12">
                                    <v-text-field
                                      v-model="form.cusName"
                                      label="ชื่อ-สกุล ลูกค้า"
                                      outlined
                                      dense
                                    ></v-text-field>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col cols="12">
                                    <v-textarea
                                      filled
                                      label="บันทึกลูกค้าพิเศษ"
                                      auto-grow
                                      v-model="form.specialCustomerRecord"
                                      background-color="blue lighten-5"
                                    ></v-textarea>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col cols="12">
                                    <v-flex xs12>
                                      <v-subheader>ทุนประกันภัย</v-subheader>
                                    </v-flex>
                                    <my-currency-input
                                    type="text"
                                    v-model="form.insCapital"
                                    class="form-control text-right"
                                  ></my-currency-input>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col cols="12">
                                    <v-flex xs12>
                                      <v-subheader>ค่าเบี้ยประกันภัย</v-subheader>
                                    </v-flex>
                                    <my-currency-input
                                    type="text"
                                    :state = "insPremiumState"
                                    v-model="form.insPremium"
                                    class="form-control text-right"
                                  ></my-currency-input>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col cols="12">
                                    <v-flex xs12>
                                      <v-subheader>ค่าเบี้ยพรบ.</v-subheader>
                                    </v-flex>
                                    <my-currency-input
                                    type="text"
                                    v-model="form.insAct"
                                    :state = "insActState"
                                    class="form-control text-right"
                                  ></my-currency-input>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col cols="12">
                                    <v-flex xs12>
                                      <v-subheader>ค่าเบี้ยประกันภัย+พรบ.</v-subheader>
                                    </v-flex>
                                    <my-currency-input
                                    type="text"
                                    v-model="form.insSum"
                                    readonly
                                    class="form-control text-right"
                                  ></my-currency-input>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col cols="12">
                                    <v-flex xs12>
                                      <v-subheader>ค่าเสียหายส่วนแรก</v-subheader>
                                    </v-flex>
                                    <my-currency-input
                                    type="text"
                                    v-model="form.insDeductible"
                                    class="form-control text-right"
                                  ></my-currency-input>
                                    <!-- <v-text-field
                                      v-mask="mask"
                                      v-model="form.insDeductible"
                                      label="ค่าเสียหายส่วนแรก"
                                      outlined
                                      dense
                                    ></v-text-field> -->
                                  </v-col>
                                </v-row>
                              </v-card-text>
                            </v-card>
                      </v-col>
                      <v-col cols="4">
                            <v-card>
                              <v-card-text>
                                <v-alert border="top" color="secondary lighten-2" dark>
                                  <v-icon left>
                                    contact_phone
                                  </v-icon>
                                  ข้อมูลติดต่อ
                                </v-alert>
                                <template
                                  v-if="
                                    statusSearch === 'รถใหม่' ||
                                      statusSearch === 'รถBP' ||
                                      statusSearch === 'สร้างใหม่'
                                  "
                                >
                                <v-row>
                                    <v-col col="12">
                                      <v-checkbox
                                        v-model="form.useAddress"
                                        :label="`ที่อยู่จัดส่ง : ${form.useAddress}`"
                                        false-value="ที่เดียวกัน"
                                        @change="setNewAddress()"
                                        true-value="ที่ใหม่"
                                      ></v-checkbox>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-text-field
                                        v-model="form.details"
                                        :rules="rules"
                                        :disabled="readonly"
                                        label="ที่อยู่"
                                        outlined
                                        dense
                                      ></v-text-field>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-text-field
                                        v-model="form.towncity"
                                        :rules="rules"
                                        label="ตำบล/แขวง"
                                        :disabled="readonly"
                                        outlined
                                        dense
                                      ></v-text-field>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-text-field
                                        v-model="form.district"
                                        :rules="rules"
                                        :disabled="readonly"
                                        label="อำเภอ/เขต"
                                        outlined
                                        dense
                                      ></v-text-field>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-text-field
                                        v-model="form.provinve"
                                        :rules="rules"
                                        label="จังหวัด"
                                        :disabled="readonly"
                                        outlined
                                        dense
                                      ></v-text-field>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-text-field
                                        v-model="form.postalCode"
                                        :rules="rules"
                                        label="รหัสไปรษณีย์"
                                        :disabled="readonly"
                                        outlined
                                        dense
                                      ></v-text-field>
                                    </v-col>
                                  </v-row>
                                </template>
                                <template v-if="statusSearch === 'ใบเตือน'">
                                  <v-row>
                                    <v-col col="12">
                                      <v-checkbox
                                        v-model="form.useAddress"
                                        :label="`ที่อยู่จัดส่ง : ${form.useAddress}`"
                                        false-value="ที่เดียวกัน"
                                        @change="setNewAddress()"
                                        true-value="ที่ใหม่"
                                      ></v-checkbox>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-text-field
                                        v-model="form.details"
                                        :rules="rules"
                                        label="ที่อยู่"
                                        outlined
                                        dense
                                      ></v-text-field>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-text-field
                                        v-model="form.towncity"
                                        :rules="rules"
                                        label="ตำบล/แขวง"
                                        outlined
                                        dense
                                      ></v-text-field>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-text-field
                                        v-model="form.district"
                                        :rules="rules"
                                        label="อำเภอ/เขต"
                                        outlined
                                        dense
                                      ></v-text-field>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-select
                                        label="จังหวัด"
                                        :items="optionProvince"
                                        v-model="form.provinve"
                                        :rules="rules"
                                        hide-details="auto"
                                        outlined
                                        dense
                                      ></v-select>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-text-field
                                        v-model="form.postalCode"
                                        :rules="rules"
                                        label="รหัสไปรษณีย์"
                                        outlined
                                        dense
                                      ></v-text-field>
                                    </v-col>
                                  </v-row>
                                </template>
                                <v-card v-if="form.useAddress == 'ที่ใหม่'">
                                  <v-card-title>ที่อยู่ที่จัดส่ง</v-card-title>
                                    <v-container>
                                      <v-row>
                                    <v-col col="12">
                                      <v-text-field
                                        v-model="form.detailsNew"
                                        :rules="rules"
                                        label="ที่อยู่ ที่จัดส่ง"
                                        outlined
                                        dense
                                      ></v-text-field>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-text-field
                                        v-model="form.towncityNew"
                                        :rules="rules"
                                        label="ตำบล/แขวง ที่จัดส่ง"
                                        outlined
                                        dense
                                      ></v-text-field>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-text-field
                                        v-model="form.districtNew"
                                        :rules="rules"
                                        label="อำเภอ/เขต ที่จัดส่ง"
                                        outlined
                                        dense
                                      ></v-text-field>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-select
                                        label="จังหวัด ที่จัดส่ง"
                                        :items="optionProvince"
                                        v-model="form.provinveNew"
                                        :rules="rules"
                                        hide-details="auto"
                                        outlined
                                        dense
                                      ></v-select>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col col="12">
                                      <v-text-field
                                        v-model="form.postalCodeNew"
                                        :rules="rules"
                                        label="รหัสไปรษณีย์ ที่จัดส่ง"
                                        outlined
                                        dense
                                      ></v-text-field>
                                    </v-col>
                                  </v-row>
                                    </v-container>
                                  </v-card>
                                <v-row>
                                  <v-col col="12">
                                    <v-text-field
                                      v-model="form.tel"
                                      :rules="rules"
                                      label="เบอร์โทรศัพท์"
                                      outlined
                                      dense
                                    ></v-text-field>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col cols="12">
                                    <v-textarea
                                      filled
                                      label="หมายเหตุ/บันทึกการติดตาม"
                                      auto-grow
                                      :disabled="readonly"
                                      v-model="form.remarkIns"
                                      background-color="blue lighten-5"
                                    ></v-textarea>
                                  </v-col>
                                </v-row>
                                <v-row>
                                  <v-col col="12">
                                    <v-select
                                      label="หมายเหตุ"
                                      :items="optionRemarkInsSelect"
                                      v-model="form.remarkInsSelect"
                                      :rules="rules"
                                      hide-details="auto"
                                      :disabled="readonly"
                                      outlined
                                      dense
                                    ></v-select>
                                  </v-col>
                                </v-row>
                              </v-card-text>
                            </v-card>
                      </v-col>
                    </v-row>
                      <v-row>
                        <div>
                          <v-btn color="primary" @click="onSubmit()" depressed>
                            <v-icon left> add_box </v-icon>
                            เพิ่มข้อมูล
                          </v-btn>
                          <v-btn color="error" @click.stop="dialog = false">
                            ปิดหน้านี้
                          </v-btn>
                        </div>
                      </v-row>
                    </v-card-text>
                    <div style="flex: 12 1 auto" />
                  </v-card>
                </v-dialog>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
import createNumberMask from 'text-mask-addons/dist/createNumberMask'
// import moment from 'moment' // แปลง date
// import XLSX from 'xlsx' // import xlsx
const currencyMask = createNumberMask({
  prefix: '',
  allowDecimal: true,
  includeThousandsSeparator: true,
  allowNegative: false
})
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
    // countMeetState () {
    //   return this.form.countMeet.length > 0
    // },
    // eslint-disable-next-line vue/return-in-computed-property
    insPremiumState () {
      this.getSum()
    },
    // eslint-disable-next-line vue/return-in-computed-property
    insActState () {
      this.getSum()
    }
  },
  data () {
    return {
      expanded: [],
      panel: [0],
      panel1: [0],
      mask: currencyMask,
      menuSearch1: false,
      menuSearch2: false,
      dialog: false,
      dialog1: false,
      dialog2: false,
      dialog3: false,
      dialog4: false,
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      menu5: false,
      menu6: false,
      menu7: false,
      menu8: false,
      menu9: false,
      rules: [
        (value) => !!value || 'Required.',
        (value) => (value && value.length >= 0) || 'Min 1 characters'
      ],
      session: this.$session.getAll(),
      dataSearhcReady: true,
      statusSearch: 'ใบเตือน',
      chkSearch: true,
      optionStaffInsuranceName: [],
      readonly: true,
      visible: false,
      optionsTypeCus: [
        { text: 'บุคคล', value: '1' },
        { text: 'นิติบุคคล', value: '2' }
      ],
      optionsActive: [
        { text: 'Active', value: '1' },
        { text: 'InActive', value: '0' },
        { text: 'Year2', value: '2' },
        { text: 'BP Prospective', value: '3' },
        { text: 'History', value: '8' }
      ],
      formSearch: {
        branchNo: '',
        monthYear: '',
        carName: '',
        frameNo: '',
        regNo: '',
        insNm: '',
        insNo: '',
        customerName: '',
        insStaffName: ''
      },
      columnsUse: '',
      columns: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'BR_CD' },
        { text: 'วันเริ่มคุ้มครอง', value: 'START_DATE2' },
        { text: 'เลขที่กรมธรรม์', value: 'INS_NO' },
        { text: 'บริษัทประกัน', value: 'INS_NM' },
        { text: 'ทุนประกัน', value: 'insCapital' },
        { text: 'เบี้ยประกัน', value: 'insPremium' },
        { text: 'ที่ปรึกษาการขาย', value: 'SALE_NM' },
        { text: 'รุ่นรถยนต์', value: 'MTO_NM' },
        { text: 'สีรถยนต์', value: 'COLOR_NM' }
      ],
      columnsIDS: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'BR_CD' },
        { text: 'วันที่รับรถ', value: 'DLVR_NewCar_Date' },
        { text: 'รุ่นรถยนต์', value: 'Model_NM' },
        { text: 'ทะเบียนรถ', value: 'Reg_No' },
        { text: 'หมายเลขตัวถัง', value: 'Frame_no' },
        { text: 'ชื่อลูกค้า', value: 'Customer_NM_User_DR' }
      ],
      columnsWarning: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'branchNo' },
        { text: 'วันเริ่มหมดอายุ', value: 'dateInsMatured' },
        { text: 'เลขที่กรมธรรม์', value: 'insNo' },
        { text: 'บริษัทประกัน', value: 'insName' },
        { text: 'ทุนประกัน', value: 'insCapital' },
        { text: 'เบี้ยประกัน', value: 'insPremium' },
        { text: 'รุ่นรถยนต์', value: 'carName' },
        { text: 'ชื่อลูกค้า', value: 'customerName' }
      ],
      columnsHistory: [
        { text: 'insID', value: 'insID' },
        { text: 'สาขา', value: 'branchNo' },
        { text: 'สถานะ', value: 'active' },
        { text: 'วันที่คุ้มครอง', value: 'dateProtec2' },
        { text: 'รุ่นรถยนต์', value: 'carName' },
        { text: 'ทะเบียนรถ', value: 'regNo' },
        { text: 'หมายเลขตัวถัง', value: 'frameNo' },
        { text: 'ชื่อลูกค้า', value: 'customerName' }
      ],
      form: {
        branchNo: '',
        active: '1',
        typeCus: '1',
        brandCar: 'HONDA',
        carName: '',
        carType: '',
        carYear: '',
        colorCar: '',
        regNo: '',
        regProvinve: '',
        frameNo: '',
        engine: '',
        accessories1: '',
        accessories2: '',
        insNo: '',
        insNm: '',
        cusNo: '',
        cusName: '',
        barcode: '',
        dateAct: '',
        dateCancelIns: '',
        dateCancelInsAct: '',
        paymentType: '',
        directPayment: 'ไม่ตรง',
        financeName: '',
        nameAdmin: '',
        dateMail: '',
        dateInsNoti: new Date().toISOString().substr(0, 10),
        dateGetPolicy: '',
        dateProtec1: '',
        dateProtec2: '',
        dateInsMatured: '',
        dateSendAccount: '',
        dateSendSale: '',
        typeIns: '',
        typeProtec: '',
        typeRepair: '',
        discountGood: 0,
        discountFOC: 0,
        typeNew: '',
        dateWarning: '',
        specialCustomerRecord: '',
        insCapital: 0,
        insPremium: 0,
        insAct: 0,
        insSum: 0,
        insDeductible: 0,
        details: '',
        towncity: '',
        district: '',
        provinve: '',
        postalCode: '',
        detailsNew: '',
        towncityNew: '',
        districtNew: '',
        provinveNew: '',
        postalCodeNew: '',
        tel: '',
        remarkIns: '',
        remarkInsSelect: '',
        insStaffName: '',
        useAddress: 'ที่เดียวกัน'
      },
      datareport: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      checksubmit: true,
      datareportHistory: [],
      dataHistory: false,
      chkbutton: '',
      dateTime: '',
      optionInsuranceName: [],
      optionsFinance: []
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/Insurance/Login')
    } else {
      await this.getData()
      await this.getInsName()
      await this.getFinName()
      this.columnsUse = this.columns
    }
  },
  methods: {
    getInsName () {
      this.optionInsuranceName = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataInsuranceName`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs.length > 0) {
          for (var i = 0; i < rs.length; i++) {
            var d = rs[i]
            d.text = d.insuranceName
            d.value = d.insuranceName
            this.optionInsuranceName.push(d)
          }
        }
      })
    },
    getFinName () {
      this.optionsFinance = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataFinance`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs.length > 0) {
          for (var i = 0; i < rs.length; i++) {
            var d = rs[i]
            d.text = d.financeName
            d.value = d.financeName
            this.optionsFinance.push(d)
          }
        }
      })
    },
    getHistory () {
      this.dataHistory = false
      this.datareportHistory = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataInsurance`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          frameNo: this.form.frameNo,
          active: '8'
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs !== 'ไม่มีข้อมูล') {
          this.datareportHistory = rs
          this.dataHistory = true
        } else {
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        }
        // if (rs.length > 0) {
        //   for (var i = 0; i < rs.length; i++) {
        //     var d = rs[i]
        //     d.text = d.company_NM
        //     d.value = d.company_NM
        //     this.datareportHistory.push(d)
        //   }
        // }
      })
    },
    setNewAddress () {
      console.log(this.form.useAddress)
      if (this.form.useAddress === 'ที่เดียวกัน') {
        this.form.detailsNew = this.form.details
        this.form.towncityNew = this.form.towncity
        this.form.districtNew = this.form.district
        this.form.provinveNew = this.form.provinve
        this.form.postalCodeNew = this.form.postalCode
      } else {
        this.form.detailsNew = ''
        this.form.towncityNew = ''
        this.form.districtNew = ''
        this.form.provinveNew = ''
        this.form.postalCodeNew = ''
      }
    },
    getSearch () {
      if (this.statusSearch === 'ใบเตือน') {
        this.chkSearch = true
        this.readonly = true
        this.form.brandCar = 'HONDA'
        this.form.carName = ''
        this.form.colorCar = ''
      }
    },
    async getData () {
      // this.form.branchNo = this.session.data.BranchS1
      this.form.nameAdmin =
        'คุณ ' + this.session.data.Name + ' ' + this.session.data.Surname
      // this.form.department = this.session.data.Position
      await this.getNow()
      // await this.getInsNmData()
      await this.getStaffInsNmData()
    },
    getSum () {
      this.form.insSum =
        parseFloat(this.form.insPremium) + parseFloat(this.form.insAct)
    },
    getNow () {
      const today = new Date()
      // console.log(today)
      const date =
        today.getFullYear() +
        '' +
        (today.getMonth() + 1) +
        '' +
        today.getDate()
      const time =
        today.getHours() + '' + today.getMinutes() + '' + today.getSeconds()
      const dateTime = date + '' + time
      this.dateTime = dateTime
      // console.log(this.dateTime)
      // this.formUpdate.prospectiveCode = dateTime
    },
    getStaffInsNmData () {
      this.optionStaffInsuranceName = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataStaffInsNm`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs.length > 0) {
          for (var i = 0; i < rs.length; i++) {
            var d = rs[i]
            d.text = d.StaffName
            d.value = d.StaffName
            this.optionStaffInsuranceName.push(d)
          }
        }
      })
    },
    onSearch () {
      if (
        `${
          this.formSearch.branchNo +
          this.formSearch.monthYear +
          this.formSearch.carName +
          this.formSearch.frameNo +
          this.formSearch.regNo +
          this.formSearch.insNm +
          this.formSearch.insNo +
          this.formSearch.customerName +
          this.formSearch.insStaffName
        }` !== ''
      ) {
        if (this.statusSearch === 'ใบเตือน') {
          let countyear = ''
          let monthStr = ''
          // this.readonly = false
          let dateUse = ''
          if (this.formSearch.monthYear) {
            var startdatetime9 = new Date(this.formSearch.monthYear).getTime()
            const startDate = new Date(startdatetime9)
            const dateLocal = startDate.toLocaleString('th-TH', {
              timeZone: 'Asia/Bangkok',
              hour12: false
            })
            const dateSplit = dateLocal.split(' ')
            const date = dateSplit[0].split('/')
            const year = String(date[2])
            const month = String(date[1])
            countyear = parseInt(year) - 543
            const countmonth = parseInt(month) + 100
            monthStr = String(countmonth).substring(1, 3)
            dateUse = countyear + '-' + monthStr
          } else {
            dateUse = ''
          }
          this.datareport = []
          const url = `${this.$apiUrl}Insurance/Insurance/getDataInsurance`
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            },
            params: {
              branchNo: this.formSearch.branchNo,
              dateInsMatured: dateUse,
              carName: this.formSearch.carName,
              frameNo: this.formSearch.frameNo,
              regNo: this.formSearch.regNo,
              insName: this.formSearch.insNm,
              insNo: this.formSearch.insNo,
              customerName: this.formSearch.customerName,
              statusImport: '1',
              active: '0'
            }
          }
          console.log(config)
          axios
            .get(url, config)
            .then(async (response) => {
              // console.log(this.session.data.userName)
              let rs = response.data
              this.columnsUse = this.columnsWarning
              if (rs === 'ไม่มีข้อมูล') {
                this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
                this.dataSearhcReady = true
                this.dataSearhcReadyTable = false
              } else {
                this.datareport = rs
                this.dataSearhcReady = true
                this.dataSearhcReadyTable = true
                this.panel = []
              }
            })
            // eslint-disable-next-line handle-callback-err
            .catch((error) => {
              console.log(error)
              this.errored = true
              this.dataSearhcReady = true
            })
        }
      } else {
        this.$swal('ผิดพลาด', 'กรุณาใส่ข้อมูลสักรายการ', 'error')
        this.dataSearhcReady = true
        this.dataSearhcReadyTable = false
      }
    },
    onClearSearch () {
      this.formSearch.branchNo = ''
      this.formSearch.monthYear = ''
      this.formSearch.carName = ''
      this.formSearch.frameNo = ''
      this.formSearch.regNo = ''
      this.formSearch.insNm = ''
      this.formSearch.insNo = ''
      this.formSearch.customerName = ''
      this.formSearch.searchDate = ''
      this.formSearch.insStaffName = ''
    },
    async setData (item) {
      console.log(item)
      if (this.statusSearch === 'ใบเตือน') {
        this.form.insID = item.insID
        this.form.branchNo = item.branchNo
        this.form.active = item.active
        this.form.typeCus = item.typeCustomer
        this.form.financeName = item.financeName
        this.form.brandCar = item.brandCar.replace("'", '')
        // this.form.carName = item.carName.replace("'", '')
        if (item.carName.includes('AMAZE')) {
          this.form.carName = 'AMAZE'
        }
        if (item.carName.includes('BRIO')) {
          this.form.carName = 'BRIO'
        }
        if (item.carName.includes('CITY')) {
          this.form.carName = 'CITY'
        }
        if (item.carName.includes('JAZZ')) {
          this.form.carName = 'JAZZ'
        }
        if (item.carName.includes('CIVIC')) {
          this.form.carName = 'CIVIC'
        }
        if (item.carName.includes('FREED')) {
          this.form.carName = 'FREED'
        }
        if (item.carName.includes('HR-V')) {
          this.form.carName = 'HR-V'
        }
        if (item.carName.includes('BR-V')) {
          this.form.carName = 'BR-V'
        }
        if (item.carName.includes('CR-V')) {
          this.form.carName = 'CR-V'
        }
        if (item.carName.includes('ACCORD')) {
          this.form.carName = 'ACCORD'
        }
        if (item.carName.includes('RX')) {
          this.form.carName = 'RX'
        }
        if (item.carName.includes('STREAM')) {
          this.form.carName = 'STREAM'
        }
        if (item.carName.includes('STEPWGN')) {
          this.form.carName = 'STEPWGN'
        }
        if (item.carName.includes('ODYSSEY')) {
          this.form.carName = 'ODYSSEY'
        }
        if (item.carName.includes('MOBILIO')) {
          this.form.carName = 'MOBILIO'
        }
        this.form.carType = item.carType
        this.form.carYear = item.carYear
        this.form.colorCar = item.colorCar
        this.form.regNo = item.regNo
        this.form.regProvinve = item.regProvinve
        this.form.frameNo = item.frameNo
        this.form.engine = item.engineNo
        this.form.typeIns = item.typeInsurance
        this.form.insNo = item.insNo
        this.form.insNm = item.insName
        this.form.accessories1 = item.accessories1
        this.form.accessories2 = item.accessories2
        this.form.typeProtec = item.typeProtec
        this.form.typeRepair = item.typeRepair
        this.form.cusNo = item.customerNo
        this.form.cusName = item.customerName
        this.form.details = item.details
        this.form.towncity = item.towncity
        this.form.district = item.district
        this.form.provinve = item.provinve
        this.form.postalCode = item.postalCode
        this.form.tel = item.tel
        this.form.barcode = item.barcode
        this.form.dateAct = item.dateAct
        this.form.dateCancelIns = item.dateCancelIns
        this.form.dateCancelInsAct = item.dateCancelInsAct
        this.form.paymentType = item.paymentType
        this.form.directPayment = item.directPayment || 'ไม่ตรง'
        this.form.useAddress = item.statusAddressNew || 'ที่เดียวกัน'
        this.form.dateMail = item.dateMail
        this.form.dateInsNoti = item.dateInsNoti
        this.form.dateGetPolicy = item.dateGetPolicy
        this.form.dateProtec1 = item.dateProtec1
        this.form.dateProtec2 = item.dateProtec2
        this.form.dateInsMatured = item.dateInsMatured
        this.form.dateSendAccount = item.dateSendAccount
        this.form.dateSendSale = item.dateSendSale
        this.form.dateWarning = item.dateWarning
        this.form.typeNew = item.typeNew
        this.form.discountGood = item.discountGood
        this.form.discountFOC = item.discountFOC
        this.form.insCapital = item.insCapital
        this.form.insPremium = item.insPremium
        this.form.insAct = item.insAct
        this.form.insSum = item.insSum
        this.form.insDeductible = item.insDeductible
        this.form.specialCustomerRecord = item.specialCustomerRecord
        this.form.remarkIns = item.remarkIns
        this.form.remarkInsSelect = item.remarkInsSelect
        this.form.nameAdmin = this.form.nameAdmin
        this.form.insStaffName = item.staffIns
        this.form.countFollow = item.countFollow
        await this.setNewAddress()
        this.panel = []
        this.dialog = true
      }
    },
    onClearSubmit () {
      this.form.insID = ''
      this.dateTime = ''
      this.form.branchNo = ''
      this.form.active = ''
      this.form.typeCus = ''
      this.form.financeName = ''
      this.form.brandCar = ''
      this.form.carName = ''
      this.form.carType = ''
      this.form.carYear = ''
      this.form.colorCar = ''
      this.form.regNo = ''
      this.form.frameNo = ''
      this.form.engine = ''
      this.form.typeIns = ''
      this.form.insNo = ''
      this.form.insNm = ''
      this.form.typeProtec = ''
      this.form.typeRepair = ''
      this.form.cusNo = ''
      this.form.cusName = ''
      this.form.details = ''
      this.form.towncity = ''
      this.form.district = ''
      this.form.provinve = ''
      this.form.postalCode = ''
      this.form.detailsNew = ''
      this.form.towncityNew = ''
      this.form.districtNew = ''
      this.form.provinveNew = ''
      this.form.postalCodeNew = ''
      this.form.tel = ''
      this.form.barcode = ''
      this.form.dateAct = ''
      this.form.dateCancelIns = ''
      this.form.dateCancelInsAct = ''
      this.form.paymentType = ''
      this.form.dateMail = ''
      this.form.dateInsNoti = ''
      this.form.dateGetPolicy = ''
      this.form.dateProtec1 = ''
      this.form.dateProtec2 = ''
      this.form.dateInsMatured = ''
      this.form.dateSendAccount = ''
      this.form.dateSendSale = ''
      this.form.dateWarning = ''
      this.form.useAddress = 'ที่เดียวกัน'
      this.form.typeNew = ''
      this.form.discountGood = 0
      this.form.discountFOC = 0
      this.form.insCapital = 0
      this.form.insPremium = 0
      this.form.insAct = 0
      this.form.insSum = 0
      this.form.insDeductible = 0
      this.form.specialCustomerRecord = ''
      this.form.remarkIns = ''
      this.form.nameAdmin = ''
      this.form.insStaffName = ''
    },
    onSubmit () {
      this.dataReady = false
      if (
        this.form.insNo.length > 0 &&
        this.form.typeIns.length > 0 &&
        this.form.typeProtec.length > 0 &&
        this.form.typeRepair.length > 0 &&
        this.form.dateWarning.length > 0 &&
        this.form.insNm.length > 0 &&
        this.form.cusName.length > 0 &&
        this.form.details.length > 0 &&
        this.form.towncity.length > 0 &&
        this.form.district.length > 0 &&
        this.form.provinve.length > 0 &&
        this.form.postalCode.length > 0 &&
        this.form.tel.length > 0 &&
        this.form.insStaffName.length > 0
      ) {
        this.$swal({
          title: 'ตรวจสอบก่อนเพิ่มข้อมูล',
          text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการเพิ่มหรือไม่',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#dedede',
          confirmButtonText: 'เพิ่มข้อมูล',
          cancelButtonText: 'ยกเลิก และตรวจสอบ!'
        })
          .then((result) => {
            if (this.statusSearch === 'ใบเตือน') {
              const url = `${this.$apiUrl}Insurance/Insurance/updateDataAll`
              let config = {
                headers: {
                  'Content-Type': 'application/json',
                  'Application-Key': this.$apiToken
                }
              }
              let dt = {
                insID: this.form.insID,
                branchNo: this.form.branchNo,
                active: this.form.active,
                typeCustomer: this.form.typeCus,
                financeName: this.form.financeName,
                carName: this.form.carName,
                carYear: this.form.carYear,
                carType: this.form.carType,
                brandCar: this.form.brandCar,
                colorCar: this.form.colorCar,
                regNo: this.form.regNo,
                regProvinve: this.form.regProvinve,
                frameNo: this.form.frameNo,
                engineNo: this.form.engine,
                accessories1: this.form.accessories1,
                accessories2: this.form.accessories2,
                typeInsurance: this.form.typeIns,
                insNo: this.form.insNo,
                insName: this.form.insNm,
                typeProtec: this.form.typeProtec,
                typeRepair: this.form.typeRepair,
                customerNo: this.form.cusNo,
                customerName: this.form.cusName,
                details: this.form.details,
                towncity: this.form.towncity,
                district: this.form.district,
                provinve: this.form.provinve,
                directPayment: this.form.directPayment,
                postalCode: this.form.postalCode,
                detailsNew: this.form.detailsNew,
                towncityNew: this.form.towncityNew,
                districtNew: this.form.districtNew,
                provinveNew: this.form.provinveNew,
                postalCodeNew: this.form.postalCodeNew,
                statusAddressNew: this.form.useAddress,
                tel: this.form.tel,
                barcode: this.form.barcode,
                dateAct: this.form.dateAct,
                dateCancelIns: this.form.dateCancelIns,
                dateCancelInsAct: this.form.dateCancelInsAct,
                paymentType: this.form.paymentType,
                dateMail: this.form.dateMail,
                dateInsNoti: this.form.dateInsNoti,
                dateGetPolicy: this.form.dateGetPolicy,
                dateProtec1: this.form.dateProtec1,
                dateProtec2: this.form.dateProtec2,
                dateInsMatured: this.form.dateInsMatured,
                dateSendAccount: this.form.dateSendAccount,
                dateSendSale: this.form.dateSendSale,
                dateWarning: this.form.dateWarning,
                typeNew: this.form.typeNew,
                discountGood: this.form.discountGood,
                discountFOC: this.form.discountFOC,
                insCapital: this.form.insCapital,
                insPremium: this.form.insPremium,
                insAct: this.form.insAct,
                insSum: this.form.insSum,
                insDeductible: this.form.insDeductible,
                specialCustomerRecord: this.form.specialCustomerRecord,
                // 'remarkIns': this.form.remarkIns,
                nameAdmin: this.form.nameAdmin,
                statusImport: '0',
                staffIns: this.form.insStaffName,
                LAST_USER: this.session.data.User_NM,
                StatusStart: this.statusSearch
              }
              console.log(dt)
              axios.post(url, dt, config).then((response) => {
                this.dataReady = true
                if (response.data.status === 'FALSE') {
                  this.onClearSubmit()
                  this.$swal('ผิดพลาด', response.data.message, 'error')
                } else {
                  this.onClearSubmit()
                  this.getData()
                  this.$swal('เรียบร้อย', response.data.message, 'success')
                }
              })
            }
          })
          .catch((error) => {
            console.log(error)
            this.dataReady = true
          })
      } else {
        this.dataReady = true
        this.$swal(
          'ผิดพลาด',
          'กรุณาใส่ข้อมูลให้ครบถ้วน ตามช่องที่มีสีแดง',
          'error'
        )
      }
    }
  }
}
</script>
<style>
table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
