<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
          <v-card tile>
            <v-toolbar flat dark color="primary">
              <v-toolbar-title>เพิ่มข้อมูลเข้าระบบ Insurance</v-toolbar-title>
            </v-toolbar>
            <v-form ref="formDialog" v-model="valid" lazy-validation>
            <v-card-text>
              <br />
              <v-expansion-panels @change="validate" focusable v-model="panel1">
                <v-expansion-panel>
                  <v-expansion-panel-header>
                    <v-icon>mdi-car-multiple</v-icon>
                    ข้อมูลรถยนต์</v-expansion-panel-header
                  >
                  <v-expansion-panel-content>
                    <v-row>
                      <v-col cols="3">
                        <v-select
                          label="สาขา"
                          :items="optionsbranchNo"
                          v-model="form.branchNo"
                          :rules="[rules.required]"
                          dense
                        ></v-select>
                      </v-col>
                      <v-col cols="3">
                        <v-select
                          label="Ative"
                          :items="optionsActive"
                          v-model="form.active"
                          :rules="[rules.required]"
                          dense
                        ></v-select>
                      </v-col>
                      <v-col cols="3">
                        <v-select
                          label="บุคคล"
                          :items="optionsTypeCus"
                          v-model="form.typeCus"
                          :rules="[rules.required]"
                          dense
                        ></v-select>
                      </v-col>
                      <v-col cols="3">
                        <v-select
                          label="ยี่ห้อรถยนต์"
                          :items="optionCarotherBrand"
                          v-model="form.brandCar"
                          :rules="[rules.required]"
                          @change="getCarNameData()"
                          dense
                        ></v-select>
                      </v-col>
                      <v-col cols="3">
                        <v-autocomplete
                          v-model="form.carName"
                          :rules="[rules.required]"
                          :items="optionCarotherName"
                          outlined
                          dense
                          label="รุ่นรถยนต์"
                        ></v-autocomplete>
                      </v-col>
                      <v-col cols="3">
                          <v-text-field
                            v-model="form.carType"
                            label="ประเภทรถยนต์"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="3">
                          <v-text-field
                            v-model="form.carYear"
                            label="ปีรถยนต์"
                            outlined
                            dense
                            :rules="[rules.required]"
                          ></v-text-field>
                        </v-col>
                      <v-col cols="3" v-if="chkSearch">
                        <v-text-field
                          v-model="form.colorCar"
                          label="สีรถยนต์"
                          outlined
                          dense
                        ></v-text-field>
                      </v-col>
                      <v-col cols="3" v-if="!chkSearch">
                        <v-select
                          label="สีรถยนต์"
                          :items="optionCarotherColor"
                          v-model="form.colorCar"
                          dense
                        ></v-select>
                      </v-col>
                      <v-col cols="3">
                        <v-text-field
                          v-model="form.regNo"
                          label="ทะเบียนรถ"
                          outlined
                          dense
                          :rules="[rules.required]"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="3">
                        <v-select
                          label="จังหวัดทะเบียนรถ"
                          :items="optionProvince"
                          v-model="form.regProvinve"
                          dense
                          :rules="[rules.required]"
                        ></v-select>
                      </v-col>
                      <v-col cols="3">
                        <v-text-field
                          v-model="form.frameNo"
                          label="Frame No."
                          outlined
                          dense
                          :rules="[rules.required]"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="3">
                        <v-text-field
                          v-model="form.engine"
                          label="Engine No."
                          outlined
                          dense
                        ></v-text-field>
                      </v-col>
                      <v-col cols="3">
                        <v-select
                          label="ประเภทการชำระ"
                          :items="optionsPaymentType"
                          v-model="form.paymentType"
                          dense
                          :rules="[rules.required]"
                        ></v-select>
                      </v-col>
                      <v-col cols="3" v-if="form.paymentType == 'เงินสด'">
                        <v-text-field
                          v-model="form.financeName"
                          label="ชื่อลูกค้า"
                          outlined
                          dense
                        ></v-text-field>
                      </v-col>
                      <v-col cols="3" v-if="form.paymentType == 'ไฟแนนซ์'">
                        <v-select
                          label="ไฟแนนซ์"
                          :items="optionsFinance"
                          v-model="form.financeName"
                          dense
                        ></v-select>
                      </v-col>
                      <v-col cols="3">
                        <v-text-field
                          v-model="form.insNo"
                          label="เลขที่กรมธรรม์"
                          outlined
                          dense
                        ></v-text-field>
                      </v-col>
                      <v-col cols="3">
                        <v-select
                          label="ประเภทงาน"
                          :items="typeWorkItem"
                          v-model="form.typeWork"
                          dense
                        ></v-select>
                      </v-col>
                      <v-col cols="3">
                        <v-select
                          label="ฐานข้อมูลลูกค้า"
                          :items="optionsCustomerReferral"
                          v-model="form.customerReferral"
                          dense
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
              <v-row>
                <v-col cols="4">
                  <v-card>
                    <v-card-text>
                      <v-alert border="top" color="warning lighten-2" dark>
                        <v-icon left> calendar_today </v-icon>
                        วันที่ต่างๆ
                      </v-alert>
                      <v-row>
                        <v-col col="12">
                          <v-menu
                            v-model="menu4"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                v-model="form.dateProtec1"
                                prepend-icon="mdi-calendar"
                                label="วันที่ คุ้มครองภาคสมัครใจ"
                                dense
                                v-bind="attrs"
                                outlined
                                :rules="[rules.required]"
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              v-model="form.dateProtec1"
                              @input="menu4 = false, getInsMatured()"
                            ></v-date-picker>
                          </v-menu>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col col="12">
                          <v-text-field
                            v-model="form.dateInsMatured"
                            label="วันที่ ครบกำหนดประกัน"
                            outlined
                            dense
                            readonly
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col col="12">
                          <v-select
                            label="ประเภทประกันภัย"
                            :items="optionsTypeIns"
                            v-model="form.typeIns"
                            :rules="[rules.required]"
                            hide-details="auto"
                            outlined
                            dense
                          ></v-select>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col col="12">
                          <v-select
                            label="ประเภทคุ้มครอง"
                            :items="optionsTypeProtec"
                            v-model="form.typeProtec"
                            :rules="[rules.required]"
                            hide-details="auto"
                            outlined
                            dense
                          ></v-select>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col col="12">
                          <v-select
                            label="ซ่อมศูนย์/อู่"
                            :items="optionsTypeRepair"
                            v-model="form.typeRepair"
                            :rules="[rules.required]"
                            outlined
                            hide-details="auto"
                            dense
                          ></v-select>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12">
                          <v-flex xs12>
                            <v-subheader>% ส่วนลดประวัติดี</v-subheader>
                          </v-flex>
                          <my-currency-input
                            type="text"
                            v-model="form.discountGood"
                            class="form-control text-right"
                          ></my-currency-input>
                        </v-col>
                      </v-row>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col cols="4">
                  <v-card>
                    <v-card-text>
                      <v-alert border="top" color="success lighten-2" dark>
                        <v-icon left> contacts </v-icon>
                        ข้อมูลลูกค้า
                      </v-alert>
                      <v-row>
                        <v-col col="12">
                          <v-select
                            label="บริษัทประกันภัย"
                            :items="optionInsuranceName"
                            v-model="form.insNm"
                            :rules="[rules.required]"
                            hide-details="auto"
                            outlined
                            dense
                          ></v-select>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12">
                          <v-text-field
                            v-model="form.cusNo"
                            label="เลขที่บัตรประชาชน"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12">
                          <v-text-field
                            v-model="form.cusName"
                            label="ชื่อ-สกุล ลูกค้า"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12">
                          <v-flex xs12>
                            <v-subheader>ทุนประกันภัย</v-subheader>
                          </v-flex>
                          <my-currency-input
                            type="text"
                            v-model="form.insCapital"
                            class="form-control text-right"
                          ></my-currency-input>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12">
                          <v-flex xs12>
                            <v-subheader>ค่าเบี้ยประกันภัย</v-subheader>
                          </v-flex>
                          <my-currency-input
                            type="text"
                            :state="insPremiumState"
                            v-model="form.insPremium"
                            class="form-control text-right"
                          ></my-currency-input>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12">
                          <v-flex xs12>
                            <v-subheader>ค่าเบี้ยพรบ.</v-subheader>
                          </v-flex>
                          <my-currency-input
                            type="text"
                            v-model="form.insAct"
                            :state="insActState"
                            class="form-control text-right"
                          ></my-currency-input>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12">
                          <v-flex xs12>
                            <v-subheader>ค่าเบี้ยประกันภัย+พรบ.</v-subheader>
                          </v-flex>
                          <my-currency-input
                            type="text"
                            v-model="form.insSum"
                            readonly
                            class="form-control text-right"
                          ></my-currency-input>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12">
                          <v-flex xs12>
                            <v-subheader>ค่าเสียหายส่วนแรก</v-subheader>
                          </v-flex>
                          <my-currency-input
                            type="text"
                            v-model="form.insDeductible"
                            class="form-control text-right"
                          ></my-currency-input>
                        </v-col>
                      </v-row>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col cols="4">
                  <v-card>
                    <v-card-text>
                      <v-alert border="top" color="secondary lighten-2" dark>
                        <v-icon left> contact_phone </v-icon>
                        ข้อมูลติดต่อ
                      </v-alert>
                        <v-row>
                          <v-col col="12">
                          <v-text-field
                            label="รหัสไปรษณีย์"
                            v-model="form.postalCode"
                            outlined
                            dense
                            maxlength="5"
                            :rules="[rules.required]"
                            @input="getAddress()"
                          ></v-text-field>
                        </v-col>
                        </v-row>
                        <v-row>
                          <v-col col="12">
                          <v-autocomplete
                            label="จังหวัด"
                            :items="optionProvinceNew"
                            v-model="form.provinve"
                            required
                            :rules="[rules.required]"
                            outlined
                            dense
                          ></v-autocomplete>
                        </v-col>
                        </v-row>
                        <v-row>
                          <v-col col="12">
                            <v-select
                              label="อำเภอ/เขต"
                              :items="optionDistrictNew"
                              v-model="form.district"
                              required
                              outlined
                              dense
                            ></v-select>
                        </v-col>
                        </v-row>
                        <v-row>
                          <v-col col="12">
                          <v-select
                            label="ตำบล/แขวง"
                            :items="optionSubDistrictNew"
                            v-model="form.towncity"
                              :rules="[rules.required]"
                            outlined
                            dense
                          ></v-select>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12">
                          <v-text-field
                            label="ที่อยู่"
                            v-model="form.details"
                            outlined
                            dense
                            :rules="[rules.required]"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col col="12">
                          <v-text-field
                            v-model="form.tel1"
                            :rules="[rules.required]"
                            label="เบอร์โทรศัพท์"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12">
                            <v-select
                              label="ชื่อพนักงานขายประกัน"
                              :rules="[rules.required]"
                              :items="optionStaffInsuranceName"
                              v-model="form.insStaffName"
                              dense
                            ></v-select>
                          </v-col>
                      </v-row>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
              <v-row>
                <div>
                  <v-btn color="primary" :disabled="!valid" @click="onSubmit()" depressed>
                    <v-icon left> add_box </v-icon>
                    เพิ่มข้อมูล
                  </v-btn>
                  <v-btn color="error" @click.stop="dialog = false">
                    ปิดหน้านี้
                  </v-btn>
                </div>
              </v-row>
            </v-card-text>
            </v-form>
            <div style="flex: 12 1 auto" />
          </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
import createNumberMask from 'text-mask-addons/dist/createNumberMask'
// import moment from 'moment' // แปลง date
// import XLSX from 'xlsx' // import xlsx
const currencyMask = createNumberMask({
  prefix: '',
  allowDecimal: true,
  includeThousandsSeparator: true,
  allowNegative: false
})
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
    // countMeetState () {
    //   return this.form.countMeet.length > 0
    // },
    // eslint-disable-next-line vue/return-in-computed-property
    insPremiumState () {
      this.getSum()
    },
    // eslint-disable-next-line vue/return-in-computed-property
    insActState () {
      this.getSum()
    }
  },
  data () {
    return {
      valid: false,
      expanded: [],
      panel: [0],
      panel1: [0],
      mask: currencyMask,
      menuSearch1: false,
      menuSearch2: false,
      dialog: false,
      dialog1: false,
      dialog2: false,
      dialog3: false,
      dialog4: false,
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      menu5: false,
      menu6: false,
      menu7: false,
      menu8: false,
      menu9: false,
      rules: {
        numberRules: value =>
          (!isNaN(parseFloat(value)) && value >= 0 && value <= 9999999999) ||
          'กรุณากรอกตัวเลข 0 ถึง 9',
        counterTel: value => value.length <= 10 || 'Max 10 characters',
        IDcardRules: value =>
          (!isNaN(parseFloat(value)) && value >= 0 && value <= 9999999999999) ||
          'กรุณากรอกตัวเลข 0 ถึง 9',
        required: value => !!value || 'กรุณากรอก.',
        counterIDcard: value => value.length <= 13 || 'Max 13 characters',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      session: this.$session.getAll(),
      dataSearhcReady: true,
      statusSearch: 'สร้างใหม่',
      chkSearch: true,
      optionStaffInsuranceName: [],
      optionCarotherBrand: [],
      optionCarotherName: [],
      readonly: true,
      visible: false,
      optionsTypeCus: [
        { text: 'บุคคล', value: '1' },
        { text: 'นิติบุคคล', value: '2' }
      ],
      typeWorkItem: [
        { text: 'Create New', value: 'Create New' },
        { text: 'Create New (New Car)', value: 'Create New (New Car)' }
      ],
      optionsActive: [
        { text: 'Active', value: '1' },
        { text: 'InActive', value: '0' },
        { text: 'Year2', value: '2' },
        { text: 'BP Prospective', value: '3' },
        { text: 'History', value: '8' }
      ],
      formSearch: {
        branchNo: '',
        monthYear: '',
        carName: '',
        frameNo: '',
        regNo: '',
        insNm: '',
        insNo: '',
        customerName: '',
        insStaffName: ''
      },
      form: {
        branchNo: '',
        customerReferral: '',
        active: '1',
        typeCus: '1',
        brandCar: '',
        carName: '',
        colorCar: '',
        regNo: '',
        regProvinve: '',
        frameNo: '',
        engine: '',
        accessories1: '',
        accessories2: '',
        insNo: '',
        insNm: '',
        cusNo: '',
        cusName: '',
        barcode: '',
        dateAct: '',
        dateCancelIns: '',
        dateCancelInsAct: '',
        paymentType: '',
        directPayment: 'ไม่ตรง',
        financeName: '',
        nameAdmin: '',
        dateMail: '',
        dateInsNoti: new Date().toISOString().substr(0, 10),
        dateGetPolicy: '',
        dateProtec1: '',
        dateProtec2: '',
        dateInsMatured: '',
        dateSendAccount: '',
        dateSendSale: '',
        typeIns: '',
        typeProtec: '',
        typeRepair: '',
        discountGood: 0,
        discountFOC: 0,
        typeNew: '',
        dateWarning: '',
        specialCustomerRecord: '',
        insCapital: 0,
        insPremium: 0,
        insAct: 0,
        insSum: 0,
        insDeductible: 0,
        details: '',
        towncity: '',
        district: '',
        provinve: '',
        postalCode: '',
        detailsNew: '',
        towncityNew: '',
        districtNew: '',
        provinveNew: '',
        postalCodeNew: '',
        tel1: '',
        remarkIns: '',
        remarkInsSelect: '',
        insStaffName: '',
        useAddress: 'ที่เดียวกัน',
        typeWork: 'Create New'
      },
      datareport: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      checksubmit: true,
      datareportHistory: [],
      optionSubDistrictNew: [],
      optionDistrictNew: [],
      optionProvinceNew: [],
      // optionProvince: [],
      dataHistory: false,
      chkbutton: '',
      dateTime: '',
      optionInsuranceName: [],
      optionsFinance: []
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/Insurance/Login')
    } else {
      await this.getData()
      await this.getInsName()
      await this.getFinName()
      await this.validate()
      await this.getCarBrandData()
    }
  },
  methods: {
    getInsName () {
      this.optionInsuranceName = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataInsuranceName`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs.length > 0) {
          for (var i = 0; i < rs.length; i++) {
            var d = rs[i]
            d.text = d.insuranceName
            d.value = d.insuranceName
            this.optionInsuranceName.push(d)
          }
        }
      })
    },
    getFinName () {
      this.optionsFinance = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataFinance`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs.length > 0) {
          for (var i = 0; i < rs.length; i++) {
            var d = rs[i]
            d.text = d.financeName
            d.value = d.financeName
            this.optionsFinance.push(d)
          }
        }
      })
    },
    getCarBrandData () {
      this.optionCarotherBrand = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataCarBrand`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs.length > 0) {
          for (var i = 0; i < rs.length; i++) {
            var d = rs[i]
            d.text = d.carBrand
            d.value = d.carBrand
            this.optionCarotherBrand.push(d)
          }
        }
      })
    },
    getCarNameData () {
      this.optionCarotherName = []
      if (this.form.brandCar.length > 0) {
        const url = `${this.$apiUrl}Insurance/Insurance/getDataCarName?carBrand=` + this.form.brandCar
        let config = {
          headers: {
            'Content-Type': 'application/json',
            'Application-Key': this.$apiToken
          }
        }
        axios.get(url, config).then((response) => {
          let rs = response.data
          if (rs.length > 0) {
            for (var i = 0; i < rs.length; i++) {
              var d = rs[i]
              d.text = d.carName
              d.value = d.carName
              this.optionCarotherName.push(d)
            }
          }
        })
      }
    },
    validate () {
      this.$nextTick(() => {
        let self = this
        self.$refs.formDialog.validate()
      })
      // switch (Action) {
      //   case 'ADD':
      //     this.$nextTick(() => {
      //       let self = this
      //       self.$refs.formSearch.validate()
      //     })
      //     break
      //   case 'UPDATE':
      //     this.$nextTick(() => {
      //       let self = this
      //       self.$refs.form_update.validate()
      //     })
      //     break

      //   default:
      //     break
      // }
    },
    getInsMatured () {
      // let useDate = ''
      if (this.form.dateProtec1 !== '') {
        const date = this.form.dateProtec1.split('-')
        const year = String(date[0])
        const month = String(date[1])
        const day = String(date[2])
        var countYear = parseInt(year) + 1
        this.form.dateInsMatured = countYear.toString() + '-' + month + '-' + day
      }
    },
    async getAddress () {
      if (this.form.postalCode.length >= 5) {
        this.optionDistrictNew = []
        this.optionSubDistrictNew = []
        this.optionProvinceNew = []
        await axios
          .get(
            // eslint-disable-next-line quotes
            "https://api.betaskthai.com/vgroupl_api/AddressMap.php?zipcode=" +
              this.form.postalCode
          )
          .then(async (response) => {
            console.log(response)
            // this.form.provinve = response.data[0].province
            // this.form.district = response.data[0].district
            let rs = response.data
            // this.form.provinve = response.data[0].province
            for (var i = 0; i < rs.length; i++) {
              var x = rs[i]
              var z = {}
              z.text = x.district
              z.value = x.district
              this.optionDistrictNew.push(z)

              var d = rs[i]
              var s = {}
              s.text = d.sub_district
              s.value = d.sub_district
              this.optionSubDistrictNew.push(s)
            }
            for (var t = 0; t < rs.length; t++) {
              var k = rs[t]
              var l = {}
              l.text = k.province
              l.value = k.province
              this.optionProvinceNew.push(l)
            }
            // let rs = response.data
            // for (var i = 0; i < rs.length; i++) {
            //   var d = rs[i]
            //   var s = {}
            //   s.text = d.subDistrict
            //   s.value = d.subDistrict
            //   this.optionSubDistrict.push(s)
            // }
          }) // eslint-disable-next-line handle-callback-err
          .catch(error => {
            console.log(error)
            // this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          })
      }
      // } if (this.form.postalCode.length < 5) {
      //   this.optionSubDistrict = []
      //   this.form.provinve = ''
      //   this.form.district = ''
      // }
    },
    getHistory () {
      this.dataHistory = false
      this.datareportHistory = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataInsurance`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          frameNo: this.form.frameNo,
          active: '8'
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs !== 'ไม่มีข้อมูล') {
          this.datareportHistory = rs
          this.dataHistory = true
        } else {
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        }
        // if (rs.length > 0) {
        //   for (var i = 0; i < rs.length; i++) {
        //     var d = rs[i]
        //     d.text = d.company_NM
        //     d.value = d.company_NM
        //     this.datareportHistory.push(d)
        //   }
        // }
      })
    },
    setNewAddress () {
      console.log(this.form.useAddress)
      if (this.form.useAddress === 'ที่เดียวกัน') {
        this.form.detailsNew = this.form.details
        this.form.towncityNew = this.form.towncity
        this.form.districtNew = this.form.district
        this.form.provinveNew = this.form.provinve
        this.form.postalCodeNew = this.form.postalCode
      } else {
        this.form.detailsNew = ''
        this.form.towncityNew = ''
        this.form.districtNew = ''
        this.form.provinveNew = ''
        this.form.postalCodeNew = ''
      }
    },
    getSearch () {
      if (this.statusSearch === 'สร้างใหม่') {
        this.chkSearch = false
        this.readonly = false
        this.form.brandCar = 'HONDA'
        this.form.carName = ''
        this.form.colorCar = ''
      }
    },
    async getData () {
      // this.form.branchNo = this.session.data.BranchS1
      this.form.nameAdmin =
        'คุณ ' + this.session.data.Name + ' ' + this.session.data.Surname
      // this.form.department = this.session.data.Position
      await this.getNow()
      // await this.getInsNmData()
      await this.getStaffInsNmData()
    },
    getSum () {
      this.form.insSum =
        parseFloat(this.form.insPremium) + parseFloat(this.form.insAct)
    },
    getNow () {
      const today = new Date()
      // console.log(today)
      const date =
        today.getFullYear() +
        '' +
        (today.getMonth() + 1) +
        '' +
        today.getDate()
      const time =
        today.getHours() + '' + today.getMinutes() + '' + today.getSeconds()
      const dateTime = date + '' + time
      this.dateTime = dateTime
      // console.log(this.dateTime)
      // this.formUpdate.prospectiveCode = dateTime
    },
    async getStaffInsNmData () {
      this.optionStaffInsuranceName = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataSalesIns`
      const urlNew = `${this.$apiUrl}Insurance/Insurance/getDataSalesInsNew`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      await axios.get(url, config).then(async response => {
        let rs = response.data
        if (rs !== 'ไม่มีข้อมูล') {
          for (let i = 0; i < rs.length; i++) {
            let d = rs[i]
            d.text = d.salesName
            d.value = d.salesName
            this.optionStaffInsuranceName.push(d)
          }
          await axios.get(urlNew, config).then(async responses => {
            let rsNew = responses.data
            if (rsNew !== 'ไม่มีข้อมูล') {
              for (let i = 0; i < rsNew.length; i++) {
                let d = rsNew[i]
                d.text = d.salesName
                d.value = d.salesName
                this.optionStaffInsuranceName.push(d)
              }
            }
          })
        }
      })
    },
    onClearSubmit () {
      this.form.insID = ''
      this.dateTime = ''
      this.form.branchNo = ''
      this.form.active = ''
      this.form.typeCus = ''
      this.form.financeName = ''
      this.form.brandCar = ''
      this.form.carType = ''
      this.form.carYear = ''
      this.form.carName = ''
      this.form.colorCar = ''
      this.form.regNo = ''
      this.form.frameNo = ''
      this.form.engine = ''
      this.form.typeIns = ''
      this.form.insNo = ''
      this.form.insNm = ''
      this.form.typeProtec = ''
      this.form.typeRepair = ''
      this.form.cusNo = ''
      this.form.cusName = ''
      this.form.details = ''
      this.form.towncity = ''
      this.form.district = ''
      this.form.provinve = ''
      this.form.postalCode = ''
      this.form.detailsNew = ''
      this.form.towncityNew = ''
      this.form.districtNew = ''
      this.form.provinveNew = ''
      this.form.postalCodeNew = ''
      this.form.tel1 = ''
      this.form.barcode = ''
      this.form.dateAct = ''
      this.form.dateCancelIns = ''
      this.form.dateCancelInsAct = ''
      this.form.paymentType = ''
      this.form.dateMail = ''
      this.form.dateInsNoti = ''
      this.form.dateGetPolicy = ''
      this.form.dateProtec1 = ''
      this.form.dateProtec2 = ''
      this.form.dateInsMatured = ''
      this.form.dateSendAccount = ''
      this.form.dateSendSale = ''
      this.form.dateWarning = ''
      this.form.useAddress = 'ที่เดียวกัน'
      this.form.typeNew = ''
      this.form.discountGood = 0
      this.form.discountFOC = 0
      this.form.insCapital = 0
      this.form.insPremium = 0
      this.form.insAct = 0
      this.form.insSum = 0
      this.form.insDeductible = 0
      this.form.specialCustomerRecord = ''
      this.form.remarkIns = ''
      this.form.nameAdmin = ''
      this.form.insStaffName = ''
      this.form.customerReferral = ''
      this.form.typeWork = 'Create New'
    },
    onSubmit () {
      this.dataReady = false
      if (
        this.form.typeIns.length > 0 &&
        this.form.typeProtec.length > 0 &&
        this.form.typeRepair.length > 0 &&
        this.form.insNm.length > 0 &&
        this.form.cusName.length > 0 &&
        this.form.details.length > 0 &&
        this.form.towncity.length > 0 &&
        this.form.district.length > 0 &&
        this.form.provinve.length > 0 &&
        this.form.postalCode.length > 0 &&
        this.form.tel1.length > 0 &&
        this.form.insStaffName.length > 0
      ) {
        this.$swal({
          title: 'ตรวจสอบก่อนเพิ่มข้อมูล',
          text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการเพิ่มหรือไม่',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#dedede',
          confirmButtonText: 'เพิ่มข้อมูล',
          cancelButtonText: 'ยกเลิก และตรวจสอบ!'
        })
          .then((result) => {
            const url = `${this.$apiUrl}Insurance/Insurance/addDataProspective`
            let config = {
              headers: {
                'Content-Type': 'application/json',
                'Application-Key': this.$apiToken
              }
            }
            let dt = {
              'prospectiveCode': this.dateTime,
              'userLogin': this.session.data.User_NM,
              'startDate': this.form.dateProtec1,
              'Dlr_DLVR_Name': '',
              'customerNo': this.form.cusNo,
              'customerNM': this.form.cusName,
              'customerTel1': this.form.tel1,
              'customerTel2': '',
              'customerTel3': '',
              'ADDRESS_FULL': '',
              'ADDRESS_DETAILS': this.form.details,
              'ADDRESS_TOWNCITY': this.form.towncity,
              'ADDRESS_DISTRICT': this.form.district,
              'ADDRESS_PROVINCE': this.form.provinve,
              'ZIP_CD': this.form.postalCode,
              'frameNo': this.form.frameNo,
              'engineNo': this.form.engine,
              'ragNo': this.form.regNo,
              'branchNo': this.form.branchNo,
              'carBrand': this.form.brandCar,
              'carName': this.form.carName,
              'carType': this.form.carType,
              'carYear': this.form.carYear,
              'colorCar': this.form.colorCar,
              'insNo': this.form.insNo,
              'insName': this.form.insNm,
              'paymentType': this.form.paymentType,
              'financeName': this.form.financeName,
              'invoiceDate': '',
              'typeProtec': this.form.typeProtec,
              'typeRepair': this.form.typeRepair,
              'insCapital': this.form.insCapital,
              'insPremium': this.form.insPremium,
              'insAct': this.form.insAct,
              'insDeductible': this.form.insDeductible,
              'dateInsMatured': this.form.dateInsMatured,
              'typeWork': this.form.typeWork,
              'staffIns': this.form.insStaffName,
              'userId_VLinked': '',
              'regProvince': this.form.regProvinve,
              'discountGood': this.form.discountGood,
              'typeInsurance': this.form.typeIns,
              'customerReferral': this.form.customerReferral,
              'statusProspective': 'Prospective'
            }
            axios.post(url, dt, config).then((response) => {
              this.dataReady = true
              if (response.data.status === 'FALSE') {
                this.onClearSubmit()
                this.$swal('ผิดพลาด', response.data.message, 'error')
              } else {
                this.onClearSubmit()
                this.getData()
                this.$swal('เรียบร้อย', response.data.message, 'success')
              }
            })
          })
          .catch((error) => {
            console.log(error)
            this.dataReady = true
          })
      } else {
        this.dataReady = true
        this.$swal(
          'ผิดพลาด',
          'กรุณาใส่ข้อมูลให้ครบถ้วน ตามช่องที่มีสีแดง',
          'error'
        )
      }
    }
  }
}
</script>
<style>
table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
