<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row style="height: 80px">
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="4">
                    <b>จัดการ รหัสไปรษณีย์</b>
                  </v-col>
                  <v-col cols="4"></v-col>
                  <v-col cols="4">
                      <v-text-field
                        v-model="postalCode"
                        label="รหัสไปรษณีย์"
                        outlined
                        dense
                        @input="getAddress()"
                      ></v-text-field>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-text>
                    <v-btn
                    tile
                    small
                    color="info"
                    @click.stop="dialogInsert = true"
                    >
                    <v-icon left>
                        mdi-cart-plus
                    </v-icon>
                    เพิ่มข้อมูล
                    </v-btn>
                  <v-data-table
                    :headers="headers"
                    :items="desserts"
                    sort-by="calories"
                    class="elevation-1"
                    v-if="desserts.length > 0"
                    >
                    <template v-slot:[`item.action`]="{ item }">
                        <v-btn
                        color="warning"
                        fab
                        small
                        @click.stop="setDataUpdate(item)"
                        >
                        <v-icon dark> mdi-tools </v-icon>
                        </v-btn>
                        <v-btn
                        color="error"
                        fab
                        small
                        @click.stop="onDelect(item)"
                        >
                        <v-icon dark> mdi-delete </v-icon>
                        </v-btn>
                    </template>
                </v-data-table>
                <v-dialog v-model="dialogUpdate" persistent>
                    <v-card>
                        <v-card-title>
                            <span class="headline">เปลี่ยนแปลงข้อมูล</span>
                        </v-card-title>
                        <v-form ref="form_update" v-model="valid_update" lazy-validation>
                          <v-card-text>
                              <v-container>
                                <v-row>
                                  <v-col cols='12'>
                                    <v-text-field
                                      label="ตำบล/แขวง"
                                      v-model="formUpdate.sub_district"
                                      outlined
                                      dense
                                      required
                                      :rules="[rules.required]"
                                    ></v-text-field>
                                  </v-col>
                                  <v-col cols='12'>
                                    <v-text-field
                                      label="อำเภอ/เขต"
                                      v-model="formUpdate.district"
                                      outlined
                                      dense
                                      required
                                      :rules="[rules.required]"
                                    ></v-text-field>
                                  </v-col>
                                  <v-col cols='12'>
                                    <v-text-field
                                      label="จังหวัด"
                                      v-model="formUpdate.province"
                                      outlined
                                      dense
                                      required
                                      :rules="[rules.required]"
                                    ></v-text-field>
                                  </v-col>
                                  <v-col cols='12'>
                                    <v-text-field
                                      label="รหัสไปษณีย์"
                                      v-model="formUpdate.zipcode"
                                      outlined
                                      dense
                                      required
                                      :rules="[rules.required]"
                                    ></v-text-field>
                                  </v-col>
                                </v-row>
                              </v-container>
                          </v-card-text>
                        </v-form>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="red darken-1"
                            text
                            @click="dialogUpdate = false"
                        >
                            Close
                        </v-btn>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="onUpdate()"
                        >
                            Save
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialogInsert" persistent>
                    <v-card>
                        <v-card-title>
                            <span class="headline">เพิ่มข้อมูล</span>
                        </v-card-title>
                        <v-form ref="form_add" v-model="valid_add" lazy-validation>
                          <v-card-text>
                              <v-container>
                                <v-row>
                                  <v-col cols='12'>
                                    <v-text-field
                                      label="ตำบล/แขวง"
                                      v-model="formInsert.sub_district"
                                      outlined
                                      dense
                                      required
                                      :rules="[rules.required]"
                                    ></v-text-field>
                                  </v-col>
                                  <v-col cols='12'>
                                    <v-text-field
                                      label="อำเภอ/เขต"
                                      v-model="formInsert.district"
                                      outlined
                                      dense
                                      required
                                      :rules="[rules.required]"
                                    ></v-text-field>
                                  </v-col>
                                  <v-col cols='12'>
                                    <v-text-field
                                      label="จังหวัด"
                                      v-model="formInsert.province"
                                      outlined
                                      dense
                                      required
                                      :rules="[rules.required]"
                                    ></v-text-field>
                                  </v-col>
                                  <v-col cols='12'>
                                    <v-text-field
                                      label="รหัสไปษณีย์"
                                      v-model="formInsert.zipcode"
                                      outlined
                                      dense
                                      required
                                      :rules="[rules.required]"
                                    ></v-text-field>
                                  </v-col>
                                </v-row>
                              </v-container>
                          </v-card-text>
                        </v-form>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="red darken-1"
                            text
                            @click="dialogInsert = false"
                        >
                            Close
                        </v-btn>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="onInsert()"
                        >
                            Save
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
  },
  data () {
    return {
      valid_add: true,
      valid_update: true,
      typeManage: '',
      postalCode: '',
      session: this.$session.getAll(),
      headers: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'ตำบล/แขวง', value: 'sub_district' },
        { text: 'อำเภอ/เขต', value: 'district' },
        { text: 'จังหวัด', value: 'province' },
        { text: 'รหัสไปษณีย์', value: 'zipcode' }
      ],
      desserts: [],
      dialogUpdate: false,
      dialogInsert: false,
      formInsert: {
        sub_district: '',
        district: '',
        province: '',
        zipcode: ''
      },
      formUpdate: {
        id: '',
        sub_district: '',
        district: '',
        province: '',
        zipcode: ''
      },
      searchFinance: '',
      searchIns: '',
      rules: {
        numberRules: value =>
          (!isNaN(parseFloat(value)) && value >= 0 && value <= 9999999999) ||
          'กรุณากรอกตัวเลข 0 ถึง 9',
        counterTel: value => value.length <= 10 || 'Max 10 characters',
        IDcardRules: value =>
          (!isNaN(parseFloat(value)) && value >= 0 && value <= 9999999999999) ||
          'กรุณากรอกตัวเลข 0 ถึง 9',
        required: value => !!value || 'กรุณากรอก.',
        resizeImag: value =>
          !value ||
          value.size < 2000000 ||
          'Avatar size should be less than 2 MB!',
        counterIDcard: value => value.length <= 13 || 'Max 13 characters',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      }
    }
  },
  async mounted () {
  },
  methods: {
    validate (Action) {
      switch (Action) {
        case 'ADD':
          this.$nextTick(() => {
            let self = this
            self.$refs.form_add.validate()
          })
          break
        case 'UPDATE':
          this.$nextTick(() => {
            let self = this
            self.$refs.form_update.validate()
          })
          break

        default:
          break
      }
    },
    async getAddress () {
      if (this.postalCode.length >= 5) {
        this.desserts = []
        await axios
          .get(
            // eslint-disable-next-line quotes
            "https://api.betaskthai.com/vgroupl_api/AddressMap.php?zipcode=" +
              this.postalCode
          )
          .then(async (response) => {
            console.log(response)
            let rs = response.data
            if (rs.length > 0) {
              this.desserts = rs
            } else {
              this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
            }
          }) // eslint-disable-next-line handle-callback-err
          .catch(error => {
            console.log(error)
            // this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          })
      }
    },
    setDataUpdate (item) {
      this.formUpdate.sub_district = item.sub_district
      this.formUpdate.district = item.district
      this.formUpdate.province = item.province
      this.formUpdate.zipcode = item.zipcode
      this.formUpdate.id = item.id
      this.dialogUpdate = true
    },
    onUpdate () {
      this.validate('UPDATE')
      setTimeout(() => this.onUpdateSubmit(), 500)
    },
    onUpdateSubmit () {
      if (this.valid_update === true) {
        this.$swal({
          title: 'คุณต้องเปลี่ยนแปลงรายการนี้ไหม',
          type: 'info',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#b3b1ab',
          confirmButtonText: 'เปลี่ยนแปลง',
          cancelButtonText: 'ยกเลิก'
        })
          .then(async (result) => {
            const url1 = `${this.DNS_IP}v1/Insurance/Insurance/updateDataMap`
            let config1 = {
              headers: {
                'Content-Type': 'application/json',
                'Application-Key': this.$apiToken
              }
            }
            await axios.post(url1, this.formUpdate, config1).then(async response => {
              this.getAddress()
              this.clearUpdate()
              this.$swal('เรียบร้อย', 'เปลี่ยนแปลงข้อมูลเรียบร้อย', 'success')
              this.dialogUpdate = false
            })
          })
      }
    },
    onDelect (item) {
      this.$swal({
        title: 'คุณต้องลบรายการนี้ไหม',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#b3b1ab',
        confirmButtonText: 'เปลี่ยนแปลง',
        cancelButtonText: 'ยกเลิก'
      })
        .then(async (result) => {
          const url1 = `${this.DNS_IP}v1/Insurance/Insurance/deleteMap`
          let config1 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt1 = {
            id: item.id
          }
          await axios.post(url1, dt1, config1).then(async response => {
            this.getAddress()
            this.$swal('เรียบร้อย', 'เปลี่ยนแปลงข้อมูลเรียบร้อย', 'success')
          })
        })
    },
    onInsert () {
      this.validate('ADD')
      setTimeout(() => this.onInsertSubmit(), 500)
    },
    onInsertSubmit () {
      if (this.valid_add === true) {
        this.$swal({
          title: 'คุณต้องเพิ่มรายการนี้ไหม',
          type: 'info',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#b3b1ab',
          confirmButtonText: 'เพิ่ม',
          cancelButtonText: 'ยกเลิก'
        })
          .then(async (result) => {
            const url1 = `${this.DNS_IP}v1/Insurance/Insurance/insertMap`
            let config1 = {
              headers: {
                'Content-Type': 'application/json',
                'Application-Key': this.$apiToken
              }
            }
            await axios.post(url1, this.formInsert, config1).then(async response => {
              this.getAddress()
              this.clearAdd()
              this.$swal('เรียบร้อย', 'เพิ่มข้อมูลเรียบร้อย', 'success')
              this.dialogInsert = false
            })
          })
      }
    },
    clearAdd () {
      this.formInsert.sub_district = ''
      this.formInsert.district = ''
      this.formInsert.province = ''
      this.formInsert.zipcode = ''
    },
    clearUpdate () {
      this.formUpdate.sub_district = ''
      this.formUpdate.district = ''
      this.formUpdate.province = ''
      this.formUpdate.zipcode = ''
      this.formUpdate.id = ''
    }
  }
}
</script>
