<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row style="height: 80px">
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="4">
                    <b>จัดการ รุ่นรถยนต์</b>
                  </v-col>
                  <v-col cols="4"></v-col>
                  <v-col cols="4">
                      <v-select
                        label="เลือกหัวข้อจัดการ"
                        outlined
                        :items="optionsTypeCar"
                        v-model="typeManage"
                        @change="gettypeManage()"
                        dense
                    ></v-select>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-text v-if="typeManage === 'brandCar'">
                    <v-btn
                    tile
                    small
                    color="info"
                    @click.stop="dialogInsert = true, formInsertBrand.carBrand = ''"
                    >
                    <v-icon left>
                        mdi-cart-plus
                    </v-icon>
                    เพิ่มข้อมูล
                    </v-btn>
                  <v-data-table
                    :headers="headers"
                    :items="desserts"
                    sort-by="calories"
                    class="elevation-1"
                    >
                    <template v-slot:[`item.action`]="{ item }">
                        <v-btn
                        color="warning"
                        fab
                        small
                        @click.stop="setDataUpdate(item)"
                        >
                        <v-icon dark> mdi-tools </v-icon>
                        </v-btn>
                    </template>
                </v-data-table>
                <v-dialog v-model="dialogUpdate" persistent>
                    <v-card>
                        <v-card-title>
                            <span class="headline">เปลี่ยนแปลงข้อมูล</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-text-field
                                    label="ยี่ห้อรถยนต์"
                                    v-model="formUpdateBrand.carBrand"
                                    outlined
                                    dense
                                ></v-text-field>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="red darken-1"
                            text
                            @click="dialogUpdate = false"
                        >
                            Close
                        </v-btn>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="onUpdateCarBrand()"
                        >
                            Save
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialogInsert" persistent>
                    <v-card>
                        <v-card-title>
                            <span class="headline">เปลี่ยนแปลงข้อมูล</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-text-field
                                    label="ยี่ห้อรถยนต์"
                                    v-model="formInsertBrand.carBrand"
                                    outlined
                                    dense
                                ></v-text-field>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="red darken-1"
                            text
                            @click="dialogInsert = false"
                        >
                            Close
                        </v-btn>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="onInsertCarBrand()"
                        >
                            Save
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
              </v-card-text>
              <v-card-text v-if="typeManage === 'modelCar'">
                    <v-btn
                    tile
                    small
                    color="info"
                    @click.stop="dialogInsertModelCar = true"
                    >
                    <v-icon left>
                        mdi-cart-plus
                    </v-icon>
                    เพิ่มข้อมูล
                    </v-btn>
                    <v-card-title>
                        <v-select
                            append-icon="mdi-magnify"
                            label="Search"
                            outlined
                            :items="optionCarotherBrand"
                            v-model="searchBrandCar"
                            dense
                        ></v-select>
              </v-card-title>
                  <v-data-table
                    :search="searchBrandCar"
                    :headers="headersModelCar"
                    :items="dessertsModelCar"
                    sort-by="calories"
                    class="elevation-1"
                    >
                    <template v-slot:[`item.action`]="{ item }">
                        <v-btn
                        color="warning"
                        fab
                        small
                        @click.stop="setDataUpdateModelCar(item)"
                        >
                        <v-icon dark> mdi-tools </v-icon>
                        </v-btn>
                    </template>
                </v-data-table>
                <v-dialog v-model="dialogUpdateModelCar" persistent>
                    <v-card>
                        <v-card-title>
                            <span class="headline">เปลี่ยนแปลงข้อมูล</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="6">
                                        <v-select
                                            append-icon="mdi-magnify"
                                            label="เลือกยี่ห้อรถ"
                                            outlined
                                            :items="optionCarotherBrand"
                                            v-model="formInsertModelCar.carBrand"
                                            dense
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="6">
                                        <v-text-field
                                            label="รุ่นรถยนต์"
                                            v-model="formInsertModelCar.carName"
                                            outlined
                                            dense
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="red darken-1"
                            text
                            @click="dialogUpdateModelCar = false"
                        >
                            Close
                        </v-btn>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="onUpdateCarBrandModelCar()"
                        >
                            Save
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialogInsertModelCar" persistent>
                    <v-card>
                        <v-card-title>
                            <span class="headline">เพิ่มข้อมูล</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="6">
                                        <v-select
                                            append-icon="mdi-magnify"
                                            label="เลือกยี่ห้อรถ"
                                            outlined
                                            :items="optionCarotherBrand"
                                            v-model="formInsertModelCar.carBrand"
                                            dense
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="6">
                                        <v-text-field
                                            label="รุ่นรถยนต์"
                                            v-model="formInsertModelCar.carName"
                                            outlined
                                            dense
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="red darken-1"
                            text
                            @click="dialogInsertModelCar = false"
                        >
                            Close
                        </v-btn>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="onInsertModelCar()"
                        >
                            Save
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
  },
  data () {
    return {
      typeManage: '',
      session: this.$session.getAll(),
      optionsTypeCar: [
        { text: 'ยี่ห้อรถยนต์', value: 'brandCar' },
        { text: 'รุ่นรถยนต์', value: 'modelCar' }
      ],
      headers: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'ยี่ห้อรถ', value: 'carBrand' },
        { text: 'วันที่อัพเดท', value: 'lastUpdate' }
      ],
      desserts: [],
      optionCarotherBrand: [],
      formUpdateBrand: {
        id: '',
        carBrand: ''
      },
      dialogUpdate: false,
      dialogInsert: false,
      formInsertBrand: {
        carBrand: ''
      },
      headersModelCar: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'ยี่ห้อรถ', value: 'carBrand' },
        { text: 'รุ่นรถยนต์', value: 'carName' },
        { text: 'วันที่อัพเดท', value: 'lastUpdate' }
      ],
      dessertsModelCar: [],
      optionCarotherModelCar: [],
      formUpdateModelCar: {
        id: '',
        carModelCar: ''
      },
      dialogUpdateModelCar: false,
      dialogInsertModelCar: false,
      formInsertModelCar: {
        carBrand: '',
        carName: ''
      },
      searchBrandCar: ''
    }
  },
  async mounted () {
    this.getCarBrandDataOption()
  },
  methods: {
    gettypeManage () {
      if (this.typeManage === 'brandCar') {
        this.getCarBrandData()
      } else if (this.typeManage === 'modelCar') {
        this.getCarNameData()
      }
    },
    getCarBrandDataOption () {
      this.optionCarotherBrand = []
      const url = `${this.DNS_IP}v1/Insurance/Insurance/getDataCarBrand`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs.length > 0) {
          for (var i = 0; i < rs.length; i++) {
            var d = rs[i]
            d.text = d.carBrand
            d.value = d.carBrand
            this.optionCarotherBrand.push(d)
          }
        }
      })
    },
    getCarBrandData () {
      this.desserts = []
      const url = `${this.DNS_IP}v1/Insurance/Insurance/getDataCarBrand`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs.length > 0) {
          this.desserts = rs
        //   for (var i = 0; i < rs.length; i++) {
        //     var d = rs[i]
        //     d.text = d.carBrand
        //     d.value = d.carBrand
        //     this.optionCarotherBrand.push(d)
        //   }
        }
      })
    },
    setDataUpdate (item) {
      this.formUpdateBrand.carBrand = item.carBrand
      this.formUpdateBrand.id = item.id
      this.dialogUpdate = true
    },
    onUpdateCarBrand () {
      this.$swal({
        title: 'บันทึกสำเร็จ คุณต้องเปลี่ยนแปลง รายการนี้ไหม',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#b3b1ab',
        confirmButtonText: 'เปลี่ยนแปลง',
        cancelButtonText: 'ยกเลิก'
      })
        .then(async (result) => {
          const url1 = `${this.DNS_IP}v1/Insurance/Insurance/updateCarBrand`
          let config1 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt1 = {
            carBrand: this.formUpdateBrand.carBrand,
            id: this.formUpdateBrand.id
          }
          await axios.post(url1, dt1, config1).then(async response => {
            this.getCarBrandData()
            this.$swal('เรียบร้อย', 'เปลี่ยนแปลงข้อมูลเรียบร้อย', 'success')
            this.dialogUpdate = false
            this.getCarBrandDataOption()
          })
        })
    },
    onInsertCarBrand () {
      this.$swal({
        title: 'บันทึกสำเร็จ คุณต้องเพิ่ม รายการนี้ไหม',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#b3b1ab',
        confirmButtonText: 'เพิ่ม',
        cancelButtonText: 'ยกเลิก'
      })
        .then(async (result) => {
          const url1 = `${this.DNS_IP}v1/Insurance/Insurance/insertCarBrand`
          let config1 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt1 = {
            carBrand: this.formInsertBrand.carBrand
          }
          await axios.post(url1, dt1, config1).then(async response => {
            this.getCarBrandData()
            this.$swal('เรียบร้อย', 'เพิ่มข้อมูลเรียบร้อย', 'success')
            this.dialogInsert = false
            this.getCarBrandDataOption()
          })
        })
    },
    getCarNameData () {
      this.dessertsModelCar = []
      const url = `${this.DNS_IP}v1/Insurance/Insurance/getDataCarName`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs.length > 0) {
          this.dessertsModelCar = rs
        }
      })
    },
    onInsertModelCar () {
      this.$swal({
        title: 'บันทึกสำเร็จ คุณต้องเพิ่ม รายการนี้ไหม',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#b3b1ab',
        confirmButtonText: 'เพิ่ม',
        cancelButtonText: 'ยกเลิก'
      })
        .then(async (result) => {
          const url1 = `${this.DNS_IP}v1/Insurance/Insurance/insertCarName`
          let config1 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt1 = {
            carBrand: this.formInsertModelCar.carBrand,
            carName: this.formInsertModelCar.carName
          }
          await axios.post(url1, dt1, config1).then(async response => {
            this.getCarNameData()
            this.$swal('เรียบร้อย', 'เพิ่มข้อมูลเรียบร้อย', 'success')
            this.dialogInsertModelCar = false
            this.formInsertModelCar.carBrand = ''
            this.formInsertModelCar.carName = ''
          })
        })
    },
    setDataUpdateModelCar (item) {
      this.formInsertModelCar.carBrand = item.carBrand
      this.formInsertModelCar.id = item.id
      this.formInsertModelCar.carName = item.carName
      this.dialogUpdateModelCar = true
    },
    onUpdateCarBrandModelCar () {
      this.$swal({
        title: 'บันทึกสำเร็จ คุณต้องเปลี่ยนแปลง รายการนี้ไหม',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#b3b1ab',
        confirmButtonText: 'เปลี่ยนแปลง',
        cancelButtonText: 'ยกเลิก'
      })
        .then(async (result) => {
          const url1 = `${this.DNS_IP}v1/Insurance/Insurance/updateCarName`
          let config1 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt1 = {
            carBrand: this.formInsertModelCar.carBrand,
            carName: this.formInsertModelCar.carName,
            id: this.formInsertModelCar.id
          }
          await axios.post(url1, dt1, config1).then(async response => {
            this.getCarNameData()
            this.$swal('เรียบร้อย', 'เปลี่ยนแปลงข้อมูลเรียบร้อย', 'success')
            this.dialogUpdateModelCar = false
          })
        })
    }
  }
}
</script>
