<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row style="height: 80px">
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="4">
                    <b>จัดการ Finance และ บริษัทประกัน</b>
                  </v-col>
                  <v-col cols="4"></v-col>
                  <v-col cols="4">
                      <v-select
                        label="เลือกหัวข้อจัดการ"
                        outlined
                        :items="optionsType"
                        v-model="typeManage"
                        @change="gettypeManage()"
                        dense
                    ></v-select>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-text v-if="typeManage === 'financeName'">
                    <v-btn
                    tile
                    small
                    color="info"
                    @click.stop="dialogInsert = true, formInsertFinance.financeName = ''"
                    >
                    <v-icon left>
                        mdi-cart-plus
                    </v-icon>
                    เพิ่มข้อมูล
                    </v-btn>
                  <v-data-table
                    :headers="headers"
                    :items="desserts"
                    sort-by="calories"
                    class="elevation-1"
                    >
                    <template v-slot:[`item.action`]="{ item }">
                        <v-btn
                        color="warning"
                        fab
                        small
                        @click.stop="setDataUpdate(item)"
                        >
                        <v-icon dark> mdi-tools </v-icon>
                        </v-btn>
                        <v-btn
                        color="error"
                        fab
                        small
                        @click.stop="onDelectFinance(item)"
                        >
                        <v-icon dark> mdi-delete </v-icon>
                        </v-btn>
                    </template>
                </v-data-table>
                <v-dialog v-model="dialogUpdate" persistent>
                    <v-card>
                        <v-card-title>
                            <span class="headline">เปลี่ยนแปลงข้อมูล</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-text-field
                                    label="ชื่อไฟแนนซ์"
                                    v-model="formUpdateFinance.financeName"
                                    outlined
                                    dense
                                ></v-text-field>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="red darken-1"
                            text
                            @click="dialogUpdate = false"
                        >
                            Close
                        </v-btn>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="onUpdateFinance()"
                        >
                            Save
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialogInsert" persistent>
                    <v-card>
                        <v-card-title>
                            <span class="headline">เพิ่มข้อมูล</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-text-field
                                    label="ชื่อไฟแนนซ์"
                                    v-model="formInsertFinance.financeName"
                                    outlined
                                    dense
                                ></v-text-field>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="red darken-1"
                            text
                            @click="dialogInsert = false"
                        >
                            Close
                        </v-btn>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="onInsertFinanceName()"
                        >
                            Save
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
              </v-card-text>
              <v-card-text v-if="typeManage === 'insuranceName'">
                    <v-btn
                    tile
                    small
                    color="info"
                    @click.stop="dialogInsertIns = true"
                    >
                    <v-icon left>
                        mdi-cart-plus
                    </v-icon>
                    เพิ่มข้อมูล
                    </v-btn>
                  <v-data-table
                    :headers="headersIns"
                    :items="dessertsIns"
                    sort-by="calories"
                    class="elevation-1"
                    >
                    <template v-slot:[`item.action`]="{ item }">
                        <v-btn
                        color="warning"
                        fab
                        small
                        @click.stop="setDataUpdateIns(item)"
                        >
                        <v-icon dark> mdi-tools </v-icon>
                        </v-btn>
                        <v-btn
                        color="error"
                        fab
                        small
                        @click.stop="onDelectInsurance(item)"
                        >
                        <v-icon dark> mdi-delete </v-icon>
                        </v-btn>
                    </template>
                </v-data-table>
                <v-dialog v-model="dialogUpdateIns" persistent>
                    <v-card>
                        <v-card-title>
                            <span class="headline">เปลี่ยนแปลงข้อมูล</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field
                                            label="ชื่อบริษัทประกัน"
                                            v-model="formUpdateIns.insuranceName"
                                            outlined
                                            dense
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="red darken-1"
                            text
                            @click="dialogUpdateIns = false"
                        >
                            Close
                        </v-btn>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="onUpdateIns()"
                        >
                            Save
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialogInsertIns" persistent>
                    <v-card>
                        <v-card-title>
                            <span class="headline">เพิ่มข้อมูล</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field
                                            label="ชื่อบริษัทประกัน"
                                            v-model="formInsertIns.insuranceName"
                                            outlined
                                            dense
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="red darken-1"
                            text
                            @click="dialogInsertIns = false"
                        >
                            Close
                        </v-btn>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="onInsertIns()"
                        >
                            Save
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
  },
  data () {
    return {
      typeManage: '',
      session: this.$session.getAll(),
      optionsType: [
        { text: 'Finance', value: 'financeName' },
        { text: 'บริษัทประกัน', value: 'insuranceName' }
      ],
      headers: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'Finance', value: 'financeName' },
        { text: 'วันที่อัพเดท', value: 'lastDate' }
      ],
      desserts: [],
      formUpdateFinance: {
        id: '',
        financeName: '',
        lastUser: ''
      },
      dialogUpdate: false,
      dialogInsert: false,
      formInsertFinance: {
        financeName: '',
        createUser: '',
        lastUser: ''
      },
      headersIns: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'บริษัทประกัน', value: 'insuranceName' },
        { text: 'วันที่อัพเดท', value: 'lastDate' }
      ],
      dessertsIns: [],
      formUpdateIns: {
        id: '',
        insuranceName: '',
        lastUser: ''
      },
      dialogUpdateIns: false,
      dialogInsertIns: false,
      formInsertIns: {
        insuranceName: '',
        createUser: '',
        lastUser: ''
      },
      searchFinance: '',
      searchIns: ''
    }
  },
  async mounted () {
  },
  methods: {
    gettypeManage () {
      if (this.typeManage === 'financeName') {
        this.getFinanceData()
      } else if (this.typeManage === 'insuranceName') {
        this.getInsData()
      }
    },
    getFinanceData () {
      this.desserts = []
      const url = `${this.DNS_IP}v1/Insurance/Insurance/getDataFinance`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs !== 'ไม่มีข้อมูล') {
          this.desserts = rs
        //   for (var i = 0; i < rs.length; i++) {
        //     var d = rs[i]
        //     d.text = d.carBrand
        //     d.value = d.carBrand
        //     this.optionCarotherBrand.push(d)
        //   }
        }
      })
    },
    setDataUpdate (item) {
      this.formUpdateFinance.financeName = item.financeName
      this.formUpdateFinance.id = item.id
      this.dialogUpdate = true
    },
    onUpdateFinance () {
      this.$swal({
        title: 'คุณต้องเปลี่ยนแปลงรายการนี้ไหม',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#b3b1ab',
        confirmButtonText: 'เปลี่ยนแปลง',
        cancelButtonText: 'ยกเลิก'
      })
        .then(async (result) => {
          const url1 = `${this.DNS_IP}v1/Insurance/Insurance/updateFinanceName`
          let config1 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt1 = {
            financeName: this.formUpdateFinance.financeName,
            id: this.formUpdateFinance.id,
            lastUser: this.$session.getAll().data.User_NM
          }
          await axios.post(url1, dt1, config1).then(async response => {
            this.getFinanceData()
            this.$swal('เรียบร้อย', 'เปลี่ยนแปลงข้อมูลเรียบร้อย', 'success')
            this.dialogUpdate = false
          })
        })
    },
    onDelectFinance (item) {
      this.$swal({
        title: 'คุณต้องลบรายการนี้ไหม',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#b3b1ab',
        confirmButtonText: 'เปลี่ยนแปลง',
        cancelButtonText: 'ยกเลิก'
      })
        .then(async (result) => {
          const url1 = `${this.DNS_IP}v1/Insurance/Insurance/deleteFinanceName`
          let config1 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt1 = {
            id: item.id,
            lastUser: this.$session.getAll().data.User_NM
          }
          await axios.post(url1, dt1, config1).then(async response => {
            this.getFinanceData()
            this.$swal('เรียบร้อย', 'เปลี่ยนแปลงข้อมูลเรียบร้อย', 'success')
          })
        })
    },
    onInsertFinanceName () {
      this.$swal({
        title: 'คุณต้องเพิ่มรายการนี้ไหม',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#b3b1ab',
        confirmButtonText: 'เพิ่ม',
        cancelButtonText: 'ยกเลิก'
      })
        .then(async (result) => {
          const url1 = `${this.DNS_IP}v1/Insurance/Insurance/insertFinanceName`
          let config1 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt1 = {
            financeName: this.formInsertFinance.financeName,
            createUser: this.$session.getAll().data.User_NM,
            lastUser: this.$session.getAll().data.User_NM
          }
          await axios.post(url1, dt1, config1).then(async response => {
            this.getFinanceData()
            this.$swal('เรียบร้อย', 'เพิ่มข้อมูลเรียบร้อย', 'success')
            this.dialogInsert = false
          })
        })
    },
    getInsData () {
      this.dessertsIns = []
      const url = `${this.DNS_IP}v1/Insurance/Insurance/getDataInsuranceName`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs.length > 0) {
          this.dessertsIns = rs
        }
      })
    },
    onInsertIns () {
      this.$swal({
        title: 'คุณต้องเพิ่มรายการนี้ไหม',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#b3b1ab',
        confirmButtonText: 'เพิ่ม',
        cancelButtonText: 'ยกเลิก'
      })
        .then(async (result) => {
          const url1 = `${this.DNS_IP}v1/Insurance/Insurance/insertInsuranceName`
          let config1 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt1 = {
            insuranceName: this.formInsertIns.insuranceName,
            lastUser: this.$session.getAll().data.User_NM,
            createUser: this.$session.getAll().data.User_NM
          }
          await axios.post(url1, dt1, config1).then(async response => {
            this.getInsData()
            this.$swal('เรียบร้อย', 'เพิ่มข้อมูลเรียบร้อย', 'success')
            this.dialogInsertIns = false
            this.formInsertIns.insuranceName = ''
          })
        })
    },
    setDataUpdateIns (item) {
      this.formUpdateIns.insuranceName = item.insuranceName
      this.formUpdateIns.id = item.id
      this.dialogUpdateIns = true
    },
    onUpdateIns () {
      this.$swal({
        title: 'บันทึกสำเร็จ คุณต้องเปลี่ยนแปลง รายการนี้ไหม',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#b3b1ab',
        confirmButtonText: 'เปลี่ยนแปลง',
        cancelButtonText: 'ยกเลิก'
      })
        .then(async (result) => {
          const url1 = `${this.DNS_IP}v1/Insurance/Insurance/updateInsuranceName`
          let config1 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt1 = {
            insuranceName: this.formUpdateIns.insuranceName,
            id: this.formUpdateIns.id,
            lastUser: this.$session.getAll().data.User_NM
          }
          await axios.post(url1, dt1, config1).then(async response => {
            this.getInsData()
            this.$swal('เรียบร้อย', 'เปลี่ยนแปลงข้อมูลเรียบร้อย', 'success')
            this.dialogUpdateIns = false
          })
        })
    },
    onDelectInsurance (item) {
      this.$swal({
        title: 'คุณต้องการลบรายการนี้ไหม',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#b3b1ab',
        confirmButtonText: 'เปลี่ยนแปลง',
        cancelButtonText: 'ยกเลิก'
      })
        .then(async (result) => {
          const url1 = `${this.DNS_IP}v1/Insurance/Insurance/deleteInsuranceName`
          let config1 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt1 = {
            id: item.id,
            lastUser: this.$session.getAll().data.User_NM
          }
          await axios.post(url1, dt1, config1).then(async response => {
            this.getInsData()
            this.$swal('เรียบร้อย', 'เปลี่ยนแปลงข้อมูลเรียบร้อย', 'success')
          })
        })
    }
  }
}
</script>
