<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="12">
                    <b>Re Noti Prospective Import Excel</b>
                  </v-col>
                </v-row>
                <v-card>
                <v-card-text>
                  <div class="text-center">
                    <v-row class="mb-6" justify="center" no-gutters>
                      <v-col cols="12">
                        <v-icon color="blue darken-2" size="70"
                          >mdi-microsoft-excel</v-icon
                        ><br />
                        <br />
                        <vue-xlsx-table @on-select-file="handleSelectedFile" v-if="items.length == 0">Import Excel</vue-xlsx-table>
                      </v-col>
                    </v-row>
                  </div>
                  <div class="text-center">
                  <v-row class="mb-6" justify="center" no-gutters>
                    <v-col cols="6">
                      <v-chip
                        class="ma-2"
                        color="warning"
                        label
                        text-color="white"
                        v-if="items.length == 0"
                      >
                        <v-icon left> mdi-alert-outline </v-icon>
                        Import File Warning
                      </v-chip>
                      <v-chip
                        class="ma-2"
                        color="success"
                        label
                        text-color="white"
                        v-if="items.length > 0"
                      >
                        <v-icon left> mdi-checkbox-multiple-marked </v-icon>
                        Import File HIP Success
                      </v-chip>
                    </v-col>
                  </v-row>
                  </div>
                </v-card-text>
                </v-card>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
              <template v-if="dataReady">
                  <v-row class="text-right">
                    <v-col cols="12">
                      <v-btn
                          color="warning"
                          depressed
                          dark
                          v-if="dataSearhcReadyTable"
                          @click.prevent="reloadPage()"
                          >
                          <v-icon left> mdi-autorenew </v-icon>
                          เริ่มหน้าใหม่
                      </v-btn>
                      <v-btn
                          color="indigo"
                          depressed
                          dark
                          v-if="dataSearhcReadyTable"
                          @click.prevent="onSubmit()"
                          >
                          <v-icon left> mdi-content-save-edit </v-icon>
                          บันทึกข้อมูล
                      </v-btn>
                      <!-- <v-btn
                          color="teal"
                          depressed
                          dark
                          v-if="dataSearhcReadyTable"
                          @click.prevent="onExport()"
                          >
                          <v-icon left> mdi-file-excel </v-icon>
                          Export Excel
                      </v-btn> -->
                    </v-col>
                  </v-row>
                  <div class="row text-center" v-if="!dataSearhcReadyTable && !dataReady">
                    <div class="col-12">
                      <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                        <br>
                        <br>
                        <v-alert
                          dense
                          border="left"
                          type="warning"
                        >
                          กรุณา <strong>รอสักครู่ นะครับ</strong>
                        </v-alert>
                    </div>
                  </div>
                  <div class="row text-center" v-if="datareportSubmit.length > 0">
                    <div class="col-5">
                      <v-icon color="red darken-2" size="50"
                        >mdi-book-cancel</v-icon
                      ><br />
                      ไม่มี VLink
                      <br />
                      <v-alert dense border="left" type="error">
                        จำนวน : {{ dataNo }}
                      </v-alert>
                    </div>
                    <div class="col-2">
                      <v-divider vertical></v-divider>
                    </div>
                       <div class="col-5">
                      <v-icon color="deep-purple darken-2" size="50"
                        >mdi-arrow-expand-all</v-icon
                      ><br />
                      มี VLink
                      <br />
                      <v-alert dark dense border="left" color="deep-purple darken-2">
                        จำนวน : {{ dataYes }}
                      </v-alert>
                    </div>
                  </div>
                  <div class="row" v-if="datareportSubmit.length">
                    <div class="col-12">
                      <v-data-table
                          dense
                          :headers="columns"
                          :items="datareportSubmit"
                          v-if="dataSearhcReadyTable"
                          item-key="name"
                          class="elevation-1"
                          :items-per-page="100"
                        ></v-data-table>
                    </div>
                  </div>
                  <div class="row" v-if="items.length">
                    <div class="col-12">
                      <v-data-table
                          dense
                          :headers="columns"
                          :items="items"
                          v-if="dataSearhcReadyTable"
                          item-key="name"
                          class="elevation-1"
                          :items-per-page="100"
                        ></v-data-table>
                    </div>
                  </div>
                  </template>
                   <template v-if="!dataReady">
                     <div class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                        </div>
                      <br>
                      <div class="text-center">
                        <v-progress-linear
                          v-model="knowledge"
                          height="25"
                        >
                          <strong>{{ Math.ceil(knowledge) }}%</strong>
                        </v-progress-linear>
                        <!-- <b-progress :max="max">
                          <b-progress-bar :value="value" :label="`${((value / max) * 100).toFixed(2)}%`" show-progress animated></b-progress-bar>
                        </b-progress> -->
                      </div>
                   </template>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
    </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import 'vue2-datepicker/locale/th'
export default {
  components: {
    DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
    // countMeetState () {
    //   return this.form.countMeet.length > 0
    // },
  },
  data () {
    return {
      session: this.$session.getAll(),
      items: [],
      dataNo: 0,
      dataYes: 0,
      value: 0,
      max: 0,
      columns: [],
      columns1: [
        { text: 'สาขา', value: 'branchNO' },
        { text: 'ชื่อเซลล์', value: 'salesNames' },
        { text: 'วันที่เริ่ม', value: 'dateProtec1' },
        { text: 'วันที่หมดอายุ', value: 'dateInsMatured' },
        { text: 'เลขที่กรมธรรม์', value: 'insNo' },
        { text: 'บริษัทประกัน', value: 'insNM' },
        { text: 'รุ่นรถยนต์', value: 'carName' },
        { text: 'ชื่อลูกค้า', value: 'customerName' }
      ],
      columns2: [
        { text: 'สาขา', value: 'branchNO' },
        { text: 'ชื่อเซลล์', value: 'salesNames' },
        { text: 'วันที่เริ่ม', value: 'dateProtec1' },
        { text: 'วันที่หมดอายุ', value: 'dateInsMatured' },
        { text: 'เลขที่กรมธรรม์', value: 'insNo' },
        { text: 'บริษัทประกัน', value: 'insNM' },
        { text: 'รุ่นรถยนต์', value: 'carName' },
        { text: 'ชื่อลูกค้า', value: 'customerName' },
        { text: 'มี Vlink ไหม', value: 'statusLink' },
        { text: 'Line UserId', value: 'userLineId' }
      ],
      datareport: [],
      datareportSubmit: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      dateTime: '',
      knowledge: 0,
      dataSalesIns: [],
      dataSalesInsRe: [],
      dataListSale: [],
      dataListIns: []
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/Insurance/Login')
    } else {
      await this.getNow()
      // await this.getSalesIns()
    }
  },
  methods: {
    async getDataDefault () {
      this.dataListSale = []
      this.dataListIns = []
      const urlSales = `${this.$apiUrl}Insurance/Insurance/getDataSalesIns`
      const urlNew = `${this.$apiUrl}Insurance/Insurance/getDataSalesInsNew`
      // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
      const configSales = {
        headers: {
          'Application-Key': this.$apiToken
        }
      }
      await axios
        .get(urlSales, configSales)
        .then(async (responseSales) => {
          let rsSales = responseSales.data
          if (rsSales === 'ไม่มีข้อมูล') {
            this.dataListSale = []
          } else {
            this.dataListSale = rsSales
            await axios.get(urlNew, configSales).then(async responses => {
              let rsNew = responses.data
              if (rsNew === 'ไม่มีข้อมูล') {
                this.dataListSale = []
              } else {
                for (let i = 0; i < rsNew.length; i++) {
                  let d = rsNew[i]
                  this.dataListSale.push(d)
                }
              }
            })
          }
        })

      const url1 = `${this.$apiUrl}Insurance/Insurance/getDataInsNm`
      let config1 = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      await axios.get(url1, config1).then(async response => {
        let rs = response.data
        if (response.data.data !== 'ไม่มีข้อมูล') {
          this.dataListIns = rs
        } else {
          this.dataListIns = []
        }
        // }
      })
    },
    reloadPage () {
      location.reload()
    },
    handleSelectedFile (convertedData) {
      console.log(convertedData.body)
      var dataImport = convertedData.body
      this.dataReady = false
      var obj = {}

      for (var i = 0, len = dataImport.length; i < len; i++) { obj[dataImport[i]['หมายเลขตัวถัง']] = dataImport[i] }

      // eslint-disable-next-line no-array-constructor
      dataImport = new Array()
      for (var key in obj) { dataImport.push(obj[key]) }
      this.chkAndUpdate(dataImport)
    },
    getNow () {
      const today = new Date()
      // console.log(today)
      const date =
        today.getFullYear() +
        '' +
        (today.getMonth() + 1) +
        '' +
        today.getDate()
      const time =
        today.getHours() + '' + today.getMinutes() + '' + today.getSeconds()
      const dateTime = date + '' + time
      this.dateTime = dateTime
      // console.log(this.dateTime)
      // this.formUpdate.prospectiveCode = dateTime
    },
    async chkAndUpdate (dataImport) {
      await this.getDataDefault()
      this.salesNmUse = []
      this.dataSearhcReadyTable = false
      this.knowledge = 0
      this.columns = this.columns1
      // var salesNm = this.dataSalesIns
      this.items = []
      for (var i = 0; i < dataImport.length; i++) {
        var d = dataImport[i]
        var s = {}
        s.dateProtec2DD = d.วันที่เริ่มต้น.substring(0, 2)
        s.dateProtec2MM = d.วันที่เริ่มต้น.substring(3, 5)
        s.dateProtec2YY = d.วันที่เริ่มต้น.substring(6)
        s.yearNext = parseInt(s.dateProtec2YY)
        s.yearNext1 = parseInt(s.yearNext) + 1
        s.dateProtec1 = s.yearNext + '-' + s.dateProtec2MM + '-' + s.dateProtec2DD
        s.dateProtec2 = s.yearNext + '-' + s.dateProtec2MM + '-' + s.dateProtec2DD
        s.dateInsMatured = s.yearNext1 + '-' + s.dateProtec2MM + '-' + s.dateProtec2DD
        s.branchNO = d.branchNO
        s.carBrand = d.carBrand
        s.carModel = d.carModel
        s.carName = d.carName
        s.carYear = d.carYear
        s.insNo = d.กรมธรรม์เลขที่
        s.regNo = d.ทะเบียนรถ
        s.regProvince = d.จังหวัดที่จดทะเบียน
        s.customerName = d.ชื่อลูกค้า
        s.address = d.ที่อยู่
        s.typeProtec = d.ประเภทคุ้มครอง
        s.typeRepair = d.ซ่อมศูนย์อู่
        s.insCapital = d.ทุนประกัน
        s.insPremium = d.เบี้ยใหม่
        s.insAct = d.พรบ
        s.frameNo = d.หมายเลขตัวถัง
        s.discountGood = d.ส่วนลดประวัติดี
        s.salesNames = d.salesNm
        s.insDeductible = d.ส่วนแรก
        var insCapital = '0'
        var insPremium = '0'
        var insAct = '0'
        var discountGood = '0'
        if (s.insCapital === null || s.insCapital === '') {
          insCapital = '0'
        } else {
          insCapital = s.insCapital.replace(/,/g, '')
        }
        if (s.insPremium === null || s.insPremium === '') {
          insPremium = '0'
        } else {
          insPremium = s.insPremium.replace(/,/g, '')
        }
        if (s.insAct === null || s.insAct === '') {
          insAct = '0'
        } else {
          insAct = s.insAct.replace(/,/g, '')
        }
        if (s.discountGood === null || s.discountGood === '') {
          discountGood = '0'
        } else {
          discountGood = s.discountGood.replace(/,/g, '')
        }
        s.insCapital = insCapital
        s.insPremium = insPremium
        s.insAct = insAct
        s.discountGood = discountGood
        s.typeInsurance = d.ประเภทประกันภัย
        const url3 = `${this.$apiUrl}Insurance/Insurance/getDataInsurance`
        let config3 = {
          headers: {
            'Content-Type': 'application/json',
            'Application-Key': this.$apiToken
          },
          params: {
            frameNo: s.frameNo
          }
        }
        await axios
          .get(url3, config3)
          .then(async (response) => {
            var insD = response.data[0]
            s.tel1 = insD.tel1
            s.tel2 = insD.tel2
            s.tel3 = insD.tel3
            s.customerNo = insD.customerNo
            // s.typeInsurance = insD.typeInsurance
            // s.salesNames = insD.staffIns
            s.ADDRESS_DETAILS = insD.details
            s.ADDRESS_TOWNCITY = insD.towncity
            s.ADDRESS_DISTRICT = insD.district
            s.ADDRESS_PROVINCE = insD.provinve
            s.ZIP_CD = insD.postalCode
            if (s.regNo === '' || s.regNo === null) {
              s.regNo = insD.regNo
            }
          })
        // const urlUserId = `http://localhost:81/Api/vgroupl_api/v1/Insurance/Insurance/getLineUserId`
        const urlUserId = `${this.$apiUrl}Insurance/Insurance/getLineUserId`
        // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
        const configUserId = {
          headers: {
            'Application-Key': this.$apiToken
          },
          params: {
            Frame_No: s.frameNo
          }
        }
        await axios
          .get(urlUserId, configUserId)
          .then(async (responseUserId) => {
            let rsUserId = responseUserId.data
            if (rsUserId === 'ไม่มีข้อมูล') {
              s.userLineId = 'ไม่มีข้อมูล'
            } else {
              s.userLineId = rsUserId[0].userId
            }
          })
        let rsSales = this.dataListSale.filter(el => { return el.salesName === s.salesNames })
        if (rsSales.length === 0) {
          s.salesTel = ''
        } else {
          s.salesTel = rsSales[0].tel
        }
        let rs = this.dataListIns.filter(el => { return el.insuranceID === d.บริษัท })
        if (rs.length === 0) {
          s.insNM = d.บริษัท
        } else {
          s.insNM = rs[0].company_NM
        }
        this.knowledge = (i / dataImport.length) * 100
        console.log(s)
        this.items.push(s)
      }

      if (this.items.length > 0) {
        // this.salesNmUse = salesNm
        console.log(this.items)
        // this.getListData()
        this.dataReady = true
        this.dataSearhcReadyTable = true
      // this.$swal('เรียบร้อย', 'บันทึกข้อมูลสำเร็จ', 'success')
      } else {
        this.dataReady = true
        this.dataSearhcReadyTable = false
        this.$swal('Error', 'มีข้อมูล Frame No. อยู่แล้ว', 'error')
      }
    },
    async onSubmit () {
      console.log(this.items)
      this.$swal({
        title: 'ตรวจสอบก่อนเพิ่มข้อมูล',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการเพิ่มหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'เพิ่มข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      })
        .then(async (result) => {
          this.dataReady = false
          this.dataSubmit = false
          this.knowledge1 = 0
          this.knowledge = 0
          this.dataNo = 0
          this.dataYes = 0
          this.datareportSubmit = []
          // this.items = []
          let rs = this.items
          this.columns = this.columns2
          for (let i = 0; i < rs.length; i++) {
            var d = rs[i]
            if (d.userLineId !== 'ไม่มีข้อมูล') {
              const url = `${this.$apiUrl}Insurance/Insurance/pushLineVlink`
              let config = {
                headers: {
                  'Content-Type': 'application/json',
                  'Application-Key': this.$apiToken
                }
              }
              let dt = {
                'typeProtec': d.typeProtec,
                'userLineId': d.userLineId,
                'customerName': d.customerName,
                'regNo': d.regNo,
                'dateProtec1': moment(String(d.dateProtec1)).format('DD/MM/YYYY'),
                'insCapital': (parseFloat(d.insCapital)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','),
                'insPremiumSumAct': (parseFloat(d.insPremium.replace(/,/g, '')) + parseFloat(d.insAct.replace(/,/g, ''))).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','),
                'insNM': d.insNM,
                'salesTel': d.salesTel,
                'salesNames': d.salesNames
              }
              await axios.post(url, dt, config).then((response) => {
                d.statusLink = 'มี'
                this.datareportSubmit.push(d)
                // this.items.push(d)
                this.dataYes = this.dataYes + 1
              })
            } else {
              d.statusLink = 'ไม่มี'
              this.datareportSubmit.push(d)
              this.dataNo = this.dataNo + 1
            }
          }
          this.$swal('เรียบร้อย', 'บันทึกสำเร็จ', 'success')
          this.dataSearhcReadyTable = true
          this.items = []
          this.salesNmUse = []
          this.dataSalesIns = []
          this.dataSalesInsRe = []
          this.dataSearhcReady = true
          // this.dataSearhcReadyTable = false
          this.dataSubmit = false
          this.dataReady = true
        })
    },
    onExport () {
      this.$swal({
        title: 'ส่งออกข้อมูล',
        text: 'ท่านต้องการ ส่งออกข้อมูล หรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'ส่งออกข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      })
        .then((result) => {
          const dataWS = XLSX.utils.json_to_sheet(this.datareport)
          const wb = XLSX.utils.book_new()
          XLSX.utils.book_append_sheet(wb, dataWS)
          XLSX.writeFile(wb, 'ReportNewCar.xlsx')
        })
    }
  }
}
</script>
<style>
  table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
