<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="3">
                    <b>Report Process</b>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3">
                <v-btn
                    color="teal"
                    depressed
                    dark
                    v-if="dataSearhcReadyTable"
                    @click.prevent="onExport()"
                    >
                    <v-icon left> mdi-file-excel </v-icon>
                    Export Excel
                </v-btn>
                  </v-col>
                </v-row>
                <v-expansion-panels focusable v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <form v-if="dataSearhcReady">
                        <v-row>
                          <v-col cols="3">
                            <v-select
                              label="เลือกสาขา"
                              outlined
                              :items="optionsbranchNo"
                              v-model="formSearch.branchNo"
                              dense
                            ></v-select>
                          </v-col>
                          <!-- <v-col cols="3">
                            <v-select
                              label="รุ่นรถยนต์"
                              :items="optionCarotherModelHONDA"
                              v-model="formSearch.carName"
                              dense
                            ></v-select>
                          </v-col> -->
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.customerName"
                              label="ชื่อลูกค้า"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.regNo"
                              label="ทะเบียนรถ"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.frameNo"
                              label="หมายเลขตัวถัง"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="3">
                            <v-select
                              label="ประเภทวันที่"
                              :items="optiontTpeDate"
                              v-model="formSearch.typeDate"
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="3" v-if="formSearch.typeDate !== ''">
                            <v-menu
                              v-model="menuSearch1"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.monthYear"
                                  prepend-icon="mdi-calendar"
                                  label="เดือน/ปี"
                                  v-bind="attrs"
                                  outlined
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.monthYear"
                                @input="menuSearch1 = false"
                                type="month"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col cols="6" v-if="session.data.GroupS !== 'Sale Insurance'">
                            <!-- <v-select
                              label="ชื่อพนักงานขายประกัน"
                              outlined
                              :items="optionStaffInsuranceName"
                              v-model="formSearch.insStaffName"
                              dense
                            ></v-select> -->
                            <v-select
                              v-model="formSearch.insStaffName"
                              :items="optionStaffInsuranceName"
                              label="ชื่อพนักงานขายประกัน"
                              multiple
                              outlined
                              chips
                              persistent-hint
                              dense
                            ></v-select>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="4">
                            <v-select
                              label="ประเภทงาน"
                              :items="optionsTypeWork"
                              v-model="formSearch.typeWork"
                              multiple
                              outlined
                              chips
                              persistent-hint
                              dense
                            ></v-select>
                          </v-col>
                        </v-row>
                        <v-row class="text-right">
                          <v-col cols="12">
                            <v-btn
                              color="warning"
                              depressed
                              @click.prevent="onSearch()"
                            >
                              <v-icon left> search </v-icon>
                              ค้นหา
                            </v-btn>
                            <v-btn
                              color="error"
                              depressed
                              @click.prevent="onClearSearch()"
                            >
                              <v-icon left> settings_backup_restore </v-icon>
                              Clear
                            </v-btn>
                          </v-col>
                        </v-row>
                      </form>
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" v-if="dataSearhcReadyTable">
            <v-card elevation="7">
                <v-card-text>
                <v-data-table
                  :headers="columnsUse"
                  :items="datareport"
                  :items-per-page="100"
                >
                <template v-slot:top="{ pagination, options, updateOptions }">
                  <v-data-footer
                    :pagination="pagination"
                    :options="options"
                    @update:options="updateOptions"
                    items-per-page-text="$vuetify.dataTable.itemsPerPageText"/>
                </template>
                <template v-slot:[`item.accessories2`]="{ item }">
                    <template v-if="item.accessories2 === '0112'">
                      สาขาแจ้งวัฒนะ
                    </template>
                    <template v-if="item.accessories2 === '0113'">
                      สาขาหนองแขม
                    </template>
                    <template v-if="item.accessories2 === '0115'">
                      สาขาบางกอกน้อย
                    </template>
                    <template v-if="item.accessories2 === '0116'">
                      สาขาปากเกร็ด - เมืองทอง
                    </template>
                    <template v-if="item.accessories2 === '333'">
                      สำนักงานใหญ่
                    </template>
                    <template v-if="item.accessories2 === 'ยังไม่ส่งกรมธรรม์'">
                      ยังไม่ส่งกรมธรรม์
                    </template>
                    <template v-if="item.accessories2 === 'กรมธรรม์ยังไม่มา'">
                      กรมธรรม์ยังไม่มา
                    </template>
                    <template v-if="item.accessories2 === 'ส่งคืนประกัน'">
                      ส่งคืนประกัน
                    </template>
                    <template v-if="item.accessories2 === 'ส่งตาม EMS'">
                      ส่งตาม EMS
                    </template>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      expanded: [],
      panel: [0],
      menuSearch1: false,
      menuSearch2: false,
      menu1: false,
      rules: [
        (value) => !!value || 'Required.',
        (value) => (value && value.length >= 0) || 'Min 1 characters'
      ],
      session: this.$session.getAll(),
      dataSearhcReady: true,
      chkSearch: true,
      optionStaffInsuranceName: [],
      columnsUse: [],
      readonly: true,
      visible: false,
      formSearch: {
        branchNo: '',
        monthYear: '',
        carName: '',
        frameNo: '',
        regNo: '',
        insNm: '',
        insNo: '',
        customerName: '',
        insStaffName: [],
        typeDate: '',
        typeWork: ''
      },
      optionsTypeWork: [
        // { text: 'ทั้งหมด', value: 'ทั้งหมด' },
        { text: 'New Car', value: 'New Car' },
        // { text: 'Code4', value: 'Code4' },
        // { text: 'History', value: 'History' },
        { text: 'Import Excel', value: 'Import Excel' },
        { text: 'Create New', value: 'Create New' }
      ],
      optiontTpeDate: [
        { text: 'วันแจ้งประกัน', value: 'วันแจ้งประกัน' },
        { text: 'วันคุ้มครอง', value: 'วันคุ้มครอง' },
        { text: 'วันที่ใบเตือน', value: 'วันที่ใบเตือน' },
        { text: 'วันที่รับกรมธรรม์', value: 'วันที่รับกรมธรรม์' }
      ],
      columns1: [
        { text: 'สาขา', value: 'branchNo' },
        { text: 'active', value: 'active' },
        { text: 'วันแจ้งประกัน', value: 'dateInsNoti' },
        { text: 'วันเริ่มคุ้มครอง', value: 'dateProtec1' },
        { text: 'บริษัทประกัน', value: 'insName' },
        { text: 'ที่ปรึกษาการขาย', value: 'staffIns' },
        { text: 'ชื่อลูกค้า', value: 'customerName' },
        { text: 'หมายเลขตัวถัง', value: 'frameNo' },
        { text: 'รุ่นรถยนต์', value: 'carName' },
        { text: 'ทะเบียน', value: 'regNo' },
        { text: 'ปีรถยนต์', value: 'carYear' },
        { text: 'ชื่อ Admin', value: 'nameAdmin' },
        { text: 'ประเภทการจัดส่ง', value: 'accessories2' },
        { text: 'เลขที่ใบเสร็จ', value: 'vo_num' },
        { text: 'วันที่ใบเสร็จ', value: 'vo_date' },
        { text: 'ประเภทงาน', value: 'typeWork' },
        { text: 'ฐานข้อมูลลูกค้า', value: 'customerReferral' }
      ],
      columns2: [
        { text: 'สาขา', value: 'branchNo' },
        { text: 'active', value: 'active' },
        { text: 'วันเริ่มคุ้มครอง', value: 'dateProtec1' },
        { text: 'บริษัทประกัน', value: 'insName' },
        { text: 'ที่ปรึกษาการขาย', value: 'staffIns' },
        { text: 'ชื่อลูกค้า', value: 'customerName' },
        { text: 'หมายเลขตัวถัง', value: 'frameNo' },
        { text: 'รุ่นรถยนต์', value: 'carName' },
        { text: 'ทะเบียน', value: 'regNo' },
        { text: 'ปีรถยนต์', value: 'carYear' },
        { text: 'ชื่อ Admin', value: 'nameAdmin' },
        { text: 'ประเภทการจัดส่ง', value: 'accessories2' },
        { text: 'เลขที่ใบเสร็จ', value: 'vo_num' },
        { text: 'วันที่ใบเสร็จ', value: 'vo_date' },
        { text: 'ประเภทงาน', value: 'typeWork' },
        { text: 'ฐานข้อมูลลูกค้า', value: 'customerReferral' }
      ],
      columns3: [
        { text: 'สาขา', value: 'branchNo' },
        { text: 'active', value: 'active' },
        { text: 'วันที่ใบเตือน', value: 'dateWarning' },
        { text: 'วันเริ่มคุ้มครอง', value: 'dateProtec1' },
        { text: 'บริษัทประกัน', value: 'insName' },
        { text: 'ที่ปรึกษาการขาย', value: 'staffIns' },
        { text: 'ชื่อลูกค้า', value: 'customerName' },
        { text: 'หมายเลขตัวถัง', value: 'frameNo' },
        { text: 'รุ่นรถยนต์', value: 'carName' },
        { text: 'ทะเบียน', value: 'regNo' },
        { text: 'ปีรถยนต์', value: 'carYear' },
        { text: 'ชื่อ Admin', value: 'nameAdmin' },
        { text: 'ประเภทการจัดส่ง', value: 'accessories2' },
        { text: 'เลขที่ใบเสร็จ', value: 'vo_num' },
        { text: 'วันที่ใบเสร็จ', value: 'vo_date' },
        { text: 'ประเภทงาน', value: 'typeWork' },
        { text: 'ฐานข้อมูลลูกค้า', value: 'customerReferral' }
      ],
      columns4: [
        { text: 'สาขา', value: 'branchNo' },
        { text: 'active', value: 'active' },
        { text: 'วันที่รับกรมธรรม์', value: 'dateGetPolicy' },
        { text: 'วันเริ่มคุ้มครอง', value: 'dateProtec1' },
        { text: 'บริษัทประกัน', value: 'insName' },
        { text: 'ที่ปรึกษาการขาย', value: 'staffIns' },
        { text: 'ชื่อลูกค้า', value: 'customerName' },
        { text: 'หมายเลขตัวถัง', value: 'frameNo' },
        { text: 'รุ่นรถยนต์', value: 'carName' },
        { text: 'ทะเบียน', value: 'regNo' },
        { text: 'ปีรถยนต์', value: 'carYear' },
        { text: 'ชื่อ Admin', value: 'nameAdmin' },
        { text: 'ประเภทการจัดส่ง', value: 'accessories2' },
        { text: 'เลขที่ใบเสร็จ', value: 'vo_num' },
        { text: 'วันที่ใบเสร็จ', value: 'vo_date' },
        { text: 'ประเภทงาน', value: 'typeWork' },
        { text: 'ฐานข้อมูลลูกค้า', value: 'customerReferral' }
      ],
      // columns: [
      //   { text: 'สาขา', value: 'BR' },
      //   { text: 'DocHead', value: 'DocHead' },
      //   { text: 'InvoiceNo', value: 'vo_num' },
      //   { text: 'Invoice Date', value: 'Inv_DATE' },
      //   { text: 'หมายเลขตัวถัง', value: 'serial_num' },
      //   { text: 'model_desc', value: 'model_desc' },
      //   { text: 'ชื่อลูกค้า', value: 'Customer_NAME' },
      //   { text: 'Bill_Description', value: 'Bill_Description' },
      //   { text: 'Vender', value: 'Vender' },
      //   { text: 'NetPrem', value: 'NetPrem' },
      //   { text: 'Disc_AMT', value: 'Disc_AMT' },
      //   { text: 'dn_amt', value: 'dn_amt' },
      //   { text: 'RCV_Type_Description', value: 'RCV_Type_Description' },
      //   { text: 'SaleStaff', value: 'SaleStaff' },
      //   { text: 'LinkDisc', value: 'LinkDisc' }
      // ],
      datareport: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      checksubmit: true,
      datareportHistory: [],
      dataHistory: false,
      chkbutton: '',
      dateTime: ''
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/Insurance/Login')
    } else {
    //   await this.getData()
      await this.getStaffInsNmData()
      this.chkColumn()
    }
  },
  methods: {
    chkColumn () {
      this.columnsUse = []
      if (this.formSearch.typeDate === 'วันแจ้งประกัน') {
        this.columnsUse = this.columns1
      }
      if (this.formSearch.typeDate === 'วันคุ้มครอง' || this.formSearch.typeDate === '') {
        this.columnsUse = this.columns2
      }
      if (this.formSearch.typeDate === 'วันที่ใบเตือน') {
        this.columnsUse = this.columns3
      }
      if (this.formSearch.typeDate === 'วันที่รับกรมธรรม์') {
        this.columnsUse = this.columns4
      }
    },
    async getStaffInsNmData () {
      this.optionStaffInsuranceName = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataSalesIns`
      const urlNew = `${this.$apiUrl}Insurance/Insurance/getDataSalesInsNew`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      await axios.get(url, config).then(async response => {
        let rs = response.data
        if (rs !== 'ไม่มีข้อมูล') {
          for (let i = 0; i < rs.length; i++) {
            let d = rs[i]
            d.text = d.salesName
            d.value = d.salesName
            this.optionStaffInsuranceName.push(d)
          }
          await axios.get(urlNew, config).then(async responses => {
            let rsNew = responses.data
            if (rsNew !== 'ไม่มีข้อมูล') {
              for (let i = 0; i < rsNew.length; i++) {
                let d = rsNew[i]
                d.text = d.salesName
                d.value = d.salesName
                this.optionStaffInsuranceName.push(d)
              }
            }
          })
        }
      })
    },
    async onSearch () {
      if (`${
        this.formSearch.branchNo +
          this.formSearch.monthYear +
          this.formSearch.carName +
          this.formSearch.frameNo +
          this.formSearch.regNo +
          this.formSearch.insNm +
          this.formSearch.insNo +
          this.formSearch.customerName +
          this.formSearch.insStaffName +
          this.formSearch.active +
          this.formSearch.typeWork
      }` !== '') {
        let countyear = ''
        let monthStr = ''
        let useMouth1 = ''
        let useMouth2 = ''
        let useMouth3 = ''
        let useMouth4 = ''
        let dataStaffNm = []
        let rs1 = this.formSearch.typeWork
        var typeWork = []
        for (let i = 0; i < rs1.length; i++) {
          let d = rs1[i]
          let s = {}
          s = "'" + d + "'"
          typeWork.push(s)
        // dataIDS.push(d)
        }
        var typeWorkUse = typeWork.map(function (typeWork) {
          return typeWork
        })
        if (this.session.data.GroupS === 'Sale Insurance') {
          dataStaffNm.push(this.session.data.Name + ' ' + this.session.data.Surname)
        }
        if (this.session.data.GroupS === 'Back Office IT' || this.session.data.GroupS === 'Back Office S/Insurance') {
          dataStaffNm = this.formSearch.insStaffName
        }
        if (this.formSearch.monthYear) {
          var startdatetime = new Date(this.formSearch.monthYear).getTime()
          const startDate = new Date(startdatetime)
          const dateLocal = startDate.toLocaleString('th-TH', {
            timeZone: 'Asia/Bangkok',
            hour12: false
          })
          const dateSplit = dateLocal.split(' ')
          const date = dateSplit[0].split('/')
          const year = String(date[2])
          const month = String(date[1])
          countyear = parseInt(year) - 543
          const countmonth = parseInt(month) + 100
          monthStr = String(countmonth).substring(1, 3)
          if (this.formSearch.typeDate === 'วันแจ้งประกัน') {
            useMouth1 = countyear + '-' + monthStr
            useMouth2 = ''
            useMouth3 = ''
            useMouth4 = ''
          }
          if (this.formSearch.typeDate === 'วันคุ้มครอง') {
            useMouth1 = ''
            useMouth2 = countyear + '-' + monthStr
            useMouth3 = ''
            useMouth4 = ''
          }
          if (this.formSearch.typeDate === 'วันที่ใบเตือน') {
            useMouth1 = ''
            useMouth2 = ''
            useMouth3 = countyear + '-' + monthStr
            useMouth4 = ''
          }
          if (this.formSearch.typeDate === 'วันที่รับกรมธรรม์') {
            useMouth1 = ''
            useMouth2 = ''
            useMouth3 = ''
            useMouth4 = countyear + '-' + monthStr
          }
        } else {
          useMouth1 = ''
          useMouth2 = ''
          useMouth3 = ''
          useMouth4 = ''
        }
        this.datareport = []
        this.dataSearhcReady = false
        console.log(dataStaffNm)
        let rs = dataStaffNm
        var insNm = []
        for (var i = 0; i < rs.length; i++) {
          var d = rs[i]
          var s = {}
          s = "'" + d + "'"
          insNm.push(s)
          // dataIDS.push(d)
        }
        var userNm = insNm.map(function (insNms) {
          return insNms
        })
        const url = `https://api.betaskthai.com/vgroupl_api/GetDataINS_PROCESS.php?checkvo_num=T&salesNm=` + userNm + '&typeWork=' + typeWorkUse
        // const url = `http://localhost/vgroupl_api/GetDataINS_PROCESS.php?salesNm=` + userNm + '&typeWork=' + typeWorkUse
        const config = {
          params: {
            branchNo: this.formSearch.branchNo.trim(),
            // salesNm: this.formSearch.insStaffName,
            // staffIns: this.formSearch.insStaffName.trim(),
            customerNM: this.formSearch.customerName.trim(),
            frameNo: this.formSearch.frameNo.trim(),
            ragNo: this.formSearch.regNo.trim(),
            dataType: 'report',
            dateInsNoti: useMouth1,
            dateProtec1: useMouth2,
            dateWarning: useMouth3,
            dateGetPolicy: useMouth4
          }
        }
        await axios.get(url, config).then(async (response) => {
          let rs = response.data
          if (rs !== 'ไม่มีข้อมูล') {
            let rs = response.data
            if (this.formSearch.typeDate === 'วันแจ้งประกัน') {
              this.columnsUse = this.columns1
            }
            if (this.formSearch.typeDate === 'วันคุ้มครอง' || this.formSearch.typeDate === '') {
              this.columnsUse = this.columns2
            }
            if (this.formSearch.typeDate === 'วันที่ใบเตือน') {
              this.columnsUse = this.columns3
            }
            if (this.formSearch.typeDate === 'วันที่รับกรมธรรม์') {
              this.columnsUse = this.columns4
            }
            for (let i = 0; i < rs.length; i++) {
              let d = rs[i]
              if (d.directPayment === 'ไม่ตรง') {
                d.vo_num = 'จ่ายตรงประกัน'
                d.vo_date = d.dateDirectPayment
              } else {
                d.vo_num = d.vo_num
                d.vo_date = d.vo_date
              }
            }
            this.datareport = rs
            this.dataSearhcReady = true
            this.dataSearhcReadyTable = true
            this.panel = []
            console.log(rs)
          }
        })
        // eslint-disable-next-line handle-callback-err
          .catch((error) => {
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
            console.log(error)
            this.errored = true
            this.dataSearhcReady = true
          })
      } else {
        this.$swal('ผิดพลาด', 'กรุณาใส่ข้อมูลสักรายการ', 'error')
        this.dataSearhcReady = true
        this.dataSearhcReadyTable = false
      }
    },
    onClearSearch () {
      this.formSearch.branchNo = ''
      this.formSearch.monthYear = ''
      this.formSearch.carName = ''
      this.formSearch.frameNo = ''
      this.formSearch.regNo = ''
      this.formSearch.insNm = ''
      this.formSearch.insNo = ''
      this.formSearch.customerName = ''
      this.formSearch.searchDate = ''
      this.formSearch.insStaffName = []
      this.formSearch.typeDate = ''
    },
    onExport () {
      // let dataUse = []
      // for (let i = 0; i <= this.datareport.length; i++) {
      //   let d = this.datareport[i]
      //   console.log('onExport', d)
      //   if (d.accessories2 === undefined) {
      //     d.shippingType = ''
      //     d.accessories2 = ''
      //   } else {
      //     d.shippingType = d.accessories2
      //     d.accessories2 = d.accessories2
      //   }
      //   dataUse.push(d)
      // }
      const dataWS = XLSX.utils.json_to_sheet(this.datareport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'ReportSyspro.xlsx')
    }
  }
}
</script>
