<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="3">
                    <b>Report Com</b>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3">
                <v-btn
                    color="teal"
                    depressed
                    dark
                    v-if="dataSearhcReadyTable"
                    @click.prevent="onExport()"
                    >
                    <v-icon left> mdi-file-excel </v-icon>
                    Export Excel
                </v-btn>
                  </v-col>
                </v-row>
                <v-expansion-panels focusable v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <form v-if="dataSearhcReady">
                        <v-row>
                          <v-col cols="3">
                            <v-select
                              label="เลือกสาขา"
                              :items="optionsbranchNoOld"
                              v-model="formSearch.branchNo"
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="3">
                            <v-menu
                              v-model="menuSearch1"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.monthYear"
                                  prepend-icon="mdi-calendar"
                                  label="เดือน/ปี"
                                  v-bind="attrs"
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.monthYear"
                                @input="menuSearch1 = false"
                                type="month"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col cols="6"  v-if="session.data.GroupS !== 'Sale Insurance'">
                            <v-select
                              v-model="formSearch.insStaffName"
                              :items="optionStaffInsuranceName"
                              label="ชื่อพนักงานขายประกัน"
                              multiple
                              outlined
                              chips
                              persistent-hint
                              dense
                            ></v-select>
                          </v-col>
                        </v-row>
                        <v-row class="text-right">
                          <v-col cols="12">
                            <v-btn
                              color="warning"
                              depressed
                              @click.prevent="onSearch()"
                            >
                              <v-icon left> search </v-icon>
                              ค้นหา
                            </v-btn>
                            <v-btn
                              color="error"
                              depressed
                              @click.prevent="onClearSearch()"
                            >
                              <v-icon left> settings_backup_restore </v-icon>
                              Clear
                            </v-btn>
                          </v-col>
                        </v-row>
                      </form>
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="3">
                    <v-alert
                      color="primary"
                      dark
                      icon="mdi-animation"
                      border="left"
                      prominent
                    >
                      จำนวนทั้งหมด : {{countFull}} : {{((countFull / countFull) * 100).toFixed(2) || 0}} %
                    </v-alert>
                  </v-col>
                  <v-col cols="3">
                    <v-alert
                      color="green"
                      dark
                      icon="mdi-cash-check"
                      border="left"
                      prominent
                    >
                      ชำระแล้ว : {{countSuss}} : {{((countSuss / countFull) * 100).toFixed(2) || 0}} %
                    </v-alert>
                  </v-col>
                  <v-col cols="3">
                    <v-alert
                      color="info"
                      dark
                      icon="mdi-credit-card-check"
                      border="left"
                      prominent
                    >
                      ชำระแล้วจ่ายตรง : {{countPement}} : {{((countPement / countFull) * 100).toFixed(2) || 0}} %
                    </v-alert>
                  </v-col>
                  <v-col cols="3">
                    <v-alert
                      color="purple"
                      dark
                      icon="mdi-cash-remove"
                      border="left"
                      prominent
                    >
                      จำนวนที่เกิน 30 วัน : {{count30}} : {{((count30 / countFull) * 100).toFixed(2) || 0}} %
                    </v-alert>
                  </v-col>
                </v-row>
                <v-row justify="center" no-gutters>
                  <v-col cols="3">
                    <v-alert
                      color="red"
                      dark
                      icon="mdi-cash-plus"
                      border="left"
                      prominent
                    >
                      จำนวนที่ยังไม่ครบ 30 วัน : {{count29}} : {{((count29 / countFull) * 100).toFixed(2) || 0}} %
                    </v-alert>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" v-if="dataSearhcReadyTable">
            <v-card elevation="7">
                <v-card-text>
                <v-data-table
                  :headers="columnsUse"
                  :items="datareport"
                  :items-per-page="100"
                  :item-class= "getColor"
                >
                <template v-slot:top="{ pagination, options, updateOptions }">
                  <v-data-footer
                    :pagination="pagination"
                    :options="options"
                    @update:options="updateOptions"
                    items-per-page-text="$vuetify.dataTable.itemsPerPageText"/>
                </template>
                <template v-slot:[`item.action`]="{ item }">
                    <v-btn
                      color="warning"
                      fab
                      small
                      @click.stop="setDataReceipt(item)"
                    >
                      <v-icon dark> mdi-tools </v-icon>
                    </v-btn>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
            <v-dialog width="500" v-model="dialogStatus1" persistent>
                  <v-card>
                    <v-card-title>
                      <span class="headline">อัพเดทสถานะ รอออกใบเสร็จ</span>
                    </v-card-title>
                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12">
                            <v-select
                              label="อัลติเมท แคร์"
                              :items="optionReceiptStatus"
                              v-model="formReceipt.receiptStatus"
                              dense
                            ></v-select>
                          </v-col>
                          <v-col col="12">
                            <v-menu
                              v-model="menu2"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template
                                v-slot:activator="{ on, attrs }"
                              >
                                <v-text-field
                                  v-model="formReceipt.receiptDate"
                                  prepend-icon="mdi-calendar"
                                  label="วันที่ แจ้งประกัน"
                                  dense
                                  v-bind="attrs"
                                  outlined
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formReceipt.receiptDate"
                                @input="menu2 = false"
                              >
                                <v-spacer></v-spacer>
                                <v-btn
                                  dense
                                  color="primary"
                                  @click="
                                    (formReceipt.receiptDate = new Date()
                                      .toISOString()
                                      .substr(0, 10)),
                                      (menu2 = false)
                                  "
                                >
                                  วันที่ปัจจุบัน
                                </v-btn>
                              </v-date-picker>
                            </v-menu>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="onsubmitReceipt()">
                        ตกลง
                      </v-btn>
                      <v-btn color="red darken-1" text @click="dialogStatus1 = false">
                        ปิด
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<style scoped>
</style>
<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      expanded: [],
      panel: [0],
      dialogStatus1: false,
      menuSearch1: false,
      menuSearch2: false,
      menu1: false,
      menu2: false,
      rules: [
        (value) => !!value || 'Required.',
        (value) => (value && value.length >= 0) || 'Min 1 characters'
      ],
      session: this.$session.getAll(),
      dataSearhcReady: true,
      chkSearch: true,
      optionStaffInsuranceName: [],
      optionReceiptStatus: [
        { text: 'รอออกใบเสร็จ', value: 'รอออกใบเสร็จ' },
        { text: 'ชำระแล้ว', value: 'ชำระแล้ว' }
      ],
      readonly: true,
      visible: false,
      formSearch: {
        branchNo: '',
        monthYear: '',
        carName: '',
        frameNo: '',
        regNo: '',
        insNm: '',
        insNo: '',
        customerName: '',
        insStaffName: ''
      },
      // columns: [
      //   { text: 'สาขา', value: 'BR' },
      //   { text: 'active', value: 'active' },
      //   { text: 'model_desc', value: 'carName' },
      //   { text: 'หมายเลขตัวถัง', value: 'serial_num' },
      //   { text: 'ทะเบียน', value: 'regNo' },
      //   { text: 'ชื่อลูกค้า', value: 'Customer_NAME' },
      //   { text: 'บริษัทประกัน', value: 'insName' },
      //   { text: 'วันที่แจ้ง', value: 'dateInsNoti' },
      //   { text: 'วันที่คุ้มครอง', value: 'dateProtec1' },
      //   { text: 'DocHead', value: 'DocHead' },
      //   { text: 'InvoiceNo', value: 'vo_num' },
      //   { text: 'Invoice Date', value: 'vo_date' },
      //   { text: 'SaleStaff', value: 'SaleStaff' }
      // ],
      columns: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'BR' },
        { text: 'DocHead', value: 'DocHead' },
        { text: 'InvoiceNo', value: 'vo_num' },
        { text: 'Invoice Date', value: 'vo_date' },
        { text: 'วันที่ แจ้งประกัน', value: 'dateInsNoti' },
        { text: 'ประเภทใบเตือน', value: 'typeWork' },
        { text: 'หมายเลขตัวถัง', value: 'serial_num' },
        { text: 'model_desc', value: 'model_desc' },
        { text: 'ชื่อลูกค้า', value: 'Customer_NAME' },
        // { text: 'Bill_Description', value: 'Bill_Description' },
        { text: 'Vender', value: 'Vender' },
        { text: 'บริษัทประกันจาก Process', value: 'insName' },
        { text: 'ลูกค้าจ่าย', value: 'NetPrems' },
        { text: 'ส่วนลดเงินประกัน', value: 'dataCheck191s' },
        { text: 'ค่าเบี้ยประกันภัย', value: 'dataCheck98s' },
        { text: 'ค่าภาษี+ค่าบริการ', value: 'dataCheck37s' },
        { text: 'ค่าพรบ.', value: 'insAct' },
        { text: 'ค่าเบี้ยประกันภัย ไม่รวมค่าพรบ.', value: 'PremNoAct' },
        { text: 'ค่าเบี้ยประกันภัยสุทธิ', value: 'PremNoTax' },
        { text: 'ค่า COMM. ประกัน', value: 'dataComPrem' },
        { text: 'ค่า COMM. พรบ.', value: 'dataComAct' },
        { text: 'รวมค่า COMM.', value: 'sumCom' },
        { text: 'บันทึกลูกค้าพิเศษ', value: 'specialCustomerRecord' },
        { text: 'SaleStaff', value: 'SaleStaff' },
        { text: 'LinkDisc', value: 'LinkDisc' }
      ],
      // columns: [
      //   { text: 'สาขา', value: 'BR' },
      //   { text: 'DocHead', value: 'DocHead' },
      //   { text: 'InvoiceNo', value: 'vo_num' },
      //   { text: 'Invoice Date', value: 'Inv_DATE' },
      //   { text: 'หมายเลขตัวถัง', value: 'serial_num' },
      //   { text: 'model_desc', value: 'model_desc' },
      //   { text: 'ชื่อลูกค้า', value: 'Customer_NAME' },
      //   { text: 'Bill_Description', value: 'Bill_Description' },
      //   { text: 'Vender', value: 'Vender' },
      //   { text: 'NetPrem', value: 'NetPrem' },
      //   { text: 'Disc_AMT', value: 'Disc_AMT' },
      //   { text: 'dn_amt', value: 'dn_amt' },
      //   { text: 'SaleStaff', value: 'SaleStaff' },
      //   { text: 'LinkDisc', value: 'LinkDisc' }
      // ],
      datareport: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      checksubmit: true,
      datareportHistory: [],
      dataHistory: false,
      chkbutton: '',
      dateTime: '',
      countFull: 0,
      count29: 0,
      count30: 0,
      countSuss: 0,
      countPement: 0,
      formReceipt: {
        receiptStatus: '',
        receiptDate: '',
        insID: ''
      }
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/Insurance/Login')
    } else {
      await this.getStaffInsNmData()
      this.columnsUse = this.columns
    }
  },
  methods: {
    setDataReceipt (item) {
      this.formReceipt.receiptStatus = item.receiptStatus || ''
      this.formReceipt.receiptDate = item.receiptDate || ''
      this.formReceipt.insID = item.insID || ''
      this.dialogStatus1 = true
    },
    onsubmitReceipt () {
      if (this.formReceipt.receiptStatus !== '' &&
            this.formReceipt.receiptDate !== '' &&
            this.formReceipt.insID !== '') {
        this.$swal({
          title: 'ตรวจสอบก่อนเปลี่ยนแปลงข้อมูล',
          text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการเปลี่ยนแปลงหรือไม่',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#dedede',
          confirmButtonText: 'เปลี่ยนแปลงข้อมูล',
          cancelButtonText: 'ยกเลิก และตรวจสอบ!'
        })
          .then(async result => {
            const url = `${this.$apiUrl}Insurance/Insurance/updateReceipt`
            let config = {
              headers: {
                'Content-Type': 'application/json',
                'Application-Key': this.$apiToken
              }
            }
            axios.post(url, this.formReceipt, config).then(async response => {
              this.$swal('เรียบร้อย', 'ส่งข้อมูลเรียบแล้ว', 'success')
              var objIndex = this.datareport.findIndex(obj => obj.insID === this.formReceipt.insID)
              // Update object's name property.
              this.datareport[objIndex].vo_num = this.formReceipt.receiptStatus
              this.datareport[objIndex].vo_date = this.formReceipt.receiptDate
              this.formReceipt.receiptStatus = ''
              this.formReceipt.receiptDate = ''
              this.formReceipt.insID = ''
              this.dialogStatus1 = false
            })
          })
      } else {
        this.$swal('ผิดพลาด', 'กรุณาตรวจสอบ!', 'error')
      }
    },
    getColor (item) {
      if (item.vo_num === 'ไม่มีข้อมูล') {
        var date = new Date(item.dateInsNoti) // Now
        // var date1 = new Date(item.dateInsNoti) // Now
        var date11 = new Date() // Now
        // date.setDate(date.getDate() + 30) // Set now + 30 days as the new date
        var date2 = new Date(moment(String(date11)).format('YYYY-MM-DD')) // Now
        const diffTime = Math.abs(date - date2)
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24))
        console.log(diffDays, moment(String(date)).format('YYYY-MM-DD'), moment(String(date2)).format('YYYY-MM-DD'))
        if (diffDays >= 30) {
          if (item.active === '0') {
            return 'purple darken-2 red--text'
          } else {
            return 'purple darken-2 white--text'
          }
          // this.count30 = this.count30 + 1
        }
        if (diffDays < 30) {
          if (item.active === '0') {
            return 'red darken-2 black--text'
          } else {
            return 'red accent-1 black--text'
          }
        }
      }
      // console.log(item.dateInsNoti)
      // const date = new Date(item.dateInsNoti)

      // console.log(date.addDays(30))
      // if (status === 'มี') return 'green'
      // else if (status === 'ไม่มี') return 'red'
    },
    getStaffInsNmData () {
      this.optionStaffInsuranceName = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataSalesIns`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      axios.get(url, config).then((response) => {
        let rs = response.data
        if (rs.length > 0) {
          for (var i = 0; i < rs.length; i++) {
            var d = rs[i]
            d.text = d.salesName
            d.value = d.salesName
            this.optionStaffInsuranceName.push(d)
          }
        }
      })
    },
    async onSearch () {
      let countyear = ''
      let countyearPlus = ''
      let monthStr = ''
      let monthStrPlus = ''
      let useMouth = ''
      let useMouthPlus = ''
      this.countFull = 0
      this.count29 = 0
      this.count30 = 0
      this.countSuss = 0
      this.countPement = 0
      if (this.formSearch.monthYear) {
        var startdatetime1 = new Date(this.formSearch.monthYear).getTime()
        const startDate = new Date(startdatetime1)
        const dateLocal = startDate.toLocaleString('th-TH', {
          timeZone: 'Asia/Bangkok',
          hour12: false
        })
        const dateSplit = dateLocal.split(' ')
        const date = dateSplit[0].split('/')
        const year = String(date[2])
        const month = String(date[1])
        countyear = parseInt(year) - 543
        let countmonth = parseInt(month) + 100
        monthStr = String(countmonth).substring(1, 3)
        let countmonthPlus = parseInt(month) + 97
        monthStrPlus = String(countmonthPlus).substring(1, 3)
        useMouth = countyear + '-' + monthStr
        if (parseInt(month) <= 3) {
          countyearPlus = countyear - 1
        } else {
          countyearPlus = countyear
        }
        if ((parseInt(month) - 3) === 0) {
          monthStrPlus = '12'
        }
        useMouthPlus = countyearPlus + '-' + String(parseInt(monthStrPlus) + 100).substring(1, 3)
        console.log(useMouthPlus, useMouth)
      }
      let branchSearch = ''
      let branchNew = ''
      if (this.formSearch.branchNo === '10143') {
        branchSearch = "'155','999'"
        branchNew = '0116'
      }
      if (this.formSearch.branchNo === '10112') {
        branchSearch = "'154'"
        branchNew = '0112'
      }
      if (this.formSearch.branchNo === '10115') {
        branchSearch = "'157'"
        branchNew = '0113'
      }
      if (this.formSearch.branchNo === '10126') {
        branchSearch = "'156'"
        branchNew = '0115'
      }
      let dataStaffNm = []
      if (this.session.data.GroupS === 'Sale Insurance') {
        dataStaffNm.push(this.session.data.Name + ' ' + this.session.data.Surname)
      }
      if (this.session.data.GroupS === 'Back Office IT' || this.session.data.GroupS === 'Back Office S/Insurance') {
        dataStaffNm = this.formSearch.insStaffName
      }
      let rs = dataStaffNm
      var insNm = []
      for (var i = 0; i < rs.length; i++) {
        var d = rs[i]
        var s = {}
        s = "'" + d + "'"
        insNm.push(s)
        // dataIDS.push(d)
      }
      var userNm = insNm.map(function (insNms) {
        return insNms
      })
      this.datareport = []
      this.dataSearhcReady = false
      let url = ''
      if (this.session.data.GroupS === 'Sale Insurance') {
        url = `https://api.betaskthai.com/vgroupl_api/GetDataINS_PROCESS.php?checkvo_num=T&staffIns=` + this.session.data.Name + ' ' + this.session.data.Surname
      }
      if (this.session.data.GroupS === 'Back Office IT' || this.session.data.GroupS === 'Back Office S/Insurance') {
        url = `https://api.betaskthai.com/vgroupl_api/GetDataINS_PROCESS.php?checkvo_num=T&salesNm=` + userNm
        // url = `https://api.betaskthai.com/vgroupl_api/GetDataINS_PROCESS.php?salesNm=` + userNm
      }
      // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
      const config = {
        params: {
          branchNo: branchNew,
          dataType: 'report',
          dateInsNoti1: useMouth,
          dateInsNotis: useMouthPlus,
          dateInsNotiPlus: 'T'
        }
      }
      await axios.get(url, config).then(async (response) => {
        let rs = response.data
        console.log('GetDataINS_PROCESS', rs)
        this.countFull = rs.length
        if (rs.length > 0) {
          this.countFull = rs.length
          for (var i = 0; i < rs.length; i++) {
            var d = rs[i]
            await axios
              .get(
                'https://api.betaskthai.com/vgroupl_api/SysproGet.php?token=1234&orderby=T&BR_CD=' + branchSearch + '&serial_num=' + d.frameNo + '&salesNm=' + userNm + '&yearSelect=' + countyear
              )
              .then(async (response) => {
                // console.log(this.session.data.userName)
                let rs = response.data
                console.log('rs', rs)
                if (rs.length > 0) {
                  d.BR = rs[0].BR
                  // d.serial_num = rs[0].serial_num
                  d.serial_num = d.frameNo
                  // d.carName = rs[0].model_desc
                  d.Customer_NAME = rs[0].Customer_NAME
                  d.DocHead = rs[0].DocHead
                  d.vo_num = rs[0].vo_num
                  d.vo_date = rs[0].vo_date
                  d.SaleStaff = rs[0].SaleStaff
                  // d.RCV_Type_Description = rs[0].RCV_Type_Description
                  this.countSuss = this.countSuss + 1
                  await axios
                    .get(
                      'https://api.betaskthai.com/vgroupl_api/SysproGetItem.php?token=1234&shDocDnRID=' + rs[0].shDocDnRID
                    )
                    .then(async (response) => {
                      let rs1 = response.data
                      // console.log(rs1)
                      var dataCheck98 = rs1.filter(function (el) {
                        return el.RevCodeRID === '98'
                      })
                      // console.log('dataCheck98', dataCheck98)
                      var dataCheck191 = rs1.filter(function (el) {
                        return el.RevCodeRID === '191'
                      })
                      // console.log('dataCheck191', dataCheck191)
                      var dataCheck37 = rs1.filter(function (el) {
                        return el.RevCodeRID === '37'
                      })
                      // console.log('dataCheck37', dataCheck37)
                      if (dataCheck98.length > 0) {
                        d.dataCheck98s = parseFloat(dataCheck98[0].up)
                        // d.dataComPrem = (((parseFloat(dataCheck98[0].up)) / 1.0743) * 0.18).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                        // d.dataComPrems = ((parseFloat(dataCheck98[0].up)) / 1.0743) * 0.18
                      } else {
                        d.dataCheck98s = 0
                        // d.dataComPrem = 0
                      }
                      if (dataCheck191.length > 0) {
                        d.dataCheck191s = (parseFloat(dataCheck191[0].up))
                      } else {
                        d.dataCheck191s = 0
                      }
                      if (dataCheck37.length > 0) {
                        d.dataCheck37s = parseFloat(dataCheck37[0].up)
                        // if (d.Vender === 'VIB' || d.Vender === 'VIB-00') {
                        //   d.dataComAct = (((parseFloat(dataCheck37[0].up)) / 1.0743) * 0.25).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                        // } else {
                        //   d.dataComAct = (((parseFloat(dataCheck37[0].up)) / 1.0743) * 0.12).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                        // }
                      } else {
                        d.dataCheck37s = 0
                        // d.dataComAct = 0
                      }
                      if (parseFloat(d.insAct) > 0) {
                        if (d.Vender === 'VIB' || d.Vender === 'VIB-00') {
                          d.dataComAct = ((((parseFloat(d.insAct) * 100) / 107) - 3) * 0.25).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                          d.dataComActs = (((parseFloat(d.insAct) * 100) / 107) - 3) * 0.25
                        } else {
                          d.dataComAct = ((((parseFloat(d.insAct) * 100) / 107) - 3) * 0.12).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                          d.dataComActs = (((parseFloat(d.insAct) * 100) / 107) - 3) * 0.12
                        }
                      } else {
                        d.dataComAct = 0
                        d.dataComActs = 0
                      }
                      d.PremNoAct = (parseFloat(d.dataCheck98s - parseFloat(d.insAct))).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                      d.PremNoTax = ((parseFloat(d.dataCheck98s - parseFloat(d.insAct)) / 1.0743)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                      d.dataComPrem = ((parseFloat(d.dataCheck98s - parseFloat(d.insAct)) / 1.0743) * 0.18).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                      d.dataComPrems = (parseFloat(d.dataCheck98s - parseFloat(d.insAct)) / 1.0743) * 0.18
                      d.sumCom = (parseFloat(d.dataComActs + d.dataComPrems)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                    })
                  d.NetPrems = (d.dataCheck98s + d.dataCheck191s).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                } else {
                  if (d.directPayment === 'ไม่ตรง') {
                    d.vo_num = 'ไม่มีข้อมูล / จ่ายตรงประกัน'
                    d.vo_date = d.dateDirectPayment
                    this.countPement = this.countPement + 1
                  } else {
                    if (d.receiptStatus === 'รอออกใบเสร็จ') {
                      d.vo_num = d.receiptStatus
                      d.vo_date = d.receiptDate
                    } else {
                      d.vo_num = 'ไม่มีข้อมูล'
                    }
                  }
                  d.BR = d.branchNo
                  d.Customer_NAME = d.customerName
                  d.SaleStaff = d.staffIns
                  var date = new Date(d.dateInsNoti) // Now
                  // var date1 = new Date(item.dateInsNoti) // Now
                  var date11 = new Date() // Now
                  // date.setDate(date.getDate() + 30) // Set now + 30 days as the new date
                  var date2 = new Date(moment(String(date11)).format('YYYY-MM-DD')) // Now
                  const diffTime = Math.abs(date - date2)
                  const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24))
                  if (diffDays > 29 && d.vo_num === 'ไม่มีข้อมูล') {
                    this.count30 = this.count30 + 1
                  }
                  if (diffDays < 30 && d.vo_num === 'ไม่มีข้อมูล') {
                    this.count29 = this.count29 + 1
                  }
                }
              })
            d.carName = d.carName + ' ' + d.carType + ' ' + d.carYear
            d.serial_num = d.frameNo
            this.datareport.push(d)
          }
          this.dataSearhcReady = true
          this.dataSearhcReadyTable = true
          this.panel = []
        } else {
          this.dataSearhcReady = true
          this.dataSearhcReadyTable = true
          this.panel = []
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        }
      })
    },
    onClearSearch () {
      this.formSearch.branchNo = ''
      this.formSearch.monthYear = ''
      this.formSearch.carName = ''
      this.formSearch.frameNo = ''
      this.formSearch.regNo = ''
      this.formSearch.insNm = ''
      this.formSearch.insNo = ''
      this.formSearch.customerName = ''
      this.formSearch.searchDate = ''
      this.formSearch.insStaffName = ''
    },
    onExport () {
      const dataWS = XLSX.utils.json_to_sheet(this.datareport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'ReportSyspro.xlsx')
    }
  }
}
</script>
