<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row justify="center" no-gutters>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="3">
                    <b>Report Commission</b>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3">
                <v-btn
                    color="teal"
                    depressed
                    dark
                    v-if="dataSearhcReadyTable"
                    @click.prevent="onExport()"
                    >
                    <v-icon left> mdi-file-excel </v-icon>
                    Export Excel
                </v-btn>
                  </v-col>
                </v-row>
                <v-expansion-panels focusable v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <form v-if="dataSearhcReady">
                        <v-row>
                          <v-col cols="3">
                            <v-select
                              label="เลือกสาขา"
                              :items="optionsbranchNoOld"
                              v-model="formSearch.branchNo"
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="3">
                            <v-menu
                              v-model="menuSearch1"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.monthYear"
                                  prepend-icon="mdi-calendar"
                                  label="เดือน/ปี"
                                  v-bind="attrs"
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.monthYear"
                                @input="menuSearch1 = false"
                                type="month"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col cols="6"  v-if="session.data.GroupS !== 'Sale Insurance'">
                            <v-select
                              v-model="formSearch.insStaffName"
                              :items="optionStaffInsuranceName"
                              label="ชื่อพนักงานขายประกัน"
                              multiple
                              outlined
                              chips
                              persistent-hint
                              dense
                            ></v-select>
                          </v-col>
                        </v-row>
                        <v-row class="text-right">
                          <v-col cols="12">
                            <v-btn
                              color="warning"
                              depressed
                              @click.prevent="onSearch()"
                            >
                              <v-icon left> search </v-icon>
                              ค้นหา
                            </v-btn>
                            <v-btn
                              color="error"
                              depressed
                              @click.prevent="onClearSearch()"
                            >
                              <v-icon left> settings_backup_restore </v-icon>
                              Clear
                            </v-btn>
                          </v-col>
                        </v-row>
                      </form>
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="3">
            <br>
            <v-alert
              color="info"
              dark
              icon="mdi-car-key"
              border="left"
              prominent
            >
              จำนวน System Pro. : {{ dataFrame }}
            </v-alert>
          </v-col>
          <v-col cols="3">
            <br>
            <v-alert
              color="warning"
              dark
              icon="mdi-car-key"
              border="left"
              prominent
            >
              จำนวน จ่ายตรง. : {{ dataDirectPayment }}
            </v-alert>
          </v-col>
          <v-col cols="3">
            <br>
            <v-alert
              color="teal"
              dark
              icon="mdi-car-key"
              border="left"
              prominent
            >
              รวมทั้งหมด : {{ dataAll }}
            </v-alert>
          </v-col>
          <v-col cols="12" v-if="dataSearhcReadyTable">
            <v-card elevation="7">
                <v-card-text>
                <v-data-table
                  :headers="columnsUse"
                  :items="datareport"
                  :items-per-page="100"
                  sort-by="vo_date"
                  sort-desc
                >
                <template v-slot:top="{ pagination, options, updateOptions }">
                  <v-data-footer
                    :pagination="pagination"
                    :options="options"
                    @update:options="updateOptions"
                    items-per-page-text="$vuetify.dataTable.itemsPerPageText"/>
                </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      expanded: [],
      panel: [0],
      menuSearch1: false,
      menuSearch2: false,
      menu1: false,
      rules: [
        (value) => !!value || 'Required.',
        (value) => (value && value.length >= 0) || 'Min 1 characters'
      ],
      session: this.$session.getAll(),
      dataSearhcReady: true,
      chkSearch: true,
      optionStaffInsuranceName: [],
      readonly: true,
      visible: false,
      formSearch: {
        branchNo: '',
        monthYear: '',
        carName: '',
        frameNo: '',
        regNo: '',
        insNm: '',
        insNo: '',
        customerName: '',
        insStaffName: ''
      },
      columns: [
        { text: 'สาขา', value: 'BR' },
        { text: 'DocHead', value: 'DocHead' },
        { text: 'InvoiceNo', value: 'vo_num' },
        { text: 'Invoice Date', value: 'vo_date' },
        { text: 'วันที่ แจ้งประกัน', value: 'dateInsNoti' },
        { text: 'ประเภทใบเตือน', value: 'typeWork' },
        { text: 'หมายเลขตัวถัง', value: 'serial_num' },
        { text: 'model_desc', value: 'model_desc' },
        { text: 'ชื่อลูกค้า', value: 'Customer_NAME' },
        // { text: 'Bill_Description', value: 'Bill_Description' },
        { text: 'Vender', value: 'Vender' },
        { text: 'บริษัทประกันจาก Process', value: 'insName' },
        { text: 'ลูกค้าจ่าย', value: 'NetPrems' },
        { text: 'ส่วนลดเงินประกัน', value: 'dataCheck191s' },
        { text: 'ค่าเบี้ยประกันภัย', value: 'dataCheck98s' },
        { text: 'ค่าภาษี+ค่าบริการ', value: 'dataCheck37s' },
        { text: 'ค่าพรบ.', value: 'insAct' },
        { text: 'ค่าเบี้ยประกันภัย ไม่รวมค่าพรบ.', value: 'PremNoAct' },
        { text: 'ค่าเบี้ยประกันภัยสุทธิ', value: 'PremNoTax' },
        { text: 'ค่า COMM. ประกัน', value: 'dataComPrem' },
        { text: 'ค่า COMM. พรบ.', value: 'dataComAct' },
        { text: 'รวมค่า COMM.', value: 'sumCom' },
        // { text: 'RCV_Type_Description', value: 'RCV_Type_Description' },
        { text: 'บันทึกลูกค้าพิเศษ', value: 'specialCustomerRecord' },
        { text: 'SaleStaff', value: 'SaleStaff' },
        { text: 'LinkDisc', value: 'LinkDisc' }
      ],
      datareport: [],
      dataFrame: 0,
      dataDirectPayment: 0,
      dataAll: 0,
      dataReady: true,
      dataSearhcReadyTable: false,
      checksubmit: true,
      datareportHistory: [],
      dataHistory: false,
      chkbutton: '',
      dateTime: ''
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/Insurance/Login')
    } else {
      await this.getStaffInsNmData()
      this.columnsUse = this.columns
    }
  },
  methods: {
    async getStaffInsNmData () {
      this.optionStaffInsuranceName = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataSalesIns`
      const urlNew = `${this.$apiUrl}Insurance/Insurance/getDataSalesInsNew`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      await axios.get(url, config).then(async response => {
        let rs = response.data
        if (rs !== 'ไม่มีข้อมูล') {
          for (let i = 0; i < rs.length; i++) {
            let d = rs[i]
            d.text = d.salesName
            d.value = d.salesName
            this.optionStaffInsuranceName.push(d)
          }
          await axios.get(urlNew, config).then(async responses => {
            let rsNew = responses.data
            if (rsNew !== 'ไม่มีข้อมูล') {
              for (let i = 0; i < rsNew.length; i++) {
                let d = rsNew[i]
                d.text = d.salesName
                d.value = d.salesName
                this.optionStaffInsuranceName.push(d)
              }
            }
          })
        }
      })
    },
    async onSearch () {
      let countyear = ''
      let monthStr = ''
      if (this.formSearch.monthYear) {
        var startdatetime1 = new Date(this.formSearch.monthYear).getTime()
        const startDate = new Date(startdatetime1)
        const dateLocal = startDate.toLocaleString('th-TH', {
          timeZone: 'Asia/Bangkok',
          hour12: false
        })
        const dateSplit = dateLocal.split(' ')
        const date = dateSplit[0].split('/')
        const year = String(date[2])
        const month = String(date[1])
        countyear = parseInt(year) - 543
        const countmonth = parseInt(month) + 100
        monthStr = String(countmonth).substring(1, 3)
      }
      let branchSearch = ''
      if (this.formSearch.branchNo === '10143') {
        branchSearch = "'155','999'"
      }
      if (this.formSearch.branchNo === '10112') {
        branchSearch = "'154'"
      }
      if (this.formSearch.branchNo === '10115') {
        branchSearch = "'157'"
      }
      if (this.formSearch.branchNo === '10126') {
        branchSearch = "'156'"
      }
      let dataStaffNm = []
      if (this.session.data.GroupS === 'Sale Insurance') {
        dataStaffNm.push(this.session.data.Name + ' ' + this.session.data.Surname)
      }
      if (this.session.data.GroupS === 'Back Office IT' || this.session.data.GroupS === 'Back Office S/Insurance') {
        dataStaffNm = this.formSearch.insStaffName
      }
      let rs = dataStaffNm
      var insNm = []
      for (var i = 0; i < rs.length; i++) {
        var d = rs[i]
        var s = {}
        s = "'" + d + "'"
        insNm.push(s)
        // dataIDS.push(d)
      }
      var userNm = insNm.map(function (insNms) {
        return insNms
      })
      this.datareport = []
      this.dataSearhcReady = false
      await axios
        .get(
          'https://api.betaskthai.com/vgroupl_api/SysproGet.php?checkvo_num=T&token=1234&BR_CD=' + branchSearch + '&yearSelect=' + countyear + '&monthSelect=' + monthStr + '&salesNm=' + userNm
        )
        .then(async (response) => {
          // console.log(this.session.data.userName)
          const uniqueAddresses = Array.from(new Set(response.data.map(a => a.serial_num)))
            .map(id => {
              return response.data.find(a => a.serial_num === id)
            })
          // console.log('uniqueAddresses', uniqueAddresses)
          // console.log('rs', response.data.length)
          // this.dataFrame = uniqueAddresses.length
          let rs = uniqueAddresses
          this.dataFrame = rs.length
          // console.log('rs', response.data)
          if (rs.length > 0) {
            for (var i = 0; i < rs.length; i++) {
              var d = rs[i]
              // d.Disc_AMT = d.Disc_AMT.toString()
              const url2 = `${this.$apiUrl}Insurance/Insurance/getDataInsurance?frameNo=` + d.serial_num.trim()
              let config2 = {
                headers: {
                  'Content-Type': 'application/json',
                  'Application-Key': this.$apiToken
                },
                params: {
                  remarkInsSelect: '1.แจ้งต่อประกันภัย'
                }
              }
              await axios.get(url2, config2).then(async response => {
                console.log('getDataInsurance', response.data, d.serial_num.trim())
                if (response.data !== 'ไม่มีข้อมูล') {
                  var insD = response.data[0]
                  d.dateInsNoti = insD.dateInsNoti
                  d.insName = insD.insName
                  d.specialCustomerRecord = insD.specialCustomerRecord
                  d.typeWork = insD.typeWork
                  d.insAct = insD.insAct
                } else {
                  d.dateInsNoti = 'ไม่มีข้อมูลการแจ้ง'
                  d.insName = 'ไม่มีข้อมูลการแจ้ง'
                  d.specialCustomerRecord = 'ไม่มีข้อมูลการแจ้ง'
                  d.typeWork = 'ไม่มีข้อมูลการแจ้ง'
                  d.insAct = 0
                }
              })
              await axios
                .get(
                  'https://api.betaskthai.com/vgroupl_api/SysproGetItem.php?token=1234&shDocDnRID=' + d.shDocDnRID
                )
                .then(async (response) => {
                  let rs1 = response.data
                  // console.log(rs1)
                  var dataCheck98 = rs1.filter(function (el) {
                    return el.RevCodeRID === '98'
                  })
                  // console.log('dataCheck98', dataCheck98)
                  var dataCheck191 = rs1.filter(function (el) {
                    return el.RevCodeRID === '191'
                  })
                  // console.log('dataCheck191', dataCheck191)
                  var dataCheck37 = rs1.filter(function (el) {
                    return el.RevCodeRID === '37'
                  })
                  // console.log('dataCheck37', dataCheck37)
                  if (dataCheck98.length > 0) {
                    d.dataCheck98s = parseFloat(dataCheck98[0].up)
                    // d.dataComPrem = (((parseFloat(dataCheck98[0].up)) / 1.0743) * 0.18).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                    // d.dataComPrems = ((parseFloat(dataCheck98[0].up)) / 1.0743) * 0.18
                  } else {
                    d.dataCheck98s = 0
                    // d.dataComPrem = 0
                  }
                  if (dataCheck191.length > 0) {
                    d.dataCheck191s = (parseFloat(dataCheck191[0].up))
                  } else {
                    d.dataCheck191s = 0
                  }
                  if (dataCheck37.length > 0) {
                    d.dataCheck37s = parseFloat(dataCheck37[0].up)
                    // if (d.Vender === 'VIB' || d.Vender === 'VIB-00') {
                    //   d.dataComAct = (((parseFloat(dataCheck37[0].up)) / 1.0743) * 0.25).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                    // } else {
                    //   d.dataComAct = (((parseFloat(dataCheck37[0].up)) / 1.0743) * 0.12).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                    // }
                  } else {
                    d.dataCheck37s = 0
                    // d.dataComAct = 0
                  }
                  if (parseFloat(d.insAct) > 0) {
                    if (d.Vender === 'VIB' || d.Vender === 'VIB-00') {
                      d.dataComAct = ((((parseFloat(d.insAct) * 100) / 107) - 3) * 0.25).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                      d.dataComActs = (((parseFloat(d.insAct) * 100) / 107) - 3) * 0.25
                    } else {
                      d.dataComAct = ((((parseFloat(d.insAct) * 100) / 107) - 3) * 0.12).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                      d.dataComActs = (((parseFloat(d.insAct) * 100) / 107) - 3) * 0.12
                    }
                  } else {
                    d.dataComAct = 0
                    d.dataComActs = 0
                  }
                  d.PremNoAct = (parseFloat(d.dataCheck98s)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  // d.PremNoAct = (parseFloat(d.dataCheck98s - parseFloat(d.insAct))).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  // d.PremNoTax = ((parseFloat(d.dataCheck98s - parseFloat(d.insAct)) / 1.0743)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  // d.dataComPrem = ((parseFloat(d.dataCheck98s - parseFloat(d.insAct)) / 1.0743) * 0.18).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  // d.dataComPrems = (parseFloat(d.dataCheck98s - parseFloat(d.insAct)) / 1.0743) * 0.18
                  d.PremNoTax = ((parseFloat(d.dataCheck98s) / 1.0743)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  d.dataComPrem = ((parseFloat(d.dataCheck98s) / 1.0743) * 0.18).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  d.dataComPrems = (parseFloat(d.dataCheck98s) / 1.0743) * 0.18
                  d.sumCom = (parseFloat(d.dataComActs + d.dataComPrems)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                })
              d.NetPrems = (d.dataCheck98s + d.insAct + d.dataCheck191s).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
              this.datareport.push(d)
            }
            let url = ''
            if (this.session.data.GroupS === 'Sale Insurance') {
              url = `https://api.betaskthai.com/vgroupl_api/GetDataINS_PROCESS.php?checkvo_num=T&staffIns=` + this.session.data.Name + ' ' + this.session.data.Surname
            }
            if (this.session.data.GroupS === 'Back Office IT' || this.session.data.GroupS === 'Back Office S/Insurance') {
              url = `https://api.betaskthai.com/vgroupl_api/GetDataINS_PROCESS.php?checkvo_num=T&salesNm=` + userNm
              // url = `https://api.betaskthai.com/vgroupl_api/GetDataINS_PROCESS.php?salesNm=` + userNm
            }
            // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
            const config = {
              params: {
                branchNo: this.formSearch.branchNo,
                dateDirectPayment: countyear + '-' + monthStr,
                dataType: 'report'
              }
            }
            await axios.get(url, config).then(async (response) => {
              let rs = response.data
              this.dataDirectPayment = rs.length
              console.log('rs', rs)
              if (rs.length > 0) {
                for (let i = 0; i < rs.length; i++) {
                  let d = rs[i]
                  d.vo_num = 'จ่ายตรงประกัน'
                  d.vo_date = d.dateDirectPayment
                  d.BR = d.branchNo
                  d.insAct = (parseFloat(d.insAct || 0)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  d.serial_num = d.frameNo
                  d.model_desc = d.brandCar + ' ' + d.carName
                  d.Customer_NAME = d.customerName
                  d.SaleStaff = d.staffIns
                  d.NetPrems = (parseFloat(d.amountDirectPayment || 0)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  d.dataCheck191s = (parseFloat(d.discountDirectPayment || 0)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  d.dataCheck98s = (parseFloat(d.insPremium || 0)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  if (parseFloat(d.insAct) > 0) {
                    if (d.insName === 'บริษัท วิริยะประกันภัย จำกัด (มหาชน)' || d.insName === '(ตรง) บริษัท วิริยะประกันภัย จำกัด (มหาชน)') {
                      d.dataComAct = ((((parseFloat(d.insAct) * 100) / 107) - 3) * 0.25).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                      d.dataComActs = (((parseFloat(d.insAct) * 100) / 107) - 3) * 0.25
                    } else {
                      d.dataComAct = ((((parseFloat(d.insAct) * 100) / 107) - 3) * 0.12).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                      d.dataComActs = (((parseFloat(d.insAct) * 100) / 107) - 3) * 0.12
                    }
                  } else {
                    d.dataComAct = 0
                    d.dataComActs = 0
                  }
                  d.PremNoAct = (parseFloat(d.insPremium)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  d.PremNoTax = ((parseFloat(d.insPremium) / 1.0743)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  d.dataComPrem = ((parseFloat(d.insPremium) / 1.0743) * 0.18).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  d.dataComPrems = (parseFloat(d.insPremium) / 1.0743) * 0.18
                  d.sumCom = (parseFloat(d.dataComActs + d.dataComPrems)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  this.datareport.push(d)
                }
              }
            })
            this.columnsUse = this.columns
            // this.datareport = rs
            this.dataAll = this.dataDirectPayment + this.dataFrame
            this.dataSearhcReady = true
            this.dataSearhcReadyTable = true
            this.panel = []
            // console.log(this.datareport)
          } else {
            this.dataSearhcReady = true
            this.dataSearhcReadyTable = true
            this.panel = []
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          console.log(error)
          this.errored = true
          this.dataSearhcReady = true
        })
    },
    onClearSearch () {
      this.formSearch.branchNo = ''
      this.formSearch.monthYear = ''
      this.formSearch.carName = ''
      this.formSearch.frameNo = ''
      this.formSearch.regNo = ''
      this.formSearch.insNm = ''
      this.formSearch.insNo = ''
      this.formSearch.customerName = ''
      this.formSearch.searchDate = ''
      this.formSearch.insStaffName = ''
    },
    onExport () {
      const dataWS = XLSX.utils.json_to_sheet(this.datareport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'ReportSyspro.xlsx')
    }
  }
}
</script>
