<template>
  <div>
    <left-menu-admin :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="12">
                    <b>Prospective Report</b>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3">
                <v-btn
                    color="teal"
                    depressed
                    dark
                    v-if="dataSearhcReadyTable && (session.data.GroupS === 'Back Office S/Insurance' || session.data.GroupS === 'Back Office IT')"
                    @click.prevent="onExport()"
                    >
                    <v-icon left> mdi-file-excel </v-icon>
                    Export Excel
                </v-btn>
                  </v-col>
                </v-row>
                <v-expansion-panels focusable v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <form v-if="dataSearhcReady">
                         <v-row style="height: 70px">
                          <v-col cols="4">
                            <v-select
                              label="สาขา"
                              :items="optionsNoHObranchNo"
                              v-model="formSearch.branchNo"
                              outlined
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="4">
                            <v-select
                              label="ประเภท Prospective"
                              :items="optionsProspectiveType"
                              v-model="formSearch.prospectiveType"
                              multiple
                              outlined
                              chips
                              persistent-hint
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="4">
                            <v-menu
                              v-model="menuSearch1"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.monthYear"
                                  prepend-icon="mdi-calendar"
                                  label="เดือน/ปี"
                                  v-bind="attrs"
                                  dense
                                  v-on="on"
                                  outlined
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.monthYear"
                                @input="menuSearch1 = false"
                                type="month"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                        </v-row>
                        <v-row style="height: 70px">
                          <v-col cols="4">
                            <v-text-field
                              v-model="formSearch.customerName1"
                              label="ชื่อลูกค้า"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formSearch.regNo1"
                              label="ทะเบียนรถ"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field
                              v-model="formSearch.frameNo1"
                              label="หมายเลขตัวถัง"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row style="height: 70px"  v-if="session.data.GroupS !== 'Sale Insurance'">
                        <v-col cols="7">
                            <v-select
                              v-model="formSearch.insStaffName"
                              :items="optionStaffInsuranceName"
                              label="ชื่อพนักงานขายประกัน"
                              multiple
                              outlined
                              chips
                              persistent-hint
                              dense
                            ></v-select>
                          </v-col>
                        <v-col cols="5">
                            <v-select
                              label="หมายเหตุ"
                              :items="optionRemarkInsSelect"
                              v-model="formSearch.remarkSaleSelect"
                              outlined
                              dense
                              chips
                              multiple
                            ></v-select>
                          </v-col>
                        </v-row>
                        <v-row class="text-right">
                          <v-col cols="12">
                            <v-btn
                              color="warning"
                              depressed
                              @click.prevent="onSearch()"
                            >
                              <v-icon left> search </v-icon>
                              ค้นหา Prospective
                            </v-btn>
                            <v-btn
                              color="error"
                              depressed
                              @click.prevent="onClearSearch()"
                            >
                              <v-icon left> settings_backup_restore </v-icon>
                              Clear
                            </v-btn>
                          </v-col>
                        </v-row>
                      </form>
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                        <br />
                        <br />
                        <v-progress-linear v-model="knowledge" height="25">
                          <strong>{{ Math.ceil(knowledge) }}%</strong>
                        </v-progress-linear>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12"  v-if="dataSearhcReadyTable">
            <v-card elevation="7">
              <v-card-text>
                <div class="text-center">
                  <v-row class="mb-6" justify="center" no-gutters>
                    <v-col cols="3">
                      <v-icon color="deep-orange" size="50" @click="getTypeWort('Prospective')"
                        >mdi-account-cancel</v-icon
                      ><br />
                      Unfollow
                      <br />
                      <v-alert dense border="left" type="warning">
                        จำนวน : {{ dataUnFollow }} : {{ ((dataUnFollow / dataAll) * 100).toFixed(2) || 0 }} %
                      </v-alert>
                    </v-col>
                    <v-col cols="1">
                      <v-divider vertical></v-divider>
                    </v-col>
                    <v-col cols="3">
                      <v-icon color="green darken-2" size="50" @click="getTypeWort('Follow')"
                        >mdi-account-check</v-icon
                      ><br />
                      Follow
                      <br />
                      <v-alert dense border="left" type="success">
                        จำนวน : {{ dataFollow }} : {{((dataFollow / dataAll) * 100).toFixed(2) || 0}} %
                      </v-alert>
                    </v-col>
                    <v-col cols="1">
                      <v-divider vertical></v-divider>
                    </v-col>
                    <v-col cols="3">
                      <v-icon color="blue darken-2" size="50" @click="getTypeWort('In Process')"
                        >mdi-book-check</v-icon
                      ><br />
                      แจ้งต่อประกันภัย
                      <br />
                      <v-alert dense border="left" type="info">
                        จำนวน : {{ dataProcess }} : {{((dataProcess / dataAll) * 100).toFixed(2) || 0}} %
                      </v-alert>
                    </v-col>
                  </v-row>
                  <v-row class="mb-6" justify="center" no-gutters>
                      <v-col cols="5">
                      <v-icon color="red darken-2" size="50" @click="getTypeWort('Renew insurance')"
                        >mdi-book-cancel</v-icon
                      ><br />
                      Admin ยังไม่ได้ดำเนินการ
                      <br />
                      <v-alert dense border="left" type="error">
                        จำนวน : {{ dataRenew }} : {{((dataRenew / dataAll) * 100).toFixed(2) || 0}} %
                      </v-alert>
                    </v-col>
                    <v-col cols="2">
                      <v-divider vertical></v-divider>
                    </v-col>
                      <v-col cols="5">
                      <v-icon color="deep-purple darken-2" size="50" @click="onSearch()"
                        >mdi-arrow-expand-all</v-icon
                      ><br />
                      ทั้งหมด
                      <br />
                      <v-alert dark dense border="left" color="deep-purple darken-2">
                        จำนวน : {{ dataAll }} : {{((dataAll / dataAll) * 100).toFixed(2) || 0}} %
                      </v-alert>
                    </v-col>
                  </v-row>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" v-if="dataSearhcReadyTable">
            <v-card elevation="7">
              <v-card-text v-if="selected.length > 0">
                <v-btn
                  color="teal"
                  depressed
                  dark
                  @click.prevent="dialogEditsSalesSelect = true"
                >
                  <v-icon left> settings_backup_restore </v-icon>
                  เปลี่ยนชื่อพนักงานทีละหลายคน (จำนวนไม่เกิน 10 ท่าน)
                </v-btn>
              </v-card-text>
              <v-card-text>
                <v-data-table
                  v-if="!dataSubmit"
                  :headers="columnsUse"
                  :items="datareport"
                  :items-per-page="100"
                  :show-select="session.data.GroupS === 'Back Office IT' || session.data.GroupS === 'Back Office S/Insurance' ? true : false"
                  v-model="selected"
                  :single-select="false"
                  item-key="prospectiveCode"
                >
                <template v-slot:top="{ pagination, options, updateOptions }">
                  <v-data-footer
                    :pagination="pagination"
                    :options="options"
                    @update:options="updateOptions"
                    items-per-page-text="$vuetify.dataTable.itemsPerPageText"/>
                </template>
                  <template v-slot:[`item.statusProspective`]="{ item }">
                    <v-chip :color="getColor(item.statusProspective)" dark>
                      {{ item.statusProspective }}
                    </v-chip>
                  </template>
                  <template v-slot:[`item.remarkSaleSelect`]="{ item }">
                    <v-chip color="red" v-if="item.remarkSaleSelect === '11.ติดตามแล้วรอการตัดสินใจ'" dark>
                      {{ item.remarkSaleSelect }}
                    </v-chip>
                    <p v-if="item.remarkSaleSelect !== '11.ติดตามแล้วรอการตัดสินใจ'">{{ item.remarkSaleSelect }}</p>
                  </template>
                  <template v-slot:[`item.action`]="{ item }">
                    <v-tooltip top>
                      <template v-slot:activator="{ on1, attrs1 }">
                        <v-btn
                          :loading="loading"
                          color="success"
                          fab
                          small
                          v-if="session.data.GroupS === 'Back Office IT' || session.data.GroupS === 'Back Office S/Insurance'"
                          v-bind="attrs1"
                          v-on="on1"
                          @click.stop="getProspectiveLog(item)"
                        >
                          <v-icon dark> mdi-table-headers-eye </v-icon>
                        </v-btn>
                        <v-btn
                          :loading="loading"
                          color="orange"
                          fab
                          small
                          v-if="session.data.GroupS === 'Back Office IT' || session.data.GroupS === 'Back Office S/Insurance'"
                          v-bind="attrs1"
                          v-on="on1"
                          @click.stop="getEditSales(item)"
                        >
                          <v-icon dark> mdi-tools </v-icon>
                        </v-btn>
                        <v-btn
                          :loading="loading"
                          color="info"
                          fab
                          small
                          v-bind="attrs1"
                          v-on="on1"
                          @click.stop="getHistoryData(item)"
                        >
                          <v-icon dark> mdi-history </v-icon>
                        </v-btn>
                      </template>
                      <span>คลิกเพื่อดูประวัติ</span>
                    </v-tooltip>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-col>
          <v-dialog v-model="dialog1" persistent max-width="1200px">
                    <v-card>
                      <v-card-title>
                        <span class="headline">ติดต่อลูกค้า(Log)</span>
                      </v-card-title>
                      <v-card-text>
                        <v-container>
                           <v-row>
                            <v-col cols="12">
                              <v-card v-if="dessertsFollow === 'ไม่มีข้อมูล'">
                                <v-card-title> </v-card-title>
                                <v-card-text>
                                  <v-container>
                                    <v-alert dense border="left" type="warning">
                                      ไม่มีข้อมูล ติดตาม
                                    </v-alert>
                                  </v-container>
                                </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="dialog1 = false"
                                  >
                                    Close
                                  </v-btn>
                                </v-card-actions>
                              </v-card>
                              <v-card v-if="dessertsFollow !== 'ไม่มีข้อมูล'">
                                <v-card-title>
                                  <v-text-field
                                    v-model="searchFollow"
                                    append-icon="mdi-magnify"
                                    label="Search"
                                    single-line
                                    hide-details
                                  ></v-text-field>
                                </v-card-title>
                                <v-card-text>
                                  <v-data-table
                                    :headers="headersFollow"
                                    :items="dessertsFollow"
                                    :search="searchFollow"
                                    sort-by="lastUpdate"
                                    sort-desc
                                  ></v-data-table>
                                </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="dialog1 = false"
                                  >
                                    Close
                                  </v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-card-text>
                    </v-card>
                  </v-dialog>
          <v-col cols="12">
          <div v-if="dataSubmit" class="text-center">
                  <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="red"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="70"
                    :width="7"
                    color="purple"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="green"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="50"
                    color="amber"
                    indeterminate
                  ></v-progress-circular>
                  <br />
                  <br />
                  <v-alert dense border="left" type="warning">
                    กรุณา <strong>รอสักครู่ นะครับ</strong>
                  </v-alert>
                </div>
                </v-col>
        </v-row>
        <v-dialog v-model="dialogEdits" persistent max-width="1200px">
          <v-card>
            <v-card-title>
              <span class="headline">แก้ไขชื่อเชลล์</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                 <v-row>
                  <v-col cols="12">
                    <v-select
                      v-model="formUpdate.staffIns"
                      :items="optionStaffInsuranceName"
                      label="ชื่อพนักงานขายประกัน"
                      outlined
                      persistent-hint
                      dense
                    ></v-select>
                  </v-col>
                 </v-row>
                 <v-row class="text-right">
                    <v-col cols="12">
                      <v-btn
                        color="warning"
                        depressed
                        @click.prevent="editStaff()"
                      >
                        <v-icon left> mdi-tools </v-icon>
                        เปลี่ยนชื่อพนักงาน
                      </v-btn>
                      <v-btn
                        color="error"
                        depressed
                        @click.prevent="dialogEdits = false"
                      >
                        Close
                      </v-btn>
                    </v-col>
                  </v-row>
              </v-container>
            </v-card-text>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogEditsSalesSelect" persistent max-width="1200px">
          <v-card>
            <v-card-title>
              <span class="headline">แก้ไขชื่อเชลล์ ตามที่เลือก</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                 <v-row>
                  <v-col cols="12">
                    <v-select
                      v-model="salesChangeSelect"
                      :items="optionStaffInsuranceName"
                      label="ชื่อพนักงานขายประกัน"
                      outlined
                      persistent-hint
                      dense
                    ></v-select>
                  </v-col>
                 </v-row>
                 <v-row class="text-right">
                    <v-col cols="12">
                      <v-btn
                        color="warning"
                        depressed
                        @click.prevent="updateSalesOnSelect()"
                      >
                        <v-icon left> mdi-tools </v-icon>
                        เปลี่ยนชื่อพนักงานทีละหลายคน
                      </v-btn>
                      <v-btn
                        color="error"
                        depressed
                        @click.prevent="dialogEditsSalesSelect = false"
                      >
                        Close
                      </v-btn>
                    </v-col>
                  </v-row>
              </v-container>
            </v-card-text>
          </v-card>
        </v-dialog>
        <!-- ประวัติการใช้บริการ -->
        <v-dialog v-model="dialog2" persistent max-width="1200px">
          <v-card>
            <v-card-title>
              <span class="headline">ประวัติการใช้บริการ</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                 <v-row>
                  <v-col cols="12">
                    <v-card v-if="dessertsHistoryChk === 'ไม่มีข้อมูล'">
                      <v-card-title> </v-card-title>
                      <v-card-text>
                        <v-container>
                          <v-alert dense border="left" type="warning">
                            ไม่มีข้อมูล ประวัติการใช้บริการ
                          </v-alert>
                        </v-container>
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="dialog2 = false"
                        >
                          Close
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                    <v-card v-if="dessertsHistoryChk !== 'ไม่มีข้อมูล'">
                      <v-card-title>
                        <v-text-field
                          v-model="searchHistory"
                          append-icon="mdi-magnify"
                          label="Search"
                          single-line
                          hide-details
                        ></v-text-field>
                      </v-card-title>
                      <v-card-text>
                        <v-data-table
                          :headers="headersHistory"
                          :items="dessertsHistory"
                          :search="searchHistory"
                        ></v-data-table>
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="dialog2 = false"
                        >
                          Close
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
          </v-card>
        </v-dialog>
        <!-- เลือกดูประวัติ -->
      </div>
    </v-content>
  </div>
</template>
<style scoped>
</style>
<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
// import moment from 'moment'
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      selected: [],
      valid: true,
      expanded: [],
      panel: [0],
      error: true,
      menuSearch1: false,
      menu1: false,
      dialog: false,
      dialog1: false,
      dialog2: false,
      dialog9: false,
      dialogEdits: false,
      dialogEditsSalesSelect: false,
      rules: {
        numberRules: value =>
          (!isNaN(parseFloat(value)) && value >= 0 && value <= 9999999999) ||
          'กรุณากรอกตัวเลข 0 ถึง 9',
        counterTel: value => value.length <= 10 || 'Max 10 characters',
        IDcardRules: value =>
          (!isNaN(parseFloat(value)) && value >= 0 && value <= 9999999999999) ||
          'กรุณากรอกตัวเลข 0 ถึง 9',
        required: value => !!value || 'กรุณากรอก.',
        counterIDcard: value => value.length <= 13 || 'Max 13 characters',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      session: this.$session.getAll(),
      dataSearhcReady: true,
      optionStaffInsuranceName: [],
      formSearch: {
        branchNo: '',
        monthYear: '',
        carName: '',
        frameNo: '',
        regNo: '',
        frameNo1: '',
        regNo1: '',
        insNm: '',
        insNo: '',
        TypeJob: '',
        customerName: '',
        customerName1: '',
        insStaffName: '',
        prospectiveType: '',
        remarkSaleSelect: ''
      },
      formUpdate: {
        prospectiveCode: '',
        staffIns: ''
      },
      form: {
        prospectiveCode: '',
        userLogin: '',
        prospectiveDate: '',
        startDate: '',
        Dlr_DLVR_Name: '',
        customerNo: '',
        customerNM: '',
        customerTel1: '',
        customerTel2: '',
        customerTel3: '',
        ADDRESS_DETAILS: '',
        ADDRESS_TOWNCITY: '',
        ADDRESS_DISTRICT: '',
        ADDRESS_PROVINCE: '',
        ZIP_CD: '',
        frameNo: '',
        ragNo: '',
        branchNo: '',
        carName: '',
        carType: '',
        carYear: '',
        colorCar: '',
        insNo: '',
        insName: '',
        insAct: '',
        invoiceDate: '',
        typeProtec: '',
        typeRepair: '',
        insCapital: '',
        insPremium: '',
        dateInsMatured: '',
        typeWork: '',
        staffIns: '',
        remarkSale: '',
        remarkSaleSelect: '',
        statusProspective: '',
        userId_VLinked: '',
        RECORD_STATUS: '',
        ADDRESS_FULL: '',
        paymentType: '',
        financeName: '',
        accessories1: '',
        accessories2: '',
        specialCustomerRecord: '',
        typeInsurance: ''
      },
      optionsProspectiveType: [
        // { text: 'ทั้งหมด', value: 'ทั้งหมด' },
        { text: 'New Car', value: 'New Car' },
        // { text: 'Code4', value: 'Code4' },
        // { text: 'History', value: 'History' },
        { text: 'Import Excel', value: 'Import Excel' },
        { text: 'Create New', value: 'Create New' }
      ],
      columns: [
        { text: 'สาขา', value: 'branchNo' },
        { text: 'สถานะ Follow', value: 'statusProspective' },
        { text: 'ประเภทข้อมูล', value: 'typeWork' },
        { text: 'จำนวนที่ติดตาม', value: 'countLog' },
        { text: 'หมายเหตุ', value: 'remarkSaleSelect' },
        { text: 'ชื่อลูกค้า', value: 'customerNM' },
        { text: 'วันที่ Prospective', value: 'prospectiveDate' },
        { text: 'วันที่คุ้มครอง', value: 'startDate' },
        { text: 'ยี่ห้อรถ', value: 'carBrand' },
        { text: 'รุ่นรถ', value: 'carName' },
        { text: 'หมายเลขตัวถัง', value: 'frameNo' },
        { text: 'ทะเบียน', value: 'ragNo' },
        { text: 'บริษัทประกัน', value: 'insName' },
        { text: 'ค้าเบี่ย+พรบ.', value: 'sumPer' },
        { text: 'ชื่อเซลล์', value: 'staffIns' },
        { text: 'ฐานข้อมูลลูกค้า', value: 'customerReferral' },
        // { text: 'สถานะชำระ', value: 'statusSyspro' },
        // { text: 'InvoiceNo', value: 'invoiceNo' },
        // { text: 'InvoiceDate', value: 'invoiceDate' },
        { text: 'Action', value: 'action', sortable: false, align: 'center' }
      ],
      columnsProcess: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'branchNo' },
        { text: 'Active', value: 'active' },
        { text: 'วันแจ้งประกัน', value: 'dateInsNoti' },
        { text: 'บริษัทประกัน', value: 'insName' },
        { text: 'ที่ปรึกษาการขาย', value: 'staffIns' },
        { text: 'ชื่อลูกค้า', value: 'customerName' },
        { text: 'รุ่นรถยนต์', value: 'carName' },
        { text: 'ทะเบียน', value: 'regNo' },
        { text: 'หมายเลขตัวถัง', value: 'frameNo' }
      ],
      headersFollow: [
        { text: 'สถานะ', value: 'statusProspective' },
        { text: 'บันทึกพิเศษ', value: 'remarkSale' },
        { text: 'หมายเหตุที่เลือก', value: 'remarkSaleSelect' },
        { text: 'วันที่แก้ไข', value: 'lastUpdate' }
      ],
      headersHistory: [
        { text: 'สาขา', value: 'BR' },
        { text: 'DocHead', value: 'DocHead' },
        { text: 'InvoiceNo', value: 'vo_num' },
        { text: 'Invoice Date', value: 'Inv_DATE' },
        { text: 'หมายเลขตัวถัง', value: 'serial_num' },
        // { text: 'model_desc', value: 'model_desc' },
        { text: 'ชื่อลูกค้า', value: 'Customer_NAME' },
        // { text: 'Bill_Description', value: 'Bill_Description' },
        { text: 'Vender', value: 'Vender' },
        { text: 'NetPrem', value: 'NetPrem' },
        { text: 'Disc_AMT', value: 'Disc_AMT' },
        { text: 'dn_amt', value: 'dn_amt' },
        // { text: 'RCV_Type_Description', value: 'RCV_Type_Description' },
        { text: 'SaleStaff', value: 'SaleStaff' }
        // { text: 'LinkDisc', value: 'LinkDisc' }
      ],
      // headersHistory: [
      //   { text: 'ชื่อลูกค้า', value: 'customerName' },
      //   { text: 'รุ่นรถ', value: 'carName' },
      //   { text: 'ปีรถ', value: 'carYear' },
      //   { text: 'สีรถ', value: 'colorCar' },
      //   { text: 'ทะเบียน', value: 'regNo' },
      //   { text: 'หมายเลขตัวถัง', value: 'frameNo' },
      //   { text: 'บริษัทประกัน', value: 'insName' },
      //   { text: 'ประเภท', value: 'typeProtec' },
      //   { text: 'ซ่อมศูนย์/อู่', value: 'typeRepair' },
      //   { text: 'วันที่หมดอายุ', value: 'dateInsMatured' },
      //   { text: 'ทุน', value: 'insCapital' },
      //   { text: 'ค่าเบี้ย', value: 'insPremium' },
      //   { text: 'พรบ.', value: 'insAct' },
      //   { text: 'ยอดรวม', value: 'insSum' }
      // ],
      columnsUse: [],
      datareport: [],
      dataChk: '',
      dessertsHistory: [],
      dessertsFollow: [],
      dessertsDetail: [],
      optionSubDistrictNew: [],
      optionDistrictNew: [],
      optionProvince: [],
      searchFollow: '',
      searchDetail: '',
      searchHistory: '',
      dataReady: true,
      dataSearhcReadyTable: false,
      dataSubmit: false,
      loading: false,
      checksubmit: true,
      dataHistory: false,
      dataUnFollow: 0,
      dataFollow: 0,
      dataProcess: 0,
      dataAll: 0,
      dataRenew: 0,
      knowledge: 0,
      dessertsHistoryChk: '',
      statusFix: '',
      salesChangeSelect: ''
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/Insurance/Login')
    } else {
      //   await this.getData()
      // await this.validate()
      // await this.getCountProspectiveData()
      await this.getStaffInsNmData()
      this.columnsUse = this.columns
      this.dataChk = 'columns'
    }
  },
  methods: {
    updateSalesOnSelect () {
      if (this.selected.length !== 0 && this.selected.length <= 10) {
        if (this.salesChangeSelect !== '') {
          console.log('this.selected', this.selected)
          this.$swal({
            title: 'ตรวจสอบก่อนแก้ไขชื่อเซลล์',
            text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการแก้ไขชื่อเซลล์หรือไม่',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#dedede',
            confirmButtonText: 'แก้ไขชื่อเซลล์',
            cancelButtonText: 'ยกเลิก และตรวจสอบ!'
          }).then(async result => {
            for (let i = 0; i < this.selected.length; i++) {
              let d = this.selected[i]
              const url1 = `${this.$apiUrl}Insurance/Insurance/updateDataProspectiveSalesNM`
              let config1 = {
                headers: {
                  'Content-Type': 'application/json',
                  'Application-Key': this.$apiToken
                }
              }
              let dt1 = {
                prospectiveCode: d.prospectiveCode,
                staffIns: this.salesChangeSelect
              }
              await axios.post(url1, dt1, config1).then(async response => {
                const url3 = `${this.$apiUrl}Insurance/Insurance/getDataInsurance`
                let config3 = {
                  headers: {
                    'Content-Type': 'application/json',
                    'Application-Key': this.$apiToken
                  },
                  params: {
                    prospectiveCode: d.prospectiveCode
                  }
                }
                await axios
                  .get(url3, config3)
                  .then(async (response) => {
                    let rsUserId = response.data
                    if (rsUserId === 'ไม่มีข้อมูล') {
                      // this.$swal('เรียบร้อย', 'บันทึกสำเร็จ', 'success')
                      // this.dialogEdits = false
                    } else {
                      const url2 = `${this.$apiUrl}Insurance/Insurance/updateDataInProcessSalesNM`
                      let config2 = {
                        headers: {
                          'Content-Type': 'application/json',
                          'Application-Key': this.$apiToken
                        }
                      }
                      let dt2 = {
                        prospectiveCode: d.prospectiveCode,
                        staffIns: this.salesChangeSelect
                      }
                      await axios.post(url2, dt2, config2).then(async response => {
                      })
                    }
                  })
              })
            }
            this.salesChangeSelect = ''
            this.selected = []
            this.dialogEditsSalesSelect = false
            this.onSearch()
          })
        } else {
          this.$swal('ผิดพลาด', 'เลือกชื่อพนักงาน', 'error')
        }
      } else {
        this.$swal('ผิดพลาด', 'เลือกรายการเกิน 10 รายการ', 'error')
      }
    },
    async getProspectiveLog (dt) {
      this.dessertsFollow = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataProspectiveLog?`
      // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
      const config = {
        headers: {
          'Application-Key': this.$apiToken
        },
        params: {
          prospectiveCode: dt.prospectiveCode.trim()
        }
      }
      await axios.get(url, config).then(async response => {
        let rs = response.data
        this.dessertsFollow = rs
        this.dialog1 = true
      })
    },
    async getStaffInsNmData () {
      this.optionStaffInsuranceName = []
      const url = `${this.$apiUrl}Insurance/Insurance/getDataSalesIns`
      const urlNew = `${this.$apiUrl}Insurance/Insurance/getDataSalesInsNew`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      await axios.get(url, config).then(async response => {
        let rs = response.data
        if (rs !== 'ไม่มีข้อมูล') {
          for (let i = 0; i < rs.length; i++) {
            let d = rs[i]
            d.text = d.salesName
            d.value = d.salesName
            this.optionStaffInsuranceName.push(d)
          }
          await axios.get(urlNew, config).then(async responses => {
            let rsNew = responses.data
            if (rsNew !== 'ไม่มีข้อมูล') {
              for (let i = 0; i < rsNew.length; i++) {
                let d = rsNew[i]
                d.text = d.salesName
                d.value = d.salesName
                this.optionStaffInsuranceName.push(d)
              }
            }
          })
        }
      })
    },
    validate () {
      this.$nextTick(() => {
        let self = this
        self.$refs.formDialog.validate()
      })
    },
    getColor (status) {
      if (status === 'Follow') return 'teal'
      else if (status === 'Prospective') return 'orange'
      else if (status === 'In Process') return 'blue'
      else if (status === 'Renew insurance') return 'red'
    },
    getEditSales (dt) {
      console.log(dt)
      this.formUpdate.prospectiveCode = dt.prospectiveCode
      this.formUpdate.staffIns = dt.staffIns
      this.dialogEdits = true
    },
    editStaff () {
      this.$swal({
        title: 'ตรวจสอบก่อนแก้ไขชื่อเซลล์',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการแก้ไขชื่อเซลล์หรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'แก้ไขชื่อเซลล์',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      }).then(async result => {
        const url1 = `${this.$apiUrl}Insurance/Insurance/updateDataProspectiveSalesNM`
        let config1 = {
          headers: {
            'Content-Type': 'application/json',
            'Application-Key': this.$apiToken
          }
        }
        let dt1 = {
          prospectiveCode: this.formUpdate.prospectiveCode,
          staffIns: this.formUpdate.staffIns
        }
        await axios.post(url1, dt1, config1).then(async response => {
          const url3 = `${this.$apiUrl}Insurance/Insurance/getDataInsurance`
          let config3 = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            },
            params: {
              prospectiveCode: this.formUpdate.prospectiveCode
            }
          }
          await axios
            .get(url3, config3)
            .then(async (response) => {
              let rsUserId = response.data
              if (rsUserId === 'ไม่มีข้อมูล') {
                this.$swal('เรียบร้อย', 'บันทึกสำเร็จ', 'success')
                this.dialogEdits = false
              } else {
                const url2 = `${this.$apiUrl}Insurance/Insurance/updateDataInProcessSalesNM`
                let config2 = {
                  headers: {
                    'Content-Type': 'application/json',
                    'Application-Key': this.$apiToken
                  }
                }
                let dt2 = {
                  prospectiveCode: this.formUpdate.prospectiveCode,
                  staffIns: this.formUpdate.staffIns
                }
                await axios.post(url2, dt2, config2).then(async response => {
                  this.$swal('เรียบร้อย', 'บันทึกสำเร็จ', 'success')
                  this.dialogEdits = false
                })
              }
            })
        })
      })
    },
    async getHistoryData (dt) {
      this.dessertsHistory = []
      this.loading = true
      this.dessertsHistoryChk = ''
      axios
        .get(
          'https://api.betaskthai.com/vgroupl_api/SysproGet.php?token=1234&serial_num=' +
            dt.frameNo.trim()
        )
        .then(async response => {
          let rs = response.data
          console.log(rs)
          for (var i = 0; i < rs.length; i++) {
            var d = rs[i]
            d.NetPrem = parseFloat(d.NetPrem).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
            d.Disc_AMT = parseFloat(d.Disc_AMT).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
            d.dn_amt = parseFloat(d.dn_amt).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
            this.dessertsHistory.push(d)
          }
          if (rs.length > 0) {
            this.dessertsHistoryChk = rs
          } else {
            this.dessertsHistoryChk = 'ไม่มีข้อมูล'
          }
          this.dialog2 = true
          this.loading = false
        })
    },
    async getCountProspectiveData () {
      this.dataSearhcReadyTable = false
      this.dataUnFollow = 0
      this.dataFollow = 0
      let countyear = ''
      let monthStr = ''
      let useMouth = ''
      if (this.formSearch.monthYear) {
        var startdatetime = new Date(this.formSearch.monthYear).getTime()
        const startDate = new Date(startdatetime)
        const dateLocal = startDate.toLocaleString('th-TH', {
          timeZone: 'Asia/Bangkok',
          hour12: false
        })
        const dateSplit = dateLocal.split(' ')
        const date = dateSplit[0].split('/')
        const year = String(date[2])
        const month = String(date[1])
        countyear = parseInt(year) - 543
        const countmonth = parseInt(month) + 100
        monthStr = String(countmonth).substring(1, 3)
        useMouth = countyear + '-' + monthStr
      } else {
        useMouth = ''
      }
      let rs = this.formSearch.insStaffName
      var insNm = []
      for (var i = 0; i < rs.length; i++) {
        var d = rs[i]
        var s = {}
        s = "'" + d + "'"
        insNm.push(s)
        // dataIDS.push(d)
      }
      var userNm = insNm.map(function (insNms) {
        return insNms
      })
      let rsRe = this.formSearch.remarkSaleSelect
      var remarkSale = []
      for (let i = 0; i < rsRe.length; i++) {
        let d = rsRe[i]
        let s = {}
        s = "'" + d + "'"
        remarkSale.push(s)
        // dataIDS.push(d)
      }
      var remarkSaleSelect = remarkSale.map(function (remarkSales) {
        return remarkSales
      })
      console.log('remarkSales', remarkSaleSelect)
      let rs1 = this.formSearch.prospectiveType
      var prospectiveType = []
      for (let i = 0; i < rs1.length; i++) {
        let d = rs1[i]
        let s = {}
        s = "'" + d + "'"
        prospectiveType.push(s)
        // dataIDS.push(d)
      }
      var prospectiveTypeUse = prospectiveType.map(function (prospectiveTypes) {
        return prospectiveTypes
      })
      let url = ''
      if (this.session.data.GroupS === 'Sale Insurance') {
        url =
          'https://api.betaskthai.com/vgroupl_api/CheckProspectiveCount.php?staffIns=' + this.session.data.Name + ' ' + this.session.data.Surname + '&typeWork=' + prospectiveTypeUse + '&remarkSaleSelect=' + remarkSaleSelect
      }
      if (this.session.data.GroupS === 'Back Office IT' || this.session.data.GroupS === 'Back Office S/Insurance') {
        url =
          'https://api.betaskthai.com/vgroupl_api/CheckProspectiveCount.php?staffInsAdmin=' + userNm + '&typeWork=' + prospectiveTypeUse + '&remarkSaleSelect=' + remarkSaleSelect
      }
      // const url = 'https://api.betaskthai.com/vgroupl_api/CheckProspectiveCount.php?staffInsAdmin=' + userNm
      // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
      const config = {
        params: {
          branchNo: this.formSearch.branchNo.trim(),
          startDate: useMouth,
          customerNM: this.formSearch.customerName1.trim(),
          frameNo: this.formSearch.frameNo1.trim(),
          ragNo: this.formSearch.regNo1.trim()
          // remarkSaleSelect: remarkSaleSelect
        }
      }
      await axios.get(url, config).then(async response => {
        let rs = response.data
        this.dataUnFollow = rs[0].Prospective
        this.dataFollow = rs[0].Follow
        this.dataProcess = rs[0].In_Process
        this.dataRenew = rs[0].Renew_insurance
        this.dataAll = rs[0].All
      })
    },
    async getTypeWort (type) {
      this.datareport = []
      this.dataSearhcReadyTable = false
      this.dataSubmit = true
      let countyear = ''
      let monthStr = ''
      let useMouth = ''
      if (this.formSearch.monthYear) {
        var startdatetime = new Date(this.formSearch.monthYear).getTime()
        const startDate = new Date(startdatetime)
        const dateLocal = startDate.toLocaleString('th-TH', {
          timeZone: 'Asia/Bangkok',
          hour12: false
        })
        const dateSplit = dateLocal.split(' ')
        const date = dateSplit[0].split('/')
        const year = String(date[2])
        const month = String(date[1])
        countyear = parseInt(year) - 543
        const countmonth = parseInt(month) + 100
        monthStr = String(countmonth).substring(1, 3)
        useMouth = countyear + '-' + monthStr
      } else {
        useMouth = ''
      }
      let rs = this.formSearch.insStaffName
      var insNm = []
      for (var i = 0; i < rs.length; i++) {
        var d = rs[i]
        var s = {}
        s = "'" + d + "'"
        insNm.push(s)
        // dataIDS.push(d)
      }
      var userNm = insNm.map(function (insNms) {
        return insNms
      })
      let rs1 = this.formSearch.prospectiveType
      var prospectiveType = []
      for (let i = 0; i < rs1.length; i++) {
        let d = rs1[i]
        let s = {}
        s = "'" + d + "'"
        prospectiveType.push(s)
        // dataIDS.push(d)
      }
      var prospectiveTypeUse = prospectiveType.map(function (prospectiveTypes) {
        return prospectiveTypes
      })
      const url =
          'https://api.betaskthai.com/vgroupl_api/CheckProspective.php?salesNm=' + userNm + '&typeWork=' + prospectiveTypeUse
      // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
      const config = {
        params: {
          'branchNo': this.formSearch.branchNo.trim(),
          'startDate': useMouth,
          'customerNM': this.formSearch.customerName1.trim(),
          'frameNo': this.formSearch.frameNo1.trim(),
          'ragNo': this.formSearch.regNo1.trim(),
          'statusProspective': type
        }
      }
      await axios.get(url, config).then(async response => {
        let rs = response.data
        console.log('data', rs)
        if (rs.length > 0) {
          for (var i = 0; i < rs.length; i++) {
            var d = rs[i]
            // let branchSearch = ''
            // if (d.branchNo === '0116') {
            //   branchSearch = "'155','999'"
            // }
            // if (d.branchNo === '0112') {
            //   branchSearch = "'154'"
            // }
            // if (d.branchNo === '0113') {
            //   branchSearch = "'157'"
            // }
            // if (d.branchNo === '0115') {
            //   branchSearch = "'156'"
            // }
            await axios
              .get(
                'https://api.betaskthai.com/vgroupl_api/SysproGet.php?token=1234&orderby=T&serial_num=' + d.frameNo
              )
              .then(async (response) => {
              // console.log(this.session.data.userName)
                let rs1 = response.data
                if (rs1.length > 0) {
                  d.statusSyspro = 'ชำระแล้ว'
                  d.invoiceNo = rs1[0].vo_num
                  d.invoiceDate = rs1[0].vo_date
                } else {
                  d.statusSyspro = 'ยังไม่ได้ชำระ'
                  d.invoiceNo = ''
                  d.invoiceDate = ''
                }
              })
            this.datareport.push(d)
          }
          await this.getCountProspectiveData()
          this.dataSearhcReadyTable = true
          this.dataSubmit = false
          this.statusFix = 'no'
        } else {
          this.dataSearhcReadyTable = false
          this.dataSubmit = false
          this.$swal('Error', 'ไม่มีข้อมูล', 'error')
        }
        this.columnsUse = this.columns
        this.dataChk = 'columns'
      })
    },
    async onSearch () {
      this.datareport = []
      this.dataSearhcReadyTable = false
      this.dataSubmit = true
      let countyear = ''
      let monthStr = ''
      let useMouth = ''
      if (this.formSearch.monthYear) {
        var startdatetime = new Date(this.formSearch.monthYear).getTime()
        const startDate = new Date(startdatetime)
        const dateLocal = startDate.toLocaleString('th-TH', {
          timeZone: 'Asia/Bangkok',
          hour12: false
        })
        const dateSplit = dateLocal.split(' ')
        const date = dateSplit[0].split('/')
        const year = String(date[2])
        const month = String(date[1])
        countyear = parseInt(year) - 543
        const countmonth = parseInt(month) + 100
        monthStr = String(countmonth).substring(1, 3)
        useMouth = countyear + '-' + monthStr
      } else {
        useMouth = ''
      }
      let rs = this.formSearch.insStaffName
      var insNm = []
      for (var i = 0; i < rs.length; i++) {
        var d = rs[i]
        var s = {}
        s = "'" + d + "'"
        insNm.push(s)
        // dataIDS.push(d)
      }
      var userNm = insNm.map(function (insNms) {
        return insNms
      })
      let rs1 = this.formSearch.prospectiveType
      var prospectiveType = []
      for (let i = 0; i < rs1.length; i++) {
        let d = rs1[i]
        let s = {}
        s = "'" + d + "'"
        prospectiveType.push(s)
        // dataIDS.push(d)
      }
      var prospectiveTypeUse = prospectiveType.map(function (prospectiveTypes) {
        return prospectiveTypes
      })
      let rsRe = this.formSearch.remarkSaleSelect
      var remarkSale = []
      for (let i = 0; i < rsRe.length; i++) {
        let d = rsRe[i]
        let s = {}
        s = "'" + d + "'"
        remarkSale.push(s)
        // dataIDS.push(d)
      }
      var remarkSaleSelect = remarkSale.map(function (remarkSales) {
        return remarkSales
      })
      console.log('remarkSales', remarkSaleSelect)
      let url = ''
      if (this.session.data.GroupS === 'Sale Insurance') {
        url =
          'https://api.betaskthai.com/vgroupl_api/CheckProspective.php?staffIns=' + this.session.data.Name + ' ' + this.session.data.Surname + '&typeWork=' + prospectiveTypeUse + '&remarkSaleSelect=' + remarkSaleSelect
      }
      if (this.session.data.GroupS === 'Back Office IT' || this.session.data.GroupS === 'Back Office S/Insurance') {
        url =
          'https://api.betaskthai.com/vgroupl_api/CheckProspective.php?salesNm=' + userNm + '&typeWork=' + prospectiveTypeUse + '&remarkSaleSelect=' + remarkSaleSelect
      }
      // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
      const config = {
        params: {
          'branchNo': this.formSearch.branchNo.trim(),
          'startDate': useMouth,
          'customerNM': this.formSearch.customerName1.trim(),
          'frameNo': this.formSearch.frameNo1.trim(),
          'ragNo': this.formSearch.regNo1.trim()
          // 'remarkSaleSelect': remarkSaleSelect
        }
      }
      await axios.get(url, config).then(async response => {
        let rs = response.data
        console.log('data', rs)
        if (rs.length > 0) {
          for (var i = 0; i < rs.length; i++) {
            var d = rs[i]
            if (d.carBrand === null) {
              d.carName = d.carName
            } else {
              d.carName = d.carBrand + ' ' + d.carName
            }
            var insPremiums = 0
            var insActs = 0
            if (d.insPremium) {
              insPremiums = parseFloat(d.insPremium)
            } else {
              insPremiums = 0
            }
            if (d.insAct) {
              insActs = parseFloat(d.insAct)
            } else {
              insActs = 0
            }
            d.sumPer = (parseFloat(insPremiums) + parseFloat(insActs)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
            // let branchSearch = ''
            // if (d.branchNo === '0116') {
            //   branchSearch = "'155','999'"
            // }
            // if (d.branchNo === '0112') {
            //   branchSearch = "'154'"
            // }
            // if (d.branchNo === '0113') {
            //   branchSearch = "'157'"
            // }
            // if (d.branchNo === '0115') {
            //   branchSearch = "'156'"
            // }
            await axios
              .get(
                'https://api.betaskthai.com/vgroupl_api/SysproGet.php?token=1234&serial_num=' + d.frameNo
              )
              .then(async (response) => {
              // console.log(this.session.data.userName)
                let rs1 = response.data
                if (rs1.length > 0) {
                  d.statusSyspro = 'ชำระแล้ว'
                  d.invoiceNo = rs1[0].vo_num
                  d.invoiceDate = rs1[0].vo_date
                } else {
                  d.statusSyspro = 'ยังไม่ได้ชำระ'
                  d.invoiceNo = ''
                  d.invoiceDate = ''
                }
              })
            this.datareport.push(d)
          }
          // this.datareport = rs
          await this.getCountProspectiveData()
          this.dataSearhcReadyTable = true
          this.dataSubmit = false
          this.statusFix = 'no'
          this.panel = []
        } else {
          this.dataSearhcReadyTable = false
          this.dataSubmit = false
          this.$swal('Error', 'ไม่มีข้อมูล', 'error')
        }
        this.columnsUse = this.columns
        this.dataChk = 'columns'
      })
    },
    onClearSearch () {
      this.datareport = []
      this.datareportNew = []
      this.salesNmUse = []
      this.dataSalesInsRe = []
      this.formSearch.branchNo = ''
      this.formSearch.monthYear = ''
      this.formSearch.carName = ''
      this.formSearch.insNm = ''
      this.formSearch.insNo = ''
      this.formSearch.searchDate = ''
      this.formSearch.insStaffName = ''
      this.formSearch.TypeJob = ''
      this.formSearch.prospectiveType = ''
      this.formSearch.customerName1 = ''
      this.formSearch.regNo1 = ''
      this.formSearch.frameNo1 = ''
      this.formSearch.remarkSaleSelect = ''
    },
    onExport () {
      this.$swal({
        title: 'ส่งออกข้อมูล',
        text: 'ท่านต้องการ ส่งออกข้อมูล หรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'ส่งออกข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      }).then(result => {
        const dataWS = XLSX.utils.json_to_sheet(this.datareport)
        const wb = XLSX.utils.book_new()
        XLSX.utils.book_append_sheet(wb, dataWS)
        XLSX.writeFile(wb, 'ReportNewCar.xlsx')
      })
    }
  }
}
</script>
