<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-main>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
           <v-card elevation="7">
              <v-card-text>
                <v-tabs
                    v-model="tab"
                    background-color="red lighten-1"
                    dark
                    icons-and-text
                  >
                    <v-tabs-slider></v-tabs-slider>
                    <v-tab active @click="tabActive('A')">
                      Overview Insurance
                      <v-icon>people</v-icon>
                    </v-tab>
                       <v-tab active @click="tabActive('B')">
                      Reason Insurance
                      <v-icon>people</v-icon>
                    </v-tab>
                       <v-tab active @click="tabActive('C')">
                      NCB and No NCB By Branch
                      <v-icon>people</v-icon>
                    </v-tab>
                     <v-tab active @click="tabActive('D')">
                      NCB and No NCB By Sales
                      <v-icon>people</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('E')">
                      Reports Insurance Model
                      <v-icon>people</v-icon>
                    </v-tab>
                    <!-- <v-tab active @click="tabActive('F')">
                      Detail
                      <v-icon>people</v-icon>
                    </v-tab> -->
                  </v-tabs>
                  <template v-if="showDashboardA">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardB">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardC">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardD">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardE">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <!-- <template v-if="showDashboardF">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template> -->
                </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-main>
  </div>
</template>

<script>
// import axios from 'axios'
import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      breadcrumbs: [
        {
          text: 'Overview Insurance',
          disabled: true,
          href: '/ReportDashboard/Insurance/Insurance'
          // href: '/dashboard/Booking'
        }
      ],
      showDashboardA: false,
      showDashboardB: false,
      showDashboardC: false,
      showDashboardD: false,
      showDashboardE: false,
      showDashboardF: false,
      showDashboardG: false,
      showDashboardH: false
    }
  },

  // eslint-disable-next-line space-before-function-paren
  async mounted() {
    // await this.getListData()
    if (!this.$session.exists()) {
      this.$router.push('/ReportDashboard/Insurance/Login')
    } else {
      await this.tabActive('A')
    }
  },
  methods: {
    tabActive (dt) {
      this.tabActives = dt
      if (dt === 'A') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/914f9aad-190f-49ce-a9ed-15e42eea8fa3/page/p_oisiwtvupc'
        this.showDashboardA = true
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
      }
      if (dt === 'B') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/cbdc8c4a-64ef-41e4-bfb9-b71f3c00c37a/page/V0gfC'
        this.showDashboardA = false
        this.showDashboardB = true
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'C') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/323aad24-6d9b-4832-afdc-31dc917603b8/page/p_52ks0y8ppc'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = true
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
      }
      if (dt === 'D') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/42e430ff-37ba-4c27-b990-ad0926137ba3/page/p_p2e5xdbqpc'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = true
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
      }
      if (dt === 'E') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/f08aa6be-03d0-471d-9005-c76bed583eca/page/p_by0qngbqpc'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = true
        this.showDashboardF = false
        this.showDashboardG = false
      }
      // if (dt === 'F') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/d0efde90-cfbc-481b-99bf-5211e8a50669/page/p_i1cay4uiqc'
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = true
      //   this.showDashboardG = false
      // }
    }
  }
}
</script>
<style scoped>
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.h_iframe iframe {
  width: 100%;
  height: 3000px;
}
.h_iframe {
  height: 100%;
  width: 100%;
}
.red {
  color: red;
}
.yellow {
  color: #b1a501;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.blue0483de {
  color: #0483de;
}
</style>
