<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <form>
                  <v-row>
                    <v-col cols="2">
                      <v-select
                        v-model="formSearch.TypeBr"
                        :items="optionsTypeBr"
                        label="สาขา"
                        dense
                        outlined
                      />
                    </v-col>
                     <!-- <v-col cols="3">
                      <v-select
                        v-model="formSearch.TypeModel"
                        :items="optionTypeModel"
                        label="รุ่นรถ"
                        dense
                        outlined
                      />
                    </v-col> -->
                    <v-col cols="2">
                      <v-select
                        v-model="formSearch.TypeMonth"
                        :items="optionTypeMonth"
                        label="เดือน"
                        dense
                        outlined
                      />
                    </v-col>
                 <v-col cols="6">
                            <v-btn
                               tile
                               color="warning"
                               @click="onSearch()"
                              >
                              <v-icon left>
                               mdi-selection-search
                              </v-icon>
                                ค้นหา
                            </v-btn>
                            <v-btn
                              color="teal"
                              depressed
                              dark
                              @click.prevent="onExport()"
                              >
                              <v-icon left> mdi-file-excel </v-icon>
                              Export Excel
                            </v-btn>
                          </v-col>
                        </v-row>
                 </form>
                <br>
                <div v-if="!dataSearhcReady">
                  <div class="text-center">
                    <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="red"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="70"
                      :width="7"
                      color="purple"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="green"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="50"
                      color="amber"
                      indeterminate
                    />
                  </div>
                </div>
              </v-card-text>
            </v-card>
            <br>
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-pencil-plus</v-icon> ข้อมูลที่เลือก
              </v-card-title>
              <v-card-text>
                <v-row v-if="dataListReady">
                  <v-col cols="12">
                    <v-data-table
                      :headers="columns"
                      :items="datareport"
                      :items-per-page="5"
                    >
                    </v-data-table>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
import XLSX from 'xlsx' // import xlsx
export default {
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      session: this.$session.getAll(),
      menu1: false,
      menu2: false,
      menu3: false,
      dialog: false,
      dialog1: false,
      formSearch: {
        roomName: '',
        dateMeet: new Date().toISOString().substr(0, 10)
      },
      form: {
        remarkApprove: '',
        userNameApprove: ''
      },
      columns: [ // ตารางที่จะแสดง
        // { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'Dlr_Job_CD' },
        { text: 'หมายเลขเฟรม', value: 'Frame_NO' },
        { text: 'วันที่Jobล่าสุด', value: 'mxJob_Date' },
        { text: 'รุ่นรถ', value: 'Model_NM' },
        { text: 'รุ่นปี', value: 'Model_Year' },
        { text: 'MTOC', value: 'MTOC_CD' },
        { text: 'รุ่นรถ', value: 'MODEL_NAME' },
        { text: 'สีรถ', value: 'COLOR_NAME' },
        { text: 'ทะเบียน', value: 'Reg_No' },
        { text: 'เลขกิโลเมตร', value: 'Mileage' },
        { text: 'วันที่ขายรถใหม่', value: 'DLVR_NewCar_Date' },
        { text: 'หมายเลขลูกค้า', value: 'User_DR' },
        { text: 'ชื่อลูกค้า', value: 'Customer_NM_User_DR' },
        { text: 'Code ล่าสุด', value: 'Lst_J_Code' },
        { text: 'Grade', value: 'Grade' },
        { text: 'LstJob_Type', value: 'LstJob_Type' },
        { text: 'Age_DLVR_NewCar', value: 'Age_DLVR_NewCar' },
        { text: 'Id_VLinked', value: 'userId_VLinked' },
        { text: 'ที่อยู่', value: 'ADDRESS_DETAILS' },
        { text: 'แขวง/ตำบล', value: 'OWNCITY' },
        { text: 'เขต/อำเภอ', value: 'DISTRICT' },
        { text: 'จังหวัด', value: 'PROVINCE' },
        { text: 'รหัสไปร์ษณี', value: 'ZIP_CD' },
        { text: 'โทรศัพท์มือถือ', value: 'TEL_Mobile_no' },
        { text: 'โทรศัพท์บ้าน', value: 'TEL_HOME_NO' },
        { text: 'โทรศัพท์ที่ทำงาน', value: 'TEL_COMPANY_NO' }
      ],
      datareport: [],
      optionRoomName: [],
      dataListReady: true,
      chkbutton: '',
      dateTime: '',
      dataSearhcReady: true,
      checksubmit: true,
      optionsTypeBr: [
        { text: '0112', value: '0112' },
        { text: '0113', value: '0113' },
        { text: '0115', value: '0115' },
        { text: '0116', value: '0116' }
      ],
      optionTypeMonth: [
        { text: '01', value: '01' },
        { text: '02', value: '02' },
        { text: '03', value: '03' },
        { text: '04', value: '04' },
        { text: '05', value: '05' },
        { text: '06', value: '06' },
        { text: '07', value: '07' },
        { text: '08', value: '08' },
        { text: '09', value: '09' },
        { text: '10', value: '10' },
        { text: '11', value: '11' },
        { text: '12', value: '12' }
      ]
      // optionTypeModel: [
      //   { text: 'AMAZE', value: 'AMAZE' },
      //   { text: 'BRIO', value: 'BRIO' },
      //   { text: 'CITY', value: 'CITY' },
      //   { text: 'CITY', value: 'CITY' },
      //   { text: 'JAZZ', value: 'JAZZ' },
      //   { text: 'CIVIC', value: 'CIVIC' },
      //   { text: 'FREED', value: 'FREED' },
      //   { text: 'HR-V', value: 'HR-V' },
      //   { text: 'BR-V', value: 'BR-V' },
      //   { text: 'CR-V', value: 'CR-V' },
      //   { text: 'ACCORD', value: 'ACCORD' },
      //   { text: 'STREAM', value: 'STREAM' },
      //   { text: 'STEPWGN', value: 'STEPWGN' },
      //   { text: 'ODYSSEY', value: 'ODYSSEY' },
      //   { text: 'MOBILIO', value: 'MOBILIO' }
      // ],
      // optionTypeModelYear: [
      //   { text: '2019', value: '2019' },
      //   { text: '2020', value: '2020' },
      //   { text: '2021', value: '2021' },
      //   { text: '2022', value: '2022' },
      //   { text: '2023', value: '2023' },
      //   { text: '2024', value: '2024' },
      //   { text: '2025', value: '2025' },
      //   { text: '2026', value: '2026' }
      // ]
    }
  },
  computed: {
    // loaded () {
    //   return this.$store.state.sessionStorage
    // }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/reportInsurance/Login')
    } else {
      // await this.getData()
    }
  },
  methods: {
    async onSearch () {
      this.datareport = []
      this.dataListReady = false
      this.dataSearhcReady = false
      // var data010 = ''
      var dataRMH = ''
      // const url1 = 'http://localhost/vgroupl_api/CarsCode4.php'
      const url1 = 'https://api.betaskthai.com/vgroupl_api/CarsCode4.php'
      const config1 = {
        headers: {
          'Content-Type': 'application/json'
        },
        params: { // เงื่อนไขที่จะเลือก
          Dlr_Job_CD: this.formSearch.TypeBr,
          // Model_Year: this.formSearch.ModelYear,
          // Model_NM: this.formSearch.TypeModel,
          DLVR_NewCar_Date: this.formSearch.TypeMonth,
          dataType: 'dataRMH'
        }
      }
      await axios
        .get(url1, config1).then(async (response) => {
          const rs1 = response.data
          if (rs1.length > 0) {
            dataRMH = rs1
          }
        })
      // const url = 'http://localhost/vgroupl_api/CarsCode4.php'
      const url = 'https://api.betaskthai.com/vgroupl_api/CarsCode4.php'
      const config = {
        headers: {
          'Content-Type': 'application/json'
        },
        params: { // เงื่อนไขที่จะเลือก
          Dlr_Job_CD: this.formSearch.TypeBr,
          // Model_Year: this.formSearch.ModelYear,
          DLVR_NewCar_Date: this.formSearch.TypeMonth,
          dataType: 'data010INS'
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          // console.log(this.session.data.userName)
          const rs = response.data
          if (rs.length > 0) {
            // data010 = rs
            for (let i = 0; i < rs.length; i++) {
              var d = rs[i]
              var s = {}
              s.Dlr_Job_CD = d.Dlr_Job_CD
              s.mxJob_Date = d.mxJob_Date
              s.Frame_NO = d.Frame_NO
              s.Model_NM = d.Model_NM
              s.Model_Year = d.Model_Year
              s.Reg_No = d.Reg_No
              s.Mileage = d.Mileage
              s.DLVR_NewCar_Date = d.DLVR_NewCar_Date
              s.User_DR = d.User_DR
              s.Customer_NM_User_DR = d.Customer_NM_User_DR
              s.Lst_J_Code = d.Lst_J_Code
              s.Grade = d.Grade
              s.LstJob_Type = d.LstJob_Type
              s.Age_DLVR_NewCar = d.Age_DLVR_NewCar
              s.userId_VLinked = d.userId_VLinked
              const result = dataRMH.filter(function (el) {
                if (el.FRAME_NO === d.Frame_NO) {
                  return true
                } else {
                  return false
                }
              }
              )
              // เพิ่มฟิลที่จะต่อ(ทางด้านขวา)
              if (result.length > 0) {
                console.log(result[0])
                s.MTOC_CD = result[0].MTOC_CD
                s.MODEL_NAME = result[0].MODEL_NAME
                s.COLOR_NAME = result[0].COLOR_NAME
                s.ADDRESS_DETAILS = result[0].ADDRESS_DETAILS
                s.OWNCITY = result[0].OWNCITY
                s.DISTRICT = result[0].DISTRICT
                s.PROVINCE = result[0].PROVINCE
                s.ZIP_CD = result[0].ZIP_CD
                s.TEL_Mobile_no = result[0].TEL_Mobile_no
                s.TEL_HOME_NO = result[0].TEL_HOME_NO
                s.TEL_COMPANY_NO = result[0].TEL_COMPANY_NO
              } else { //
                s.MTOC_CD = ''
                s.COLOR_NAME = ''
                s.ADDRESS_DETAILS = ''
                s.OWNCITY = ''
                s.DISTRICT = ''
                s.PROVINCE = ''
                s.ZIP_CD = ''
                s.TEL_Mobile_no = ''
                s.TEL_HOME_NO = ''
                s.TEL_COMPANY_NO = ''
              }
              this.datareport.push(s)
            }
            // this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        })
    },
    onSubmitApprove (item) {
      this.checksubmit = false
      this.$swal({
        title: 'ตรวจสอบก่อนอนุมัติข้อมูล',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการอนุมัติหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'อนุมัติ',
        cancelButtonText: 'อนุมัติ และตรวจสอบ!'
      }).then((result) => {
        const url = `${this.$apiUrl}Zoom/Process/updateData`
        const config = {
          headers: {
            'Content-Type': 'application/json',
            'Application-Key': this.$apiToken
          }
        }
        const dt = {
          id: item.id,
          status: 'Approve',
          userNameApprove: this.session.data.User_NM,
          remarkApprove: this.form.remarkApprove
        }
        axios
          .post(url, dt, config)
          .then((response) => {
            this.dataReady = true
            if (response.data.status === 'FALSE') {
              this.form.remarkApprove = ''
              this.$swal('ผิดพลาด', response.data.message, 'error')
            } else {
              // location.reload()
              this.getData()
              this.$swal('เรียบร้อย', response.data.message, 'success')
            }
          })
      }).catch((error) => {
        // eslint-disable-next-line no-console
        console.log(error)
      })
    },
    onSubmitUnApprove (item) {
      this.checksubmit = false
      this.$swal({
        title: 'ตรวจสอบก่อนยกเลิกข้อมูล',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการยกเลิกหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'ยกเลิกข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      }).then((result) => {
        const url = `${this.$apiUrl}Zoom/Process/updateData`
        const config = {
          headers: {
            'Content-Type': 'application/json',
            'Application-Key': this.$apiToken
          }
        }
        const dt = {
          id: item.id,
          status: 'Unapprove',
          userNameApprove: this.session.data.User_NM,
          remarkApprove: this.form.remarkApprove
        }
        axios
          .post(url, dt, config)
          .then((response) => {
            this.dataReady = true
            if (response.data.status === 'FALSE') {
              this.form.remarkApprove = ''
              this.$swal('ผิดพลาด', response.data.message, 'error')
            } else {
              this.form.remarkApprove = ''
              const url = `${this.$apiUrl}Zoom/Process/updateStockData`
              const config = {
                headers: {
                  'Content-Type': 'application/json',
                  'Application-Key': this.$apiToken
                }
              }
              const dt = {
                id: item.roomID,
                statusUse: 'Free',
                LAST_USER: this.session.data.User_NM
              }
              axios
                .post(url, dt, config)
                .then((response) => {
                  // location.reload()
                  this.getData()
                  this.$swal('เรียบร้อย', response.data.message, 'success')
                })
            }
          })
      }).catch((error) => {
        // eslint-disable-next-line no-console
        console.log(error)
        this.dataReady = true
      })
    },
    onExport () {
      const dataWS = XLSX.utils.json_to_sheet(this.datareport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'ReportCode4.xlsx')
    }
  }
}
</script>
<style>
  table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
