<template>
  <div>
    <v-content>
      <div class="banner">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/foxfox-honda.appspot.com/o/S__140157052.jpg?alt=media&token=22a22169-c618-481d-9175-444948b3b6ac"
          style="height: 120px !important"
        />
      </div>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-title>
                <span class="headline">รับคูปอง</span>
              </v-card-title>
              <v-card-text>
                <v-row>
                  <v-col cols="12">
                    <v-card>
                    <v-img
                      :src="require('@/assets/VGROUP_coupon.jpg')"
                      max-height="140"
                      contain
                      class="grey darken-4"
                    ></v-img>
                  </v-card>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-card>
                      <v-card-text>
                        <div class="a" v-html="message"></div>
                      </v-card-text>
                  </v-card>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-btn color="info" href="https://lin.ee/5mipdWp" block>
                      กดเพื่อรับ คูปอง
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
// import axios from 'axios'
// import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  // beforeCreate () {
  //   this.$liff.init({ liffId: this.$liff_question }, function (data) {})
  // },
  components: {
    // DatePicker,
    // 'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      message: '<li>คูปองล้างรถฟรี 1 ครั้ง</li><li>ใช้ได้ตั้งแต่วันที่ 1 เม.ย. 64 - 31 ธ.ค. 64</li><li>โปรดแสดงคูปอง และกดรับคูปองเมื่อเข้ารับบริการ</li><li>เฉพาะรถยนต์ฮอนด้า เท่านั้น</li><li>สามารถเข้ารับบริการที่ศูนย์บริการ วี กรุ๊ป ฮอนด้า ทั้ง 4 สาขา (แจ้งวัฒนะ, หนองแขม, บางกอกน้อย, ปากเกร็ด-เมืองทอง)</li><li>สามารถเข้ารับบริการทุกวันจันทร์-ศุกร์ (ยกเว้นเสาร์-อาทิตย์ และวันหยุดนักขัตฤกษ์)</li><li>คูปองนี้เป็นกรรมสิทธิ์ของศูนย์บริการ วี กรุ๊ป ฮอนด้า</li><li>ขอสงวนสิทธิ์ในการเปลี่ยนแปลงเงื่อนไข</li><h6>หรือกฎเกณฑ์ตามความเหมาะสมโดยไม่ต้องแจ้งให้ทราบล่วงหน้าหรือกฎเกณฑ์ตามความเหมาะสมโดยไม่ต้องแจ้งให้ทราบล่วงหน้า</h6>'
    }
  },

  // eslint-disable-next-line space-before-function-paren
  async mounted() {
    // await this.checkLiffLogin()
    // await this.getListData()
  },
  methods: {
    async checkLiffLogin () {
      await this.$liff.ready.then(async () => {
        if (process.env.NODE_ENV === 'development') {
          this.getProfile_dev()
        } else {
          if (!this.$liff.isLoggedIn()) {
            this.$liff.login({ redirectUri: window.location })
          } else {
            await this.getProfile()
          }
        }
      })
    },
    closeWindow () {
      this.$liff.closeWindow()
    },
    async getProfile () {
      let _this = this
      setTimeout(() => _this.closeWindow(), 1000)
      // await this.$liff
      //   .getProfile()
      //   .then(async (profileLine) => {
      //     _this.form.userId = profileLine.userId
      //     _this.form.pictureUrl = profileLine.pictureUrl
      //     // eslint-disable-next-line handle-callback-err
      //     await axios
      //       .get(
      //         'https://asia-northeast1-foxfox-honda.cloudfunctions.net/bq_selete_all_Questionnaire?userId=' +
      //       profileLine.userId
      //       )
      //       .then(async (response) => {
      //         if (response.data.length > 0) {
      //           this.sendMessageClose()
      //         }
      //       })
      //   })
      //   .catch(function (error) {
      //     console.log(error)
      //   })
    },
    async getProfile_dev () {
    }
  }
}
</script>
<style scoped>
.banner {
  text-align:center;background-color:#000;
}
#xxxxxx {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  /* color: #2c3e50; */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
</style>
