<template>
  <div>
    <v-content>
    </v-content>
  </div>
</template>

<script>
// import axios from 'axios'
// import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  beforeCreate () {
    this.$liff.init({ liffId: this.$liff_question }, function (data) {})
  },
  components: {
    // DatePicker,
    // 'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
    }
  },

  // eslint-disable-next-line space-before-function-paren
  async mounted() {
    await this.checkLiffLogin()
    // await this.getListData()
  },
  methods: {
    async checkLiffLogin () {
      await this.$liff.ready.then(async () => {
        if (process.env.NODE_ENV === 'development') {
          this.getProfile_dev()
        } else {
          if (!this.$liff.isLoggedIn()) {
            this.$liff.login({ redirectUri: window.location })
          } else {
            await this.getProfile()
          }
        }
      })
    },
    closeWindow () {
      this.$liff.closeWindow()
    },
    async getProfile () {
      let _this = this
      setTimeout(() => _this.closeWindow(), 1000)
      // await this.$liff
      //   .getProfile()
      //   .then(async (profileLine) => {
      //     _this.form.userId = profileLine.userId
      //     _this.form.pictureUrl = profileLine.pictureUrl
      //     // eslint-disable-next-line handle-callback-err
      //     await axios
      //       .get(
      //         'https://asia-northeast1-foxfox-honda.cloudfunctions.net/bq_selete_all_Questionnaire?userId=' +
      //       profileLine.userId
      //       )
      //       .then(async (response) => {
      //         if (response.data.length > 0) {
      //           this.sendMessageClose()
      //         }
      //       })
      //   })
      //   .catch(function (error) {
      //     console.log(error)
      //   })
    },
    async getProfile_dev () {
    }
  }
}
</script>
<style scoped>
.banner {
  text-align:center;background-color:#000;
}
</style>
