<template>
  <div>
    <v-content>
    </v-content>
  </div>
</template>

<script>
// import axios from 'axios'
// import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  beforeCreate () {
    this.$liff.init({ liffId: this.$liff_question }, function (data) {})
  },
  components: {
    // DatePicker,
    // 'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      menu1: false,
      dialog: false,
      dialog2: false,
      optionCoupon: [
        { text: 'บัตรเติมน้ำมัน', value: 'บัตรเติมน้ำมัน' },
        { text: 'บัตรเงินสด (โลตัส เซ็นทรัส)', value: 'บัตรเงินสด (โลตัส เซ็นทรัส)' }
      ],
      optionPrivilege: [
        { text: 'ส่วนลด', value: 'ส่วนลด' },
        { text: 'คูปอง', value: 'คูปอง' },
        { text: 'ของที่ระลึก Premium', value: 'ของที่ระลึก Premium' }
      ],
      optionGender: [
        { text: 'หญิง', value: 'หญิง' },
        { text: 'ชาย', value: 'ชาย' },
        { text: 'อื่นๆ', value: 'อื่นๆ' }
      ],
      optionSalary: [
        { text: 'น้อยกว่า 15,000 บาท', value: 'น้อยกว่า 15,000 บาท' },
        { text: '15,001 - 30,000 บาท', value: '15,001 - 30,000 บาท' },
        { text: '30,001 - 50,000 บาท', value: '30,001 - 50,000 บาท' },
        { text: 'มากกว่า 50,001 บาท', value: 'มากกว่า 50,001 บาท' }
      ],
      optionOccupation: [
        { text: 'นักเรียน/ นักศึกษา', value: 'นักเรียน/ นักศึกษา' },
        { text: 'ข้าราชการ', value: 'ข้าราชการ' },
        { text: 'รัฐวิสาหกิจ', value: 'รัฐวิสาหกิจ' },
        { text: 'พนักงานบริษัทเอกชน', value: 'พนักงานบริษัทเอกชน' },
        { text: 'เจ้าของธุรกิจ', value: 'เจ้าของธุรกิจ' },
        { text: 'อื่นๆ', value: 'อื่นๆ' }
      ],
      optionAge: [
        { text: 'ต่ำกว่า 20 ปี', value: 'ต่ำกว่า 20 ปี' },
        { text: '20 - 30 ปี', value: '20 - 30 ปี' },
        { text: '30 - 40 ปี', value: '30 - 40 ปี' },
        { text: 'มากกว่า 40 ปี', value: 'มากกว่า 40 ปี' }
      ],
      rules: {
        required: value => !!value || 'Required.',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      form: {
        email: '',
        gender: '',
        dateBirthday: '',
        age: '',
        ownership1: '',
        ownership2: '',
        ownership3: '',
        ownership4: '',
        occupationSelect: '',
        occupation: '',
        salary: '',
        remarkService1: '',
        remarkService2: '',
        remarkService3: '',
        remarkService4: '',
        remarkService5: '',
        remarkService6: '',
        remarkService7: '',
        privilege: '',
        remarkDiscount: '',
        remarkCoupon: '',
        remarlPremium1: '',
        remarlPremium2: '',
        remarlPremium3: '',
        remarlPremium4: '',
        remarlPremium5: '',
        remarlPremium6: '',
        remarlPremium7: '',
        remarlPremium8: '',
        remarlPremium9: '',
        userId: '',
        pictureUrl: ''
      },
      dateTime: ''
    }
  },

  // eslint-disable-next-line space-before-function-paren
  async mounted() {
    await this.checkLiffLogin()
    // await this.getListData()
  },
  methods: {
    async checkLiffLogin () {
      await this.$liff.ready.then(async () => {
        if (process.env.NODE_ENV === 'development') {
          this.getProfile_dev()
        } else {
          if (!this.$liff.isLoggedIn()) {
            this.$liff.login({ redirectUri: window.location })
          } else {
            await this.getProfile()
          }
        }
      })
    },
    sendMessageClose () {
      let _this = this
      this.$liff.sendMessages([
        {
          type: 'text',
          text: 'คุณลูกค้าได้ทำรายการแล้ว ขอบคุณครับ'
        },
        {
          type: 'sticker',
          packageId: '11537',
          stickerId: '52002739'
        }
      ]).then(function () {
        _this.closeWindow()
        console.log('Message sent')
      }).catch(function (error) {
        console.log('Error sending message: ' + error)
      })
    },
    sendMessageSuccess () {
      let _this = this
      this.$liff.sendMessages([
        {
          type: 'text',
          text: 'ขอขอบคุณ คุณลูกค้าที่ตอบแบบสอบถามค่ะ \r\n รับคูปอง คลิก ➤  \r\n https://vgroup-system.web.app/vlink/getCoupon'
        },
        {
          type: 'sticker',
          packageId: '11537',
          stickerId: '52002734'
        }
      ]).then(function () {
        _this.closeWindow()
        console.log('Message sent')
      }).catch(function (error) {
        console.log('Error sending message: ' + error)
      })
    },
    closeWindow () {
      this.$liff.closeWindow()
    },
    async getProfile () {
      let _this = this
      _this.sendMessageSuccess()
      // setTimeout(() => _this.sendMessageSuccess(), 3000)
      // await this.$liff
      //   .getProfile()
      //   .then(async (profileLine) => {
      //     _this.form.userId = profileLine.userId
      //     _this.form.pictureUrl = profileLine.pictureUrl
      //     // eslint-disable-next-line handle-callback-err
      //     await axios
      //       .get(
      //         'https://asia-northeast1-foxfox-honda.cloudfunctions.net/bq_selete_all_Questionnaire?userId=' +
      //       profileLine.userId
      //       )
      //       .then(async (response) => {
      //         if (response.data.length > 0) {
      //           this.sendMessageClose()
      //         }
      //       })
      //   })
      //   .catch(function (error) {
      //     console.log(error)
      //   })
    },
    async getProfile_dev () {
    }
  }
}
</script>
<style scoped>
.banner {
  text-align:center;background-color:#000;
}
</style>
