<template>
  <div>
    <v-content>
      <div class="banner">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/foxfox-honda.appspot.com/o/S__140157052.jpg?alt=media&token=22a22169-c618-481d-9175-444948b3b6ac"
          style="height: 120px !important"
        />
      </div>
      <v-dialog persistent v-model="sheet" width="600px">
        <v-card>
          <v-card-title>
            <!-- <span class="headline">Use Google's location service?</span> -->
          </v-card-title>
          <v-card-text>
            <div class="a" v-html="privacyConfigDetail"></div>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red darken-1"
              text
              @click="
                (sheet = false),
                  $router.push('/vlink/QuestionnaireEmplyPrivacy')
              "
            >
              ไม่ยอมรับ
            </v-btn>
            <v-btn color="green darken-1" text @click="sheet = false">
              ยอมรับ
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4" v-if="!chkCar">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-title>
                <span class="headline">กรุณาตรวจสอบทะเบียนรถของท่าน</span>
              </v-card-title>
              <v-alert
                dense
                border="left"
                type="warning"
              >
              <v-row align="center">
        <v-col class="grow">
          โปรดอ่าน <br>
                1.ตรวจสอบเลขทะเบียนรถของท่านให้ถูกต้อง <br>
                2.กดปุ่มสีเขียวเพื่อยืนยัน
                 <v-btn color="success" dark fab small>
                      <v-icon dark> mdi-check-circle </v-icon>
                    </v-btn>
        </v-col>
      </v-row>
              </v-alert>
              <v-card-text>
                <v-data-table
                  dense
                  :headers="headers"
                  :items="dataCarEdit"
                  item-key="name"
                  class="elevation-1"
                  hide-default-footer
                >
                  <template v-slot:[`item.action`]="{ item }">
                    <v-btn color="warning" fab small @click="editItem(item)">
                      <v-icon dark> mdi-car-cog </v-icon>
                    </v-btn>
                  </template>
                  <template v-slot:[`item.actionStatus`]="{ item }">
                    <v-btn color="success" dark fab small @click="editItemStatus(item.chkStatus = 'ยืนยันแล้ว')" v-if="item.chkStatus === 'รอการยืนยัน'">
                      <v-icon dark> mdi-check-circle </v-icon>
                    </v-btn>
                    <v-btn color="error" dark fab small @click="editItemStatus(item.chkStatus = 'รอการยืนยัน')" v-if="item.chkStatus === 'ยืนยันแล้ว'">
                      <v-icon dark> mdi-backup-restore </v-icon>
                    </v-btn>
                  </template>
                </v-data-table>
                <v-dialog v-model="dialog3" persistent max-width="600px">
                      <v-card>
                        <v-card-title>
                          <span class="headline">แก้ไขข้อมูลรถ</span>
                        </v-card-title>
                        <v-card-text>
                          <v-container>
                            <v-row>
                              <v-col cols="12">
                                <v-text-field
                                  label="ทะเบียนรถ"
                                  v-model="editedItem.regNoEdit"
                                  required
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="blue darken-1"
                            text
                            @click="save"
                          >
                            ตกลง
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="blue darken-1"
                    block
                    dark
                    @click="chktext()"
                >
                    ข้อมูลถูกต้องแล้ว
                </v-btn>
                <!-- <v-btn
                    color="blue darken-1"
                    text
                    @click="chkCar = true"
                >
                    ข้อมูลถูกต้องแล้ว
                </v-btn> -->
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </div>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4" v-if="chkCar">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-title>
                <v-icon>mdi-alpha-v-circle-outline</v-icon>
                แบบสอบถามการให้บริการ
              </v-card-title>
              <v-card-text>
                <validation-observer
                  ref="observer"
                  v-slot="{ invalid }"
                >
                  <form @submit.prevent="submit">
                <small style="color: #ba2e00">*จำเป็น</small>
                <v-row style="height: 50px">
                  <v-col cols="12">
                    <!-- <v-text-field
                      v-model="form.email"
                      :rules="[rules.required, rules.email]"
                      label="Email"
                      dense
                      outlined
                    /> -->
                    <validation-provider
                      v-slot="{ errors }"
                      name="email"
                      rules="required|email"
                    >
                      <v-text-field
                        v-model="form.email"
                        :error-messages="errors"
                        label="E-mail"
                        required
                        dense
                        outlined
                      ></v-text-field>
                    </validation-provider>
                  </v-col>
                </v-row>
                <hr />
                <v-row style="height: 70px">
                  <v-col cols="12">
                    <small style="color: #ba2e00">*จำเป็น</small>
                    <v-select
                      label="เพศ"
                      :items="optionGender"
                      v-model="form.gender"
                      dense
                      outlined
                    ></v-select>
                  </v-col>
                </v-row>
                <hr />
                <small style="color: #ba2e00">*จำเป็น</small>
                <v-row style="height: 60px">
                  <v-col cols="10">
                    <!-- <v-subheader>เพื่อรับสิทธิประโยชน์ในช่วงเดือนเกิด (พ่นฆ่าเชื้อ + ล้างรถฟรี 1 คันในเดือนเกิด)</v-subheader> -->
                    <v-menu
                      v-model="menu1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="form.dateBirthday"
                          label="วันเดือนปีเกิด"
                          prepend-icon="mdi-calendar"
                          readonly
                          dense
                          outlined
                          v-bind="attrs"
                          v-on="on"
                        />
                      </template>
                      <v-date-picker
                        v-model="form.dateBirthday"
                        locale="th-th"
                        @input="menu1 = false"
                      />
                    </v-menu>
                  </v-col>
                  <v-col cols="2">
                    <v-btn icon color="cyan" @click="dialog = true">
                      <v-icon>mdi-chat-question</v-icon>
                    </v-btn>
                  </v-col>
                  <v-dialog v-model="dialog">
                    <v-card>
                      <v-card-title class="headline"> </v-card-title>
                      <v-card-text>
                        เพื่อรับสิทธิประโยชน์ในช่วงเดือนเกิด (พ่นฆ่าเชื้อ +
                        ล้างรถฟรี 1 คันในเดือนเกิด)
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" text @click="dialog = false">
                          ตกลง
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-row>
                <hr />
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <small style="color: #ba2e00">*จำเป็น</small>
                    <v-select
                      label="อายุ"
                      :items="optionAge"
                      v-model="form.age"
                      dense
                      outlined
                    ></v-select>
                  </v-col>
                </v-row>
                <hr />
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <small style="color: #ba2e00">*จำเป็น</small>
                    <h6>การครอบครองกรรมสิทธิ์</h6>
                    <p>เลือกได้มากกว่า 1 ข้อ</p>
                  </v-col>
                </v-row>
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <v-checkbox
                      v-model="form.ownership1"
                      label="ผู้ใช้รถยนต์"
                      value="ผู้ใช้รถยนต์"
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <v-checkbox
                      v-model="form.ownership2"
                      label="ผู้ถือกรรมสิทธิ์, ผู้เช่าซื้อ"
                      value="ผู้ถือกรรมสิทธิ์, ผู้เช่าซื้อ"
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <v-checkbox
                      v-model="form.ownership3"
                      label="รถบริษัท (นิติบุคคล), รถเช่า"
                      value="รถบริษัท (นิติบุคคล), รถเช่า"
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <v-row style="height: 50px">
                  <v-col cols="12">
                    <v-checkbox
                      v-model="form.ownership4"
                      label="ชื่อผู้ออกใบกำกับ"
                      value="ชื่อผู้ออกใบกำกับ"
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <hr />
                <v-row style="height: 70px">
                  <v-col cols="12">
                    <small style="color: #ba2e00">*จำเป็น</small>
                    <v-select
                      label="อาชีพ"
                      :items="optionOccupation"
                      v-model="form.occupationSelect"
                      dense
                      outlined
                      @change="chkOccupation()"
                    ></v-select>
                  </v-col>
                </v-row>
                <v-row
                  style="height: 70px"
                  v-if="form.occupationSelect === 'อื่นๆ'"
                >
                  <v-col>
                    <small style="color: #ba2e00">*จำเป็น</small>
                    <v-text-field
                      v-model="form.occupation"
                      label="กรุณา ระบุ"
                      dense
                      outlined
                    />
                  </v-col>
                </v-row>
                <hr />
                <v-row style="height: 70px">
                  <v-col cols="12">
                    <small style="color: #ba2e00">*จำเป็น</small>
                    <v-select
                      label="เงินเดือน"
                      :items="optionSalary"
                      v-model="form.salary"
                      dense
                      outlined
                    ></v-select>
                  </v-col>
                </v-row>
                <hr />
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <small style="color: #ba2e00">*จำเป็น</small>
                    <h6>เหตุผลหลักในการเลือกใช้บริการ</h6>
                    <p>เลือกได้มากกว่า 1 ข้อ</p>
                  </v-col>
                </v-row>
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <v-checkbox
                      v-model="form.remarkService1"
                      label="ทำเลที่ตั้งที่เหมาะสมง่ายต่อการเข้าใช้บริการ"
                      value="ทำเลที่ตั้งที่เหมาะสมง่ายต่อการเข้าใช้บริการ"
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <v-checkbox
                      v-model="form.remarkService2"
                      label="อะไหล่เพียงพอต่อการให้บริการ ไม่ต้องรอสั่งซื้ออะไหล่"
                      value="อะไหล่เพียงพอต่อการให้บริการ ไม่ต้องรอสั่งซื้ออะไหล่"
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <v-checkbox
                      v-model="form.remarkService3"
                      label="กระบวนการในการให้บริการทีรวดเร็ว และเป็นมาตรฐาน"
                      value="กระบวนการในการให้บริการทีรวดเร็ว และเป็นมาตรฐาน"
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <v-checkbox
                      v-model="form.remarkService4"
                      label="บริการและโปรโมชั่นน่าสนใจ"
                      value="บริการและโปรโมชั่นน่าสนใจ"
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <v-checkbox
                      v-model="form.remarkService5"
                      label="บริการซ่อมที่มีคุณภาพ รวมไปถึงรับประกันคุณภาพหลังการซ่อม"
                      value="บริการซ่อมที่มีคุณภาพ รวมไปถึงรับประกันคุณภาพหลังการซ่อม"
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <v-checkbox
                      v-model="form.remarkService6"
                      label="ช่องทางในการติดต่อสื่อสารได้ง่าย"
                      value="ช่องทางในการติดต่อสื่อสารได้ง่าย"
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <v-checkbox
                      v-model="form.remarkService7"
                      label="เจ้าหน้าที่เอาใจใสให้ความสำคัญกับลูกค้าได้ทั่วถึง"
                      value="เจ้าหน้าที่เอาใจใสให้ความสำคัญกับลูกค้าได้ทั่วถึง"
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <hr />
                <v-row style="height: 70px">
                  <v-col cols="12">
                    <small style="color: #ba2e00">*จำเป็น</small>
                    <v-select
                      label="สิทธิพิเศษที่ต้องการนอกเหนือจากการบริการที่ วี. กรุ๊ป ฮอนด้า"
                      :items="optionPrivilege"
                      v-model="form.privilege"
                      dense
                      outlined
                    ></v-select>
                  </v-col>
                </v-row>
                <hr />
                <v-row style="height: 60px">
                  <v-col cols="12">
                    <h6>
                      ท่านคิดว่าการบริการของ V Group Honda
                      ควรจะปรับปรุงในเรื่องใด
                    </h6>
                  </v-col>
                </v-row>
                <v-row style="height: 70px">
                  <v-col cols="12">
                    <v-text-field
                      v-model="form.remarkDiscount"
                      label=""
                      dense
                      outlined
                    />
                  </v-col>
                </v-row>
                <hr />
                <!-- <small style="color: #ba2e00">*กรุณากรอก Email ให้ถูกต้อง ปุ่ม <v-chip
                  class="ma-2"
                  color="green"
                  text-color="white"
                >ต่อไป</v-chip> ถึงจะปรากฏครับ</small> -->
                <v-row style="height: 70px">
                  <v-col cols="12">
                    <v-btn color="teal darken-1" :disabled="invalid" dark @click="chkPrivilege()">
                      ต่อไป
                    </v-btn>
                  </v-col>
                </v-row>
                <v-dialog v-model="dialog2" persistent>
                  <v-card>
                    <v-card-title>
                      <span class="headline" v-if="form.privilege !== 'ส่วนลด'">{{ form.privilege }}</span>
                      <span class="headline" v-if="form.privilege === 'ส่วนลด'">ยืนยันการส่งแบบสอบถาม</span>
                    </v-card-title>
                    <v-card-text>
                      <v-container>
                        <!-- <v-row v-if="form.privilege === 'ส่วนลด'">
                          <v-col cols="12">
                            <v-text-field
                                v-model="form.remarkDiscount"
                                label="ท่านคิดว่าการบริการของ V Group Honda ควรจะปรับปรุงในเรื่องใด"
                                dense
                                outlined
                            />
                          </v-col>
                        </v-row> -->
                        <v-row style="height: 40px" v-if="form.privilege === 'คูปอง'">
                          <v-col cols="12">
                            <h6>คูปอง</h6>
                            <p>เลือกได้มากกว่า 1 ข้อ</p>
                          </v-col>
                        </v-row>
                        <v-row
                          style="height: 60px"
                          v-if="form.privilege === 'คูปอง'"
                        >
                          <v-col cols="12">
                            <v-checkbox
                              v-model="form.remarkCoupon"
                              label="บัตรเติมน้ำมัน"
                              value="บัตรเติมน้ำมัน"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                        <v-row
                          style="height: 60px"
                          v-if="form.privilege === 'คูปอง'"
                        >
                          <v-col cols="12">
                            <v-checkbox
                              v-model="form.remarkCoupon2"
                              label="บัตรเงินสด (โลตัส เซ็นทรัล)"
                              value="บัตรเงินสด (โลตัส เซ็นทรัล)"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                          <!-- <v-col cols="12">
                            <v-select
                              label="คูปอง"
                              :items="optionCoupon"
                              v-model="form.remarkCoupon"
                              dense
                              outlined
                            ></v-select>
                          </v-col>
                        </v-row> -->
                        <v-row
                          style="height: 40px"
                          v-if="form.privilege === 'ของที่ระลึก Premium'"
                        >
                          <v-col cols="12">
                            <h6>ของที่ระลึก Premium</h6>
                            <p>เลือกได้มากกว่า 1 ข้อ</p>
                          </v-col>
                        </v-row>
                        <v-row
                          style="height: 60px"
                          v-if="form.privilege === 'ของที่ระลึก Premium'"
                        >
                          <v-col cols="12">
                            <v-checkbox
                              v-model="form.remarlPremium1"
                              label="ปากกา/ สมุด"
                              value="ปากกา/ สมุด"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                        <v-row
                          style="height: 60px"
                          v-if="form.privilege === 'ของที่ระลึก Premium'"
                        >
                          <v-col cols="12">
                            <v-checkbox
                              v-model="form.remarlPremium2"
                              label="แก้วมัค/ กระติกน้ำร้อน"
                              value="แก้วมัค/ กระติกน้ำร้อน"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                        <v-row
                          style="height: 60px"
                          v-if="form.privilege === 'ของที่ระลึก Premium'"
                        >
                          <v-col cols="12">
                            <v-checkbox
                              v-model="form.remarlPremium3"
                              label="ถุงผ้า"
                              value="ถุงผ้า"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                        <v-row
                          style="height: 60px"
                          v-if="form.privilege === 'ของที่ระลึก Premium'"
                        >
                          <v-col cols="12">
                            <v-checkbox
                              v-model="form.remarlPremium4"
                              label="หมอน - ผ้าห่ม/ หมอน - หมอนรองคอ"
                              value="หมอน - ผ้าห่ม/ หมอน - หมอนรองคอ"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                        <v-row
                          style="height: 60px"
                          v-if="form.privilege === 'ของที่ระลึก Premium'"
                        >
                          <v-col cols="12">
                            <v-checkbox
                              v-model="form.remarlPremium5"
                              label="น้ำหอมในรถยนต์"
                              value="น้ำหอมในรถยนต์"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                        <v-row
                          style="height: 60px"
                          v-if="form.privilege === 'ของที่ระลึก Premium'"
                        >
                          <v-col cols="12">
                            <v-checkbox
                              v-model="form.remarlPremium6"
                              label="ม่านบังแดด"
                              value="ม่านบังแดด"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                        <v-row
                          style="height: 60px"
                          v-if="form.privilege === 'ของที่ระลึก Premium'"
                        >
                          <v-col cols="12">
                            <v-checkbox
                              v-model="form.remarlPremium7"
                              label="ร่ม"
                              value="ร่ม"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                        <v-row
                          style="height: 60px"
                          v-if="form.privilege === 'ของที่ระลึก Premium'"
                        >
                          <v-col cols="12">
                            <v-checkbox
                              v-model="form.remarlPremium8"
                              label="กล่องรองเท้า"
                              value="กล่องรองเท้า"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                        <v-row
                          style="height: 60px"
                          v-if="form.privilege === 'ของที่ระลึก Premium'"
                        >
                          <v-col cols="12">
                            <v-checkbox
                              v-model="form.remarlPremium9"
                              label="ถังขยะใส่ในรถ"
                              value="ถังขยะใส่ในรถ"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                      </v-container>
                      <!-- <small>*indicates required field</small> -->
                    </v-card-text>
                    <v-card-actions v-if="statusF">
                      <v-spacer></v-spacer>
                      <v-btn color="red darken-1" dark @click="dialog2 = false">
                        ปิดหน้านี้
                      </v-btn>
                      <v-btn color="blue darken-1" dark @click="onSubmit()">
                        ส่งแบบสอบถาม
                      </v-btn>
                    </v-card-actions>
                    <v-card-actions v-if="!statusF">
                      <v-spacer></v-spacer>
                      <div class="text-center">
                        <v-progress-circular
                          :size="20"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>

                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>

                        <v-progress-circular
                          :size="40"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>

                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>

                        <v-progress-circular
                          :size="20"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                      </div>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                  </form>
                </validation-observer>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios'
import { required, digits, email, max, regex } from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'

setInteractionMode('eager')

extend('digits', {
  ...digits,
  message: '{_field_} needs to be {length} digits. ({_value_})'
})

extend('required', {
  ...required,
  message: '{_field_} can not be empty'
})

extend('max', {
  ...max,
  message: '{_field_} may not be greater than {length} characters'
})

extend('regex', {
  ...regex,
  message: '{_field_} {_value_} does not match {regex}'
})
extend('email', {
  ...email,
  message: 'กรุณากรอก Email ให้ถูกต้อง'
})

// import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  beforeCreate () {
    this.$liff.init({ liffId: this.$liff_question }, function (data) {})
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data () {
    return {
      chkCar: false,
      sheet: false,
      menu1: false,
      dialog: false,
      dialog2: false,
      dialog3: false,
      statusF: true,
      optionCoupon: [
        { text: 'บัตรเติมน้ำมัน', value: 'บัตรเติมน้ำมัน' },
        {
          text: 'บัตรเงินสด (โลตัส เซ็นทรัส)',
          value: 'บัตรเงินสด (โลตัส เซ็นทรัส)'
        }
      ],
      optionPrivilege: [
        { text: 'ส่วนลด', value: 'ส่วนลด' },
        { text: 'คูปอง', value: 'คูปอง' },
        { text: 'ของที่ระลึก Premium', value: 'ของที่ระลึก Premium' }
      ],
      optionGender: [
        { text: 'หญิง', value: 'หญิง' },
        { text: 'ชาย', value: 'ชาย' },
        { text: 'อื่นๆ', value: 'อื่นๆ' }
      ],
      optionSalary: [
        { text: 'น้อยกว่า 15,000 บาท', value: 'น้อยกว่า 15,000 บาท' },
        { text: '15,001 - 30,000 บาท', value: '15,001 - 30,000 บาท' },
        { text: '30,001 - 50,000 บาท', value: '30,001 - 50,000 บาท' },
        { text: 'มากกว่า 50,001 บาท', value: 'มากกว่า 50,001 บาท' }
      ],
      optionOccupation: [
        { text: 'นักเรียน/ นักศึกษา', value: 'นักเรียน/ นักศึกษา' },
        { text: 'ข้าราชการ', value: 'ข้าราชการ' },
        { text: 'รัฐวิสาหกิจ', value: 'รัฐวิสาหกิจ' },
        { text: 'พนักงานบริษัทเอกชน', value: 'พนักงานบริษัทเอกชน' },
        { text: 'เจ้าของธุรกิจ', value: 'เจ้าของธุรกิจ' },
        { text: 'อื่นๆ', value: 'อื่นๆ' }
      ],
      optionAge: [
        { text: 'ต่ำกว่า 20 ปี', value: 'ต่ำกว่า 20 ปี' },
        { text: '20 - 30 ปี', value: '20 - 30 ปี' },
        { text: '30 - 40 ปี', value: '30 - 40 ปี' },
        { text: 'มากกว่า 40 ปี', value: 'มากกว่า 40 ปี' }
      ],
      rules: {
        required: (value) => !!value || 'Required.',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      form: {
        email: '',
        gender: '',
        dateBirthday: '',
        age: '',
        ownership1: '',
        ownership2: '',
        ownership3: '',
        ownership4: '',
        occupationSelect: '',
        occupation: '',
        salary: '',
        remarkService1: '',
        remarkService2: '',
        remarkService3: '',
        remarkService4: '',
        remarkService5: '',
        remarkService6: '',
        remarkService7: '',
        privilege: '',
        remarkDiscount: '',
        remarkCoupon: '',
        remarkCoupon2: '',
        remarlPremium1: '',
        remarlPremium2: '',
        remarlPremium3: '',
        remarlPremium4: '',
        remarlPremium5: '',
        remarlPremium6: '',
        remarlPremium7: '',
        remarlPremium8: '',
        remarlPremium9: '',
        userId: '',
        pictureUrl: ''
      },
      editedIndex: -1,
      editedItem: {
        regNoEdit: '',
        chkStatus: ''
      },
      headers: [
        { text: 'หมายเลขตัวถัง', value: 'frameNoEdit' },
        // { text: 'ปีรถ', value: 'MODEL_YEAR' },
        { text: 'ทะเบียน', value: 'regNoEdit' },
        { text: 'แก้ไขกรุณากดปุ่ม', value: 'action', sortable: false, align: 'center' },
        { text: 'กดปุ่มเพื่อ ยืนยันรถยนต์', value: 'actionStatus', sortable: false, align: 'center' }
      ],
      dateTime: '',
      dataCar: [],
      dataCarEdit: [],
      privacyConfigDetail:
        '<h5 class="ql-align-center"><strong>โปรดคำนึงอย่างจริงจัง</strong></h5><h6 class="ql-align-center">เรื่อง นโยบายความเป็นส่วนตัว</h6><p class="ql-align-center"><br></p><p class="ql-align-center">บริษัท วี.กรุ๊ป ฮอนด้าคาร์ส์ จำกัด เห็นความสำคัญ ในการปกป้องข้อมูลส่วนบุคคล  เพื่อเป็นให้เป็นไปตาม<a href="http://www.ratchakitcha.soc.go.th/DATA/PDF/2562/A/069/T_0052.PDF" rel="noopener noreferrer" target="_blank" style="color: rgb(0, 123, 255);">พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562</a></p><hr class="ql-align-center"><p class="ql-align-center">ผู้ให้บริการให้มี สิทธิการเข้าถึงข้อมูล <code style="color: rgb(232, 62, 140);">(Personal Data Protection Act : PDPA)</code></p><hr><p><strong><u>สำคัญ</u></strong></p><ol><li>ในการใช้บริการนี้ ผู้ใช้ต้องตรวจสอบว่าได้ดำเนินการผ่าน V-LINK ผู้ให้บริการนี้ไม่ ต้องรับผิดชอบต่อความเสียหายใดๆ ที่เกิดจากการใช้บริการจาก แหล่งอื่นที่ไม่ใช่ผู้ให้บริการอย่างเป็นทางการ</li><li>ข้อมูลส่วนบุคคลที่มอบให้แก่บริการนี้และข้อมูลส่วนบุคคลที่ รวบรวมใหม่จะถูกนำไปใช้ภายใต้ความรับผิดชอบของผู้ใช้บริการ นี้ โปรดตรวจสอบรายละเอียดในข้อกำหนดการใช้บริการและ นโยบายความเป็นส่วนตัวของผู้ให้บริการ</li><li>ข้อมูลโปรไฟล์ประกอบด้วย ชื่อ-นามสกุล,วันเกิด ,อีเมลล์</li><li>โปรดตรวจสอบว่า ชื่อ-นามสกุลของท่าน ไม่มีเนื้อหาที่ละเมิดในสิทธิ์ของผู้ใด เช่น ละเมิดลิขสิทธิ์ ละเมิด ความเป็นส่วนตัว ตามที่ระบุในข้อกำหนดการใช้บริการ บริษัท วี.กรุ๊ป ฮอนด้าคาร์ส์ จำกัด</li></ol><p><br></p>'
    }
  },
  computed: {
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('กรุณากรอก Email ให้ถูกต้อง')
      !this.$v.email.required && errors.push('E-mail is required')
      return errors
    }
  },
  // eslint-disable-next-line space-before-function-paren
  async mounted() {
    await this.getNow()
    await this.checkLiffLogin()
    // await this.getListData()
  },
  methods: {
    editItem (item) {
      this.editedIndex = this.dataCarEdit.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog3 = true
    },
    editItemStatus (item) {
      if (item === 'รอการยืนยัน') {
        this.editedItem.chkStatus = 'ยืนยันแล้ว'
      }
      if (item === 'ยืนยันแล้ว') {
        this.editedItem.chkStatus = 'รอการยืนยัน'
      }
      this.editedIndex = this.dataCarEdit.indexOf(item)
      this.editedItem = Object.assign({}, item)
      // this.dialog3 = true
      // this.save()
    },
    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.dataCarEdit[this.editedIndex], this.editedItem)
      } else {
        this.dataCarEdit.push(this.editedItem)
      }
      this.dialog3 = false
      console.log(this.dataCarEdit)
    },
    chktext () {
      console.log(this.dataCarEdit)
      var dataCheck = this.dataCarEdit.filter(function (el) {
        return el.chkStatus === 'ยืนยันแล้ว'
      })
      console.log(dataCheck.length)
      if (dataCheck.length > 0) {
        this.chkCar = true
      } else {
        this.chkCar = false
        this.$swal('ผิดพลาด', 'กรุณากดยืนยันรถยนต์ครับ', 'error')
      }
    },
    submit () {
      this.$refs.observer.validate()
    },
    async checkLiffLogin () {
      await this.$liff.ready.then(async () => {
        if (process.env.NODE_ENV === 'development') {
          this.sheet = true
          this.getProfile_dev()
        } else {
          if (!this.$liff.isLoggedIn()) {
            this.$liff.login({ redirectUri: window.location })
          } else {
            this.sheet = true
            await this.getProfile()
          }
        }
      })
    },
    async chkCars () {
      this.dataCarEdit = []
      let rs = this.dataCar
      for (var i = 0; i < rs.length; i++) {
        var d = rs[i]
        d.frameNoEdit = d.frameNo
        d.regNoEdit = d.licenseNo
        d.chkStatus = 'รอการยืนยัน'
        // this.editedItem.chkStatus = 'รอการยืนยัน'
        // await axios
        //   .get(
        //     'https://asia-northeast1-foxfox-honda.cloudfunctions.net/getAPI_RR_H?frame=' +
        //       d.frameNo +
        //       '&branch=' +
        //       d.branchId
        //   )
        //   .then(async (response) => {
        //     // console.log(response)
        //     d.modelNm = response.data[0].MTO_NM
        //     d.modelYear = response.data[0].MODEL_YEAR
        //     d.MTO_NM = response.data[0].MTO_NM
        //     d.MODEL_YEAR = response.data[0].MODEL_YEAR
        //     d.LICENSE_NO = response.data[0].LICENSE_NO
        this.dataCarEdit.push(d)
        //   })
      }
      console.log(this.dataCarEdit)
    },
    sendMessageClose () {
      let _this = this
      this.$liff
        .sendMessages([
          {
            type: 'text',
            text: 'คุณลูกค้าได้ทำรายการแล้ว ขอบคุณครับ'
          },
          {
            type: 'sticker',
            packageId: '11537',
            stickerId: '52002739'
          }
        ])
        .then(function () {
          _this.closeWindow()
          console.log('Message sent')
        })
        .catch(function (error) {
          console.log('Error sending message: ' + error)
        })
    },
    sendMessageSuccess () {
      let _this = this
      this.$liff
        .sendMessages([
          {
            type: 'text',
            text: 'ขอขอบคุณ คุณลูกค้า ที่กรอกแบบสอบถาม ครับ'
          },
          {
            type: 'sticker',
            packageId: '11537',
            stickerId: '52002734'
          }
        ])
        .then(function () {
          _this.closeWindow()
          console.log('Message sent')
        })
        .catch(function (error) {
          console.log('Error sending message: ' + error)
        })
    },
    closeWindow () {
      this.$liff.closeWindow()
    },
    async getProfile () {
      let _this = this
      await this.$liff
        .getProfile()
        .then(async (profileLine) => {
          _this.form.userId = profileLine.userId
          _this.form.pictureUrl = profileLine.pictureUrl
          // eslint-disable-next-line handle-callback-err
          await axios
            .get(
              'https://asia-northeast1-foxfox-honda.cloudfunctions.net/bq_selete_all_Questionnaire?userId=' +
                profileLine.userId
            )
            .then(async (response) => {
              if (response.data.length > 0) {
                await this.sendMessageClose()
              } else {
                await this.getCar(profileLine.userId)
              }
            })
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    async getCar (userId) {
      this.dataCar = []
      await axios
        .get(
          'https://asia-northeast1-foxfox-honda.cloudfunctions.net/getCarUser?userId=' +
            userId
        )
        .then(async (response) => {
          this.dataCar = response.data
          console.log(response.data)
        })
      await this.chkCars()
    },
    async getProfile_dev () {
      await axios
        .get(
          'https://asia-northeast1-foxfox-honda.cloudfunctions.net/bq_selete_all_Questionnaire?userId=Ua436ee99479e1201b2baaac1edeb5496'
        )
        .then(async (response) => {
          if (response.data.length > 0) {
            this.sendMessageClose()
          } else {
            this.getCar('Ua436ee99479e1201b2baaac1edeb5496')
          }
        })
    },
    chkPrivilege () {
      if (this.form.email !== '') {
        if (this.form.gender !== '') {
          if (this.form.dateBirthday !== '') {
            if (this.form.age !== '') {
              if (
                this.form.ownership1 +
                  this.form.ownership2 +
                  this.form.ownership3 +
                  this.form.ownership4 !==
                ''
              ) {
                if (this.form.occupation !== '') {
                  if (this.form.salary !== '') {
                    if (
                      this.form.remarkService1 +
                        this.form.remarkService2 +
                        this.form.remarkService3 +
                        this.form.remarkService4 +
                        this.form.remarkService5 +
                        this.form.remarkService6 +
                        this.form.remarkService7 !==
                      ''
                    ) {
                      if (this.form.privilege !== '') {
                        this.dialog2 = true
                      } else {
                        this.$swal(
                          'ผิดพลาด',
                          'กรุณาเลือก สิทธิพิเศษที่ต้องการนอกเหนือจากการบริการที่ วี. กรุ๊ป ฮอนด้า',
                          'error'
                        )
                      }
                    } else {
                      this.$swal(
                        'ผิดพลาด',
                        'กรุณาเลือก เหตุผลหลักในการเลือกใช้บริการ',
                        'error'
                      )
                    }
                  } else {
                    this.$swal('ผิดพลาด', 'กรุณาเลือก เงินเดือน', 'error')
                  }
                } else {
                  this.$swal('ผิดพลาด', 'กรุณาเลือก อาชีพ', 'error')
                }
              } else {
                this.$swal(
                  'ผิดพลาด',
                  'กรุณาเลือก การครอบครองกรรมสิทธิ์',
                  'error'
                )
              }
            } else {
              this.$swal('ผิดพลาด', 'กรุณาเลือก ช่วงอายุ', 'error')
            }
          } else {
            this.$swal('ผิดพลาด', 'กรุณาเลือก วันเกิด ของท่าน', 'error')
          }
        } else {
          this.$swal('ผิดพลาด', 'กรุณาเลือก เพศ', 'error')
        }
      } else {
        this.$swal('ผิดพลาด', 'กรุณากรอก Email', 'error')
      }
    },
    chkOccupation () {
      if (this.form.occupationSelect === 'อื่นๆ') {
        this.form.occupation = ''
      } else {
        this.form.occupation = this.form.occupationSelect
      }
    },
    async onSubmit () {
      // this.$v.$touch()
      if (this.form.privilege === 'ส่วนลด') {
        this.form.remarkCoupon = ''
        this.form.remarkCoupon2 = ''
        this.form.remarlPremium1 = ''
        this.form.remarlPremium2 = ''
        this.form.remarlPremium3 = ''
        this.form.remarlPremium4 = ''
        this.form.remarlPremium5 = ''
        this.form.remarlPremium6 = ''
        this.form.remarlPremium7 = ''
        this.form.remarlPremium8 = ''
        this.form.remarlPremium9 = ''
        // await this.getCar(this.form.userId)
        await this.insert()
      }
      if (this.form.privilege === 'คูปอง') {
        console.log(this.form.remarkCoupon + this.form.remarkCoupon2)
        if (this.form.remarkCoupon + this.form.remarkCoupon2 !== '') {
          this.form.remarkDiscount = ''
          this.form.remarlPremium1 = ''
          this.form.remarlPremium2 = ''
          this.form.remarlPremium3 = ''
          this.form.remarlPremium4 = ''
          this.form.remarlPremium5 = ''
          this.form.remarlPremium6 = ''
          this.form.remarlPremium7 = ''
          this.form.remarlPremium8 = ''
          this.form.remarlPremium9 = ''
          // await this.getCar(this.form.userId)
          await this.insert()
        } else {
          this.$swal('ผิดพลาด', 'กรุณาเลือก คูปอง', 'error')
        }
      }
      if (this.form.privilege === 'ของที่ระลึก Premium') {
        if (
          this.form.remarlPremium1 +
            this.form.remarlPremium2 +
            this.form.remarlPremium3 +
            this.form.remarlPremium4 +
            this.form.remarlPremium5 +
            this.form.remarlPremium6 +
            this.form.remarlPremium7 +
            this.form.remarlPremium8 +
            this.form.remarlPremium9 !==
          ''
        ) {
          this.form.remarkDiscount = ''
          this.form.remarkCoupon = ''
          this.form.remarkCoupon2 = ''
          // await this.getCar(this.form.userId)
          await this.insert()
        } else {
          this.$swal('ผิดพลาด', 'กรุณาเลือก ของที่ระลึก Premium', 'error')
        }
      }
    },
    getNow () {
      const today = new Date()
      // console.log(today)
      const date =
        today.getFullYear() +
        '' +
        (today.getMonth() + 1) +
        '' +
        today.getDate()
      const time =
        today.getHours() +
        '' +
        today.getMinutes() +
        '' +
        today.getSeconds() +
        '' +
        today.getUTCMilliseconds()
      const dateTime = date + '' + time
      this.dateTime = dateTime
    },
    async insert () {
      // console.log(this.dataCarEdit)
      // this.$swal({
      //   title: 'ตรวจสอบก่อน ส่งแบบสอบถาม',
      //   text: 'ท่านต้องการส่งหรือไม่',
      //   showCancelButton: true,
      //   confirmButtonColor: '#3085d6',
      //   cancelButtonColor: '#dedede',
      //   confirmButtonText: 'ส่งแบบสอบถาม',
      //   cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      // }).then(async (result) => {
      this.statusF = false
      let rs = this.dataCarEdit
      var pushData = []
      for (var i = 0; i < rs.length; i++) {
        var d = rs[i]
        // const url =
        //   'https://asia-southeast2-betask-crm.cloudfunctions.net/FollowInvoice-bq_insert_targetPlan'
        let dt =
            "('" +
            this.dateTime +
            "','" +
            d.branchId +
            "','" +
            d.customerName +
            "','" +
            d.frameNo +
            "','" +
            d.licenseNo + "','" + d.regNoEdit + "','" + d.chkStatus +
            "')"
        pushData.push(dt)
      }
      var usedata = pushData.map(function (pushBookingNums) {
        return decodeURIComponent(pushBookingNums)
      })
      console.log(usedata)
      if (usedata.length > 0) {
        const url =
            'https://asia-northeast1-foxfox-honda.cloudfunctions.net/bq_insert_QuestionnaireCar'
        await axios.post(url, usedata).then(async (response) => {})
      }
      const url = `https://asia-northeast1-foxfox-honda.cloudfunctions.net/bq_insert_Questionnaire`
      let dt = {
        id: this.dateTime,
        userId: this.form.userId,
        pictureUrl: this.form.pictureUrl,
        email: this.form.email,
        gender: this.form.gender,
        dateBirthday: this.form.dateBirthday,
        age: this.form.age,
        ownership1: this.form.ownership1,
        ownership2: this.form.ownership2,
        ownership3: this.form.ownership3,
        ownership4: this.form.ownership4,
        occupation: this.form.occupation,
        salary: this.form.salary,
        remarkService1: this.form.remarkService1,
        remarkService2: this.form.remarkService2,
        remarkService3: this.form.remarkService3,
        remarkService4: this.form.remarkService4,
        remarkService5: this.form.remarkService5,
        remarkService6: this.form.remarkService6,
        remarkService7: this.form.remarkService7,
        privilege: this.form.privilege,
        // eslint-disable-next-line no-useless-escape
        remarkDiscount: this.form.remarkDiscount
          .trim()
          .replace(/(\r\n|\n|\r)/gm, '')
          .replace(/'/g, "'"),
        // eslint-disable-next-line no-useless-escape
        remarkCoupon: this.form.remarkCoupon
          .trim()
          .replace(/(\r\n|\n|\r)/gm, '')
          .replace(/'/g, "'"),
        remarkCoupon2: this.form.remarkCoupon2
          .trim()
          .replace(/(\r\n|\n|\r)/gm, '')
          .replace(/'/g, "'"),
        remarlPremium1: this.form.remarlPremium1,
        remarlPremium2: this.form.remarlPremium2,
        remarlPremium3: this.form.remarlPremium3,
        remarlPremium4: this.form.remarlPremium4,
        remarlPremium5: this.form.remarlPremium5,
        remarlPremium6: this.form.remarlPremium6,
        remarlPremium7: this.form.remarlPremium7,
        remarlPremium8: this.form.remarlPremium8,
        remarlPremium9: this.form.remarlPremium9
      }
      await axios.post(url, dt).then(async (response) => {
        this.$swal('เรียบร้อย', 'ขอบคุณที่ตอบแบบสอบถาม ครับ', 'success')
        this.$router.push('/vlink/QuestionnaireEmply')
      })
      // })
    }
  }
}
</script>
<style scoped>
.banner {
  text-align: center;
  background-color: #000;
}
#xxxxxx {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  /* color: #2c3e50; */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
</style>
