<template>
<div>
<v-app-bar fixed app>
    <v-app-bar-nav-icon @click.stop="mini =! mini" />
    <v-toolbar-title v-text="title" />
  </v-app-bar>
    <v-navigation-drawer v-model="drawer" :mini-variant.sync="mini" fixed app>
      <v-list>
      <v-list-item>
        <v-list-item-avatar>
          <!-- <v-img src='https://firebasestorage.googleapis.com/v0/b/vgroup-honda.appspot.com/o/1.LOGO_VGROUP_HONDA_RED-01%20(1).png?alt=media&token=bca9873a-b0a3-4171-be46-a44ad24e45dc' /> -->
          <v-img :src="require('@/assets/logo_vgroup.png')"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{ session.data.Name }} {{ session.data.Surname }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <!-- <v-list>
     <v-list-item
        v-for="(item, i) in items"
        :key="i"
        :to="item.to"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list> -->

     <v-list-group
      dense
        :value="true"
        prepend-icon="mdi-react"
        no-action
        v-if="GroupAdmin.length > 0"
      >
      <template v-slot:activator>
          <v-list-item-title>GroupExecutive</v-list-item-title>
        </template>

        <v-list-item
        dense
          v-for="(item, i) in GroupAdmin"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-title dense v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon" dense></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>

       <v-list-group
      dense
        :value="true"
        prepend-icon="mdi-react"
        no-action
        v-if="GroupUser.length > 0"
      >
      <template v-slot:activator>
          <v-list-item-title>GroupCSI</v-list-item-title>
        </template>

        <v-list-item
        dense
          v-for="(item, i) in GroupUser"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-title dense v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon" dense></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>
    <!-- <v-list>
      <v-subheader>Report</v-subheader>
      <v-list-item
        v-for="(item, i) in itemsReport"
        :key="i"
        :to="item.to"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list> -->
    <template v-slot:append>
        <div class="pa-2">
          <v-btn dark color="red" block href="/reportSale/Login">
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'Report Sale System',
      drawer: true,
      mini: false,
      session: this.$session.getAll(),
      GroupAdmin: [],
      GroupUser: [],
      items1: [
        { title: 'Over 150K ', icon: 'mdi-car', to: '/reportSale/Over150K' },
        { title: 'Network', icon: 'groups', to: '/reportSale/Network' },
        { title: 'NetworkStaff', icon: 'groups', to: '/reportSale/NetworkStaff' }
      //   { title: 'Ins none BP', icon: 'mdi-car', to: '/reportService/InsnoneBP' },
      //   { title: 'Warranty Due Date', icon: 'mdi-car', to: '/reportService/EOMNewCars' }

      ],
      items: [],
      items2: [
        { title: 'Network', icon: 'groups', to: '/reportSale/Network' },
        { title: 'NetworkStaff', icon: 'groups', to: '/reportSale/NetworkStaff' }
      //   { title: 'PM Back Month', icon: 'mdi-car', to: '/reportService/PMBackMonthNoex' },
      //   { title: 'Ins none BP', icon: 'mdi-car', to: '/reportService/InsnoneBPNoex' },
      //   { title: 'Warranty Due Date', icon: 'mdi-car', to: '/reportService/EOMNewCarsNoex' }

      ]
    }
  },
  computed: {},
  mounted () {
    this.items = []
    if (this.session.data.Position === 'ผู้จัดการฝ่ายขาย (Manager Sale)' || this.session.data.User_NM === '3909900434044' ||
    this.session.data.User_NM === '3670200011544' || this.session.data.User_NM === '3102000046715' ||
    this.session.data.User_NM === '3102300079007' || this.session.data.User_NM === '1310390002815' ||
    this.session.data.User_NM === 'siriwan.e' || this.session.data.User_NM === '1770600136665' ||
    this.session.data.GroupS === 'Back Office IT') {
      this.admin()
      // this.not.User()
    }
    if (this.session.data.Position === 'ผู้ช่วยผู้จัดการฝ่ายขาย (AsstCSI)' || this.session.data.Position === 'ผู้ช่วยผู้จัดการฝ่ายขาย (AsstSales)') {
      this.User()
    }
    // if (this.session.data.User_NM !== '3909900434044' || this.session.data.User_NM !== '1310390002815') {
    //   this.User()
    // }
  },
  methods: {
    admin () {
      this.GroupAdmin = [
        { title: 'Over 150K ', icon: 'mdi-car', to: '/reportSale/Over150K' },
        { title: 'Network', icon: 'groups', to: '/reportSale/Network' },
        { title: 'NetworkStaff', icon: 'groups', to: '/reportSale/NetworkStaff' }
      ]
    },
    User () {
      this.GroupUser = [
        { title: 'Network', icon: 'groups', to: '/reportSale/Network' },
        { title: 'NetworkStaff', icon: 'groups', to: '/reportSale/NetworkStaff' }
        // { title: 'PM Back Month', icon: 'mdi-car', to: '/reportService/PMBackMonthNoex' },
        // { title: 'Ins none BP', icon: 'mdi-car', to: '/reportService/InsnoneBPNoex' },
        // { title: 'Warranty Due Date', icon: 'mdi-car', to: '/reportService/EOMNewCarsNoex' }
      ]
    }

  }
}
</script>

<style lang="css" scoped></style>
