<template>
  <div>
    <v-app-bar fixed app>
      <v-app-bar-nav-icon @click.stop="mini = !mini" />
      <v-toolbar-title v-text="title" />
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" :mini-variant.sync="mini" fixed app>
      <v-list>
        <v-list-item>
          <v-list-item-avatar>
            <!-- <v-img src='https://firebasestorage.googleapis.com/v0/b/vgroup-honda.appspot.com/o/1.LOGO_VGROUP_HONDA_RED-01%20(1).png?alt=media&token=bca9873a-b0a3-4171-be46-a44ad24e45dc' /> -->
            <v-img :src="require('@/assets/logo_vgroup.png')"></v-img>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{ session.data.Name }} {{ session.data.Surname }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <!-- <v-list>
       <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list> -->

      <v-list-group dense :value="true" prepend-icon="mdi-react" no-action v-if="GroupAdmin.length > 0">
        <template v-slot:activator>
          <v-list-item-title>Admin</v-list-item-title>
        </template>

        <v-list-item dense v-for="(item, i) in GroupAdmin" :key="i" :to="item.to" router exact>
          <v-list-item-title dense v-text="item.title"></v-list-item-title>
          <v-list-item-icon>
            <v-icon v-text="item.icon" dense></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>
      <v-list-group dense :value="true" prepend-icon="mdi-react" no-action v-if="GroupAssistant.length > 0">
        <template v-slot:activator>
          <v-list-item-title>Assistant</v-list-item-title>
        </template>

        <v-list-item dense v-for="(item, i) in GroupAssistant" :key="i" :to="item.to" router exact>
          <v-list-item-title dense v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon" dense></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>

      <v-list-group dense :value="true" prepend-icon="mdi-react" no-action v-if="GroupUser.length > 0">
        <template v-slot:activator>
          <v-list-item-title>User</v-list-item-title>
        </template>

        <v-list-item dense v-for="(item, i) in GroupUser" :key="i" :to="item.to" router exact>
          <v-list-item-title dense v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon" dense></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>

      <v-list-group dense :value="true" prepend-icon="mdi-react" no-action v-if="ReportSrevice.length > 0">
        <template v-slot:activator>
          <v-list-item-title>Report Srevice</v-list-item-title>
        </template>

        <v-list-item dense v-for="(item, i) in ReportSrevice" :key="i" :to="item.to" router exact>
          <v-list-item-title dense v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon" dense></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>
      <!-- <v-list>
        <v-subheader>Report</v-subheader>
        <v-list-item
          v-for="(item, i) in itemsReport"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list> -->
      <template v-slot:append>
        <div class="pa-2">
          <v-btn dark color="red" block href="/ReportParts/Login">
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'Report Parts System',
      drawer: true,
      mini: false,
      session: this.$session.getAll(),
      GroupAdmin: [],
      GroupAssistant: [],
      GroupUser: [],
      ReportSrevice: []
      // items1: [
      //   { title: 'Model Bulletin', icon: 'mdi-car', to: '/reportService/ModelBulletin' },
      //   { title: 'BP none PM', icon: 'mdi-car', to: '/reportService/BPnonePM' },
      //   { title: 'PM Back Month', icon: 'mdi-car', to: '/reportService/PMBackMonth' },
      //   { title: 'Ins none BP', icon: 'mdi-car', to: '/reportService/InsnoneBP' },
      //   { title: 'Warranty Due Date', icon: 'mdi-car', to: '/reportService/EOMNewCars' }

      // ],
      // items: [],
      // items2: [
      //   { title: 'Model Bulletin', icon: 'mdi-car', to: '/reportService/ModelBulletinNoex' },
      //   { title: 'BP none PM', icon: 'mdi-car', to: '/reportService/BPnonePMNoex' },
      //   { title: 'PM Back Month', icon: 'mdi-car', to: '/reportService/PMBackMonthNoex' },
      //   { title: 'Ins none BP', icon: 'mdi-car', to: '/reportService/InsnoneBPNoex' },
      //   { title: 'Warranty Due Date', icon: 'mdi-car', to: '/reportService/EOMNewCarsNoex' }

      // ]
    }
  },
  computed: {},
  mounted () {
    // this.items = []
    if (this.session.data.User_NM === '3909900434044' || this.session.data.User_NM === '1770600136665' || this.session.data.User_NM === 'siriwan.e' ||
      this.session.data.GroupS === 'Back Office IT') {
      this.admin()
      // this.Report()
      this.Not.Assistant()
      // this.Not.User()
    }
    if (this.session.data.User_NM === '3189900091616' || this.session.data.User_NM === '3620500644771' || this.session.data.Position === 'ผู้จัดการศูนย์บริการ' || this.session.data.Position === 'ห้วหน้างานบริการส่วนหน้า (HFL)') {
      this.Assistant()
      // this.Report()
      this.Not.admin()
      // this.Not.User()
    }
    if (this.session.data.GroupS === 'Service CRD' || this.session.data.GroupS === 'Service GR' ||
      this.session.data.GroupS === 'Service BP') {
      this.User()
      this.Not.Assistant()
      this.Not.admin()
    }
  },
  methods: {
    admin () {
      this.GroupAdmin = [
        { title: 'Sub KPI Honda', icon: 'mdi-car', to: '/ReportParts/SubKPIHonda' }

      ]
    },
    Assistant () {
      this.GroupAssistant = [
        { title: 'Sub KPI Honda', icon: 'mdi-car', to: '/ReportParts/SubKPIHonda' }

      ]
    },
    User () {
      this.GroupUser = [
        { title: 'Sub KPI Honda', icon: 'mdi-car', to: '/ReportParts/SubKPIHonda' }

      ]
    }

    // Report () {
    //   this.ReportSrevice = [
    //     { title: 'Booking Service', icon: 'mdi-car', to: '/Vsales/Dashboard/Booking' },
    //     { title: 'Incoming car Service', icon: 'mdi-car', to: '/Vsales/Dashboard/Incomingcar' },
    //     { title: 'New Cars Code4', icon: 'mdi-car', to: '/Vsales/Dashboard/NewCarsCode4' },
    //     { title: 'CloseJob Service', icon: 'mdi-car', to: '/Vsales/Dashboard/CloseJob' },
    //     { title: 'UncloseJob Service', icon: 'mdi-car', to: '/Vsales/Dashboard/UncloseJob' },
    //     { title: 'FRT WorkShop GR', icon: 'mdi-car', to: '/Vsales/Dashboard/FRTWsGR' },
    //     { title: 'FRT WorkShop BP', icon: 'mdi-car', to: '/Vsales/Dashboard/FRTWsBP' },
    //     { title: 'Performance', icon: 'mdi-car', to: '/Vsales/Dashboard/Performance' }
    //   ]
    // }
  }
}
</script>

<style lang="css" scoped></style>
