<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
         <v-col cols="12">
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <form>
                  <v-row>
                    <v-col cols="2">
                             <v-select
                              v-model="formSearch.TypeParts"
                              :items="optionTypeParts"
                              label="เลือกชนิดอะไหล่"
                              dense
                              outlined
                            />
                      </v-col>
                     <v-col cols="2">
                             <v-select
                              v-model="formSearch.TypeMonth"
                              :items="optionTypeMonth"
                              label="เลือกเดือน"
                              dense
                              outlined
                            />
                          </v-col>
                           <v-col cols="2">
                            <v-text-field
                              v-model="formSearch.TypeYear"
                              label="ใส่ปีที่ต้องการรุปแบบ ค.ศ."
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="6">
                            <v-btn
                               tile
                               color="warning"
                               @click="onSearch(),Insert_Log()"
                              >
                              <v-icon left>
                               mdi-selection-search
                              </v-icon>
                                ค้นหา
                            </v-btn>
                               <v-btn
                              color="error"
                              depressed
                              @click.prevent="onClearSearch()"
                            >
                              <v-icon left> settings_backup_restore </v-icon>
                              Clear
                            </v-btn>
                            <v-btn
                              color="teal"
                              depressed
                              dark
                              @click.prevent="onExport(),Export_Log()"
                              >
                              <v-icon left> mdi-file-excel </v-icon>
                              Export Excel
                            </v-btn>
                          </v-col>
                    </v-row>
                </form>
                <br>
                <div v-if="!dataSearhcReady">
                  <div class="text-center">
                    <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="red"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="70"
                      :width="7"
                      color="purple"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="green"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="50"
                      color="amber"
                      indeterminate
                    />
                  </div>
                </div>
              </v-card-text>
            </v-card>
            <br>
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-pencil-plus</v-icon> ข้อมูลที่เลือก
              </v-card-title>
              <v-card-text>
                <v-row v-if="dataListReady">
                  <v-col cols="12">
                    <v-data-table
                      :headers="columns"
                      :items="datareport"
                      :items-per-page="5"
                    >
                    </v-data-table>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      session: this.$session.getAll(),
      formSearch: {
        PARTS_Group: '',
        CREATE_Year: '',
        CREATE_Month: ''
      },
      columns: [ // ตารางที่จะแสดง
        // { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'Dealer_CD', align: 'center' },
        { text: 'หมายเลขเฟรม', value: 'Frame_NO', align: 'center' },
        { text: 'ทะเบียน', value: 'LICENSE_NO', align: 'center' },
        { text: 'รุ่นรถ', value: 'Model_Nm', align: 'center' },
        { text: 'รุ่นปี', value: 'Model_Year', align: 'center' },
        { text: 'เลขกี่โล', value: 'Mileage', align: 'center' },
        { text: 'วันเข้าซ่อมล่าสุด', value: 'mxLST_UPD_DATE', align: 'center' },
        { text: 'RO_NO', value: 'RO_NO', align: 'center' },
        { text: 'รหัสอะไหล่', value: 'PARTS_NO', align: 'center' },
        { text: 'ชนิดงานซ่อม', value: 'WORK_TYPE' },
        { text: 'กลุ่มอะไหล่', value: 'Type_Parts' },
        { text: 'ชื่อสินค้า', value: 'DESC_NM' },
        // { text: 'CUSTOMER_NO', value: 'CUSTOMER_NO' },
        // { text: 'ชื่อลูค้า', value: 'CUSTOMER_NAME' },
        // { text: 'โทรศัพท์มือถือ', value: 'TEL_Mobile_no1' },
        // { text: 'โทรศัพท์บ้าน', value: 'TEL_HOME_NO1' },
        { text: 'VG_CODE', value: 'VG_CODE' },
        { text: 'GRADE', value: 'GRADE' },
        { text: 'Id_VLinked', value: 'UserID_vLINK' }
      ],
      datareport: [],
      optionRoomName: [],
      dataListReady: true,
      chkbutton: '',
      dateTime: '',
      dataSearhcReady: true,
      checksubmit: true,
      optionTypeParts: [
        { text: ' ', value: ' ' },
        { text: 'Battery', value: 'Battery' },
        { text: 'Trie', value: 'Trie' },
        { text: 'Air', value: 'Air' }
      ],
      optionTypeMonth: [
        { text: ' ', value: ' ' },
        { text: 'มกราคม', value: '01' },
        { text: 'กุมภาพันธ์', value: '02' },
        { text: 'มีนาคม', value: '03' },
        { text: 'เมษายน', value: '04' },
        { text: 'พฤษภาคม', value: '05' },
        { text: 'มิถุนายน', value: '06' },
        { text: 'กรกฎาคม', value: '07' },
        { text: 'สิงหาคม', value: '08' },
        { text: 'กันยายน', value: '09' },
        { text: 'ตุลาคม', value: '10' },
        { text: 'พฤศจิกายน', value: '11' },
        { text: 'ธันวาคม', value: '12' }
      ]
    }
  },
  computed: {
    // loaded () {
    //   return this.$store.state.sessionStorage
    // }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/ReportParts/Login')
    } else {
      // await this.getNow()
    }
  },
  methods: {
    async onSearch () {
      this.dataSearhcReady = false
      this.datareport = []
      // this.dataListReady = false
      // const url = 'http://localhost/vgroupl_api/v1/ReportParts/SubKPIHonda/getdataSubKPIHonda'
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportParts/SubKPIHonda/getdataSubKPIHonda'
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
          // 'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
        },
        params: {
          // Br_cd: branch,
          PARTS_Group: this.formSearch.TypeParts,
          CREATE_Month: this.formSearch.TypeMonth,
          CREATE_Year: this.formSearch.TypeYear
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    // onClearSearch () {
    //   this.formSearch.Bookingno = ''
    //   this.formSearch.BOOKING_DATE = ''
    //   this.formSearch.branchNo = ''
    //   this.formSearch.statusFinance = ''
    // },
    async Insert_Log () {
      this.dataReady = false
      this.dataSearhcReady = false
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportParts/LogProgram/getSubKPIHonda01?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },

    async Export_Log () {
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportParts/LogProgram/getSubKPIHonda02?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },
    onExport () {
      const dataWS = XLSX.utils.json_to_sheet(this.datareport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'SubKPIHonda.xlsx')
    }
  }
}
</script>
<style>
table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
