<template>
  <div id="login">
      <v-card elevation="15" max-width="600" class="mx-auto my-12">
         <div class="d-flex flex-column justify-space-between align-center" v-if="dataReady">
        <v-container>
            <vuetify-logo />
            <br />
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <h1 class="h5 mb-3 font-weight-normal">V.Sales</h1>
            <br>
        <v-text-field prepend-icon="mdi-account" v-model="form.userName"  label="Username"></v-text-field>
        <v-text-field prepend-icon="mdi-lock" v-model="form.passWord"  label="Password" type="password"></v-text-field>
        <br>
        <v-btn color="teal" @click="onSubmit()" dark large block>Login</v-btn>
        <br>
        <ManageUser v-if="form.userName !== '' && form.passWord !== ''" :userName="form.userName" :passWord="form.passWord"></ManageUser>
        <!-- <v-btn color="teal" @click="onSubmit()" dark large block>Login</v-btn> -->
        </v-container>
        </div>
        <div v-if="!dataReady" class="text-center">
                    <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                    ></v-progress-circular>
                    <v-progress-circular
                      :width="3"
                      color="red"
                      indeterminate
                    ></v-progress-circular>
                    <v-progress-circular
                      :size="70"
                      :width="7"
                      color="purple"
                      indeterminate
                    ></v-progress-circular>
                    <v-progress-circular
                      :width="3"
                      color="green"
                      indeterminate
                    ></v-progress-circular>
                    <v-progress-circular
                      :size="50"
                      color="amber"
                      indeterminate
                    ></v-progress-circular>
                  </div>
      </v-card>
  </div>
</template>
<script>
import axios from 'axios'
import VuetifyLogo from '../logo_vgroup'
import ManageUser from './ManageUser'
export default {
  components: {
    // Logo,
    VuetifyLogo,
    ManageUser
  },
  name: 'Login',
  beforeCreate () {
    // this.$liff.init({ liffId: this.$liff_id_login }, function (data) {})
  },
  data () {
    return {
      session: this.$session.getAll(),
      profile: [],
      menu: [],
      updateProfile: {
        userLineId: '',
        userLinepictureUrl: ''
      },
      form: {
        userName: '',
        passWord: ''
      },
      dataReady: true
    }
  },
  // eslint-disable-next-line space-before-function-paren
  async mounted() {
    this.$session.destroy()
    // this.$session.clear()
    await this.checkLiffLogin()
  },
  methods: {
    async checkLiffLogin () {
      await this.$liff.ready.then(async () => {
        if (process.env.NODE_ENV === 'development') {
          this.getProfile_dev()
        } else {
          if (!this.$liff.isLoggedIn()) {
            this.$liff.login({ redirectUri: window.location })
          } else {
            await this.getProfile()
          }
        }
      })
    },
    async getProfile () {
      let _this = this
      await this.$liff
        .getProfile()
        .then(async profileLine => {
          _this.updateProfile.userLineId = profileLine.userId
          _this.updateProfile.userLinepictureUrl = profileLine.pictureUrl
          // console.log(_this.profile)
          await axios
            .get(
              // eslint-disable-next-line quotes
              "https://api.betaskthai.com/vgroup_api/v1/Vsales/sysUser/getdataSysUser?userLineId=" +
                profileLine.userId,
              {
                headers: {
                  'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
                }
              }
            )
            .then(response => {
              // console.log(response)
              if (response.data[0]) {
                _this.profile = response.data[0]
              }
            })
            // eslint-disable-next-line handle-callback-err
            .catch(error => {
              console.log(error)
              this.errored = true
            })
        })
        .catch(function (error) {
          alert('Error getting profile: ' + error)
        })
    },
    async getProfile_dev () {
      let _this = this
      _this.updateProfile.userLineId = 'U97a2b1814542579b9e5d7c1b891538ab'
      _this.updateProfile.userLinepictureUrl =
        'https://sprofile.line-scdn.net/0hI98EoXEiFhYVPD_ihBhoaWVsFXw2TU8EOQ5fcCM9TSN8ClkUPgkLdSFoTicsCAMUP1oMdnU_Si8ZL2FwC2rqIhIMSCEsCVJJP11f-Q'

      await axios
        .get(
          // eslint-disable-next-line quotes
          "https://api.betaskthai.com/vgroup_api/v1/Vsales/sysUser/getdataSysUser?userLineId=" +
            _this.profile.saleslineId,
          {
            headers: {
              'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
            }
          }
        )
        .then(response => {
          // console.log(response)
          if (response.data[0]) {
            _this.profile = response.data[0]
          }
        })
        // eslint-disable-next-line handle-callback-err
        .catch(error => {
          console.log(error)
          this.errored = true
        })
    },
    async onSubmit (evt) {
      if (this.form.userName !== '' && this.form.passWord !== '') {
        this.dataReady = false
        // evt.preventDefault()
        await axios
          .get(
          // eslint-disable-next-line quotes
            "https://api.betaskthai.com/vgroup_api/v1/Vsales/sysUser/getdataSysUser?userName=" +
            this.form.userName +
            '&userPassword=' +
            this.form.passWord,
            {
              headers: {
                'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
              }
            }
          )
          .then(async response => {
            console.log(response.data[0])
            if (response.data[0]) {
            // this.getMenu(response.data[0])
              this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
              this.$session.start()
              this.$session.set('data', response.data[0])
              this.$router.push('/vsales/Home')
            } else {
              this.dataReady = true
              this.$swal('ผิดพลาด', 'Account ไม่ถูกต้อง1', 'error')
            }
          })
        // eslint-disable-next-line handle-callback-err
          .catch(error => {
            this.dataReady = true
            this.$swal('ผิดพลาด', 'Account ไม่ถูกต้อง2', 'error')
            //   console.log(error)
            this.errored = true
          })
      } else {
        this.$swal('ผิดพลาด', 'กรุณากรอก Username และ Password ครับ', 'error')
      }
    },
    getMenu (dt) {
      this.menu = []
      axios
        .get(
          // eslint-disable-next-line quotes
          "https://api.betaskthai.com/vgroup_api/v1/Vsales/SysMenu/getdataSysmenu?userTypeGroup=" + dt.userTypeGroup,
          {
            headers: {
              'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
            }
          }
        )
        .then(response => {
          // console.log(response.data)
          let rs = response.data
          if (rs.length > 0) {
            for (var i = 0; i < rs.length; i++) {
              var d = rs[i]
              // console.log(d)
              this.menu.push(d)
            }
          }
          console.log(this.menu)
          dt.menu = this.menu
          // console.log(dt)
          this.dataReady = true
          this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
          this.$session.start()
          this.$session.set('data', dt)
          this.$router.push('/Vsales/master/MasterCar')
        })
        // eslint-disable-next-line handle-callback-err
        .catch(error => {
          console.log(error)
          this.errored = true
        })
    }
  }
}
</script>
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#danger {
  color: red;
}
#login {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 60px;
}
</style>
