<template>
  <div>
      <v-btn color="warning" @click="onSubmit()" dark large block>Manage UserName / Password</v-btn>
      <v-dialog
            v-model="dialog"
            persistent
            max-width="600px"
        >
            <v-card>
            <v-card-title>
                <span class="text-h5">Manage UserName / Password</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                <v-row>
                    <v-col
                    cols="12"
                    >
                        <v-text-field prepend-icon="mdi-account" v-model="form.userName"  label="Username"></v-text-field>
                        <v-text-field prepend-icon="mdi-lock" v-model="form.passWord"  label="Password" type="password"></v-text-field>
                    </v-col>
                </v-row>
                </v-container>
                <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                color="blue darken-1"
                text
                @click="dialog = false"
                >
                Close
                </v-btn>
                <v-btn
                color="blue darken-1"
                text
                @click="editLogin()"
                >
                Save
                </v-btn>
            </v-card-actions>
            </v-card>
        </v-dialog>
  </div>
</template>
<script>
// import { defineComponent } from '@vue/composition-api'
import axios from 'axios' // api
export default {
  components: {
  },
  props: ['userName', 'passWord'],
  data () {
    return {
      dialog: false,
      form: {
        userName: '',
        passWord: '',
        id: ''
      }
    }
  },
  async mounted () {
  },
  methods: {
    async onSubmit (evt) {
      if (this.userName !== '' && this.passWord !== '') {
        this.dataReady = false
        // evt.preventDefault()
        await axios
          .get(
          // eslint-disable-next-line quotes
            "https://api.betaskthai.com/vgroup_api/v1/Vsales/sysUser/getdataSysUser?userName=" +
            this.userName +
            '&userPassword=' +
            this.passWord,
            {
              headers: {
                'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
              }
            }
          )
          .then(async response => {
            console.log(response.data[0])
            if (response.data[0]) {
              this.dialog = true
              this.form.userName = this.userName
              this.form.passWord = this.passWord
              this.form.id = response.data[0].orderBy
            } else {
              this.$swal('ผิดพลาด', 'Account ไม่ถูกต้อง1', 'error')
            }
          })
        // eslint-disable-next-line handle-callback-err
          .catch(error => {
            this.dataReady = true
            this.$swal('ผิดพลาด', 'Account ไม่ถูกต้อง2', 'error')
            //   console.log(error)
            this.errored = true
          })
      } else {
        this.$swal('ผิดพลาด', 'กรุณากรอก Username และ Password ครับ', 'error')
      }
    },
    editLogin () {
      this.$swal({
        title: 'ตรวจสอบก่อนแก้ไข',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการแก้ไขหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'แก้ไข',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      })
        .then(result => {
          const url = `https://api.betaskthai.com/vgroup_api/v1/Vsales/sysUser/updateUser`
          let config = {
            headers: {
              'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
            }
          }
          let dt = {
            orderBy: this.form.id,
            userName: this.form.userName,
            userPassword: this.form.passWord
          }
          axios.post(url, dt, config).then(async response => {
            this.$swal('เรียบร้อย', 'แก้ไขเรียบร้อย กรุณา Login ด้วย UserName ใหม่', 'success')
            this.dialog = false
          })
        })
        .catch(error => {
          console.log(error)
          this.dataReady = true
        })
    }
  }
}
</script>
