<template>
  <div>
    <v-app-bar fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <!-- <v-app-bar-nav-icon @click.stop="mini = !mini" /> -->
      <v-toolbar-title v-text="title" />
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" fixed app
      bottom>
    <!-- <v-navigation-drawer v-model="drawer" :mini-variant.sync="mini" fixed app> -->
      <v-list>
        <v-list-item>
          <v-list-item-avatar>
            <!-- <v-img src='./assets/logo_vgroup.png' /> -->
            <v-img :src="require('@/assets/logo_vgroup.png')"></v-img>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{
              session.data.userFullNameTH
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list-group
      dense
        :value="true"
        prepend-icon="mdi-react"
        no-action
        v-if="activitys.length > 0"
      >
      <template v-slot:activator>
          <v-list-item-title>Activity</v-list-item-title>
        </template>

        <v-list-item
          v-for="(item, i) in activitys"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-title v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>

      <v-list-group
      dense
        :value="true"
        prepend-icon="mdi-tools"
        no-action
        v-if="masters.length > 0"
      >
        <template v-slot:activator>
          <v-list-item-title>Master</v-list-item-title>
        </template>
        <v-list-item
          v-for="(item, i) in masters"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-title v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
        </v-list-item>

        <!-- <v-list-item
          v-for="(item, i) in masters"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-title v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
        </v-list-item> -->
      </v-list-group>

      <v-list dense>
      <v-list-group
        :value="true"
        prepend-icon="mdi-account-circle"
      >
        <template v-slot:activator>
          <v-list-item-title>Dashboard</v-list-item-title>
        </template>

        <v-list-group
          :value="true"
          no-action
          sub-group
          v-if="dashboardsVsales.length > 0"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>V.Sales</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="(item, i) in dashboardsVsales"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-title v-text="item.title"></v-list-item-title>

            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list-group>
        <v-list-group
          :value="true"
          no-action
          sub-group
          v-if="dashboardsVgroup.length > 0"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title> V.Service</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="(item, i) in dashboardsVgroup"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-title v-text="item.title"></v-list-item-title>

            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list-group>
        <!-- <-------------------------------------------->
         <v-list-group
          :value="true"
          no-action
          sub-group
          v-if="dashboardsHRM.length > 0"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>V.HRM</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="(item, i) in dashboardsHRM"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-title v-text="item.title"></v-list-item-title>

            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list-group>

        <v-list-group
          :value="true"
          no-action
          sub-group
          v-if="dashboardsVInsurance.length > 0"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title> V.Insurance</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="(item, i) in dashboardsVInsurance"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-title v-text="item.title"></v-list-item-title>

            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list-group>

        <v-list-group
          :value="true"
          no-action
          sub-group
          v-if="dashboardsHouseD.length > 0"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title> House D</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="(item, i) in dashboardsHouseD"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-title v-text="item.title"></v-list-item-title>

            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list-group>
      </v-list-group>
      </v-list>

      <v-list-group
        :value="true"
        prepend-icon="mdi-file-replace-outline"
        no-action
        v-if="reports.length > 0"
        dense
      >
      <template v-slot:activator>
          <v-list-item-title>Report</v-list-item-title>
        </template>

        <v-list-item
          v-for="(item, i) in reports"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-title v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>
      <v-list> </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn dark color="red" block href="/vsales/Login">
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'V.Group System',
      drawer: true,
      mini: false,
      session: this.$session.getAll(),
      activitys: [],
      masters: [],
      crd: [],
      dashboardsVsales: [],
      dashboardsVgroup: [],
      dashboardsVInsurance: [],
      reports: [],
      activitysValue: false,
      mastersValue: false,
      dashboardsValue: false
    }
  },
  computed: {},
  mounted () {
    this.activitys = []
    this.dashboardsVsales = []
    this.dashboardsVgroup = []
    this.dashboardsHRM = []
    this.dashboardsVInsurance = []
    this.dashboardsHouseD = []
    this.masters = []
    this.reports = []
    this.crd = []
    // this.activitysValue = false
    // this.mastersValue = false
    // this.dashboardsValue = false
    if (this.session.data.userTypeGroup === 'Admin') {
      this.admin()
    }
    if (this.session.data.userTypeGroup === 'Vservice') {
      this.vservice()
    }
    if (this.session.data.userTypeGroup === 'Crd') {
      this.crdUse()
    }
    if (this.session.data.userTypeGroup === 'Board') {
      this.Board()
    }
    if (this.session.data.userTypeGroup === 'Service Manager') {
      this.servicemanger()
    }
    if (this.session.data.userTypeGroup === 'Sale Manager' || this.session.data.userTypeGroup === 'Sale Manager Assistant') {
      this.manger()
    }
    if (this.session.data.userTypeGroup === 'Training') {
      this.Training()
    }
  },
  methods: {
    crdUse () {
      this.dashboardsVgroup = [
        { title: 'Incoming Car', icon: 'mdi-car', to: '/vsales/dashboard/Incomingcar' },
        { title: 'Tenkilo', icon: 'place', to: '/vsales/dashboard/Tenkilo' },
        { title: 'NewCars Code4', icon: 'mdi-car-cog', to: '/vsales/dashboard/NewCarsCode4' },
        { title: 'Booking Service', icon: 'mdi-car-cog', to: '/vsales/dashboard/Booking' }
      ]
    },
    Training () {
      this.dashboardsVgroup = [
        { title: 'Incoming Car', icon: 'mdi-car', to: '/vsales/dashboard/Incomingcar' },
        { title: 'Performance', icon: 'people', to: '/vsales/dashboard/Performance' }
        // { title: 'Tenkilo', icon: 'place', to: '/vsales/dashboard/Tenkilo' },
        // { title: 'NewCars Code4', icon: 'mdi-car-cog', to: '/vsales/dashboard/NewCarsCode4' },
        // { title: 'Booking Service', icon: 'mdi-car-cog', to: '/vsales/dashboard/Booking' }
      ]
    },
    vservice () {
      this.dashboardsVgroup = [
        { title: 'Incoming Car', icon: 'mdi-car', to: '/vsales/dashboard/Incomingcar' },
        { title: 'Close Job', icon: 'mdi-car-off', to: '/vsales/dashboard/CloseJob' },
        { title: 'Unclose Job', icon: 'mdi-car', to: '/vsales/dashboard/UncloseJob' },
        { title: 'Booking Service', icon: 'mdi-car', to: '/vsales/dashboard/Booking' },
        { title: 'Tenkilo', icon: 'place', to: '/vsales/dashboard/Tenkilo' },
        { title: 'NewCars Code4', icon: 'mdi-car', to: '/vsales/dashboard/NewCarsCode4' },
        { title: 'Performance', icon: 'people', to: '/vsales/dashboard/Performance' }

      ]
    },
    servicemanger () {
      this.dashboardsVgroup = [
        { title: 'Incoming Car', icon: 'mdi-car', to: '/vsales/dashboard/Incomingcar' },
        { title: 'Close Job', icon: 'mdi-car', to: '/vsales/dashboard/CloseJob' },
        { title: 'Unclose Job', icon: 'mdi-car', to: '/vsales/dashboard/UncloseJob' },
        { title: 'Booking Service', icon: 'mdi-car', to: '/vsales/dashboard/Booking' },
        { title: 'Tenkilo', icon: 'place', to: '/vsales/dashboard/Tenkilo' },
        { title: 'NewCars Code4', icon: 'mdi-car', to: '/vsales/dashboard/NewCarsCode4' },
        { title: 'Performance', icon: 'people', to: '/vsales/dashboard/Performance' },
        { title: 'FRT GR', icon: 'people', to: '/vsales/dashboard/FRTWsGR' },
        { title: 'FRT BP', icon: 'people', to: '/vsales/dashboard/FRTWsBP' },
        { title: 'Database On IDS', icon: 'mdi-database', to: '/vsales/dashboard/Gafana' }
      ]
    },
    manger () {
      this.dashboardsVgroup = [
        { title: 'Incoming Car', icon: 'mdi-car', to: '/vsales/dashboard/Incomingcar' },
        { title: 'Close Job', icon: 'mdi-car', to: '/vsales/dashboard/CloseJob' },
        { title: 'Unclose Job', icon: 'mdi-car', to: '/vsales/dashboard/UncloseJob' },
        { title: 'Booking Service', icon: 'mdi-car', to: '/vsales/dashboard/Booking' },
        { title: 'Tenkilo', icon: 'place', to: '/vsales/dashboard/Tenkilo' },
        { title: 'NewCars Code4', icon: 'mdi-car', to: '/vsales/dashboard/NewCarsCode4' },
        { title: 'Performance', icon: 'people', to: '/vsales/dashboard/Performance' },
        { title: 'FRT GR', icon: 'people', to: '/vsales/dashboard/FRTWsGR' },
        { title: 'FRT BP', icon: 'people', to: '/vsales/dashboard/FRTWsBP' },
        { title: 'Database On IDS', icon: 'mdi-database', to: '/vsales/dashboard/Gafana' }
      ]
      this.dashboardsHRM = [
        { title: 'HRM', icon: 'people', to: '/vsales/dashboard/Hrm' }
      ]
      this.dashboardsVInsurance = [
        { title: 'Overview', icon: 'mdi-car', to: '/vsales/dashboard/InsuranceOverview' }
      ]
      this.activitys = [
        { title: 'Facebook Page', icon: 'mdi-facebook', to: '/vsales/activety/DataFacebookPage' }
      ]
      if (this.session.data.userTypeGroup === 'Sale Manager' && this.session.data.userName !== 'Natenapa.Nat') {
        this.dashboardsVsales = [
          { title: 'Manager', icon: 'mdi-account-star', to: '/vsales/dashboard/VsalesManager' }
        ]
      }
      if (this.session.data.userName === 'Natenapa.Nat') {
        this.dashboardsVsales = [
          { title: 'Manager', icon: 'mdi-account-star', to: '/vsales/dashboard/VsalesManager' },
          { title: 'Board', icon: 'mdi-account-group', to: '/vsales/dashboard/VsalesBoard' }
        ]
      }
      this.dashboardsHouseD = [
        { title: 'House D', icon: 'home', to: '/vsales/dashboard/HouseD' }
      ]
    },
    admin () {
      this.dashboardsVsales = [
        { title: 'Manager', icon: 'mdi-account-star', to: '/vsales/dashboard/VsalesManager' },
        { title: 'Board', icon: 'mdi-account-group', to: '/vsales/dashboard/VsalesBoard' }
      ]
      this.dashboardsVgroup = [
        { title: 'Incoming Car', icon: 'mdi-car', to: '/vsales/dashboard/Incomingcar' },
        { title: 'Close Job', icon: 'mdi-car', to: '/vsales/dashboard/CloseJob' },
        { title: 'Unclose Job', icon: 'mdi-car', to: '/vsales/dashboard/UncloseJob' },
        { title: 'Booking Service', icon: 'mdi-car', to: '/vsales/dashboard/Booking' },
        { title: 'Tenkilo', icon: 'place', to: '/vsales/dashboard/Tenkilo' },
        { title: 'NewCars Code4', icon: 'mdi-car', to: '/vsales/dashboard/NewCarsCode4' },
        { title: 'Performance', icon: 'people', to: '/vsales/dashboard/Performance' },
        { title: 'FRT GR', icon: 'people', to: '/vsales/dashboard/FRTWsGR' },
        { title: 'FRT BP', icon: 'people', to: '/vsales/dashboard/FRTWsBP' },
        { title: 'Database On IDS', icon: 'mdi-database', to: '/vsales/dashboard/Gafana' }
      ]
      this.masters = [
        { title: 'Master Car', icon: 'mdi-car', to: '/Vsales/master/MasterCar' }
      ]
      this.activitys = [
        { title: 'Facebook Page', icon: 'mdi-facebook', to: '/vsales/activety/DataFacebookPage' },
        { title: 'Report Facebook', icon: 'mdi-file-replace-outline', to: '/vsales/activety/ReportFacebookPage' }
      ]
      this.reports = [
        { title: 'เซ็ค Booking and Invoice (IDS)', icon: 'mdi-database-check', to: '/vsales/report/ReportBookingCheckVsale' }
      ]
      this.dashboardsHRM = [
        { title: 'HRM', icon: 'people', to: '/vsales/dashboard/Hrm' }
      ]
      this.dashboardsVInsurance = [
        { title: 'Overview', icon: 'mdi-car', to: '/vsales/dashboard/InsuranceOverview' }
      ]
      this.dashboardsHouseD = [
        { title: 'House D', icon: 'home', to: '/vsales/dashboard/HouseD' }
      ]
    },
    Board () {
      this.activitys = [
        { title: 'Facebook Page', icon: 'mdi-facebook', to: '/vsales/activety/DataFacebookPage' },
        { title: 'Report Facebook', icon: 'mdi-file-replace-outline', to: '/vsales/activety/ReportFacebookPage' }
      ]
      this.dashboardsVsales = [
        // { title: 'Manager', icon: 'mdi-account-star', to: '/vsales/dashboard/VsalesManager' },
        { title: 'Board', icon: 'mdi-account-group', to: '/vsales/dashboard/VsalesBoard' }
      ]
      this.dashboardsVgroup = [
        { title: 'Incoming Car', icon: 'mdi-car', to: '/vsales/dashboard/Incomingcar' },
        { title: 'Close Job', icon: 'mdi-car', to: '/vsales/dashboard/CloseJob' },
        { title: 'Unclose Job', icon: 'mdi-car', to: '/vsales/dashboard/UncloseJob' },
        { title: 'Booking Service', icon: 'mdi-car', to: '/vsales/dashboard/Booking' },
        { title: 'Tenkilo', icon: 'place', to: '/vsales/dashboard/Tenkilo' },
        { title: 'NewCars Code4', icon: 'mdi-car', to: '/vsales/dashboard/NewCarsCode4' },
        { title: 'Performance', icon: 'people', to: '/vsales/dashboard/Performance' },
        { title: 'FRT GR', icon: 'people', to: '/vsales/dashboard/FRTWsGR' },
        { title: 'FRT BP', icon: 'people', to: '/vsales/dashboard/FRTWsBP' },
        { title: 'Database On IDS', icon: 'mdi-database', to: '/vsales/dashboard/Gafana' }
      ]
      this.dashboardsHRM = [
        { title: 'HRM', icon: 'people', to: '/vsales/dashboard/Hrm' }
      ]
      this.dashboardsVInsurance = [
        { title: 'Overview', icon: 'mdi-car', to: '/vsales/dashboard/InsuranceOverview' }
      ]
      this.dashboardsHouseD = [
        { title: 'House D', icon: 'home', to: '/vsales/dashboard/HouseD' }
      ]
      // this.masters = [
      //   { title: 'Master Car', icon: 'mdi-car', to: '/Vsales/master/MasterCar' }
      // ]
      // this.activitys = [
      //   { title: 'Facebook Page', icon: 'mdi-facebook', to: '/vsales/activety/DataFacebookPage' }
      // ]
      // this.reports = [
      //   { title: 'เซ็ค Booking and Invoice (IDS)', icon: 'mdi-database-check', to: '/vsales/report/ReportBookingCheckVsale' }
      // ]
    }
  }
}
</script>

<style lang="css" scoped></style>
