<template>
  <div>
    <v-content>
      <v-container fill-height fluid>
        <v-row align="center" justify="center" class="x-row grey lighten-5">
          <v-col>
            <v-toolbar>
              <v-avatar>
                <img
                  :src="require('@/assets/logo_vgroup.png')"
                  alt="logo_vgroup"
                />
              </v-avatar>
              <v-spacer></v-spacer>
              <v-toolbar-title>Sales Name</v-toolbar-title>
            </v-toolbar>
          </v-col>
          <!-- Search All -->
          <v-col cols="12">
             <v-expansion-panels focusable v-model="panel" multiple>
              <v-expansion-panel>
                <v-expansion-panel-header disable-icon-rotate>
                  ค้นหาช่องเดียว
                  <template v-slot:actions>
                    <v-icon color="teal"> search </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-card elevation="2">
                    <v-card-text>
                      <form>
                        <v-row justify="center">
                          <v-col cols="12">
                            <v-text-field
                              label="ค้นหาทุกอย่าง"
                              placeholder="ทุกอย่างที่พิมพ์"
                              v-model="searchAll"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-menu
                              v-model="menuSearch1"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.monthYear"
                                  prepend-icon="mdi-calendar"
                                  label="เดือน/ปี"
                                  v-bind="attrs"
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.monthYear"
                                @input="menuSearch1 = false"
                                type="month"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                        </v-row>
                        <v-row class="text-right">
                          <v-col cols="12">
                            <v-btn
                              color="question"
                              depressed
                              @click.prevent="searchDataAll()"
                            >
                              <v-icon left> search </v-icon>
                              ค้นหา
                            </v-btn>
                            <v-btn
                              color="error"
                              depressed
                              @click.prevent="clearData()"
                            >
                              <v-icon left> settings_backup_restore </v-icon>
                              Clear
                            </v-btn>
                          </v-col>
                        </v-row>
                      </form>
                    </v-card-text>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <!-- Search advanced -->
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row class="text-center">
                  <v-col cols="5">
                    <div>
                      <v-icon size="60" color="green darken-2">
                        mdi-phone-check
                      </v-icon>
                      <br />
                      <b>ติดตามแล้ว</b>
                      <br />
                      <b>110</b>
                    </div>
                  </v-col>
                  <v-col cols="2">
                    <v-divider vertical></v-divider>
                  </v-col>
                  <v-col cols="5">
                    <div>
                      <v-icon size="60" color="orange darken-2">
                        mdi-phone-off
                      </v-icon>
                      <br />
                      <b>ยังไม่ได้ติดตาม</b>
                      <br />
                      <b>100</b>
                    </div>
                  </v-col>
                </v-row>
                <hr />
                <v-row class="text-center">
                  <v-col cols="12">
                    <div>
                      <v-icon size="70" color="primary">
                        mdi-credit-card-check
                      </v-icon>
                      <br />
                      <b>แจ้งต่อประกันแล้ว</b>
                      <br />
                      <b>10</b>
                    </div>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </div>
</template>
<style>
.x-row {
  height: 100%;
}
</style>
<script>
// import axios from 'axios' // api
// import adminLeftMenu from '../Sidebar.vue' // เมนู
// import JsonExcel from 'vue-json-excel' // https://www.npmjs.com/package/vue-json-excel
// import XLSX from 'xlsx' // import xlsx
// import readXlsxFile from 'read-excel-file'
// import moment from 'moment' // แปลง date

export default {
  components: {
    // 'left-menu-admin': adminLeftMenu,
    // downloadExcel: JsonExcel,
    // XLSX,
    // readXlsxFile
  },
  created () {
    setInterval(this.getNowGlobal, 1000)
  },
  data () {
    return {
      panel: [1],
      searchAll: '',
      menuSearch1: false,
      formSearch: {
        monthYear: ''
      }
    }
  },
  async mounted () {
  },
  methods: {
    searchDataAll () {

    },
    clearData () {

    }
  }
}
</script>
