<template>
<div>
<v-app-bar fixed app>
    <v-app-bar-nav-icon @click.stop="drawer =! drawer" />
    <v-toolbar-title v-text="title" />
  </v-app-bar>
    <v-navigation-drawer v-model="drawer" fixed app>
      <v-list>
      <v-list-item>
        <v-list-item-avatar>
          <!-- <v-img src='https://firebasestorage.googleapis.com/v0/b/vgroup-honda.appspot.com/o/1.LOGO_VGROUP_HONDA_RED-01%20(1).png?alt=media&token=bca9873a-b0a3-4171-be46-a44ad24e45dc' /> -->
          <v-img :src="require('@/assets/logo_vgroup.png')"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{ session.data.Name }} {{ session.data.Surname }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-list-group
      dense
        :value="true"
        prepend-icon="mdi-react"
        no-action
        v-if="Allocate.length > 0"
      >
      <template v-slot:activator>
          <v-list-item-title>Allocate</v-list-item-title>
        </template>

        <v-list-item
        dense
          v-for="(item, i) in Allocate"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-title dense v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon" dense></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>
    <v-list-group
      dense
        :value="true"
        prepend-icon="mdi-react"
        no-action
        v-if="Sales.length > 0"
      >
      <template v-slot:activator>
          <v-list-item-title>Sales</v-list-item-title>
        </template>

        <v-list-item
          v-for="(item, i) in Sales"
          :key="i"
          :to="item.to"
          router
          exact
          dense
        >
          <v-list-item-title dense v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon" dense></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>
    <v-list-group
      dense
        :value="true"
        prepend-icon="mdi-react"
        no-action
        v-if="Process.length > 0"
      >
      <template v-slot:activator>
          <v-list-item-title>Process</v-list-item-title>
        </template>

        <v-list-item
          v-for="(item, i) in Process"
          :key="i"
          :to="item.to"
          router
          exact
          dense
        >
          <v-list-item-title v-text="item.title" dense></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon" dense></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>
    <!-- <v-list>
      <v-subheader>Activity</v-subheader>
      <v-list-item
        v-for="(item, i) in items1"
        :key="i"
        :to="item.to"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list> -->
    <v-list-group
      dense
        :value="true"
        prepend-icon="mdi-react"
        no-action
        v-if="Report.length > 0"
      >
      <template v-slot:activator>
          <v-list-item-title>Report</v-list-item-title>
        </template>

        <v-list-item
          v-for="(item, i) in Report"
          :key="i"
          :to="item.to"
          router
          exact
          dense
        >
          <v-list-item-title dense v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon dense v-text="item.icon"></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>
    <!-- <v-list>
      <v-subheader>Report</v-subheader>
      <v-list-item
        v-for="(item, i) in Report"
        :key="i"
        :to="item.to"
        router
        exact
        dense
      >
        <v-list-item-action>
          <v-icon dense>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list> -->
    <template v-slot:append>
        <div class="pa-2">
          <v-btn dark color="red" block href="/InsuranceCode4/Login">
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'Insurance System',
      drawer: true,
      mini: false,
      session: this.$session.getAll(),
      Allocate: [],
      Sales: [],
      Process: [],
      Report: [],
      items1: [
        { title: 'Allocate Prospective', icon: 'mdi-account-check', to: '/insurance/AllocateProspective' },
        { title: 'Insurance New Car', icon: 'mdi-car', to: '/insurance/InsuranceNewCar' },
        { title: 'Insurance Warning', icon: 'mdi-car-info', to: '/insurance/InsuranceWarning' },
        // { title: 'Insurance BP', icon: 'mdi-car-cog', to: '/insurance/InsuranceBP' },
        { title: 'Insurance Code4', icon: 'mdi-car-arrow-right', to: '/insurance/InsuranceCode4' },
        { title: 'Insurance Create New', icon: 'mdi-plus-outline', to: '/insurance/InsuranceCreateName' },
        { title: 'Follow', icon: 'mdi-call-split', to: '/insurance/InsuranceFollow' },
        { title: 'Import', icon: 'mdi-dialpad', to: '/insurance/ImportInsurance' },
        { title: 'Report SystemPro', icon: 'mdi-monitor-dashboard', to: '/insurance/ReportSyspro' }
      ],
      items: [],
      items2: [
        {
          icon: 'mdi-call-split',
          title: 'Follow',
          to: '/insurance/InsuranceFollow'
        },
        { title: 'Report SystemPro', icon: 'mdi-monitor-dashboard', to: '/insurance/ReportSyspro' }
      ]
    }
  },
  computed: {},
  mounted () {
    this.items = []
    if (this.session.data.GroupS === 'Back Office IT' || this.session.data.GroupS === 'Back Office S/Insurance') {
      this.manager()
    }
    if (this.session.data.GroupS === 'Sale Insurance') {
      this.salesIns()
    }
  },
  methods: {
    manager () {
      this.Process = [
        // { title: 'Process New', icon: 'mdi-account-check', to: '/insurance/NewProcess' },
        // { title: 'Process Renew', icon: 'mdi-account-clock', to: '/insurance/RenewProcess' },
        // { title: 'Process Update', icon: 'mdi-account-edit', to: '/insurance/UpdateProcess' }
      ]
      this.Allocate = [
        { title: 'Code 4', icon: 'mdi-numeric-4-circle', to: '/insuranceCode4/AllocateProspectiveCode4' }
        // { title: 'New Car', icon: 'mdi-new-box', to: '/insurance/AllocateProspectiveNewCar' },
        // { title: 'Import Update', icon: 'mdi-new-box', to: '/insurance/AllocateUpdateImportInsurance' },
        // { title: 'Import Excel', icon: 'mdi-file-excel', to: '/insurance/AllocateImportInsurance' },
        // { title: 'History', icon: 'mdi-history', to: '/insurance/AllocateProspectiveHistory' },
        // { title: 'Insurance Create New', icon: 'mdi-plus-outline', to: '/insurance/InsuranceCreateName' }
      ]
      this.Report = [
        // { title: 'Report SystemPro', icon: 'mdi-monitor-dashboard', to: '/insurance/ReportSyspro' },
        // { title: 'Report Process', icon: 'mdi-view-dashboard-variant', to: '/insurance/ReportProcess' }
      ]
    }
    // salesIns () {
    //   this.Sales = [
    //     { title: 'Prospective', icon: 'mdi-card-account-phone-outline', to: '/insurance/salesProspective' },
    //     { title: 'Edit Data', icon: 'mdi-account-edit', to: '/insurance/salesUpdateProspective' }
    //   ]
    //   this.Report = [
    //     { title: 'Report SystemPro', icon: 'mdi-monitor-dashboard', to: '/insurance/ReportSyspro' },
    //     { title: 'Report Process', icon: 'mdi-view-dashboard-variant', to: '/insurance/ReportProcess' }
    //   ]
    // }
  }
}
</script>

<style lang="css" scoped></style>
