<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
      <v-row>
        <v-col cols="12">
          <v-card
            elevation="2"
            outlined
            shaped
          >
            <v-card-title>
              <v-icon>mdi-focus-field</v-icon> ตรวจสอบห้องว่าง
            </v-card-title>
            <v-card-text>
              <v-row class="text-center justify-center">
                <v-col v-for="(item,index) in stocklist" :key="index">
                  <v-card
                    v-if="item.statusUse === 'In Process'"
                    class="text-center v-card-red"
                  >
                    <v-toolbar
                      color="red darken-2"
                      dark
                    >
                      <v-card-title>
                        {{ item.room }}
                      </v-card-title>
                    </v-toolbar>
                    <v-card-text class="text--primary">
                      {{ item.statusUse }}
                    </v-card-text>
                    <v-card-actions>
                      <v-btn block color="error">
                        เต็ม
                      </v-btn>
                    </v-card-actions>
                    <v-card-text class="text--primary">
                      {{ item.staffName }}
                    </v-card-text>
                    <v-card-text class="text--primary">
                      เบอร์โต๊ะ : {{ item.telCom }}
                    </v-card-text>
                  </v-card>
                  <v-card
                    v-if="item.statusUse === 'Free'"
                    class="text-center v-card-bule"
                  >
                    <v-toolbar
                      color="primary"
                      dark
                    >
                      <v-card-title>
                        {{ item.room }}
                      </v-card-title>
                    </v-toolbar>
                    <v-card-text class="text--primary">
                      {{ item.statusUse }}
                    </v-card-text>
                    <!-- <b-button v-if="chkbutton === ''" :id="'button' + item.id" block variant="primary" pill @click="onBooking(item, $event)">จอง</b-button> -->
                    <v-card-actions>
                      <v-btn
                        v-if="chkbutton === 'button' + item.id"
                        :id="'button' + item.id"
                        block
                        color="cyan"
                        @click="onBooking(item, $event)"
                      >
                        จอง
                      </v-btn>
                      <v-btn
                        v-if="chkbutton != 'button' + item.id"
                        :id="'button' + item.id"
                        block
                        color="warning"
                        @click="onBooking(item, $event)"
                      >
                        จอง
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-card
            elevation="2"
            outlined
            shaped
          >
            <v-card-title>
              <v-icon>mdi-account-multiple-plus</v-icon> เพิ่มข้อมูล
            </v-card-title>
            <v-card-text>
              <form v-if="dataReady">
                <v-row>
                  <v-col cols="2">
                    <v-text-field
                      v-model="form.branchNo"
                      label="สาขา"
                      dense
                      outlined
                      readonly
                    />
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="form.staffName"
                      label="ชื่อพนักงาน"
                      dense
                      outlined
                      readonly
                    />
                  </v-col>
                  <v-col cols="3">
                    <v-text-field
                      v-model="form.department"
                      label="แผนก"
                      dense
                      outlined
                      readonly
                    />
                  </v-col>
                  <v-col cols="3">
                    <v-text-field
                      v-model="form.email"
                      :rules="[rules.required, rules.email]"
                      label="Email"
                      dense
                      outlined
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-text-field
                      v-model="form.telCom"
                      :rules="[rules.required]"
                      type="number"
                      label="เบอร์โต๊ะ"
                      dense
                      outlined
                    />
                  </v-col>
                  <v-col cols="2">
                    <v-text-field
                      v-model="form.countMeet"
                      :rules="[rules.required]"
                      type="number"
                      label="จำนวนผู้เข้าประชุม"
                      dense
                      outlined
                    />
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="form.topicMeet"
                      :rules="[rules.required]"
                      label="หัวข้อการประชุม"
                      dense
                      outlined
                    />
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="form.detailMeet"
                      label="รายระเอียดการประชุม"
                      dense
                      outlined
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3">
                    <v-menu
                      v-model="menu2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="form.dateMeet"
                          label="วันที่ประชุม"
                          prepend-icon="mdi-calendar"
                          readonly
                          dense
                          outlined
                          v-bind="attrs"
                          v-on="on"
                        />
                      </template>
                      <v-date-picker
                        v-model="form.dateMeet"
                        @input="menu2 = false"
                      />
                    </v-menu>
                  </v-col>
                  <v-col cols="3">
                    <v-menu
                      ref="menu"
                      v-model="menu1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="form.timeMeet"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="form.timeMeet"
                          label="เวลาที่ประชุม"
                          :rules="[rules.required]"
                          prepend-icon="mdi-clock-time-four-outline"
                          dense
                          outlined
                          v-bind="attrs"
                          v-on="on"
                        />
                      </template>
                      <v-time-picker
                        v-if="menu1"
                        v-model="form.timeMeet"
                        full-width
                        format="24hr"
                        @click:minute="$refs.menu.save(form.timeMeet)"
                      />
                    </v-menu>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      v-model="form.remark"
                      label="หมายเหตุ"
                      dense
                      outlined
                    />
                  </v-col>
                </v-row>
              </form>
              <div class="text-right">
                <v-btn
                  tile
                  color="success"
                  @click.prevent="onSubmit()"
                >
                  <v-icon left>
                    mdi-clipboard-plus-outline
                  </v-icon>
                  เพิ่มข้อมูล
                </v-btn>
              </div>
              <br>
              <div v-if="!dataReady">
                <div class="text-center">
                  <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
                  />

                  <v-progress-circular
                    :width="3"
                    color="red"
                    indeterminate
                  />

                  <v-progress-circular
                    :size="70"
                    :width="7"
                    color="purple"
                    indeterminate
                  />

                  <v-progress-circular
                    :width="3"
                    color="green"
                    indeterminate
                  />

                  <v-progress-circular
                    :size="50"
                    color="amber"
                    indeterminate
                  />
                </div>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      </div>
      </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
// import XLSX from 'xlsx' // import xlsx
export default {
  // layout: 'Zoom',
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      session: this.$session.getAll(),
      rules: {
        required: value => !!value || 'Required.',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      menu1: false,
      menu2: false,
      form: {
        branchNo: '',
        staffName: '',
        department: '',
        email: '',
        countMeet: 0,
        topicMeet: '',
        detailMeet: '',
        dateMeet: new Date().toISOString().substr(0, 10),
        timeMeet: '',
        roomID: '',
        remark: '',
        telCom: 0
      },
      stocklist: [],
      dataReady: true,
      chkbutton: '',
      dateTime: ''
    }
  },
  computed: {
    // countMeetState () {
    //   return this.form.countMeet.length > 0
    // },
    // loaded () {
    //   return this.$session
    // },
    // topicMeetState () {
    //   return this.form.topicMeet.length > 1
    // }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/zoom/Login')
    } else {
      await this.getData()
    }
  },
  methods: {
    async getData () {
      this.form.branchNo = this.session.data.BranchS2
      this.form.staffName = 'คุณ ' + this.session.data.Name + ' ' + this.session.data.Surname
      this.form.department = this.session.data.Position
      await this.getNow()
      await this.getStockData()
    },
    getNow () {
      const today = new Date()
      // console.log(today)
      const date =
        today.getFullYear() +
        '' +
        (today.getMonth() + 1) +
        '' +
        today.getDate()
      const time =
        today.getHours() + '' + today.getMinutes() + '' + today.getSeconds()
      const dateTime = date + '' + time
      this.dateTime = dateTime
      // console.log(this.dateTime)
      // this.formUpdate.prospectiveCode = dateTime
    },
    getStockData () {
      this.stocklist = []
      const url =
        `${this.$apiUrl}Zoom/Process/getStockdata`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key':
            this.$apiToken
        }
        // },
        // params: {
        //   dateStamp: this.datein
        // }
      }
      axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          // console.log(this.$store.state.user.userName)
          const rs = response.data
          this.stocklist = rs
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    onBooking (dt, even) {
      // eslint-disable-next-line no-console
      console.log(even.currentTarget.id)
      this.chkbutton = even.currentTarget.id
      this.form.roomID = dt.id
    },
    onSubmit () {
      this.dataReady = false
      if (
        this.form.topicMeet.length > 0 &&
        this.form.roomID.length > 0 && this.form.telCom.length > 3 && this.form.email.length > 0 && this.form.timeMeet.length > 0
      ) {
        this.$swal({
          title: 'ตรวจสอบก่อนเพิ่มข้อมูล',
          text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการเพิ่มหรือไม่',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#dedede',
          confirmButtonText: 'เพิ่มข้อมูล',
          cancelButtonText: 'ยกเลิก และตรวจสอบ!'
        }).then((result) => {
          const urlget = `${this.$apiUrl}Zoom/Process/getdata`
          const configget = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key':
            this.$apiToken
            },
            params: {
              staffName: this.form.staffName,
              status: 'In Process'
            }
          }
          axios
            .get(urlget, configget)
            // eslint-disable-next-line require-await
            .then(async (response) => {
              if (response.data.data === 'ไม่มีข้อมูล') {
                const url = `${this.$apiUrl}Zoom/Process/addData`
                const config = {
                  headers: {
                    'Content-Type': 'application/json',
                    'Application-Key': this.$apiToken
                  }
                }
                const dt = {
                  id: this.dateTime,
                  staffName: this.form.staffName,
                  branchNo: this.form.branchNo,
                  dapartment: this.form.department,
                  email: this.form.email,
                  countMeet: this.form.countMeet,
                  topicMeet: this.form.topicMeet,
                  detailMeet: this.form.detailMeet,
                  dateMeet: this.form.dateMeet,
                  timeMeet: this.form.timeMeet,
                  remark: this.form.remark,
                  roomID: this.form.roomID,
                  status: 'In Process',
                  CREATE_USER: this.session.data.User_NM,
                  telCom: this.form.telCom
                }
                axios
                  .post(url, dt, config)
                  .then((response) => {
                    if (response.data.status === 'FALSE') {
                      this.dataReady = true
                      this.form.email = ''
                      this.form.branchNo = ''
                      this.form.countMeet = 0
                      this.form.topicMeet = ''
                      this.form.detailMeet = ''
                      this.form.telCom = 0
                      this.form.dateMeet = new Date().toISOString().substr(0, 10)
                      this.form.timeMeet = null
                      this.form.remark = ''
                      this.form.roomID = new Date().toISOString().substr(0, 10)
                      this.$swal('ผิดพลาด', response.data.message, 'error')
                    } else {
                      const urlUpdate = `${this.$apiUrl}Zoom/Process/updateStockData`
                      const configUpdate = {
                        headers: {
                          'Content-Type': 'application/json',
                          'Application-Key': this.$apiToken
                        }
                      }
                      const dtUpdate = {
                        id: this.form.roomID,
                        statusUse: 'In Process',
                        LAST_USER: this.session.data.User_NM,
                        staffName: this.form.staffName,
                        telCom: this.form.telCom
                      }
                      axios
                        .post(urlUpdate, dtUpdate, configUpdate)
                        .then((response) => {
                          const startdatetime = new Date(this.form.dateMeet).getTime()
                          const startDate = new Date(startdatetime)
                          const dateLocal = startDate.toLocaleString('th-TH', { timeZone: 'Asia/Bangkok', hour12: false })
                          const dateSplit = dateLocal.split(' ')
                          const date = dateSplit[0].split('/')
                          const year = String(date[2])
                          const month = String(date[1])
                          const day = String(date[0])
                          const countyear = parseInt(year) - 543
                          const urlNoti = 'https://asia-east2-vgroup-honda.cloudfunctions.net/api/noti'
                          const dtNoti = {
                            token: 'GIiZgcPsd2GgrRpOXcVG2iajpeP0CBhIMKcGwRFwpU3',
                            message: this.form.staffName + ' \r\n ได้จองห้องประชุม : ' + this.form.roomID + '\r\n วันที่จอง : ' + `${day}/${month}/${countyear}` + '\r\n เวลา : ' + this.form.timeMeet + ' \r\n Email : ' + this.form.email + ' \r\n เบอร์โต๊ะ : ' + this.form.telCom + ''
                          }
                          axios
                            .post(urlNoti, dtNoti)
                            .then((response) => {
                              this.dataReady = true
                              this.form.email = ''
                              this.form.branchNo = ''
                              this.form.countMeet = 0
                              this.form.telCom = 0
                              this.form.topicMeet = ''
                              this.form.detailMeet = ''
                              this.form.dateMeet = new Date().toISOString().substr(0, 10)
                              this.form.timeMeet = null
                              this.form.remark = ''
                              this.form.roomID = new Date().toISOString().substr(0, 10)
                              this.getData()
                              this.$swal('เรียบร้อย', response.data.message, 'success')
                            })
                        })
                    }
                  })
              } else {
                this.$swal('ผิดพลาด', 'ท่านได้จองห้องประชุมไปแล้ว', 'error')
              }
            }).catch((error) => {
              // eslint-disable-next-line no-console
              console.log(error)
              this.dataReady = true
            })
        })
      } else {
        this.dataReady = true
        this.$swal('ผิดพลาด', 'กรุณาใส่ข้อมูลให้ครบถ้วน', 'error')
      }
    }
  }
}
</script>
<style scope>
  table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
.v-card-red {
  border: 1px solid red !important;
}
.v-card-bule {
  border: 1px solid #03A9F4 !important;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
