<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <form>
                  <v-row>
                    <v-col cols="3">
                      <v-menu
                        v-model="menu2"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="formSearch.dateMeet"
                            label="วันที่ประชุม"
                            prepend-icon="mdi-calendar"
                            readonly
                            dense
                            outlined
                            v-bind="attrs"
                            v-on="on"
                          />
                        </template>
                        <v-date-picker
                          v-model="formSearch.dateMeet"
                          @input="menu2 = false"
                        />
                      </v-menu>
                    </v-col>
                    <v-col cols="3">
                      <v-select
                        v-model="formSearch.roomName"
                        :items="optionRoomName"
                        label="รายชื่อห้อง"
                        dense
                        outlined
                      />
                    </v-col>
                  </v-row>
                </form>
                <div class="text-right">
                  <v-btn
                    tile
                    color="warning"
                    @click="onSearch()"
                  >
                    <v-icon left>
                      mdi-selection-search
                    </v-icon>
                    ค้นหา
                  </v-btn>
                </div>
                <br>
                <div v-if="!dataSearhcReady">
                  <div class="text-center">
                    <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="red"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="70"
                      :width="7"
                      color="purple"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="green"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="50"
                      color="amber"
                      indeterminate
                    />
                  </div>
                </div>
              </v-card-text>
            </v-card>
            <br>
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-pencil-plus</v-icon> จัดการข้อมูล
              </v-card-title>
              <v-card-text>
                <v-row v-if="dataListReady">
                  <v-col cols="12">
                    <v-data-table
                      :headers="columns"
                      :items="datareport"
                      :items-per-page="5"
                    >
                      <template v-slot:[`item.action`]="{ item }">
                        <v-btn
                          v-if="item.status === 'In Process'"
                          color="primary"
                          fab
                          small
                          @click="setData(item, 'Approve')"
                        >
                          <v-icon dark>
                            mdi-checkbox-multiple-marked
                          </v-icon>
                        </v-btn>
                        <v-btn
                          v-if="item.status === 'In Process'"
                          color="error"
                          fab
                          small
                          @click="setData(item, 'Unapprove')"
                        >
                          <v-icon dark>
                            mdi-close-box
                          </v-icon>
                        </v-btn>
                      </template>
                    </v-data-table>
                    <v-dialog
                          v-model="dialog"
                          persistent
                          max-width="500"
                        >
                          <v-card>
                            <v-card-title class="headline">
                              อนุมัติให้กับ {{ this.formSubmit.staffName }}
                            </v-card-title>
                            <v-card-text>คุณต้องการอนุมัติให้ {{ this.formSubmit.staffName }} สามารถใช้ ห้องประชุม {{ this.formSubmit.roomID }} หรือไม่</v-card-text>
                            <v-card-actions>
                              <v-spacer />
                              <v-btn
                                color="green darken-1"
                                text
                                @click="onSubmitApprove()"
                              >
                                อนุมัติ
                              </v-btn>
                              <v-btn
                                color="red darken-1"
                                text
                                @click="dialog = false"
                              >
                                ยกเลิก
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                        <v-dialog
                          v-model="dialog1"
                          persistent
                          max-width="500"
                        >
                          <v-card>
                            <v-card-title class="headline">
                              ไม่อนุมัติให้กับ {{ this.formSubmit.staffName }}
                            </v-card-title>
                            <v-card-text>
                              <v-textarea
                                v-model="form.remarkApprove"
                                outlined
                                name="input-7-4"
                                label="หมายเหตุไม่อนุมัติ"
                              />
                            </v-card-text>
                            <v-card-text>คุณต้องการไม่อนุมัติให้ {{ this.formSubmit.staffName }} สามารถใช้ ห้องประชุม {{ this.formSubmit.roomID }} หรือไม่</v-card-text>
                            <v-card-actions>
                              <v-spacer />
                              <v-btn
                                color="error"
                                text
                                @click="onSubmitUnApprove()"
                              >
                                ไม่อนุมัติ
                              </v-btn>
                              <v-btn
                                color="red darken-1"
                                icon
                                @click="dialog1 = false"
                              >
                                <v-icon>mdi-close</v-icon>
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      session: this.$session.getAll(),
      menu1: false,
      menu3: false,
      dialog: false,
      dialog1: false,
      menu2: false,
      formSearch: {
        roomName: '',
        dateMeet: new Date().toISOString().substr(0, 10)
      },
      form: {
        remarkApprove: '',
        userNameApprove: ''
      },
      formSubmit: {
        id: '',
        staffName: '',
        roomID: ''
      },
      columns: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'branchNo' },
        { text: 'ชื่อพนักงาน', value: 'staffName' },
        { text: 'Email', value: 'email' },
        { text: 'แผนก', value: 'dapartment' },
        { text: 'ห้องประชุม', value: 'roomID' },
        { text: 'วันที่ประชุม', value: 'dateMeet' },
        { text: 'เวลาที่ประชุม', value: 'timeMeet' },
        { text: 'หัวข้อการประชุม', value: 'topicMeet' },
        { text: 'สถานะ', value: 'status' }
      ],
      datareport: [],
      optionRoomName: [],
      dataListReady: true,
      chkbutton: '',
      dateTime: '',
      dataSearhcReady: true,
      checksubmit: true
    }
  },
  computed: {
    // loaded () {
    //   return this.$store.state.sessionStorage
    // }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/zoom/Login')
    } else {
      await this.getData()
    }
  },
  methods: {
    async getData () {
      await this.getNow()
      await this.getStockData()
      await this.getDataList()
    },
    getNow () {
      const today = new Date()
      // console.log(today)
      const date =
        today.getFullYear() +
        '' +
        (today.getMonth() + 1) +
        '' +
        today.getDate()
      const time =
        today.getHours() + '' + today.getMinutes() + '' + today.getSeconds()
      const dateTime = date + '' + time
      this.dateTime = dateTime
      // console.log(this.dateTime)
      // this.formUpdate.prospectiveCode = dateTime
    },
    setData (dt, text) {
      this.formSubmit.staffName = dt.staffName
      this.formSubmit.id = dt.id
      this.formSubmit.roomID = dt.roomID
      if (text === 'Approve') {
        this.dialog = true
        this.dialog1 = false
      } else {
        this.dialog = false
        this.dialog1 = true
      }
    },
    getStockData () {
      this.optionRoomName = []
      const url =
        `${this.$apiUrl}Zoom/Process/getStockdata`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key':
            this.$apiToken
        }
        // },
        // params: {
        //   dateStamp: this.datein
        // }
      }
      axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          // console.log(this.session.data.userName)
          const rs = response.data
          for (let i = 0; i < rs.length; i++) {
            const d = rs[i]
            d.text = d.room
            // s.userTel = d.userTel
            // s.userDepartment = d.userDepartment
            // s.branchName = d.branchName
            // s.userLinepictureUrl = d.userLinepictureUrl
            d.value = d.id
            this.optionRoomName.push(d)
          }
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    getDataList () {
      this.datareport = []
      this.dataListReady = false
      const url =
        `${this.$apiUrl}Zoom/Process/getData`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key':
            this.$apiToken
        },
        params: {
          status: 'In Process'
        }
      }
      axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          // console.log(this.session.data.userName)
          const rs = response.data
          // console.log(rs)
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
          } else {
            this.dataListReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        })
    },
    onSearch () {
      this.datareport = []
      this.dataListReady = false
      this.dataSearhcReady = false
      const url =
        `${this.$apiUrl}Zoom/Process/getData`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key':
            this.$apiToken
        },
        params: {
          status: 'In Process',
          roomID: this.formSearch.roomName,
          dateMeet: this.formSearch.dateMeet
        }
      }
      axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          // console.log(this.session.data.userName)
          const rs = response.data
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        })
    },
    onSubmitApprove () {
      this.checksubmit = false
      this.$swal({
        title: 'ตรวจสอบก่อนอนุมัติข้อมูล',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการอนุมัติหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'อนุมัติ',
        cancelButtonText: 'อนุมัติ และตรวจสอบ!'
      }).then((result) => {
        const url = `${this.$apiUrl}Zoom/Process/updateData`
        const config = {
          headers: {
            'Content-Type': 'application/json',
            'Application-Key': this.$apiToken
          }
        }
        const dt = {
          id: this.formSubmit.id,
          status: 'Approve',
          userNameApprove: this.session.data.User_NM,
          remarkApprove: this.form.remarkApprove
        }
        axios
          .post(url, dt, config)
          .then((response) => {
            this.dataReady = true
            if (response.data.status === 'FALSE') {
              this.form.remarkApprove = ''
              this.$swal('ผิดพลาด', response.data.message, 'error')
            } else {
              // location.reload()
              this.getData()
              this.$swal('เรียบร้อย', response.data.message, 'success')
            }
          })
      }).catch((error) => {
        // eslint-disable-next-line no-console
        console.log(error)
      })
    },
    onSubmitUnApprove () {
      this.checksubmit = false
      this.$swal({
        title: 'ตรวจสอบก่อนยกเลิกข้อมูล',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการยกเลิกหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'ยกเลิกข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      }).then((result) => {
        const url = `${this.$apiUrl}Zoom/Process/updateData`
        const config = {
          headers: {
            'Content-Type': 'application/json',
            'Application-Key': this.$apiToken
          }
        }
        const dt = {
          id: this.formSubmit.id,
          status: 'Unapprove',
          userNameApprove: this.session.data.User_NM,
          remarkApprove: this.form.remarkApprove
        }
        axios
          .post(url, dt, config)
          .then((response) => {
            this.dataReady = true
            if (response.data.status === 'FALSE') {
              this.form.remarkApprove = ''
              this.$swal('ผิดพลาด', response.data.message, 'error')
            } else {
              this.form.remarkApprove = ''
              const url = `${this.$apiUrl}Zoom/Process/updateStockData`
              const config = {
                headers: {
                  'Content-Type': 'application/json',
                  'Application-Key': this.$apiToken
                }
              }
              const dt = {
                id: this.formSubmit.roomID,
                statusUse: 'Free',
                LAST_USER: this.session.data.User_NM
              }
              axios
                .post(url, dt, config)
                .then((response) => {
                  // location.reload()
                  this.getData()
                  this.$swal('เรียบร้อย', response.data.message, 'success')
                })
            }
          })
      }).catch((error) => {
        // eslint-disable-next-line no-console
        console.log(error)
        this.dataReady = true
      })
    }
  }
}
</script>
<style>
  table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
