<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <form>
                  <v-row>
                    <v-col cols="3">
                      <v-menu
                        v-model="menu2"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="formSearch.dateMeet"
                            label="วันที่ประชุม"
                            prepend-icon="mdi-calendar"
                            readonly
                            dense
                            outlined
                            v-bind="attrs"
                            v-on="on"
                          />
                        </template>
                        <v-date-picker
                          v-model="formSearch.dateMeet"
                          @input="menu2 = false"
                        />
                      </v-menu>
                    </v-col>
                    <v-col cols="3">
                      <v-select
                        v-model="formSearch.roomName"
                        :items="optionRoomName"
                        label="รายชื่อห้อง"
                        dense
                        outlined
                      />
                    </v-col>
                  </v-row>
                </form>
                <div class="text-right">
                  <v-btn
                    tile
                    color="warning"
                    @click.stop="onSearch()"
                  >
                    <v-icon left>
                      mdi-selection-search
                    </v-icon>
                    ค้นหา
                  </v-btn>
                </div>
                <br>
                <div v-if="!dataSearhcReady">
                  <div class="text-center">
                    <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="red"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="70"
                      :width="7"
                      color="purple"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="green"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="50"
                      color="amber"
                      indeterminate
                    />
                  </div>
                </div>
              </v-card-text>
            </v-card>
            <br>
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-pencil-plus</v-icon> จัดการข้อมูล
              </v-card-title>
              <v-card-text>
                <v-row v-if="dataListReady">
                  <v-col cols="12">
                    <v-data-table
                      :headers="columns"
                      :items="datareport"
                      :items-per-page="5"
                    >
                      <template v-slot:[`item.action`]="{ item }">
                        <v-btn
                          v-if="item.status == 'In Process'"
                          color="warning"
                          fab
                          small
                          @click.stop="setEditData(item)"
                        >
                          <v-icon dark>
                            mdi-tools
                          </v-icon>
                        </v-btn>
                        <v-dialog
                          v-if="item.status == 'Approve'"
                          max-width="600"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              color="primary"
                              v-bind="attrs"
                              fab
                              small
                              v-on="on"
                            >
                              <v-icon dark>
                                mdi-debug-step-over
                              </v-icon>
                            </v-btn>
                          </template>
                          <template v-slot:default="dialog1">
                            <v-card>
                              <v-toolbar
                                color="primary"
                                dark
                              >
                                คืนห้องประชุม
                              </v-toolbar>
                              <v-card-text>
                                <div class="text-h5 pa-12">
                                  คุณต้องการคืนห้องประชุม {{ item.roomID }}หรือไม่
                                </div>
                              </v-card-text>
                              <v-card-actions class="justify-end">
                                <v-btn
                                  color="primary"
                                  @click.stop="onSubmitReturn(item)"
                                >
                                  คืนห้องประชุม
                                </v-btn>
                                <v-btn
                                  color="error"
                                  @click.stop="dialog1.value = false"
                                >
                                  ไม่คืนห้องประชุม
                                </v-btn>
                              </v-card-actions>
                            </v-card>
                          </template>
                        </v-dialog>
                      </template>
                    </v-data-table>
                    <v-dialog
                          v-model="dialog"
                          fullscreen
                          hide-overlay
                          transition="dialog-bottom-transition"
                          scrollable
                        >
                          <v-card tile>
                            <v-toolbar
                              flat
                              dark
                              color="warning"
                            >
                              <v-btn
                                icon
                                dark
                                @click.stop="dialog = false"
                              >
                                <v-icon>mdi-close</v-icon>
                              </v-btn>
                              <v-toolbar-title>แก้ไขข้อมูลการขออนุมัติ</v-toolbar-title>
                              <v-spacer />
                              <v-toolbar-items>
                                <v-btn
                                  dark
                                  text
                                  @click.stop="onSubmitEdit(item)"
                                >
                                  แก้ไขข้อมูล
                                </v-btn>
                              </v-toolbar-items>
                            </v-toolbar>
                            <v-card-text>
                              <v-row>
                                <v-col cols="3">
                                  <v-text-field
                                    v-model="form.email"
                                    :rules="[rules.required, rules.email]"
                                    label="Email"
                                    dense
                                    outlined
                                  />
                                </v-col>
                                <v-col cols="2">
                                  <v-text-field
                                    v-model="form.countMeet"
                                    :rules="[rules.required]"
                                    type="number"
                                    label="จำนวนผู้เข้าประชุม"
                                    dense
                                    outlined
                                  />
                                </v-col>
                                <v-col cols="3">
                                  <v-text-field
                                    v-model="form.topicMeet"
                                    :rules="[rules.required]"
                                    label="หัวข้อการประชุม"
                                    dense
                                    outlined
                                  />
                                </v-col>
                                <v-col cols="4">
                                  <v-text-field
                                    v-model="form.detailMeet"
                                    label="รายระเอียดการประชุม"
                                    dense
                                    outlined
                                  />
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col cols="3">
                                  <v-menu
                                    v-model="menu3"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                                  >
                                    <template v-slot:activator="{ on, attrs }">
                                      <v-text-field
                                        v-model="form.dateMeet"
                                        label="วันที่ประชุม"
                                        prepend-icon="mdi-calendar"
                                        readonly
                                        dense
                                        outlined
                                        v-bind="attrs"
                                        v-on="on"
                                      />
                                    </template>
                                    <v-date-picker
                                      v-model="form.dateMeet"
                                      @input="menu3 = false"
                                    />
                                  </v-menu>
                                </v-col>
                                <v-col cols="3">
                                  <v-menu
                                    ref="menu"
                                    v-model="menu1"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    :return-value.sync="form.timeMeet"
                                    transition="scale-transition"
                                    offset-y
                                    max-width="290px"
                                    min-width="290px"
                                  >
                                    <template v-slot:activator="{ on, attrs }">
                                      <v-text-field
                                        v-model="form.timeMeet"
                                        label="เวลาที่ประชุม"
                                        prepend-icon="mdi-clock-time-four-outline"
                                        dense
                                        outlined
                                        v-bind="attrs"
                                        v-on="on"
                                      />
                                    </template>
                                    <v-time-picker
                                      v-if="menu1"
                                      v-model="form.timeMeet"
                                      full-width
                                      format="24hr"
                                      @click:minute="$refs.menu.save(form.timeMeet)"
                                    />
                                  </v-menu>
                                </v-col>
                                <v-col cols="6">
                                  <v-text-field
                                    v-model="form.remark"
                                    label="หมายเหตุ"
                                    dense
                                    outlined
                                  />
                                </v-col>
                              </v-row>
                              <v-row>
                                <div>
                                  <v-btn
                                    color="warning"
                                    @click.stop="onSubmitEdit()"
                                  >
                                    แก้ไขข้อมูล
                                  </v-btn>
                                  <v-btn
                                    color="error"
                                    @click.stop="dialog = false"
                                  >
                                    ปิดหน้านี้
                                  </v-btn>
                                </div>
                              </v-row>
                            </v-card-text>
                            <div style="flex: 12 1 auto;" />
                          </v-card>
                        </v-dialog>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      session: this.$session.getAll(),
      rules: {
        required: value => !!value || 'Required.',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      menu1: false,
      menu3: false,
      dialog: false,
      dialog1: false,
      menu2: false,
      formSearch: {
        roomName: '',
        dateMeet: new Date().toISOString().substr(0, 10)
      },
      form: {
        id: '',
        email: '',
        countMeet: 0,
        topicMeet: '',
        detailMeet: '',
        dateMeet: new Date().toISOString().substr(0, 10),
        timeMeet: null,
        remark: ''
      },
      columns: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'branchNo' },
        { text: 'ชื่อพนักงาน', value: 'staffName' },
        { text: 'Email', value: 'email' },
        { text: 'แผนก', value: 'dapartment' },
        { text: 'ห้องประชุม', value: 'roomID' },
        { text: 'วันที่ประชุม', value: 'dateMeet' },
        { text: 'เวลาที่ประชุม', value: 'timeMeet' },
        { text: 'หัวข้อการประชุม', value: 'topicMeet' },
        { text: 'สถานะ', value: 'status' }
      ],
      datareport: [],
      optionRoomName: [],
      dataListReady: true,
      chkbutton: '',
      dateTime: '',
      dataSearhcReady: true,
      checksubmit: true
    }
  },
  computed: {
    // topicMeetState () {
    //   return this.form.topicMeet.length > 1
    // },
    // loaded () {
    //   return this.$store.state.sessionStorage
    // }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/zoom/Login')
    } else {
      await this.getData()
    }
  },
  methods: {
    async getData () {
      await this.getNow()
      await this.getStockData()
      await this.getDataList()
    },
    getNow () {
      const today = new Date()
      // console.log(today)
      const date =
        today.getFullYear() +
        '' +
        (today.getMonth() + 1) +
        '' +
        today.getDate()
      const time =
        today.getHours() + '' + today.getMinutes() + '' + today.getSeconds()
      const dateTime = date + '' + time
      this.dateTime = dateTime
      // console.log(this.dateTime)
      // this.formUpdate.prospectiveCode = dateTime
    },
    getStockData () {
      this.optionRoomName = []
      const url =
        `${this.$apiUrl}Zoom/Process/getStockdata`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key':
            this.$apiToken
        }
        // },
        // params: {
        //   dateStamp: this.datein
        // }
      }
      axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          // console.log(this.session.data.userName)
          const rs = response.data
          for (let i = 0; i < rs.length; i++) {
            const d = rs[i]
            d.text = d.room
            // s.userTel = d.userTel
            // s.userDepartment = d.userDepartment
            // s.branchName = d.branchName
            // s.userLinepictureUrl = d.userLinepictureUrl
            d.value = d.id
            this.optionRoomName.push(d)
          }
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    getDataList () {
      this.datareport = []
      this.dataListReady = false
      const url =
        `${this.$apiUrl}Zoom/Process/getData`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key':
            this.$apiToken
        },
        params: {
          CREATE_USER: this.session.data.User_NM
        }
      }
      axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          // console.log(this.session.data.userName)
          const rs = response.data
          // eslint-disable-next-line no-console
          console.log(rs)
          this.datareport = rs
          this.dataListReady = true
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    onSearch () {
      this.datareport = []
      this.dataListReady = false
      this.dataSearhcReady = false
      const url =
        `${this.$apiUrl}Zoom/Process/getData`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key':
            this.$apiToken
        },
        params: {
          CREATE_USER: this.session.data.User_NM,
          roomID: this.formSearch.roomName,
          dateMeet: this.formSearch.dateMeet
        }
      }
      axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          // console.log(this.session.data.userName)
          const rs = response.data
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        })
    },
    setEditData (item) {
      this.form.email = ''
      this.form.countMeet = 0
      this.form.topicMeet = ''
      this.form.detailMeet = ''
      this.form.dateMeet = new Date().toISOString().substr(0, 10)
      this.form.timeMeet = null
      this.form.remark = ''
      this.form.id = item.id
      this.form.email = item.email
      this.form.countMeet = item.countMeet
      this.form.topicMeet = item.topicMeet
      this.form.detailMeet = item.detailMeet
      this.form.dateMeet = item.dateMeet
      this.form.timeMeet = item.timeMeet
      this.form.remark = item.remark
      this.dialog = true
    },
    onSubmitEdit (item) {
      // eslint-disable-next-line no-console
      console.log(item)
      this.checksubmit = false
      this.$swal({
        title: 'ตรวจสอบก่อนแก้ไขข้อมูล',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการแก้ไขหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'แก้ไขข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      }).then((result) => {
        const url = `${this.$apiUrl}Zoom/Process/updateProcessData`
        const config = {
          headers: {
            'Content-Type': 'application/json',
            'Application-Key': this.$apiToken
          }
        }
        const dt = {
          id: this.form.id,
          email: this.form.email,
          countMeet: this.form.countMeet,
          topicMeet: this.form.topicMeet,
          detailMeet: this.form.detailMeet,
          dateMeet: this.form.dateMeet,
          timeMeet: this.form.timeMeet,
          remark: this.form.remark
        }
        axios
          .post(url, dt, config)
          .then((response) => {
            this.dataReady = true
            if (response.data.status === 'FALSE') {
              this.$swal('ผิดพลาด', response.data.message, 'error')
            } else {
              this.dialog = false
              // location.reload()
              this.getData()
              this.$swal('เรียบร้อย', response.data.message, 'success')
            }
          })
      }).catch((error) => {
        // eslint-disable-next-line no-console
        console.log(error)
        this.dataReady = true
      })
    },
    onSubmitReturn (item) {
      this.checksubmit = false
      this.$swal({
        title: 'ตรวจสอบก่อนเพิ่มข้อมูล',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการเพิ่มหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'เพิ่มข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      }).then((result) => {
        const url = `${this.$apiUrl}Zoom/Process/updateData`
        const config = {
          headers: {
            'Content-Type': 'application/json',
            'Application-Key': this.$apiToken
          }
        }
        const dt = {
          id: item.id,
          status: 'Return Room',
          userNameApprove: item.userNameApprove,
          remarkApprove: item.remarkApprove
        }
        axios
          .post(url, dt, config)
          .then((response) => {
            this.dataReady = true
            if (response.data.status === 'FALSE') {
              this.$swal('ผิดพลาด', response.data.message, 'error')
            } else {
              const url = `${this.$apiUrl}Zoom/Process/updateStockData`
              const config = {
                headers: {
                  'Content-Type': 'application/json',
                  'Application-Key': this.$apiToken
                }
              }
              const dt = {
                id: item.roomID,
                statusUse: 'Free',
                LAST_USER: this.session.data.User_NM
              }
              axios
                .post(url, dt, config)
                .then((response) => {
                  const startdatetime = new Date(this.form.dateMeet).getTime()
                  const startDate = new Date(startdatetime)
                  const dateLocal = startDate.toLocaleString('th-TH', { timeZone: 'Asia/Bangkok', hour12: false })
                  const dateSplit = dateLocal.split(' ')
                  const date = dateSplit[0].split('/')
                  const year = String(date[2])
                  const month = String(date[1])
                  const day = String(date[0])
                  const countyear = parseInt(year) - 543
                  const urlNoti = 'https://asia-east2-vgroup-honda.cloudfunctions.net/api/noti'
                  const dtNoti = {
                    token: 'GIiZgcPsd2GgrRpOXcVG2iajpeP0CBhIMKcGwRFwpU3',
                    message: item.staffName + ' \r\n ได้คืนห้องประชุม : ' + item.roomID + '\r\n วันที่คืน : ' + `${day}/${month}/${countyear}` + ' \r\n Email : ' + item.email + ''
                  }
                  axios
                    .post(urlNoti, dtNoti)
                    .then((response) => {
                      location.reload()
                      this.$swal('เรียบร้อย', response.data.message, 'success')
                    })
                })
            }
          })
      }).catch((error) => {
        // eslint-disable-next-line no-console
        console.log(error)
        this.dataReady = true
      })
    }
  }
}
</script>
<style>
  table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
