<template>
<div>
<v-app-bar fixed app>
    <v-app-bar-nav-icon @click.stop="mini =! mini" />
    <v-toolbar-title v-text="title" />
  </v-app-bar>
    <v-navigation-drawer v-model="drawer" :mini-variant.sync="mini" fixed app>
      <v-list>
      <v-list-item>
        <v-list-item-avatar>
          <!-- <v-img src='./assets/logo_vgroup.png' /> -->
          <v-img :src="require('@/assets/logo_vgroup.png')"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{ session.data.Name }} {{ session.data.Surname }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-list>
      <!-- <v-subheader>Activity</v-subheader> -->
      <v-list-item
        v-for="(item, i) in items"
        :key="i"
        :to="item.to"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <!-- <v-list>
      <v-subheader>Report</v-subheader>
      <v-list-item
        v-for="(item, i) in itemsReport"
        :key="i"
        :to="item.to"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list> -->
    <template v-slot:append>
        <div class="pa-2">
          <v-btn dark color="red" block href="/zoom/Login">
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'Zoom System',
      drawer: true,
      mini: false,
      session: this.$session.getAll(),
      itemsReport: [
        {
          icon: 'mdi-clipboard-text-multiple',
          title: 'การเคลือนไหว Process',
          to: '/zoom/Report'
        }
      ],
      items: [],
      items1: [
        {
          icon: 'mdi-bookmark-plus',
          title: 'Process',
          to: '/zoom/Process'
        },
        {
          icon: 'mdi-cogs',
          title: 'Process Setting',
          to: '/zoom/ProcessSetting'
        },
        {
          icon: 'mdi-checkbox-multiple-marked',
          title: 'Process Approve',
          to: '/zoom/ProcessApprove'
        },
        {
          icon: 'mdi-clipboard-text-multiple',
          title: 'การเคลือนไหว Process',
          to: '/zoom/Report'
        }
      ],
      items2: [
        {
          icon: 'mdi-bookmark-plus',
          title: 'Process',
          to: '/zoom/Process'
        },
        {
          icon: 'mdi-cogs',
          title: 'Process Setting',
          to: '/zoom/ProcessSetting'
        },
        {
          icon: 'mdi-clipboard-text-multiple',
          title: 'การเคลือนไหว Process',
          to: '/zoom/Report'
        }
      ]
    }
  },
  computed: {},
  mounted () {
    if (
      this.session.data.GroupS === 'Back Office IT' ||
      this.session.data.GroupS === 'Back Office'
    ) {
      this.items = this.items1
    } else {
      this.items = this.items2
    }
  },
  methods: {
  }
}
</script>

<style lang="css" scoped></style>
