<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <v-expansion-panels focusable v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <form v-if="dataSearhcReady">
                        <v-row>
                          <v-col cols="3">
                            <v-select
                              label="สาขา"
                              :items="optionsNoHObranchNo"
                              v-model="formSearch.branchNo"
                              outlined
                              dense
                            ></v-select>
                          </v-col>
                          <!-- <v-col cols="3">
                            <v-select
                              label="สถานะไฟแนนซ์"
                              :items="optionStatusFinance"
                              v-model="formSearch.statusFinance"
                              outlined
                              dense
                            ></v-select>
                          </v-col> -->
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.Bookingno"
                              label="Booking No."
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3">
                            <v-menu
                              v-model="menu2"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.BOOKING_DATE"
                                  prepend-icon="mdi-calendar"
                                  label="เดือน/ปี Booking"
                                  v-bind="attrs"
                                  outlined
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.BOOKING_DATE"
                                @input="menu2 = false"
                                type="month"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col col="3">
                            <v-select
                              label="บริษัท ไฟแนนซ์"
                              :items="optionsFinance"
                              v-model="formSearch.FinanceNAME"
                              outlined
                              dense
                            ></v-select>
                          </v-col>
                        </v-row>
                      </form>
                      <div class="text-right">
                        <v-btn
                          tile
                          color="warning"
                          @click="onSearch()"
                        >
                          <v-icon left>
                            mdi-selection-search
                          </v-icon>
                          ค้นหา
                        </v-btn>
                        <v-btn
                          color="error"
                          depressed
                          @click.prevent="onClearSearch()"
                            >
                            <v-icon left> settings_backup_restore </v-icon>
                            Clear
                        </v-btn>
                      </div>
                      <br>
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" v-if="datareport.length > 0">
            <v-card elevation="7">
              <v-card-text>
                <v-btn
                  color="primary"
                  depressed
                  dark
                  v-if="selected.length > 0"
                  @click.prevent="showOrder()"
                  >
                  <v-icon left> mdi-cart-plus </v-icon>
                  Get Order
                  </v-btn>
                <v-btn
                  color="teal"
                  depressed
                  dark
                  @click.prevent="onExport()"
                  >
                  <v-icon left> mdi-file-excel </v-icon>
                  Export Excel
                  </v-btn>
                <v-data-table
                  dense
                  v-model="selected"
                  :headers="columns"
                  :items="datareport"
                  :items-per-page="100"
                  :sort-by.sync="sortBy"
                  :sort-desc.sync="sortDesc"
                  show-select
                  item-key="BOOKING_NO"
                  :single-select="singleSelect"
                >
                </v-data-table>
                <v-dialog
                  v-model="dialogSelect"
                  fullscreen
                  hide-overlay
                  transition="dialog-bottom-transition"
                >
                  <v-card tile>
                    <v-toolbar flat dark color="primary">
                      <v-btn icon dark @click.stop="dialogSelect = false">
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                      <v-toolbar-title>เพิ่มข้อมูลเข้าระบบ Order Bank</v-toolbar-title>
                      <v-spacer />
                      <v-toolbar-items>
                        <v-btn color="primary" :loading="dataReadySave" :disabled="dataReadySave" dark @click="onSubmit()" depressed>
                            <v-icon left> add_box </v-icon>
                            เพิ่มข้อมูล
                          </v-btn>
                      </v-toolbar-items>
                    </v-toolbar>
                    <v-card-text v-if="!dataReadySave">
                    <v-row>
                      <v-col cols="12">
                        <v-row>
                          <v-col col="3">
                            <v-text-field
                              v-model="dateTime"
                              label="Order Number"
                              outlined
                              readonly
                              dense
                              ></v-text-field>
                          </v-col>
                          <v-col col="3">
                            <v-select
                              label="บริษัท ไฟแนนซ์"
                              :items="optionsFinance"
                              v-model="form.FinanceNAME"
                              :rules="[rules.required]"
                              outlined
                              dense
                            ></v-select>
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-col cols="12">
                        <v-data-table
                          :headers="desserts"
                          :items="selected"
                          :items-per-page="20"
                          class="elevation-1"
                        ></v-data-table>
                        </v-col>
                    </v-row>
                    <br>
                    <v-row>
                        <div>
                          <v-btn color="primary" @click="onSubmit()" depressed>
                            <v-icon left> add_box </v-icon>
                            เพิ่มข้อมูล
                          </v-btn>
                          <v-btn color="error" @click.stop="dialogSelect = false">
                            ปิดหน้านี้
                          </v-btn>
                        </div>
                      </v-row>
                    </v-card-text>
                    <div v-if="dataReadySave" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                      </div>
                    <div style="flex: 12 1 auto" />
                  </v-card>
                </v-dialog>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
  },
  data () {
    return {
      selected: [],
      singleSelect: false,
      breadcrumbs: [
        {
          text: 'Allocate Order',
          disabled: true,
          href: '/financeSales/AllocateOrder'
        }
      ],
      expanded: [],
      panel: [0],
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      dialog: false,
      dialog1: false,
      dialog2: false,
      dialogSelect: false,
      rules: {
        required: value => !!value || 'Required.',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      session: this.$session.getAll(),
      dataSearhcReady: true,
      statusSearch: 'รถใหม่',
      chkSearch: true,
      // optionInsuranceName: [],
      optionStaffInsuranceName: [],
      readonly: true,
      visible: false,
      formSearch: {
        branchNo: '',
        Bookingno: '',
        BOOKING_DATE: '',
        statusFinance: '',
        BOOKING_Year: '',
        FinanceNAME: ''
      },
      alertText: '',
      sortBy: 'BOOKING_DATE',
      sortDesc: true,
      optionBOOKING_Year: [
        { text: '2018', value: '2018' },
        { text: '2019', value: '2019' },
        { text: '2020', value: '2020' },
        { text: '2021', value: '2021' },
        { text: '2022', value: '2022' },
        { text: '2023', value: '2023' },
        { text: '2024', value: '2024' },
        { text: '2025', value: '2025' }
      ],
      optionsFinance: [
        {
          text: 'ธนาคาร ทิสโก้ จำกัด (มหาชน)',
          value: 'ธนาคาร ทิสโก้ จำกัด (มหาชน)'
        },
        {
          text: 'ธนาคาร ธนชาต จำกัด (มหาชน)',
          value: 'ธนาคาร ธนชาต จำกัด (มหาชน)'
        },
        { text: 'ธนาคาร ไทยพาณิชย์ จำกัด', value: 'ธนาคาร ไทยพาณิชย์ จำกัด' },
        {
          text: 'ธนาคาร กรุงศรีอยุธยา จำกัด (มหาชน)',
          value: 'ธนาคาร กรุงศรีอยุธยา จำกัด (มหาชน)'
        },
        {
          text: 'บริษัท ลีสซิ่ง กสิกรไทย จำกัด',
          value: 'บริษัท ลีสซิ่ง กสิกรไทย จำกัด'
        },
        {
          text: 'บริษัท ฮอนด้า ลีสซิ่ง (ประเทศไทย) จำกัด',
          value: 'บริษัท ฮอนด้า ลีสซิ่ง (ประเทศไทย) จำกัด'
        },
        {
          text: 'บริษัท ลีสซิ่ง ไอซีบีซี (ไทย) จำกัด',
          value: 'บริษัท ลีสซิ่ง ไอซีบีซี (ไทย) จำกัด'
        },
        {
          text: 'ธนาคารเกียรตินาคิน จำกัด (มหาชน)',
          value: 'ธนาคารเกียรตินาคิน จำกัด (มหาชน)'
        },
        {
          text: 'ธนาคารทหารไทยธนชาต จำกัด (มหาชน)',
          value: 'ธนาคารทหารไทยธนชาต จำกัด (มหาชน)'
        }
      ],
      optionStatusFinance: [
        { text: 'รถใหม่', value: '' },
        { text: 'On Process', value: 'On Process' },
        { text: 'N', value: 'N' },
        { text: 'PO', value: 'PO' },
        { text: 'ยกเลิก', value: 'ยกเลิก' },
        { text: 'ทั้งหมด', value: 'ทั้งหมด' }
      ],
      desserts: [
        { text: 'สาขา', value: 'Br_cd', align: 'center', width: '1%' },
        { text: 'เลขที่ใบจอง', value: 'BOOKING_NO', align: 'center', width: '1%' },
        { text: 'อ้างอิง Booking เก่า', value: 'BOOKING_NO_OLD', align: 'center', width: '1%' },
        { text: 'Booking Date', value: 'BOOKING_DATE', align: 'center', width: '150px' },
        { text: 'รุ่นรถ', value: 'Model_Car', align: 'center', width: '300px' },
        { text: 'โควต้ารถ', value: 'Quota_Month' },
        { text: 'C_F', value: 'Cash_Type' },
        { text: 'ชื่อลูกค้า', value: 'CUS_NAME', width: '200px' },
        { text: 'ชื่อเซลล์', value: 'Sale_Stf', width: '200px' },
        { text: 'วันที่ส่งงาน', value: 'Finance_Date', align: 'center', width: '150px' },
        { text: 'อนุมัติ', value: 'Status_Finance' },
        { text: 'วันที่อนุมัติ', value: 'Apor_Date', align: 'center', width: '150px' },
        { text: 'วันที่ PO หมดอายุ', value: 'AporEx_Date', align: 'center', width: '150px' },
        { text: 'Finance NAME', value: 'FinanceNAME', width: '200px' },
        { text: 'ราคารถ', value: 'TOTAL_Car' },
        { text: 'ส่วนลด', value: 'Discount_Cars' },
        { text: 'ส่วนเพิ่มราคารถ(Ultimate)', value: 'Total_Ultimate' },
        { text: 'ส่วนเพิ่มราคารถ(Accessory)', value: 'Total_Accessory' },
        { text: 'ส่วนเพิ่มราคารถ(Honda Connect)', value: 'Total_HDconnect' },
        { text: 'ส่วนเพิ่มราคารถ(ค่าเบี้ยคุ้มครอง)', value: 'Total_Protection' },
        { text: 'ราคารถสุทธิ', value: 'TOTAL_Cardetails' },
        { text: 'เงินดาวน์', value: 'DowAmount' },
        { text: 'ยอดจัด', value: 'Top_Finance' },
        { text: '%ดาวน์', value: 'DowPercen' },
        { text: 'B/E', value: 'Status_Begin' },
        { text: 'ดอกเบี้ย', value: 'IntRate' },
        { text: 'จำนวนงวด', value: 'InstlmQty' },
        { text: 'ค่างวด', value: 'InstlmAmt' },
        { text: 'ยอดเงินที่ได้รับจากไฟแนนซ์', value: 'Top_FinanceReturn' },
        { text: 'แคมเปญ', value: 'CAMPAIGN_HATC' }
      ],
      columns: [
        { text: 'สาขา', value: 'Br_cd', align: 'center', width: '1%' },
        { text: 'เลขที่ใบจอง', value: 'BOOKING_NO', align: 'center', width: '1%' },
        { text: 'อ้างอิง Booking เก่า', value: 'BOOKING_NO_OLD', align: 'center', width: '1%' },
        { text: 'Booking Date', value: 'BOOKING_DATE', align: 'center', width: '150px' },
        { text: 'รุ่นรถ', value: 'Model_Car', align: 'center', width: '300px' },
        { text: 'โควต้ารถ', value: 'Quota_Month' },
        { text: 'C_F', value: 'Cash_Type' },
        { text: 'ชื่อลูกค้า', value: 'CUS_NAME', width: '200px' },
        { text: 'ชื่อเซลล์', value: 'Sale_Stf', width: '200px' },
        { text: 'วันที่ส่งงาน', value: 'Finance_Date', align: 'center', width: '150px' },
        { text: 'อนุมัติ', value: 'Status_Finance' },
        { text: 'วันที่อนุมัติ', value: 'Apor_Date', align: 'center', width: '150px' },
        { text: 'วันที่ PO หมดอายุ', value: 'AporEx_Date', align: 'center', width: '150px' },
        { text: 'Finance NAME', value: 'FinanceNAME', width: '200px' },
        { text: 'ราคารถ', value: 'TOTAL_Car' },
        { text: 'ส่วนลด', value: 'Discount_Cars' },
        { text: 'ส่วนเพิ่มราคารถ(Ultimate)', value: 'Total_Ultimate' },
        { text: 'ส่วนเพิ่มราคารถ(Accessory)', value: 'Total_Accessory' },
        { text: 'ส่วนเพิ่มราคารถ(Honda Connect)', value: 'Total_HDconnect' },
        { text: 'ส่วนเพิ่มราคารถ(ค่าเบี้ยคุ้มครอง)', value: 'Total_Protection' },
        { text: 'ราคารถสุทธิ', value: 'TOTAL_Cardetails' },
        { text: 'เงินดาวน์', value: 'DowAmount' },
        { text: 'ยอดจัด', value: 'Top_Finance' },
        { text: '%ดาวน์', value: 'DowPercen' },
        { text: 'B/E', value: 'Status_Begin' },
        { text: 'ดอกเบี้ย', value: 'IntRate' },
        { text: 'จำนวนงวด', value: 'InstlmQty' },
        { text: 'ค่างวด', value: 'InstlmAmt' },
        { text: 'ยอดเงินที่ได้รับจากไฟแนนซ์', value: 'Top_FinanceReturn' },
        { text: 'หมายเหตุ1', value: 'Remark_HO' },
        { text: 'หมายเหตุ2', value: 'Remark_HO1' },
        { text: 'แคมเปญ', value: 'CAMPAIGN_HATC' }
      ],
      form: {
        FinanceNAME: ''
      },
      textWait: 'กำลังรอคำสั่ง',
      datareport: [],
      datareportCheckFOC: [],
      dataReady: true,
      dataReadySave: false,
      dataSearhcReadyTable: false,
      checksubmit: true,
      datareportHistory: [],
      dataHistory: false,
      chkbutton: '',
      dateTime: '',
      dessertsAccess: []
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/financeSales/Login')
    } else {
      // await this.getNow()
      console.log('this.$session.getAll()', this.$session.getAll())
    }
  },
  methods: {
    getNow () {
      const today = new Date()
      // console.log(today)
      const date =
        today.getFullYear() +
        '' +
        (today.getMonth() + 1) +
        '' +
        today.getDate()
      const time =
        today.getHours() + '' + today.getMinutes() + '' + today.getSeconds()
      const dateTime = 'OR' + date + '' + time
      this.dateTime = dateTime
      console.log(this.dateTime)
      // this.formUpdate.prospectiveCode = dateTime
    },
    showOrder () {
      console.log('this.datareport', this.selected)
      this.getNow()
      this.dialogSelect = true
    },
    async onSearch () {
      if (this.formSearch.FinanceNAME !== '') {
        this.dataSearhcReady = false
        this.datareport = []
        this.dataListReady = false
        // let statusUse = ''
        // if (this.formSearch.statusFinance === 'ทั้งหมด') {
        //   statusUse = ''
        // } else {
        //   statusUse = this.formSearch.statusFinance
        // }
        const url =
        this.DNS_IP + '/CheckFandI.php'
        const config = {
          params: {
            Br_cd: this.formSearch.branchNo,
            BOOKING_NO: this.formSearch.Bookingno,
            BOOKING_DATE: this.formSearch.BOOKING_DATE,
            BOOKING_Year: this.formSearch.BOOKING_Year,
            FinanceNAME: this.formSearch.FinanceNAME,
            orderNo: 'T',
            statusFinance: 'ทั้งหมด'
          }
        }
        await axios
          .get(url, config)
        // eslint-disable-next-line require-await
          .then(async (response) => {
            var rs = response.data
            console.log(rs)
            // console.log(this.session.data.userName)
            if (rs.length > 0) {
              for (var i = 0; i < rs.length; i++) {
                var d = rs[i]
                if (d.Status_Finance === 'PO' || d.Status_Finance === 'On Process' || d.Status_Finance === 'N') {
                  if (d.Finance_Date !== null) {
                    d.Finance_Date = moment(d.Finance_Date).format('DD/MM/YYYY')
                  }
                  if (d.Apor_Date !== null) {
                    d.Apor_Date = moment(d.Apor_Date).format('DD/MM/YYYY')
                  }
                  if (d.AporEx_Date !== null) {
                    d.AporEx_Date = moment(d.AporEx_Date).format('DD/MM/YYYY')
                  }
                  if (d.BOOKING_DATE !== null) {
                    d.BOOKING_DATE = moment(d.BOOKING_DATE).format('DD/MM/YYYY')
                  }
                  this.datareport.push(d)
                }
              }
              this.form.FinanceNAME = this.formSearch.FinanceNAME
              // this.datareport = rs
              this.dataListReady = true
              this.dataSearhcReady = true
            } else {
              this.dataListReady = true
              this.datareport = []
              this.dataSearhcReady = true
              this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
            }
          }).catch((error) => {
            console.log(error)
            this.dataReady = true
            this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          })
      } else {
        this.$swal('ผิดพลาด', 'กรุณาเลือก บริษัท ไฟแนนซ์', 'error')
      }
    },
    onClearSearch () {
      this.formSearch.Bookingno = ''
      this.formSearch.BOOKING_DATE = ''
      this.formSearch.branchNo = ''
      this.formSearch.statusFinance = ''
      this.formSearch.FinanceNAME = ''
    },
    async getAccess (BOOKING_NO) {
      this.dessertsAccess = []
      const url =
        // `http://localhost/vgroupl_api/CheckBookingFandI.php`
        `${this.DNS_IP}v1/FinanceSales/FinanceSales/getdataSalesEditAccess`
      const config = {
        headers: {
          'Application-Key': this.$apiToken
        },
        params: {
          bookingNo: BOOKING_NO
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async response => {
          if (response.data.data !== 'ไม่มีข้อมูล') {
            this.dessertsAccess = response.data
          } else {
            this.dessertsAccess = []
          }
        })
    },
    onSubmit () {
      this.$swal({
        title: 'ตรวจสอบก่อนเพิ่มข้อมูล',
        text: 'ท่านต้องการแก้ไขก่อนเพิ่มหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#1B5E20',
        cancelButtonColor: '#B71C1C',
        confirmButtonText: 'เพิ่มข้อมูล',
        cancelButtonText: 'แก้ไข',
        reverseButtons: true
      }).then(async result => {
        this.dataReadySave = true
        let rs = this.selected
        var pushData = []
        let lastUpdate = this.momenDate_2(new Date())
        for (var i = 0; i < rs.length; i++) {
          var d = rs[i]
          await this.getAccess(d.BOOKING_DATE)
          let dt =
                    "('" +
                    this.dateTime +
                    "','" +
                    (d.BOOKING_NO || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.BOOKING_DATE || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.CUS_NAME || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.Model_Car || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.TOTAL_Car || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.Discount_Cars || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.Total_Ultimate || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.Total_Accessory || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    JSON.stringify(this.dessertsAccess).trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.Total_HDconnect || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.Total_Protection || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.TOTAL_Cardetails || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.DowAmount || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.Top_Finance || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.DowPercen || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.Status_Begin || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.IntRate || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.InstlmQty || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.InstlmAmt || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.Top_FinanceReturn || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.CAMPAIGN_HATC || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.HelpRelax || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.UsedHonda || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.prospectiveCode || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    (d.FinanceNAME || '').trim().replace(/(\r\n|\n|\r)/gm, '') +
                    "','" +
                    lastUpdate +
                    "','" +
                    this.$session.getAll().data.User_NM + "','" + (d.Br_cd || '').trim().replace(/(\r\n|\n|\r)/gm, '') + "')"
          pushData.push(dt)
        }
        var usedata = pushData.map(function (pushBookingNums) {
          return pushBookingNums
        })
        var usedataUpdate = this.selected.map(function (pushBookingNums) {
          return "'" + pushBookingNums.BOOKING_NO + "'"
        })
        var dataUpdate = {
          orderNo: this.dateTime,
          updateSql: usedataUpdate.toString()
        }
        console.log('dataUpdate', dataUpdate)
        const url =
              'https://asia-southeast2-betask-crm.cloudfunctions.net/QuickApp-bq_insert_AllocateOrderFinance'
        axios.post(url, usedata).then(async response => {
          if (response.data === 'success') {
            await this.updateOrderNo(dataUpdate)
            this.$swal('เรียบร้อย', 'บันทึกสำเร็จ', 'success')
            this.dialogSelect = true
            this.dataReadySave = false
            this.onSearch()
          }
        })
        console.log(usedata.toString())
      })
    },
    async updateOrderNo (dt) {
      const url = `${this.DNS_IP}v1/FinanceSales/FinanceSales/updateOrderNo`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      await axios.post(url, dt, config).then(response => {
      })
    },
    deleteAllocateOrder () {
      axios
        .post(
          'https://asia-southeast2-betask-crm.cloudfunctions.net/QuickApp-bq_Delete_AllocateOrderFinance?orderId=' +
                  this.dateTime
        )
        .then(async response => {})
    },
    onExport () {
      this.dataexport = []
      for (var i = 0; i < this.datareport.length; i++) {
        var a = this.datareport[i]
        this.dataexport.push({
          'สาขา': a.Br_cd,
          'เลขที่ใบจอง': a.BOOKING_NO,
          'อ้างอิง Booking เก่า': a.BOOKING_NO_OLD,
          'Booking Date': a.BOOKING_DATE,
          'รุ่นรถ': a.Model_Car,
          'โควต้ารถ': a.Quota_Month,
          'C_F': a.Cash_Type,
          'ชื่อลูกค้า': a.CUS_NAME,
          'ชื่อเซลล์': a.Sale_Stf,
          'วันที่ส่งงาน': a.Finance_Date,
          'อนุมัติ': a.Status_Finance,
          'วันที่อนมัติ': a.Apor_Date,
          'Finance NAME': a.FinanceNAME,
          'ราคารถ': a.TOTAL_Car,
          'ส่วนลด': a.Discount_Cars,
          'ส่วนเพิ่มราคารถ(Ultimate)': a.Total_Ultimate,
          'ส่วนเพิ่มราคารถ(Accessory)': a.Total_Accessory,
          'ส่วนเพิ่มราคารถ(Honda Connect)': a.Total_HDconnect,
          'ส่วนเพิ่มราคารถ(ค่าเบี้ยคุ้มครอง)': a.Total_Protection,
          'ราคารถสุทธิ': a.TOTAL_Cardetails,
          'เงินดาวน์': a.DowAmount,
          'ยอดจัด': a.Top_Finance,
          '%ดาวน์': a.DowPercen,
          'B/E': a.Status_Begin,
          'ดอกเบี้ย': a.IntRate,
          'จำนวนงวด': a.InstlmQty,
          'ค่างวด': a.InstlmAmt,
          'ยอดเงินที่ได้รับจากไฟแนนซ์': a.Top_FinanceReturn,
          'หมายเหตุ1': a.Remark_HO,
          'หมายเหตุ2': a.Remark_HO1,
          'แคมเปญ': a.CAMPAIGN_HATC
        })
      }
      const dataWS = XLSX.utils.json_to_sheet(this.dataexport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'FinanceSaless.xlsx')
    }
    // for (var i = 0; i < rs.length; i++) {
    //       var d = rs[i]
    //       var s = {}
    //       await this.getAccess(d.BOOKING_DATE)
    //       s.orderId = this.dateTime
    //       s.BOOKING_NO = d.BOOKING_NO
    //       s.BOOKING_DATE = d.BOOKING_DATE
    //       s.CUS_NAME = d.CUS_NAME
    //       s.Model_Car = d.Model_Car
    //       s.TOTAL_Car = d.TOTAL_Car
    //       s.Discount_Cars = d.Discount_Cars
    //       s.Total_Ultimate = d.Total_Ultimate
    //       s.Total_Accessory = d.Total_Accessory
    //       s.Details_Accessory = JSON.stringify(this.dessertsAccess)
    //       s.Total_HDconnect = d.Total_HDconnect
    //       s.Total_Protection = d.Total_Protection
    //       s.TOTAL_Cardetails = d.TOTAL_Cardetails
    //       s.DowAmount = d.DowAmount
    //       s.Top_Finance = d.Top_Finance
    //       s.DowPercen = d.DowPercen
    //       s.Status_Begin = d.Status_Begin
    //       s.IntRate = d.IntRate
    //       s.InstlmQty = d.InstlmQty
    //       s.InstlmAmt = d.InstlmAmt
    //       s.Top_FinanceReturn = d.Top_FinanceReturn
    //       s.CAMPAIGN_HATC = d.CAMPAIGN_HATC
    //       s.HelpRelax = d.HelpRelax
    //       s.UsedHonda = d.UsedHonda
    //       s.prospectiveCode = d.prospectiveCode
    //       s.FinanceNAME = d.FinanceNAME
    //       s.LAST_DATE = lastUpdate
    //       s.LAST_USER = this.$session.getAll().data.User_NM
    //       s.Br_cd = d.Br_cd
    //       pushData.push(s)
    //     }
  }
}
</script>
<style>
table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
