<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <v-expansion-panels focusable v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <form v-if="dataSearhcReady">
                        <v-row>
                          <!-- <v-col cols="3">
                            <v-select
                              label="รุ่นรถยนต์"
                              :items="optionCarotherModelHONDA"
                              v-model="formSearch.carName"
                              dense
                            ></v-select>
                          </v-col> -->
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.Bookingno"
                              label="Booking No."
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </form>
                      <div class="text-right">
                        <v-btn
                          tile
                          color="warning"
                          @click="onSearch()"
                        >
                          <v-icon left>
                            mdi-selection-search
                          </v-icon>
                          ค้นหา
                        </v-btn>
                        <v-btn
                          color="error"
                          depressed
                          @click.prevent="onClearSearch()"
                            >
                            <v-icon left> settings_backup_restore </v-icon>
                            Clear
                        </v-btn>
                      </div>
                      <br>
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" v-if="datareport">
            <v-card elevation="7">
              <v-card-text>
                <v-data-table
                  :headers="columns"
                  :items="datareport"
                  :items-per-page="100"
                  :sort-by.sync="sortBy"
                  :sort-desc.sync="sortDesc"
                >
                  <template v-slot:[`item.action`]="{ item }">
                    <v-btn
                      color="warning"
                      fab
                      small
                      v-if="item.status === 'ไม่มี'"
                      @click.stop="setData(item)"
                    >
                      <v-icon dark> mdi-tools </v-icon>
                    </v-btn>
                  </template>
                  <template v-slot:[`item.status`]="{ item }">
                    <v-chip
                      :color="getColor(item.status)"
                      dark
                    >
                      {{ item.status }}
                    </v-chip>
                  </template>
                  <!-- v-slot:item.action="{ item }"
                  <template v-slot:item.action="{ item }">
                    <v-btn
                      color="cyan"
                      fab
                      small
                      @click="setData(item), (panel = [])"
                      ><v-icon dark>arrow_downward</v-icon></v-btn
                    >
                  </template> -->
                </v-data-table>
                <v-dialog
                  v-model="dialog"
                  fullscreen
                  hide-overlay
                  transition="dialog-bottom-transition"
                >
                <!-- <v-dialog
                  v-model="dialog"
                  fullscreen
                  hide-overlay
                  transition="dialog-bottom-transition"
                  scrollable
                > -->
                  <v-card tile>
                    <v-toolbar flat dark color="primary">
                      <v-btn icon dark @click.stop="dialog = false">
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                      <v-toolbar-title>เพิ่มข้อมูลเข้าระบบ Finance Sales (GS)</v-toolbar-title>
                      <v-spacer />
                      <v-toolbar-items>
                        <v-btn color="primary" dark @click="onSubmit()" depressed>
                            <v-icon left> add_box </v-icon>
                            เพิ่มข้อมูล
                          </v-btn>
                      </v-toolbar-items>
                    </v-toolbar>
                    <v-card-text>
                    <v-row>
                      <v-col col="3">
                       <v-text-field
                        v-model="form.BOOKING_NO"
                        label="Booking No."
                        outlined
                        dense
                        readonly
                        ></v-text-field>
                      </v-col>
                      <v-col col="3">
                       <v-text-field
                        v-model="form.BOOKING_NO_OLD"
                        label="อ้างอิง Booking เก่า"
                        maxlength="10"
                        outlined
                        dense
                        ></v-text-field>
                      </v-col>
                      <v-col col="3">
                       <v-text-field
                        v-model="form.CUS_NAME"
                        label="ชื่อลูกค้า"
                        outlined
                        dense
                        readonly
                        ></v-text-field>
                      </v-col>
                      <v-col col="3">
                        <v-menu
                          v-model="menu1"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          transition="scale-transition"
                          offset-y
                          min-width="290px"
                          >
                        <template
                          v-slot:activator="{ on, attrs }"
                        >
                        <v-text-field
                          v-model="form.Delivery_Date"
                          prepend-icon="mdi-calendar"
                          label="วันที่ รับรถ"
                          :rules="[rules.required]"
                          v-bind="attrs"
                          dense
                          v-on="on"
                        ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="form.Delivery_Date"
                          @input="menu1 = false"
                        ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col col="8">
                       <v-text-field
                        v-model="form.Model_Car"
                        label="Model | Type | Color"
                        outlined
                        dense
                        readonly
                        ></v-text-field>
                      </v-col>
                      <v-col cols="4">
                            <v-text-field
                              readonly
                              v-model="form.TOTAL_Car"
                              label="ราคารถ"
                              outlined
                              dense
                              class="text-right"
                              ></v-text-field>
                          </v-col>
                      </v-row>
                      <v-row>
                      <v-col cols="3">
                            <v-select
                              label="โควต้าของเดือน/ปี"
                              :items="optionsMonth"
                              v-model="form.Quota_Month"
                              :rules="[rules.required]"
                              dense
                            ></v-select>
                          </v-col>
                      <v-col cols="3">
                            <v-select
                              label="เช้าซื้อ(F) หรือ เงินสด(C)"
                              :items="optionCash_Type"
                              v-model="form.Cash_Type"
                              :rules="[rules.required]"
                              dense
                            ></v-select>
                          </v-col>
                      <v-col cols="3">
                            <v-select
                              label="ทางเลือก แคมเปญ"
                              :items="optionSelect_Campaign"
                              v-model="form.Select_Campaign"
                              :rules="[rules.required]"
                              dense
                            ></v-select>
                          </v-col>
                    </v-row>
                    <br>
                    <v-row>
                        <div>
                          <v-btn color="primary" @click="onSubmit()" depressed>
                            <v-icon left> add_box </v-icon>
                            เพิ่มข้อมูล
                          </v-btn>
                          <v-btn color="error" @click.stop="dialog = false">
                            ปิดหน้านี้
                          </v-btn>
                        </div>
                      </v-row>
                    </v-card-text>
                    <div style="flex: 12 1 auto" />
                  </v-card>
                </v-dialog>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
// import XLSX from 'xlsx' // import xlsx
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  // computed: {
  //   // countMeetState () {
  //   //   return this.form.countMeet.length > 0
  //   // },
  //   // eslint-disable-next-line vue/return-in-computed-property
  //   insPremiumState () {
  //     this.getSum()
  //   },
  //   // eslint-disable-next-line vue/return-in-computed-property
  //   insActState () {
  //     this.getSum()
  //   }
  // },
  data () {
    return {
      breadcrumbs: [
        {
          text: 'Process Branch',
          disabled: true,
          href: '/financeSales/Branch'
        }
      ],
      expanded: [],
      panel: [0],
      menu1: false,
      menu2: false,
      dialog: false,
      rules: {
        required: value => !!value || 'Required.',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      session: this.$session.getAll(),
      dataSearhcReady: true,
      statusSearch: 'รถใหม่',
      chkSearch: true,
      // optionInsuranceName: [],
      optionStaffInsuranceName: [],
      readonly: true,
      visible: false,
      formSearch: {
        Bookingno: ''
      },
      sortBy: 'status',
      sortDesc: true,
      columns: [
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สถานะ', value: 'status', align: 'center' },
        { text: 'Booking No', value: 'BOOKING_NO' },
        { text: 'Booking Date', value: 'BOOKING_DATE' },
        { text: 'Model Name', value: 'Booking_model' },
        { text: 'ชื่อลูกค้า', value: 'CUS_NM' },
        { text: 'ชื่อเซลล์', value: 'Sale_stf' }
      ],
      optionCash_Type: [
        { text: 'ไฟแนนซ์', value: 'F' },
        { text: 'เงินสด', value: 'C' }
      ],
      optionSelect_Campaign: [
        { text: '01', value: '1' },
        { text: '02', value: '2' },
        { text: '03', value: '3' },
        { text: '04', value: '4' },
        { text: '05', value: '5' },
        { text: '06', value: '6' },
        { text: '07', value: '7' },
        { text: '08', value: '8' },
        { text: '09', value: '9' },
        { text: '10', value: '10' },
        { text: '11', value: '11' },
        { text: '12', value: '12' },
        { text: '13', value: '13' },
        { text: '14', value: '14' },
        { text: '15', value: '15' }
      ],
      form: {
        ID_NUM: '',
        Br_cd: '',
        Log_login: '',
        BOOKING_NO: '',
        BOOKING_DATE: '',
        Cash_Type: '',
        Delivery_Date: '',
        Quota_Month: '',
        Model_Car: '',
        SERIES_NAME: '',
        MODEL_GRADE: '',
        MODEL_COLOR: '',
        MODEL_YEAR: '',
        TOTAL_Car: '',
        CUSTOMER_NO: '',
        CUS_NAME: '',
        BOOK_CUS_SIR_NAME: '',
        BOOK_CUS_FIRST_NAME: '',
        BOOK_CUS_LAST_NAME: '',
        CUSTOMERID: '',
        CUS_ADDRESS: '',
        CUS_CITY: '',
        CUS_DISTRICT: '',
        CUS_PROVINCE: '',
        CUS_ZIPCODE: '',
        CUS_MOBILE_NO: '',
        STAFF_CODE: '',
        Sale_Stf: '',
        Last_update_GS: '',
        FinanceNAME: '',
        Select_Campaign: '',
        financeName: '',
        BOOKING_NO_OLD: ''
      },
      datareport: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      checksubmit: true,
      datareportHistory: [],
      dataHistory: false,
      chkbutton: '',
      dateTime: ''
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/financeSales/Login')
    } else {
      await this.getNow()
    }
  },
  methods: {
    getColor (status) {
      if (status === 'มี') return 'green'
      else if (status === 'ไม่มี') return 'red'
    },
    getNow () {
      const today = new Date()
      // console.log(today)
      const date =
        today.getFullYear() +
        '' +
        (today.getMonth() + 1) +
        '' +
        today.getDate()
      const time =
        today.getHours() + '' + today.getMinutes() + '' + today.getSeconds()
      const dateTime = date + '' + time
      this.dateTime = dateTime
      this.getData()
      console.log(this.dateTime)
      // this.formUpdate.prospectiveCode = dateTime
    },
    async getData () {
      var branch = ''
      if (this.session.data.BranchS2 === 'PKM') {
        branch = '0116'
      }
      if (this.session.data.BranchS2 === 'CW') {
        branch = '0112'
      }
      if (this.session.data.BranchS2 === 'NK') {
        branch = '0113'
      }
      if (this.session.data.BranchS2 === 'BKN') {
        branch = '0115'
      }
      this.datareport = []
      this.dataListReady = false
      const url =
        // `http://localhost/vgroupl_api/CheckBookingFandI.php`
        `https://api.betaskthai.com/vgroupl_api/CheckBookingIDS.php`
      const config = {
        params: {
          DLR_CD: branch
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            var dataIDS = []
            var pushBookingNum = []
            for (var i = 0; i < rs.length; i++) {
              var d = rs[i]
              var s = {}
              s.booking = "'" + d.BOOKING_NO + "'"
              if (d.CUS_NM === null) {
                d.CUS_NM = d.BOOK_CUS_FIRST_NAME
              }
              pushBookingNum.push(s)
              dataIDS.push(d)
              this.value = i
            }
            var useBookingNum = pushBookingNum.map(function (pushBookingNums) {
              return pushBookingNums.booking
            })
            await axios
              .get(
                // 'http://localhost/vgroupl_api/CheckBookingIDS.php?DLR_CD=' +
                'https://api.betaskthai.com/vgroupl_api/CheckBookingFandI.php?BOOKING_NO=' +
                  useBookingNum
              )
              .then(async response => {
                // this.datareport = response.data
                let rs1 = response.data
                let rs = dataIDS
                for (var i = 0; i < rs.length; i++) {
                  // console.log('Vsale', rs1)
                  var d = rs[i]
                  var newArray = rs1.filter(function (el) {
                    if (el.BOOKING_NO === d.BOOKING_NO) {
                      return 'yes'
                    }
                  })
                  console.log(newArray)
                  // this.showstatus = 'Approve Booking'
                  if (newArray.length > 0) {
                    d.status = 'มี'
                    // d.sallNm = newArray[0].saleName
                    // this.countCarsVsale = this.countCarsVsale + 1
                    // d.statusVsale = newArray[0].prospectiveStatus
                    // if (newArray[0].prospectiveStatus !== 'Approve Booking') {
                    //   this.countCarsVsaleWarning = this.countCarsVsaleWarning + 1
                    // }
                  } else {
                    d.status = 'ไม่มี'
                    // d.sallNm = d.STAFF_FIRST_NAME + ' ' + d.STAFF_LAST_NAME
                    // this.countCarsIds = this.countCarsIds + 1
                  }
                  // d.statusstatusVsale = newArray[0].prospectiveStatus
                  this.datareport.push(d)
                  this.value = i
                }
                console.log(this.datareport)
                this.dataListReady = true
              })
          } else {
            this.dataListReady = true
            this.datareport = []
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        })
    },
    async onSearch () {
      var branch = ''
      if (this.session.data.BranchS2 === 'PKM') {
        branch = '0116'
      }
      if (this.session.data.BranchS2 === 'CW') {
        branch = '0112'
      }
      if (this.session.data.BranchS2 === 'NK') {
        branch = '0113'
      }
      if (this.session.data.BranchS2 === 'BKN') {
        branch = '0115'
      }
      this.datareport = []
      this.dataListReady = false
      const url =
        // `http://localhost/vgroupl_api/CheckBookingFandI.php`
        `https://api.betaskthai.com/vgroupl_api/CheckBookingIDS.php`
      const config = {
        params: {
          DLR_CD: branch,
          BOOKING_NO: this.formSearch.Bookingno
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            var dataIDS = []
            var pushBookingNum = []
            for (var i = 0; i < rs.length; i++) {
              var d = rs[i]
              var s = {}
              s.booking = "'" + d.BOOKING_NO + "'"
              if (d.CUS_NM === null) {
                d.CUS_NM = d.BOOK_CUS_FIRST_NAME
              }
              pushBookingNum.push(s)
              dataIDS.push(d)
              this.value = i
            }
            var useBookingNum = pushBookingNum.map(function (pushBookingNums) {
              return pushBookingNums.booking
            })
            await axios
              .get(
                // 'http://localhost/vgroupl_api/CheckBookingIDS.php?DLR_CD=' +
                'https://api.betaskthai.com/vgroupl_api/CheckBookingFandI.php?BOOKING_NO=' +
                  useBookingNum
              )
              .then(async response => {
                // this.datareport = response.data
                let rs1 = response.data
                let rs = dataIDS
                for (var i = 0; i < rs.length; i++) {
                  // console.log('Vsale', rs1)
                  var d = rs[i]
                  var newArray = rs1.filter(function (el) {
                    if (el.BOOKING_NO === d.BOOKING_NO) {
                      return 'yes'
                    }
                  })
                  console.log(newArray)
                  // this.showstatus = 'Approve Booking'
                  if (newArray.length > 0) {
                    d.status = 'มี'
                    // d.sallNm = newArray[0].saleName
                    // this.countCarsVsale = this.countCarsVsale + 1
                    // d.statusVsale = newArray[0].prospectiveStatus
                    // if (newArray[0].prospectiveStatus !== 'Approve Booking') {
                    //   this.countCarsVsaleWarning = this.countCarsVsaleWarning + 1
                    // }
                  } else {
                    d.status = 'ไม่มี'
                    // d.sallNm = d.STAFF_FIRST_NAME + ' ' + d.STAFF_LAST_NAME
                    // this.countCarsIds = this.countCarsIds + 1
                  }
                  // d.statusstatusVsale = newArray[0].prospectiveStatus
                  this.datareport.push(d)
                  this.value = i
                }
                console.log(this.datareport)
                this.dataListReady = true
              })
          } else {
            this.dataListReady = true
            this.datareport = []
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        })
    },
    onClearSearch () {
      this.formSearch.Bookingno = ''
    },
    async setData (item) {
      console.log(item)
      var branch = ''
      if (this.session.data.BranchS2 === 'PKM') {
        branch = '0116'
      }
      if (this.session.data.BranchS2 === 'CW') {
        branch = '0112'
      }
      if (this.session.data.BranchS2 === 'NK') {
        branch = '0113'
      }
      if (this.session.data.BranchS2 === 'BKN') {
        branch = '0115'
      }
      this.form.Br_cd = branch
      this.form.Log_login = this.session.data.Name + ' ' + this.session.data.Surname
      this.form.BOOKING_NO = item.BOOKING_NO
      this.form.BOOKING_DATE = item.BOOKING_DATE
      // this.form.Cash_Type = item.Cash_Type
      // this.form.Delivery_Date = item.Delivery_Date
      // this.form.Quota_Month = item.Quota_Month
      this.form.Model_Car = item.Booking_model
      this.form.SERIES_NAME = item.SERIES_NAME
      this.form.MODEL_GRADE = item.MODEL_GRADE
      this.form.MODEL_COLOR = item.MODEL_COLOR
      this.form.MODEL_YEAR = item.MODEL_YEAR
      console.log(item.CAR_PRICE)
      var no1 = parseFloat(item.CAR_PRICE * 0.07).toFixed(2)
      var no2 = parseFloat(item.CAR_PRICE).toFixed(2)
      this.form.TOTAL_Car = parseFloat(no2) + parseFloat(no1)
      this.form.CUSTOMER_NO = item.BOOK_CUSTOMER_NO
      this.form.BOOK_CUS_FIRST_NAME = item.BOOK_CUS_FIRST_NAME
      this.form.BOOK_CUS_LAST_NAME = item.BOOK_CUS_LAST_NAME
      this.form.BOOK_CUS_SIR_NAME = item.BOOK_CUS_SIR_NAME
      this.form.CUS_NAME = item.CUS_NM
      this.form.CUSTOMERID = item.BOOK_CUSTOMERID
      this.form.CUS_ADDRESS = item.BOOK_CUS_ADDRESS
      this.form.CUS_CITY = item.BOOK_CUS_CITY
      this.form.CUS_DISTRICT = item.BOOK_CUS_DISTRICT
      this.form.CUS_PROVINCE = item.BOOK_CUS_PROVINCE
      this.form.CUS_ZIPCODE = item.BOOK_CUS_ZIPCODE
      this.form.CUS_MOBILE_NO = item.BOOK_CUS_MOBILE_NO
      this.form.STAFF_CODE = item.STAFF_CODE
      this.form.Sale_Stf = item.Sale_stf
      // this.form.Last_update_GS = item.Last_update_GS
      // this.form.FinanceNAME = item.FinanceNAME
      this.form.Select_Campaign = item.Select_Campaign
      // this.form.financeName = item.financeName
      // this.form.BOOKING_NO_OLD = item.BOOKING_NO_OLD
      this.dialog = true
    },
    onClearSubmit () {
      this.form.ID_NUM = ''
      this.form.Br_cd = ''
      this.form.Log_login = ''
      this.form.BOOKING_NO = ''
      this.form.BOOKING_DATE = ''
      this.form.Cash_Type = ''
      this.form.Delivery_Date = ''
      this.form.Quota_Month = ''
      this.form.Model_Car = ''
      this.form.SERIES_NAME = ''
      this.form.MODEL_GRADE = ''
      this.form.MODEL_COLOR = ''
      this.form.MODEL_YEAR = ''
      this.form.TOTAL_Car = ''
      this.form.CUSTOMER_NO = ''
      this.form.CUS_NAME = ''
      this.form.BOOK_CUS_SIR_NAME = ''
      this.form.BOOK_CUS_FIRST_NAME = ''
      this.form.BOOK_CUS_LAST_NAME = ''
      this.form.CUSTOMERID = ''
      this.form.CUS_ADDRESS = ''
      this.form.CUS_CITY = ''
      this.form.CUS_DISTRICT = ''
      this.form.CUS_PROVINCE = ''
      this.form.CUS_ZIPCODE = ''
      this.form.CUS_MOBILE_NO = ''
      this.form.STAFF_CODE = ''
      this.form.Sale_Stf = ''
      this.form.Last_update_GS = ''
      this.form.FinanceNAME = ''
      this.form.Select_Campaign = ''
      this.form.financeName = ''
      this.form.BOOKING_NO_OLD = ''
    },
    onSubmit () {
      this.dataReady = false
      if (
        this.form.Quota_Month.length > 0 &&
        this.form.Cash_Type.length > 0 &&
        this.form.Delivery_Date.length > 0 &&
        this.form.Model_Car.length > 0
      ) {
        this.$swal({
          title: 'ตรวจสอบก่อนเพิ่มข้อมูล',
          text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการเพิ่มหรือไม่',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#dedede',
          confirmButtonText: 'เพิ่มข้อมูล',
          cancelButtonText: 'ยกเลิก และตรวจสอบ!'
        })
          .then((result) => {
            this.form.ID_NUM = this.dateTime
            var fnname = ''
            if (this.form.Cash_Type === 'C') {
              fnname = this.form.CUS_NAME
            } else {
              fnname = 'Null'
            }
            // this.form.Last_update_GS = moment(new Date()).format('YYYY-MM-DD HH:mm')
            console.log(this.form)
            const url = `${this.$apiUrl}FinanceSales/FinanceSales/addDataGs`
            let config = {
              headers: {
                'Content-Type': 'application/json',
                'Application-Key': this.$apiToken
              }
            }
            let dt = {
              'ID_NUM': this.form.ID_NUM,
              'Br_cd': this.form.Br_cd,
              'Log_login': this.form.Log_login,
              'BOOKING_NO': this.form.BOOKING_NO,
              'BOOKING_DATE': this.form.BOOKING_DATE,
              'Cash_Type': this.form.Cash_Type,
              'Delivery_Date': this.form.Delivery_Date,
              'Quota_Month': this.form.Quota_Month,
              'Model_Car': this.form.Model_Car,
              'SERIES_NAME': this.form.SERIES_NAME,
              'MODEL_GRADE': this.form.MODEL_GRADE,
              'MODEL_COLOR': this.form.MODEL_COLOR,
              'MODEL_YEAR': this.form.MODEL_YEAR,
              'TOTAL_Car': parseFloat(this.form.TOTAL_Car).toFixed(2).toString(),
              'CUSTOMER_NO': this.form.CUSTOMER_NO,
              'CUS_NAME': this.form.CUS_NAME,
              'BOOK_CUS_SIR_NAME': this.form.BOOK_CUS_SIR_NAME,
              'BOOK_CUS_FIRST_NAME': this.form.BOOK_CUS_FIRST_NAME,
              'BOOK_CUS_LAST_NAME': this.form.BOOK_CUS_LAST_NAME,
              'CUSTOMERID': this.form.CUSTOMERID,
              'CUS_ADDRESS': this.form.CUS_ADDRESS,
              'CUS_CITY': this.form.CUS_CITY,
              'CUS_DISTRICT': this.form.CUS_DISTRICT,
              'CUS_PROVINCE': this.form.CUS_PROVINCE,
              'CUS_ZIPCODE': this.form.CUS_ZIPCODE,
              'CUS_MOBILE_NO': this.form.CUS_MOBILE_NO,
              'STAFF_CODE': this.form.STAFF_CODE,
              'Sale_Stf': this.form.Sale_Stf,
              'FinanceNAME': fnname,
              'Select_Campaign': this.form.Select_Campaign,
              'BOOKING_NO_OLD': this.form.BOOKING_NO_OLD
            }
            axios.post(url, dt, config).then((response) => {
              this.dataReady = true
              if (response.data.status === 'FALSE') {
                // this.onClearSubmit()
                this.$swal('ผิดพลาด', response.data.message, 'error')
              } else {
                this.onClearSubmit()
                this.getNow()
                this.dialog = false
                // this.$router.push('/financeSales/Branch')
                this.$swal('เรียบร้อย', response.data.message, 'success')
              }
            })
          })
          .catch((error) => {
            console.log(error)
            this.dataReady = true
          })
      } else {
        this.dataReady = true
        this.$swal(
          'ผิดพลาด',
          'กรุณาใส่ข้อมูลให้ครบถ้วน ตามช่องที่มีสีแดง',
          'error'
        )
      }
    }
  }
}
</script>
<style>
table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
