<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <!-- <v-tabs
                    v-model="tab"
                    background-color="red"
                    centered
                    dark
                    icons-and-text
                  > -->
                <v-tabs centered icons-and-text>
                  <v-tabs-slider></v-tabs-slider>
                  <v-tab @click="tabActive('A')">
                    รายงานสรุปยอดส่งงานไฟแนนซ์
                    <v-icon>mdi-car-multiple</v-icon>
                  </v-tab>
                  <v-tab @click="tabActive('B')">
                    BackOrder
                    <v-icon>mdi-car</v-icon>
                  </v-tab>
                  <v-tab @click="tabActive('C')">
                    Invoice
                    <v-icon>mdi-car-info</v-icon>
                  </v-tab>
                  <v-tab @click="tabActive('D')">
                    ภาพรวม
                    <v-icon>mdi-car-arrow-right</v-icon>
                  </v-tab>
                </v-tabs>
                <template v-if="showDashboardA">
                  <div class="h_iframe">
                    <iframe
                      src="https://datastudio.google.com/embed/reporting/1662ee9a-7acd-41d4-9583-3c0311159adc/page/KQVXC"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardB">
                  <div class="h_iframe">
                    <iframe
                      src="https://datastudio.google.com/embed/reporting/bdaf180c-9577-46bf-af62-c4a67f3472b6/page/xTofB"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardC">
                  <div class="h_iframe">
                    <iframe
                      src="https://datastudio.google.com/embed/reporting/7e8323f5-59f6-4f25-9e6e-343cc89bffc5/page/xTofB"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardD">
                  <div class="h_iframe">
                    <iframe
                      src="https://datastudio.google.com/embed/reporting/6817ae28-6b3e-403a-b7d3-af5f8a911762/page/xTofB"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <!-- <template v-if="showDashboardC">
                  <v-row>
                    <v-col cols="12">
                      <v-card elevation="7">
                        <v-card-text v-if="!dataReady">
                          <div class="text-center">
                            <v-progress-circular
                              :size="50"
                              color="primary"
                              indeterminate
                            ></v-progress-circular>

                            <v-progress-circular
                              :width="3"
                              color="red"
                              indeterminate
                            ></v-progress-circular>

                            <v-progress-circular
                              :size="70"
                              :width="7"
                              color="purple"
                              indeterminate
                            ></v-progress-circular>

                            <v-progress-circular
                              :width="3"
                              color="green"
                              indeterminate
                            ></v-progress-circular>

                            <v-progress-circular
                              :size="50"
                              color="amber"
                              indeterminate
                            ></v-progress-circular>
                          </div>
                        </v-card-text>
                        <v-card-text v-if="dataReady">
                          <v-row>
                            <v-col cols="3">
                              <v-menu
                                v-model="menuSearch1"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                              >
                                <template v-slot:activator="{ on, attrs }">
                                  <v-text-field
                                    v-model="formSearch.monthYear"
                                    prepend-icon="mdi-calendar"
                                    label="เดือน/ปี"
                                    v-bind="attrs"
                                    dense
                                    v-on="on"
                                  ></v-text-field>
                                </template>
                                <v-date-picker
                                  v-model="formSearch.monthYear"
                                  @input="(menuSearch1 = false), getData()"
                                  type="month"
                                ></v-date-picker>
                              </v-menu>
                            </v-col>
                          </v-row>
                        </v-card-text>
                        <v-card-text v-if="dataReady">
                          <v-row>
                            <v-col cols="4" style="margin-top:90px;">
                              <v-card elevation="7">
                                <v-card-text>
                                  <h3>Invoice</h3>
                                  <h2>{{ countAll }}</h2>
                                </v-card-text>
                              </v-card>
                            </v-col>
                            <v-col cols="8">
                              <v-card>
                                <v-container>
                                  <ChartDoughnutBase
                                    :chart-data="this.chartData1"
                                    :options="options1"
                                    legend="bottom"
                                  />
                                </v-container>
                              </v-card>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col cols="12">
                              <v-text-field
                                v-model="searchAll2"
                                append-icon="mdi-magnify"
                                label="Search"
                                single-line
                                hide-details
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                              <v-data-table
                                :headers="columns"
                                :items="dataAll"
                                :search="searchAll2"
                                :items-per-page="10"
                              >
                                <template
                                  v-slot:[`item.INVOICE_DATE`]="{ item }"
                                >
                                  {{ format_dateNotime(item.INVOICE_DATE) }}
                                </template>
                              </v-data-table>
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-col>
                  </v-row>
                </template> -->
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
import ChartDoughnutBase from './ChartDoughnutBase'
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu,
    ChartDoughnutBase
  },
  computed: {},
  data () {
    return {
      session: this.$session.getAll(),
      breadcrumbs: [
        {
          text: 'DashBoard',
          disabled: true,
          href: '/financeSales/DashBoard'
        }
      ],
      chartData1: null,
      options1: {
        plugins: {
          datalabels: {
            color: 'white',
            textAlign: 'center',
            font: {
              weight: 'bold',
              size: 16
            },
            formatter: (value, ctx) => {
              for (var key in ctx.dataset._meta) {
                var total = ctx.dataset._meta[key].total
                console.log(key)
              }
              let percentage = ((value * 100) / total).toFixed(0) + '%'
              return percentage
            }
          }
        },
        legend: {
          labels: {
            fontSize: 16,
            fontColor: 'black'
          }
        },
        responsive: true,
        maintainAspectRatio: false
      },
      showDashboardA: false,
      showDashboardB: false,
      showDashboardC: false,
      showDashboardD: false,
      showDashboardE: false,
      showDashboardF: false,
      showDashboardG: false,
      showDashboardH: false,
      expanded: [],
      panel: [0],
      menuSearch1: false,
      formSearch: {
        monthYear: new Date().toISOString().substr(0, 7)
      },
      menu2: false,
      menu3: false,
      menu4: false,
      dialog: false,
      dialog1: false,
      dialog2: false,
      textWait: 'กำลังรอคำสั่ง',
      datareport: [],
      datareportCheckFOC: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      checksubmit: true,
      datareportHistory: [],
      dataHistory: false,
      chkbutton: '',
      dateTime: '',
      countAll: 0,
      searchAll2: '',
      dataAll: null,
      columns: [
        { text: 'สาขา', value: 'DEALER_CODE' },
        { text: 'FRAME_NO', value: 'FRAME_NO' },
        { text: 'CUS_NM', value: 'CUS_NM' },
        { text: 'Finance', value: 'REGIS_CUS_FIRST_NAME' },
        { text: 'INVOICE_DATE', value: 'INVOICE_DATE' },
        { text: 'INVOICE_NO', value: 'INVOICE_NO' },
        { text: 'SERIES_NAME', value: 'SERIES_NAME' },
        { text: 'MODEL_YEAR', value: 'MODEL_YEAR' }
      ]
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/financeSales/Login')
    } else {
      await this.tabActive('A')
    }
  },
  methods: {
    tabActive (dt) {
      this.tabActives = dt
      if (dt === 'A') {
        // this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/54e2d5b0-7f0d-4a09-8d63-ffd39263550a/page/qGw5B'
        this.showDashboardA = true
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'B') {
        // this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/1791bfbf-d201-40a3-8d04-38d27646270b/page/tgi1B'
        this.showDashboardA = false
        this.showDashboardB = true
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
      }
      if (dt === 'C') {
        // this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/43719f26-6ad1-45ea-8e47-24811848e728/page/tgi1B'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = true
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        // this.getData()
      }
      if (dt === 'D') {
        // this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/71c77914-edb2-47e5-9964-f310f40c8139/page/tgi1B'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = true
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
      }
      // if (dt === 'E') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/54dc1091-884f-4087-9e3d-485eee302531/page/PLtyB'
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = true
      //   this.showDashboardF = false
      //   this.showDashboardG = false
      // }
      // if (dt === 'F') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/d8cf05eb-04b0-4e23-b565-e0b021fe6c92/page/SKryB'
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = true
      //   this.showDashboardG = false
      // }
      // if (dt === 'G') {
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = false
      //   this.showDashboardG = true
      // }
    },
    async getData () {
      this.dataReady = false
      this.dataAll = []
      this.countAll = 0
      this.chartData = null
      let countyear = ''
      let monthStr = ''
      if (this.formSearch.monthYear) {
        var startdatetime1 = new Date(this.formSearch.monthYear).getTime()
        const startDate = new Date(startdatetime1)
        const dateLocal = startDate.toLocaleString('th-TH', {
          timeZone: 'Asia/Bangkok',
          hour12: false
        })
        const dateSplit = dateLocal.split(' ')
        const date = dateSplit[0].split('/')
        const year = String(date[2])
        const month = String(date[1])
        countyear = parseInt(year) - 543
        const countmonth = parseInt(month) + 100
        monthStr = String(countmonth).substring(1, 3)
      }
      // const url = 'https://api.betaskthai.com/vgroupl_api/CheckBookingNewCar.php?DLR_CD=0112&month=' + monthStr + '&year=' + countyear + '&type=IDS'
      const url =
        'https://api.betaskthai.com/vgroupl_api/CheckBookingNewCar.php?type=IDS&checkFinance=T'
      // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
      // const url = `${this.$apiUrl}FinanceSales/FinanceSales/getdataCheckFOC?`
      // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
      const config1 = {
        // headers: {
        //   'Application-Key': this.$apiToken
        // },
        params: {
          DLR_CD: '0112',
          year: countyear,
          month: monthStr
        }
      }
      await axios
        .get(url, config1)
        // eslint-disable-next-line require-await
        .then(async response => {
          let rs = response.data
          for (let i = 0; i < rs.length; i++) {
            let d = rs[i]
            this.dataAll.push(d)
            // console.log('getData', rs)
          }
        })
      const config2 = {
        // headers: {
        //   'Application-Key': this.$apiToken
        // },
        params: {
          DLR_CD: '0113',
          year: countyear,
          month: monthStr
        }
      }
      await axios
        .get(url, config2)
        // eslint-disable-next-line require-await
        .then(async response => {
          let rs = response.data
          for (let i = 0; i < rs.length; i++) {
            let d = rs[i]
            this.dataAll.push(d)
            // console.log('getData', rs)
          }
        })
      const config3 = {
        // headers: {
        //   'Application-Key': this.$apiToken
        // },
        params: {
          DLR_CD: '0115',
          year: countyear,
          month: monthStr
        }
      }
      await axios
        .get(url, config3)
        // eslint-disable-next-line require-await
        .then(async response => {
          let rs = response.data
          for (let i = 0; i < rs.length; i++) {
            let d = rs[i]
            this.dataAll.push(d)
            // console.log('getData', rs)
          }
        })
      const config4 = {
        // headers: {
        //   'Application-Key': this.$apiToken
        // },
        params: {
          DLR_CD: '0116',
          year: countyear,
          month: monthStr
        }
      }
      await axios
        .get(url, config4)
        // eslint-disable-next-line require-await
        .then(async response => {
          let rs = response.data
          for (let i = 0; i < rs.length; i++) {
            let d = rs[i]
            this.dataAll.push(d)
            // console.log('getData', rs)
          }
        })
      this.countAll = this.dataAll.length
      console.log(this.groupBy(this.dataAll, 'REGIS_CUS_FIRST_NAME'))
      var dataChart = await this.groupBy(this.dataAll, 'REGIS_CUS_FIRST_NAME')
      const label = Object.keys(dataChart)
      const data = Object.values(dataChart)
      console.log('label', label)
      console.log('data', data)
      this.chartData1 = {
        labels: label,
        datasets: [
          {
            backgroundColor: [
              'rgb(142, 202, 230)',
              'rgb(33, 158, 188)',
              'rgb(2, 48, 71)',
              'rgb(241, 91, 76)',
              'rgb(255, 183, 3)',
              'rgb(251, 133, 0)',
              'rgb(61,90,128)',
              'rgb(152,193,217)',
              'rgb(224,251,252)',
              'rgb(255,212,91)',
              'rgb(238,108,77)',
              'rgb(41,50,65)'
            ],
            data: data
          }
        ]
      }
      this.dataReady = true
    },
    groupBy (array, key) {
      return array.reduce((result, currentValue) => {
        result[currentValue.REGIS_CUS_FIRST_NAME] =
          (result[currentValue.REGIS_CUS_FIRST_NAME] || 0) + 1
        return result
      }, {})
    },
    onExport () {
      this.dataexport = []
      for (var i = 0; i < this.datareport.length; i++) {
        var a = this.datareport[i]
        this.dataexport.push({
          สาขา: a.Br_cd,
          เลขที่ใบจอง: a.BOOKING_NO,
          'อ้างอิง Booking เก่า': a.BOOKING_NO_OLD,
          'Booking Date': a.BOOKING_DATE,
          รุ่นรถ: a.Model_Car,
          โควต้ารถ: a.Quota_Month,
          C_F: a.Cash_Type,
          ชื่อลูกค้า: a.CUS_NAME,
          ชื่อเซลล์: a.Sale_Stf,
          วันที่ส่งงาน: a.Finance_Date,
          อนุมัติ: a.Status_Finance,
          วันที่อนมัติ: a.Apor_Date,
          'Finance NAME': a.FinanceNAME,
          ราคารถ: a.TOTAL_Car,
          ส่วนลด: a.Discount_Cars,
          'ส่วนเพิ่มราคารถ(Ultimate)': a.Total_Ultimate,
          'ส่วนเพิ่มราคารถ(Accessory)': a.Total_Accessory,
          'ส่วนเพิ่มราคารถ(Honda Connect)': a.Total_HDconnect,
          'ส่วนเพิ่มราคารถ(ค่าเบี้ยคุ้มครอง)': a.Total_Protection,
          ราคารถสุทธิ: a.TOTAL_Cardetails,
          เงินดาวน์: a.DowAmount,
          ยอดจัด: a.Top_Finance,
          '%ดาวน์': a.DowPercen,
          'B/E': a.Status_Begin,
          ดอกเบี้ย: a.IntRate,
          จำนวนงวด: a.InstlmQty,
          ค่างวด: a.InstlmAmt,
          ยอดเงินที่ได้รับจากไฟแนนซ์: a.Top_FinanceReturn,
          หมายเหตุ1: a.Remark_HO,
          หมายเหตุ2: a.Remark_HO1,
          แคมเปญ: a.CAMPAIGN_HATC
        })
      }
      const dataWS = XLSX.utils.json_to_sheet(this.dataexport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'FinanceSaless.xlsx')
    }
  }
}
</script>
<style scoped>
table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
.h_iframe iframe {
  width: 100%;
  height: 3000px;
}
.h_iframe {
  height: 100%;
  width: 100%;
}
</style>
