<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <v-expansion-panels focusable v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <form v-if="dataSearhcReady">
                        <v-row>
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.orderNo"
                              label="Booking No."
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3">
                            <v-menu
                              v-model="menu2"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.LAST_DATE"
                                  prepend-icon="mdi-calendar"
                                  label="วันที่ จัดสรร"
                                  v-bind="attrs"
                                  outlined
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.LAST_DATE"
                                @input="menu2 = false"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col col="3">
                            <v-select
                              label="บริษัท ไฟแนนซ์"
                              :items="optionsFinance"
                              v-model="formSearch.FinanceNAME"
                              outlined
                              dense
                            ></v-select>
                          </v-col>
                        </v-row>
                      </form>
                      <div class="text-right">
                        <v-btn
                          tile
                          color="warning"
                          @click="onSearch()"
                        >
                          <v-icon left>
                            mdi-selection-search
                          </v-icon>
                          ค้นหา
                        </v-btn>
                        <v-btn
                          color="error"
                          depressed
                          @click.prevent="onClearSearch()"
                            >
                            <v-icon left> settings_backup_restore </v-icon>
                            Clear
                        </v-btn>
                      </div>
                      <br>
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" v-if="datareport.length > 0">
            <v-card elevation="7">
              <v-card-text>
                <v-data-table
                  dense
                  :headers="columns"
                  :items="datareport"
                  :items-per-page="100"
                >
                <template v-slot:[`item.action`]="{ item }">
                    <!-- confirm -->
                    <v-btn
                      color="info"
                      fab
                      small
                      @click.stop="getDataDetails(item)"
                    >
                      <v-icon dark> mdi-details </v-icon>
                    </v-btn>
                </template>
                </v-data-table>
                <v-dialog
                  v-model="dialogSelect"
                  fullscreen
                  hide-overlay
                  transition="dialog-bottom-transition"
                >
                  <v-card tile>
                    <v-toolbar flat dark color="primary">
                      <v-btn icon dark @click.stop="dialogSelect = false">
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                      <v-toolbar-title>รายการใน Order No</v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                    <v-row>
                      <v-col cols="12" class="text-right">
                        <v-btn
                          color="#B71C1C"
                          dark
                          small
                          @click.stop="deleteDataAll(datareportDetails)"
                        >
                          <v-icon left dark> mdi-delete-circle-outline </v-icon>
                          ลบรายการทั้งหมด
                        </v-btn>
                      </v-col>
                      <v-col cols="12">
                        <v-data-table
                          :headers="columnsDetails"
                          :items="datareportDetails"
                          :items-per-page="20"
                          class="elevation-1"
                        >
                          <template v-slot:[`item.action`]="{ item }">
                              <!-- confirm -->
                              <v-btn
                                color="error"
                                fab
                                small
                                @click.stop="deleteData(item)"
                              >
                                <v-icon dark> mdi-delete-circle-outline </v-icon>
                              </v-btn>
                          </template>
                        </v-data-table>
                        </v-col>
                    </v-row>
                    <br>
                    <v-row>
                        <div>
                          <v-btn color="error" @click.stop="dialogSelect = false">
                            ปิดหน้านี้
                          </v-btn>
                        </div>
                      </v-row>
                    </v-card-text>
                    <div style="flex: 12 1 auto" />
                  </v-card>
                </v-dialog>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
  },
  data () {
    return {
      selected: [],
      singleSelect: false,
      breadcrumbs: [
        {
          text: 'Delete Order',
          disabled: true,
          href: '/financeSales/ManageOrder'
        }
      ],
      expanded: [],
      panel: [0],
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      dialog: false,
      dialog1: false,
      dialog2: false,
      dialogSelect: false,
      rules: {
        required: value => !!value || 'Required.',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      session: this.$session.getAll(),
      dataSearhcReady: true,
      statusSearch: 'รถใหม่',
      chkSearch: true,
      // optionInsuranceName: [],
      optionStaffInsuranceName: [],
      readonly: true,
      visible: false,
      formSearch: {
        branchNo: '',
        Bookingno: '',
        LAST_DATE: '',
        statusFinance: '',
        BOOKING_Year: '',
        FinanceNAME: '',
        onderNo: ''
      },
      sortBy: 'LAST_DATE',
      sortDesc: true,
      optionBOOKING_Year: [
        { text: '2018', value: '2018' },
        { text: '2019', value: '2019' },
        { text: '2020', value: '2020' },
        { text: '2021', value: '2021' },
        { text: '2022', value: '2022' },
        { text: '2023', value: '2023' },
        { text: '2024', value: '2024' },
        { text: '2025', value: '2025' }
      ],
      optionsFinance: [
        {
          text: 'ธนาคาร ทิสโก้ จำกัด (มหาชน)',
          value: 'ธนาคาร ทิสโก้ จำกัด (มหาชน)'
        },
        {
          text: 'ธนาคาร ธนชาต จำกัด (มหาชน)',
          value: 'ธนาคาร ธนชาต จำกัด (มหาชน)'
        },
        { text: 'ธนาคาร ไทยพาณิชย์ จำกัด', value: 'ธนาคาร ไทยพาณิชย์ จำกัด' },
        {
          text: 'ธนาคาร กรุงศรีอยุธยา จำกัด (มหาชน)',
          value: 'ธนาคาร กรุงศรีอยุธยา จำกัด (มหาชน)'
        },
        {
          text: 'บริษัท ลีสซิ่ง กสิกรไทย จำกัด',
          value: 'บริษัท ลีสซิ่ง กสิกรไทย จำกัด'
        },
        {
          text: 'บริษัท ฮอนด้า ลีสซิ่ง (ประเทศไทย) จำกัด',
          value: 'บริษัท ฮอนด้า ลีสซิ่ง (ประเทศไทย) จำกัด'
        },
        {
          text: 'บริษัท ลีสซิ่ง ไอซีบีซี (ไทย) จำกัด',
          value: 'บริษัท ลีสซิ่ง ไอซีบีซี (ไทย) จำกัด'
        },
        {
          text: 'ธนาคารเกียรตินาคิน จำกัด (มหาชน)',
          value: 'ธนาคารเกียรตินาคิน จำกัด (มหาชน)'
        },
        {
          text: 'ธนาคารทหารไทยธนชาต จำกัด (มหาชน)',
          value: 'ธนาคารทหารไทยธนชาต จำกัด (มหาชน)'
        }
      ],
      optionStatusFinance: [
        { text: 'รถใหม่', value: '' },
        { text: 'On Process', value: 'On Process' },
        { text: 'N', value: 'N' },
        { text: 'PO', value: 'PO' },
        { text: 'ยกเลิก', value: 'ยกเลิก' },
        { text: 'ทั้งหมด', value: 'ทั้งหมด' }
      ],
      columns: [
        { text: 'Order No', value: 'orderId', align: 'center', width: '1%' },
        { text: 'Finance NAME', value: 'FinanceNAME' },
        { text: 'วันที่ทำรายการ', value: 'LAST_UPDATE' },
        { text: 'จัดการ', value: 'action', align: 'center' }
      ],
      columnsDetails: [
        { text: 'Order No', value: 'orderId', align: 'center', width: '1%' },
        { text: 'สาขา', value: 'Br_cd' },
        { text: 'Booking No', value: 'BOOKING_NO' },
        { text: 'ชื่อลูกค้า', value: 'CUS_NAME' },
        { text: 'ข้อมูลรถยนต์', value: 'Model_Car' },
        { text: 'Finance NAME', value: 'FinanceNAME' },
        { text: 'ลบ', value: 'action', align: 'center' }
      ],
      textWait: 'กำลังรอคำสั่ง',
      datareport: [],
      datareportCheckFOC: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      checksubmit: true,
      datareportHistory: [],
      dataHistory: false,
      chkbutton: '',
      dateTime: '',
      datareportDetails: []
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/financeSales/Login')
    } else {
      await this.getDataOrder()
      console.log('this.$session.getAll()', this.$session.getAll())
    }
  },
  methods: {
    getDataOrder () {
      this.dataSearhcReady = false
      this.datareport = []
      this.dataListReady = false
      const url = 'https://asia-southeast2-betask-crm.cloudfunctions.net/QuickApp-selete_order_delete'
      axios
        .get(url)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          if (response.data.length > 0) {
            this.datareport = response.data
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
            this.dataListReady = true
            this.dataSearhcReady = true
          }
        })
    },
    getDataDetails (dt) {
      this.datareportDetails = []
      const url = 'https://asia-southeast2-betask-crm.cloudfunctions.net/QuickApp-selete_order?orderId=' + dt.orderId
      axios
        .get(url)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          if (response.data.length > 0) {
            this.datareportDetails = response.data
            this.dialogSelect = true
          } else {
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        })
    },
    async onSearch () {
      this.dataSearhcReady = false
      this.datareport = []
      this.dataListReady = false
      const url = 'https://asia-southeast2-betask-crm.cloudfunctions.net/QuickApp-selete_order_delete'
      const config = {
        params: {
          orderId: this.formSearch.orderId,
          LAST_DATE: this.formSearch.LAST_DATE,
          BOOKING_NO: this.formSearch.Bookingno
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          var rs = response.data
          console.log(rs)
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    onClearSearch () {
      this.formSearch.orderNO = ''
      this.formSearch.LAST_DATE = ''
      this.formSearch.branchNo = ''
      this.formSearch.statusFinance = ''
      this.formSearch.FinanceNAME = ''
    },
    deleteDataAll (item) {
      this.$swal({
        title: 'ตรวจสอบก่อนลบข้อมูล',
        text: 'ท่านต้องการแก้ไขก่อนลบหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#1B5E20',
        cancelButtonColor: '#B71C1C',
        confirmButtonText: 'ลบข้อมูล',
        cancelButtonText: 'แก้ไข',
        reverseButtons: true
      }).then(async result => {
        axios
          .post(
            'https://asia-southeast2-betask-crm.cloudfunctions.net/QuickApp-bq_Delete_AllocateOrderFinance?orderId=' +
            item[0].orderId
          )
          .then(async response => {
            this.$swal('เรียบร้อย', 'ลบข้อมูลแล้ว', 'success')
            var usedataUpdate = item.map(function (pushBookingNums) {
              return "'" + pushBookingNums.BOOKING_NO + "'"
            })
            var dataUpdate = {
              orderNo: 'setNull',
              updateSql: usedataUpdate.toString()
            }
            await this.updateOrderNo(dataUpdate)
            this.onSearch()
          })
      })
    },
    deleteData (item) {
      this.$swal({
        title: 'ตรวจสอบก่อนลบข้อมูล',
        text: 'ท่านต้องการแก้ไขก่อนลบหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#1B5E20',
        cancelButtonColor: '#B71C1C',
        confirmButtonText: 'ลบข้อมูล',
        cancelButtonText: 'แก้ไข',
        reverseButtons: true
      }).then(async result => {
        axios
          .post(
            'https://asia-southeast2-betask-crm.cloudfunctions.net/QuickApp-bq_Delete_AllocateOrderFinance?orderId=' +
            item.orderId + '&BOOKING_NO=' + item.BOOKING_NO
          )
          .then(async response => {
            this.$swal('เรียบร้อย', 'ลบข้อมูลแล้ว', 'success')
            var dataUpdate = {
              orderNo: 'setNull',
              updateSql: "'" + item.BOOKING_NO + "'"
            }
            await this.updateOrderNo(dataUpdate)
            this.getDataDetails(item)
          })
      })
    },
    async updateOrderNo (dt) {
      const url = `${this.DNS_IP}v1/FinanceSales/FinanceSales/updateOrderNo`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      await axios.post(url, dt, config).then(response => {
      })
    }
  }
}
</script>
<style>
table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
