<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <v-expansion-panels focusable v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <form v-if="dataSearhcReady">
                        <v-row>
                          <v-col cols="3">
                            <v-select
                              label="สาขา"
                              :items="optionsNoHObranchNo"
                              v-model="formSearch.branchNo"
                              outlined
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="3">
                            <v-select
                              label="สถานะไฟแนนซ์"
                              :items="optionStatusFinance"
                              v-model="formSearch.statusFinance"
                              outlined
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.Bookingno"
                              label="Booking No."
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3">
                            <v-menu
                              v-model="menu2"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.BOOKING_DATE"
                                  prepend-icon="mdi-calendar"
                                  label="เดือน/ปี Booking"
                                  v-bind="attrs"
                                  outlined
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.BOOKING_DATE"
                                @input="menu2 = false"
                                type="month"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col cols="3">
                            <v-select
                              label="เลือกปี"
                              :items="optionBOOKING_Year"
                              v-model="formSearch.BOOKING_Year"
                              outlined
                              dense
                            ></v-select>
                            <!-- <v-menu
                              v-model="formSearch.BOOKING_Year"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.BOOKING_Year"
                                  prepend-icon="mdi-calendar"
                                  label="ปี Booking"
                                  v-bind="attrs"
                                  outlined
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.BOOKING_Year"
                                @input="menu4 = false"
                                type="year"
                              ></v-date-picker>
                            </v-menu> -->
                          </v-col>
                        </v-row>
                      </form>
                      <div class="text-right">
                        <v-btn
                          tile
                          color="warning"
                          @click="onSearch()"
                        >
                          <v-icon left>
                            mdi-selection-search
                          </v-icon>
                          ค้นหา
                        </v-btn>
                        <v-btn
                          color="error"
                          depressed
                          @click.prevent="onClearSearch()"
                            >
                            <v-icon left> settings_backup_restore </v-icon>
                            Clear
                        </v-btn>
                      </div>
                      <br>
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" v-if="datareport.length > 0">
            <v-card elevation="7">
              <v-card-text>
                <v-btn
                  color="teal"
                  depressed
                  dark
                  @click.prevent="onExport()"
                  >
                  <v-icon left> mdi-file-excel </v-icon>
                  Export Excel
                  </v-btn>
                <v-data-table
                  dense
                  :headers="columns"
                  :items="datareport"
                  :items-per-page="100"
                  :sort-by.sync="sortBy"
                  :sort-desc.sync="sortDesc"
                >
                  <!-- <template v-slot:[`item.action`]="{ item }">
                    <v-btn
                      color="warning"
                      fab
                      small
                      @click.stop="setData(item)"
                    >
                      <v-icon dark> mdi-tools </v-icon>
                    </v-btn>
                  </template>
                  <template v-slot:[`item.status`]="{ item }">
                    <v-chip
                      :color="getColor(item.status)"
                      dark
                    >
                      {{ item.status }}
                    </v-chip>
                  </template> -->
                  <!-- v-slot:item.action="{ item }"
                  <template v-slot:item.action="{ item }">
                    <v-btn
                      color="cyan"
                      fab
                      small
                      @click="setData(item), (panel = [])"
                      ><v-icon dark>arrow_downward</v-icon></v-btn
                    >
                  </template> -->
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
  },
  data () {
    return {
      breadcrumbs: [
        {
          text: 'Report Finance Sales',
          disabled: true,
          href: '/financeSales/Report'
        }
      ],
      expanded: [],
      panel: [0],
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      dialog: false,
      dialog1: false,
      dialog2: false,
      rules: {
        required: value => !!value || 'Required.',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      session: this.$session.getAll(),
      dataSearhcReady: true,
      statusSearch: 'รถใหม่',
      chkSearch: true,
      // optionInsuranceName: [],
      optionStaffInsuranceName: [],
      readonly: true,
      visible: false,
      formSearch: {
        branchNo: '',
        Bookingno: '',
        BOOKING_DATE: '',
        statusFinance: '',
        BOOKING_Year: ''
      },
      sortBy: 'BOOKING_DATE',
      sortDesc: true,
      optionBOOKING_Year: [
        { text: '2018', value: '2018' },
        { text: '2019', value: '2019' },
        { text: '2020', value: '2020' },
        { text: '2021', value: '2021' },
        { text: '2022', value: '2022' },
        { text: '2023', value: '2023' },
        { text: '2024', value: '2024' },
        { text: '2025', value: '2025' }
      ],
      optionStatusFinance: [
        { text: 'รถใหม่', value: '' },
        { text: 'On Process', value: 'On Process' },
        { text: 'N', value: 'N' },
        { text: 'PO', value: 'PO' },
        { text: 'ยกเลิก', value: 'ยกเลิก' },
        { text: 'ทั้งหมด', value: 'ทั้งหมด' }
      ],
      columns: [
        { text: 'สาขา', value: 'Br_cd', align: 'center', width: '1%' },
        { text: 'เลขที่ใบจอง', value: 'BOOKING_NO', align: 'center', width: '1%' },
        { text: 'อ้างอิง Booking เก่า', value: 'BOOKING_NO_OLD', align: 'center', width: '1%' },
        { text: 'Booking Date', value: 'BOOKING_DATE', align: 'center', width: '150px' },
        { text: 'รุ่นรถ', value: 'Model_Car', align: 'center', width: '300px' },
        { text: 'โควต้ารถ', value: 'Quota_Month' },
        { text: 'C_F', value: 'Cash_Type' },
        { text: 'ชื่อลูกค้า', value: 'CUS_NAME', width: '200px' },
        { text: 'ชื่อเซลล์', value: 'Sale_Stf', width: '200px' },
        { text: 'วันที่ส่งงาน', value: 'Finance_Date', align: 'center', width: '150px' }, // financeDate
        { text: 'อนุมัติ', value: 'Status_Finance' }, // financeStatus
        { text: 'วันที่อนุมัติ', value: 'Apor_Date', align: 'center', width: '150px' }, // financeApporveDate
        { text: 'จำนวนวันที่อนุมัติ', value: 'countAppor', align: 'center', width: '150px' },
        { text: 'วันที่เอกสารครบ', value: 'documentDate', align: 'center', width: '150px' },
        { text: 'เอกสารครบ/PO', value: 'countPO', align: 'center', width: '150px' },
        { text: 'วันที่ PO หมดอายุ', value: 'AporEx_Date', align: 'center', width: '150px' }, //
        { text: 'Finance NAME', value: 'FinanceNAME', width: '200px' }, // financeName
        { text: 'ราคารถ', value: 'TOTAL_Car' },
        { text: 'ส่วนลด', value: 'Discount_Cars' }, // input1
        { text: 'ส่วนเพิ่มราคารถ(Ultimate)', value: 'Total_Ultimate' }, // financeTotal_Ultimate
        { text: 'ส่วนเพิ่มราคารถ(Accessory)', value: 'Total_Accessory' }, // financeTotal_Accessory
        { text: 'ส่วนเพิ่มราคารถ(Honda Connect)', value: 'Total_HDconnect' }, // financeTotal_HDconnect
        { text: 'ส่วนเพิ่มราคารถ(ค่าเบี้ยคุ้มครอง)', value: 'Total_Protection' }, // financeTotal_Protection
        { text: 'ราคารถสุทธิ', value: 'TOTAL_Cardetails' }, // financeTOTAL_Cardetails
        { text: 'เงินดาวน์', value: 'DowAmount' }, // input4
        { text: 'ยอดจัด', value: 'Top_Finance' }, // input7
        { text: '%ดาวน์', value: 'DowPercen' }, // financeDowPercen
        { text: 'B/E', value: 'Status_Begin' }, // customerBeginningEnding
        { text: 'ดอกเบี้ย', value: 'IntRate' }, // input18
        { text: 'จำนวนงวด', value: 'InstlmQty' }, // input8
        { text: 'ค่างวด', value: 'InstlmAmt' }, // input9
        { text: 'ยอดเงินที่ได้รับจากไฟแนนซ์', value: 'Top_FinanceReturn' }, // financeTop_FinanceReturn
        { text: 'หมายเหตุ1', value: 'Remark_HO' }, // financeRemark_HO
        { text: 'หมายเหตุ2', value: 'Remark_HO1' }, // financeRemark_HO1
        { text: 'แคมเปญ', value: 'CAMPAIGN_HATC' } // financeCAMPAIGN_HATC
      ],
      textWait: 'กำลังรอคำสั่ง',
      datareport: [],
      datareportCheckFOC: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      checksubmit: true,
      datareportHistory: [],
      dataHistory: false,
      chkbutton: '',
      dateTime: ''
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/financeSales/Login')
    } else {
      // await this.getNow()
    }
  },
  methods: {
    async onSearch () {
      this.dataSearhcReady = false
      this.datareport = []
      this.dataListReady = false
      // let statusUse = ''
      // if (this.formSearch.statusFinance === 'ทั้งหมด') {
      //   statusUse = ''
      // } else {
      //   statusUse = this.formSearch.statusFinance
      // }
      const url =
        // `http://localhost/vgroupl_api/CheckBookingFandI.php`
        `https://api.betaskthai.com/vgroupl_api/CheckFandI.php`
      const config = {
        params: {
          Br_cd: this.formSearch.branchNo,
          BOOKING_NO: this.formSearch.Bookingno,
          BOOKING_DATE: this.formSearch.BOOKING_DATE,
          BOOKING_Year: this.formSearch.BOOKING_Year,
          statusFinance: this.formSearch.statusFinance
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          var rs = response.data
          console.log(rs)
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            for (var i = 0; i < rs.length; i++) {
              var d = rs[i]
              if (d.Apor_Date) {
                const date1 = new Date(moment(d.Apor_Date).format('YYYY-MM-DD'))
                const date2 = new Date(moment(d.Finance_Date).format('YYYY-MM-DD'))
                const date3 = new Date(moment(d.documentDate).format('YYYY-MM-DD'))
                const diffTime = Math.abs(date2 - date1)
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24))
                d.countAppor = diffDays
                const diffTime1 = Math.abs(date3 - date1)
                const diffDays1 = Math.ceil(diffTime1 / (1000 * 60 * 60 * 24))
                d.countPO = diffDays1
              } else {
                d.countAppor = 0
                d.countPO = 0
              }
              if (d.Finance_Date !== null) {
                d.Finance_Date = moment(d.Finance_Date).format('DD/MM/YYYY')
              }
              if (d.Apor_Date !== null) {
                d.Apor_Date = moment(d.Apor_Date).format('DD/MM/YYYY')
              }
              if (d.AporEx_Date !== null) {
                d.AporEx_Date = moment(d.AporEx_Date).format('DD/MM/YYYY')
              }
              if (d.BOOKING_DATE !== null) {
                d.BOOKING_DATE = moment(d.BOOKING_DATE).format('DD/MM/YYYY')
              }
              this.datareport.push(d)
            }
            // this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    onClearSearch () {
      this.formSearch.Bookingno = ''
      this.formSearch.BOOKING_DATE = ''
      this.formSearch.branchNo = ''
      this.formSearch.statusFinance = ''
    },
    onExport () {
      this.dataexport = []
      for (var i = 0; i < this.datareport.length; i++) {
        var a = this.datareport[i]
        this.dataexport.push({
          'สาขา': a.Br_cd,
          'เลขที่ใบจอง': a.BOOKING_NO,
          'อ้างอิง Booking เก่า': a.BOOKING_NO_OLD,
          'Booking Date': a.BOOKING_DATE,
          'รุ่นรถ': a.Model_Car,
          'โควต้ารถ': a.Quota_Month,
          'C_F': a.Cash_Type,
          'ชื่อลูกค้า': a.CUS_NAME,
          'ชื่อเซลล์': a.Sale_Stf,
          'วันที่ส่งงาน': a.Finance_Date,
          'อนุมัติ': a.Status_Finance,
          'วันที่อนมัติ': a.Apor_Date,
          'จำนวนวันที่อนุมัติ': a.countAppor,
          'วันที่เอกสารครบ': a.documentDate,
          'เอกสารครบ/PO': a.countPO,
          'Finance NAME': a.FinanceNAME,
          'ราคารถ': a.TOTAL_Car,
          'ส่วนลด': a.Discount_Cars,
          'ส่วนเพิ่มราคารถ(Ultimate)': a.Total_Ultimate,
          'ส่วนเพิ่มราคารถ(Accessory)': a.Total_Accessory,
          'ส่วนเพิ่มราคารถ(Honda Connect)': a.Total_HDconnect,
          'ส่วนเพิ่มราคารถ(ค่าเบี้ยคุ้มครอง)': a.Total_Protection,
          'ราคารถสุทธิ': a.TOTAL_Cardetails,
          'เงินดาวน์': a.DowAmount,
          'ยอดจัด': a.Top_Finance,
          '%ดาวน์': a.DowPercen,
          'B/E': a.Status_Begin,
          'ดอกเบี้ย': a.IntRate,
          'จำนวนงวด': a.InstlmQty,
          'ค่างวด': a.InstlmAmt,
          'ยอดเงินที่ได้รับจากไฟแนนซ์': a.Top_FinanceReturn,
          'หมายเหตุ1': a.Remark_HO,
          'หมายเหตุ2': a.Remark_HO1,
          'แคมเปญ': a.CAMPAIGN_HATC
        })
      }
      const dataWS = XLSX.utils.json_to_sheet(this.dataexport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'FinanceSaless.xlsx')
    }
  }
}
</script>
<style>
table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
