<template>
<div>
<v-app-bar fixed app>
    <v-app-bar-nav-icon @click.stop="mini =! mini" />
    <v-toolbar-title v-text="title" />
  </v-app-bar>
    <v-navigation-drawer v-model="drawer" :mini-variant.sync="mini" fixed app>
      <v-list>
      <v-list-item>
        <v-list-item-avatar>
          <!-- <v-img src='./assets/logo_vgroup.png' /> -->
          <v-img :src="require('@/assets/logo_vgroup.png')"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{ session.data.Name }} {{ session.data.Surname }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-list>
      <!-- <v-subheader>Activity</v-subheader> -->
      <v-list-item
        v-for="(item, i) in items"
        :key="i"
        :to="item.to"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <!-- <v-list>
      <v-subheader>Report</v-subheader>
      <v-list-item
        v-for="(item, i) in itemsReport"
        :key="i"
        :to="item.to"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list> -->
    <template v-slot:append>
        <div class="pa-2">
          <v-btn dark color="red" block href="/financeSales/Login">
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'Finance Sales System',
      drawer: true,
      mini: false,
      session: this.$session.getAll(),
      items: [],
      items1: [
        {
          icon: 'mdi-bookmark-plus',
          title: 'Process Head Office',
          to: '/financeSales/HeadOffice'
        },
        {
          icon: 'mdi-clipboard-text-multiple',
          title: 'รายงาน',
          to: '/financeSales/Report'
        },
        {
          icon: 'mdi-read',
          title: 'รายงานตรวจสอบ Booking',
          to: '/financeSales/ReportCheckBooking'
        },
        {
          icon: 'mdi-finance',
          title: 'DashBoard',
          to: '/financeSales/DashBoard'
        },
        {
          icon: 'mdi-cart-plus',
          title: 'Allocate Order',
          to: '/financeSales/AllocateOrder'
        },
        {
          icon: 'mdi-cog-transfer-outline',
          title: 'Manage Order',
          to: '/financeSales/ManageOrder'
        }
      ],
      items11: [
        {
          icon: 'mdi-bookmark-plus',
          title: 'Process Head Office',
          to: '/financeSales/HeadOffice'
        }
      ],
      items2: [
        {
          icon: 'mdi-account-convert',
          title: 'Process Branch',
          to: '/financeSales/Branch'
        },
        {
          icon: 'mdi-cogs',
          title: 'Edit Branch',
          to: '/financeSales/BranchEdit'
        }
      ]
      // items3: [
      //   {
      //     icon: 'mdi-car-cog',
      //     title: 'Prospective Finance',
      //     to: '/financeSales/SaleEdit'
      //   }
      // ]
    }
  },
  computed: {},
  mounted () {
    if (
      this.session.data.GroupS === 'Back Office IT' ||
      this.session.data.GroupS === 'Back Office' || this.session.data.GroupS === 'HO Manager' || this.session.data.GroupS === 'Sale Manager'
    ) {
      this.items = this.items1
    } else if (this.session.data.GroupS === 'Sale GS') {
      this.items = this.items2
    } else if (this.session.data.GroupS === 'Back Office S/Support') {
      this.items = this.items1
    }
    // } else if (this.session.data.GroupS === 'Sales') {
    //   this.items = this.items3
    // }
  },
  methods: {
  }
}
</script>

<style lang="css" scoped></style>
