<template>
  <div>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-progress-linear
                    v-model="knowledge"
                    height="25"
                  >
                    <strong>{{ Math.ceil(knowledge) }}%</strong>
                  </v-progress-linear>
                <!-- <div class="text-center">
                  <v-progress-circular
                    :rotate="360"
                    :size="100"
                    :width="15"
                    :value="value"
                    color="teal"
                  >
                    {{ value }}
                  </v-progress-circular>
                </div> -->
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
// import adminLeftMenu from './Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    // 'left-menu-admin': adminLeftMenu
  },
  computed: {
  },
  data () {
    return {
      breadcrumbs: [
        {
          text: 'Update Cancel Booking',
          disabled: true,
          href: ''
        }
      ],
      interval: {},
      value: 0,
      knowledge: 0
    }
  },
  async mounted () {
    await this.updateNew()
    await this.updateOnprocess()
    await this.updateN()
    // await this.updateOnprocess()
  },
  methods: {
    async updateNew () {
      this.knowledge = 0
      const url =
        // `http://localhost/vgroupl_api/CheckBookingFandI.php`
        `https://api.betaskthai.com/vgroupl_api/CheckFandI.php`
      const config = {
        params: {
          statusFinance: ''
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            for (var i = 0; i < rs.length; i++) {
              await this.chkCancelBooking(rs[i])
              this.knowledge = (i / rs.length) * 100
            }
          }
        })
    },
    async updateOnprocess () {
      this.knowledge = 0
      const url =
        // `http://localhost/vgroupl_api/CheckBookingFandI.php`
        `https://api.betaskthai.com/vgroupl_api/CheckFandI.php`
      const config = {
        params: {
          statusFinance: 'On Process'
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            for (var i = 0; i < rs.length; i++) {
              await this.chkCancelBooking(rs[i])
              this.knowledge = (i / rs.length) * 100
            }
          }
        })
    },
    async updateN () {
      this.knowledge = 0
      const url =
        // `http://localhost/vgroupl_api/CheckBookingFandI.php`
        `https://api.betaskthai.com/vgroupl_api/CheckFandI.php`
      const config = {
        params: {
          statusFinance: 'N'
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            for (var i = 0; i < rs.length; i++) {
              await this.chkCancelBooking(rs[i])
              this.knowledge = (i / rs.length) * 100
            }
          }
        })
    },
    // async updateRemove () {
    //   const url =
    //     // `http://localhost/vgroupl_api/CheckBookingFandI.php`
    //     `https://api.betaskthai.com/vgroupl_api/CheckFandI.php`
    //   const config = {
    //     params: {
    //       statusFinance: 'ยกเลิก'
    //     }
    //   }
    //   await axios
    //     .get(url, config)
    //     // eslint-disable-next-line require-await
    //     .then(async (response) => {
    //       var rs = response.data
    //       // console.log(this.session.data.userName)
    //       if (rs.length > 0) {
    //         for (var i = 0; i < rs.length; i++) {
    //           await this.chkCancelBooking(rs[i])
    //         }
    //       }
    //     })
    // },
    async chkCancelBooking (dt) {
      // console.log(dt.ID_NUM, dt.BOOKING_NO, dt.Br_cd)
      // console.log(dt)
      await axios
        .get(
          // eslint-disable-next-line quotes
          "https://api.betaskthai.com/vgroup_api/v1/Sales/Booking/getdataCheckCancelBooking?prospectiveBookingNo=" +
                  dt.BOOKING_NO +
                  '&branchNo=' +
                  dt.Br_cd,
          {
            headers: {
              'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
            }
          }
        )
        .then(async response => {
          console.log(response.data.data)
          if (response.data.data !== 'ไม่มีข้อมูลยกเลิก') {
            // console.log('check cancel booking', response.data.data)
            const url = `${this.$apiUrl}FinanceSales/FinanceSales/updateDataCancelBooking`
            let config = {
              headers: {
                'Content-Type': 'application/json',
                'Application-Key': this.$apiToken
              }
            }
            let dt1 = {
              'ID_NUM': dt.ID_NUM,
              'Status_Finance': 'ยกเลิก',
              'Remark_Remove_Finance': response.data.data.REASON_DESCRIPTION,
              'Last_update_CancelBooking': response.data.data.CREDITNOTE_DATE
            }
            console.log(dt1)
            await axios.post(url, dt1, config).then(async response1 => {
              if (response1.data.status !== 'FALSE') {
                await this.insertLog(dt.ID_NUM)
              }
            })
          }
        })
    },
    async insertLog (ID_NUM) {
      const url = `${this.$apiUrl}FinanceSales/FinanceSales/addDataLog`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      let dt = {
        'ID_NUM': ID_NUM
      }
      await axios.post(url, dt, config).then((response) => {
      })
    }
  }
}
</script>
<style>
table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
