<template>
  <div>
    <v-app-bar fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <!-- <v-app-bar-nav-icon @click.stop="mini = !mini" /> -->
      <v-toolbar-title v-text="title" />
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" fixed app
      bottom>
    <!-- <v-navigation-drawer v-model="drawer" :mini-variant.sync="mini" fixed app> -->
      <v-list>
        <v-list-item>
          <v-list-item-avatar>
            <!-- <v-img src='./assets/logo_vgroup.png' /> -->
            <v-img :src="require('@/assets/logo_vgroup.png')"></v-img>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{
              session.data.userFullNameTH
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list-group
      dense
        :value="true"
        prepend-icon="mdi-react"
        no-action
        v-if="booking.length > 0"
      >
      <template v-slot:activator>
          <v-list-item-title>Import Booking</v-list-item-title>
        </template>

        <v-list-item
          v-for="(item, i) in booking"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-title v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>

      <!-- <v-list-group
      dense
        :value="true"
        prepend-icon="mdi-tools"
        no-action
        v-if="masters.length > 0"
      >
        <template v-slot:activator>
          <v-list-item-title>Master</v-list-item-title>
        </template>
        <v-list-item
          v-for="(item, i) in masters"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-title v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group> -->

      <!-- <v-list dense>
      <v-list-group
        :value="true"
        prepend-icon="mdi-account-circle"
      >
        <template v-slot:activator>
          <v-list-item-title>Dashboard</v-list-item-title>
        </template>

        <v-list-group
          :value="true"
          no-action
          sub-group
          v-if="dashboardsVsales.length > 0"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>V.Sales</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="(item, i) in dashboardsVsales"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-title v-text="item.title"></v-list-item-title>

            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list-group>
        <v-list-group
          :value="true"
          no-action
          sub-group
          v-if="dashboardsVgroup.length > 0"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title> V.Service</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="(item, i) in dashboardsVgroup"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-title v-text="item.title"></v-list-item-title>

            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list-group>
      </v-list-group>
      </v-list>

      <v-list-group
        :value="true"
        prepend-icon="mdi-file-replace-outline"
        no-action
        v-if="reports.length > 0"
        dense
      >
      <template v-slot:activator>
          <v-list-item-title>Report</v-list-item-title>
        </template>

        <v-list-item
          v-for="(item, i) in reports"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-title v-text="item.title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group> -->
      <v-list> </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn dark color="red" block href="/vservice/Login">
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'V.Group System',
      drawer: true,
      mini: false,
      session: this.$session.getAll(),
      booking: [],
      masters: [],
      dashboardsVsales: [],
      dashboardsVgroup: [],
      reports: [],
      activitysValue: false,
      mastersValue: false,
      dashboardsValue: false
    }
  },
  computed: {},
  mounted () {
    this.activitys = []
    this.dashboardsVsales = []
    this.dashboardsVgroup = []
    this.masters = []
    this.reports = []
    // this.activitysValue = false
    // this.mastersValue = false
    // this.dashboardsValue = false
    // if (this.session.data.GroupS === 'Service' || this.session.data.GroupS === 'Back Office IT') {
    this.service()
    // }
  },
  methods: {
    service () {
      this.booking = [
        { title: 'Import Booking', icon: 'mdi-database-import', to: '/vservice/booking/ImportBooking' }
      ]
    }
  }
}
</script>

<style lang="css" scoped></style>
