<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-main>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row style="height: 80px">
                  <v-col cols="3">
                    <b>Customer Network</b>
                  </v-col>
                </v-row>
                <!-- เริ่ม Panel ค้นหา -->
                <v-expansion-panels focusable v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <!-- กล่อง Panel ค้นหา -->
                      <form v-if="dataSearhcReady">
                        <v-row style="height: 80px">
                          <v-col cols="3">
                            <v-select
                              label="เลือกสาขา"
                              outlined
                              :items="optionsTypeBr"
                              v-model="formSearch.TypeBr"
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.customerName"
                              label="ชื่อลูกค้า"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.frameNo"
                              label="หมายเลขตัวถัง"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row style="height: 80px" class="text-right">
                          <v-col cols="12">
                            <v-btn
                              color="warning"
                              depressed
                              @click.prevent="onSearch(),Insert_Log()"
                            >
                              <v-icon left> search </v-icon>
                              ค้นหา
                            </v-btn>
                            <v-btn
                              color="error"
                              depressed
                              @click.prevent="onClearSearch(),getData()"
                            >
                              <v-icon left> settings_backup_restore </v-icon>
                              Clear
                            </v-btn>
                          </v-col>
                        </v-row>
                      </form>
                      <!-- จบกล่อง Panel ค้นหา -->
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
               </v-card-text>
            </v-card>
          </v-col>
          <!-- จบ Panel ค้นหา -->

          <!-- เริ่ม Panel แสดงข้อมูล -->
          <v-col cols="12" v-if="datareport">
            <v-card elevation="7">
              <v-card-text>
                <v-alert
                   border="top"
                   color="teal lighten-1"
                    dark
                >
                <v-icon> person </v-icon>
                   ข้อมูลลูกค้า
                </v-alert>
                <v-data-table
                  :headers="columns"
                  :items="datareport"
                  :items-per-page="5"
                >
                  <template v-slot:[`item.action`]="{ item }">
                    <v-btn
                      color="warning"
                      fab
                      small
                      @click.stop="setData(item)"
                    >
                      <v-icon dark> visibility </v-icon>
                    </v-btn>
                  </template>
                  <!-- <template v-slot:[`item.status`]="{ item }">
                    <v-chip
                      :color="getColor(item.status)"
                      dark
                    >
                      {{ item.status }}
                    </v-chip>
                  </template> -->
                </v-data-table>
                <v-dialog
                  v-model="dialog"
                  fullscreen
                  hide-overlay
                  transition="dialog-bottom-transition"
                >

                  <!-- เริ่ม Panel2 แสดงข้อมูล -->
                   <v-card tile>
                    <v-toolbar flat dark color="teal darken-3">
                      <v-btn icon dark @click.stop="dialog = false,onSearch()">
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                      <v-toolbar-title>Customer Network Details</v-toolbar-title>
                      <v-spacer />
                      <!-- <v-toolbar-items>
                        <v-btn color="primary" dark @click="onSubmit()" depressed>
                            <v-icon left> add_box </v-icon>
                            แก้ไขข้อมูล
                          </v-btn>
                      </v-toolbar-items> -->
                    </v-toolbar>

                        <!-- กล่อง Panel ข้อมูล ข้อมูลผู้แนะนำ -->
                        <v-expansion-panels>
                          <v-expansion-panel>
                            <v-expansion-panel-header>
                              <v-icon>person</v-icon>
                              ข้อมูลผู้แนะนำ</v-expansion-panel-header
                            >
                            <v-expansion-panel-content>
                              <v-row style="height: 80px">
                                <v-col cols="2">
                                  <v-text-field
                                    label="สาขา"
                                    v-model="form.Dlr_Cd"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                 <v-col cols="3">
                                  <v-text-field
                                      v-model="form.Name_Master"
                                      outlined
                                      dense
                                      label="ชื่อลูกค้าแนะนำ"
                                      readonly
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="3">
                                  <v-text-field
                                    v-model="form.FRAME_Master"
                                    label="Frame No."
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                            </v-expansion-panel-content>
                          </v-expansion-panel>
                        </v-expansion-panels>
                        <!-- จบกล่อง Panel ข้อมูล ข้อมูลผู้แนะนำ -->
                        <br />
                        <!-- เริ่ม Panel ข้อมูล ข้อมูลผู้ถูกแนะนำ -->
                        <v-card-text>
                          <v-alert
                              border="top"
                              color="teal lighten-1"
                                dark
                          >
                            <v-icon> person </v-icon>
                              ข้อมูลลูกค้า
                          </v-alert>
                          <v-data-table
                            :headers="columnsCust"
                            :items="datareport"
                            :items-per-page="10"
                          >
                        </v-data-table>
                        <!-- จบ Panel ข้อมูล ข้อมูลผู้ถูกแนะนำ -->

                    <br>
                    </v-card-text>
                    <div style="flex: 12 1 auto" />
                  </v-card>
                </v-dialog>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-main>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
// import XLSX from 'xlsx' // import xlsx
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      expanded: [],
      panel: [0],
      dialog: false,
      session: this.$session.getAll(),
      dataSearhcReady: true,
      chkSearch: true,
      readonly: true,
      visible: false,
      formSearch: {
        TypeBr: '',
        customerName: '',
        frameNo: ''
      },
      columns: [
        { text: 'View', value: 'action', sortable: false, align: 'center' },
        { text: 'รหัสสาขา', value: 'Dlr_Cd' },
        { text: 'ชื่อสาขา', value: 'BR' },
        { text: 'Frame_Master', value: 'FRAME_Master' },
        { text: 'Model', value: 'Model' },
        { text: 'ชื่อลูกค้า', value: 'Name_Master' },
        { text: 'จำนวนแนะนำ', value: 'QTY' }
      ],
      columnsCust: [
        { text: 'Frame_Cust', value: 'FRAME_Customer' },
        { text: 'Model', value: 'Model' },
        { text: 'เลขใบจอง', value: 'Booking_NO' },
        { text: 'วันที่จอง', value: 'Booking_Date' },
        { text: 'เลขใบกำกับ', value: 'Invoice_No' },
        { text: 'วันที่ออกใบกำกับ', value: 'Invoice_Date' },
        { text: 'ชื่อลูกค้า', value: 'Name_Customer' },
        { text: 'Staff', value: 'Staff' },
        { text: 'Memo', value: 'Memo' },
        { text: 'Gift_Voucher', value: 'Gift_Voucher_Detail' },
        { text: 'ชนิดGift_Voucher', value: 'Gift_Voucher_Type' },
        { text: 'จำนวน(ใบ)', value: 'QTY' },
        { text: 'มูลค่า', value: 'Amount' }
      ],
      optionsTypeBr: [
        { text: '0112', value: '0112' },
        { text: '0113', value: '0113' },
        { text: '0115', value: '0115' },
        { text: '0116', value: '0116' }
      ],
      form: {
        Name_Master: '',
        FRAME_Master: '',
        Dlr_Cd: ''
      },
      datareport: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      checksubmit: true,
      chkbutton: ''
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/ReportSale/Login')
    } else {
      await this.getNow()
    }
  },
  methods: {
    getNow () {
      this.Insert_Log()
      this.getData()
    },
    async getData () {
      this.dataSearhcReady = false
      this.datareport = []
      this.dataListReady = false
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportSale/Network/getdataNetwork?'
      // const url = 'http://localhost/vgroupl_api/v1/ReportSale/Network/getdataNetwork?'
      const config = {
        headers: {
          // 'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
        // params: {
        //   statusProspective: 'Renew insurance'
        // }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          console.log(response)
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.dataSearhcReady = true
            this.datareport = []
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    async onSearch () {
      this.dataSearhcReady = false
      this.datareport = []
      this.dataListReady = false
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportSale/Network/getdataNetworkSearch?'
      // const url = 'http://localhost/vgroupl_api/v1/ReportSale/Network/getdataNetworkSearch?'
      const config = {
        headers: {
          // 'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          // Br_cd: branch,
          Dlr_Cd: this.formSearch.TypeBr,
          FRAME_Master: this.formSearch.frameNo,
          Name_Master: this.formSearch.customerName,
          level: this.formSearch.LEVEL
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          console.log(response)
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    async Insert_Log () {
      this.dataReady = false
      this.dataSearhcReady = false
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getNetwork01?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },

    async Export_Log () {
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getNetwork02?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },
    onClearSearch () {
      this.formSearch.TypeBr = ''
      this.formSearch.frameNo = ''
      this.formSearch.customerName = ''
      this.getData()
    },
    async setData (item) {
      this.dataSearhcReady = false
      this.datareport = []
      this.dataListReady = false
      this.form.Dlr_Cd = item.Dlr_Cd
      this.form.Name_Master = item.Name_Master
      this.form.FRAME_Master = item.FRAME_Master
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportSale/Network/getdataNetworkCust?'
      // const url = 'http://localhost/vgroupl_api/v1/ReportSale/Network/getdataNetworkCust?'
      const config = {
        headers: {
          // 'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          // Br_cd: branch,
          FRAME_Master: this.form.FRAME_Master
          // Name_Master: this.formSearch.customerName
        }
      }
      this.dialog = true

      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          console.log(response)
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    }
  }
}
</script>
<style>
table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
