<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-main>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <form>
                  <v-row>
                    <v-col cols="2">
                      <v-select
                        v-model="formSearch.TypeBr"
                        :items="optionsTypeBr"
                        label="เลือกสาขา"
                        dense
                        outlined
                      />
                    </v-col>
                      <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.Booking"
                              label="ใส่เลข Booking"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                       <v-col cols="5">
                            <v-btn
                               tile
                               color="warning"
                               @click="onSearch()"
                              >
                              <v-icon left>
                               mdi-selection-search
                              </v-icon>
                                ค้นหา
                            </v-btn>
                             <v-btn
                              color="error"
                              depressed
                              @click.prevent="onClearSearch()"
                            >
                              <v-icon left> settings_backup_restore </v-icon>
                              Clear
                            </v-btn>
                            <!-- <v-btn
                              color="teal"
                              depressed
                              dark
                              @click.prevent="onExport()"
                              >
                              <v-icon left> mdi-file-excel </v-icon>
                              Export Excel
                            </v-btn> -->
                          </v-col>
                 </v-row>
                </form>
                <br>
                <div v-if="!dataSearhcReady">
                  <div class="text-center">
                    <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="red"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="70"
                      :width="7"
                      color="purple"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="green"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="50"
                      color="amber"
                      indeterminate
                    />
                  </div>
                </div>
              </v-card-text>
            </v-card>
            <br>
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-pencil-plus</v-icon> ข้อมูลที่เลือก
              </v-card-title>
              <v-card-text>
                <v-row v-if="dataListReady">
                  <v-col cols="12">
                    <v-data-table
                      :headers="columns"
                      :items="datareport"
                      :items-per-page="10"
                    >
                     <template v-slot:[`item.action`]="{ item }">
                    <v-btn
                      color="warning"
                      fab
                      small
                      @click.stop="setData(item)"
                    >
                      <v-icon dark> visibility </v-icon>
                    </v-btn>
                  </template>
                    </v-data-table>
                    <v-dialog
                  v-model="dialog"
                  fullscreen
                  hide-overlay
                  transition="dialog-bottom-transition"
                >

                  <!-- เริ่ม Panel2 แสดงข้อมูล -->
                   <v-card tile>
                    <v-toolbar flat dark color="teal darken-3">
                      <v-btn icon dark @click.stop="dialog = false,onSearch()">
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                      <v-toolbar-title>F.O.C Details</v-toolbar-title>
                      <v-spacer />
                      <!-- <v-toolbar-items>
                        <v-btn color="primary" dark @click="onSubmit()" depressed>
                            <v-icon left> add_box </v-icon>
                            แก้ไขข้อมูล
                          </v-btn>
                      </v-toolbar-items> -->
                    </v-toolbar>

                        <!-- กล่อง Panel ข้อมูล ข้อมูลผู้แนะนำ -->
                        <v-expansion-panels>
                          <v-expansion-panel>
                            <v-expansion-panel-header>
                              <v-icon>person</v-icon>
                              ข้อมูลF.O.C</v-expansion-panel-header
                            >
                            <v-expansion-panel-content>
                              <v-row style="height: 80px">
                                <v-col cols="2">
                                  <v-text-field
                                    label="สาขา"
                                    v-model="form.BR"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="3">
                                  <v-text-field
                                      v-model="form.BOOKING_NO"
                                      outlined
                                      dense
                                      label="BOOKING_NO"
                                      readonly
                                    ></v-text-field>
                                </v-col>
                                 <v-col cols="7">
                                  <v-text-field
                                      v-model="form.FOC_NAME"
                                      outlined
                                      dense
                                      label="FOC_NAME"
                                      readonly
                                    ></v-text-field>
                                </v-col>
                              </v-row>
                            </v-expansion-panel-content>
                          </v-expansion-panel>
                        </v-expansion-panels>
                        <!-- จบกล่อง Panel ข้อมูล ข้อมูลผู้แนะนำ -->
                        <br />
                        <!-- เริ่ม Panel ข้อมูล ข้อมูลผู้ถูกแนะนำ -->
                        <v-card-text>
                          <v-alert
                              border="top"
                              color="teal lighten-1"
                                dark
                          >
                            <v-icon> person </v-icon>
                              ข้อมูลลูกค้า
                          </v-alert>
                          <v-data-table
                            :headers="columnsCust"
                            :items="datareport"
                            :items-per-page="10"
                          >
                        </v-data-table>
                        <!-- จบ Panel ข้อมูล ข้อมูลผู้ถูกแนะนำ -->

                    <br>
                    </v-card-text>
                    <div style="flex: 12 1 auto" />
                  </v-card>
                </v-dialog>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-main>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
// import XLSX from 'xlsx' // import xlsx
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      expanded: [],
      panel: [0],
      dialog: false,
      session: this.$session.getAll(),
      dataSearhcReady: true,
      chkSearch: true,
      readonly: true,
      visible: false,
      formSearch: {
        TypeBr: '',
        Booking: ''

      },
      columns: [
        { text: 'View', value: 'action', sortable: false, align: 'center' },
        { text: 'รหัสสาขา', value: 'BR' },
        { text: 'BOOKING_NO', value: 'BOOKING_NO' },
        { text: 'Campaign_Code', value: 'FOC_CODE' },
        { text: 'Campaign_Name', value: 'FOC_NAME' },
        { text: 'วันที่สร้าง', value: 'CREATdate' },
        { text: 'วันที่ปรับปรุงล่าสุด', value: 'UPDATdate' }
      ],
      columnsCust: [
        { text: 'BOOKING_NO', value: 'BOOKING_NO' },
        { text: 'FOC_CODE', value: 'FOC_CODE' },
        { text: 'FOC_NAME', value: 'FOC_NAME' },
        { text: 'FOC_GROUP', value: 'FOC_GROUP' },
        { text: 'FOC_MODEL', value: 'FOC_MODEL' },
        { text: 'FOC_PRICE', value: 'FOC_PRICE' },
        { text: 'F_QTY', value: 'F_QTY' },
        { text: 'FOC_AMT', value: 'FOC_AMT' }
      ],
      optionsTypeBr: [
        { text: '0112', value: '10112' },
        { text: '0113', value: '10115' },
        { text: '0115', value: '10126' },
        { text: '0116', value: '10143' }
      ],
      form: {
        BR: '',
        BOOKING_NO: ''

      },
      datareport: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      checksubmit: true,
      chkbutton: ''
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/FOCSale/Login')
    } else {
      await this.getNow()
    }
  },
  methods: {
    async onSearch () {
      this.dataSearhcReady = false
      this.datareport = []
      this.dataListReady = false
      // let statusUse = ''
      // if (this.formSearch.statusFinance === 'ทั้งหมด') {
      //   statusUse = ''
      // } else {
      //   statusUse = this.formSearch.statusFinance
      // }
      const url = 'http://localhost/vgroupl_api/v1/FOCSale/FOCView/getdataFOCView'
      // const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/DetailCM/getdataDetailCM'
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          BR: this.formSearch.TypeBr,
          BOOKING_NO: this.formSearch.Booking
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    onClearSearch () {
      this.formSearch.Booking = ''
      this.formSearch.TypeBr = ''
    },
    async setData (item) {
      this.dataSearhcReady = false
      this.datareport = []
      this.dataListReady = false
      this.form.BR = item.BR
      this.form.BOOKING_NO = item.BOOKING_NO
      this.form.FOC_NAME = item.FOC_NAME
      // const url = 'https://api.betaskthai.com/vgroupl_api/v1/FOCSale/FOCView/getdataFOCViewDetail?'
      const url = 'http://localhost/vgroupl_api/v1/FOCSale/FOCView/getdataFOCViewDetail'
      const config = {
        headers: {
          // 'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          // BR: this.formSearch.BR,
          // BOOKING_NO: this.formSearch.BOOKING_NO
          // BR: item.BR,
          // BOOKING_NO: item.BOOKING_NO
          BR: this.formSearch.TypeBr,
          BOOKING_NO: this.form.BOOKING_NO
        }
      }
      this.dialog = true

      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          console.log(response)
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    async Insert_Log () {
      this.dataReady = false
      this.dataSearhcReady = false
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getDetailCM01?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },

    async Export_Log () {
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getDetailCM02?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    }
    // onExport () {
    //   const dataWS = XLSX.utils.json_to_sheet(this.datareport)
    //   const wb = XLSX.utils.book_new()
    //   XLSX.utils.book_append_sheet(wb, dataWS)
    //   XLSX.writeFile(wb, 'DetailCM.xlsx')
    // }
  }
}
</script>
<style>
  table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
