<template>
  <div>
     <v-app-bar flat>
        <v-toolbar-title>Report Service</v-toolbar-title>
        <v-spacer></v-spacer>
          <v-btn icon href="/ReportVgroup/Service/TireBattAIR/Login">
            <v-icon>mdi-export</v-icon>
          </v-btn>
      </v-app-bar>
  <!-- <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">Insurance</b-navbar-brand>
  </b-navbar> -->
  </div>
</template>
<script>
// import axios from 'axios'
export default {
  name: 'Header',
  props: {
    headerName: ''
  },
  async mounted () {
    // await this.getMenu()
    // if (!this.$session.exists()) {
    //   this.$router.push('/admin/Login')
    // }
  },
  data () {
    return {
      menu: [],
      header: 'header'
    }
  },
  methods: {
  }
}
</script>
