<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <form>
                  <v-row>
                    <v-col cols="2">
                      <v-select
                        v-model="formSearch.TypeBr"
                        :items="optionsTypeBr"
                        label="สาขา"
                        dense
                        outlined
                      />
                    </v-col>
                     <v-col cols="2">
                      <v-select
                        v-model="formSearch.TypeYear"
                        :items="optionTypeYear"
                        label="ปี"
                        dense
                        outlined
                      />
                    </v-col>
                    <!-- <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.ModelYear"
                              label="ปี"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col> -->
                    <v-col cols="2">
                      <v-select
                        v-model="formSearch.TypeMonth"
                        :items="optionTypeMonth"
                        label="เดือน"
                        dense
                        outlined
                      />
                    </v-col>
                    <v-col cols="6">
                            <v-btn
                               tile
                               color="warning"
                               @click="onSearch(),Insert_Log()"
                              >
                              <v-icon left>
                               mdi-selection-search
                              </v-icon>
                                ค้นหา
                            </v-btn>
                            <v-btn
                              color="teal"
                              depressed
                              dark
                              @click.prevent="onExport(),Export_Log()"
                              >
                              <v-icon left> mdi-file-excel </v-icon>
                              Export Excel
                            </v-btn>
                          </v-col>
                    <!-- <v-col cols="3">
                      <v-select
                        v-model="formSearch.ModelYear"
                        :items="optionTypeModelYear"
                        label="ปี"
                        dense
                        outlined
                      />
                    </v-col> -->
                       <!-- <v-col cols="3">
                            <v-menu
                              v-model="menuSearch1"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="200px"
                            >
                       <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.ModelYear"
                                  prepend-icon="mdi-calendar"
                                  label="ปี"
                                  v-bind="attrs"
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.ModelYear"
                                @input="menuSearch1 = false"
                                type="year"
                              ></v-date-picker>
                              </v-menu>
                    </v-col> -->
                  </v-row>
                </form>
                <br>
                <div v-if="!dataSearhcReady">
                  <div class="text-center">
                    <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="red"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="70"
                      :width="7"
                      color="purple"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="green"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="50"
                      color="amber"
                      indeterminate
                    />
                  </div>
                </div>
              </v-card-text>
            </v-card>
            <br>
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-pencil-plus</v-icon> ข้อมูลที่เลือก
              </v-card-title>
              <v-card-text>
                <v-row v-if="dataListReady">
                  <v-col cols="12">
                    <v-data-table
                      :headers="columns"
                      :items="datareport"
                      :items-per-page="5"
                    >
                    </v-data-table>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
import XLSX from 'xlsx' // import xlsx
export default {
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      session: this.$session.getAll(),
      menu1: false,
      menu2: false,
      menu3: false,
      dialog: false,
      dialog1: false,
      formSearch: {
        DLR_CD: '',
        BP_DATE: '',
        BP_Year: ''

        // ModelYear: '',
        // Month: '',
        // dateMeet: new Date().toISOString().substr(0, 10)
      },
      form: {
        remarkApprove: '',
        userNameApprove: ''
      },
      columns: [ // ตารางที่จะแสดง
        // { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'DLR_CD', align: 'center' },
        { text: 'หมายเลขเฟรม', value: 'FRAME_NO', align: 'center' },
        // { text: 'ทะเบียน', value: 'Licens_No', align: 'center' },
        { text: 'รุ่นรถ', value: 'MTO_NM', align: 'center' },
        { text: 'ประเภทงานซ่อม', value: 'WORK_TYPE', align: 'center' },
        { text: 'วันเข้าซ่อมBPล่าสุด', value: 'Job_BP_DATE', align: 'center' },
        { text: 'ประเภทงานซ่อม', value: 'PM_Type', align: 'center' },
        { text: 'วันเข้าซ่อมPMล่าสุด', value: 'Job_PM_DATE', align: 'center' },
        { text: 'กำหนดPMถัดไป', value: 'nextDate_PM', align: 'center' }
        // { text: 'Id_VLinked', value: 'userId_VLinked' },
        // { text: 'ที่อยู่', value: 'ADDRESS_DETAILS' },
        // { text: 'แขวง/ตำบล', value: 'OWNCITY' },
        // { text: 'เขต/อำเภอ', value: 'DISTRICT' },
        // { text: 'จังหวัด', value: 'PROVINCE' },
        // { text: 'รหัสไปร์ษณี', value: 'ZIP_CD' },
        // { text: 'โทรศัพท์มือถือ', value: 'TEL_Mobile_no' },
        // { text: 'โทรศัพท์บ้าน', value: 'TEL_HOME_NO' },
        // { text: 'โทรศัพท์ที่ทำงาน', value: 'TEL_COMPANY_NO' }
      ],
      datareport: [],
      optionRoomName: [],
      dataListReady: true,
      chkbutton: '',
      dateTime: '',
      dataSearhcReady: true,
      checksubmit: true,
      optionsTypeBr: [
        { text: '0112', value: '0112' },
        { text: '0113', value: '0113' },
        { text: '0115', value: '0115' },
        { text: '0116', value: '0116' }
      ],
      optionTypeMonth: [
        { text: '01', value: '01' },
        { text: '02', value: '02' },
        { text: '03', value: '03' },
        { text: '04', value: '04' },
        { text: '05', value: '05' },
        { text: '06', value: '06' },
        { text: '07', value: '07' },
        { text: '08', value: '08' },
        { text: '09', value: '09' },
        { text: '10', value: '10' },
        { text: '11', value: '11' },
        { text: '12', value: '12' }
      ],
      optionTypeYear: [
        { text: '2021', value: '2021' },
        { text: '2022', value: '2022' },
        { text: '2023', value: '2023' },
        { text: '2024', value: '2024' },
        { text: '2025', value: '2025' },
        { text: '2026', value: '2026' }
      ]
    }
  },
  computed: {
    // loaded () {
    //   return this.$store.state.sessionStorage
    // }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/reportService/Login')
    } else {
      // await this.getData()
    }
  },
  methods: {
    async onSearch () {
      this.dataSearhcReady = false
      this.datareport = []
      this.dataListReady = false
      // let statusUse = ''
      // if (this.formSearch.statusFinance === 'ทั้งหมด') {
      //   statusUse = ''
      // } else {
      //   statusUse = this.formSearch.statusFinance
      // }
      const url =
        // `http://localhost/vgroupl_api/ReportService/BPnonePM.php`
        `https://api.betaskthai.com/vgroupl_api/BPnonePM.php`
      const config = {
        params: {
          DLR_CD: this.formSearch.TypeBr,
          // type: 'reportCheck',
          BP_Month: this.formSearch.TypeMonth,
          BP_Year: this.formSearch.TypeYear
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    // onClearSearch () {
    //   this.formSearch.Bookingno = ''
    //   this.formSearch.BOOKING_DATE = ''
    //   this.formSearch.branchNo = ''
    //   this.formSearch.statusFinance = ''
    // },
    async Insert_Log () {
      this.dataReady = false
      this.dataSearhcReady = false
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getBPnonePM01?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },

    async Export_Log () {
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getBPnonePM02?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },
    onExport () {
      const dataWS = XLSX.utils.json_to_sheet(this.datareport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'BPnonePM.xlsx')
    }
  }
}
</script>
<style>
  table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
