<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <form>
                  <v-row>
                    <v-col cols="2">
                      <v-select
                        v-model="formSearch.TypeBr"
                        :items="optionsTypeBr"
                        label="สาขา"
                        dense
                        outlined
                      />
                    </v-col>
                     <!-- <v-col cols="3">
                      <v-select
                        v-model="formSearch.TypeYear"
                        :items="optionTypeYear"
                        label="ปี"
                        dense
                        outlined
                      />
                    </v-col> -->
                    <!-- <v-col cols="3">
                            <v-text-field
                              v-model="formSearch.ModelYear"
                              label="ปี"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col> -->
                    <v-col cols="4">
                      <v-select
                        v-model="formSearch.TypeMonth"
                        :items="optionTypeMonth"
                        label="Grade DZone"
                        dense
                        outlined
                      />
                    </v-col>
                    <v-col cols="6">
                            <v-btn
                               tile
                               color="warning"
                               @click="onSearch(),Insert_Log()"
                              >
                              <v-icon left>
                               mdi-selection-search
                              </v-icon>
                                ค้นหา
                            </v-btn>
                            <v-btn
                              color="teal"
                              depressed
                              dark
                              @click.prevent="onExport(),Export_Log()"
                              >
                              <v-icon left> mdi-file-excel </v-icon>
                              Export Excel
                            </v-btn>
                          </v-col>
                  </v-row>
                </form>
                <br>
                <div v-if="!dataSearhcReady">
                  <div class="text-center">
                    <v-progress-circular
                      :size="70"
                      color="primary"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="red"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="70"
                      :width="7"
                      color="purple"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="green"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="50"
                      color="amber"
                      indeterminate
                    />
                  </div>
                </div>
              </v-card-text>
            </v-card>
            <br>
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-pencil-plus</v-icon> ข้อมูลที่เลือก
                <v-col cols="4">
                      <v-alert dense border="left" type="warning">
                        รายการที่เลือก จำนวน : {{ datareport.length }}
                      </v-alert>
                    </v-col>
              </v-card-title>
              <v-card-text>
                <v-row v-if="dataListReady">
                  <v-col cols="12">
                    <v-data-table
                      :headers="columns"
                      :items="datareport"
                      :items-per-page="10"
                    >
                    </v-data-table>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
import XLSX from 'xlsx' // import xlsx
export default {
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      session: this.$session.getAll(),
      menu1: false,
      menu2: false,
      menu3: false,
      dialog: false,
      dialog1: false,
      formSearch: {
        Dealer_CD: '',
        Grade_x: ''

      // ModelYear: '',
        // Month: '',
        // dateMeet: new Date().toISOString().substr(0, 10)
      },
      form: {
        remarkApprove: '',
        userNameApprove: ''
      },
      columns: [ // ตารางที่จะแสดง
        // { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'Dealer_CD', align: 'center' },
        { text: 'DZone', value: 'Grade_x', align: 'center' },
        { text: 'LastJob_Month', value: 'LastJob_Month', align: 'center' },
        { text: 'หมายเลขเฟรม', value: 'Frame_no', align: 'center' },
        { text: 'รุ่นรถ', value: 'Model_NM', align: 'center' },
        { text: 'ปีรถ', value: 'Model_Year', align: 'center' },
        // { text: 'ทะเบียนรถ', value: 'Reg_No', align: 'center' },
        { text: 'อายุรถ', value: 'Age_DLVR_NewCar', align: 'center' },
        { text: 'Code', value: 'Code', align: 'center' },
        { text: 'Job_Type', value: 'Job_Type', align: 'center' },
        { text: 'LastJob_Type', value: 'Incoming_Type', align: 'center' }
        // { text: 'รหัสไปร์ษณี', value: 'ZIP_CD' },
        // { text: 'โทรศัพท์ที่ทำงาน', value: 'TEL_Mobile_no1' },
        // { text: 'โทรศัพท์ที่ทำงาน', value: 'TEL_HOME_NO1' },
        // { text: 'Id_VLinked', value: 'VLinked_ID' }
        // { text: 'ที่อยู่', value: 'ADDRESS_DETAILS' },
        // { text: 'แขวง/ตำบล', value: 'OWNCITY' },
        // { text: 'เขต/อำเภอ', value: 'DISTRICT' },
        // { text: 'จังหวัด', value: 'PROVINCE' },

      ],
      datareport: [],
      optionRoomName: [],
      dataListReady: true,
      chkbutton: '',
      dateTime: '',
      dataSearhcReady: true,
      checksubmit: true,
      optionsTypeBr: [
        { text: '0112', value: '0112' },
        { text: '0113', value: '0113' },
        { text: '0115', value: '0115' },
        { text: '0116', value: '0116' }
      ],
      optionTypeMonth: [
        { text: 'D0', value: 'D0' },
        { text: 'D1', value: 'D1' },
        { text: 'D2', value: 'D2' },
        { text: 'D3', value: 'D3' },
        { text: 'D4', value: 'D4' },
        { text: 'D5', value: 'D5' },
        { text: 'D6', value: 'D6' }
      ]
    }
  },
  computed: {
    // loaded () {
    //   return this.$store.state.sessionStorage
    // }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/reportService/Login')
    } else {
      // await this.getData()
    }
  },
  methods: {
    async onSearch () {
      this.dataSearhcReady = false
      this.datareport = []
      this.dataListReady = false
      // let statusUse = ''
      // if (this.formSearch.statusFinance === 'ทั้งหมด') {
      //   statusUse = ''
      // } else {
      //   statusUse = this.formSearch.statusFinance
      // }
      // const url = 'http://localhost/vgroupl_api/v1/ReportService/DetailDZone/getdataDetailDZone'
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/DetailDZone/getdataDetailDZone'
      // const urlLog = 'http://localhost/vgroupl_api/v1/ReportService/Login/addlog_DetailCM'
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          Dealer_CD: this.formSearch.TypeBr,
          Grade_x: this.formSearch.TypeMonth
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    // onClearSearch () {
    //   this.formSearch.Bookingno = ''
    //   this.formSearch.BOOKING_DATE = ''
    //   this.formSearch.branchNo = ''
    //   this.formSearch.statusFinance = ''
    // },
    async Insert_Log () {
      this.dataReady = false
      this.dataSearhcReady = false
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getDetailDZone01?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },

    async Export_Log () {
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getDetailDZone02?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },
    onExport () {
      const dataWS = XLSX.utils.json_to_sheet(this.datareport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'DetailDZone.xlsx')
    }
  }
}
</script>
<style>
  table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
