<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <form>
                  <v-row>
                    <v-col cols="2">
                      <v-select
                        v-model="formSearch.TypeBr"
                        :items="optionsTypeBr"
                        label="สาขา"
                        dense
                        outlined
                      />
                    </v-col>
                     <v-col cols="2">
                      <v-select
                        v-model="formSearch.TypeModel"
                        :items="optionTypeModel"
                        label="รุ่นรถ"
                        dense
                        outlined
                      />
                    </v-col>
                    <v-col cols="2">
                            <v-text-field
                              v-model="formSearch.ModelYear"
                              label="เลือกปีที่หมดอายุรับประกัน"
                              outlined
                              dense
                            ></v-text-field>
                     </v-col>
                     <v-col cols="2">
                            <v-text-field
                              v-model="formSearch.ModelMonth"
                              label="เลือกเดือนที่หมดอายุรับประกัน"
                              outlined
                              dense
                            ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                            <v-btn
                               tile
                               color="warning"
                               @click="onSearch(),Insert_Log()"
                              >
                              <v-icon left>
                               mdi-selection-search
                              </v-icon>
                                ค้นหา
                            </v-btn>
                            <v-btn
                              color="teal"
                              depressed
                              dark
                              @click.prevent="onExport(),Export_Log()"
                              >
                              <v-icon left> mdi-file-excel </v-icon>
                              Export Excel
                            </v-btn>
                    </v-col>
                  </v-row>
                </form>
                <br>
                <div v-if="!dataSearhcReady">
                  <div class="text-center">
                    <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="red"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="70"
                      :width="7"
                      color="purple"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="green"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="50"
                      color="amber"
                      indeterminate
                    />
                  </div>
                </div>
              </v-card-text>
            </v-card>
            <br>
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-pencil-plus</v-icon> ข้อมูลที่เลือก
              </v-card-title>
              <v-card-text>
                <v-row v-if="dataListReady">
                  <v-col cols="12">
                    <v-data-table
                      :headers="columns"
                      :items="datareport"
                      :items-per-page="5"
                    >
                    </v-data-table>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
import XLSX from 'xlsx' // import xlsx
export default {
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      session: this.$session.getAll(),
      menu1: false,
      menu2: false,
      menu3: false,
      dialog: false,
      dialog1: false,
      formSearch: {
        DLR_CD: '',
        Model_NM: '',
        War_Year: '',
        War_Month: '',
        dateMeet: new Date().toISOString().substr(0, 10)
      },
      form: {
        remarkApprove: '',
        userNameApprove: ''
      },
      columns: [ // ตารางที่จะแสดง
        // { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'Dealer_CD' },
        { text: 'หมายเลขเฟรม', value: 'Frame_NO' },
        { text: 'LastRO_No', value: 'LastRO_No' },
        { text: 'mxJob_Date', value: 'mxJob_Date' },
        { text: 'Lst_Code', value: 'Lst_Code' },
        { text: 'สาขาขายรถ', value: 'DLVR_Dlr_Code' },
        { text: 'ชื่อบริษัทขายรถ', value: 'Dlr_DLVR_Name' },
        // { text: 'หมายเลขผู้ใช้รถ', value: 'LstOwner_AG' },
        // { text: 'ชื่อผู้ใช้รถ', value: 'Customer_User_Name' },
        { text: 'รุ่นรถ', value: 'Model_NM' },
        // { text: 'ทะเบียนรถ', value: 'Reg_No' },
        { text: 'Mileage', value: 'Mileage' },
        { text: 'วันที่ปล่อยรถใหม่', value: 'NewC_DLVR_Date' },
        { text: 'EOD_DLVR', value: 'EOD_DLVR' },
        { text: 'EOM_DLVR', value: 'EOM_DLVR' },
        { text: 'EoY_DLVR', value: 'EoY_DLVR' },
        { text: 'Grade', value: 'Grade' },
        // { text: 'VLinked_UID', value: 'VLinked_UID' },
        // { text: 'โทรศัพท์_1', value: 'Tel_1' },
        // { text: 'โทรศัพท์_2', value: 'Tel_2' },
        { text: 'รหัสไปร์ษณี', value: 'Zipcode' }

      ],
      datareport: [],
      optionRoomName: [],
      dataListReady: true,
      chkbutton: '',
      dateTime: '',
      dataSearhcReady: true,
      checksubmit: true,
      optionsTypeBr: [
        { text: '0112', value: '0112' },
        { text: '0113', value: '0113' },
        { text: '0115', value: '0115' },
        { text: '0116', value: '0116' }
      ],
      optionTypeModel: [
        { text: 'ACCORD', value: 'ACCORD' },
        { text: 'ACCORD HYBRID', value: 'ACCORD HYBRID' },
        { text: 'AMAZE', value: 'AMAZE' },
        { text: 'BRIO', value: 'BRIO' },
        { text: 'BR-V', value: 'BR-V' },
        { text: 'CITY', value: 'CITY' },
        { text: 'CITY e:HEV', value: 'CITY e:HEV' },
        { text: 'CITY HATCHBACK', value: 'CITY HATCHBACK' },
        { text: 'CR-V', value: 'CR-V' },
        { text: 'CIVIC', value: 'CIVIC' },
        { text: 'CIVIC HYBRID', value: 'CIVIC HYBRID' },
        { text: 'CIVIC HATCHBACK', value: 'CIVIC HATCHBACK' },
        { text: 'FREED', value: 'FREED' },
        { text: 'HR-V', value: 'HR-V' },
        { text: 'JAZZ', value: 'JAZZ' },
        { text: 'JAZZ HYBRID', value: 'JAZZ HYBRID' },
        { text: 'MOBILIO', value: 'MOBILIO' },
        { text: 'ODYSSEY', value: 'ODYSSEY' },
        { text: 'STREAM', value: 'STREAM' },
        { text: 'STEPWGN', value: 'STEPWGN' }
      ],
      optionTypeModelYear: [
        { text: '2010', value: '2010' },
        { text: '2011', value: '2011' },
        { text: '2012', value: '2012' },
        { text: '2013', value: '2013' },
        { text: '2014', value: '2014' },
        { text: '2015', value: '2015' },
        { text: '2016', value: '2016' },
        { text: '2017', value: '2017' },
        { text: '2018', value: '2018' },
        { text: '2019', value: '2019' },
        { text: '2020', value: '2020' },
        { text: '2021', value: '2021' },
        { text: '2022', value: '2022' },
        { text: '2023', value: '2023' },
        { text: '2024', value: '2024' },
        { text: '2025', value: '2025' },
        { text: '2026', value: '2026' }
      ],
      optionTypeModelMonth: [
        { text: '01', value: '01' },
        { text: '02', value: '02' },
        { text: '03', value: '03' },
        { text: '04', value: '04' },
        { text: '05', value: '05' },
        { text: '06', value: '07' },
        { text: '08', value: '08' },
        { text: '09', value: '09' },
        { text: '10', value: '10' },
        { text: '11', value: '11' },
        { text: '12', value: '12' }
      ]
    }
  },
  computed: {
    // loaded () {
    //   return this.$store.state.sessionStorage
    // }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/reportService/Login')
    } else {
      // await this.getData()
    }
  },
  methods: {
    async onSearch () {
      this.datareport = []
      this.dataListReady = false
      this.dataSearhcReady = false
      // var data010 = ''
      // var dataRMH = ''
      // const url1 = `${this.$apiUrl}vgroupl_api/ModelBulletin.php`
      const url = 'https://api.betaskthai.com/vgroupl_api/EOMNewCars.php'
      // const url = 'http://localhost/vgroupl_api/EOMNewCars.php'
      const config = {
        headers: {
          'Content-Type': 'application/json'
        },
        params: { // เงื่อนไขที่จะเลือก
          DLR_CD: this.formSearch.TypeBr,
          Model_NM: this.formSearch.TypeModel,
          War_Year: this.formSearch.ModelYear,
          War_Month: this.formSearch.ModelMonth

        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    async Insert_Log () {
      this.dataReady = false
      this.dataSearhcReady = false
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getEOMNewCars01?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },

    async Export_Log () {
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getEOMNewCars02?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },
    onExport () {
      const dataWS = XLSX.utils.json_to_sheet(this.datareport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'ReportEOMNewCars.xlsx')
    }
  }
}
</script>
<style>
  table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
