<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <form>
                  <v-row>
                    <v-col cols="2">
                      <v-select
                        v-model="formSearch.TypeBr"
                        :items="optionsTypeBr"
                        label="สาขา"
                        dense
                        outlined
                      />
                    </v-col>
                     <v-col cols="2">
                      <v-select
                        v-model="formSearch.TypeModel"
                        :items="optionTypeModel"
                        label="รุ่นรถ"
                        dense
                        outlined
                      />
                    </v-col>
                    <v-col cols="2">
                            <v-text-field
                              label="เลือกปีที่หมดอายุรับประกัน"
                              outlined
                              dense
                            ></v-text-field>
                     </v-col>
                     <v-col cols="2">
                            <v-text-field
                             label="เลือกเดือนที่หมดอายุรับประกัน"
                              outlined
                              dense
                            ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                            <v-btn
                               tile
                               color="warning"
                               @click="onSearch()"
                              >
                              <v-icon left>
                               mdi-selection-search
                              </v-icon>
                                ค้นหา
                            </v-btn>
                            <v-btn
                              color="teal"
                              depressed
                              dark
                              @click.prevent="onExport()"
                              >
                              <v-icon left> mdi-file-excel </v-icon>
                              Export Excel
                            </v-btn>
                    </v-col>
                  </v-row>
                </form>
                <br>
                <div v-if="!dataSearhcReady">
                  <div class="text-center">
                    <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="red"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="70"
                      :width="7"
                      color="purple"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="green"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="50"
                      color="amber"
                      indeterminate
                    />
                  </div>
                </div>
              </v-card-text>
            </v-card>
            <br>
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-pencil-plus</v-icon> ข้อมูลที่เลือก
              </v-card-title>
              <v-card-text>
                <v-row v-if="dataListReady">
                  <v-col cols="12">
                    <v-data-table
                      :headers="columns"
                      :items="datareport"
                      :items-per-page="5"
                    >
                     <template v-slot:[`item.action`]="{ item }">
                    <v-btn
                      color="orange accent-4"
                      fab
                      small
                      @click.stop="setData(item)"
                    >
                      <v-icon dark> mode_edit </v-icon>
                    </v-btn>
                  </template>
                    </v-data-table>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>

            <!-- เริ่ม Panel2 แสดงข้อมูล -->
                 <v-dialog
                  v-model="dialog"
                  fullscreen
                  hide-overlay
                  transition="dialog-bottom-transition"
                >
                <v-card tile>
                    <v-toolbar flat dark color="teal darken-3">
                      <v-btn icon dark @click.stop="dialog = false,onSearch()">
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                      <v-toolbar-title>Follow Warranty Claim Details</v-toolbar-title>
                      <v-spacer />
                      <!-- <v-toolbar-items>
                        <v-btn color="primary" dark @click="onSubmit()" depressed>
                            <v-icon left> add_box </v-icon>
                            แก้ไขข้อมูล
                          </v-btn>
                      </v-toolbar-items> -->
                    </v-toolbar>

                        <!-- กล่อง Panel ข้อมูล ข้อมูลผู้แนะนำ -->
                        <v-expansion-panels>
                          <!-- <v-expansion-panel> -->
                            <!-- <v-expansion-panel-header> -->
                              <!-- <v-icon>person</v-icon>
                              ข้อมูลผู้แนะนำ -->
                              <!-- </v-expansion-panel-header> -->
                            <!-- <v-expansion-panel-content>
                              <v-row style="height: 80px">
                                <v-col cols="2">
                                  <v-text-field
                                    label="สาขา"
                                    v-model="form.TypeBr"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                             </v-row>
                            </v-expansion-panel-content> -->
                          <!-- </v-expansion-panel> -->
                        </v-expansion-panels>
                        <!-- จบกล่อง Panel ข้อมูล ข้อมูลผู้แนะนำ -->
                        <br />
                        <!-- เริ่ม Panel ข้อมูล ข้อมูลผู้ถูกแนะนำ -->
                        <v-card-text>
                          <v-alert
                              border="top"
                              color="teal lighten-1"
                                dark
                          >
                            <v-icon> person </v-icon>
                              รายละเอียดข้อมูลที่เลือก
                          </v-alert>
                          <!-- แถวที่ 1 หน้า edit  -->
                            <v-row style="height: 80px">
                                <v-col cols="2">
                                  <v-text-field
                                    v-model="form.Dealer_CD"
                                    label="สาขา"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                 <v-col cols="2">
                                  <v-text-field
                                      v-model="form.Frame_NO"
                                      label="หมายเลขเฟรม"
                                      outlined
                                      dense
                                      readonly
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="2">
                                  <v-text-field
                                   v-model="form.LastRO_No"
                                   label="LastRO_No"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                 <v-col cols="2">
                                  <v-text-field
                                   v-model="form.mxJob_Date"
                                    label="mxJob_Date"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="2">
                                  <v-text-field
                                   v-model="form.Lst_Code"
                                    label="Lst_Code"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                  <v-col cols="2">
                                  <v-text-field
                                  v-model="form.DLVR_Dlr_Code"
                                    label="สาขาขายรถ"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                               <!-- แถวที่ 2 หน้า edit  -->
                              </v-row>
                               <v-row style="height: 80px">
                                <v-col cols="3">
                                  <v-text-field
                                  v-model="form.Dlr_DLVR_Name"
                                    label="ชื่อบริษัทขายรถ"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                 <v-col cols="2">
                                  <v-text-field
                                  v-model="form.LstOwner_AG"
                                      label="หมายเลขผู้ใช้รถ"
                                      outlined
                                      dense
                                      readonly
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="3">
                                  <v-text-field
                                  v-model="form.Customer_User_Name"
                                   label="ชื่อผู้ใช้รถ"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                 <v-col cols="2">
                                  <v-text-field
                                  v-model="form.Model_NM"
                                    label="รุ่นรถ"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="2">
                                  <v-text-field
                                  v-model="form.Reg_No"
                                    label="ทะเบียนรถ"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                              <!-- แถวที่ 3 หน้า edit  -->
                              <v-row style="height: 80px">
                                <v-col cols="2">
                                  <v-text-field
                                  v-model="form.Mileage"
                                    label="Mileage"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                 <v-col cols="2">
                                  <v-text-field
                                   v-model="form.NewC_DLVR_Date"
                                      label="วันที่ปล่อยรถใหม่"
                                      outlined
                                      dense
                                      readonly
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="2">
                                  <v-text-field
                                  v-model="form.EOD_DLVR"
                                   label="EOD_DLVR"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                 <v-col cols="2">
                                  <v-text-field
                                  v-model="form.EOM_DLVR"
                                    label="EOM_DLVR"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="2">
                                  <v-text-field
                                  v-model="form.EoY_DLVR"
                                    label="EoY_DLVR"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                 <v-col cols="2">
                                  <v-text-field
                                  v-model="form.Grade"
                                    label="Grade"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                              <!-- แถวที่ 4 หน้า edit  -->
                              <v-row style="height: 80px">
                                <v-col cols="4">
                                  <v-text-field
                                  v-model="form.VLinked_UID"
                                    label="VLinked_UID"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                 <v-col cols="3">
                                  <v-text-field
                                  v-model="form.Tel_1"
                                      label="โทรศัพท์_1"
                                      outlined
                                      dense
                                      readonly
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="3">
                                  <v-text-field
                                  v-model="form.Tel_2"
                                   label="โทรศัพท์_2"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                 <v-col cols="2">
                                  <v-text-field
                                  v-model="form.Zipcode"
                                    label="รหัสไปร์ษณี"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                              ส่วนที่กรอก Follow Up
                              <v-alert
                              border="top"
                              color="teal lighten-1"
                                dark
                              >
                              <v-icon center>person</v-icon>
                               ใส่รายระเอียด Follow Up
                              </v-alert>
                              <v-row>
                                  <v-col cols="2">
                                  <v-text-field
                                   v-model="form.UserID"
                                   label="UserID"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="2">
                                  <v-text-field
                                   v-model="form.UserName"
                                   label="ชื่อผู้ติดตาม"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="3">
                                  <v-select
                                    v-model="form.StatusFollow"
                                    :items="optionsTypeStatusFollow"
                                    label="เหตุผลการติดตาม"
                                    dense
                                    outlined
                                  />
                                </v-col>
                                <v-col cols="3">
                                  <v-text-field
                                   v-model="form.FollowNote"
                                    label="หมายเหตุ"
                                    outlined
                                    dense
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="2">
                            <v-btn
                               tile
                               color="cyan lighten-4"
                               @click="onSubmit(),insertlog ()"
                              >
                              <v-icon left>
                               save
                              </v-icon>
                                กดบันทึก
                            </v-btn>
                            <!-- <v-btn
                              color="teal"
                              depressed
                              dark
                              @click.prevent="onExport()"
                              >
                              <v-icon left> mdi-file-excel </v-icon>
                              Export Excel
                            </v-btn> -->
                            </v-col>
                            </v-row>
                          <!-- จบ Panel ข้อมูล ข้อมูลผู้ถูกแนะนำ -->

                    <br>
                    </v-card-text>
                    <div style="flex: 12 1 auto" />
                  </v-card>
                </v-dialog>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
import XLSX from 'xlsx' // import xlsx
export default {
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      session: this.$session.getAll(),
      menu1: false,
      menu2: false,
      menu3: false,
      dialog: false,
      dialog1: false,
      formSearch: {
        DLR_CD: '',
        Model_NM: '',
        War_Year: '',
        War_Month: '',
        dateMeet: new Date().toISOString().substr(0, 10)
      },
      form: {
        remarkApprove: '',
        userNameApprove: ''
      },
      columns: [ // ตารางที่จะแสดง
        { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'STATUS_F', value: 'RECORD_STATUS' },
        { text: 'สาขา', value: 'Dealer_CD' },
        { text: 'หมายเลขเฟรม', value: 'Frame_NO' },
        { text: 'LastRO_No', value: 'LastRO_No' },
        { text: 'mxJob_Date', value: 'mxJob_Date' },
        { text: 'Lst_Code', value: 'Lst_Code' },
        { text: 'สาขาขายรถ', value: 'DLVR_Dlr_Code' },
        { text: 'ชื่อบริษัทขายรถ', value: 'Dlr_DLVR_Name' },
        { text: 'หมายเลขผู้ใช้รถ', value: 'LstOwner_AG' },
        { text: 'ชื่อผู้ใช้รถ', value: 'Customer_User_Name' },
        { text: 'รุ่นรถ', value: 'Model_NM' },
        { text: 'ทะเบียนรถ', value: 'Reg_No' },
        { text: 'Mileage', value: 'Mileage' },
        { text: 'วันที่ปล่อยรถใหม่', value: 'NewC_DLVR_Date' },
        { text: 'EOD_DLVR', value: 'EOD_DLVR' },
        { text: 'EOM_DLVR', value: 'EOM_DLVR' },
        { text: 'EoY_DLVR', value: 'EoY_DLVR' },
        { text: 'Grade', value: 'Grade' },
        { text: 'VLinked_UID', value: 'VLinked_UID' },
        { text: 'โทรศัพท์_1', value: 'Tel_1' },
        { text: 'โทรศัพท์_2', value: 'Tel_2' },
        { text: 'รหัสไปร์ษณี', value: 'Zipcode' }

      ],
      datareport: [],
      optionRoomName: [],
      dataListReady: true,
      chkbutton: '',
      dateTime: '',
      dataSearhcReady: true,
      checksubmit: true,
      optionsTypeBr: [
        { text: '0112', value: '0112' },
        { text: '0113', value: '0113' },
        { text: '0115', value: '0115' },
        { text: '0116', value: '0116' }
      ],
      optionTypeModel: [
        { text: 'ACCORD', value: 'ACCORD' },
        { text: 'ACCORD HYBRID', value: 'ACCORD HYBRID' },
        { text: 'AMAZE', value: 'AMAZE' },
        { text: 'BRIO', value: 'BRIO' },
        { text: 'BR-V', value: 'BR-V' },
        { text: 'CITY', value: 'CITY' },
        { text: 'CITY e:HEV', value: 'CITY e:HEV' },
        { text: 'CITY HATCHBACK', value: 'CITY HATCHBACK' },
        { text: 'CR-V', value: 'CR-V' },
        { text: 'CIVIC', value: 'CIVIC' },
        { text: 'CIVIC HYBRID', value: 'CIVIC HYBRID' },
        { text: 'CIVIC HATCHBACK', value: 'CIVIC HATCHBACK' },
        { text: 'FREED', value: 'FREED' },
        { text: 'HR-V', value: 'HR-V' },
        { text: 'JAZZ', value: 'JAZZ' },
        { text: 'JAZZ HYBRID', value: 'JAZZ HYBRID' },
        { text: 'MOBILIO', value: 'MOBILIO' },
        { text: 'ODYSSEY', value: 'ODYSSEY' },
        { text: 'STREAM', value: 'STREAM' },
        { text: 'STEPWGN', value: 'STEPWGN' }
      ],
      optionsTypeStatusFollow: [
        { text: 'เข้าแล้ว', value: 'เข้าแล้ว' },
        { text: 'เข้าแล้วในเครือ', value: 'เข้าแล้วในเครือ' },
        { text: 'เข้าศูนย์อื่นนอกระยะ 10 Km ', value: 'เข้าศูนย์อื่นนอกระยะ10Km' },
        { text: 'เข้าศูนย์อื่นในระยะ 10 Km ', value: 'เข้าศูนย์อื่นในระยะ10Km' },
        { text: 'เข้าอู่นอก', value: 'เข้าอู่นอก' },
        { text: 'จะนำรถเข้ามาเอง / โทรนัดหมายเอง', value: 'จะนำรถเข้ามาเอง/โทรนัดหมายเอง' },
        { text: 'นัดหมายแล้ว', value: 'นัดหมายแล้ว' },
        { text: 'ไม่เข้าเงื่อนไข WC', value: 'ไม่เข้าเงื่อนไขWC' },
        { text: 'ไม่ได้ใช้รถเอง', value: 'ไม่ได้ใช้รถเอง' },
        { text: 'ไม่รับสาย / ติดต่อไม่ได้', value: 'ม่รับสาย/ติดต่อไม่ได้' },
        { text: 'ไม่สะดวกนัดหมาย', value: 'ไม่สะดวกนัดหมาย' },
        { text: 'รถบริษัท / รถเครดิต', value: 'รถบริษัท/รถเครดิต' },
        { text: 'ลูกค้าใช้รถต่างจังหวัด ', value: 'ลูกค้าใช้รถต่างจังหวัด' },
        { text: 'ลูกค้าสะดวกใกล้บ้าน', value: 'ลูกค้าสะดวกใกล้บ้าน' },
        { text: 'เลื่อนนัดหมาย', value: 'เลื่อนนัดหมาย' }
      ]
    }
  },
  computed: {
    // loaded () {
    //   return this.$store.state.sessionStorage
    // }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/reportService/Login')
    } else {
      // await this.getData()
    }
  },
  methods: {
    async onSearch () {
      this.datareport = []
      this.dataListReady = false
      this.dataSearhcReady = false
      // var dataview = ''
      // var dataRMH = ''
      // const url = 'https://api.betaskthai.com/vgroupl_api/EOMNewCars.php'
      // const url = `${this.$apiUrl}EOMNewCars.php`
      const url = 'http://localhost/vgroupl_api/EOMNewCars.php'
      const config = {
        headers: {
          'Content-Type': 'application/json'
          // 'Application-Key': this.$apiToken
        },
        params: { // เงื่อนไขที่จะเลือก
          DLR_CD: this.formSearch.TypeBr,
          Model_NM: this.formSearch.TypeModel,
          War_Year: this.formSearch.ModelYear,
          War_Month: this.formSearch.ModelMonth
          // type: 'dataview'

        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    async setData (item) {
      this.dataSearhcReady = false
      this.datareport = []
      // this.dataListReady = false
      this.form.Dealer_CD = item.Dealer_CD
      this.form.Frame_NO = item.Frame_NO
      this.form.LastRO_No = item.LastRO_No
      this.form.mxJob_Date = item.mxJob_Date
      this.form.Lst_Code = item.Lst_Code
      this.form.DLVR_Dlr_Code = item.DLVR_Dlr_Code
      this.form.Dlr_DLVR_Name = item.Dlr_DLVR_Name
      this.form.LstOwner_AG = item.LstOwner_AG
      this.form.Customer_User_Name = item.Customer_User_Name
      this.form.Model_NM = item.Model_NM
      this.form.Reg_No = item.Reg_No
      this.form.Mileage = item.Mileage
      this.form.NewC_DLVR_Date = item.NewC_DLVR_Date
      this.form.EOD_DLVR = item.EOD_DLVR
      this.form.EOM_DLVR = item.EOM_DLVR
      this.form.EoY_DLVR = item.EoY_DLVR
      this.form.Grade = item.Grade
      this.form.VLinked_UID = item.VLinked_UID
      this.form.Tel_1 = item.Tel_1
      this.form.Tel_2 = item.Tel_2
      this.form.Zipcode = item.Zipcode
      this.form.UserID = this.session.data.User_NM
      this.form.UserName = this.session.data.Name + ' ' + this.session.data.Surname
      this.dialog = true
    },
    // *************************Insert Data***********************************
    onSubmit () {
      console.log(this.form)
      this.$swal({
        title: 'ตรวจสอบก่อนเพิ่มข้อมูล',
        text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการเพิ่มหรือไม่',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dedede',
        confirmButtonText: 'เพิ่มข้อมูล',
        cancelButtonText: 'ยกเลิก และตรวจสอบ!'
      })
        .then(async (result) => {
          if (
            this.form.StatusFollow.length > 0
          ) {
            console.log(result)
            await this.insert()
          } else {
            this.$swal('Error', 'กรุณาตรวจสอบ สถานะ Follow Up', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.$swal('Error', 'กรุณาตรวจสอบ สถานะ Follow Up', 'error')
        })
    },

    async insert () {
      const url1 = 'http://localhost/vgroupl_api/v1/ReportService/EOMNewCars/addDataClaimdata?'
      let config1 = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      let dt1 = {
        ClaimID: 'aaaaaa',
        Dealer_CD: this.form.Dealer_CD,
        Frame_NO: this.form.Frame_NO,
        LastRO_No: this.form.LastRO_No,
        mxJob_Date: this.form.mxJob_Date,
        Lst_Code: this.form.Lst_Code,
        DLVR_Dlr_Code: this.form.DLVR_Dlr_Code,
        Dlr_DLVR_Name: this.form.Dlr_DLVR_Name,
        LstOwner_AG: this.form.LstOwner_AG,
        Customer_User_Name: this.form.Customer_User_Name,
        Model_NM: this.form.Model_NM,
        Reg_No: this.form.Reg_No,
        Mileage: this.form.Mileage,
        NewC_DLVR_Date: this.form.NewC_DLVR_Date,
        EOD_DLVR: this.form.EOD_DLVR,
        EOM_DLVR: this.form.EOM_DLVR,
        EoY_DLVR: this.form.EoY_DLVR,
        Grade: this.form.Grade,
        VLinked_UID: this.form.VLinked_UID,
        Tel_1: this.form.Tel_1,
        Tel_2: this.form.Tel_2,
        Zipcode: this.form.Zipcode,
        UserID: this.form.UserID,
        NameUser: this.form.UserName,
        StatusFollow: this.form.StatusFollow,
        FollowNote: this.form.FollowNote
      }
      await axios.post(url1, dt1, config1).then(async response => {
      // await this.insertLog()
        this.$swal('เรียบร้อย', 'บันทึกสำเร็จ', 'success')
        this.dialog = false
        // await this.onClearSubmit()
        await this.onSearch()
      })
    },
    // **************************Update Data***********************************
    // async updateStatusFollow () {
    //   const url1 = `${this.$apiUrl}Insurance/Insurance/updateDataProspectiveAdmin`
    //   let config1 = {
    //     headers: {
    //       'Content-Type': 'application/json',
    //       'Application-Key': this.$apiToken
    //     }
    //   }
    //   let dt1 = {
    //     prospectiveCode: this.form.prospectiveCode,
    //     processStatus: this.form.processStatus,
    //     statusProspective: 'In Process',
    //     remarkSaleSelect: this.form.remarkInsSelect
    //   }
    //   await axios.post(url1, dt1, config1).then(async response => {})
    // },
    // **************************Insert Data Log***********************************
    async insertlog () {
      const url1 = 'http://localhost/vgroupl_api/v1/ReportService/EOMNewCars/addDataClaimLog?'
      let config1 = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      let dt1 = {
        ClaimID: 'aaaaaa',
        Dealer_CD: this.form.Dealer_CD,
        Frame_NO: this.form.Frame_NO,
        LastRO_No: this.form.LastRO_No,
        mxJob_Date: this.form.mxJob_Date,
        Lst_Code: this.form.Lst_Code,
        DLVR_Dlr_Code: this.form.DLVR_Dlr_Code,
        Dlr_DLVR_Name: this.form.Dlr_DLVR_Name,
        LstOwner_AG: this.form.LstOwner_AG,
        Customer_User_Name: this.form.Customer_User_Name,
        Model_NM: this.form.Model_NM,
        Reg_No: this.form.Reg_No,
        Mileage: this.form.Mileage,
        NewC_DLVR_Date: this.form.NewC_DLVR_Date,
        EOD_DLVR: this.form.EOD_DLVR,
        EOM_DLVR: this.form.EOM_DLVR,
        EoY_DLVR: this.form.EoY_DLVR,
        Grade: this.form.Grade,
        VLinked_UID: this.form.VLinked_UID,
        Tel_1: this.form.Tel_1,
        Tel_2: this.form.Tel_2,
        Zipcode: this.form.Zipcode,
        UserID: this.form.UserID,
        NameUser: this.form.UserName,
        StatusFollow: this.form.StatusFollow,
        FollowNote: this.form.FollowNote
      }
      await axios.post(url1, dt1, config1).then(async response => {
      // await this.insertLog()
        // this.$swal('เรียบร้อย', 'บันทึกสำเร็จ', 'success')
        // this.dialog = false
        // // await this.onClearSubmit()
        // await this.onSearch()
      })
    },
    onExport () {
      const dataWS = XLSX.utils.json_to_sheet(this.datareport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'ReportEOMNewCars.xlsx')
    }
  }
}
</script>
<style>
  table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
