<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-main>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <form>
                  <v-row>
                    <v-col cols="2">
                      <v-select
                        v-model="formSearch.TypeBr"
                        :items="optionsTypeBr"
                        label="เลือกสาขา"
                        dense
                        outlined
                      />
                    </v-col>
                     <v-col cols="2">
                             <v-select
                              v-model="formSearch.TypeMonth"
                              :items="optionTypeMonth"
                              label="เลือกเดือน"
                              dense
                              outlined
                            />
                          </v-col>
                           <v-col cols="2">
                            <v-text-field
                              v-model="formSearch.TypeYear"
                              label="ใส่ปีที่ต้องการรุปแบบ ค.ศ."
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                            <v-col cols="2">
                            <v-text-field
                              v-model="formSearch.TypeParts"
                              label="ใส่รหัสอะไหล่ยอดนิยม"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                           <v-col cols="2">
                            <v-text-field
                              v-model="formSearch.TypePartsNm"
                              label="ใส่ชื่ออะไหล่"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-row>
                           <v-col cols="4">
                            <v-btn
                               tile
                               color="warning"
                               @click="onSearch(),Insert_Log()"
                              >
                              <v-icon left>
                               mdi-selection-search
                              </v-icon>
                                ค้นหา
                            </v-btn>
                               <v-btn
                              color="error"
                              depressed
                              @click.prevent="onClearSearch()"
                            >
                              <v-icon left> settings_backup_restore </v-icon>
                              Clear
                            </v-btn>
                            <v-btn
                              color="teal"
                              depressed
                              dark
                              @click.prevent="onExport(),Export_Log()"
                              >
                              <v-icon left> mdi-file-excel </v-icon>
                              Export Excel
                            </v-btn>
                          </v-col>
                          </v-row>
                  </v-row>
                </form>
               <br>
                <div v-if="!dataSearhcReady">
                  <div class="text-center">
                    <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="red"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="70"
                      :width="7"
                      color="purple"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="green"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="50"
                      color="amber"
                      indeterminate
                    />
                  </div>
                </div>
              </v-card-text>
            </v-card>
            <!-- <v-row>
            <v-col cols="4">
            <br>
            <v-alert
              color="info"
              dark
              icon="mdi-car-key"
              border="left"
              prominent
            >
              จำนวน งานเคลม  : {{ dataClaim }}
            </v-alert>
          </v-col>
           <v-col cols="4">
            <br>
            <v-alert
              color="info"
              dark
              icon="mdi-car-key"
              border="left"
              prominent
            >
              จำนวน รายได้ค่าแรง : {{ dataFRT }}
            </v-alert>
          </v-col>
           <v-col cols="4">
            <br>
            <v-alert
              color="info"
              dark
              icon="mdi-car-key"
              border="left"
              prominent
            >
              จำนวน รายได้ค่าอะไหล่ : {{ dataParts }}
            </v-alert>
          </v-col>
          </v-row> -->
            <br>
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-pencil-plus</v-icon> ข้อมูลที่เลือก
              </v-card-title>
              <v-card-text>
                <!-- <v-row v-if="dataListReady"> -->
                  <v-col cols="12">
                    <v-data-table
                      :headers="columns"
                      :items="datareport"
                      :items-per-page="10"
                    >
                     <template v-slot:[`item.action`]="{ item }">
                    <v-btn
                      color="warning"
                      fab
                      small
                      @click.stop="setData(item)"
                    >
                      <v-icon dark> visibility </v-icon>
                    </v-btn>
                  </template>
                    </v-data-table>
                  </v-col>
                <!-- </v-row> -->
              </v-card-text> <!-- จบ Panel ค้นหา -->
            </v-card>
          </v-col>
           <!-- เริ่ม Panel2 แสดงข้อมูล -->
                 <v-dialog
                  v-model="dialog"
                  fullscreen
                  hide-overlay
                  transition="dialog-bottom-transition"
                >
          <v-card tile>
                    <v-toolbar flat dark color="teal darken-3">
                      <v-btn icon dark @click.stop="dialog = false,onSearch()">
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                      <v-toolbar-title>Customer Network Details</v-toolbar-title>
                      <v-spacer />
                      <!-- <v-toolbar-items>
                        <v-btn color="primary" dark @click="onSubmit()" depressed>
                            <v-icon left> add_box </v-icon>
                            แก้ไขข้อมูล
                          </v-btn>
                      </v-toolbar-items> -->
                    </v-toolbar>

                        <!-- กล่อง Panel ข้อมูล ข้อมูลผู้แนะนำ -->
                        <v-expansion-panels>
                          <v-expansion-panel>
                            <v-expansion-panel-header>
                              <v-icon>person</v-icon>
                              ข้อมูลผู้แนะนำ</v-expansion-panel-header
                            >
                            <v-expansion-panel-content>
                              <v-row style="height: 80px">
                                <v-col cols="2">
                                  <v-text-field
                                    label="สาขา"
                                    v-model="form.TypeBr"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                 <v-col cols="2">
                                  <v-text-field
                                      v-model="form.TypeMonth"
                                      outlined
                                      dense
                                      label="เดือนที่เลือก"
                                      readonly
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="2">
                                  <v-text-field
                                    v-model="form.TypeYear"
                                    label="ปีที่เลือก"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                 <v-col cols="2">
                                  <v-text-field
                                    v-model="form.TypeParts"
                                    label="รหัสกลุ่มอะไหล่"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="2">
                                  <v-text-field
                                    v-model="form.TypePartsNm"
                                    label="=ชื่ออะไหล่"
                                    outlined
                                    dense
                                    readonly
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                            </v-expansion-panel-content>
                          </v-expansion-panel>
                        </v-expansion-panels>
                        <!-- จบกล่อง Panel ข้อมูล ข้อมูลผู้แนะนำ -->
                        <br />
                        <!-- เริ่ม Panel ข้อมูล ข้อมูลผู้ถูกแนะนำ -->
                        <v-card-text>
                          <v-alert
                              border="top"
                              color="teal lighten-1"
                                dark
                          >
                            <v-icon> person </v-icon>
                              ข้อมูลลูกค้า
                          </v-alert>
                          <v-data-table
                            :headers="columnsCust"
                            :items="datareport"
                            :items-per-page="10"
                          >
                        </v-data-table>
                        <!-- จบ Panel ข้อมูล ข้อมูลผู้ถูกแนะนำ -->

                    <br>
                    </v-card-text>
                    <div style="flex: 12 1 auto" />
                  </v-card>
                </v-dialog>
        </v-row>
      </div>
    </v-main>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      expanded: [],
      panel: [0],
      dialog: false,
      session: this.$session.getAll(),
      dataSearhcReady: true,
      chkSearch: true,
      readonly: true,
      visible: false,
      formSearch: {
        Dlr_Cd: '',
        CREATE_Year: '',
        CREATE_Month: '',
        PARTS_Group: '',
        Parts_name: ''
      },
      columns: [
        { text: 'View', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'Dlr_Cd' },
        { text: 'กลุ่มรหัสอะไหล่', value: 'PARTS_Group' },
        { text: 'รหัสอะไหล่', value: 'ITEM' },
        { text: 'ชื่ออะไหล่', value: 'Parts_name' },
        { text: 'ราคาต้นทุน', value: 'COST_AMOUNT' },
        { text: 'จำนวน', value: 'Hit_PARTS' }
      ],
      columnsCust: [
        { text: 'RO_NO', value: 'RO_NO' },
        { text: 'รายละเอียดงาน', value: 'JOB_INST_NM' },
        { text: 'CLAIM_NO', value: 'CLAIM_NO' },
        { text: 'วันที่เคลม', value: 'CREATE_DATE' },
        { text: 'รหัสงานเคลม', value: 'CLAIMTYPE' },
        { text: 'ชื่องานเคลม', value: 'CLAIMTYPE_NM' },
        { text: 'QTY', value: 'QTY' },
        { text: 'หมายเลขเฟรม', value: 'FRAME_NO' },
        { text: 'รุ่นรถ', value: 'SERIES_NAME' },
        { text: 'ปีรถ', value: 'MODEL_YEAR' },
        { text: 'วันเริ่มประกัน', value: 'WARRANTY_CAR_DATE' }
      ],
      optionsTypeBr: [
        { text: '0112', value: '0112' },
        { text: '0113', value: '0113' },
        { text: '0115', value: '0115' },
        { text: '0116', value: '0116' }
      ],
      optionTypeMonth: [
        { text: 'มกราคม', value: '01' },
        { text: 'กุมภาพันธ์', value: '02' },
        { text: 'มีนาคม', value: '03' },
        { text: 'เมษายน', value: '04' },
        { text: 'พฤษภาคม', value: '05' },
        { text: 'มิถุนายน', value: '06' },
        { text: 'กรกฎาคม', value: '07' },
        { text: 'สิงหาคม', value: '08' },
        { text: 'กันยายน', value: '09' },
        { text: 'ตุลาคม', value: '10' },
        { text: 'พฤศจิกายน', value: '11' },
        { text: 'ธันวาคม', value: '12' }
      ],
      form: {
        Dlr_Cd: '',
        CREATE_Year: '',
        CREATE_Month: '',
        PARTS_Group: '',
        Parts_name: ''
      },
      datareport: [],
      dataFRT: 0,
      dataParts: 0,
      dataClaim: 0,
      dataReady: true,
      dataSearhcReadyTable: false,
      checksubmit: true,
      chkbutton: ''
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/ReportService/Login')
    } else {
      // await this.getNow()
    }
  },
  methods: {
    async onSearch () {
      this.dataSearhcReady = false
      this.datareport = []
      // this.dataListReady = false
      // const url = 'http://localhost/vgroupl_api/v1/ReportService/FavoriteClaim/getdataFavoriteClaim'
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/FavoriteClaim/getdataFavoriteClaim'
      const config = {
        headers: {
          // 'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          // Br_cd: branch,
          Dlr_Cd: this.formSearch.TypeBr,
          PARTS_Group: this.formSearch.TypeParts,
          CREATE_Month: this.formSearch.TypeMonth,
          CREATE_Year: this.formSearch.TypeYear,
          Parts_name: this.formSearch.TypePartsNm
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          console.log(response)
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            // this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            // this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          // this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    async onSumClaim () {
      this.dataSearhcReady = false
      this.datareport = []
      // this.dataListReady = false
      // const url = 'http://localhost/vgroupl_api/v1/ReportService/FavoriteClaim/getdataFavoriteClaim'
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/FavoriteClaim/getdataFavoriteClaim'
      const config = {
        headers: {
          // 'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          // Br_cd: branch,
          Dlr_Cd: this.formSearch.TypeBr
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          console.log(response)
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            // this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            // this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          // this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    onClearSearch () {
      this.formSearch.TypeBr = ''
      this.formSearch.TypeMonth = ''
      this.formSearch.TypeYear = ''
      this.formSearch.TypeParts = ''
      this.formSearch.TypePartsNm = ''
    },
    async setData (item) {
      this.dataSearhcReady = false
      this.datareport = []
      // this.dataListReady = false
      this.form.TypeBr = item.Dlr_Cd
      this.form.TypeMonth = this.formSearch.TypeMonth
      this.form.TypeYear = this.formSearch.TypeYear
      this.form.TypeParts = item.PARTS_Group
      this.form.TypePartsNm = this.formSearch.TypePartsNm
      // const url = 'http://localhost/vgroupl_api/v1/ReportService/FavoriteClaim/getdFavoriteClaimCust'
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/FavoriteClaim/getdFavoriteClaimCust'
      const config = {
        headers: {
          // 'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
          // 'Application-Key': 'YWRiNjBhZTY4NDY4YjYyY2ZhZGU3N2NkMTkxOTMwYTg1YmQ5NDhhOGQ4NDE0N2ZiYzZhNTNkZmIzMzUzZTc4Yw'
        },
        params: {
          // Br_cd: branch,
          Dlr_Cd: this.form.TypeBr,
          PARTS_Group: this.form.TypeParts,
          CREATE_Month: this.form.TypeMonth,
          CREATE_Year: this.form.TypeYear,
          Parts_name: this.form.TypePartsNm
          // Dlr_Cd: this.form.Dlr_Cd,
          // CREATE_Month: this.form.TypeMonth,
          // CREATE_Year: this.form.TypeYear,
          // PARTS_Group: this.form.PARTS_Group
          // Name_Master: this.formSearch.customerName
        }
      }
      this.dialog = true

      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          console.log(response)
          var rs = response.data
          // console.log(this.session.data.userName)
          if (rs.length > 0) {
            this.datareport = rs
            // this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            // this.dataListReady = true
            this.datareport = []
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        }).catch((error) => {
          console.log(error)
          this.dataReady = true
          // this.dataListReady = true
          this.datareport = []
          this.dataSearhcReady = true
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
        })
    },
    async Insert_Log () {
      this.dataReady = false
      this.dataSearhcReady = false
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getFavoriteClaim01?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },

    async Export_Log () {
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getFavoriteClaim02?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },
    onExport () {
      const dataWS = XLSX.utils.json_to_sheet(this.datareport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'FavoriteClaim.xlsx')
    }
  }
}
</script>
<style>
table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
