<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-account-search</v-icon> ค้นหา
              </v-card-title>
              <v-card-text>
                <form>
                  <v-row>
                    <v-col cols="2">
                      <v-select
                        v-model="formSearch.TypeBr"
                        :items="optionsTypeBr"
                        label="สาขา"
                        dense
                        outlined
                      />
                    </v-col>
                     <v-col cols="3">
                      <v-select
                        v-model="formSearch.TypeModel"
                        :items="optionTypeModel"
                        label="รุ่นรถ"
                        dense
                        outlined
                      />
                    </v-col>
                     <v-col cols="2">
                            <v-text-field
                              v-model="formSearch.ModelYear"
                              label="ปีรุ่นรถ"
                              outlined
                              dense
                            ></v-text-field>
                          </v-col>
                           <v-col cols="5">
                            <v-btn
                               tile
                               color="warning"
                               @click="onSearch(),Insert_Log()"
                              >
                              <v-icon left>
                               mdi-selection-search
                              </v-icon>
                                ค้นหา
                            </v-btn>
                            <v-btn
                              color="teal"
                              depressed
                              dark
                              @click.prevent="onExport(),Export_Log()"
                              >
                              <v-icon left> mdi-file-excel </v-icon>
                              Export Excel
                            </v-btn>
                          </v-col>
                    <!-- <v-col cols="3">
                      <v-select
                        v-model="formSearch.ModelYear"
                        :items="optionTypeModelYear"
                        label="ปี"
                        dense
                        outlined
                      />
                    </v-col> -->
                       <!-- <v-col cols="3">
                            <v-menu
                              v-model="menuSearch1"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="200px"
                            >
                       <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.ModelYear"
                                  prepend-icon="mdi-calendar"
                                  label="ปี"
                                  v-bind="attrs"
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.ModelYear"
                                @input="menuSearch1 = false"
                                type="year"
                              ></v-date-picker>
                              </v-menu>
                    </v-col> -->
                  </v-row>
                </form>
                <!-- <v-row class="text-right">
                          <v-col cols="12">
                            <v-btn
                               tile
                               color="warning"
                               @click="onSearch()"
                              >
                              <v-icon left>
                               mdi-selection-search
                              </v-icon>
                                ค้นหา
                            </v-btn>
                            <v-btn
                              color="teal"
                              depressed
                              dark
                              @click.prevent="onExport()"
                              >
                              <v-icon left> mdi-file-excel </v-icon>
                              Export Excel
                            </v-btn>
                          </v-col>
                        </v-row> -->
                <br>
                <div v-if="!dataSearhcReady">
                  <div class="text-center">
                    <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="red"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="70"
                      :width="7"
                      color="purple"
                      indeterminate
                    />

                    <v-progress-circular
                      :width="3"
                      color="green"
                      indeterminate
                    />

                    <v-progress-circular
                      :size="50"
                      color="amber"
                      indeterminate
                    />
                  </div>
                </div>
              </v-card-text>
            </v-card>
            <br>
            <v-card
              elevation="2"
              outlined
              shaped
            >
              <v-card-title>
                <v-icon>mdi-pencil-plus</v-icon> ข้อมูลที่เลือก
              </v-card-title>
              <v-card-text>
                <v-row v-if="dataListReady">
                  <v-col cols="12">
                    <v-data-table
                      :headers="columns"
                      :items="datareport"
                      :items-per-page="5"
                    >
                    </v-data-table>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios' // api
import adminLeftMenu from './Sidebar.vue' // เมนู
import XLSX from 'xlsx' // import xlsx
export default {
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      session: this.$session.getAll(),
      menu1: false,
      menu2: false,
      menu3: false,
      dialog: false,
      dialog1: false,
      formSearch: {
        ModelYear: '',
        dateMeet: new Date().toISOString().substr(0, 10)
      },
      form: {
        remarkApprove: '',
        userNameApprove: ''
      },
      columns: [ // ตารางที่จะแสดง
        // { text: 'Action', value: 'action', sortable: false, align: 'center' },
        { text: 'สาขา', value: 'Dlr_Job_CD' },
        { text: 'หมายเลขเฟรม', value: 'Frame_NO' },
        { text: 'รุ่นรถ', value: 'Model_NM' },
        { text: 'รุ่นปี', value: 'Model_Year' },
        // { text: 'ทะเบียน', value: 'Reg_No' },
        { text: 'เลขกิโลเมตร', value: 'Mileage' },
        { text: 'ดีลเลอร์ปล่อยรถ', value: 'Dlr_DLVR_Code' },
        { text: 'ชื่อดีลเลอร์ปล่อยรถ', value: 'Dlr_DLVR_Name' },
        { text: 'วันที่ปล่อยรถใหม่', value: 'DLVR_NewCar_Date' },
        { text: 'สิ้นสุดประกัน', value: 'Due_Date_newCar' },
        // { text: 'หมายเลขลูกค้า', value: 'User_DR' },
        // { text: 'ชื่อลูกค้า', value: 'Customer_NM_User_DR' },
        { text: 'วันที่เข้าซ่อมล่าสุด', value: 'mxJob_Date' },
        { text: 'Job_Type ล่าสุด', value: 'LstJob_Type' },
        { text: 'Code ล่าสุด', value: 'Lst_J_Code' },
        { text: 'Grade ล่าสุด', value: 'Grade_sr' }

        // { text: 'Id_VLinked', value: 'userId_VLinked' },
        // { text: 'ที่อยู่', value: 'ADDRESS_DETAILS' },
        // { text: 'แขวง/ตำบล', value: 'OWNCITY' },
        // { text: 'เขต/อำเภอ', value: 'DISTRICT' },
        // { text: 'จังหวัด', value: 'PROVINCE' },
        // { text: 'รหัสไปร์ษณี', value: 'ZIP_CD' },
        // { text: 'โทรศัพท์มือถือ', value: 'TEL_Mobile_no' },
        // { text: 'โทรศัพท์บ้าน', value: 'TEL_HOME_NO' },
        // { text: 'โทรศัพท์ที่ทำงาน', value: 'TEL_COMPANY_NO' }
      ],
      datareport: [],
      optionRoomName: [],
      dataListReady: true,
      chkbutton: '',
      dateTime: '',
      dataSearhcReady: true,
      checksubmit: true,
      optionsTypeBr: [
        { text: '0112', value: '0112' },
        { text: '0113', value: '0113' },
        { text: '0115', value: '0115' },
        { text: '0116', value: '0116' }
      ],
      optionTypeModel: [
        { text: 'ACCORD', value: 'ACCORD' },
        { text: 'ACCORD HYBRID', value: 'ACCORD HYBRID' },
        { text: 'AMAZE', value: 'AMAZE' },
        { text: 'BRIO', value: 'BRIO' },
        { text: 'BR-V', value: 'BR-V' },
        { text: 'CITY', value: 'CITY' },
        { text: 'CITY CNG', value: 'CITY CNG' },
        { text: 'CITY e:HEV', value: 'CITY e:HEV' },
        { text: 'CITY HATCHBACK', value: 'CITY HATCHBACK' },
        { text: 'CITY HATCHBACK e:HEV', value: 'CITY HATCHBACK e:HEV' },
        { text: 'CR-V', value: 'CR-V' },
        { text: 'CIVIC', value: 'CIVIC' },
        { text: 'CIVIC HYBRID', value: 'CIVIC HYBRID' },
        { text: 'CIVIC HATCHBACK', value: 'CIVIC HATCHBACK' },
        { text: 'FREED', value: 'FREED' },
        { text: 'HR-V', value: 'HR-V' },
        { text: 'JAZZ', value: 'JAZZ' },
        { text: 'JAZZ HYBRID', value: 'JAZZ HYBRID' },
        { text: 'MOBILIO', value: 'MOBILIO' },
        { text: 'ODYSSEY', value: 'ODYSSEY' },
        { text: 'STREAM', value: 'STREAM' },
        { text: 'STEPWGN', value: 'STEPWGN' }
      ]
      // optionTypeModelYear: [
      //   { text: '2010', value: '2010' },
      //   { text: '2011', value: '2011' },
      //   { text: '2012', value: '2012' },
      //   { text: '2013', value: '2013' },
      //   { text: '2014', value: '2014' },
      //   { text: '2015', value: '2015' },
      //   { text: '2016', value: '2016' },
      //   { text: '2017', value: '2017' },
      //   { text: '2018', value: '2018' },
      //   { text: '2019', value: '2019' },
      //   { text: '2020', value: '2020' },
      //   { text: '2021', value: '2021' },
      //   { text: '2022', value: '2022' },
      //   { text: '2023', value: '2023' },
      //   { text: '2024', value: '2024' },
      //   { text: '2025', value: '2025' },
      //   { text: '2026', value: '2026' }
      // ]
    }
  },
  computed: {
    // loaded () {
    //   return this.$store.state.sessionStorage
    // }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/reportService/Login')
    } else {
      // await this.getData()
    }
  },
  methods: {
    async onSearch () {
      this.datareport = []
      this.dataListReady = false
      this.dataSearhcReady = false
      // var data010 = ''
      var dataRMH = ''
      // const url1 = `http://localhost/vgroupl_api/ModelBulletin.php`
      // const url1 = `${this.$apiUrl}vgroupl_api/ModelBulletin.php`
      const url1 = 'https://api.betaskthai.com/vgroupl_api/ModelBulletin.php'
      const config1 = {
        headers: {
          'Content-Type': 'application/json'
        },
        params: { // เงื่อนไขที่จะเลือก
          Dlr_Job_CD: this.formSearch.TypeBr,
          Model_Year: this.formSearch.ModelYear,
          Model_NM: this.formSearch.TypeModel,
          dataType: 'dataRMH'
        }
      }
      await axios
        .get(url1, config1).then(async (response) => {
          const rs1 = response.data
          if (rs1.length > 0) {
            dataRMH = rs1
          }
        })
      // const url = `http://localhost/vgroupl_api/ModelBulletin.php`
      const url = 'https://api.betaskthai.com/vgroupl_api/ModelBulletin.php'
      const config = {
        headers: {
          'Content-Type': 'application/json'
        },
        params: { // เงื่อนไขที่จะเลือก
          Dlr_Job_CD: this.formSearch.TypeBr,
          Model_Year: this.formSearch.ModelYear,
          Model_NM: this.formSearch.TypeModel,
          dataType: 'data010'
        }
      }
      await axios
        .get(url, config)
        // eslint-disable-next-line require-await
        .then(async (response) => {
          // console.log(this.session.data.userName)
          const rs = response.data
          if (rs.length > 0) {
            // data010 = rs
            for (let i = 0; i < rs.length; i++) {
              var d = rs[i]
              var s = {}
              s.Dlr_Job_CD = d.Dlr_Job_CD
              s.mxJob_Date = d.mxJob_Date
              s.Frame_NO = d.Frame_NO
              s.Model_NM = d.Model_NM
              s.Model_Year = d.Model_Year
              s.Reg_No = d.Reg_No
              s.Mileage = d.Mileage
              s.Dlr_DLVR_Code = d.Dlr_DLVR_Code
              s.Dlr_DLVR_Name = d.Dlr_DLVR_Name
              s.DLVR_NewCar_Date = d.DLVR_NewCar_Date
              s.Due_Date_newCar = d.Due_Date_newCar
              s.User_DR = d.User_DR
              s.Customer_NM_User_DR = d.Customer_NM_User_DR
              s.Lst_J_Code = d.Lst_J_Code
              s.Grade_sr = d.Grade_sr
              s.LstJob_Type = d.LstJob_Type
              s.userId_VLinked = d.userId_VLinked
              const result = dataRMH.filter(function (el) {
                if (el.FRAME_NO === d.Frame_NO) {
                  return true
                } else {
                  return false
                }
              }
              )
              // เพิ่มฟิลที่จะต่อ(ทางด้านขวา)
              if (result.length > 0) {
                console.log(result[0])
                s.ADDRESS_DETAILS = result[0].ADDRESS_DETAILS
                s.OWNCITY = result[0].OWNCITY
                s.DISTRICT = result[0].DISTRICT
                s.PROVINCE = result[0].PROVINCE
                s.ZIP_CD = result[0].ZIP_CD
                s.TEL_Mobile_no = result[0].TEL_Mobile_no
                s.TEL_HOME_NO = result[0].TEL_HOME_NO
                s.TEL_COMPANY_NO = result[0].TEL_COMPANY_NO
              } else { // ถ้าไม่มีให้เป็นค่าว่าง
                s.ADDRESS_DETAILS = ''
                s.OWNCITY = ''
                s.DISTRICT = ''
                s.PROVINCE = ''
                s.ZIP_CD = ''
                s.TEL_Mobile_no = ''
                s.TEL_HOME_NO = ''
                s.TEL_COMPANY_NO = ''
              }
              this.datareport.push(s)
            }
            // this.datareport = rs
            this.dataListReady = true
            this.dataSearhcReady = true
          } else {
            this.dataListReady = true
            this.dataSearhcReady = true
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        })
    },
    async Insert_Log () {
      this.dataReady = false
      this.dataSearhcReady = false
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getModelBulletin01?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },

    async Export_Log () {
      // const url = `${this.$apiUrl}ReportService/Login/getData?`
      const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getModelBulletin02?'
      const config = {
        headers: {
          'Application-Key':
            this.$apiToken
        },
        params: {
          User_NM: this.session.data.User_NM
          // Password: this.form.passWord
        }
      }
      await axios //
        .get(url, config)
    },
    onExport () {
      const dataWS = XLSX.utils.json_to_sheet(this.datareport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'ReportModelBulletin.xlsx')
    }
  }
}
</script>
<style>
  table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
/* .wrap {  white-space: nowrap;
width: 100%; } */
</style>
