<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <!-- <v-tabs
                    v-model="tab"
                    background-color="red"
                    centered
                    dark
                    icons-and-text
                  > -->
                <v-tabs
                    v-model="tab"
                    background-color="red lighten-1"
                    dark
                    icons-and-text
                  >
                    <v-tabs-slider></v-tabs-slider>

                    <v-tab active @click="tabActive('A')">
                      CloseJob PM/GR
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('B')">
                      CloseJob BP
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <!-- <v-tab active @click="tabActive('C')">
                      Close Job PM/GR
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('D')">
                      Close Job BP
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('E')">
                      Ten Kilo
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('F')">
                      Performance SA
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('G')">
                      Performance EST
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab> -->
                     <!-- <v-tab href="#tab-2">
                      Favorites
                      <v-icon>mdi-heart</v-icon>
                    </v-tab>

                    <v-tab href="#tab-3">
                      Nearby
                      <v-icon>mdi-account-box</v-icon>
                    </v-tab> -->
                  </v-tabs>
                  <template v-if="showDashboardA">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardB">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                   <!-- <template v-if="showDashboardC">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                   <template v-if="showDashboardD">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardE">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardF">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardG">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template> -->
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import adminLeftMenu from '../Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
  },
  data () {
    return {
      breadcrumbs: [
        {
          text: 'Close Job',
          disabled: true,
          href: '/dashboard/Vgroup'
        }
      ],
      showDashboardA: false,
      showDashboardB: false,
      showDashboardC: false,
      showDashboardD: false,
      showDashboardE: false,
      showDashboardF: false,
      showDashboardG: false,
      showDashboardH: false
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/dashboard/Login')
    } else {
      await this.tabActive('A')
    }
  },
  methods: {
    tabActive (dt) {
      this.tabActives = dt
      if (dt === 'A') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/dea86818-733a-4d71-a453-4bd15c26d736/page/tgi1B'
        this.showDashboardA = true
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'B') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/00b345a6-f2be-4946-b914-6cfa75d1de67/page/tgi1B'
        this.showDashboardA = false
        this.showDashboardB = true
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      // if (dt === 'C') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/43719f26-6ad1-45ea-8e47-24811848e728/page/tgi1B'
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = true
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = false
      //   this.showDashboardG = false
      // }
      // if (dt === 'D') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/71c77914-edb2-47e5-9964-f310f40c8139/page/tgi1B'
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = true
      //   this.showDashboardE = false
      //   this.showDashboardF = false
      //   this.showDashboardG = false
      // }
      // if (dt === 'E') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/54dc1091-884f-4087-9e3d-485eee302531/page/PLtyB'
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = true
      //   this.showDashboardF = false
      //   this.showDashboardG = false
      // }
      // if (dt === 'F') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/d8cf05eb-04b0-4e23-b565-e0b021fe6c92/page/SKryB'
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = true
      //   this.showDashboardG = false
      // }
      // if (dt === 'G') {
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = false
      //   this.showDashboardG = true
      // }
    }
  }
}
</script>
<style scoped>
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.h_iframe iframe {
  width: 100%;
  height: 3000px;
}
.h_iframe {
  height: 100%;
  width: 100%;
}
.red {
  color: red;
}
.yellow {
  color: #b1a501;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.blue0483de {
  color: #0483de;
}
</style>
