<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-tabs
                    v-model="tab"
                    background-color="red lighten-1"
                    dark
                    icons-and-text
                  >
                    <v-tabs-slider></v-tabs-slider>
                    <v-tab active @click="tabActive('A')">
                      Overview FRT GR
                      <v-icon>people</v-icon>
                    </v-tab>
                       <!-- <v-tab active @click="tabActive('B')">
                      Technical
                      <v-icon>people</v-icon>
                    </v-tab> -->
                       <!-- <v-tab active @click="tabActive('C')">
                      Leader
                      <v-icon>people</v-icon>
                    </v-tab> -->
                  </v-tabs>
                  <template v-if="showDashboardA">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <!-- <template v-if="showDashboardB">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template> -->
                  <!-- <template v-if="showDashboardC">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template> -->
                </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import adminLeftMenu from '../Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
  },
  data () {
    return {
      breadcrumbs: [
        {
          text: 'FRT GR',
          disabled: true,
          href: '/dashboard/FRTWsGR'
        }
      ],
      showDashboardA: false,
      showDashboardB: false,
      showDashboardC: false,
      showDashboardD: false,
      showDashboardE: false,
      showDashboardF: false,
      showDashboardG: false,
      showDashboardH: false
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/dashboard/Login')
    } else {
      await this.tabActive('A')
    }
  },
  methods: {
    tabActive (dt) {
      this.tabActives = dt
      if (dt === 'A') {
        this.urlBranchNm = 'https://lookerstudio.google.com/embed/reporting/3e8c749a-9c93-4fb9-bd5f-6a87a736b7c3/page/Zk4FD'
        this.showDashboardA = true
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
      }
      // if (dt === 'B') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/a3dd5518-1436-46be-b9ca-56ca24b3534d/page/r3uZC'
      //   this.showDashboardA = false
      //   this.showDashboardB = true
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = false
      //   this.showDashboardG = false
      //   this.showDashboardH = false
      // }
      // if (dt === 'C') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/a4364ef7-21a8-4aa2-af42-d0b227868775/page/p_qyrf80ocnc'
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = true
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = false
      //   this.showDashboardG = false
      // }
      // if (dt === 'D') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/71c77914-edb2-47e5-9964-f310f40c8139/page/tgi1B'
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = true
      //   this.showDashboardE = false
      //   this.showDashboardF = false
      //   this.showDashboardG = false
      // }
      // if (dt === 'E') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/54dc1091-884f-4087-9e3d-485eee302531/page/PLtyB'
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = true
      //   this.showDashboardF = false
      //   this.showDashboardG = false
      // }
      // if (dt === 'F') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/d8cf05eb-04b0-4e23-b565-e0b021fe6c92/page/SKryB'
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = true
      //   this.showDashboardG = false
      // }
      // if (dt === 'G') {
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = false
      //   this.showDashboardG = true
      // }
    }
  }
}
</script>
<style scoped>
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.h_iframe iframe {
  width: 100%;
  height: 3000px;
}
.h_iframe {
  height: 100%;
  width: 100%;
}
.red {
  color: red;
}
.yellow {
  color: #b1a501;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.blue0483de {
  color: #0483de;
}
</style>
