<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <!-- <v-tabs
                    v-model="tab"
                    background-color="red"
                    centered
                    dark
                    icons-and-text
                  > -->
                <v-tabs
                    v-model="tab"
                    background-color="red lighten-1"
                    dark
                    icons-and-text
                  >
                    <v-tabs-slider></v-tabs-slider>
                    <v-tab active @click="tabActive('A')">
                      Grade
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('B')">
                      Code
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('C')">
                      10Kilometers
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('D')">
                      10Kilometers INS
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('E')">
                      100,000 km Up By Grade
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('F')">
                      100,000 km Up By Code
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('G')">
                      Vlinked
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <!-- <v-tab active @click="tabActive('G')">
                      Insurance
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab> -->
                    <v-tab active @click="tabActive('H')">
                      Report Sheet
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                     <!-- <v-tab href="#tab-2">
                      Favorites
                      <v-icon>mdi-heart</v-icon>
                    </v-tab>

                    <v-tab href="#tab-3">
                      Nearby
                      <v-icon>mdi-account-box</v-icon>
                    </v-tab> -->
                  </v-tabs>
                  <template v-if="showDashboardA">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardB">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                   <template v-if="showDashboardC">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                   <template v-if="showDashboardD">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardE">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardF">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template> -->
                  <!-- <template v-if="showDashboardG">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template> -->
                   <template v-if="showDashboardG">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                   <template v-if="showDashboardH">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import adminLeftMenu from '../Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
  },
  data () {
    return {
      breadcrumbs: [
        {
          text: 'Database by Frame on IDS',
          disabled: true,
          href: '/dashboard/Gafana'
        }
      ],
      showDashboardA: false,
      showDashboardB: false,
      showDashboardC: false,
      showDashboardD: false,
      showDashboardE: false,
      showDashboardF: false,
      showDashboardG: false,
      showDashboardH: false
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/dashboard/Login')
    } else {
      await this.tabActive('A')
    }
  },
  methods: {
    tabActive (dt) {
      this.tabActives = dt
      if (dt === 'A') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/53e8c67e-09fb-41ba-bae6-188340d56a5d/page/2L6PC'
        this.showDashboardA = true
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'B') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/9591d363-7262-4429-9a6e-1a5012d6db93/page/2L6PC'
        this.showDashboardA = false
        this.showDashboardB = true
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'C') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/608d16f3-59cb-4d92-98e8-ec1fdbf4ec91/page/2L6PC'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = true
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'D') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/3d6cdbdc-cc11-4e3e-8d1c-705452c1c478/page/2L6PC'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = true
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'E') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/6a23fe7d-acd6-4ccf-ae3a-abaeead015b3/page/2L6PC'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = true
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'F') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/9447e6de-394a-4f09-a49a-396d0ab5cafd/page/2L6PC'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = true
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'G') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/3a646520-ff95-4e75-af30-f266845f347c/page/2L6PC'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = true
        this.showDashboardH = false
      }
      if (dt === 'H') {
        this.urlBranchNm = 'https://docs.google.com/spreadsheets/d/1-6tr65VM2V2znQM1ubLJCcdpriA5jr2vRV9exxQQ5gY/edit?pli=1#gid=1136203859'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = true
      }
      // if (dt === 'H') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/3d6cdbdc-cc11-4e3e-8d1c-705452c1c478/page/2L6PC'
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = false
      //   this.showDashboardG = false
      //   this.showDashboardH = true
      // }
    }
    // async Insert_Log () {
    //   this.dataReady = false
    //   this.dataSearhcReady = false
    //   // const url = `${this.$apiUrl}ReportService/Login/getData?`
    //   // const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getBPnonePM01?'
    //   const url = 'https://api.betaskthai.com/vgroupl_api/v1/ReportService/LogProgram/getGafana?'
    //   const config = {
    //     headers: {
    //       'Application-Key':
    //         this.$apiToken
    //     },
    //     params: {
    //       User_NM: this.session.data.User_NM
    //       // Password: this.form.passWord
    //     }
    //   }
    //   await axios //
    //     .get(url, config)
    // }
  }
}
</script>
<style scoped>
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.h_iframe iframe {
  width: 100%;
  height: 3000px;
}
.h_iframe {
  height: 100%;
  width: 100%;
}
.red {
  color: red;
}
.yellow {
  color: #b1a501;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.blue0483de {
  color: #0483de;
}
</style>
