<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <!-- <v-tabs
                    v-model="tab"
                    background-color="red"
                    centered
                    dark
                    icons-and-text
                  > -->
                <v-tabs
                    v-model="tab"
                    background-color="red lighten-1"
                    dark
                    icons-and-text
                  >
                    <v-tabs-slider></v-tabs-slider>
                    <v-tab active @click="tabActive('A')">
                      Overview
                      <v-icon>people</v-icon>
                    </v-tab>
                       <v-tab active @click="tabActive('B')">
                      รายละเอียดสถานะพนักงาน
                      <v-icon>people</v-icon>
                    </v-tab>
                       <v-tab active @click="tabActive('C')">
                      รายละเอียดอายุ
                      <v-icon>people</v-icon>
                    </v-tab>
                     <v-tab active @click="tabActive('D')">
                      รายละเอียดตามภูมิภาค
                      <v-icon>people</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('E')">
                      รายละเอียดการศึกษา
                      <v-icon>people</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('F')">
                      รายละเอียดการลา
                      <v-icon>people</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('G')">
                      รายละเอียด Location
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                     <!-- <v-tab href="#tab-2">
                      Favorites
                      <v-icon>mdi-heart</v-icon>
                    </v-tab>

                    <v-tab href="#tab-3">
                      Nearby
                      <v-icon>mdi-account-box</v-icon>
                    </v-tab> -->
                  </v-tabs>
                  <template v-if="showDashboardA">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardB">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                   <template v-if="showDashboardC">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                   <template v-if="showDashboardD">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardE">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardF">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardG">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import adminLeftMenu from '../Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
  },
  data () {
    return {
      breadcrumbs: [
        {
          text: 'Human Resource Management',
          disabled: true,
          href: '/dashboard/Hrm'
        }
      ],
      showDashboardA: false,
      showDashboardB: false,
      showDashboardC: false,
      showDashboardD: false,
      showDashboardE: false,
      showDashboardF: false,
      showDashboardG: false,
      showDashboardH: false
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/dashboard/Login')
    } else {
      await this.tabActive('A')
    }
  },
  methods: {
    tabActive (dt) {
      this.tabActives = dt
      if (dt === 'A') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/d63ea049-e4b7-43ea-ac0b-ca62ece1d8d2/page/gk8qC'
        this.showDashboardA = true
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
      }
      if (dt === 'B') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/737f7f72-4a25-436c-99cc-22c80d487c80/page/p_szcdxbp6uc'
        this.showDashboardA = false
        this.showDashboardB = true
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
      }
      if (dt === 'C') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/54897dab-a86b-4da8-9e45-d5df81675c5a/page/p_rpn4hpl6uc'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = true
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
      }
      if (dt === 'D') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/4266f28f-0cbb-4951-ae02-22d025495124/page/p_2ntnqwl6uc'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = true
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
      }
      if (dt === 'E') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/4e39b02b-6314-4ad2-9519-e5411569ac09/page/p_xexzpwm6uc'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = true
        this.showDashboardF = false
        this.showDashboardG = false
      }
      if (dt === 'F') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/8f55f815-1f03-461a-93b2-2bb675611d6c/page/p_bg2e1d1vvc'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = true
        this.showDashboardG = false
      }
      if (dt === 'G') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/26e88a5b-1a32-4dd6-94ff-987421a85d8a/page/p_rdcki4k2vc'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = true
      }
    }
  }
}
</script>
<style scoped>
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.h_iframe iframe {
  width: 100%;
  height: 3000px;
}
.h_iframe {
  height: 100%;
  width: 100%;
}
.red {
  color: red;
}
.yellow {
  color: #b1a501;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.blue0483de {
  color: #0483de;
}
</style>
