<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-tabs
                    v-model="tab"
                    background-color="red lighten-1"
                    dark
                    icons-and-text
                  >
                    <v-tabs-slider></v-tabs-slider>

                    <v-tab active @click="tabActive('A')">
                      Incoming Cars PM/GR
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('B')">
                      Incoming Cars BP
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                    <v-tab active @click="tabActive('C')">
                      Incoming vs Target
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                      <v-tab active @click="tabActive('D')">
                      Incoming Count Job
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                     <v-tab active @click="tabActive('E')">
                      Month to Date
                      <v-icon>mdi-car-multiple</v-icon>
                    </v-tab>
                  </v-tabs>
                  <template v-if="showDashboardA">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                  <template v-if="showDashboardB">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                   <template v-if="showDashboardC">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                   <template v-if="showDashboardD">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
                     <template v-if="showDashboardE">
                    <div class="h_iframe">
                    <iframe
                      :src= "urlBranchNm"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                    </div>
                  </template>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import adminLeftMenu from '../Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {
  },
  data () {
    return {
      breadcrumbs: [
        {
          text: 'Incoming Car',
          disabled: true,
          href: '/dashboard/Vgroup'
        }
      ],
      showDashboardA: false,
      showDashboardB: false,
      showDashboardC: false,
      showDashboardD: false,
      showDashboardE: false,
      showDashboardF: false,
      showDashboardG: false,
      showDashboardH: false
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/dashboard/Login')
    } else {
      await this.tabActive('A')
    }
  },
  methods: {
    tabActive (dt) {
      this.tabActives = dt
      if (dt === 'A') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/8a013840-1e66-451e-8314-1b404bf39da3/page/tgi1B'
        this.showDashboardA = true
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
      }
      if (dt === 'B') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/615e70f3-8c5c-4e47-83de-6475f6fe5423/page/tgi1B'
        this.showDashboardA = false
        this.showDashboardB = true
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
      }
      if (dt === 'C') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/d4113992-f2e2-41fa-9753-141aa9360794/page/tgi1B'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = true
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
      }
      if (dt === 'D') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/9c562614-a54e-4ed5-a4a5-9927cf0ada8c/page/tgi1B'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = true
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
      }
      if (dt === 'E') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/3ea5cd59-fb9c-4865-8ac0-535221e0b075/page/3Q1wC'
        this.showDashboardA = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = true
        this.showDashboardF = false
        this.showDashboardG = false
      }
      // if (dt === 'F') {
      //   this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/d8cf05eb-04b0-4e23-b565-e0b021fe6c92/page/SKryB'
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = true
      //   this.showDashboardG = false
      // }
      // if (dt === 'G') {
      //   this.showDashboardA = false
      //   this.showDashboardB = false
      //   this.showDashboardC = false
      //   this.showDashboardD = false
      //   this.showDashboardE = false
      //   this.showDashboardF = false
      //   this.showDashboardG = true
      // }
    }
  }
}
</script>
<style scoped>
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.h_iframe iframe {
  width: 100%;
  height: 3000px;
}
.h_iframe {
  height: 100%;
  width: 100%;
}
.red {
  color: red;
}
.yellow {
  color: #b1a501;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.blue0483de {
  color: #0483de;
}
</style>
