<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <div v-if="session.data.userTypeGroup == 'Board' || session.data.userTypeGroup == 'Admin' || this.session.data.userName === 'Natenapa.Nat'">
                  <v-select
                            label="Branch"
                            :items="optionBranch"
                            v-model="Branch"
                            outlined
                            @change="tabActive(tabActives)"
                            dense
                          ></v-select>
                </div>
              </v-card-text>
              <v-card-text>
                <!-- <v-tabs
                    v-model="tab"
                    background-color="red"
                    centered
                    dark
                    icons-and-text
                  > -->
                <v-tabs centered>
                  <v-tab active @click="tabActive('E')">
                    <v-icon> mdi-book-open-page-variant-outline </v-icon>
                    ภาพรวม
                  </v-tab>
                  <v-tab @click="tabActive('A')">
                    <v-icon> mdi-account-heart </v-icon>
                    Follow Status
                  </v-tab>
                  <v-tab @click="tabActive('J')">
                    <v-icon> mdi-google-street-view </v-icon>
                    Visitor
                  </v-tab>
                  <v-tab @click="tabActive('B')">
                    <v-icon> mdi-book-account </v-icon>
                    Booking
                  </v-tab>
                  <v-tab @click="tabActive('F')">
                    <v-icon> mdi-book-remove </v-icon>
                    Cancel Booking
                  </v-tab>
                  <v-tab @click="tabActive('C')">
                    <v-icon> mdi-cash-check </v-icon>
                    Invoice
                  </v-tab>
                  <v-tab @click="tabActive('G')">
                    <v-icon> mdi-cash-remove </v-icon>
                    Cancel Invoice
                  </v-tab>
                  <v-tab @click="tabActive('K')">
                    <v-icon> mdi-account-cash </v-icon>
                    ค่าเฉลี่ย FOC โดยประมาณ
                  </v-tab>
                  <v-tab @click="tabActive('D')">
                    <v-icon> mdi-cash-lock </v-icon>
                    Back order
                  </v-tab>
                  <v-tab @click="tabActive('H')">
                    <v-icon> mdi-account-check </v-icon>
                    Follow Invoice
                  </v-tab>
                  <v-tab @click="tabActive('I')">
                    <v-icon> mdi-target-variant </v-icon>
                    Target Plan
                  </v-tab>
                  <v-tab @click="tabActive('L')">
                    <v-icon> mdi-page-next-outline </v-icon>
                    วิเคราะห์ Page
                  </v-tab>
                  <v-tab @click="tabActive('M')">
                    <v-icon> mdi-account-convert </v-icon>
                    วิเคราะห์ Sales
                  </v-tab>
                  <v-tab @click="tabActive('N')">
                    <v-icon> mdi-facebook </v-icon>
                    Fackbook Page
                  </v-tab>
                  <v-tab-item>
                    <v-card flat>
                      <hr />
                      <v-card-text> </v-card-text>
                    </v-card>
                  </v-tab-item>
                </v-tabs>
                <template v-if="showDashboardA">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardF">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardG">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardB">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardC">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardD">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardE">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardH">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardI">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardJ">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardK">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardL">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardM">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardN">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import adminLeftMenu from '../Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {},
  data () {
    return {
      session: this.$session.getAll(),
      breadcrumbs: [
        {
          text: 'Dashboard Manager',
          disabled: true,
          href: '/dashboard/Vgroup'
        }
      ],
      showDashboardA: false,
      showDashboardB: false,
      showDashboardC: false,
      showDashboardE: true,
      showDashboardD: false,
      showDashboardF: false,
      showDashboardG: false,
      showDashboardH: false,
      showDashboardI: false,
      showDashboardJ: false,
      showDashboardK: false,
      showDashboardL: false,
      showDashboardM: false,
      showDashboardN: false,
      urlBranchNm: '',
      Branch: '',
      tabActives: '',
      optionBranch: [
        { text: 'สาขาแจ้งวัฒนะ', value: '0112' },
        { text: 'สาขาบางกอกน้อย', value: '0115' },
        { text: 'สาขาปากเกร็ด-เมืองทอง', value: '0116' },
        { text: 'สาขาหนองแขม', value: '0113' }
      ]
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/vsales/Login')
    } else {
      this.tabActive('E')
    }
  },
  methods: {
    tabActive (dt) {
      this.tabActives = dt
      console.log(this.tabActives)
      let tabBranch
      if (
        this.session.data.userTypeGroup === 'Sale Manager' ||
        this.session.data.userTypeGroup === 'Sale Manager Assistant'
      ) {
        if (this.session.data.userName !== 'Natenapa.Nat') {
          tabBranch = this.session.data.branchNo
        }
      }
      if (
        this.session.data.userTypeGroup === 'Admin' ||
        this.session.data.userTypeGroup === 'Board' ||
        this.session.data.userName === 'Natenapa.Nat'
      ) {
        tabBranch = this.Branch
      }
      console.log(tabBranch)
      if (dt === 'A') {
        if (tabBranch === '0116') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/11b1ba10-9c5c-4603-a04b-f9c3c8e9a3e9/page/xTofB?params=%7B%22ds29.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9B%E0%B8%B2%E0%B8%81%E0%B9%80%E0%B8%81%E0%B8%A3%E0%B9%87%E0%B8%94%20-%20%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B8%97%E0%B8%AD%E0%B8%87%22%7D'
        }
        if (tabBranch === '0112') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/11b1ba10-9c5c-4603-a04b-f9c3c8e9a3e9/page/xTofB?params=%7B%22ds29.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B9%81%E0%B8%88%E0%B9%89%E0%B8%87%E0%B8%A7%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B0%22%7D'
        }
        if (tabBranch === '0115') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/11b1ba10-9c5c-4603-a04b-f9c3c8e9a3e9/page/xTofB?params=%7B%22ds29.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%AD%E0%B8%81%E0%B8%99%E0%B9%89%E0%B8%AD%E0%B8%A2%22%7D'
        }
        if (tabBranch === '0113') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/11b1ba10-9c5c-4603-a04b-f9c3c8e9a3e9/page/xTofB?params=%7B%22ds29.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%AB%E0%B8%99%E0%B8%AD%E0%B8%87%E0%B9%81%E0%B8%82%E0%B8%A1%22%7D'
        }
        this.showDashboardA = true
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'B') {
        if (tabBranch === '0116') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/01d0ad5b-4157-48bb-a238-5cdb9d6cfcfa/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9B%E0%B8%B2%E0%B8%81%E0%B9%80%E0%B8%81%E0%B8%A3%E0%B9%87%E0%B8%94%20-%20%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B8%97%E0%B8%AD%E0%B8%87%22%7D'
        }
        if (tabBranch === '0112') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/01d0ad5b-4157-48bb-a238-5cdb9d6cfcfa/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B9%81%E0%B8%88%E0%B9%89%E0%B8%87%E0%B8%A7%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B0%22%7D'
        }
        if (tabBranch === '0115') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/01d0ad5b-4157-48bb-a238-5cdb9d6cfcfa/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%AD%E0%B8%81%E0%B8%99%E0%B9%89%E0%B8%AD%E0%B8%A2%22%7D'
        }
        if (tabBranch === '0113') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/01d0ad5b-4157-48bb-a238-5cdb9d6cfcfa/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%AB%E0%B8%99%E0%B8%AD%E0%B8%87%E0%B9%81%E0%B8%82%E0%B8%A1%22%7D'
        }
        this.showDashboardB = true
        this.showDashboardA = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'C') {
        if (tabBranch === '0116') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/62b4c54c-3ace-4d73-817c-7dc4c79918fc/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9B%E0%B8%B2%E0%B8%81%E0%B9%80%E0%B8%81%E0%B8%A3%E0%B9%87%E0%B8%94%20-%20%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B8%97%E0%B8%AD%E0%B8%87%22%7D'
        }
        if (tabBranch === '0112') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/62b4c54c-3ace-4d73-817c-7dc4c79918fc/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B9%81%E0%B8%88%E0%B9%89%E0%B8%87%E0%B8%A7%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B0%22%7D'
        }
        if (tabBranch === '0115') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/62b4c54c-3ace-4d73-817c-7dc4c79918fc/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%AD%E0%B8%81%E0%B8%99%E0%B9%89%E0%B8%AD%E0%B8%A2%22%7D'
        }
        if (tabBranch === '0113') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/62b4c54c-3ace-4d73-817c-7dc4c79918fc/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%AB%E0%B8%99%E0%B8%AD%E0%B8%87%E0%B9%81%E0%B8%82%E0%B8%A1%22%7D'
        }
        this.showDashboardC = true
        this.showDashboardB = false
        this.showDashboardA = false
        this.showDashboardE = false
        this.showDashboardD = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'D') {
        if (tabBranch === '0116') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/8dfe3035-1fb7-4350-bc19-fecf75fdea00/page/xTofB?params=%7B%22ds13.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9B%E0%B8%B2%E0%B8%81%E0%B9%80%E0%B8%81%E0%B8%A3%E0%B9%87%E0%B8%94%20-%20%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B8%97%E0%B8%AD%E0%B8%87%22%7D'
        }
        if (tabBranch === '0112') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/8dfe3035-1fb7-4350-bc19-fecf75fdea00/page/xTofB?params=%7B%22ds13.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B9%81%E0%B8%88%E0%B9%89%E0%B8%87%E0%B8%A7%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B0%22%7D'
        }
        if (tabBranch === '0115') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/8dfe3035-1fb7-4350-bc19-fecf75fdea00/page/xTofB?params=%7B%22ds13.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%AD%E0%B8%81%E0%B8%99%E0%B9%89%E0%B8%AD%E0%B8%A2%22%7D'
        }
        if (tabBranch === '0113') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/8dfe3035-1fb7-4350-bc19-fecf75fdea00/page/xTofB?params=%7B%22ds13.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%AB%E0%B8%99%E0%B8%AD%E0%B8%87%E0%B9%81%E0%B8%82%E0%B8%A1%22%7D'
        }
        this.showDashboardD = true
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardA = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'E') {
        if (tabBranch === '0116') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/2d0e116d-dfe7-4e72-bae2-8e564cece052/page/xTofB?params=%7B%22ds53.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9B%E0%B8%B2%E0%B8%81%E0%B9%80%E0%B8%81%E0%B8%A3%E0%B9%87%E0%B8%94%20-%20%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B8%97%E0%B8%AD%E0%B8%87%22%7D'
        }
        if (tabBranch === '0112') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/2d0e116d-dfe7-4e72-bae2-8e564cece052/page/xTofB?params=%7B%22ds53.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B9%81%E0%B8%88%E0%B9%89%E0%B8%87%E0%B8%A7%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B0%22%7D'
        }
        if (tabBranch === '0115') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/2d0e116d-dfe7-4e72-bae2-8e564cece052/page/xTofB?params=%7B%22ds53.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%AD%E0%B8%81%E0%B8%99%E0%B9%89%E0%B8%AD%E0%B8%A2%22%7D'
        }
        if (tabBranch === '0113') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/2d0e116d-dfe7-4e72-bae2-8e564cece052/page/xTofB?params=%7B%22ds53.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%AB%E0%B8%99%E0%B8%AD%E0%B8%87%E0%B9%81%E0%B8%82%E0%B8%A1%22%7D'
        }
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = true
        this.showDashboardA = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'F') {
        if (tabBranch === '0116') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/5bc31b73-dbc9-42f1-bad0-63d5beb51122/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9B%E0%B8%B2%E0%B8%81%E0%B9%80%E0%B8%81%E0%B8%A3%E0%B9%87%E0%B8%94%20-%20%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B8%97%E0%B8%AD%E0%B8%87%22%7D'
        }
        if (tabBranch === '0112') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/5bc31b73-dbc9-42f1-bad0-63d5beb51122/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B9%81%E0%B8%88%E0%B9%89%E0%B8%87%E0%B8%A7%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B0%22%7D'
        }
        if (tabBranch === '0115') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/5bc31b73-dbc9-42f1-bad0-63d5beb51122/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%AD%E0%B8%81%E0%B8%99%E0%B9%89%E0%B8%AD%E0%B8%A2%22%7D'
        }
        if (tabBranch === '0113') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/5bc31b73-dbc9-42f1-bad0-63d5beb51122/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%AB%E0%B8%99%E0%B8%AD%E0%B8%87%E0%B9%81%E0%B8%82%E0%B8%A1%22%7D'
        }
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardF = true
        this.showDashboardA = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'G') {
        if (tabBranch === '0116') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/735ee136-6644-4714-8aa0-c694d209a07f/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9B%E0%B8%B2%E0%B8%81%E0%B9%80%E0%B8%81%E0%B8%A3%E0%B9%87%E0%B8%94%20-%20%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B8%97%E0%B8%AD%E0%B8%87%22%7D'
        }
        if (tabBranch === '0112') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/735ee136-6644-4714-8aa0-c694d209a07f/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B9%81%E0%B8%88%E0%B9%89%E0%B8%87%E0%B8%A7%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B0%22%7D'
        }
        if (tabBranch === '0115') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/735ee136-6644-4714-8aa0-c694d209a07f/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%AD%E0%B8%81%E0%B8%99%E0%B9%89%E0%B8%AD%E0%B8%A2%22%7D'
        }
        if (tabBranch === '0113') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/735ee136-6644-4714-8aa0-c694d209a07f/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%AB%E0%B8%99%E0%B8%AD%E0%B8%87%E0%B9%81%E0%B8%82%E0%B8%A1%22%7D'
        }
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = true
        this.showDashboardA = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'H') {
        if (tabBranch === '0116') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/ba9f7933-cf94-40bd-99a0-5a97f157b51a/page/ZIDlB?params=%7B%22ds10.branchNo%22%3A%220116%22%2C%22ds11.branchNo%22%3A%220116%22%7D'
        }
        if (tabBranch === '0112') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/ba9f7933-cf94-40bd-99a0-5a97f157b51a/page/ZIDlB?params=%7B%22ds10.branchNo%22%3A%220112%22%2C%22ds11.branchNo%22%3A%220112%22%7D'
        }
        if (tabBranch === '0115') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/ba9f7933-cf94-40bd-99a0-5a97f157b51a/page/ZIDlB?params=%7B%22ds10.branchNo%22%3A%220115%22%2C%22ds11.branchNo%22%3A%220115%22%7D'
        }
        if (tabBranch === '0113') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/ba9f7933-cf94-40bd-99a0-5a97f157b51a/page/ZIDlB?params=%7B%22ds10.branchNo%22%3A%220113%22%2C%22ds11.branchNo%22%3A%220113%22%7D'
        }
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardA = false
        this.showDashboardH = true
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'I') {
        if (tabBranch === '0116') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/f996eb17-56b5-41cb-ad00-5e42fed23e82/page/ZIDlB?params=%7B%22ds5.branchNo%22%3A%220116%22%7D'
        }
        if (tabBranch === '0112') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/f996eb17-56b5-41cb-ad00-5e42fed23e82/page/ZIDlB?params=%7B%22ds5.branchNo%22%3A%220112%22%7D'
        }
        if (tabBranch === '0115') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/f996eb17-56b5-41cb-ad00-5e42fed23e82/page/ZIDlB?params=%7B%22ds5.branchNo%22%3A%220115%22%7D'
        }
        if (tabBranch === '0113') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/f996eb17-56b5-41cb-ad00-5e42fed23e82/page/ZIDlB?params=%7B%22ds5.branchNo%22%3A%220113%22%7D'
        }
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardA = false
        this.showDashboardH = false
        this.showDashboardI = true
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'J') {
        if (tabBranch === '0116') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/b8772554-7a6d-4d61-a859-8aad7227c9cc/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9B%E0%B8%B2%E0%B8%81%E0%B9%80%E0%B8%81%E0%B8%A3%E0%B9%87%E0%B8%94%20-%20%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B8%97%E0%B8%AD%E0%B8%87%22%7D'
        }
        if (tabBranch === '0112') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/b8772554-7a6d-4d61-a859-8aad7227c9cc/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B9%81%E0%B8%88%E0%B9%89%E0%B8%87%E0%B8%A7%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B0%22%7D'
        }
        if (tabBranch === '0115') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/b8772554-7a6d-4d61-a859-8aad7227c9cc/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%AD%E0%B8%81%E0%B8%99%E0%B9%89%E0%B8%AD%E0%B8%A2%22%7D'
        }
        if (tabBranch === '0113') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/b8772554-7a6d-4d61-a859-8aad7227c9cc/page/xTofB?params=%7B%22ds15.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%AB%E0%B8%99%E0%B8%AD%E0%B8%87%E0%B9%81%E0%B8%82%E0%B8%A1%22%7D'
        }
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardA = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = true
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'K') {
        if (tabBranch === '0116') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/ea34998e-9fcd-42c3-8737-c2b0d49a684c/page/HoxqB?params=%7B%22ds0.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9B%E0%B8%B2%E0%B8%81%E0%B9%80%E0%B8%81%E0%B8%A3%E0%B9%87%E0%B8%94%20-%20%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B8%97%E0%B8%AD%E0%B8%87%22%2C%22ds10.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9B%E0%B8%B2%E0%B8%81%E0%B9%80%E0%B8%81%E0%B8%A3%E0%B9%87%E0%B8%94%20-%20%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B8%97%E0%B8%AD%E0%B8%87%22%7D'
        }
        if (tabBranch === '0112') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/ea34998e-9fcd-42c3-8737-c2b0d49a684c/page/HoxqB?params=%7B%22ds0.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B9%81%E0%B8%88%E0%B9%89%E0%B8%87%E0%B8%A7%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B0%22%2C%22ds10.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B9%81%E0%B8%88%E0%B9%89%E0%B8%87%E0%B8%A7%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B0%22%7D'
        }
        if (tabBranch === '0115') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/ea34998e-9fcd-42c3-8737-c2b0d49a684c/page/HoxqB?params=%7B%22ds0.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%AD%E0%B8%81%E0%B8%99%E0%B9%89%E0%B8%AD%E0%B8%A2%22%2C%22ds10.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%AD%E0%B8%81%E0%B8%99%E0%B9%89%E0%B8%AD%E0%B8%A2%22%7D'
        }
        if (tabBranch === '0113') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/ea34998e-9fcd-42c3-8737-c2b0d49a684c/page/HoxqB?params=%7B%22ds0.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%AB%E0%B8%99%E0%B8%AD%E0%B8%87%E0%B9%81%E0%B8%82%E0%B8%A1%22%2C%22ds10.branchNm%22%3A%22%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%AB%E0%B8%99%E0%B8%AD%E0%B8%87%E0%B9%81%E0%B8%82%E0%B8%A1%22%7D'
        }
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardA = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = true
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'L') {
        if (tabBranch === '0116') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/6cc00465-4595-48f4-9594-c5c0b36188dc/page/xTofB?params=%7B%22ds5.branchNo%22%3A%220116%22%7D'
        }
        if (tabBranch === '0112') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/6cc00465-4595-48f4-9594-c5c0b36188dc/page/xTofB?params=%7B%22ds5.branchNo%22%3A%220112%22%7D'
        }
        if (tabBranch === '0115') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/6cc00465-4595-48f4-9594-c5c0b36188dc/page/xTofB?params=%7B%22ds5.branchNo%22%3A%220115%22%7D'
        }
        if (tabBranch === '0113') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/6cc00465-4595-48f4-9594-c5c0b36188dc/page/xTofB?params=%7B%22ds5.branchNo%22%3A%220113%22%7D'
        }
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardA = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = true
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'M') {
        if (tabBranch === '0116') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/d58c69d4-a90d-43b6-ad9f-2f5b583e69a5/page/PEX1B?params=%7B%22ds5.branchNo%22%3A%220116%22%7D'
        }
        if (tabBranch === '0112') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/d58c69d4-a90d-43b6-ad9f-2f5b583e69a5/page/PEX1B?params=%7B%22ds5.branchNo%22%3A%220112%22%7D'
        }
        if (tabBranch === '0115') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/d58c69d4-a90d-43b6-ad9f-2f5b583e69a5/page/PEX1B?params=%7B%22ds5.branchNo%22%3A%220115%22%7D'
        }
        if (tabBranch === '0113') {
          this.urlBranchNm =
            'https://datastudio.google.com/embed/reporting/d58c69d4-a90d-43b6-ad9f-2f5b583e69a5/page/PEX1B?params=%7B%22ds5.branchNo%22%3A%220113%22%7D'
        }
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardA = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = true
        this.showDashboardN = false
      }
      if (dt === 'N') {
        this.urlBranchNm = '/vsales/dashboard/VsalesFacebookPage'
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardA = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = true
      }
    }
  }
}
</script>
<style scoped>
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.h_iframe iframe {
  width: 100%;
  height: 3000px;
}
.h_iframe {
  height: 100%;
  width: 100%;
}
.red {
  color: red;
}
.yellow {
  color: #b1a501;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.blue0483de {
  color: #0483de;
}
</style>
