<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <!-- <v-card-text>
                <div v-if="session.data.userTypeGroup == 'Board' || session.data.userTypeGroup == 'Admin' || this.session.data.userName === 'Natenapa.Nat'">
                  <v-select
                            label="Branch"
                            :items="optionBranch"
                            v-model="Branch"
                            outlined
                            @change="tabActive(tabActives)"
                            dense
                          ></v-select>
                </div>
              </v-card-text> -->
              <v-card-text>
                <!-- <v-tabs
                    v-model="tab"
                    background-color="red"
                    centered
                    dark
                    icons-and-text
                  > -->
                <v-tabs centered>
                  <v-tab active @click="tabActive('E')">
                    <v-icon> mdi-book-open-page-variant-outline </v-icon>
                    ภาพรวม
                  </v-tab>
                  <v-tab @click="tabActive('A')">
                    <v-icon> mdi-account-heart </v-icon>
                    Follow Status
                  </v-tab>
                  <v-tab @click="tabActive('J')">
                    <v-icon> mdi-google-street-view </v-icon>
                    Visitor
                  </v-tab>
                  <v-tab @click="tabActive('B')">
                    <v-icon> mdi-book-account </v-icon>
                    Booking
                  </v-tab>
                  <v-tab @click="tabActive('F')">
                    <v-icon> mdi-book-remove </v-icon>
                    Cancel Booking
                  </v-tab>
                  <v-tab @click="tabActive('C')">
                    <v-icon> mdi-cash-check </v-icon>
                    Invoice
                  </v-tab>
                  <v-tab @click="tabActive('G')">
                    <v-icon> mdi-cash-remove </v-icon>
                    Cancel Invoice
                  </v-tab>
                  <v-tab @click="tabActive('K')">
                    <v-icon> mdi-account-cash </v-icon>
                    ค่าเฉลี่ย FOC โดยประมาณ
                  </v-tab>
                  <v-tab @click="tabActive('D')">
                    <v-icon> mdi-cash-lock </v-icon>
                    Back order
                  </v-tab>
                  <v-tab @click="tabActive('H')">
                    <v-icon> mdi-account-check </v-icon>
                    Follow Invoice
                  </v-tab>
                  <v-tab @click="tabActive('I')">
                    <v-icon> mdi-target-variant </v-icon>
                    Target Plan
                  </v-tab>
                  <v-tab @click="tabActive('L')">
                    <v-icon> mdi-page-next-outline </v-icon>
                    วิเคราะห์ Page
                  </v-tab>
                  <v-tab @click="tabActive('M')">
                    <v-icon> mdi-account-convert </v-icon>
                    วิเคราะห์ Sales
                  </v-tab>
                  <v-tab @click="tabActive('N')">
                    <v-icon> mdi-facebook </v-icon>
                    Fackbook Page
                  </v-tab>
                  <v-tab-item>
                    <v-card flat>
                      <hr />
                      <v-card-text> </v-card-text>
                    </v-card>
                  </v-tab-item>
                </v-tabs>
                <template v-if="showDashboardA">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardF">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardG">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardB">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardC">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardD">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardE">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardH">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardI">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardJ">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardK">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardL">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardM">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
                <template v-if="showDashboardN">
                  <div class="h_iframe">
                    <iframe
                      :src="urlBranchNm"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </template>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>

<script>
import adminLeftMenu from '../Sidebar.vue' // เมนู
export default {
  components: {
    // DatePicker,
    'left-menu-admin': adminLeftMenu
  },
  computed: {},
  data () {
    return {
      session: this.$session.getAll(),
      breadcrumbs: [
        {
          text: 'Dashboard Manager',
          disabled: true,
          href: '/dashboard/Vgroup'
        }
      ],
      showDashboardA: false,
      showDashboardB: false,
      showDashboardC: false,
      showDashboardE: true,
      showDashboardD: false,
      showDashboardF: false,
      showDashboardG: false,
      showDashboardH: false,
      showDashboardI: false,
      showDashboardJ: false,
      showDashboardK: false,
      showDashboardL: false,
      showDashboardM: false,
      showDashboardN: false,
      urlBranchNm: '',
      Branch: '',
      tabActives: '',
      optionBranch: [
        { text: 'สาขาแจ้งวัฒนะ', value: '0112' },
        { text: 'สาขาบางกอกน้อย', value: '0115' },
        { text: 'สาขาปากเกร็ด-เมืองทอง', value: '0116' },
        { text: 'สาขาหนองแขม', value: '0113' }
      ]
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/vsales/Login')
    } else {
      this.tabActive('E')
    }
  },
  methods: {
    tabActive (dt) {
      this.tabActives = dt
      if (dt === 'A') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/f53f116e-666d-42f0-9676-95f6a040d337/page/xTofB'
        this.showDashboardA = true
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'B') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/5f462cdf-6747-4a0f-9543-b3abcf901d4d/page/xTofB'
        this.showDashboardB = true
        this.showDashboardA = false
        this.showDashboardC = false
        this.showDashboardD = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'C') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/051fe5eb-0921-4ffd-ac77-52a2a78e0639/page/xTofB'
        this.showDashboardC = true
        this.showDashboardB = false
        this.showDashboardA = false
        this.showDashboardE = false
        this.showDashboardD = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'D') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/83ece71a-4905-4d5f-a23d-87ed48e3d16e/page/xTofB'
        this.showDashboardD = true
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardA = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'E') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/0b58cf6d-2374-4771-928d-002a35174b9c/page/xTofB'
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = true
        this.showDashboardA = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'F') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/ae011262-37e8-4dd4-9a50-b7acbca7101d/page/xTofB'
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardF = true
        this.showDashboardA = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'G') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/004ddb5f-807a-4f5b-a5cd-765fd7baf942/page/xTofB'
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = true
        this.showDashboardA = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'H') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/9d4e2ce9-c493-4b85-ac71-fc17c6cbec61/page/ZIDlB'
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardA = false
        this.showDashboardH = true
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'I') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/7b97f708-254e-47ae-a229-e2d36d914dd7/page/ZIDlB'
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardA = false
        this.showDashboardH = false
        this.showDashboardI = true
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'J') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/6a7d51e9-9bf2-44eb-a4f3-922714f0aa84/page/xTofB'
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardA = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = true
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'K') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/7d4aa261-285a-4a3f-ad7c-d23c61bd6b51/page/HoxqB'
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardA = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = true
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'L') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/0e6ec104-f330-49ed-a312-83174899edf7/page/xTofB'
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardA = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = true
        this.showDashboardM = false
        this.showDashboardN = false
      }
      if (dt === 'M') {
        this.urlBranchNm = 'https://datastudio.google.com/embed/reporting/e6bc39b4-d588-425a-8218-fdf3b9637e04/page/PEX1B'
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardA = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = true
        this.showDashboardN = false
      }
      if (dt === 'N') {
        this.urlBranchNm = '/vsales/dashboard/VsalesFacebookPage'
        this.showDashboardD = false
        this.showDashboardB = false
        this.showDashboardC = false
        this.showDashboardE = false
        this.showDashboardA = false
        this.showDashboardF = false
        this.showDashboardG = false
        this.showDashboardH = false
        this.showDashboardI = false
        this.showDashboardJ = false
        this.showDashboardK = false
        this.showDashboardL = false
        this.showDashboardM = false
        this.showDashboardN = true
      }
    }
  }
}
</script>
<style scoped>
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.h_iframe iframe {
  width: 100%;
  height: 3000px;
}
.h_iframe {
  height: 100%;
  width: 100%;
}
.red {
  color: red;
}
.yellow {
  color: #b1a501;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.blue0483de {
  color: #0483de;
}
</style>
