<template>
  <div>
    <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin>
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-title>Import Booking OBS</v-card-title>
              <v-card-text>
                <div class="text-center">
                  <v-row class="mb-6" justify="center" no-gutters>
                    <v-col cols="6">
                      <v-icon color="blue darken-2" size="70"
                        >mdi-microsoft-excel</v-icon
                      ><br />
                      <br />
                      <vue-xlsx-table
                        v-if="importOBS.length == 0"
                        @on-select-file="importOBSFile"
                        >Import Excel OBS</vue-xlsx-table
                      >
                    </v-col>
                    <v-col cols="6">
                      <v-icon color="green darken-2" size="70"
                        >mdi-microsoft-excel</v-icon
                      ><br />
                      <br />
                      <vue-xlsx-table
                        v-if="import010.length == 0"
                        @on-select-file="import010ile"
                        >Import Excel 010</vue-xlsx-table
                      >
                    </v-col>
                  </v-row>
                </div>
                <div class="text-center">
                  <v-row class="mb-6" justify="center" no-gutters>
                    <v-col cols="6">
                      <v-chip
                        class="ma-2"
                        color="warning"
                        label
                        text-color="white"
                        v-if="importOBS.length == 0"
                      >
                        <v-icon left> mdi-alert-outline </v-icon>
                        Import File Warning
                      </v-chip>
                      <v-chip
                        class="ma-2"
                        color="success"
                        label
                        text-color="white"
                        v-if="importOBS.length > 0"
                      >
                        <v-icon left> mdi-checkbox-multiple-marked </v-icon>
                        Import File OBS Success
                      </v-chip>
                    </v-col>
                    <v-col cols="6">
                      <v-chip
                        class="ma-2"
                        color="warning"
                        label
                        text-color="white"
                        v-if="import010.length == 0"
                      >
                        <v-icon left> mdi-alert-outline </v-icon>
                        Import File Warning
                      </v-chip>
                      <v-chip
                        class="ma-2"
                        color="success"
                        label
                        text-color="white"
                        v-if="import010.length > 0"
                      >
                        <v-icon left> mdi-checkbox-multiple-marked </v-icon>
                        Import File 010 Success
                      </v-chip>
                    </v-col>
                  </v-row>
                </div>
                <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                      color="info"
                      depressed
                      v-if="import010.length > 0 && importOBS.length > 0"
                      @click.prevent="countData()"
                    >
                      <v-icon left> mdi-file-tree-outline </v-icon>
                      Map Data
                    </v-btn>
                    <v-btn
                      color="error"
                      depressed
                      @click.prevent="onClearCountData()"
                    >
                      <v-icon left> settings_backup_restore </v-icon>
                      Clear
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12">
            <v-card elevation="7" v-if="dataReady">
              <v-card-text>
                <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                      v-if="dataSubmit"
                      color="teal"
                      depressed
                      dark
                      @click.prevent="onSubmit()"
                    >
                      <v-icon left> mdi-content-save-edit-outline </v-icon>
                      บันทึกข้อมูล
                    </v-btn>
                  </v-col>
                </v-row>
                <v-data-table
                  :headers="columns"
                  :items="dataSave"
                  :items-per-page="100"
                >
                </v-data-table>
                <v-row class="text-right">
                  <v-col cols="12">
                    <v-btn
                    v-if="dataSubmit"
                      color="teal"
                      depressed
                      dark
                      @click.prevent="onSubmit()"
                    >
                      <v-icon left> mdi-content-save-edit-outline </v-icon>
                      บันทึกข้อมูล
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12">
          <div v-if="!dataReady" class="text-center">
                  <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="red"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="70"
                    :width="7"
                    color="purple"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :width="3"
                    color="green"
                    indeterminate
                  ></v-progress-circular>
                  <v-progress-circular
                    :size="50"
                    color="amber"
                    indeterminate
                  ></v-progress-circular>
                  <br>
                  <br>
                  <v-progress-linear
                    v-model="knowledge"
                    height="25"
                  >
                    <strong>{{ Math.ceil(knowledge) }}%</strong>
                  </v-progress-linear>
                </div>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<script>
import axios from 'axios' // api
import adminLeftMenu from '../Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
// import XLSX from 'xlsx' // import xlsx
export default {
  // layout: 'Zoom',
  components: {
    'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      knowledge: 0,
      dialogAdd: false,
      panel: [0],
      panel1: [0],
      session: this.$session.getAll(),
      searchAll: '',
      columns: [
        { text: 'รหัสศูนย์บริการ', value: 'branchNo' },
        { text: 'วันนัดหมายเข้าซ่อม', value: 'dateAppointment' },
        // { text: 'วันนัดหมายเข้าซ่อม', value: 'test' },
        { text: 'วันที่คาดว่าจะซ่อมเสร็จ', value: 'dateExpected' },
        { text: 'เลขที่นัดหมาย(OBS)', value: 'noAppointment' },
        { text: 'หมายเลขตัวถัง', value: 'frameNo' },
        { text: 'Job No.', value: 'noRepair' },
        { text: 'รหัสประเภทการเข้าซ่อม', value: 'noTypeRepair' },
        { text: 'ประเภทการเข้าซ่อม', value: 'detailTypeRepair' },
        { text: 'GR', value: 'dataGR' },
        { text: 'PM', value: 'dataPM' },
        { text: 'BP', value: 'dataBP' },
        { text: 'สร้างโดย', value: 'CreatedBy' },
        { text: 'สถานะ(OBS)', value: 'StatusOBS' }
      ],
      dataReady: true,
      dataSubmit: false,
      datareport: [],
      dataSave: [],
      dataSavePM: [],
      importOBS: [],
      import010: []
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    if (!this.$session.exists()) {
      this.$router.push('/vservice/Login')
    }
  },
  methods: {
    importOBSFile (convertedData) {
      console.log(convertedData.header)
      this.importOBS = convertedData.body
      var obj = {}

      for (var i = 0, len = this.importOBS.length; i < len; i++) { obj[this.importOBS[i]['เลขที่นัดหมาย']] = this.importOBS[i] }

      // eslint-disable-next-line no-array-constructor
      this.importOBS = new Array()
      for (var key in obj) { this.importOBS.push(obj[key]) }
      console.log(this.importOBS)
      // this.dataReady = false
      // this.chkAndUpdate(convertedData.body)
    },
    import010ile (convertedData) {
      // console.log(convertedData.body)
      this.import010 = convertedData.body
      console.log(this.import010)
      // this.dataReady = false
      // this.chkAndUpdate(convertedData.body)
    },
    // async countDataPM () {
    //   this.knowledge = 0
    //   this.dataReady = false
    //   this.dataSubmit = false
    //   this.dataSavePM = []
    //   var importOBSDB = this.importOBS.filter(function (el) {
    //     return (
    //       el.ประเภทงานซ่อม === 'PM'
    //     )
    //   })
    //   console.log(importOBSDB)
    //   for (var i = 0; i < importOBSDB.length; i++) {
    //     var d = importOBSDB[i]
    //     var s = {}
    //     if (d.วันนัดหมายเข้าซ่อม !== '') {
    //       const date = d.วันนัดหมายเข้าซ่อม.split('/')
    //       const time = String(date[2]).substring(5, 13)
    //       const year = String(date[2]).substring(0, 4)
    //       const month = String(date[1])
    //       const day = String(date[0])
    //       s.dateAppointment = year + '-' + month + '-' + day + ' ' + time
    //       const dateLocal1 = new Date(parseInt(year), parseInt(month) - 1, parseInt(day))
    //       s.dayDateAppointment = dateLocal1.getDay()
    //       s.timestampDateAppointment = dateLocal1.getTime()
    //       // console.log(dateLocal1.getDay(), dateLocal1, d.เลขที่นัดหมาย, s.dateAppointment)
    //     } else {
    //       s.dateAppointment = ''
    //       s.dayDateAppointment = ''
    //       s.timestampDateAppointment = 0
    //     }
    //     if (d.วันที่คาดว่าจะซ่อมเสร็จ !== '') {
    //       const date1 = d.วันที่คาดว่าจะซ่อมเสร็จ.split('/')
    //       const time1 = String(date1[2]).substring(5, 13)
    //       const year1 = String(date1[2]).substring(0, 4)
    //       const month1 = String(date1[1])
    //       const day1 = String(date1[0])
    //       s.dateExpected = year1 + '-' + month1 + '-' + day1 + ' ' + time1
    //       const dateLocal2 = new Date(parseInt(year1), parseInt(month1) - 1, parseInt(day1))
    //       s.dayDateExpected = dateLocal2.getDay()
    //     } else {
    //       s.dateExpected = ''
    //       s.dayDateExpected = ''
    //     }

    //     s.noAppointment = d.เลขที่นัดหมาย
    //     s.branchNo = d.รหัสศูนย์บริการ
    //     s.frameNo = d.หมายเลขตัวถัง
    //     s.typeRepair = d.ประเภทงานซ่อม
    //     var chkMap = this.import010.filter(function (el) {
    //       return (
    //         el.รหัสผู้จำหน่าย === s.branchNo && el.หมายเลขตัวถัง === s.frameNo && el.PM > 0
    //       )
    //     })
    //     if (chkMap.length > 0) {
    //       console.log(chkMap.length, chkMap, s.typeRepair)
    //       s.noTypeRepair = chkMap[0].รหัสประเภทการเข้าซ่อม
    //       s.detailTypeRepair = chkMap[0].ประเภทการเข้าซ่อม
    //       s.noRepair = chkMap[0].เลขที่ใบสั่งซ่อม
    //       s.dataPM = chkMap[0].PM
    //       s.dataGR = chkMap[0].GR
    //       s.dataBP = chkMap[0].BP
    //       s.dataPD = chkMap[0].PD
    //       s.dataAC = chkMap[0].AC
    //       s.dataOT = chkMap[0].OT
    //     } else {
    //       s.noTypeRepair = ''
    //       s.detailTypeRepair = ''
    //       s.noRepair = ''
    //       s.dataPM = 0
    //       s.dataGR = 0
    //       s.dataBP = 0
    //       s.dataPD = 0
    //       s.dataAC = 0
    //       s.dataOT = 0
    //     }
    //     this.dataSavePM.push(s)
    //     this.knowledge = (i / this.dataSave.length) * 100
    //   }
    //   this.dataReady = true
    //   console.log(this.dataSavePM)
    //   this.dataSubmit = true
    // },
    async countData () {
      this.knowledge = 0
      this.dataReady = false
      this.dataSubmit = false
      this.dataSave = []

      for (var i = 0; i < this.importOBS.length; i++) {
        var d = this.importOBS[i]
        var s = {}
        if (d.วันนัดหมายเข้าซ่อม !== '') {
          const date = d.วันนัดหมายเข้าซ่อม.split('/')
          const time = String(date[2]).substring(5, 13)
          const year = String(date[2]).substring(0, 4)
          const month = String(date[1])
          const day = String(date[0])
          s.dateAppointment = year + '-' + month + '-' + day + ' ' + time
          const dateLocal1 = new Date(parseInt(year), parseInt(month) - 1, parseInt(day))
          s.dayDateAppointment = dateLocal1.getDay()
          s.timestampDateAppointment = dateLocal1.getTime()
          // console.log(dateLocal1.getDay(), dateLocal1, d.เลขที่นัดหมาย, s.dateAppointment)
        } else {
          s.dateAppointment = ''
          s.dayDateAppointment = ''
          s.timestampDateAppointment = 0
        }
        if (d.วันที่คาดว่าจะซ่อมเสร็จ !== '') {
          const date1 = d.วันที่คาดว่าจะซ่อมเสร็จ.split('/')
          const time1 = String(date1[2]).substring(5, 13)
          const year1 = String(date1[2]).substring(0, 4)
          const month1 = String(date1[1])
          const day1 = String(date1[0])
          s.dateExpected = year1 + '-' + month1 + '-' + day1 + ' ' + time1
          const dateLocal2 = new Date(parseInt(year1), parseInt(month1) - 1, parseInt(day1))
          s.dayDateExpected = dateLocal2.getDay()
        } else {
          s.dateExpected = ''
          s.dayDateExpected = ''
        }
        s.modelCar = d.รุ่นรถ
        s.yearCar = d.รุ่นปี
        s.regCar = d.ทะเบียนรถ
        s.cusName = d.ชื่อลูกค้า
        s.tel = d.เบอร์โทรติดต่อ
        s.detailsRepair = d.รายละเอียดงานซ่อม
        s.noAppointment = d.เลขที่นัดหมาย
        s.branchNo = d.รหัสศูนย์บริการ
        s.frameNo = d.หมายเลขตัวถัง
        s.typeRepair = d.ประเภทงานซ่อม
        s.CreatedBy = d.สร้างโดย
        s.StatusOBS = d.สถานะ

        var chkMap = this.import010.filter(function (el) {
          return (
            el.รหัสผู้จำหน่าย === s.branchNo && el.หมายเลขตัวถัง === s.frameNo
          )
        })
        if (chkMap.length > 0) {
          console.log(chkMap.length, chkMap, s.typeRepair)
          s.noTypeRepair = chkMap[0].รหัสประเภทการเข้าซ่อม
          s.detailTypeRepair = chkMap[0].ประเภทการเข้าซ่อม
          s.noRepair = chkMap[0].เลขที่ใบสั่งซ่อม
          s.dataPM = chkMap[0].PM
          s.dataGR = chkMap[0].GR
          s.dataBP = chkMap[0].BP
          s.dataPD = chkMap[0].PD
          s.dataAC = chkMap[0].AC
          s.dataOT = chkMap[0].OT
        } else {
          s.noTypeRepair = ''
          s.detailTypeRepair = ''
          s.noRepair = ''
          s.dataPM = 0
          s.dataGR = 0
          s.dataBP = 0
          s.dataPD = 0
          s.dataAC = 0
          s.dataOT = 0
        }
        this.dataSave.push(s)
        this.knowledge = (i / this.dataSave.length) * 100
      }
      this.dataReady = true
      console.log(this.dataSave)
      this.dataSubmit = true
      // await this.countDataPM()
    },
    async onSubmit () {
      this.dataReady = false
      this.knowledge = 0
      for (var i = 0; i < this.dataSave.length; i++) {
        const today = new Date()
        const date =
              today.getFullYear() +
              '' +
              (today.getMonth() + 1) +
              '' +
              today.getDate()
        const time =
              today.getHours() + '' + today.getMinutes() + '' + today.getSeconds() + '' + today.getUTCMilliseconds()
        const dateTime = date + '' + time
        var d = this.dataSave[i]
        d.dateTimess = dateTime
        const url = `${this.$apiUrl}Vservice/Booking/Process/getData?noAppointment=` + d.noAppointment
        // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
        // const url = `http://localhost/vgroupl_api/v1/Vservice/Booking/Process/getData?noAppointment=` + d.noAppointment

        const config = {
          headers: {
            'Application-Key':
            this.$apiToken
          }
          // },
          // params: {
          //   faxStatus: d.typeRepair
          // }
        }
        await axios
          .get(url, config)
          .then(async response => {
            console.log(response.data[0].countJob)
            if (response.data === 'ไม่มีข้อมูล') {
              await this.insertData(d)
              console.log('insert')
            } else {
              d.no = response.data[0].no
              console.log('update')
              await this.updateData(d)
            }
          })
        this.knowledge = (i / this.dataSave.length) * 100
      }
      this.dataSave = []
      this.dataReady = true
      this.dataSubmit = false
      // const url9 = `${this.$apiUrl}Vservice/Booking/Process/updateDataDay`
      // const config9 = {
      //   headers: {
      //     'Content-Type': 'application/json',
      //     'Application-Key': this.$apiToken
      //   }
      // }
      // const dt9 = {
      //   'no': d.no
      // }
      // await axios
      //   .post(url9, dt9, config9)
      //   .then((response) => {})
      // this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
      // await this.countDataPM()
    },
    async onSubmitPM () {
      this.dataReady = false
      this.knowledge = 0
      for (var i = 0; i < this.dataSave.length; i++) {
        const today = new Date()
        const date =
              today.getFullYear() +
              '' +
              (today.getMonth() + 1) +
              '' +
              today.getDate()
        const time =
              today.getHours() + '' + today.getMinutes() + '' + today.getSeconds() + '' + today.getUTCMilliseconds()
        const dateTime = date + '' + time
        var d = this.dataSave[i]
        d.dateTimess = dateTime
        const url = `${this.$apiUrl}Vservice/Booking/Process/getDataPM?noAppointment=` + d.noAppointment
        // const url = `http://localhost/vgroupl_api/v1/Vservice/Booking/Process/getDataPM?noAppointment=` + d.noAppointment
        // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
        const config = {
          headers: {
            'Application-Key':
            this.$apiToken
          },
          params: {
            faxStatus: d.typeRepair
          }
        }
        await axios
          .get(url, config)
          .then(async response => {
            console.log(response.data[0].countJob)
            if (response.data === 'ไม่มีข้อมูล') {
              await this.insertDataPM(d)
              console.log('insert')
            } else {
              d.no = response.data[0].no
              console.log('update')
              await this.updateDataPM(d)
            }
          })
        this.knowledge = (i / this.dataSave.length) * 100
      }
      this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
      this.dataSave = []
      this.dataReady = true
      this.dataSubmit = false
      // const url9 = `${this.$apiUrl}Vservice/Booking/Process/updateDataDay`
      // const config9 = {
      //   headers: {
      //     'Content-Type': 'application/json',
      //     'Application-Key': this.$apiToken
      //   }
      // }
      // const dt9 = {
      //   'no': d.no
      // }
      // axios
      //   .post(url9, dt9, config9)
      //   .then((response) => {})
      this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
    },
    insertDataPM (d) {
      const url = `${this.$apiUrl}Vservice/Booking/Process/addDataPM`
      // const url = `http://localhost/vgroupl_api/v1/Vservice/Booking/Process/addDataPM`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      const dt = {
        'no': d.dateTimess,
        'noAppointment': d.noAppointment,
        'branchNo': d.branchNo,
        'dateAppointment': d.dateAppointment,
        'dayDateAppointment': d.dayDateAppointment,
        'dateExpected': d.dateExpected,
        'dayDateExpected': d.dayDateExpected,
        'frameNo': d.frameNo,
        'noRepair': d.noRepair,
        'noTypeRepair': d.noTypeRepair,
        'detailTypeRepair': d.detailTypeRepair,
        'faxStatus': d.typeRepair,
        'GR': d.dataGR,
        'PM': d.dataPM,
        'BP': d.dataBP,
        'PD': d.dataPD,
        'AC': d.dataAC,
        'OT': d.dataOT,
        'CreatedBy': d.CreatedBy,
        'StatusOBS': d.StatusOBS,
        'RECORD_STATUS': 'N'
      }
      axios
        .post(url, dt, config)
        .then((response) => {})
    },
    updateDataPM (d) {
      const url = `${this.$apiUrl}Vservice/Booking/Process/updateDataPM`
      // const url = `http://localhost/vgroupl_api/v1/Vservice/Booking/Process/updateDataPM`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      const dt = {
        'no': d.no,
        'noAppointment': d.noAppointment,
        'branchNo': d.branchNo,
        'dateAppointment': d.dateAppointment,
        'dayDateAppointment': d.dayDateAppointment,
        'dateExpected': d.dateExpected,
        'dayDateExpected': d.dayDateExpected,
        'frameNo': d.frameNo,
        'noRepair': d.noRepair,
        'noTypeRepair': d.noTypeRepair,
        'detailTypeRepair': d.detailTypeRepair,
        'faxStatus': d.typeRepair,
        'GR': d.dataGR || 0,
        'PM': d.dataPM || 0,
        'BP': d.dataBP || 0,
        'PD': d.dataPD || 0,
        'AC': d.dataAC || 0,
        'OT': d.dataOT || 0,
        'CreatedBy': d.CreatedBy,
        'StatusOBS': d.StatusOBS
      }
      axios
        .post(url, dt, config)
        .then((response) => {})
    },
    insertData (d) {
      const url = `${this.$apiUrl}Vservice/Booking/Process/addData`
      // const url = `http://localhost/vgroupl_api/v1/Vservice/Booking/Process/addData`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      const dt = {
        'no': d.dateTimess,
        'noAppointment': d.noAppointment,
        'branchNo': d.branchNo,
        'dateAppointment': d.dateAppointment,
        'dayDateAppointment': d.dayDateAppointment,
        'dateExpected': d.dateExpected,
        'dayDateExpected': d.dayDateExpected,
        'frameNo': d.frameNo,
        'noRepair': d.noRepair,
        'noTypeRepair': d.noTypeRepair,
        'detailTypeRepair': d.detailTypeRepair,
        'faxStatus': d.typeRepair,
        'modelCar': d.modelCar,
        'yearCar': d.yearCar,
        'regCar': d.regCar,
        'cusName': d.cusName,
        'tel': d.tel,
        'detailsRepair': d.detailsRepair,
        'GR': d.dataGR,
        'PM': d.dataPM,
        'BP': d.dataBP,
        'PD': d.dataPD,
        'AC': d.dataAC,
        'OT': d.dataOT,
        'CreatedBy': d.CreatedBy,
        'StatusOBS': d.StatusOBS,
        'RECORD_STATUS': 'N'
      }
      axios
        .post(url, dt, config)
        .then((response) => {})
    },
    updateData (d) {
      const url = `${this.$apiUrl}Vservice/Booking/Process/updateData`
      // const url = `http://localhost/vgroupl_api/v1/Vservice/Booking/Process/updateData`
      const config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        }
      }
      const dt = {
        'no': d.no,
        'noAppointment': d.noAppointment,
        'branchNo': d.branchNo,
        'dateAppointment': d.dateAppointment,
        'dayDateAppointment': d.dayDateAppointment,
        'dateExpected': d.dateExpected,
        'dayDateExpected': d.dayDateExpected,
        'frameNo': d.frameNo,
        'noRepair': d.noRepair,
        'noTypeRepair': d.noTypeRepair,
        'detailTypeRepair': d.detailTypeRepair,
        'faxStatus': d.typeRepair,
        'modelCar': d.modelCar,
        'yearCar': d.yearCar,
        'regCar': d.regCar,
        'cusName': d.cusName,
        'tel': d.tel,
        'detailsRepair': d.detailsRepair,
        'GR': d.dataGR || 0,
        'PM': d.dataPM || 0,
        'BP': d.dataBP || 0,
        'PD': d.dataPD || 0,
        'AC': d.dataAC || 0,
        'OT': d.dataOT || 0,
        'CreatedBy': d.CreatedBy,
        'StatusOBS': d.StatusOBS
      }
      axios
        .post(url, dt, config)
        .then((response) => {})
    },
    onClearCountData () {
      this.importOBS = []
      this.import010 = []
      this.dataSave = []
      this.dataSubmit = false
      this.dataReady = true
    }
  }
}
</script>
<style scope>
</style>
