<template>
  <div>
    <!-- <left-menu-admin menuActive="0" :sessionData="session"></left-menu-admin> -->
    <v-content>
      <div class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <v-row>
          <v-col cols="12">
            <v-card elevation="7">
              <v-card-text>
                <v-row>
                  <v-col cols="3">
                    <b>Report SystemPro</b>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3">
                <v-btn
                    color="teal"
                    depressed
                    dark
                    v-if="dataSearhcReadyTable"
                    @click.prevent="onExport()"
                    >
                    <v-icon left> mdi-file-excel </v-icon>
                    Export Excel
                </v-btn>
                  </v-col>
                </v-row>
                <v-expansion-panels focusable @change="validate" v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <v-icon>search</v-icon> ค้นหา</v-expansion-panel-header
                    >
                    <v-expansion-panel-content>
                      <!-- <form v-if="dataSearhcReady" ref="formDialog" v-model="valid" lazy-validation> -->
                      <v-form ref="formDialog" v-model="valid" lazy-validation v-if="dataSearhcReady">
                        <v-row>
                          <v-col cols="4">
                            <v-menu
                              v-model="menuSearch1"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.monthYear"
                                  prepend-icon="mdi-calendar"
                                  label="วันที่ชำระ"
                                  v-bind="attrs"
                                  :rules="[rules.required]"
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.monthYear"
                                @input="menuSearch1 = false"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col cols="4">
                            <v-menu
                              v-model="menuSearch2"
                              :close-on-content-click="false"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="formSearch.monthYear1"
                                  prepend-icon="mdi-calendar"
                                  label="วันที่ชำระ"
                                  v-bind="attrs"
                                  dense
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="formSearch.monthYear1"
                                @input="menuSearch2 = false"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col cols="4">
                            <v-select
                              v-model="formSearch.sysproTypeJob"
                              :items="optionSysproTypeJob"
                              label="ประเภทงาน"
                              outlined
                              :rules="[rules.required]"
                              persistent-hint
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="4" v-if="formSearch.sysproTypeJob == 'service'">
                            <v-select
                              v-model="formSearch.typeJob"
                              :items="optionTypeJob"
                              label="ประเภทงาน"
                              outlined
                              chips
                              persistent-hint
                              dense
                            ></v-select>
                          </v-col>
                        </v-row>
                        <v-row class="text-right">
                          <v-col cols="12">
                            <v-btn
                              color="warning"
                              depressed
                              :disabled="!valid"
                              @click.prevent="onSearch()"
                            >
                              <v-icon left> search </v-icon>
                              ค้นหา
                            </v-btn>
                            <v-btn
                              color="error"
                              depressed
                              @click.prevent="onClearSearch()"
                            >
                              <v-icon left> settings_backup_restore </v-icon>
                              Clear
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-form>
                      <div v-if="!dataSearhcReady" class="text-center">
                        <v-progress-circular
                          :size="50"
                          color="primary"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="red"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="70"
                          :width="7"
                          color="purple"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :width="3"
                          color="green"
                          indeterminate
                        ></v-progress-circular>
                        <v-progress-circular
                          :size="50"
                          color="amber"
                          indeterminate
                        ></v-progress-circular>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" v-if="dataSearhcReadyTable">
            <v-card elevation="7">
                <v-card-text>
                  <v-data-table
                    :headers="columnsUse"
                    :items="datareport"
                    :items-per-page="100"
                    dense
                  >
                  <!-- <template slot="items" slot-scope="props"> -->
                    <!-- <td>{{ props.item.name }}</td> -->
                    <!-- <td >{{ props.DocHead }}</td> -->
                    <!-- <td class="text-xs-left">{{ props.item.fat }}</td>
                    <td class="text-xs-left">{{ props.item.carbs }}</td>
                    <td class="text-xs-left">{{ props.item.protein }}</td>
                    <td class="text-xs-left">{{ props.item.iron }}</td> -->
                  <!-- </template> -->
                  </v-data-table>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-content>
  </div>
</template>
<style scoped>
td {
  width: 100%;
}
</style>
<script>
import axios from 'axios' // api
// import adminLeftMenu from './Sidebar.vue' // เมนู
// import moment from 'moment' // แปลง date
import XLSX from 'xlsx' // import xlsx
// import DatePicker from 'vue2-datepicker'
// import 'vue2-datepicker/index.css'
// import 'vue2-datepicker/locale/th'
export default {
  components: {
    // DatePicker,
    // 'left-menu-admin': adminLeftMenu
  },
  data () {
    return {
      expanded: [],
      panel: [0],
      menuSearch1: false,
      menuSearch2: false,
      menu1: false,
      rules: {
        numberRules: value =>
          (!isNaN(parseFloat(value)) && value >= 0 && value <= 9999999999) ||
          'กรุณากรอกตัวเลข 0 ถึง 9',
        counterTel: value => value.length <= 10 || 'Max 10 characters',
        IDcardRules: value =>
          (!isNaN(parseFloat(value)) && value >= 0 && value <= 9999999999999) ||
          'กรุณากรอกตัวเลข 0 ถึง 9',
        required: value => !!value || 'กรุณากรอก.',
        counterIDcard: value => value.length <= 13 || 'Max 13 characters',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      session: this.$session.getAll(),
      dataSearhcReady: true,
      chkSearch: true,
      readonly: true,
      optionStaffInsuranceName: [],
      optionSysproTypeJob: [
        { text: 'รถใหม่', value: 'sales' },
        { text: 'รถบริการ', value: 'service' },
        { text: 'รถประกัน', value: 'ins' }
      ],
      optionTypeJob: [
        { text: 'GR', value: 'GR' },
        { text: 'AM', value: 'AM' },
        { text: 'BP', value: 'BP' },
        { text: 'OTH', value: 'OTH' },
        { text: 'PM', value: 'PM' }
      ],
      visible: false,
      formSearch: {
        branchNo: '',
        monthYear: '',
        monthYear1: '',
        carName: '',
        frameNo: '',
        regNo: '',
        insNm: '',
        insNo: '',
        customerName: '',
        insStaffName: '',
        typeJob: '',
        sysproTypeJob: ''
      },
      columnsSales: [
        { text: 'คะแนน', value: 'coin' },
        { text: 'สาขา', value: 'DLR_CD' },
        { text: 'DocHead', value: 'DocHead' },
        { text: 'Frame_no', value: 'Frame_no' },
        { text: 'reg_no', value: 'reg_no' },
        { text: 'invoceNm', value: 'vo_num' },
        { text: 'invoiceDate', value: 'vo_date' },
        { text: 'TOTAL_AMT', value: 'TOTAL_AMT' },
        { text: 'เงินดาวน์', value: 'เงินดาวน์' },
        { text: 'VAT เงินดาวน์', value: 'VAT เงินดาวน์' },
        { text: 'ส่วนลดเงินดาวน์', value: 'ส่วนลดเงินดาวน์' },
        { text: 'งวดแรก', value: 'งวดแรก' },
        { text: 'หักเงินจองรถยนต์', value: 'หักเงินจองรถยนต์' },
        { text: 'ค่าจดทะเบียน', value: 'ค่าจดทะเบียน' },
        { text: 'เงินมัดจำป้ายแดง', value: 'เงินมัดจำป้ายแดง' },
        { text: 'ค่ารถยนต์ซื้อสด', value: 'ค่ารถยนต์ซื้อสด' },
        { text: 'ส่วนลดเงินสด', value: 'ส่วนลดเงินสด' },
        { text: 'ค่าเบี้ยประกันภัยรถยนต์และ พ.ร.บ.', value: 'ค่าเบี้ยประกันภัยรถยนต์และ พ.ร.บ.' },
        { text: 'ฟรีค่าเบี้ยประกันภัยรถยนต์และ พ.ร.บ.', value: 'ฟรีค่าเบี้ยประกันภัยรถยนต์และ พ.ร.บ.' }
      ],
      columnsIns: [
        { text: 'คะแนน', value: 'coin' },
        { text: 'สาขา', value: 'br_code' },
        { text: 'DocHead', value: 'DocHead' },
        { text: 'pt_desc', value: 'pt_desc' },
        { text: 'cust_name', value: 'cust_name' },
        { text: 'CarName', value: 'CarName' },
        { text: 'Frame_no', value: 'Frame_no' },
        { text: 'REG_NO', value: 'REG_NO' },
        { text: 'invoceNm', value: 'vo_num' },
        { text: 'invoiceDate', value: 'vo_date' },
        { text: 'vd_name', value: 'vd_name' },
        { text: 'RcTypeDesc', value: 'RcTypeDesc' },
        { text: 'dn_amt', value: 'dn_amt' },
        { text: 'up', value: 'up' },
        { text: 'slmn_name', value: 'slmn_name' }
      ],
      columnsService: [
        { text: 'คะแนน', value: 'coin' },
        { text: 'สาขา', value: 'Dlr_Code' },
        { text: 'ประเภท Job', value: 'jOB_income' },
        { text: 'JOB_Type', value: 'JOB_Type' },
        // { text: 'DocHead', value: 'DocHead' },
        { text: 'Frame_no', value: 'Frame_no' },
        { text: 'reg_no', value: 'reg_no' },
        { text: 'job_num', value: 'job_num' },
        { text: 'job_date', value: 'job_date' },
        { text: 'Total_AMT', value: 'Total_AMT' }
      ],
      datareport: [],
      dataReady: true,
      dataSearhcReadyTable: false,
      checksubmit: true,
      datareportHistory: [],
      dataHistory: false,
      chkbutton: '',
      dateTime: '',
      valid: false
    }
  },
  async mounted () {
    // กรณีไม่มี session เด้งไปหน้า login
    // if (!this.$session.exists()) {
    //   this.$router.push('/Insurance/Login')
    // } else {
    // await this.validate()
    this.columnsUse = this.columns
    // }
  },
  methods: {
    validate (Action) {
      this.$nextTick(() => {
        let self = this
        self.$refs.formDialog.validate()
      })
    },
    onSearch () {
      this.datareport = []
      this.dataSearhcReady = false
      let url = ''
      if (this.formSearch.sysproTypeJob === 'sales') {
        url = 'https://api.betaskthai.com/vgroupl_api/Bereward.php?type=sales&vo_date=' + this.formSearch.monthYear + '&vo_date2=' + this.formSearch.monthYear1
        this.columnsUse = this.columnsSales
      }
      if (this.formSearch.sysproTypeJob === 'service') {
        this.columnsUse = this.columnsService
        url = 'https://api.betaskthai.com/vgroupl_api/Bereward.php?type=service&vo_date=' + this.formSearch.monthYear + '&vo_date2=' + this.formSearch.monthYear1 + '&jOB_income=' + this.formSearch.typeJob
      }
      if (this.formSearch.sysproTypeJob === 'ins') {
        this.columnsUse = this.columnsIns
        url = 'https://api.betaskthai.com/vgroupl_api/Bereward.php?type=ins&vo_date=' + this.formSearch.monthYear + '&vo_date2=' + this.formSearch.monthYear1
      }
      axios
        .get(
          url
        )
        .then(async (response) => {
          // console.log(this.session.data.userName)
          let rs = response.data
          if (rs.status !== false) {
            if (this.formSearch.sysproTypeJob === 'sales') {
              for (var i = 0; i < rs.length; i++) {
                var d = rs[i]
                d.coin = 4000
                this.datareport.push(d)
              }
            }
            if (this.formSearch.sysproTypeJob === 'ins') {
              for (var z = 0; z < rs.length; z++) {
                var f = rs[z]
                if (f.up > 15000) {
                  f.coin = 2000
                } else {
                  f.coin = 1000
                }
                this.datareport.push(f)
              }
            }
            if (this.formSearch.sysproTypeJob === 'service') {
              var dataService = []
              await axios
                .get(
                  'https://api.betaskthai.com/vgroupl_api/Bereward.php?type=serviceJOB_Type&vo_date=' + this.formSearch.monthYear + '&vo_date2=' + this.formSearch.monthYear1 + '&jOB_income=' + this.formSearch.typeJob
                )
                .then(async (response) => {
                  // console.log(this.session.data.userName) JOB_Type
                  dataService = response.data
                })
              for (var x = 0; x < rs.length; x++) {
                var e = rs[x]
                var dataCheck = dataService.filter(await function (el) {
                  return el.job_num === e.job_num
                })
                console.log(dataCheck)
                if (dataCheck.length > 0) {
                  e.JOB_Type = dataCheck[0].JOB_Type
                } else {
                  e.JOB_Type = ''
                }
                if (e.jOB_income === 'GR') {
                  if (e.Total_AMT > 5000) {
                    e.coin = 2000
                  } else {
                    e.coin = 0
                  }
                }
                if (e.jOB_income === 'BP') {
                  if (e.Total_AMT >= 6000) {
                    e.coin = 3000
                  } else {
                    if (e.JOB_Type.includes('Gr') || e.JOB_Type.includes('GR')) {
                      if (e.Total_AMT >= 5000) {
                        e.coin = 2000
                      } else {
                        if (e.JOB_Type.includes('Pm') || e.JOB_Type.includes('PM')) {
                          if (e.Total_AMT >= 1000) {
                            e.coin = 1000
                          } else {
                            e.coin = 0
                          }
                        } else {
                          if (e.JOB_Type === 'BP') {
                            e.coin = 0
                          }
                        }
                      }
                    } else {
                      if (e.JOB_Type.includes('Pm') || e.JOB_Type.includes('PM')) {
                        if (e.Total_AMT >= 1000) {
                          e.coin = 1000
                        } else {
                          e.coin = 0
                        }
                      } else {
                        if (e.JOB_Type === 'BP') {
                          e.coin = 0
                        }
                      }
                    }
                  }
                }
                if (e.jOB_income === 'PM') {
                  if (e.Total_AMT >= 1000) {
                    if (e.JOB_Type.includes('Gr') || e.JOB_Type.includes('GR')) {
                      if (e.Total_AMT >= 5000) {
                        e.coin = 2000
                      } else {
                        e.coin = 1000
                      }
                    } else {
                      e.coin = 1000
                    }
                  } else {
                    e.coin = 0
                  }
                }
                if (e.jOB_income === 'OTH') {
                  e.coin = 0
                }
                if (e.jOB_income === 'AM') {
                  e.coin = 0
                }
                this.datareport.push(e)
              }
            }
            // this.datareport = rs
            this.dataSearhcReady = true
            this.dataSearhcReadyTable = true
            this.panel = []
            console.log(rs)
          } else {
            this.dataSearhcReady = true
            this.dataSearhcReadyTable = true
            this.panel = []
            this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          }
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          this.$swal('ผิดพลาด', 'ไม่มีข้อมูล', 'error')
          console.log(error)
          this.errored = true
          this.dataSearhcReady = true
        })
    },
    onClearSearch () {
      this.formSearch.branchNo = ''
      this.formSearch.monthYear = ''
      this.formSearch.carName = ''
      this.formSearch.frameNo = ''
      this.formSearch.regNo = ''
      this.formSearch.insNm = ''
      this.formSearch.insNo = ''
      this.formSearch.customerName = ''
      this.formSearch.searchDate = ''
      this.formSearch.insStaffName = ''
      this.formSearch.typeJob = ''
      this.formSearch.sysproTypeJob = ''
    },
    onExport () {
      const dataWS = XLSX.utils.json_to_sheet(this.datareport)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, this.formSearch.sysproTypeJob + '.xlsx')
    }
  }
}
</script>
